mat-tab-group  {
    margin-bottom: 1rem;
    // border-top: 1px solid rgba(0, 0, 0, 0.1);
    // border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

.spinner-container {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 40vh;
    max-height: 65vh;
    transition: all 2s linear;
}

