.critical_alarm_color {
    color: #780000
}

.major_alarm_color {
    // color:#dc3545
    color: #ee0000
}

.minor_alarm_color {
    color: #fd8f00
}

.warning_alarm_color {
    color: #fdc500;
}

.cleared_alarm_color {
    color: #28a745
}