<div class="container-fluid py-5" *ngIf="testSpecNotFound" [@fadeIn]>
    <div class="row align-items-center justify-content-center minh-30vh">
        <div class="col-12 text-center">
            <h4>Service Test Specification with id #{{testSpecID}} is not found</h4>
        </div>
    </div>
</div>

<div class="container-fluid py-5" *ngIf="!testSpecNotFound && finishedLoading">
    <div class="row">
        <div class="col-12">


            <div class="card card-paper mb-0">

                <div class="card-header">
                    <div class="container-fluid">
                        <div class="row justify-content-between align-items-center">
                            <div>
                                <h2 class="shadowed">Service Test Specification Designer</h2>

                                <p class="shadowed mb-0" *ngIf="newTestSpec">Design a new Service Test
                                    Specification</p>

                                <p class="shadowed mb-0" *ngIf="!newTestSpec">Edit design of
                                    <dfn><b>{{testSpec?.name}}</b></dfn> Service Test Specification
                                </p>

                                <div class="card-stats" *ngIf="!newTestSpec">
                                    <i class="fas fa-sync spin mr-2"></i>Last updated at
                                    {{testSpec?.lastUpdate | date:'short'}} (Local Time)
                                </div>
                            </div>

                        </div>
                    </div>
                </div>

                <div class="card-body">
                    <div class="row">

                        <div class="col-xl-2 col-lg-3">
                            <div class="nav flex-column nav-pills mb-3 mb-lg-0" role="tablist"
                                aria-orientation="vertical">
                                <a class="nav-link" [class.active]="item === activeListItem"
                                    [class.mat-elevation-z2]="item === activeListItem"
                                    [class.disabled]="newTestSpec" (click)="selectListItem(item)"
                                    *ngFor="let item of listItems" role="tab" aria-selected="true">{{item}}</a>

                                <!-- editForm.controls.isBundle.value for Service Specification Relationships -->
                            </div>
                        </div>

                        <div class="col-xl-10 col-lg-9">
                            <div class="tab-content">

                                <!-- Main Properties Tab -->
                                <div class="tab-pane active" *ngIf="activeListItem === 'Main Properties'"
                                    role="tabpanel" [@fadeIn]>
                                    <form [formGroup]="editForm">
                                        <div class="card mat-elevation-z1 bg-light">
                                            <div class="card-body">
                                                <div class="row align-items-center">
                                                    <mat-form-field class="col-md-6">
                                                        <mat-label>Name</mat-label>
                                                        <input matInput formControlName="name">
                                                    </mat-form-field>

                                                    <mat-form-field class="col-md-6">
                                                        <mat-label>Version</mat-label>
                                                        <input matInput formControlName="version">
                                                    </mat-form-field>

                                                    <!-- <div class="col-md-2 col-sm-6 text-center">
                                                        <mat-checkbox color="primary" formControlName="isBundle"
                                                            (change)="bundleCheckboxChanged($event)">Bundle
                                                        </mat-checkbox>
                                                    </div> -->

                                                    <mat-form-field class="col-md-12">
                                                        <mat-label>Description</mat-label>
                                                        <textarea matTextareaAutosize="true" matAutosizeMinRows="2"
                                                            matInput formControlName="description"></textarea>
                                                    </mat-form-field>

                                                    <mat-form-field class="col-md-12">
                                                        <mat-label>Lifecycle Status</mat-label>
                                                        <mat-select formControlName="lifecycleStatus">
                                                            <mat-option *ngFor="let status of lifecycleStatuses"
                                                                [value]="status">
                                                                {{status}}
                                                            </mat-option>
                                                        </mat-select>
                                                    </mat-form-field>

                                                    <!-- <div class="col-12" formGroupName="validFor">
                                                        <div class="row">
                                                            <mat-form-field class="col-md-6"
                                                                [owlDateTimeTrigger]="pickerFrom">
                                                                <mat-label>Valid From</mat-label>

                                                                <input matInput [owlDateTime]="pickerFrom"
                                                                    placeholder="Date Time"
                                                                    formControlName="startDateTime">
                                                                <mat-icon matSuffix>date_range</mat-icon>
                                                                <owl-date-time #pickerFrom></owl-date-time>
                                                                <mat-hint>Date is displayed in Local Time <span *ngIf="editForm.value.validFor.startDateTime">(UTC: {{editForm.value.validFor.startDateTime | date:'dd/MM/yy, HH:mm':'UTC'}})</span></mat-hint>
                                                            </mat-form-field>

                                                            <mat-form-field class="col-md-6"
                                                                [owlDateTimeTrigger]="pickerUntil">
                                                                <mat-label>Valid Until</mat-label>
                                                                <input matInput [owlDateTime]="pickerUntil"
                                                                    placeholder="Date Time"
                                                                    formControlName="endDateTime">
                                                                <mat-icon matSuffix>date_range</mat-icon>
                                                                <owl-date-time #pickerUntil></owl-date-time>
                                                                <mat-hint>Date is displayed in Local Time <span *ngIf="editForm.value.validFor.endDateTime">(UTC: {{editForm.value.validFor.endDateTime | date:'dd/MM/yy, HH:mm':'UTC'}})</span></mat-hint>
                                                            </mat-form-field>
                                                        </div>
                                                    </div> -->
                                                </div>

                                                <div class="container-fluid">
                                                    <div class="row justify-content-end">
                                                        <button type="submit" class="btn btn-primary"
                                                            (click)="updateServiceTestMainProperties()"><i
                                                                class="fas fa-check mr-2"></i>Submit</button>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="card-footer"></div>
                                        </div>
                                    </form>
                                </div>
                                <!-- END OF Main Properties Tab -->

                                <!-- Attachments Tab -->
                                <div class="tab-pane active" *ngIf="activeListItem === 'Attachments'" role="tabpanel" [@fadeIn]>
                                    <div class="card mat-elevation-z1 bg-light">
                                        <div class="card-body space-between">
                                            <div class="mb-3">
                                                <h6 id="example-radio-group-label" class="mb-3">Test type</h6>
                                                <mat-radio-group aria-labelledby="example-radio-group-label" class="d-flex flex-column" [formControl]="testType" color="primary">
                                                    <mat-radio-button class="example-radio-button" value="preDefined" [disabled]="testSpec?.attachment.length > 1">Predefined</mat-radio-button>
                                                    <mat-radio-button class="example-radio-button" value="developerDefined">Developer-defined</mat-radio-button>
                                                </mat-radio-group>
                                            </div>

                                            <div *ngIf="testSpec?.attachment.length === 0" class="mb-3">
                                                <span *ngIf="testType.value === 'preDefined'">Please upload a test descriptor to assign it to the Service Test Specification.</span>
                                                <div *ngIf="testType.value === 'developerDefined'">
                                                    <span>Please upload a test descriptor and the respective developer-defined test scripts to assign them to the Service Test Specification.</span>
                                                    <h6 class="font-italic">Note: The script names must match the respective testcase names in the test descriptor.</h6>
                                                    
                                                </div>
                                            </div>
                                
                                            <div *ngIf="testSpec?.attachment.length > 0" class="mb-3 row">
                                                
                                                <div *ngFor="let attachment of testSpec.attachment"
                                                    class="my-1 col-md-12 d-flex align-items-center justify-content-between">
                                                    <a target="_blank" href="{{testSpecServiceRootUrl}}{{attachment.url}}">
                                                        <i class="far fa-file mr-1"></i> {{attachment.name}}
                                                    </a>
                                                    <button class="file-icon btn btn-sm btn-danger ml-2"
                                                        (click)="openAttachmentDeleteDialog(attachment)"><i class="far fa-trash-alt"></i>
                                                    </button>
                                                </div>
                                            </div>

                                            <div *ngIf="(testSpec?.attachment.length > 0) && testType.value === 'preDefined'" class="mt-4 text-center">
                                                Only one test descriptor can be uploaded per single Service Test Specification when the selected test type is "Predefined".
                                            </div>
                                
                                            <ng-container *ngIf="(testSpec?.attachment.length === 0) && testType.value === 'preDefined'">
                                                <file-upload [control]="attachmentFilesCtrl" multiple="false">
                                                </file-upload>
                                                <mat-hint *ngIf="!attachmentFilesCtrl.invalid" class="ml-1">Supported file type: .yaml
                                                </mat-hint>
                                                <mat-error *ngIf="attachmentFilesCtrl.invalid" class="ml-1">Supported file type: .yaml
                                                </mat-error>
                                    
                                                <div class="container-fluid mt-3">
                                                    <div class="row justify-content-end">
                                                        <button class="btn btn-secondary mr-2" (click)="clearAttachmentsList()"><i
                                                                class="fas fa-times mr-2"></i>Clear</button>
                                                        <button type="submit" class="btn btn-primary" (click)="submitAttachment()"><i
                                                                class="fas fa-upload mr-2"></i>Upload</button>
                                                    </div>
                                                </div>
                                            </ng-container>

                                            <ng-container *ngIf="testType.value === 'developerDefined'">
                                                <file-upload [control]="attachmentFilesCtrl" multiple="true">
                                                </file-upload>
                                                <mat-hint *ngIf="!attachmentFilesCtrl.invalid" class="ml-1">Supported file types: .yaml, .tar.gz
                                                </mat-hint>
                                                <mat-error *ngIf="attachmentFilesCtrl.invalid" class="ml-1">Supported file types: .yaml, .tar.gz
                                                </mat-error>
                                    
                                                <div class="container-fluid mt-3">
                                                    <div class="row justify-content-end">
                                                        <button class="btn btn-secondary mr-2" (click)="clearAttachmentsList()"><i
                                                                class="fas fa-times mr-2"></i>Clear</button>
                                                        <button type="submit" class="btn btn-primary" (click)="submitAttachment()"><i
                                                                class="fas fa-upload mr-2"></i>Upload</button>
                                                    </div>
                                                </div>
                                            </ng-container>
                                        </div>
                                        <div class="card-footer"></div>
                                    </div>
                                </div>
                                <!-- END OF Attachments Tab -->
                            
                            
                                <!-- Service Test Specification Characteristics Tab -->
                                <div class="tab-pane active"
                                    *ngIf="activeListItem === 'Test Specification Characteristics'" role="tabpanel"
                                    [@fadeIn]>
                                    <div class="card mat-elevation-z1 bg-light">
                                        <div class="card-body">
                                            <div
                                                class="filter-container row align-items-center justify-content-center">
                                                <mat-form-field appearance=""
                                                    class="white-background col-xl-9 col-lg-8">
                                                    <mat-label>Apply Filter...</mat-label>
                                                    <input matInput
                                                        (keyup)="applyTestSpecCharFilter($event.target.value)">
                                                </mat-form-field>

                                                <div class="text-right col-xl-3 col-lg-4">
                                                    <button type="button" class="btn btn-success btn-sm "
                                                        (click)="openCharacteristicDesignDialog(null)">
                                                        <i class="fas fa-plus-circle mr-2"></i>Create New
                                                        Characteristic
                                                    </button>
                                                </div>
                                            </div>
                                            <!-- <div class="mb-3">
                                                <mat-chip-list>
                                                    <mat-chip *ngFor="let tag of specCharacteristicsTags"
                                                        [selected]="tag === tagFiltervalue"
                                                        (click)="filterCharacteristicsByTag(tag)">{{tag}}</mat-chip>
                                                </mat-chip-list>
                                            </div> -->

                                            <div class="table-responsive">
                                                <table mat-table [dataSource]="dataSource" matSort #charSort="matSort"
                                                    matSortActive="name" matSortDirection="asc" matSortDisableClear
                                                    class="table table-generic">
                                                    <ng-container matColumnDef="name">
                                                        <th mat-header-cell *matHeaderCellDef mat-sort-header> Name
                                                        </th>
                                                        <td mat-cell *matCellDef="let element">
                                                            <b>{{element.name}}</b> 
                                                        </td>
                                                    </ng-container>

                                                    <ng-container matColumnDef="description">
                                                        <th mat-header-cell *matHeaderCellDef mat-sort-header> Description
                                                        </th>
                                                        <td mat-cell *matCellDef="let element"
                                                            matTooltipClass="universal-tooltip"
                                                            [matTooltip]="element.description"
                                                            matTooltipPosition="above">
                                                            <b>{{element.description}}</b> </td>
                                                    </ng-container>

                                                    <ng-container matColumnDef="actions">
                                                        <th mat-header-cell *matHeaderCellDef>Actions</th>
                                                        <td mat-cell *matCellDef="let element">
                                                            <div class="d-flex">
                                                                <button class="btn btn-warning btn-sm mr-1"
                                                                    (click)="openCharacteristicDesignDialog(element)"><i
                                                                        class="far fa-edit"></i></button>
                                                                <button class="btn btn-primary btn-sm mr-1"
                                                                    (click)="cloneTestSpecificationCharacteristic(element)"><i
                                                                        class="far fa-copy"></i></button>
                                                                <button class="btn btn-danger btn-sm"
                                                                    (click)="openCharacteristicDeleteDialog(element)"><i
                                                                        class="far fa-trash-alt"></i></button>
                                                            </div>
                                                        </td>
                                                    </ng-container>

                                                    <tr mat-header-row
                                                        *matHeaderRowDef="displayedColumnsCharacteristics"></tr>
                                                    <tr mat-row
                                                        *matRowDef="let row; columns: displayedColumnsCharacteristics;">
                                                    </tr>
                                                </table>

                                                <!-- <mat-paginator [pageSizeOptions]="[10, 20, 50]" showFirstLastButtons>
                                                </mat-paginator> -->
                                            </div>
                                        </div>
                                        <div class="card-footer"></div>
                                    </div>
                                </div>
                                <!-- END OF Service Test Specification Characteristics Tab -->

                                <!-- Related Service Specification Tab -->
                                <div class="tab-pane active" *ngIf="activeListItem === 'Related Service Specification'" role="tabpanel"
                                    [@fadeIn]>
                                    <div class="card mat-elevation-z1 bg-light">
                                        <div class="card-body">
                                            <div *ngIf="testSpec?.relatedServiceSpecification.length === 0">
                                                There are not any service specification relationships assigned
                                            </div>
                                
                                            <h6 *ngIf="testSpec?.relatedServiceSpecification.length > 0">Imported Test as a Service</h6>
                                            <div *ngFor="let relatedService of testSpec?.relatedServiceSpecification" class="d-flex align-items-center justify-content-between">
                                                <div><a routerLink="/services/service_spec_update/{{relatedService.id}}">{{relatedService.id}}</a>
                                                </div>
                                                <button class="file-icon btn btn-sm btn-danger ml-2"
                                                    (click)="openServiceRelationshipDeleteDialog(relatedService)"><i class="far fa-trash-alt"></i>
                                                </button>
                                                <!-- <button class="btn btn-warning btn-sm" ><i
                                                                                                                            class="far fa-edit"></i></button> -->
                                            </div>
                                        </div>
                                        <div class="card-footer"></div>
                                    </div>
                                </div>
                             <!-- END OF Related Service Specification Tab -->
                            
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card-footer"></div>
            </div>
        </div>
    </div>
</div>