td.mat-cell:first-of-type, th.mat-header-cell:first-of-type {
  padding: 4px;
}

td.mat-cell:last-of-type, th.mat-header-cell:last-of-type {
  padding: 4px;
}

.dialog-content-container {
  min-width: 40vw;
}
