.jumbotron-heading {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.isRoot-class td{
  color:#3f51b5
}

mat-hint {
  background: #fff;
}

.isRootcolor {
  color:#3f51b5
}

.checked {
  color: green
}

.crossed {
  color: red
}

.table td:first-child {
  border-top: 0 !important;
}
