.nav-link:hover {
    cursor: pointer;
}

.nav-link.disabled {
    color: rgba(0,0,0,.30);
}

.nav-pills .nav-link.active {
    color: #fff;
    transition: all 0.2s;
}

.tab-pane > .card {
    min-height: max(250px, 20vh);
}

mat-form-field {
    width: 100%;
}