.catalog-tree-header {
    letter-spacing: 0px;
    // font-size: 1.2em;
    padding: 1rem;
    // font-weight: bold;
}

.catalog-tree-container {
    padding: 0 .85rem .25rem .25rem
}

.catalog-header {
    padding: .5rem .5rem;
    font-weight: bold;
    letter-spacing: 1px;
    text-decoration: underline;
    font-size: 1.1rem;
}

.appTitle {
    font-size: 1.25rem;
    // font-weight: bold;
    // padding-left: 0px;
    // border-bottom: rgb(238, 207, 207);
    border-bottom-style: dotted;
    border-bottom-width: 1px;
    // margin-bottom: 5px;
    // padding-bottom: 5px;
}

.card.card-paper {
    border-radius: 12px;
    box-shadow: 0 6px 10px -4px rgba(0,0,0,.15);
    background-color: #fff;
    color: #252422;
    margin-bottom: 20px;
    position: relative;
    border: 0;
    transition: box-shadow .2s ease,-webkit-transform .3s cubic-bezier(.34,2,.6,1);
    transition: transform .3s cubic-bezier(.34,2,.6,1),box-shadow .2s ease;
    transition: transform .3s cubic-bezier(.34,2,.6,1),box-shadow .2s ease,-webkit-transform .3s cubic-bezier(.34,2,.6,1);
}

.card.card-paper .card-header {
    // padding: 15px 15px 0;
    padding: 15px;
    // border: 0;
}

.card.card-paper .card-body {
    padding: 15px 15px 0px;
}

.card.card-paper .card-footer {
    padding: 0px 15px 15px;
    border: 0;
    background: transparent;
}

.img-container {
    height: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.info-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-height: 200px;
    // align-items: center;
}

.description-container {
    max-height: 80px;
    overflow: hidden;
}

.img-container img {
    border-radius: 6px;
}

.img-fluid {
    max-height: 100%;
}

.card-stats {
    font-size: .9rem;
    display: flex;
    align-items: center;
}

.card-stats i {
    font-size: .9em;
}