{"swagger":"2.0","info":{"description":"## Assurance Services Management ### Release : 0.1 - Feb 2021 - Assurance Services Management   ### Operations on Assurance Services: Rules, Action","version":"0.1.0","title":"Assurance Services Management","contact":{},"license":{"url":"http://openslice.io"}},"host":"portal.openslice.io","basePath":"/oas-api","tags":[{"name":"action-specification-api-controller","description":"Action Specification Api Controller"},{"name":"rule-specification-api-controller","description":"Rule Specification Api Controller"}],"paths":{"/assuranceServicesManagement/v1/actionSpecification":{"get":{"tags":["actionSpecification"],"summary":"List or find ActionSpecification objects","description":"This operation list or find ActionSpecification entities","operationId":"listActionSpecification","produces":["application/json;charset=utf-8"],"parameters":[{"name":"fields","in":"query","description":"Comma-separated properties to be provided in response","required":false,"type":"string","allowEmptyValue":false},{"name":"limit","in":"query","description":"Requested number of resources to be provided in response","required":false,"type":"integer","format":"int32","allowEmptyValue":false},{"name":"offset","in":"query","description":"Requested index for start of resources to be provided in response","required":false,"type":"integer","format":"int32","allowEmptyValue":false}],"responses":{"200":{"description":"Success","schema":{"type":"array","items":{"$ref":"#/definitions/ActionSpecification"}}},"400":{"description":"Bad Request","schema":{"$ref":"#/definitions/Error"}},"401":{"description":"Unauthorized","schema":{"$ref":"#/definitions/Error"}},"403":{"description":"Forbidden","schema":{"$ref":"#/definitions/Error"}},"404":{"description":"Not Found","schema":{"$ref":"#/definitions/Error"}},"405":{"description":"Method Not allowed","schema":{"$ref":"#/definitions/Error"}},"409":{"description":"Conflict","schema":{"$ref":"#/definitions/Error"}},"500":{"description":"Internal Server Error","schema":{"$ref":"#/definitions/Error"}}},"security":[{"spring_oauth":["read","write","admin","openapi"]}],"deprecated":false},"post":{"tags":["actionSpecification"],"summary":"Creates an ActionSpecification","description":"This operation creates an ActionSpecification entity.","operationId":"createActionSpecification","consumes":["application/json;charset=utf-8"],"produces":["application/json;charset=utf-8"],"parameters":[{"in":"body","name":"body","description":"The ActionSpecification to be created","required":true,"schema":{"$ref":"#/definitions/ActionSpecificationCreate"}}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/ActionSpecification"}},"201":{"description":"Created","schema":{"$ref":"#/definitions/ActionSpecification"}},"400":{"description":"Bad Request","schema":{"$ref":"#/definitions/Error"}},"401":{"description":"Unauthorized","schema":{"$ref":"#/definitions/Error"}},"403":{"description":"Forbidden","schema":{"$ref":"#/definitions/Error"}},"404":{"description":"Not Found"},"405":{"description":"Method Not allowed","schema":{"$ref":"#/definitions/Error"}},"409":{"description":"Conflict","schema":{"$ref":"#/definitions/Error"}},"500":{"description":"Internal Server Error","schema":{"$ref":"#/definitions/Error"}}},"security":[{"spring_oauth":["read","write","admin","openapi"]}],"deprecated":false}},"/assuranceServicesManagement/v1/actionSpecification/{id}":{"get":{"tags":["actionSpecification"],"summary":"Retrieves an ActionSpecification by ID","description":"This operation retrieves an ActionSpecification entity. Attribute selection is enabled for all first level attributes.","operationId":"retrieveActionSpecification","produces":["application/json;charset=utf-8"],"parameters":[{"name":"allParams","in":"query","description":"allParams","required":false,"items":{"type":"object","additionalProperties":{"type":"string"}}},{"name":"fields","in":"query","description":"Comma-separated properties to provide in response","required":false,"type":"string","allowEmptyValue":false},{"name":"id","in":"path","description":"Identifier of the ActionSpecification","required":true,"type":"string"}],"responses":{"200":{"description":"Success","schema":{"$ref":"#/definitions/ActionSpecification"}},"400":{"description":"Bad Request","schema":{"$ref":"#/definitions/Error"}},"401":{"description":"Unauthorized","schema":{"$ref":"#/definitions/Error"}},"403":{"description":"Forbidden","schema":{"$ref":"#/definitions/Error"}},"404":{"description":"Not Found","schema":{"$ref":"#/definitions/Error"}},"405":{"description":"Method Not allowed","schema":{"$ref":"#/definitions/Error"}},"409":{"description":"Conflict","schema":{"$ref":"#/definitions/Error"}},"500":{"description":"Internal Server Error","schema":{"$ref":"#/definitions/Error"}}},"security":[{"spring_oauth":["read","write","admin","openapi"]}],"deprecated":false},"delete":{"tags":["actionSpecification"],"summary":"Deletes an ActionSpecification","description":"This operation deletes a ActionSpecification entity.","operationId":"deleteActionSpecification","produces":["application/json;charset=utf-8"],"parameters":[{"name":"id","in":"path","description":"Identifier of the ActionSpecification","required":true,"type":"string"}],"responses":{"200":{"description":"OK"},"204":{"description":"Deleted"},"400":{"description":"Bad Request","schema":{"$ref":"#/definitions/Error"}},"401":{"description":"Unauthorized","schema":{"$ref":"#/definitions/Error"}},"403":{"description":"Forbidden","schema":{"$ref":"#/definitions/Error"}},"404":{"description":"Not Found","schema":{"$ref":"#/definitions/Error"}},"405":{"description":"Method Not allowed","schema":{"$ref":"#/definitions/Error"}},"409":{"description":"Conflict","schema":{"$ref":"#/definitions/Error"}},"500":{"description":"Internal Server Error","schema":{"$ref":"#/definitions/Error"}}},"security":[{"spring_oauth":["read","write","admin","openapi"]}],"deprecated":false},"patch":{"tags":["actionSpecification"],"summary":"Updates partially an ActionSpecification","description":"This operation updates partially an ActionSpecification entity.","operationId":"patchActionSpecification","consumes":["application/json;charset=utf-8"],"produces":["application/json;charset=utf-8"],"parameters":[{"in":"body","name":"body","description":"The ActionSpecification to be updated","required":true,"schema":{"$ref":"#/definitions/ActionSpecificationUpdate"}},{"name":"id","in":"path","description":"Identifier of the ActionSpecification","required":true,"type":"string"}],"responses":{"200":{"description":"Updated","schema":{"$ref":"#/definitions/ActionSpecification"}},"204":{"description":"No Content"},"400":{"description":"Bad Request","schema":{"$ref":"#/definitions/Error"}},"401":{"description":"Unauthorized","schema":{"$ref":"#/definitions/Error"}},"403":{"description":"Forbidden","schema":{"$ref":"#/definitions/Error"}},"404":{"description":"Not Found","schema":{"$ref":"#/definitions/Error"}},"405":{"description":"Method Not allowed","schema":{"$ref":"#/definitions/Error"}},"409":{"description":"Conflict","schema":{"$ref":"#/definitions/Error"}},"500":{"description":"Internal Server Error","schema":{"$ref":"#/definitions/Error"}}},"security":[{"spring_oauth":["read","write","admin","openapi"]}],"deprecated":false}},"/assuranceServicesManagement/v1/ruleSpecification":{"get":{"tags":["ruleSpecification"],"summary":"List or find RuleSpecification objects","description":"This operation list or find RuleSpecification entities","operationId":"listRuleSpecification","produces":["application/json;charset=utf-8"],"parameters":[{"name":"fields","in":"query","description":"Comma-separated properties to be provided in response","required":false,"type":"string","allowEmptyValue":false},{"name":"limit","in":"query","description":"Requested number of resources to be provided in response","required":false,"type":"integer","format":"int32","allowEmptyValue":false},{"name":"offset","in":"query","description":"Requested index for start of resources to be provided in response","required":false,"type":"integer","format":"int32","allowEmptyValue":false}],"responses":{"200":{"description":"Success","schema":{"type":"array","items":{"$ref":"#/definitions/RuleSpecification"}}},"400":{"description":"Bad Request","schema":{"$ref":"#/definitions/Error"}},"401":{"description":"Unauthorized","schema":{"$ref":"#/definitions/Error"}},"403":{"description":"Forbidden","schema":{"$ref":"#/definitions/Error"}},"404":{"description":"Not Found","schema":{"$ref":"#/definitions/Error"}},"405":{"description":"Method Not allowed","schema":{"$ref":"#/definitions/Error"}},"409":{"description":"Conflict","schema":{"$ref":"#/definitions/Error"}},"500":{"description":"Internal Server Error","schema":{"$ref":"#/definitions/Error"}}},"security":[{"spring_oauth":["read","write","admin","openapi"]}],"deprecated":false},"post":{"tags":["ruleSpecification"],"summary":"Creates a RuleSpecification","description":"This operation creates a RuleSpecification entity.","operationId":"createRuleSpecification","consumes":["application/json;charset=utf-8"],"produces":["application/json;charset=utf-8"],"parameters":[{"in":"body","name":"body","description":"The RuleSpecification to be created","required":true,"schema":{"$ref":"#/definitions/RuleSpecificationCreate"}}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/RuleSpecification"}},"201":{"description":"Created","schema":{"$ref":"#/definitions/RuleSpecification"}},"400":{"description":"Bad Request","schema":{"$ref":"#/definitions/Error"}},"401":{"description":"Unauthorized","schema":{"$ref":"#/definitions/Error"}},"403":{"description":"Forbidden","schema":{"$ref":"#/definitions/Error"}},"404":{"description":"Not Found"},"405":{"description":"Method Not allowed","schema":{"$ref":"#/definitions/Error"}},"409":{"description":"Conflict","schema":{"$ref":"#/definitions/Error"}},"500":{"description":"Internal Server Error","schema":{"$ref":"#/definitions/Error"}}},"security":[{"spring_oauth":["read","write","admin","openapi"]}],"deprecated":false}},"/assuranceServicesManagement/v1/ruleSpecification/{id}":{"get":{"tags":["ruleSpecification"],"summary":"Retrieves a RuleSpecification by ID","description":"This operation retrieves a RuleSpecification entity. Attribute selection is enabled for all first level attributes.","operationId":"retrieveRuleSpecification","produces":["application/json;charset=utf-8"],"parameters":[{"name":"fields","in":"query","description":"Comma-separated properties to provide in response","required":false,"type":"string","allowEmptyValue":false},{"name":"id","in":"path","description":"Identifier of the RuleSpecification","required":true,"type":"string"}],"responses":{"200":{"description":"Success","schema":{"$ref":"#/definitions/RuleSpecification"}},"400":{"description":"Bad Request","schema":{"$ref":"#/definitions/Error"}},"401":{"description":"Unauthorized","schema":{"$ref":"#/definitions/Error"}},"403":{"description":"Forbidden","schema":{"$ref":"#/definitions/Error"}},"404":{"description":"Not Found","schema":{"$ref":"#/definitions/Error"}},"405":{"description":"Method Not allowed","schema":{"$ref":"#/definitions/Error"}},"409":{"description":"Conflict","schema":{"$ref":"#/definitions/Error"}},"500":{"description":"Internal Server Error","schema":{"$ref":"#/definitions/Error"}}},"security":[{"spring_oauth":["read","write","admin","openapi"]}],"deprecated":false},"delete":{"tags":["ruleSpecification"],"summary":"Deletes a RuleSpecification","description":"This operation deletes a RuleSpecification entity.","operationId":"deleteRuleSpecification","produces":["application/json;charset=utf-8"],"parameters":[{"name":"id","in":"path","description":"Identifier of the RuleSpecification","required":true,"type":"string"}],"responses":{"200":{"description":"OK"},"204":{"description":"Deleted"},"400":{"description":"Bad Request","schema":{"$ref":"#/definitions/Error"}},"401":{"description":"Unauthorized","schema":{"$ref":"#/definitions/Error"}},"403":{"description":"Forbidden","schema":{"$ref":"#/definitions/Error"}},"404":{"description":"Not Found","schema":{"$ref":"#/definitions/Error"}},"405":{"description":"Method Not allowed","schema":{"$ref":"#/definitions/Error"}},"409":{"description":"Conflict","schema":{"$ref":"#/definitions/Error"}},"500":{"description":"Internal Server Error","schema":{"$ref":"#/definitions/Error"}}},"security":[{"spring_oauth":["read","write","admin","openapi"]}],"deprecated":false},"patch":{"tags":["ruleSpecification"],"summary":"Updates partially a RuleSpecification","description":"This operation updates partially a RuleSpecification entity.","operationId":"patchRuleSpecification","consumes":["application/json;charset=utf-8"],"produces":["application/json;charset=utf-8"],"parameters":[{"in":"body","name":"body","description":"The RuleSpecification to be updated","required":true,"schema":{"$ref":"#/definitions/RuleSpecificationUpdate"}},{"name":"id","in":"path","description":"Identifier of the RuleSpecification","required":true,"type":"string"}],"responses":{"200":{"description":"Updated","schema":{"$ref":"#/definitions/RuleSpecification"}},"204":{"description":"No Content"},"400":{"description":"Bad Request","schema":{"$ref":"#/definitions/Error"}},"401":{"description":"Unauthorized","schema":{"$ref":"#/definitions/Error"}},"403":{"description":"Forbidden","schema":{"$ref":"#/definitions/Error"}},"404":{"description":"Not Found","schema":{"$ref":"#/definitions/Error"}},"405":{"description":"Method Not allowed","schema":{"$ref":"#/definitions/Error"}},"409":{"description":"Conflict","schema":{"$ref":"#/definitions/Error"}},"500":{"description":"Internal Server Error","schema":{"$ref":"#/definitions/Error"}}},"security":[{"spring_oauth":["read","write","admin","openapi"]}],"deprecated":false}}},"securityDefinitions":{"spring_oauth":{"type":"oauth2","authorizationUrl":"http://portal.openslice.io/auth/realms/openslice/protocol/openid-connect/auth","tokenUrl":"http://portal.openslice.io/auth/realms/openslice/protocol/openid-connect/token","flow":"accessCode","scopes":{"read":"for read operations","write":"for write operations","admin":"Access admin API","openapi":"Access openapi API"}}},"definitions":{"Action":{"type":"object","properties":{"actionCharacteristics":{"type":"array","items":{"$ref":"#/definitions/ActionCharacteristic"}},"actionSpecificationRef":{"$ref":"#/definitions/ActionSpecificationRef"},"name":{"type":"string"},"uuid":{"type":"string"}},"title":"Action","description":"Action element"},"ActionCharacteristic":{"type":"object","properties":{"name":{"type":"string"},"uuid":{"type":"string"},"value":{"type":"string"}},"title":"ActionCharacteristic","description":"An ActionCharacteristic is an entity that describes the values of the characteristics of ana ction in a rule."},"ActionParam":{"type":"object","properties":{"paramName":{"type":"string"},"paramValue":{"type":"string"},"uuid":{"type":"string"}},"title":"ActionParam","description":"An ActionParam is an entity that describes parameteres of an action."},"ActionSpecification":{"type":"object","properties":{"description":{"type":"string"},"name":{"type":"string"},"params":{"type":"array","items":{"$ref":"#/definitions/ActionParam"}},"uuid":{"type":"string"}},"title":"ActionSpecification","description":"An ActionSpecification is an entity that describes an action to perform on certain entities."},"ActionSpecificationCreate":{"type":"object","properties":{"description":{"type":"string","description":"Description of the entity"},"name":{"type":"string","description":"The name of the entity"},"params":{"type":"array","items":{"$ref":"#/definitions/ActionParam"}}},"title":"ActionSpecificationCreate","description":"An ActionSpecification is an entity that describes an action to perform on certain entities."},"ActionSpecificationRef":{"type":"object","properties":{"actionId":{"type":"string"},"uuid":{"type":"string"}},"title":"ActionSpecificationRef","description":"Action reference"},"ActionSpecificationUpdate":{"type":"object","properties":{"description":{"type":"string","description":"Description of the entity"},"name":{"type":"string","description":"The name of the entity"},"params":{"type":"array","items":{"$ref":"#/definitions/ActionParam"}}},"title":"ActionSpecificationUpdate","description":"An ActionSpecification is an entity that describes an action to perform on certain entities."},"Condition":{"type":"object","properties":{"booleanOperator":{"type":"string"},"eventAttributeName":{"type":"string"},"eventAttributeValue":{"type":"string"},"operator":{"type":"string"},"uuid":{"type":"string"}},"title":"Condition","description":"A Condition is an entity that describes the condition that must be tru in order to apply an action."},"Error":{"type":"object","required":["code","reason"],"properties":{"code":{"type":"string","description":"Application relevant detail, defined in the API or a common list."},"message":{"type":"string","description":"More details and corrective actions related to the error which can be shown to a client user."},"reason":{"type":"string","description":"Explanation of the reason for the error which can be shown to a client user."},"status":{"type":"string","description":"HTTP Error code extension"}},"title":"Error","description":"Used when an API throws an Error, typically with a HTTP error response-code (3xx, 4xx, 5xx)"},"RuleSpecification":{"type":"object","properties":{"actions":{"type":"array","items":{"$ref":"#/definitions/Action"}},"condition":{"type":"array","items":{"$ref":"#/definitions/Condition"}},"description":{"type":"string","description":"Description of this entity"},"eventType":{"type":"string"},"name":{"type":"string","description":"Name of the entity"},"scope":{"$ref":"#/definitions/Scope"},"uuid":{"type":"string"}},"title":"RuleSpecification","description":"A RuleSpecification is an entity that describes a rule to apply an action on certain conditions in the context of a service."},"RuleSpecificationCreate":{"type":"object","properties":{"actions":{"type":"array","items":{"$ref":"#/definitions/Action"}},"condition":{"type":"array","items":{"$ref":"#/definitions/Condition"}},"description":{"type":"string"},"eventType":{"type":"string"},"name":{"type":"string"},"scope":{"$ref":"#/definitions/Scope"}},"title":"RuleSpecificationCreate","description":"A RuleSpecification is an entity that describes a rule to apply an action on certain conditions in the context of a service."},"RuleSpecificationUpdate":{"type":"object","properties":{"actions":{"type":"array","items":{"$ref":"#/definitions/Action"}},"condition":{"type":"array","items":{"$ref":"#/definitions/Condition"}},"description":{"type":"string"},"eventType":{"type":"string"},"name":{"type":"string"},"scope":{"$ref":"#/definitions/Scope"}},"title":"RuleSpecificationUpdate","description":"A RuleSpecification is an entity that describes a rule to apply an action on certain conditions in the context of a service."},"Scope":{"type":"object","properties":{"entityUUID":{"type":"string"}},"title":"Scope","description":"The scope that the Rule is related."}}}