{"swagger":"2.0","info":{"description":"This is Swagger UI environment for LCM Rules","version":"1.0","title":"LCM Rules","contact":{"name":"openslice.io"},"license":{"name":"Apache 2.0","url":"http://www.apache.org/licenses/LICENSE-2.0.html"}},"host":"portal.openslice.io","tags":[{"name":"lcm-rule-specification-api-controller","description":"LCM Rule Specification Api Controller"}],"paths":{"/tmf-api/lcmrulesmanagement/v1/lcmRuleSpecification":{"get":{"tags":["lcmRuleSpecification"],"summary":"List or find LCM RuleSpecification objects","description":"This operation list or find LCM RuleSpecification entities","operationId":"listLCMRuleSpecification","produces":["application/json;charset=utf-8"],"parameters":[{"name":"fields","in":"query","description":"Comma-separated properties to be provided in response","required":false,"type":"string"},{"name":"limit","in":"query","description":"Requested number of resources to be provided in response","required":false,"type":"integer","format":"int32"},{"name":"offset","in":"query","description":"Requested index for start of resources to be provided in response","required":false,"type":"integer","format":"int32"}],"responses":{"200":{"description":"Success","schema":{"type":"array","items":{"$ref":"#/definitions/LCMRuleSpecification"}}},"400":{"description":"Bad Request","schema":{"$ref":"#/definitions/Error"}},"401":{"description":"Unauthorized","schema":{"$ref":"#/definitions/Error"}},"403":{"description":"Forbidden","schema":{"$ref":"#/definitions/Error"}},"404":{"description":"Not Found","schema":{"$ref":"#/definitions/Error"}},"405":{"description":"Method Not allowed","schema":{"$ref":"#/definitions/Error"}},"409":{"description":"Conflict","schema":{"$ref":"#/definitions/Error"}},"500":{"description":"Internal Server Error","schema":{"$ref":"#/definitions/Error"}}},"security":[{"spring_oauth":["read","write","admin","openapi"]}]},"post":{"tags":["lcmRuleSpecification"],"summary":"Creates a LCM RuleSpecification","description":"This operation creates a LCM RuleSpecification entity.","operationId":"createLCMRuleSpecification","consumes":["application/json;charset=utf-8"],"produces":["application/json;charset=utf-8"],"parameters":[{"in":"body","name":"body","description":"The RuleSpecification to be created","required":true,"schema":{"$ref":"#/definitions/LCMRuleSpecificationCreate"}}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/LCMRuleSpecification"}},"201":{"description":"Created","schema":{"$ref":"#/definitions/LCMRuleSpecification"}},"400":{"description":"Bad Request","schema":{"$ref":"#/definitions/Error"}},"401":{"description":"Unauthorized","schema":{"$ref":"#/definitions/Error"}},"403":{"description":"Forbidden","schema":{"$ref":"#/definitions/Error"}},"404":{"description":"Not Found"},"405":{"description":"Method Not allowed","schema":{"$ref":"#/definitions/Error"}},"409":{"description":"Conflict","schema":{"$ref":"#/definitions/Error"}},"500":{"description":"Internal Server Error","schema":{"$ref":"#/definitions/Error"}}},"security":[{"spring_oauth":["read","write","admin","openapi"]}]}},"/tmf-api/lcmrulesmanagement/v1/lcmRuleSpecification/{id}":{"get":{"tags":["lcmRuleSpecification"],"summary":"Retrieves a LCM RuleSpecification by ID","description":"This operation retrieves a LCM RuleSpecification entity. Attribute selection is enabled for all first level attributes.","operationId":"retrieveLCMRuleSpecification","produces":["application/json;charset=utf-8"],"parameters":[{"name":"fields","in":"query","description":"Comma-separated properties to provide in response","required":false,"type":"string"},{"name":"id","in":"path","description":"Identifier of the LCM RuleSpecification","required":true,"type":"string"}],"responses":{"200":{"description":"Success","schema":{"$ref":"#/definitions/LCMRuleSpecification"}},"400":{"description":"Bad Request","schema":{"$ref":"#/definitions/Error"}},"401":{"description":"Unauthorized","schema":{"$ref":"#/definitions/Error"}},"403":{"description":"Forbidden","schema":{"$ref":"#/definitions/Error"}},"404":{"description":"Not Found","schema":{"$ref":"#/definitions/Error"}},"405":{"description":"Method Not allowed","schema":{"$ref":"#/definitions/Error"}},"409":{"description":"Conflict","schema":{"$ref":"#/definitions/Error"}},"500":{"description":"Internal Server Error","schema":{"$ref":"#/definitions/Error"}}},"security":[{"spring_oauth":["read","write","admin","openapi"]}]},"delete":{"tags":["lcmRuleSpecification"],"summary":"Deletes a LCM RuleSpecification","description":"This operation deletes a LCM RuleSpecification entity.","operationId":"deleteLCMRuleSpecification","produces":["application/json;charset=utf-8"],"parameters":[{"name":"id","in":"path","description":"Identifier of the RuleSpecification","required":true,"type":"string"}],"responses":{"200":{"description":"OK"},"204":{"description":"Deleted","schema":{"type":"object"}},"400":{"description":"Bad Request","schema":{"$ref":"#/definitions/Error"}},"401":{"description":"Unauthorized","schema":{"$ref":"#/definitions/Error"}},"403":{"description":"Forbidden","schema":{"$ref":"#/definitions/Error"}},"404":{"description":"Not Found","schema":{"$ref":"#/definitions/Error"}},"405":{"description":"Method Not allowed","schema":{"$ref":"#/definitions/Error"}},"409":{"description":"Conflict","schema":{"$ref":"#/definitions/Error"}},"500":{"description":"Internal Server Error","schema":{"$ref":"#/definitions/Error"}}},"security":[{"spring_oauth":["read","write","admin","openapi"]}]},"patch":{"tags":["lcmRuleSpecification"],"summary":"Updates partially a LCM RuleSpecification","description":"This operation updates partially a LCM RuleSpecification entity.","operationId":"patchLCMRuleSpecification","consumes":["application/json;charset=utf-8"],"produces":["application/json;charset=utf-8"],"parameters":[{"in":"body","name":"body","description":"The LCM RuleSpecification to be updated","required":true,"schema":{"$ref":"#/definitions/LCMRuleSpecificationUpdate"}},{"name":"id","in":"path","description":"Identifier of the LCM RuleSpecification","required":true,"type":"string"}],"responses":{"200":{"description":"Updated","schema":{"$ref":"#/definitions/LCMRuleSpecification"}},"204":{"description":"No Content"},"400":{"description":"Bad Request","schema":{"$ref":"#/definitions/Error"}},"401":{"description":"Unauthorized","schema":{"$ref":"#/definitions/Error"}},"403":{"description":"Forbidden","schema":{"$ref":"#/definitions/Error"}},"404":{"description":"Not Found","schema":{"$ref":"#/definitions/Error"}},"405":{"description":"Method Not allowed","schema":{"$ref":"#/definitions/Error"}},"409":{"description":"Conflict","schema":{"$ref":"#/definitions/Error"}},"500":{"description":"Internal Server Error","schema":{"$ref":"#/definitions/Error"}}},"security":[{"spring_oauth":["read","write","admin","openapi"]}]}}},"securityDefinitions":{"spring_oauth":{"type":"oauth2","authorizationUrl":"http://portal.openslice.io/auth/realms/openslice/protocol/openid-connect/auth","tokenUrl":"http://portal.openslice.io/auth/realms/openslice/protocol/openid-connect/token","flow":"accessCode","scopes":{"read":"for read operations","write":"for write operations","admin":"Access admin API","openapi":"Access openapi API"}}},"definitions":{"Error":{"type":"object","properties":{"cause":{"$ref":"#/definitions/Throwable"},"localizedMessage":{"type":"string"},"message":{"type":"string"},"stackTrace":{"type":"array","items":{"$ref":"#/definitions/StackTraceElement"}},"suppressed":{"type":"array","items":{"$ref":"#/definitions/Throwable"}}},"title":"Error"},"LCMRuleSpecification":{"type":"object","properties":{"@baseType":{"type":"string","description":"When sub-classing, this defines the super-class"},"@schemaLocation":{"type":"string","description":"A URI to a JSON-Schema file that defines additional attributes and relationships"},"@type":{"type":"string"},"code":{"type":"string"},"content":{"type":"string"},"description":{"type":"string","description":"Description of this catalog"},"href":{"type":"string","description":"Unique reference of the entity"},"id":{"type":"string"},"lastUpdate":{"type":"string","description":"Date and time of the last update"},"lcmrulephase":{"type":"string"},"lifecycleStatus":{"type":"string","description":"Used to indicate the current lifecycle status"},"name":{"type":"string","description":"Name of the entity"},"serviceSpecs":{"type":"array","description":"List of service specs associated with this rule","uniqueItems":true,"items":{"$ref":"#/definitions/ServiceSpecificationRef"}},"uuid":{"type":"string"},"validFor":{"description":"The period for which the entity is valid","$ref":"#/definitions/TimePeriod"},"version":{"type":"string","description":"Entity version"}},"title":"LCMRuleSpecification","description":"A LCM RuleSpecification is an entity that describes a LCM rule to apply during the LCM of a service."},"LCMRuleSpecificationCreate":{"type":"object","properties":{"@baseType":{"type":"string"},"@schemaLocation":{"type":"string"},"@type":{"type":"string"},"code":{"type":"string"},"content":{"type":"string"},"description":{"type":"string"},"lcmrulephase":{"type":"string"},"lifecycleStatus":{"type":"string"},"name":{"type":"string"},"serviceSpecs":{"type":"array","items":{"$ref":"#/definitions/ServiceSpecificationRef"}},"validFor":{"$ref":"#/definitions/TimePeriod"},"version":{"type":"string"}},"title":"LCMRuleSpecificationCreate","description":"A LCM RuleSpecification is an entity that describes a LCM rule to apply during the LCM of a service."},"LCMRuleSpecificationUpdate":{"type":"object","properties":{"@baseType":{"type":"string"},"@schemaLocation":{"type":"string"},"@type":{"type":"string"},"code":{"type":"string"},"content":{"type":"string"},"description":{"type":"string"},"lcmrulephase":{"type":"string"},"lifecycleStatus":{"type":"string"},"name":{"type":"string"},"serviceSpecs":{"type":"array","items":{"$ref":"#/definitions/ServiceSpecificationRef"}},"validFor":{"$ref":"#/definitions/TimePeriod"},"version":{"type":"string"}},"title":"LCMRuleSpecificationUpdate","description":"A LCM RuleSpecification is an entity that describes a LCM rule to apply during the LCM of a service."},"ServiceSpecificationRef":{"type":"object","properties":{"@baseType":{"type":"string","description":"When sub-classing, this defines the super-class"},"@referredType":{"type":"string","description":"The actual type of the target instance when needed for disambiguation."},"@schemaLocation":{"type":"string","description":"A URI to a JSON-Schema file that defines additional attributes and relationships"},"@type":{"type":"string"},"href":{"type":"string","description":"Unique reference of the entity"},"id":{"type":"string"},"name":{"type":"string","description":"Name of the entity"},"targetServiceSchema":{"description":"A target service schema reference (TargetServiceSchemaRef). The reference object to the schema and type of target service which is described by service specification.","$ref":"#/definitions/TargetServiceSchema"},"version":{"type":"string","description":"Service specification version"}},"title":"ServiceSpecificationRef","description":"Service specification reference: ServiceSpecification(s) required to realize a ProductSpecification."},"StackTraceElement":{"type":"object","properties":{"classLoaderName":{"type":"string"},"className":{"type":"string"},"fileName":{"type":"string"},"lineNumber":{"type":"integer","format":"int32"},"methodName":{"type":"string"},"moduleName":{"type":"string"},"moduleVersion":{"type":"string"},"nativeMethod":{"type":"boolean"}},"title":"StackTraceElement"},"TargetServiceSchema":{"type":"object","properties":{"@baseType":{"type":"string","description":"When sub-classing, this defines the super-class"},"@schemaLocation":{"type":"string","description":"A URI to a JSON-Schema file that defines additional attributes and relationships"},"@type":{"type":"string"},"href":{"type":"string","description":"Unique reference of the entity"},"uuid":{"type":"string"}},"title":"TargetServiceSchema","description":"The reference object to the schema and type of target service which is described by service specification"},"Throwable":{"type":"object","properties":{"cause":{"$ref":"#/definitions/Throwable"},"localizedMessage":{"type":"string"},"message":{"type":"string"},"stackTrace":{"type":"array","items":{"$ref":"#/definitions/StackTraceElement"}},"suppressed":{"type":"array","items":{"$ref":"#/definitions/Throwable"}}},"title":"Throwable"},"TimePeriod":{"type":"object","properties":{"endDateTime":{"type":"string","description":"End of the time period, using IETC-RFC-3339 format"},"startDateTime":{"type":"string","description":"Start of the time period, using IETC-RFC-3339 format. If you define a start, you must also define an end"}},"title":"TimePeriod","description":"A period of time, either as a deadline (endDateTime only) a startDateTime only, or both"}}}