{"swagger":"2.0","info":{"description":"Api Documentation","version":"1.0","title":"Api Documentation","termsOfService":"urn:tos","contact":{},"license":{"name":"Apache 2.0","url":"http://www.apache.org/licenses/LICENSE-2.0"}},"host":"portal.openslice.io","basePath":"/osapi","tags":[{"name":"artifacts-api-controller","description":"Artifacts API Controller"},{"name":"basic-error-controller","description":"Basic Error Controller"},{"name":"operation-handler","description":"Operation Handler"},{"name":"portal-repository-api-impl","description":"Portal Repository API Impl"},{"name":"portal-repository-vf-image-api","description":"Portal Repository VF Image API"},{"name":"web-mvc-links-handler","description":"Web Mvc Links Handler"}],"paths":{"/actuator":{"get":{"tags":["web-mvc-links-handler"],"summary":"links","operationId":"linksUsingGET","produces":["application/json","application/vnd.spring-boot.actuator.v2+json"],"responses":{"200":{"description":"OK","schema":{"type":"object","additionalProperties":{"type":"object","additionalProperties":{"$ref":"#/definitions/Link"}}}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"deprecated":false}},"/actuator/health":{"get":{"tags":["operation-handler"],"summary":"handle","operationId":"handleUsingGET_2","produces":["application/json","application/vnd.spring-boot.actuator.v2+json"],"parameters":[{"in":"body","name":"body","description":"body","required":false,"schema":{"type":"object","additionalProperties":{"type":"string"}}}],"responses":{"200":{"description":"OK","schema":{"type":"object"}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"deprecated":false}},"/actuator/health/{component}":{"get":{"tags":["operation-handler"],"summary":"handle","operationId":"handleUsingGET_1","produces":["application/json","application/vnd.spring-boot.actuator.v2+json"],"parameters":[{"in":"body","name":"body","description":"body","required":false,"schema":{"type":"object","additionalProperties":{"type":"string"}}}],"responses":{"200":{"description":"OK","schema":{"type":"object"}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"deprecated":false}},"/actuator/health/{component}/{instance}":{"get":{"tags":["operation-handler"],"summary":"handle","operationId":"handleUsingGET","produces":["application/json","application/vnd.spring-boot.actuator.v2+json"],"parameters":[{"in":"body","name":"body","description":"body","required":false,"schema":{"type":"object","additionalProperties":{"type":"string"}}}],"responses":{"200":{"description":"OK","schema":{"type":"object"}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"deprecated":false}},"/actuator/info":{"get":{"tags":["operation-handler"],"summary":"handle","operationId":"handleUsingGET_3","produces":["application/json","application/vnd.spring-boot.actuator.v2+json"],"parameters":[{"in":"body","name":"body","description":"body","required":false,"schema":{"type":"object","additionalProperties":{"type":"string"}}}],"responses":{"200":{"description":"OK","schema":{"type":"object"}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"deprecated":false}},"/admin/categories":{"get":{"tags":["portal-repository-api-impl"],"summary":"getAdminCategories","operationId":"getAdminCategoriesUsingGET","produces":["application/json"],"responses":{"200":{"description":"OK","schema":{"type":"array","items":{"$ref":"#/definitions/Category"}}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"security":[{"spring_oauth":["read","write","admin","openapi"]}],"deprecated":false},"post":{"tags":["portal-repository-api-impl"],"summary":"addCategory","operationId":"addCategoryUsingPOST","consumes":["application/json"],"produces":["application/json"],"parameters":[{"in":"body","name":"c","description":"c","required":true,"schema":{"$ref":"#/definitions/Category"}}],"responses":{"200":{"description":"OK","schema":{"type":"object"}},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"security":[{"spring_oauth":["read","write","admin","openapi"]}],"deprecated":false}},"/admin/categories/{catid}":{"get":{"tags":["portal-repository-api-impl"],"summary":"getAdminCategoryById","operationId":"getAdminCategoryByIdUsingGET","produces":["application/json"],"parameters":[{"name":"catid","in":"path","description":"catid","required":true,"type":"integer","format":"int32"}],"responses":{"200":{"description":"OK","schema":{"type":"object"}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"security":[{"spring_oauth":["read","write","admin","openapi"]}],"deprecated":false},"put":{"tags":["portal-repository-api-impl"],"summary":"updateCategory","operationId":"updateCategoryUsingPUT","consumes":["application/json"],"produces":["application/json"],"parameters":[{"in":"body","name":"c","description":"c","required":true,"schema":{"$ref":"#/definitions/Category"}},{"name":"catid","in":"path","description":"catid","required":true,"type":"integer","format":"int64"}],"responses":{"200":{"description":"OK","schema":{"type":"object"}},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"security":[{"spring_oauth":["read","write","admin","openapi"]}],"deprecated":false},"delete":{"tags":["portal-repository-api-impl"],"summary":"deleteCategory","operationId":"deleteCategoryUsingDELETE","produces":["application/json"],"parameters":[{"name":"catid","in":"path","description":"catid","required":true,"type":"integer","format":"int64"}],"responses":{"200":{"description":"OK","schema":{"type":"object"}},"204":{"description":"No Content"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"}},"security":[{"spring_oauth":["read","write","admin","openapi"]}],"deprecated":false}},"/admin/deployments":{"get":{"tags":["artifacts-api-controller"],"summary":"getAllDeployments","operationId":"getAllDeploymentsUsingGET","produces":["application/json"],"parameters":[{"name":"status","in":"query","description":"status","required":false,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"type":"object"}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"security":[{"spring_oauth":["read","write","admin","openapi"]}],"deprecated":false},"post":{"tags":["artifacts-api-controller"],"summary":"addDeployment","operationId":"addDeploymentUsingPOST","consumes":["application/json"],"produces":["application/json"],"parameters":[{"in":"body","name":"deployment","description":"deployment","required":true,"schema":{"$ref":"#/definitions/DeploymentDescriptor"}}],"responses":{"200":{"description":"OK","schema":{"type":"object"}},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"security":[{"spring_oauth":["read","write","admin","openapi"]}],"deprecated":false}},"/admin/deployments/scheduled":{"get":{"tags":["artifacts-api-controller"],"summary":"getAllScheduledDeploymentsofUser","operationId":"getAllScheduledDeploymentsofUserUsingGET","produces":["application/json"],"responses":{"200":{"description":"OK","schema":{"type":"object"}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"security":[{"spring_oauth":["read","write","admin","openapi"]}],"deprecated":false}},"/admin/deployments/user":{"get":{"tags":["artifacts-api-controller"],"summary":"getAllDeploymentsofUser","operationId":"getAllDeploymentsofUserUsingGET","produces":["application/json"],"parameters":[{"name":"status","in":"query","description":"status","required":false,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"type":"object"}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"security":[{"spring_oauth":["read","write","admin","openapi"]}],"deprecated":false}},"/admin/deployments/{id}":{"get":{"tags":["artifacts-api-controller"],"summary":"getDeploymentById","operationId":"getDeploymentByIdUsingGET","produces":["application/json"],"parameters":[{"name":"id","in":"path","description":"id","required":true,"type":"integer","format":"int64"}],"responses":{"200":{"description":"OK","schema":{"type":"object"}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"security":[{"spring_oauth":["read","write","admin","openapi"]}],"deprecated":false},"put":{"tags":["artifacts-api-controller"],"summary":"updateDeployment","operationId":"updateDeploymentUsingPUT","consumes":["application/json"],"produces":["application/json"],"parameters":[{"name":"id","in":"path","description":"id","required":true,"type":"integer","format":"int32"},{"in":"body","name":"receivedDeployment","description":"receivedDeployment","required":true,"schema":{"$ref":"#/definitions/DeploymentDescriptor"}}],"responses":{"200":{"description":"OK","schema":{"type":"object"}},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"security":[{"spring_oauth":["read","write","admin","openapi"]}],"deprecated":false},"delete":{"tags":["artifacts-api-controller"],"summary":"deleteDeployment","operationId":"deleteDeploymentUsingDELETE","produces":["application/json"],"parameters":[{"name":"id","in":"path","description":"id","required":true,"type":"integer","format":"int32"}],"responses":{"200":{"description":"OK","schema":{"type":"object"}},"204":{"description":"No Content"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"}},"security":[{"spring_oauth":["read","write","admin","openapi"]}],"deprecated":false}},"/admin/experimentobds":{"get":{"tags":["artifacts-api-controller"],"summary":"getExperimentOnBoardDescriptors","operationId":"getExperimentOnBoardDescriptorsUsingGET","produces":["application/json"],"responses":{"200":{"description":"OK","schema":{"type":"object"}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"security":[{"spring_oauth":["read","write","admin","openapi"]}],"deprecated":false}},"/admin/experimentobds/":{"post":{"tags":["artifacts-api-controller"],"summary":"addExperimentOnBoardDescriptor","operationId":"addExperimentOnBoardDescriptorUsingPOST","consumes":["application/json"],"produces":["application/json"],"parameters":[{"in":"body","name":"exp","description":"exp","required":true,"schema":{"$ref":"#/definitions/ExperimentMetadata"}}],"responses":{"200":{"description":"OK","schema":{"type":"object"}},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"security":[{"spring_oauth":["read","write","admin","openapi"]}],"deprecated":false}},"/admin/experimentobds/{mpid}":{"get":{"tags":["artifacts-api-controller"],"summary":"getExperimentOnBoardDescriptorById","operationId":"getExperimentOnBoardDescriptorByIdUsingGET","produces":["application/json"],"parameters":[{"name":"mpid","in":"path","description":"mpid","required":true,"type":"integer","format":"int32"}],"responses":{"200":{"description":"OK","schema":{"type":"object"}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"security":[{"spring_oauth":["read","write","admin","openapi"]}],"deprecated":false},"put":{"tags":["artifacts-api-controller"],"summary":"updateExperimentOnBoardDescriptor","operationId":"updateExperimentOnBoardDescriptorUsingPUT","consumes":["application/json"],"produces":["application/json"],"parameters":[{"in":"body","name":"c","description":"c","required":true,"schema":{"$ref":"#/definitions/ExperimentOnBoardDescriptor"}},{"name":"mpid","in":"path","description":"mpid","required":true,"type":"integer","format":"int32"}],"responses":{"200":{"description":"OK","schema":{"type":"object"}},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"security":[{"spring_oauth":["read","write","admin","openapi"]}],"deprecated":false},"delete":{"tags":["artifacts-api-controller"],"summary":"deleteExperimentOnBoardDescriptor","operationId":"deleteExperimentOnBoardDescriptorUsingDELETE","produces":["*/*"],"parameters":[{"name":"mpid","in":"path","description":"mpid","required":true,"type":"integer","format":"int32"}],"responses":{"200":{"description":"OK","schema":{"type":"object"}},"204":{"description":"No Content"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"}},"security":[{"spring_oauth":["read","write","admin","openapi"]}],"deprecated":false}},"/admin/experimentobds/{mpid}/offboard":{"put":{"tags":["artifacts-api-controller"],"summary":"offBoardExperimentDescriptor","operationId":"offBoardExperimentDescriptorUsingPUT","consumes":["application/json"],"produces":["application/json"],"parameters":[{"in":"body","name":"c","description":"c","required":true,"schema":{"$ref":"#/definitions/ExperimentOnBoardDescriptor"}},{"name":"mpid","in":"path","description":"mpid","required":true,"type":"integer","format":"int32"}],"responses":{"200":{"description":"OK","schema":{"type":"object"}},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"security":[{"spring_oauth":["read","write","admin","openapi"]}],"deprecated":false}},"/admin/experimentobds/{mpid}/onboard":{"put":{"tags":["artifacts-api-controller"],"summary":"onExperimentBoardDescriptor","operationId":"onExperimentBoardDescriptorUsingPUT","consumes":["application/json"],"produces":["application/json"],"parameters":[{"in":"body","name":"experimentonboarddescriptor","description":"experimentonboarddescriptor","required":true,"schema":{"$ref":"#/definitions/ExperimentOnBoardDescriptor"}},{"name":"mpid","in":"path","description":"mpid","required":true,"type":"integer","format":"int32"}],"responses":{"200":{"description":"OK","schema":{"type":"object"}},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"security":[{"spring_oauth":["read","write","admin","openapi"]}],"deprecated":false}},"/admin/experimentobds/{mpid}/status":{"get":{"tags":["artifacts-api-controller"],"summary":"getExperimentOnBoardDescriptorByIdCheckMANOProvider","operationId":"getExperimentOnBoardDescriptorByIdCheckMANOProviderUsingGET","produces":["application/json"],"parameters":[{"name":"mpid","in":"path","description":"mpid","required":true,"type":"integer","format":"int32"}],"responses":{"200":{"description":"OK","schema":{"type":"object"}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"security":[{"spring_oauth":["read","write","admin","openapi"]}],"deprecated":false}},"/admin/experiments":{"get":{"tags":["artifacts-api-controller"],"summary":"getApps","operationId":"getAppsUsingGET","produces":["application/json"],"parameters":[{"name":"categoryid","in":"query","description":"categoryid","required":false,"type":"integer","format":"int64"}],"responses":{"200":{"description":"OK","schema":{"type":"object"}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"security":[{"spring_oauth":["read","write","admin","openapi"]}],"deprecated":false},"post":{"tags":["artifacts-api-controller"],"summary":"addExperimentMetadata","operationId":"addExperimentMetadataUsingPOST","consumes":["multipart/form-data"],"produces":["application/json"],"parameters":[{"in":"body","name":"exprm","description":"exprm","required":false,"schema":{"type":"string"}},{"name":"prodFile","in":"formData","description":"prodFile","required":false,"type":"file"},{"name":"prodIcon","in":"formData","description":"prodIcon","required":false,"type":"file"},{"name":"screenshots","in":"formData","description":"screenshots","required":false,"type":"array","items":{"type":"file"},"collectionFormat":"multi"}],"responses":{"200":{"description":"OK","schema":{"type":"object"}},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"security":[{"spring_oauth":["read","write","admin","openapi"]}],"deprecated":false}},"/admin/experiments/deployable":{"get":{"tags":["artifacts-api-controller"],"summary":"getAllDeployableExperiments","operationId":"getAllDeployableExperimentsUsingGET","produces":["application/json"],"responses":{"200":{"description":"OK","schema":{"type":"object"}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"security":[{"spring_oauth":["read","write","admin","openapi"]}],"deprecated":false}},"/admin/experiments/{aid}":{"put":{"tags":["artifacts-api-controller"],"summary":"updateExperimentMetadata","operationId":"updateExperimentMetadataUsingPUT","consumes":["multipart/form-data"],"produces":["application/json"],"parameters":[{"name":"aid","in":"path","description":"aid","required":true,"type":"integer","format":"int32"},{"in":"body","name":"exprm","description":"exprm","required":false,"schema":{"type":"string"}},{"name":"prodFile","in":"formData","description":"prodFile","required":false,"type":"file"},{"name":"prodIcon","in":"formData","description":"prodIcon","required":false,"type":"file"},{"name":"screenshots","in":"formData","description":"screenshots","required":false,"type":"array","items":{"type":"file"},"collectionFormat":"multi"}],"responses":{"200":{"description":"OK","schema":{"type":"object"}},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"security":[{"spring_oauth":["read","write","admin","openapi"]}],"deprecated":false}},"/admin/experiments/{appid}":{"get":{"tags":["artifacts-api-controller"],"summary":"getAdminExperimentMetadataByID","operationId":"getAdminExperimentMetadataByIDUsingGET","produces":["application/json"],"parameters":[{"name":"appid","in":"path","description":"appid","required":true,"type":"integer","format":"int32"}],"responses":{"200":{"description":"OK","schema":{"type":"object"}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"security":[{"spring_oauth":["read","write","admin","openapi"]}],"deprecated":false},"delete":{"tags":["artifacts-api-controller"],"summary":"deleteExperiment","operationId":"deleteExperimentUsingDELETE","produces":["application/json"],"parameters":[{"name":"appid","in":"path","description":"appid","required":true,"type":"integer","format":"int32"}],"responses":{"200":{"description":"OK","schema":{"type":"object"}},"204":{"description":"No Content"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"}},"security":[{"spring_oauth":["read","write","admin","openapi"]}],"deprecated":false}},"/admin/infrastructures":{"get":{"tags":["artifacts-api-controller"],"summary":"getAdminInfrastructures","operationId":"getAdminInfrastructuresUsingGET","produces":["application/json"],"responses":{"200":{"description":"OK","schema":{"type":"object"}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"security":[{"spring_oauth":["read","write","admin","openapi"]}],"deprecated":false},"post":{"tags":["artifacts-api-controller"],"summary":"addInfrastructure","operationId":"addInfrastructureUsingPOST","consumes":["application/json"],"produces":["application/json"],"parameters":[{"in":"body","name":"c","description":"c","required":true,"schema":{"$ref":"#/definitions/Infrastructure"}}],"responses":{"200":{"description":"OK","schema":{"type":"object"}},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"security":[{"spring_oauth":["read","write","admin","openapi"]}],"deprecated":false}},"/admin/infrastructures/{infraid}":{"get":{"tags":["artifacts-api-controller"],"summary":"getInfrastructureById","operationId":"getInfrastructureByIdUsingGET","produces":["application/json"],"parameters":[{"name":"infraid","in":"path","description":"infraid","required":true,"type":"integer","format":"int32"}],"responses":{"200":{"description":"OK","schema":{"type":"object"}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"security":[{"spring_oauth":["read","write","admin","openapi"]}],"deprecated":false},"put":{"tags":["artifacts-api-controller"],"summary":"updateInfrastructure","operationId":"updateInfrastructureUsingPUT","consumes":["application/json"],"produces":["application/json"],"parameters":[{"in":"body","name":"c","description":"c","required":true,"schema":{"$ref":"#/definitions/Infrastructure"}},{"name":"infraid","in":"path","description":"infraid","required":true,"type":"integer","format":"int32"}],"responses":{"200":{"description":"OK","schema":{"type":"object"}},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"security":[{"spring_oauth":["read","write","admin","openapi"]}],"deprecated":false},"delete":{"tags":["artifacts-api-controller"],"summary":"deleteInfrastructure","operationId":"deleteInfrastructureUsingDELETE","produces":["application/json"],"parameters":[{"name":"infraid","in":"path","description":"infraid","required":true,"type":"integer","format":"int32"}],"responses":{"200":{"description":"OK","schema":{"type":"object"}},"204":{"description":"No Content"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"}},"security":[{"spring_oauth":["read","write","admin","openapi"]}],"deprecated":false}},"/admin/infrastructures/{infraid}/images/{vfimageid}":{"post":{"tags":["artifacts-api-controller"],"summary":"addImageToInfrastructure","operationId":"addImageToInfrastructureUsingPOST","consumes":["application/json"],"produces":["application/json"],"parameters":[{"name":"infraid","in":"path","description":"infraid","required":true,"type":"integer","format":"int32"},{"name":"vfimageid","in":"path","description":"vfimageid","required":true,"type":"integer","format":"int32"}],"responses":{"200":{"description":"OK","schema":{"type":"object"}},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"security":[{"spring_oauth":["read","write","admin","openapi"]}],"deprecated":false}},"/admin/manoplatforms":{"get":{"tags":["artifacts-api-controller"],"summary":"getAdminMANOplatforms","operationId":"getAdminMANOplatformsUsingGET","produces":["application/json"],"responses":{"200":{"description":"OK","schema":{"type":"object"}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"security":[{"spring_oauth":["read","write","admin","openapi"]}],"deprecated":false},"post":{"tags":["artifacts-api-controller"],"summary":"addMANOplatform","operationId":"addMANOplatformUsingPOST","consumes":["application/json"],"produces":["application/json"],"parameters":[{"in":"body","name":"c","description":"c","required":true,"schema":{"$ref":"#/definitions/MANOplatform"}}],"responses":{"200":{"description":"OK","schema":{"type":"object"}},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"security":[{"spring_oauth":["read","write","admin","openapi"]}],"deprecated":false}},"/admin/manoplatforms/{mpid}":{"get":{"tags":["artifacts-api-controller"],"summary":"getAdminMANOplatformById","operationId":"getAdminMANOplatformByIdUsingGET","produces":["application/json"],"parameters":[{"name":"mpid","in":"path","description":"mpid","required":true,"type":"integer","format":"int32"}],"responses":{"200":{"description":"OK","schema":{"type":"object"}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"security":[{"spring_oauth":["read","write","admin","openapi"]}],"deprecated":false},"put":{"tags":["artifacts-api-controller"],"summary":"updateMANOplatform","operationId":"updateMANOplatformUsingPUT","consumes":["application/json"],"produces":["application/json"],"parameters":[{"in":"body","name":"c","description":"c","required":true,"schema":{"$ref":"#/definitions/MANOplatform"}},{"name":"mpid","in":"path","description":"mpid","required":true,"type":"integer","format":"int32"}],"responses":{"200":{"description":"OK","schema":{"type":"object"}},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"security":[{"spring_oauth":["read","write","admin","openapi"]}],"deprecated":false},"delete":{"tags":["artifacts-api-controller"],"summary":"deleteMANOplatform","operationId":"deleteMANOplatformUsingDELETE","produces":["application/json"],"parameters":[{"name":"mpid","in":"path","description":"mpid","required":true,"type":"integer","format":"int32"}],"responses":{"200":{"description":"OK","schema":{"type":"object"}},"204":{"description":"No Content"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"}},"security":[{"spring_oauth":["read","write","admin","openapi"]}],"deprecated":false}},"/admin/manoprovider/{mpid}/nsds":{"get":{"tags":["artifacts-api-controller"],"summary":"getOSM_NSD_Metadata","operationId":"getOSM_NSD_MetadataUsingGET","produces":["application/json"],"parameters":[{"name":"mpid","in":"path","description":"mpid","required":true,"type":"integer","format":"int32"}],"responses":{"200":{"description":"OK","schema":{"type":"object"}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"security":[{"spring_oauth":["read","write","admin","openapi"]}],"deprecated":false}},"/admin/manoprovider/{mpid}/nsds/{nsdid}":{"get":{"tags":["artifacts-api-controller"],"summary":"getOSM_NSD_MetadataByKOSMMANOID","operationId":"getOSM_NSD_MetadataByKOSMMANOIDUsingGET","produces":["application/json"],"parameters":[{"name":"mpid","in":"path","description":"mpid","required":true,"type":"integer","format":"int32"},{"name":"vxfid","in":"path","description":"vxfid","required":true,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"type":"object"}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"security":[{"spring_oauth":["read","write","admin","openapi"]}],"deprecated":false}},"/admin/manoprovider/{mpid}/vnfds":{"get":{"tags":["artifacts-api-controller"],"summary":"getOSMVNFMetadata","operationId":"getOSMVNFMetadataUsingGET","produces":["application/json"],"parameters":[{"name":"mpid","in":"path","description":"mpid","required":true,"type":"integer","format":"int32"}],"responses":{"200":{"description":"OK","schema":{"type":"object"}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"security":[{"spring_oauth":["read","write","admin","openapi"]}],"deprecated":false}},"/admin/manoproviders":{"get":{"tags":["artifacts-api-controller"],"summary":"getAdminMANOproviders","operationId":"getAdminMANOprovidersUsingGET","produces":["application/json"],"responses":{"200":{"description":"OK","schema":{"type":"object"}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"security":[{"spring_oauth":["read","write","admin","openapi"]}],"deprecated":false},"post":{"tags":["artifacts-api-controller"],"summary":"addMANOprovider","operationId":"addMANOproviderUsingPOST","consumes":["application/json"],"produces":["application/json"],"parameters":[{"in":"body","name":"c","description":"c","required":true,"schema":{"$ref":"#/definitions/MANOprovider"}}],"responses":{"200":{"description":"OK","schema":{"type":"object"}},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"security":[{"spring_oauth":["read","write","admin","openapi"]}],"deprecated":false}},"/admin/manoproviders/{mpid}":{"get":{"tags":["artifacts-api-controller"],"summary":"getAdminMANOproviderById","operationId":"getAdminMANOproviderByIdUsingGET","produces":["application/json"],"parameters":[{"name":"mpid","in":"path","description":"mpid","required":true,"type":"integer","format":"int32"}],"responses":{"200":{"description":"OK","schema":{"type":"object"}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"security":[{"spring_oauth":["read","write","admin","openapi"]}],"deprecated":false},"put":{"tags":["artifacts-api-controller"],"summary":"updateMANOprovider","operationId":"updateMANOproviderUsingPUT","consumes":["application/json"],"produces":["application/json"],"parameters":[{"in":"body","name":"c","description":"c","required":true,"schema":{"$ref":"#/definitions/MANOprovider"}},{"name":"mpid","in":"path","description":"mpid","required":true,"type":"integer","format":"int32"}],"responses":{"200":{"description":"OK","schema":{"type":"object"}},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"security":[{"spring_oauth":["read","write","admin","openapi"]}],"deprecated":false},"delete":{"tags":["artifacts-api-controller"],"summary":"deleteMANOprovider","operationId":"deleteMANOproviderUsingDELETE","produces":["application/json"],"parameters":[{"name":"mpid","in":"path","description":"mpid","required":true,"type":"integer","format":"int32"}],"responses":{"200":{"description":"OK","schema":{"type":"object"}},"204":{"description":"No Content"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"}},"security":[{"spring_oauth":["read","write","admin","openapi"]}],"deprecated":false}},"/admin/properties":{"get":{"tags":["artifacts-api-controller"],"summary":"getProperties","operationId":"getPropertiesUsingGET","produces":["application/json"],"responses":{"200":{"description":"OK","schema":{"type":"object"}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"security":[{"spring_oauth":["read","write","admin","openapi"]}],"deprecated":false}},"/admin/properties/{propid}":{"get":{"tags":["artifacts-api-controller"],"summary":"getPropertyById","operationId":"getPropertyByIdUsingGET","produces":["application/json"],"parameters":[{"name":"propid","in":"path","description":"propid","required":true,"type":"integer","format":"int64"}],"responses":{"200":{"description":"OK","schema":{"type":"object"}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"security":[{"spring_oauth":["read","write","admin","openapi"]}],"deprecated":false},"put":{"tags":["artifacts-api-controller"],"summary":"updateProperty","operationId":"updatePropertyUsingPUT","consumes":["application/json"],"produces":["application/json"],"parameters":[{"in":"body","name":"p","description":"p","required":true,"schema":{"$ref":"#/definitions/PortalProperty"}},{"name":"propid","in":"path","description":"propid","required":true,"type":"integer","format":"int64"}],"responses":{"200":{"description":"OK","schema":{"type":"object"}},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"security":[{"spring_oauth":["read","write","admin","openapi"]}],"deprecated":false}},"/admin/users":{"get":{"tags":["portal-repository-api-impl"],"summary":"getUsers","operationId":"getUsersUsingGET","produces":["application/json"],"responses":{"200":{"description":"OK","schema":{"type":"array","items":{"$ref":"#/definitions/PortalUser"}}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"security":[{"spring_oauth":["read","write","admin","openapi"]}],"deprecated":false},"post":{"tags":["portal-repository-api-impl"],"summary":"addUser","operationId":"addUserUsingPOST","consumes":["application/json"],"produces":["application/json"],"parameters":[{"in":"body","name":"user","description":"user","required":true,"schema":{"$ref":"#/definitions/PortalUser"}}],"responses":{"200":{"description":"OK","schema":{"type":"object"}},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"security":[{"spring_oauth":["read","write","admin","openapi"]}],"deprecated":false}},"/admin/users/mentors":{"get":{"tags":["portal-repository-api-impl"],"summary":"getMentors","operationId":"getMentorsUsingGET","produces":["application/json"],"responses":{"200":{"description":"OK","schema":{"type":"array","items":{"$ref":"#/definitions/PortalUser"}}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"security":[{"spring_oauth":["read","write","admin","openapi"]}],"deprecated":false}},"/admin/users/myuser":{"get":{"tags":["portal-repository-api-impl"],"summary":"getUser","operationId":"getUserUsingGET","produces":["application/json"],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/PortalUser"}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"security":[{"spring_oauth":["read","write","admin","openapi"]}],"deprecated":false}},"/admin/users/{userid}":{"get":{"tags":["portal-repository-api-impl"],"summary":"getUserById","operationId":"getUserByIdUsingGET","produces":["application/json"],"parameters":[{"name":"userid","in":"path","description":"userid","required":true,"type":"integer","format":"int64"}],"responses":{"200":{"description":"OK","schema":{"type":"object"}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"security":[{"spring_oauth":["read","write","admin","openapi"]}],"deprecated":false},"put":{"tags":["portal-repository-api-impl"],"summary":"updateUserInfo","operationId":"updateUserInfoUsingPUT","consumes":["application/json"],"produces":["application/json"],"parameters":[{"in":"body","name":"user","description":"user","required":true,"schema":{"$ref":"#/definitions/PortalUser"}},{"name":"userid","in":"path","description":"userid","required":true,"type":"integer","format":"int64"}],"responses":{"200":{"description":"OK","schema":{"type":"object"}},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"security":[{"spring_oauth":["read","write","admin","openapi"]}],"deprecated":false},"delete":{"tags":["portal-repository-api-impl"],"summary":"deleteUser","operationId":"deleteUserUsingDELETE","produces":["*/*"],"parameters":[{"name":"userid","in":"path","description":"userid","required":true,"type":"integer","format":"int32"}],"responses":{"200":{"description":"OK","schema":{"type":"object"}},"204":{"description":"No Content"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"}},"security":[{"spring_oauth":["read","write","admin","openapi"]}],"deprecated":false}},"/admin/users/{userid}/experiments":{"get":{"tags":["portal-repository-api-impl"],"summary":"getAllAppsofUser","operationId":"getAllAppsofUserUsingGET","produces":["application/json"],"parameters":[{"name":"userid","in":"path","description":"userid","required":true,"type":"integer","format":"int32"}],"responses":{"200":{"description":"OK","schema":{"type":"object"}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"security":[{"spring_oauth":["read","write","admin","openapi"]}],"deprecated":false}},"/admin/users/{userid}/experiments/{appid}":{"get":{"tags":["portal-repository-api-impl"],"summary":"getAppofUser","operationId":"getAppofUserUsingGET","produces":["application/json"],"parameters":[{"name":"appid","in":"path","description":"appid","required":true,"type":"integer","format":"int32"},{"name":"userid","in":"path","description":"userid","required":true,"type":"integer","format":"int32"}],"responses":{"200":{"description":"OK","schema":{"type":"object"}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"security":[{"spring_oauth":["read","write","admin","openapi"]}],"deprecated":false}},"/admin/users/{userid}/vxfs":{"get":{"tags":["portal-repository-api-impl"],"summary":"getAllVxFsofUser","operationId":"getAllVxFsofUserUsingGET","produces":["application/json"],"parameters":[{"name":"userid","in":"path","description":"userid","required":true,"type":"integer","format":"int32"}],"responses":{"200":{"description":"OK","schema":{"type":"object"}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"security":[{"spring_oauth":["read","write","admin","openapi"]}],"deprecated":false}},"/admin/users/{userid}/vxfs/{vxfid}":{"get":{"tags":["portal-repository-api-impl"],"summary":"getVxFofUser","operationId":"getVxFofUserUsingGET","produces":["application/json"],"parameters":[{"name":"userid","in":"path","description":"userid","required":true,"type":"integer","format":"int32"},{"name":"vxfid","in":"path","description":"vxfid","required":true,"type":"integer","format":"int32"}],"responses":{"200":{"description":"OK","schema":{"type":"object"}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"security":[{"spring_oauth":["read","write","admin","openapi"]}],"deprecated":false}},"/admin/validationjobs/{vxf_id}":{"put":{"tags":["artifacts-api-controller"],"summary":"updateUvalidationjob","operationId":"updateUvalidationjobUsingPUT","consumes":["application/json"],"produces":["application/json"],"parameters":[{"in":"body","name":"vresult","description":"vresult","required":true,"schema":{"$ref":"#/definitions/ValidationJobResult"}},{"name":"vxf_id","in":"path","description":"vxf_id","required":true,"type":"integer","format":"int32"}],"responses":{"200":{"description":"OK","schema":{"type":"object"}},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"security":[{"spring_oauth":["read","write","admin","openapi"]}],"deprecated":false}},"/admin/vfimages":{"get":{"tags":["portal-repository-vf-image-api"],"summary":"getAdminVFImages","operationId":"getAdminVFImagesUsingGET","produces":["application/json"],"responses":{"200":{"description":"OK","schema":{"type":"object"}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"security":[{"spring_oauth":["read","write","admin","openapi"]}],"deprecated":false},"post":{"tags":["portal-repository-vf-image-api"],"summary":"addVFImage","operationId":"addVFImageUsingPOST","consumes":["multipart/form-data"],"produces":["*/*"],"parameters":[{"name":"prodFile","in":"formData","description":"prodFile","required":false,"type":"file"},{"in":"body","name":"vfimage","description":"vfimage","required":false,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","schema":{"type":"object"}},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"security":[{"spring_oauth":["read","write","admin","openapi"]}],"deprecated":false},"put":{"tags":["portal-repository-vf-image-api"],"summary":"updateVFImage","operationId":"updateVFImageUsingPUT","consumes":["multipart/form-data"],"produces":["application/json"],"parameters":[{"name":"prodFile","in":"formData","description":"prodFile","required":false,"type":"file"},{"in":"body","name":"vfimage","description":"vfimage","required":false,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","schema":{"type":"object"}},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"security":[{"spring_oauth":["read","write","admin","openapi"]}],"deprecated":false}},"/admin/vfimages/name/{imagename}":{"get":{"tags":["portal-repository-vf-image-api"],"summary":"getVFImageByName","operationId":"getVFImageByNameUsingGET","produces":["application/json"],"parameters":[{"name":"imagename","in":"path","description":"imagename","required":true,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"type":"object"}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"security":[{"spring_oauth":["read","write","admin","openapi"]}],"deprecated":false}},"/admin/vfimages/{id}":{"get":{"tags":["portal-repository-vf-image-api"],"summary":"getVFImageById","operationId":"getVFImageByIdUsingGET","produces":["application/json"],"parameters":[{"name":"id","in":"path","description":"id","required":true,"type":"integer","format":"int64"}],"responses":{"200":{"description":"OK","schema":{"type":"object"}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"security":[{"spring_oauth":["read","write","admin","openapi"]}],"deprecated":false},"delete":{"tags":["portal-repository-vf-image-api"],"summary":"deleteVFImage","operationId":"deleteVFImageUsingDELETE","produces":["*/*"],"parameters":[{"name":"id","in":"path","description":"id","required":true,"type":"integer","format":"int32"}],"responses":{"200":{"description":"OK","schema":{"type":"object"}},"204":{"description":"No Content"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"}},"security":[{"spring_oauth":["read","write","admin","openapi"]}],"deprecated":false}},"/admin/vxfobds":{"get":{"tags":["artifacts-api-controller"],"summary":"getVxFOnBoardedDescriptors","operationId":"getVxFOnBoardedDescriptorsUsingGET","produces":["application/json"],"responses":{"200":{"description":"OK","schema":{"type":"object"}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"security":[{"spring_oauth":["read","write","admin","openapi"]}],"deprecated":false}},"/admin/vxfobds/":{"post":{"tags":["artifacts-api-controller"],"summary":"addVxFOnBoardedDescriptor","operationId":"addVxFOnBoardedDescriptorUsingPOST","consumes":["application/json"],"produces":["application/json"],"parameters":[{"in":"body","name":"aVxF","description":"aVxF","required":true,"schema":{"$ref":"#/definitions/VxFMetadata"}}],"responses":{"200":{"description":"OK","schema":{"type":"object"}},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"security":[{"spring_oauth":["read","write","admin","openapi"]}],"deprecated":false}},"/admin/vxfobds/{mpid}":{"get":{"tags":["artifacts-api-controller"],"summary":"getVxFOnBoardedDescriptorById","operationId":"getVxFOnBoardedDescriptorByIdUsingGET","produces":["application/json"],"parameters":[{"name":"mpid","in":"path","description":"mpid","required":true,"type":"integer","format":"int32"}],"responses":{"200":{"description":"OK","schema":{"type":"object"}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"security":[{"spring_oauth":["read","write","admin","openapi"]}],"deprecated":false},"put":{"tags":["artifacts-api-controller"],"summary":"updateVxFOnBoardedDescriptor","operationId":"updateVxFOnBoardedDescriptorUsingPUT","consumes":["application/json"],"produces":["application/json"],"parameters":[{"in":"body","name":"c","description":"c","required":true,"schema":{"$ref":"#/definitions/VxFOnBoardedDescriptor"}},{"name":"mpid","in":"path","description":"mpid","required":true,"type":"integer","format":"int32"}],"responses":{"200":{"description":"OK","schema":{"type":"object"}},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"security":[{"spring_oauth":["read","write","admin","openapi"]}],"deprecated":false},"delete":{"tags":["artifacts-api-controller"],"summary":"deleteVxFOnBoardedDescriptor","operationId":"deleteVxFOnBoardedDescriptorUsingDELETE","produces":["*/*"],"parameters":[{"name":"mpid","in":"path","description":"mpid","required":true,"type":"integer","format":"int32"}],"responses":{"200":{"description":"OK","schema":{"type":"object"}},"204":{"description":"No Content"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"}},"security":[{"spring_oauth":["read","write","admin","openapi"]}],"deprecated":false}},"/admin/vxfobds/{mpid}/offboard":{"put":{"tags":["artifacts-api-controller"],"summary":"offBoardDescriptor","operationId":"offBoardDescriptorUsingPUT","consumes":["application/json"],"produces":["application/json"],"parameters":[{"in":"body","name":"clobd","description":"clobd","required":true,"schema":{"$ref":"#/definitions/VxFOnBoardedDescriptor"}},{"name":"mpid","in":"path","description":"mpid","required":true,"type":"integer","format":"int32"}],"responses":{"200":{"description":"OK","schema":{"type":"object"}},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"security":[{"spring_oauth":["read","write","admin","openapi"]}],"deprecated":false}},"/admin/vxfobds/{mpid}/onboard":{"put":{"tags":["artifacts-api-controller"],"summary":"onBoardDescriptor","operationId":"onBoardDescriptorUsingPUT","consumes":["application/json"],"produces":["application/json"],"parameters":[{"name":"mpid","in":"path","description":"mpid","required":true,"type":"integer","format":"int32"},{"in":"body","name":"vxfobd","description":"vxfobd","required":true,"schema":{"$ref":"#/definitions/VxFOnBoardedDescriptor"}}],"responses":{"200":{"description":"OK","schema":{"type":"object"}},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"security":[{"spring_oauth":["read","write","admin","openapi"]}],"deprecated":false}},"/admin/vxfobds/{mpid}/status":{"get":{"tags":["artifacts-api-controller"],"summary":"getVxFOnBoardedDescriptorByIdCheckMANOProvider","operationId":"getVxFOnBoardedDescriptorByIdCheckMANOProviderUsingGET","produces":["application/json"],"parameters":[{"name":"mpid","in":"path","description":"mpid","required":true,"type":"integer","format":"int32"}],"responses":{"200":{"description":"OK","schema":{"type":"object"}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"security":[{"spring_oauth":["read","write","admin","openapi"]}],"deprecated":false}},"/admin/vxfs":{"get":{"tags":["artifacts-api-controller"],"summary":"getVxFs","operationId":"getVxFsUsingGET","produces":["application/json"],"parameters":[{"name":"categoryid","in":"query","description":"categoryid","required":false,"type":"integer","format":"int64"}],"responses":{"200":{"description":"OK","schema":{"type":"object"}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"security":[{"spring_oauth":["read","write","admin","openapi"]}],"deprecated":false},"post":{"tags":["artifacts-api-controller"],"summary":"addVxFMetadata","operationId":"addVxFMetadataUsingPOST","consumes":["multipart/form-data"],"produces":["*/*"],"parameters":[{"name":"prodFile","in":"formData","description":"prodFile","required":true,"type":"file"},{"name":"prodIcon","in":"formData","description":"prodIcon","required":false,"type":"file"},{"name":"screenshots","in":"formData","description":"screenshots","required":false,"type":"array","items":{"type":"file"},"collectionFormat":"multi"},{"in":"body","name":"vxf","description":"vxf","required":false,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","schema":{"type":"object"}},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"security":[{"spring_oauth":["read","write","admin","openapi"]}],"deprecated":false}},"/admin/vxfs/{bid}":{"put":{"tags":["artifacts-api-controller"],"summary":"updateVxFMetadata","operationId":"updateVxFMetadataUsingPUT","consumes":["multipart/form-data"],"produces":["application/json"],"parameters":[{"name":"bid","in":"path","description":"bid","required":true,"type":"integer","format":"int32"},{"name":"prodFile","in":"formData","description":"prodFile","required":false,"type":"file"},{"name":"prodIcon","in":"formData","description":"prodIcon","required":false,"type":"file"},{"name":"screenshots","in":"formData","description":"screenshots","required":false,"type":"array","items":{"type":"file"},"collectionFormat":"multi"},{"in":"body","name":"vxf","description":"vxf","required":false,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","schema":{"type":"object"}},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"security":[{"spring_oauth":["read","write","admin","openapi"]}],"deprecated":false}},"/admin/vxfs/{vxfid}":{"get":{"tags":["artifacts-api-controller"],"summary":"getAdminVxFMetadataByID","operationId":"getAdminVxFMetadataByIDUsingGET","produces":["application/json"],"parameters":[{"name":"vxfid","in":"path","description":"vxfid","required":true,"type":"integer","format":"int32"}],"responses":{"200":{"description":"OK","schema":{"type":"object"}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"security":[{"spring_oauth":["read","write","admin","openapi"]}],"deprecated":false},"delete":{"tags":["artifacts-api-controller"],"summary":"deleteVxF","operationId":"deleteVxFUsingDELETE","produces":["application/json"],"parameters":[{"name":"vxfid","in":"path","description":"vxfid","required":true,"type":"integer","format":"int32"}],"responses":{"200":{"description":"OK","schema":{"type":"object"}},"204":{"description":"No Content"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"}},"security":[{"spring_oauth":["read","write","admin","openapi"]}],"deprecated":false}},"/categories":{"get":{"tags":["portal-repository-api-impl"],"summary":"getCategories","operationId":"getCategoriesUsingGET","produces":["application/json"],"responses":{"200":{"description":"OK","schema":{"type":"array","items":{"$ref":"#/definitions/Category"}}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"deprecated":false}},"/categories/{catid}":{"get":{"tags":["portal-repository-api-impl"],"summary":"getCategoryById","operationId":"getCategoryByIdUsingGET","produces":["application/json"],"parameters":[{"name":"catid","in":"path","description":"catid","required":true,"type":"integer","format":"int32"}],"responses":{"200":{"description":"OK","schema":{"type":"object"}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"deprecated":false}},"/error":{"get":{"tags":["basic-error-controller"],"summary":"errorHtml","operationId":"errorHtmlUsingGET","produces":["text/html"],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/ModelAndView"}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"deprecated":false},"head":{"tags":["basic-error-controller"],"summary":"errorHtml","operationId":"errorHtmlUsingHEAD","consumes":["application/json"],"produces":["text/html"],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/ModelAndView"}},"204":{"description":"No Content"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"}},"deprecated":false},"post":{"tags":["basic-error-controller"],"summary":"errorHtml","operationId":"errorHtmlUsingPOST","consumes":["application/json"],"produces":["text/html"],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/ModelAndView"}},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"deprecated":false},"put":{"tags":["basic-error-controller"],"summary":"errorHtml","operationId":"errorHtmlUsingPUT","consumes":["application/json"],"produces":["text/html"],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/ModelAndView"}},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"deprecated":false},"delete":{"tags":["basic-error-controller"],"summary":"errorHtml","operationId":"errorHtmlUsingDELETE","produces":["text/html"],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/ModelAndView"}},"204":{"description":"No Content"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"}},"deprecated":false},"options":{"tags":["basic-error-controller"],"summary":"errorHtml","operationId":"errorHtmlUsingOPTIONS","consumes":["application/json"],"produces":["text/html"],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/ModelAndView"}},"204":{"description":"No Content"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"}},"deprecated":false},"patch":{"tags":["basic-error-controller"],"summary":"errorHtml","operationId":"errorHtmlUsingPATCH","consumes":["application/json"],"produces":["text/html"],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/ModelAndView"}},"204":{"description":"No Content"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"}},"deprecated":false}},"/experiments":{"get":{"tags":["artifacts-api-controller"],"summary":"getAllApps","operationId":"getAllAppsUsingGET","produces":["application/json"],"parameters":[{"name":"categoryid","in":"query","description":"categoryid","required":false,"type":"integer","format":"int64"}],"responses":{"200":{"description":"OK","schema":{"type":"object"}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"deprecated":false}},"/experiments/uuid/{uuid}":{"get":{"tags":["artifacts-api-controller"],"summary":"getAppMetadataByUUID","operationId":"getAppMetadataByUUIDUsingGET","produces":["application/json"],"parameters":[{"name":"uuid","in":"path","description":"uuid","required":true,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"type":"object"}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"deprecated":false}},"/experiments/{appid}":{"get":{"tags":["artifacts-api-controller"],"summary":"getExperimentMetadataByID","operationId":"getExperimentMetadataByIDUsingGET","produces":["application/json"],"parameters":[{"name":"appid","in":"path","description":"appid","required":true,"type":"integer","format":"int32"}],"responses":{"200":{"description":"OK","schema":{"type":"object"}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"deprecated":false}},"/images/{uuid}/{imgfile}":{"get":{"tags":["artifacts-api-controller"],"summary":"getEntityImage","operationId":"getEntityImageUsingGET","produces":["image/png","image/jpeg"],"parameters":[{"name":"imgfile","in":"path","description":"imgfile","required":true,"type":"string"},{"name":"uuid","in":"path","description":"uuid","required":true,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"type":"string","format":"byte"}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"deprecated":false}},"/manoplatforms":{"get":{"tags":["artifacts-api-controller"],"summary":"getMANOplatforms","operationId":"getMANOplatformsUsingGET","produces":["application/json"],"responses":{"200":{"description":"OK","schema":{"type":"object"}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"deprecated":false}},"/manoplatforms/{mpid}":{"get":{"tags":["artifacts-api-controller"],"summary":"getMANOplatformById","operationId":"getMANOplatformByIdUsingGET","produces":["application/json"],"parameters":[{"name":"mpid","in":"path","description":"mpid","required":true,"type":"integer","format":"int32"}],"responses":{"200":{"description":"OK","schema":{"type":"object"}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"deprecated":false}},"/manoprovider/{mpid}/vnfds/{vxfid}":{"get":{"tags":["artifacts-api-controller"],"summary":"getOSMVNFMetadataByKOSMMANOID","operationId":"getOSMVNFMetadataByKOSMMANOIDUsingGET","produces":["application/json"],"parameters":[{"name":"mpid","in":"path","description":"mpid","required":true,"type":"integer","format":"int32"},{"name":"vxfid","in":"path","description":"vxfid","required":true,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"type":"object"}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"deprecated":false}},"/packages/{uuid}/{vxffile}":{"get":{"tags":["artifacts-api-controller"],"summary":"downloadVxFPackage","operationId":"downloadVxFPackageUsingGET","produces":["*/*"],"parameters":[{"name":"uuid","in":"path","description":"uuid","required":true,"type":"string"},{"name":"vxffile","in":"path","description":"vxffile","required":true,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/ByteArrayResource"}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"deprecated":false}},"/register":{"post":{"tags":["portal-repository-api-impl"],"summary":"addNewRegisterUser","operationId":"addNewRegisterUserUsingPOST","consumes":["multipart/form-data"],"produces":["application/json"],"parameters":[{"in":"body","name":"emailmessage","description":"emailmessage","required":false,"schema":{"type":"string"}},{"in":"body","name":"portaluser","description":"portaluser","required":false,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","schema":{"type":"object"}},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"deprecated":false}},"/register/verify":{"post":{"tags":["portal-repository-api-impl"],"summary":"addNewRegisterUserVerify","operationId":"addNewRegisterUserVerifyUsingPOST","consumes":["multipart/form-data"],"produces":["application/json"],"parameters":[{"in":"body","name":"rid","description":"rid","required":false,"schema":{"type":"string"}},{"in":"body","name":"username","description":"username","required":false,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","schema":{"type":"object"}},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"deprecated":false}},"/sessions":{"post":{"tags":["portal-repository-api-impl"],"summary":"addUserSession","operationId":"addUserSessionUsingPOST","consumes":["application/json"],"produces":["application/json"],"parameters":[{"in":"body","name":"userSession","description":"userSession","required":true,"schema":{"$ref":"#/definitions/UserSession"}}],"responses":{"200":{"description":"OK","schema":{"type":"object"}},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"deprecated":false}},"/sessions/logout":{"get":{"tags":["portal-repository-api-impl"],"summary":"logoutUser","operationId":"logoutUserUsingGET","produces":["application/json"],"responses":{"200":{"description":"OK","schema":{"type":"object"}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"deprecated":false}},"/vfimages/image/{uuid}/{vfimagefile}":{"get":{"tags":["portal-repository-vf-image-api"],"summary":"downloadVxFPackage","operationId":"downloadVxFPackageUsingGET_1","produces":["application/gzip"],"parameters":[{"name":"uuid","in":"path","description":"uuid","required":true,"type":"string"},{"name":"vfimagefile","in":"path","description":"vfimagefile","required":true,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"type":"string","format":"byte"}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"deprecated":false}},"/vxfs":{"get":{"tags":["artifacts-api-controller"],"summary":"getAllVxFs","operationId":"getAllVxFsUsingGET","produces":["application/json"],"parameters":[{"name":"categoryid","in":"query","description":"categoryid","required":false,"type":"integer","format":"int64"}],"responses":{"200":{"description":"OK","schema":{"type":"object"}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"deprecated":false}},"/vxfs/uuid/{uuid}":{"get":{"tags":["artifacts-api-controller"],"summary":"getVxFMetadataByUUID","operationId":"getVxFMetadataByUUIDUsingGET","produces":["application/json"],"parameters":[{"name":"uuid","in":"path","description":"uuid","required":true,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"type":"object"}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"deprecated":false}},"/vxfs/{vxfid}":{"get":{"tags":["artifacts-api-controller"],"summary":"getVxFMetadataByID","operationId":"getVxFMetadataByIDUsingGET","produces":["application/json"],"parameters":[{"name":"vxfid","in":"path","description":"vxfid","required":true,"type":"integer","format":"int32"}],"responses":{"200":{"description":"OK","schema":{"type":"object"}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"deprecated":false}}},"securityDefinitions":{"spring_oauth":{"type":"oauth2","authorizationUrl":"http://portal.openslice.io/osapi-oauth-server/oauth/authorize","tokenUrl":"http://portal.openslice.io/osapi-oauth-server/oauth/token","flow":"accessCode","scopes":{"read":"for read operations","write":"for write operations","admin":"Access admin API","openapi":"Access openapi API"}}},"definitions":{"ByteArrayResource":{"type":"object","properties":{"byteArray":{"type":"string","format":"byte"},"description":{"type":"string"},"file":{"$ref":"#/definitions/File"},"filename":{"type":"string"},"inputStream":{"$ref":"#/definitions/InputStream"},"open":{"type":"boolean"},"readable":{"type":"boolean"},"uri":{"$ref":"#/definitions/URI"},"url":{"$ref":"#/definitions/URL"}},"title":"ByteArrayResource"},"Category":{"type":"object","properties":{"appscount":{"type":"integer","format":"int32"},"id":{"type":"integer","format":"int64"},"name":{"type":"string"},"products":{"type":"array","items":{"$ref":"#/definitions/Product"}},"productsCount":{"type":"integer","format":"int32"},"vxFscount":{"type":"integer","format":"int32"}},"title":"Category"},"ConstituentVxF":{"type":"object","properties":{"membervnfIndex":{"type":"integer","format":"int32"},"vnfdidRef":{"type":"string"},"vxfref":{"$ref":"#/definitions/VxFMetadata"}},"title":"ConstituentVxF"},"DeploymentDescriptor":{"type":"object","properties":{"configStatus":{"type":"string"},"constituentVnfrIps":{"type":"string"},"dateCreated":{"type":"string","format":"date-time"},"description":{"type":"string"},"detailedStatus":{"type":"string"},"endDate":{"type":"string","format":"date-time"},"endReqDate":{"type":"string","format":"date-time"},"experiment":{"$ref":"#/definitions/ExperimentMetadata"},"experimentFullDetails":{"$ref":"#/definitions/ExperimentMetadata"},"feedback":{"type":"string"},"id":{"type":"integer","format":"int64"},"infrastructureForAll":{"$ref":"#/definitions/Infrastructure"},"instanceId":{"type":"string"},"mentor":{"$ref":"#/definitions/PortalUser"},"name":{"type":"string"},"operationalStatus":{"type":"string"},"owner":{"$ref":"#/definitions/PortalUser"},"scheduledEndDate":{"type":"string"},"scheduledStartDate":{"type":"string"},"startDate":{"type":"string","format":"date-time"},"startReqDate":{"type":"string","format":"date-time"},"status":{"type":"string","enum":["UNDER_REVIEW","SCHEDULED","REJECTED","RUNNING","TERMINATED","INSTANTIATING","FAILED","TERMINATING","TERMINATION_FAILED","COMPLETED","FAILED_OSM_REMOVED","DELETION_FAILED"]},"uuid":{"type":"string"},"vxfPlacements":{"type":"array","items":{"$ref":"#/definitions/DeploymentDescriptorVxFPlacement"}}},"title":"DeploymentDescriptor"},"DeploymentDescriptorVxFPlacement":{"type":"object","properties":{"constituentVxF":{"$ref":"#/definitions/ConstituentVxF"},"infrastructure":{"$ref":"#/definitions/Infrastructure"}},"title":"DeploymentDescriptorVxFPlacement"},"ExperimentMetadata":{"type":"object","properties":{"categories":{"type":"array","items":{"$ref":"#/definitions/Category"}},"constituentVxF":{"type":"array","items":{"$ref":"#/definitions/ConstituentVxF"}},"dateCreated":{"type":"string","format":"date-time"},"dateUpdated":{"type":"string","format":"date-time"},"descriptor":{"type":"string"},"descriptorHTML":{"type":"string"},"experimentOnBoardDescriptors":{"type":"array","items":{"$ref":"#/definitions/ExperimentOnBoardDescriptor"}},"extensions":{"type":"array","items":{"$ref":"#/definitions/ProductExtensionItem"}},"iconsrc":{"type":"string"},"id":{"type":"integer","format":"int64"},"longDescription":{"type":"string"},"name":{"type":"string"},"owner":{"$ref":"#/definitions/PortalUser"},"packageLocation":{"type":"string"},"packagingFormat":{"type":"string","enum":["OSMvFIVE","OSMvFSIX"]},"published":{"type":"boolean"},"screenshots":{"type":"string"},"shortDescription":{"type":"string"},"termsOfUse":{"type":"string"},"uuid":{"type":"string"},"valid":{"type":"boolean"},"validationJobs":{"type":"array","items":{"$ref":"#/definitions/ValidationJob"}},"validationStatus":{"type":"string","enum":["NOT_STARTED","UNDER_REVIEW","COMPLETED"]},"vendor":{"type":"string"},"version":{"type":"string"}},"title":"ExperimentMetadata"},"ExperimentOnBoardDescriptor":{"type":"object","properties":{"deployId":{"type":"string"},"experiment":{"$ref":"#/definitions/ExperimentMetadata"},"experimentMANOProviderID":{"type":"string"},"experimentid":{"type":"integer","format":"int64"},"feedbackMessage":{"type":"string"},"id":{"type":"integer","format":"int64"},"lastOnboarding":{"type":"string","format":"date-time"},"obMANOprovider":{"$ref":"#/definitions/MANOprovider"},"onBoardingStatus":{"type":"string","enum":["UNKNOWN","FAILED","ONBOARDED","OFFBOARDED","OFFBOARDING","ONBOARDING"]},"uuid":{"type":"string"},"vxfMANOProviderID":{"type":"string"}},"title":"ExperimentOnBoardDescriptor"},"File":{"type":"object","properties":{"absolute":{"type":"boolean"},"absoluteFile":{"$ref":"#/definitions/File"},"absolutePath":{"type":"string"},"canonicalFile":{"$ref":"#/definitions/File"},"canonicalPath":{"type":"string"},"directory":{"type":"boolean"},"file":{"type":"boolean"},"freeSpace":{"type":"integer","format":"int64"},"hidden":{"type":"boolean"},"name":{"type":"string"},"parent":{"type":"string"},"parentFile":{"$ref":"#/definitions/File"},"path":{"type":"string"},"totalSpace":{"type":"integer","format":"int64"},"usableSpace":{"type":"integer","format":"int64"}},"title":"File"},"Infrastructure":{"type":"object","properties":{"datacentername":{"type":"string"},"email":{"type":"string"},"id":{"type":"integer","format":"int64"},"name":{"type":"string"},"organization":{"type":"string"},"refSupportedImages":{"type":"array","items":{"$ref":"#/definitions/RefVFImage"}},"supportedImages":{"type":"array","items":{"$ref":"#/definitions/VFImage"}},"vimid":{"type":"string"}},"title":"Infrastructure"},"InputStream":{"type":"object","title":"InputStream"},"Link":{"type":"object","properties":{"href":{"type":"string"},"templated":{"type":"boolean"}},"title":"Link"},"MANOplatform":{"type":"object","properties":{"description":{"type":"string"},"id":{"type":"integer","format":"int64"},"name":{"type":"string"},"version":{"type":"string"}},"title":"MANOplatform"},"MANOprovider":{"type":"object","properties":{"apiEndpoint":{"type":"string"},"authorizationBasicHeader":{"type":"string"},"description":{"type":"string"},"enabledForONBOARDING":{"type":"boolean"},"id":{"type":"integer","format":"int64"},"name":{"type":"string"},"password":{"type":"string"},"supportedMANOplatform":{"$ref":"#/definitions/MANOplatform"},"username":{"type":"string"}},"title":"MANOprovider"},"Map«string,Link»":{"type":"object","title":"Map«string,Link»","additionalProperties":{"$ref":"#/definitions/Link"}},"ModelAndView":{"type":"object","properties":{"empty":{"type":"boolean"},"model":{"type":"object"},"modelMap":{"type":"object","additionalProperties":{"type":"object"}},"reference":{"type":"boolean"},"status":{"type":"string","enum":["100 CONTINUE","101 SWITCHING_PROTOCOLS","102 PROCESSING","103 CHECKPOINT","200 OK","201 CREATED","202 ACCEPTED","203 NON_AUTHORITATIVE_INFORMATION","204 NO_CONTENT","205 RESET_CONTENT","206 PARTIAL_CONTENT","207 MULTI_STATUS","208 ALREADY_REPORTED","226 IM_USED","300 MULTIPLE_CHOICES","301 MOVED_PERMANENTLY","302 FOUND","302 MOVED_TEMPORARILY","303 SEE_OTHER","304 NOT_MODIFIED","305 USE_PROXY","307 TEMPORARY_REDIRECT","308 PERMANENT_REDIRECT","400 BAD_REQUEST","401 UNAUTHORIZED","402 PAYMENT_REQUIRED","403 FORBIDDEN","404 NOT_FOUND","405 METHOD_NOT_ALLOWED","406 NOT_ACCEPTABLE","407 PROXY_AUTHENTICATION_REQUIRED","408 REQUEST_TIMEOUT","409 CONFLICT","410 GONE","411 LENGTH_REQUIRED","412 PRECONDITION_FAILED","413 PAYLOAD_TOO_LARGE","413 REQUEST_ENTITY_TOO_LARGE","414 URI_TOO_LONG","414 REQUEST_URI_TOO_LONG","415 UNSUPPORTED_MEDIA_TYPE","416 REQUESTED_RANGE_NOT_SATISFIABLE","417 EXPECTATION_FAILED","418 I_AM_A_TEAPOT","419 INSUFFICIENT_SPACE_ON_RESOURCE","420 METHOD_FAILURE","421 DESTINATION_LOCKED","422 UNPROCESSABLE_ENTITY","423 LOCKED","424 FAILED_DEPENDENCY","426 UPGRADE_REQUIRED","428 PRECONDITION_REQUIRED","429 TOO_MANY_REQUESTS","431 REQUEST_HEADER_FIELDS_TOO_LARGE","451 UNAVAILABLE_FOR_LEGAL_REASONS","500 INTERNAL_SERVER_ERROR","501 NOT_IMPLEMENTED","502 BAD_GATEWAY","503 SERVICE_UNAVAILABLE","504 GATEWAY_TIMEOUT","505 HTTP_VERSION_NOT_SUPPORTED","506 VARIANT_ALSO_NEGOTIATES","507 INSUFFICIENT_STORAGE","508 LOOP_DETECTED","509 BANDWIDTH_LIMIT_EXCEEDED","510 NOT_EXTENDED","511 NETWORK_AUTHENTICATION_REQUIRED"]},"view":{"$ref":"#/definitions/View"},"viewName":{"type":"string"}},"title":"ModelAndView"},"PortalProperty":{"type":"object","properties":{"id":{"type":"integer","format":"int64"},"name":{"type":"string"},"value":{"type":"string"}},"title":"PortalProperty"},"PortalUser":{"type":"object","properties":{"active":{"type":"boolean"},"apikey":{"type":"string"},"createdAt":{"type":"string","format":"date-time"},"currentSessionID":{"type":"string"},"deployments":{"type":"array","items":{"$ref":"#/definitions/DeploymentDescriptor"}},"email":{"type":"string"},"id":{"type":"integer","format":"int64"},"name":{"type":"string"},"organization":{"type":"string"},"password":{"type":"string"},"passwordUnencrypted":{"type":"string"},"products":{"type":"array","items":{"$ref":"#/definitions/Product"}},"roles":{"type":"array","items":{"type":"string","enum":["ROLE_ADMIN","ROLE_EXPERIMENTER","ROLE_NFV_DEVELOPER","ROLE_TESTBED_PROVIDER","ROLE_MENTOR"]}},"subscribedResources":{"type":"array","items":{"$ref":"#/definitions/SubscribedResource"}},"username":{"type":"string"},"vfimages":{"type":"array","items":{"$ref":"#/definitions/VFImage"}}},"title":"PortalUser"},"Product":{"type":"object","properties":{"categories":{"type":"array","items":{"$ref":"#/definitions/Category"}},"dateCreated":{"type":"string","format":"date-time"},"dateUpdated":{"type":"string","format":"date-time"},"descriptor":{"type":"string"},"descriptorHTML":{"type":"string"},"extensions":{"type":"array","items":{"$ref":"#/definitions/ProductExtensionItem"}},"iconsrc":{"type":"string"},"id":{"type":"integer","format":"int64"},"longDescription":{"type":"string"},"name":{"type":"string"},"owner":{"$ref":"#/definitions/PortalUser"},"packageLocation":{"type":"string"},"published":{"type":"boolean"},"screenshots":{"type":"string"},"shortDescription":{"type":"string"},"termsOfUse":{"type":"string"},"uuid":{"type":"string"},"validationJobs":{"type":"array","items":{"$ref":"#/definitions/ValidationJob"}},"vendor":{"type":"string"},"version":{"type":"string"}},"title":"Product"},"ProductExtensionItem":{"type":"object","properties":{"id":{"type":"integer","format":"int64"},"name":{"type":"string"},"value":{"type":"string"}},"title":"ProductExtensionItem"},"RefVFImage":{"type":"object","properties":{"id":{"type":"integer","format":"int64"},"name":{"type":"string"}},"title":"RefVFImage"},"RefVxF":{"type":"object","properties":{"id":{"type":"integer","format":"int64"},"name":{"type":"string"}},"title":"RefVxF"},"SubscribedResource":{"type":"object","properties":{"active":{"type":"boolean"},"id":{"type":"integer","format":"int32"},"lastUpdate":{"type":"string","format":"date-time"},"owner":{"$ref":"#/definitions/PortalUser"},"url":{"type":"string"},"uuid":{"type":"string"}},"title":"SubscribedResource"},"URI":{"type":"object","properties":{"absolute":{"type":"boolean"},"authority":{"type":"string"},"fragment":{"type":"string"},"host":{"type":"string"},"opaque":{"type":"boolean"},"path":{"type":"string"},"port":{"type":"integer","format":"int32"},"query":{"type":"string"},"rawAuthority":{"type":"string"},"rawFragment":{"type":"string"},"rawPath":{"type":"string"},"rawQuery":{"type":"string"},"rawSchemeSpecificPart":{"type":"string"},"rawUserInfo":{"type":"string"},"scheme":{"type":"string"},"schemeSpecificPart":{"type":"string"},"userInfo":{"type":"string"}},"title":"URI"},"URL":{"type":"object","properties":{"authority":{"type":"string"},"content":{"type":"object"},"defaultPort":{"type":"integer","format":"int32"},"file":{"type":"string"},"host":{"type":"string"},"path":{"type":"string"},"port":{"type":"integer","format":"int32"},"protocol":{"type":"string"},"query":{"type":"string"},"ref":{"type":"string"},"userInfo":{"type":"string"}},"title":"URL"},"UserSession":{"type":"object","properties":{"password":{"type":"string"},"portalUser":{"$ref":"#/definitions/PortalUser"},"username":{"type":"string"}},"title":"UserSession"},"VFImage":{"type":"object","properties":{"dateCreated":{"type":"string","format":"date-time"},"dateUpdated":{"type":"string","format":"date-time"},"deployedInfrastructures":{"type":"array","items":{"$ref":"#/definitions/Infrastructure"}},"id":{"type":"integer","format":"int64"},"name":{"type":"string"},"owner":{"$ref":"#/definitions/PortalUser"},"packageLocation":{"type":"string"},"publicURL":{"type":"string"},"published":{"type":"boolean"},"refVxFs":{"type":"array","items":{"$ref":"#/definitions/RefVxF"}},"shortDescription":{"type":"string"},"termsOfUse":{"type":"string"},"usedByVxFs":{"type":"array","items":{"$ref":"#/definitions/VxFMetadata"}},"uuid":{"type":"string"}},"title":"VFImage"},"ValidationJob":{"type":"object","properties":{"dateCreated":{"type":"string","format":"date-time"},"id":{"type":"integer","format":"int32"},"jobid":{"type":"string"},"outputLog":{"type":"string"},"validationStatus":{"type":"boolean"},"vxfid":{"type":"integer","format":"int32"}},"title":"ValidationJob"},"ValidationJobResult":{"type":"object","properties":{"build_id":{"type":"integer","format":"int32"},"jenkins_output_log":{"type":"string"},"validation_status":{"type":"boolean"},"vnfd_id":{"type":"integer","format":"int32"}},"title":"ValidationJobResult"},"View":{"type":"object","properties":{"contentType":{"type":"string"}},"title":"View"},"VxFMetadata":{"type":"object","properties":{"categories":{"type":"array","items":{"$ref":"#/definitions/Category"}},"certified":{"type":"boolean"},"certifiedBy":{"type":"string"},"dateCreated":{"type":"string","format":"date-time"},"dateUpdated":{"type":"string","format":"date-time"},"descriptor":{"type":"string"},"descriptorHTML":{"type":"string"},"extensions":{"type":"array","items":{"$ref":"#/definitions/ProductExtensionItem"}},"iconsrc":{"type":"string"},"id":{"type":"integer","format":"int64"},"longDescription":{"type":"string"},"name":{"type":"string"},"owner":{"$ref":"#/definitions/PortalUser"},"packageLocation":{"type":"string"},"packagingFormat":{"type":"string","enum":["OSMvFIVE","OSMvFSIX"]},"published":{"type":"boolean"},"screenshots":{"type":"string"},"shortDescription":{"type":"string"},"supportedMANOPlatforms":{"type":"array","items":{"$ref":"#/definitions/MANOplatform"}},"termsOfUse":{"type":"string"},"uuid":{"type":"string"},"validationJobs":{"type":"array","items":{"$ref":"#/definitions/ValidationJob"}},"validationStatus":{"type":"string","enum":["NOT_STARTED","UNDER_REVIEW","COMPLETED"]},"vendor":{"type":"string"},"version":{"type":"string"},"vfimagesVDU":{"type":"array","items":{"$ref":"#/definitions/VFImage"}},"vxfOnBoardedDescriptors":{"type":"array","items":{"$ref":"#/definitions/VxFOnBoardedDescriptor"}}},"title":"VxFMetadata"},"VxFOnBoardedDescriptor":{"type":"object","properties":{"deployId":{"type":"string"},"feedbackMessage":{"type":"string"},"id":{"type":"integer","format":"int64"},"lastOnboarding":{"type":"string","format":"date-time"},"obMANOprovider":{"$ref":"#/definitions/MANOprovider"},"onBoardingStatus":{"type":"string","enum":["UNKNOWN","FAILED","ONBOARDED","OFFBOARDED","OFFBOARDING","ONBOARDING"]},"uuid":{"type":"string"},"vxf":{"$ref":"#/definitions/VxFMetadata"},"vxfMANOProviderID":{"type":"string"},"vxfid":{"type":"integer","format":"int64"}},"title":"VxFOnBoardedDescriptor"}}}