{"swagger":"2.0","info":{"description":"This is Swagger UI environment generated for the TMF Agreement Management specification","version":"4.0.0","title":"Agreement Management","contact":{},"license":{"url":"http://unlicense.org"}},"host":"portal.openslice.io","tags":[{"name":"cancel-resource-order-api-controller","description":"the cancelResourceOrder API"},{"name":"hub-api-controller","description":"the hub API"},{"name":"listener-api-controller","description":"the listener API"},{"name":"resource-order-api-controller","description":"the resourceOrder API"}],"paths":{"/tmf-api/cancelResourceOrder":{"get":{"tags":["cancelResourceOrder"],"summary":"List or find CancelResourceOrder objects","description":"This operation list or find CancelResourceOrder entities","operationId":"listCancelResourceOrder","produces":["application/json;charset=utf-8"],"parameters":[{"name":"fields","in":"query","description":"Comma-separated properties to be provided in response","required":false,"type":"string"},{"name":"limit","in":"query","description":"Requested number of resources to be provided in response","required":false,"type":"integer","format":"int32"},{"name":"offset","in":"query","description":"Requested index for start of resources to be provided in response","required":false,"type":"integer","format":"int32"}],"responses":{"200":{"description":"Success","schema":{"type":"array","items":{"$ref":"#/definitions/CancelResourceOrder"}}},"400":{"description":"Bad Request","schema":{"$ref":"#/definitions/Error"}},"401":{"description":"Unauthorized","schema":{"$ref":"#/definitions/Error"}},"403":{"description":"Forbidden","schema":{"$ref":"#/definitions/Error"}},"404":{"description":"Not Found","schema":{"$ref":"#/definitions/Error"}},"405":{"description":"Method Not allowed","schema":{"$ref":"#/definitions/Error"}},"409":{"description":"Conflict","schema":{"$ref":"#/definitions/Error"}},"500":{"description":"Internal Server Error","schema":{"$ref":"#/definitions/Error"}}},"security":[{"spring_oauth":["read","write","admin","openapi"]}]},"post":{"tags":["cancelResourceOrder"],"summary":"Creates a CancelResourceOrder","description":"This operation creates a CancelResourceOrder entity.","operationId":"createCancelResourceOrder","consumes":["application/json;charset=utf-8"],"produces":["application/json;charset=utf-8"],"parameters":[{"in":"body","name":"body","description":"The CancelResourceOrder to be created","required":true,"schema":{"$ref":"#/definitions/CancelResourceOrderCreate"}}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/CancelResourceOrder"}},"201":{"description":"Created","schema":{"$ref":"#/definitions/CancelResourceOrder"}},"400":{"description":"Bad Request","schema":{"$ref":"#/definitions/Error"}},"401":{"description":"Unauthorized","schema":{"$ref":"#/definitions/Error"}},"403":{"description":"Forbidden","schema":{"$ref":"#/definitions/Error"}},"404":{"description":"Not Found"},"405":{"description":"Method Not allowed","schema":{"$ref":"#/definitions/Error"}},"409":{"description":"Conflict","schema":{"$ref":"#/definitions/Error"}},"500":{"description":"Internal Server Error","schema":{"$ref":"#/definitions/Error"}}},"security":[{"spring_oauth":["read","write","admin","openapi"]}]}},"/tmf-api/cancelResourceOrder/{id}":{"get":{"tags":["cancelResourceOrder"],"summary":"Retrieves a CancelResourceOrder by ID","description":"This operation retrieves a CancelResourceOrder entity. Attribute selection is enabled for all first level attributes.","operationId":"retrieveCancelResourceOrder","produces":["application/json;charset=utf-8"],"parameters":[{"name":"fields","in":"query","description":"Comma-separated properties to provide in response","required":false,"type":"string"},{"name":"id","in":"path","description":"Identifier of the CancelResourceOrder","required":true,"type":"string"}],"responses":{"200":{"description":"Success","schema":{"$ref":"#/definitions/CancelResourceOrder"}},"400":{"description":"Bad Request","schema":{"$ref":"#/definitions/Error"}},"401":{"description":"Unauthorized","schema":{"$ref":"#/definitions/Error"}},"403":{"description":"Forbidden","schema":{"$ref":"#/definitions/Error"}},"404":{"description":"Not Found","schema":{"$ref":"#/definitions/Error"}},"405":{"description":"Method Not allowed","schema":{"$ref":"#/definitions/Error"}},"409":{"description":"Conflict","schema":{"$ref":"#/definitions/Error"}},"500":{"description":"Internal Server Error","schema":{"$ref":"#/definitions/Error"}}},"security":[{"spring_oauth":["read","write","admin","openapi"]}]}},"/tmf-api/resourceOrderingManagement/v4/hub":{"post":{"tags":["events subscription"],"summary":"Register a listener","description":"Sets the communication endpoint address the service instance must use to deliver information about its health state, execution state, failures and metrics.","operationId":"registerListener_10","consumes":["application/json;charset=utf-8"],"produces":["application/json;charset=utf-8"],"parameters":[{"in":"body","name":"body","description":"Data containing the callback endpoint to deliver the information","required":true,"schema":{"$ref":"#/definitions/EventSubscriptionInput"}}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/EventSubscription"}},"201":{"description":"Subscribed","schema":{"$ref":"#/definitions/EventSubscription"}},"400":{"description":"Bad Request","schema":{"$ref":"#/definitions/Error"}},"401":{"description":"Unauthorized","schema":{"$ref":"#/definitions/Error"}},"403":{"description":"Forbidden","schema":{"$ref":"#/definitions/Error"}},"404":{"description":"Not Found","schema":{"$ref":"#/definitions/Error"}},"405":{"description":"Method Not allowed","schema":{"$ref":"#/definitions/Error"}},"409":{"description":"Conflict","schema":{"$ref":"#/definitions/Error"}},"500":{"description":"Internal Server Error","schema":{"$ref":"#/definitions/Error"}}},"security":[{"spring_oauth":["read","write","admin","openapi"]}]}},"/tmf-api/resourceOrderingManagement/v4/hub/{id}":{"delete":{"tags":["events subscription"],"summary":"Unregister a listener","description":"Resets the communication endpoint address the service instance must use to deliver information about its health state, execution state, failures and metrics.","operationId":"unregisterListener_10","produces":["application/json;charset=utf-8"],"parameters":[{"name":"id","in":"path","description":"The id of the registered listener","required":true,"type":"string"}],"responses":{"200":{"description":"OK"},"204":{"description":"Deleted","schema":{"$ref":"#/definitions/Error"}},"400":{"description":"Bad request","schema":{"$ref":"#/definitions/Error"}},"401":{"description":"Unauthorized","schema":{"$ref":"#/definitions/Error"}},"403":{"description":"Forbidden","schema":{"$ref":"#/definitions/Error"}},"404":{"description":"Not Found","schema":{"$ref":"#/definitions/Error"}},"405":{"description":"Method not allowed","schema":{"$ref":"#/definitions/Error"}},"500":{"description":"Internal Server Error","schema":{"$ref":"#/definitions/Error"}}},"security":[{"spring_oauth":["read","write","admin","openapi"]}]}},"/tmf-api/resourceOrderingManagement/v4/listener/cancelResourceOrderCreateEvent":{"post":{"tags":["notification listeners (client side)"],"summary":"Client listener for entity CancelResourceOrderCreateEvent","description":"Example of a client listener for receiving the notification CancelResourceOrderCreateEvent","operationId":"listenToCancelResourceOrderCreateEvent","consumes":["application/json;charset=utf-8"],"produces":["application/json;charset=utf-8"],"parameters":[{"in":"body","name":"body","description":"The event data","required":true,"schema":{"$ref":"#/definitions/CancelResourceOrderCreateEvent"}}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/EventSubscription"}},"201":{"description":"Notified","schema":{"$ref":"#/definitions/EventSubscription"}},"400":{"description":"Bad Request","schema":{"$ref":"#/definitions/Error"}},"401":{"description":"Unauthorized","schema":{"$ref":"#/definitions/Error"}},"403":{"description":"Forbidden","schema":{"$ref":"#/definitions/Error"}},"404":{"description":"Not Found","schema":{"$ref":"#/definitions/Error"}},"405":{"description":"Method Not allowed","schema":{"$ref":"#/definitions/Error"}},"409":{"description":"Conflict","schema":{"$ref":"#/definitions/Error"}},"500":{"description":"Internal Server Error","schema":{"$ref":"#/definitions/Error"}}},"security":[{"spring_oauth":["read","write","admin","openapi"]}]}},"/tmf-api/resourceOrderingManagement/v4/listener/cancelResourceOrderInformationRequiredEvent":{"post":{"tags":["notification listeners (client side)"],"summary":"Client listener for entity CancelResourceOrderInformationRequiredEvent","description":"Example of a client listener for receiving the notification CancelResourceOrderInformationRequiredEvent","operationId":"listenToCancelResourceOrderInformationRequiredEvent","consumes":["application/json;charset=utf-8"],"produces":["application/json;charset=utf-8"],"parameters":[{"in":"body","name":"body","description":"The event data","required":true,"schema":{"$ref":"#/definitions/CancelResourceOrderInformationRequiredEvent"}}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/EventSubscription"}},"201":{"description":"Notified","schema":{"$ref":"#/definitions/EventSubscription"}},"400":{"description":"Bad Request","schema":{"$ref":"#/definitions/Error"}},"401":{"description":"Unauthorized","schema":{"$ref":"#/definitions/Error"}},"403":{"description":"Forbidden","schema":{"$ref":"#/definitions/Error"}},"404":{"description":"Not Found","schema":{"$ref":"#/definitions/Error"}},"405":{"description":"Method Not allowed","schema":{"$ref":"#/definitions/Error"}},"409":{"description":"Conflict","schema":{"$ref":"#/definitions/Error"}},"500":{"description":"Internal Server Error","schema":{"$ref":"#/definitions/Error"}}},"security":[{"spring_oauth":["read","write","admin","openapi"]}]}},"/tmf-api/resourceOrderingManagement/v4/listener/cancelResourceOrderStateChangeEvent":{"post":{"tags":["notification listeners (client side)"],"summary":"Client listener for entity CancelResourceOrderStateChangeEvent","description":"Example of a client listener for receiving the notification CancelResourceOrderStateChangeEvent","operationId":"listenToCancelResourceOrderStateChangeEvent","consumes":["application/json;charset=utf-8"],"produces":["application/json;charset=utf-8"],"parameters":[{"in":"body","name":"body","description":"The event data","required":true,"schema":{"$ref":"#/definitions/CancelResourceOrderStateChangeEvent"}}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/EventSubscription"}},"201":{"description":"Notified","schema":{"$ref":"#/definitions/EventSubscription"}},"400":{"description":"Bad Request","schema":{"$ref":"#/definitions/Error"}},"401":{"description":"Unauthorized","schema":{"$ref":"#/definitions/Error"}},"403":{"description":"Forbidden","schema":{"$ref":"#/definitions/Error"}},"404":{"description":"Not Found","schema":{"$ref":"#/definitions/Error"}},"405":{"description":"Method Not allowed","schema":{"$ref":"#/definitions/Error"}},"409":{"description":"Conflict","schema":{"$ref":"#/definitions/Error"}},"500":{"description":"Internal Server Error","schema":{"$ref":"#/definitions/Error"}}},"security":[{"spring_oauth":["read","write","admin","openapi"]}]}},"/tmf-api/resourceOrderingManagement/v4/listener/resourceOrderAttributeValueChangeEvent":{"post":{"tags":["notification listeners (client side)"],"summary":"Client listener for entity ResourceOrderAttributeValueChangeEvent","description":"Example of a client listener for receiving the notification ResourceOrderAttributeValueChangeEvent","operationId":"listenToResourceOrderAttributeValueChangeEvent","consumes":["application/json;charset=utf-8"],"produces":["application/json;charset=utf-8"],"parameters":[{"in":"body","name":"body","description":"The event data","required":true,"schema":{"$ref":"#/definitions/ResourceOrderAttributeValueChangeEvent"}}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/EventSubscription"}},"201":{"description":"Notified","schema":{"$ref":"#/definitions/EventSubscription"}},"400":{"description":"Bad Request","schema":{"$ref":"#/definitions/Error"}},"401":{"description":"Unauthorized","schema":{"$ref":"#/definitions/Error"}},"403":{"description":"Forbidden","schema":{"$ref":"#/definitions/Error"}},"404":{"description":"Not Found","schema":{"$ref":"#/definitions/Error"}},"405":{"description":"Method Not allowed","schema":{"$ref":"#/definitions/Error"}},"409":{"description":"Conflict","schema":{"$ref":"#/definitions/Error"}},"500":{"description":"Internal Server Error","schema":{"$ref":"#/definitions/Error"}}},"security":[{"spring_oauth":["read","write","admin","openapi"]}]}},"/tmf-api/resourceOrderingManagement/v4/listener/resourceOrderCreateEvent":{"post":{"tags":["notification listeners (client side)"],"summary":"Client listener for entity ResourceOrderCreateEvent","description":"Example of a client listener for receiving the notification ResourceOrderCreateEvent","operationId":"listenToResourceOrderCreateEvent","consumes":["application/json;charset=utf-8"],"produces":["application/json;charset=utf-8"],"parameters":[{"in":"body","name":"body","description":"The event data","required":true,"schema":{"$ref":"#/definitions/ResourceOrderCreateEvent"}}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/EventSubscription"}},"201":{"description":"Notified","schema":{"$ref":"#/definitions/EventSubscription"}},"400":{"description":"Bad Request","schema":{"$ref":"#/definitions/Error"}},"401":{"description":"Unauthorized","schema":{"$ref":"#/definitions/Error"}},"403":{"description":"Forbidden","schema":{"$ref":"#/definitions/Error"}},"404":{"description":"Not Found","schema":{"$ref":"#/definitions/Error"}},"405":{"description":"Method Not allowed","schema":{"$ref":"#/definitions/Error"}},"409":{"description":"Conflict","schema":{"$ref":"#/definitions/Error"}},"500":{"description":"Internal Server Error","schema":{"$ref":"#/definitions/Error"}}},"security":[{"spring_oauth":["read","write","admin","openapi"]}]}},"/tmf-api/resourceOrderingManagement/v4/listener/resourceOrderDeleteEvent":{"post":{"tags":["notification listeners (client side)"],"summary":"Client listener for entity ResourceOrderDeleteEvent","description":"Example of a client listener for receiving the notification ResourceOrderDeleteEvent","operationId":"listenToResourceOrderDeleteEvent","consumes":["application/json;charset=utf-8"],"produces":["application/json;charset=utf-8"],"parameters":[{"in":"body","name":"body","description":"The event data","required":true,"schema":{"$ref":"#/definitions/ResourceOrderDeleteEvent"}}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/EventSubscription"}},"201":{"description":"Notified","schema":{"$ref":"#/definitions/EventSubscription"}},"400":{"description":"Bad Request","schema":{"$ref":"#/definitions/Error"}},"401":{"description":"Unauthorized","schema":{"$ref":"#/definitions/Error"}},"403":{"description":"Forbidden","schema":{"$ref":"#/definitions/Error"}},"404":{"description":"Not Found","schema":{"$ref":"#/definitions/Error"}},"405":{"description":"Method Not allowed","schema":{"$ref":"#/definitions/Error"}},"409":{"description":"Conflict","schema":{"$ref":"#/definitions/Error"}},"500":{"description":"Internal Server Error","schema":{"$ref":"#/definitions/Error"}}},"security":[{"spring_oauth":["read","write","admin","openapi"]}]}},"/tmf-api/resourceOrderingManagement/v4/listener/resourceOrderInformationRequiredEvent":{"post":{"tags":["notification listeners (client side)"],"summary":"Client listener for entity ResourceOrderInformationRequiredEvent","description":"Example of a client listener for receiving the notification ResourceOrderInformationRequiredEvent","operationId":"listenToResourceOrderInformationRequiredEvent","consumes":["application/json;charset=utf-8"],"produces":["application/json;charset=utf-8"],"parameters":[{"in":"body","name":"body","description":"The event data","required":true,"schema":{"$ref":"#/definitions/ResourceOrderInformationRequiredEvent"}}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/EventSubscription"}},"201":{"description":"Notified","schema":{"$ref":"#/definitions/EventSubscription"}},"400":{"description":"Bad Request","schema":{"$ref":"#/definitions/Error"}},"401":{"description":"Unauthorized","schema":{"$ref":"#/definitions/Error"}},"403":{"description":"Forbidden","schema":{"$ref":"#/definitions/Error"}},"404":{"description":"Not Found","schema":{"$ref":"#/definitions/Error"}},"405":{"description":"Method Not allowed","schema":{"$ref":"#/definitions/Error"}},"409":{"description":"Conflict","schema":{"$ref":"#/definitions/Error"}},"500":{"description":"Internal Server Error","schema":{"$ref":"#/definitions/Error"}}},"security":[{"spring_oauth":["read","write","admin","openapi"]}]}},"/tmf-api/resourceOrderingManagement/v4/listener/resourceOrderStateChangeEvent":{"post":{"tags":["notification listeners (client side)"],"summary":"Client listener for entity ResourceOrderStateChangeEvent","description":"Example of a client listener for receiving the notification ResourceOrderStateChangeEvent","operationId":"listenToResourceOrderStateChangeEvent","consumes":["application/json;charset=utf-8"],"produces":["application/json;charset=utf-8"],"parameters":[{"in":"body","name":"body","description":"The event data","required":true,"schema":{"$ref":"#/definitions/ResourceOrderStateChangeEvent"}}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/EventSubscription"}},"201":{"description":"Notified","schema":{"$ref":"#/definitions/EventSubscription"}},"400":{"description":"Bad Request","schema":{"$ref":"#/definitions/Error"}},"401":{"description":"Unauthorized","schema":{"$ref":"#/definitions/Error"}},"403":{"description":"Forbidden","schema":{"$ref":"#/definitions/Error"}},"404":{"description":"Not Found","schema":{"$ref":"#/definitions/Error"}},"405":{"description":"Method Not allowed","schema":{"$ref":"#/definitions/Error"}},"409":{"description":"Conflict","schema":{"$ref":"#/definitions/Error"}},"500":{"description":"Internal Server Error","schema":{"$ref":"#/definitions/Error"}}},"security":[{"spring_oauth":["read","write","admin","openapi"]}]}},"/tmf-api/resourceOrderingManagement/v4/resourceOrder":{"get":{"tags":["resourceOrder"],"summary":"List or find ResourceOrder objects","description":"This operation list or find ResourceOrder entities","operationId":"listResourceOrder","produces":["application/json;charset=utf-8"],"parameters":[{"name":"fields","in":"query","description":"Comma-separated properties to be provided in response","required":false,"type":"string"},{"name":"limit","in":"query","description":"Requested number of resources to be provided in response","required":false,"type":"integer","format":"int32"},{"name":"offset","in":"query","description":"Requested index for start of resources to be provided in response","required":false,"type":"integer","format":"int32"}],"responses":{"200":{"description":"Success","schema":{"type":"array","items":{"$ref":"#/definitions/ResourceOrder"}}},"400":{"description":"Bad Request","schema":{"$ref":"#/definitions/Error"}},"401":{"description":"Unauthorized","schema":{"$ref":"#/definitions/Error"}},"403":{"description":"Forbidden","schema":{"$ref":"#/definitions/Error"}},"404":{"description":"Not Found","schema":{"$ref":"#/definitions/Error"}},"405":{"description":"Method Not allowed","schema":{"$ref":"#/definitions/Error"}},"409":{"description":"Conflict","schema":{"$ref":"#/definitions/Error"}},"500":{"description":"Internal Server Error","schema":{"$ref":"#/definitions/Error"}}},"security":[{"spring_oauth":["read","write","admin","openapi"]}]},"post":{"tags":["resourceOrder"],"summary":"Creates a ResourceOrder","description":"This operation creates a ResourceOrder entity.","operationId":"createResourceOrder","consumes":["application/json;charset=utf-8"],"produces":["application/json;charset=utf-8"],"parameters":[{"name":"name","in":"query","required":false,"type":"string"},{"in":"body","name":"roCreate","description":"The ResourceOrder to be created","required":true,"schema":{"$ref":"#/definitions/ResourceOrderCreate"}}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/ResourceOrder"}},"201":{"description":"Created","schema":{"$ref":"#/definitions/ResourceOrder"}},"400":{"description":"Bad Request","schema":{"$ref":"#/definitions/Error"}},"401":{"description":"Unauthorized","schema":{"$ref":"#/definitions/Error"}},"403":{"description":"Forbidden","schema":{"$ref":"#/definitions/Error"}},"404":{"description":"Not Found"},"405":{"description":"Method Not allowed","schema":{"$ref":"#/definitions/Error"}},"409":{"description":"Conflict","schema":{"$ref":"#/definitions/Error"}},"500":{"description":"Internal Server Error","schema":{"$ref":"#/definitions/Error"}}},"security":[{"spring_oauth":["read","write","admin","openapi"]}]}},"/tmf-api/resourceOrderingManagement/v4/resourceOrder/{id}":{"get":{"tags":["resourceOrder"],"summary":"Retrieves a ResourceOrder by ID","description":"This operation retrieves a ResourceOrder entity. Attribute selection is enabled for all first level attributes.","operationId":"retrieveResourceOrder","produces":["application/json;charset=utf-8"],"parameters":[{"name":"fields","in":"query","description":"Comma-separated properties to provide in response","required":false,"type":"string"},{"name":"id","in":"path","description":"Identifier of the ResourceOrder","required":true,"type":"string"}],"responses":{"200":{"description":"Success","schema":{"$ref":"#/definitions/ResourceOrder"}},"400":{"description":"Bad Request","schema":{"$ref":"#/definitions/Error"}},"401":{"description":"Unauthorized","schema":{"$ref":"#/definitions/Error"}},"403":{"description":"Forbidden","schema":{"$ref":"#/definitions/Error"}},"404":{"description":"Not Found","schema":{"$ref":"#/definitions/Error"}},"405":{"description":"Method Not allowed","schema":{"$ref":"#/definitions/Error"}},"409":{"description":"Conflict","schema":{"$ref":"#/definitions/Error"}},"500":{"description":"Internal Server Error","schema":{"$ref":"#/definitions/Error"}}},"security":[{"spring_oauth":["read","write","admin","openapi"]}]},"delete":{"tags":["resourceOrder"],"summary":"Deletes a ResourceOrder","description":"This operation deletes a ResourceOrder entity.","operationId":"deleteResourceOrder","produces":["application/json;charset=utf-8"],"parameters":[{"name":"id","in":"path","description":"Identifier of the ResourceOrder","required":true,"type":"string"}],"responses":{"200":{"description":"OK"},"204":{"description":"Deleted","schema":{"$ref":"#/definitions/Error"}},"400":{"description":"Bad Request","schema":{"$ref":"#/definitions/Error"}},"401":{"description":"Unauthorized","schema":{"$ref":"#/definitions/Error"}},"403":{"description":"Forbidden","schema":{"$ref":"#/definitions/Error"}},"404":{"description":"Not Found","schema":{"$ref":"#/definitions/Error"}},"405":{"description":"Method Not allowed","schema":{"$ref":"#/definitions/Error"}},"409":{"description":"Conflict","schema":{"$ref":"#/definitions/Error"}},"500":{"description":"Internal Server Error","schema":{"$ref":"#/definitions/Error"}}},"security":[{"spring_oauth":["read","write","admin","openapi"]}]},"patch":{"tags":["resourceOrder"],"summary":"Updates partially a ResourceOrder","description":"This operation updates partially a ResourceOrder entity.","operationId":"patchResourceOrder","consumes":["application/json;charset=utf-8"],"produces":["application/json;charset=utf-8"],"parameters":[{"in":"body","name":"body","description":"The ResourceOrder to be updated","required":true,"schema":{"$ref":"#/definitions/ResourceOrderUpdate"}},{"name":"id","in":"path","description":"Identifier of the ResourceOrder","required":true,"type":"string"}],"responses":{"200":{"description":"Updated","schema":{"$ref":"#/definitions/ResourceOrder"}},"204":{"description":"No Content"},"400":{"description":"Bad Request","schema":{"$ref":"#/definitions/Error"}},"401":{"description":"Unauthorized","schema":{"$ref":"#/definitions/Error"}},"403":{"description":"Forbidden","schema":{"$ref":"#/definitions/Error"}},"404":{"description":"Not Found","schema":{"$ref":"#/definitions/Error"}},"405":{"description":"Method Not allowed","schema":{"$ref":"#/definitions/Error"}},"409":{"description":"Conflict","schema":{"$ref":"#/definitions/Error"}},"500":{"description":"Internal Server Error","schema":{"$ref":"#/definitions/Error"}}},"security":[{"spring_oauth":["read","write","admin","openapi"]}]}}},"securityDefinitions":{"spring_oauth":{"type":"oauth2","authorizationUrl":"http://portal.openslice.io/auth/realms/openslice/protocol/openid-connect/auth","tokenUrl":"http://portal.openslice.io/auth/realms/openslice/protocol/openid-connect/token","flow":"accessCode","scopes":{"read":"for read operations","write":"for write operations","admin":"Access admin API","openapi":"Access openapi API"}}},"definitions":{"Any":{"type":"object","properties":{"alias":{"type":"string"},"value":{"type":"string"}},"title":"Any"},"AppointmentRef":{"type":"object","required":["id"],"properties":{"@baseType":{"type":"string"},"@referredType":{"type":"string"},"@schemaLocation":{"type":"string"},"@type":{"type":"string"},"atBaseType":{"type":"string","description":"When sub-classing, this defines the super-class"},"atReferredType":{"type":"string","description":"The actual type of the target instance when needed for disambiguation"},"atSchemaLocation":{"type":"string","description":"A URI to a JSON-Schema file that defines additional attributes and relationships"},"atType":{"type":"string","description":"When sub-classing, this defines the sub-class entity name"},"description":{"type":"string","description":"An explanatory text regarding the appointment made with a party"},"href":{"type":"string","description":"The reference of the appointment"},"id":{"type":"string","description":"The identifier of the referred appointment"}},"title":"AppointmentRef","description":"Refers an appointment, such as a Customer presentation or internal meeting or site visit"},"AttachmentRefOrValue":{"type":"object","properties":{"@baseType":{"type":"string","description":"When sub-classing, this defines the super-class"},"@referredType":{"type":"string"},"@schemaLocation":{"type":"string","description":"A URI to a JSON-Schema file that defines additional attributes and relationships"},"@type":{"type":"string"},"atReferredType":{"type":"string","description":"The actual type of the target instance when needed for disambiguation."},"attachmentType":{"type":"string","example":"video","description":"Attachment type such as video, picture"},"content":{"type":"string","description":"The actual contents of the attachment object, if embedded, encoded as base64"},"description":{"type":"string","example":"Photograph of the Product","description":"A narrative text describing the content of the attachment"},"href":{"type":"string","description":"Unique reference of the entity"},"id":{"type":"string","example":"4aafacbd-11ff-4dc8-b445-305f2215715f","description":"Unique identifier for this particular attachment"},"mimeType":{"type":"string","description":"Attachment mime type such as extension file for video, picture and document"},"name":{"type":"string","description":"Name of the entity"},"size":{"$ref":"#/definitions/Quantity"},"url":{"type":"string","example":"http://host/Content/4aafacbd-11ff-4dc8-b445-305f2215715f","description":"Uniform Resource Locator, is a web page address (a subset of URI)"},"uuid":{"type":"string"},"validFor":{"$ref":"#/definitions/TimePeriod"}},"title":"AttachmentRefOrValue","description":"An attachment by value or by reference. An attachment complements the description of an element, for example through a document, a video, a picture."},"CancelResourceOrder":{"type":"object","required":["resourceOrder"],"properties":{"@baseType":{"type":"string"},"@schemaLocation":{"type":"string"},"@type":{"type":"string"},"atBaseType":{"type":"string","description":"When sub-classing, this defines the super-class"},"atSchemaLocation":{"type":"string","description":"A URI to a JSON-Schema file that defines additional attributes and relationships"},"atType":{"type":"string","description":"When sub-classing, this defines the sub-class entity name"},"cancellationReason":{"type":"string","description":"Reason why the order is cancelled."},"effectiveCancellationDate":{"type":"string","format":"date-time","description":"Date when the order is cancelled."},"href":{"type":"string","description":"Hyperlink to access the cancellation request"},"id":{"type":"string","description":"id of the cancellation request (this is not an order id)"},"requestedCancellationDate":{"type":"string","format":"date-time","description":"Date when the submitter wants the order to be cancelled"},"resourceOrder":{"$ref":"#/definitions/ResourceOrderRef"},"state":{"type":"string","enum":["acknowledged","done","inProgress","terminatedWithError"]}},"title":"CancelResourceOrder","description":"Request for cancellation an existing resource order"},"CancelResourceOrderCreate":{"type":"object","required":["resourceOrder"],"properties":{"@baseType":{"type":"string"},"@schemaLocation":{"type":"string"},"@type":{"type":"string"},"atBaseType":{"type":"string","description":"When sub-classing, this defines the super-class"},"atSchemaLocation":{"type":"string","description":"A URI to a JSON-Schema file that defines additional attributes and relationships"},"atType":{"type":"string","description":"When sub-classing, this defines the sub-class entity name"},"cancellationReason":{"type":"string","description":"Reason why the order is cancelled."},"requestedCancellationDate":{"type":"string","format":"date-time","description":"Date when the submitter wants the order to be cancelled"},"resourceOrder":{"$ref":"#/definitions/ResourceOrderRef"}},"title":"CancelResourceOrderCreate","description":"Request for cancellation an existing resource order Skipped properties: id,href,state,effectiveCancellationDate"},"CancelResourceOrderCreateEvent":{"type":"object","properties":{"correlationId":{"type":"string","description":"The correlation id for this event."},"description":{"type":"string","description":"An explnatory of the event."},"domain":{"type":"string","description":"The domain of the event."},"event":{"$ref":"#/definitions/CancelResourceOrderCreateEventPayload"},"eventId":{"type":"string","description":"The identifier of the notification."},"eventTime":{"type":"string","format":"date-time","description":"Time of the event occurrence."},"eventType":{"type":"string","description":"The type of the notification."},"href":{"type":"string","description":"Reference of the ProcessFlow"},"id":{"type":"string","description":"Identifier of the Process flow"},"priority":{"type":"string","description":"A priority."},"timeOcurred":{"type":"string","format":"date-time","description":"The time the event occured."},"title":{"type":"string","description":"The title of the event."}},"title":"CancelResourceOrderCreateEvent","description":"The notification data structure"},"CancelResourceOrderCreateEventPayload":{"type":"object","properties":{"cancelResourceOrder":{"$ref":"#/definitions/CancelResourceOrder"}},"title":"CancelResourceOrderCreateEventPayload","description":"The event data structure"},"CancelResourceOrderInformationRequiredEvent":{"type":"object","properties":{"correlationId":{"type":"string","description":"The correlation id for this event."},"description":{"type":"string","description":"An explnatory of the event."},"domain":{"type":"string","description":"The domain of the event."},"event":{"$ref":"#/definitions/CancelResourceOrderInformationRequiredEventPayload"},"eventId":{"type":"string","description":"The identifier of the notification."},"eventTime":{"type":"string","format":"date-time","description":"Time of the event occurrence."},"eventType":{"type":"string","description":"The type of the notification."},"fieldPath":{"type":"string","description":"The path identifying the object field concerned by this notification."},"priority":{"type":"string","description":"A priority."},"timeOcurred":{"type":"string","format":"date-time","description":"The time the event occured."},"title":{"type":"string","description":"The title of the event."}},"title":"CancelResourceOrderInformationRequiredEvent","description":"The notification data structure"},"CancelResourceOrderInformationRequiredEventPayload":{"type":"object","properties":{"cancelResourceOrder":{"$ref":"#/definitions/CancelResourceOrder"}},"title":"CancelResourceOrderInformationRequiredEventPayload","description":"The event data structure"},"CancelResourceOrderStateChangeEvent":{"type":"object","properties":{"correlationId":{"type":"string","description":"The correlation id for this event."},"description":{"type":"string","description":"An explnatory of the event."},"domain":{"type":"string","description":"The domain of the event."},"event":{"$ref":"#/definitions/CancelResourceOrderStateChangeEventPayload"},"eventId":{"type":"string","description":"The identifier of the notification."},"eventTime":{"type":"string","format":"date-time","description":"Time of the event occurrence."},"eventType":{"type":"string","description":"The type of the notification."},"href":{"type":"string","description":"Reference of the ProcessFlow"},"id":{"type":"string","description":"Identifier of the Process flow"},"priority":{"type":"string","description":"A priority."},"timeOcurred":{"type":"string","format":"date-time","description":"The time the event occured."},"title":{"type":"string","description":"The title of the event."}},"title":"CancelResourceOrderStateChangeEvent","description":"The notification data structure"},"CancelResourceOrderStateChangeEventPayload":{"type":"object","properties":{"cancelResourceOrder":{"$ref":"#/definitions/CancelResourceOrder"}},"title":"CancelResourceOrderStateChangeEventPayload","description":"The event data structure"},"Characteristic":{"type":"object","required":["name","value"],"properties":{"@baseType":{"type":"string","description":"When sub-classing, this defines the super-class"},"@schemaLocation":{"type":"string","description":"A URI to a JSON-Schema file that defines additional attributes and relationships"},"@type":{"type":"string"},"characteristicRelationship":{"type":"array","uniqueItems":true,"items":{"$ref":"#/definitions/CharacteristicRelationship"}},"href":{"type":"string","description":"Unique reference of the entity"},"id":{"type":"string"},"name":{"type":"string","description":"Name of the characteristic"},"uuid":{"type":"string"},"value":{"$ref":"#/definitions/Any"},"valueType":{"type":"string","description":"Data type of the value of the characteristic"}},"title":"Characteristic","description":"Describes a given characteristic of an object or entity through a name/value pair."},"CharacteristicRelationship":{"type":"object","properties":{"@baseType":{"type":"string","description":"When sub-classing, this defines the super-class"},"@schemaLocation":{"type":"string","description":"A URI to a JSON-Schema file that defines additional attributes and relationships"},"@type":{"type":"string"},"href":{"type":"string","description":"Unique reference of the entity"},"id":{"type":"string"},"name":{"type":"string","description":"Name of the entity"},"relationshipType":{"type":"string","description":"The type of relationship"},"uuid":{"type":"string"}},"title":"CharacteristicRelationship","description":"Another Characteristic that is related to the current Characteristic;"},"CharacteristicRelationshipReq":{"type":"object","properties":{"@baseType":{"type":"string","description":"When sub-classing, this defines the super-class"},"@schemaLocation":{"type":"string","description":"A URI to a JSON-Schema file that defines additional attributes and relationships"},"@type":{"type":"string"},"href":{"type":"string","description":"Unique reference of the entity"},"id":{"type":"string"},"name":{"type":"string","description":"Name of the entity"},"relationshipType":{"type":"string","description":"The type of relationship"},"uuid":{"type":"string"}},"title":"CharacteristicRelationshipReq","description":"Another Characteristic that is related to the current Characteristic;"},"CharacteristicRelationshipRes":{"type":"object","properties":{"@baseType":{"type":"string","description":"When sub-classing, this defines the super-class"},"@schemaLocation":{"type":"string","description":"A URI to a JSON-Schema file that defines additional attributes and relationships"},"@type":{"type":"string"},"href":{"type":"string","description":"Unique reference of the entity"},"id":{"type":"string","description":"Unique identifier of the characteristic"},"name":{"type":"string","description":"Name of the entity"},"relationshipType":{"type":"string","description":"The type of relationship"},"uuid":{"type":"string"}},"title":"CharacteristicRelationshipRes","description":"Another Characteristic that is related to the current Characteristic;"},"CharacteristicReq":{"type":"object","required":["name","value"],"properties":{"@baseType":{"type":"string","description":"When sub-classing, this defines the super-class"},"@schemaLocation":{"type":"string","description":"A URI to a JSON-Schema file that defines additional attributes and relationships"},"@type":{"type":"string"},"characteristicRelationship":{"type":"array","uniqueItems":true,"items":{"$ref":"#/definitions/CharacteristicRelationshipReq"}},"href":{"type":"string","description":"Unique reference of the entity"},"id":{"type":"string"},"name":{"type":"string","description":"Name of the characteristic"},"uuid":{"type":"string"},"value":{"$ref":"#/definitions/Any"},"valueType":{"type":"string","description":"Data type of the value of the characteristic"}},"title":"CharacteristicReq","description":"Describes a given characteristic of an object or entity through a name/value pair."},"CharacteristicRes":{"type":"object","required":["name","value"],"properties":{"@baseType":{"type":"string","description":"When sub-classing, this defines the super-class"},"@schemaLocation":{"type":"string","description":"A URI to a JSON-Schema file that defines additional attributes and relationships"},"@type":{"type":"string"},"characteristicRelationship":{"type":"array","uniqueItems":true,"items":{"$ref":"#/definitions/CharacteristicRelationshipRes"}},"href":{"type":"string","description":"Unique reference of the entity"},"id":{"type":"string","description":"Unique identifier of the characteristic"},"name":{"type":"string","description":"Name of the characteristic"},"uuid":{"type":"string"},"value":{"$ref":"#/definitions/Any"},"valueType":{"type":"string","description":"Data type of the value of the characteristic"}},"title":"CharacteristicRes","description":"Describes a given characteristic of an object or entity through a name/value pair."},"ConstraintRef":{"type":"object","required":["id"],"properties":{"@baseType":{"type":"string","description":"When sub-classing, this defines the super-class"},"@referredType":{"type":"string"},"@schemaLocation":{"type":"string","description":"A URI to a JSON-Schema file that defines additional attributes and relationships"},"@type":{"type":"string"},"atBaseType":{"type":"string","description":"When sub-classing, this defines the super-class"},"atReferredType":{"type":"string","description":"The actual type of the target instance when needed for disambiguation."},"atSchemaLocation":{"type":"string","description":"A URI to a JSON-Schema file that defines additional attributes and relationships"},"atType":{"type":"string","description":"When sub-classing, this defines the sub-class Extensible name"},"href":{"type":"string","description":"Hyperlink reference"},"id":{"type":"string","description":"unique identifier"},"name":{"type":"string","description":"Name of the related entity."},"uuid":{"type":"string"},"version":{"type":"string","description":"constraint version"}},"title":"ConstraintRef","description":"Constraint reference. The Constraint resource represents a policy/rule applied to an entity or entity spec."},"Error":{"type":"object","properties":{"cause":{"$ref":"#/definitions/Throwable"},"localizedMessage":{"type":"string"},"message":{"type":"string"},"stackTrace":{"type":"array","items":{"$ref":"#/definitions/StackTraceElement"}},"suppressed":{"type":"array","items":{"$ref":"#/definitions/Throwable"}}},"title":"Error"},"EventSubscription":{"type":"object","required":["callback","id"],"properties":{"callback":{"type":"string","description":"The callback being registered."},"id":{"type":"string","description":"Id of the listener"},"query":{"type":"string","description":"additional data to be passed"}},"title":"EventSubscription","description":"Sets the communication endpoint address the service instance must use to deliver notification information"},"EventSubscriptionInput":{"type":"object","required":["callback"],"properties":{"callback":{"type":"string","description":"The callback being registered."},"query":{"type":"string","description":"additional data to be passed"}},"title":"EventSubscriptionInput","description":"Sets the communication endpoint address the service instance must use to deliver notification information"},"ExternalId":{"type":"object","required":["entityType","id","owner"],"properties":{"@baseType":{"type":"string"},"@schemaLocation":{"type":"string"},"@type":{"type":"string"},"atBaseType":{"type":"string","description":"When sub-classing, this defines the super-class"},"atSchemaLocation":{"type":"string","description":"A URI to a JSON-Schema file that defines additional attributes and relationships"},"atType":{"type":"string","description":"When sub-classing, this defines the sub-class entity name"},"entityType":{"type":"string","description":"Type of the entity within the external system"},"id":{"type":"string","description":"ID of the entity within the external system."},"owner":{"type":"string","description":"Name of the external system that owns the entity."}},"title":"ExternalId","description":"An identification of an entity that is owned by or originates in a software system different from the current system, for example a ProductOrder handed off from a commerce platform into an order handling system. The structure identifies the system itself, the nature of the entity within the system (e.g. class name) and the unique ID of the entity within the system. It is anticipated that multiple external IDs can be held for a single entity, e.g. if the entity passed through multiple systems on the way to the current system. In this case the consumer is expected to sequence the IDs in the array in reverse order of provenance, i.e. most recent system first in the list."},"Feature":{"type":"object","required":["featureCharacteristic","name"],"properties":{"constraint":{"type":"array","description":"This is a list of feature constraints.","uniqueItems":true,"items":{"$ref":"#/definitions/ConstraintRef"}},"featureCharacteristic":{"type":"array","description":"This is a list of Characteristics for a particular feature.","uniqueItems":true,"items":{"$ref":"#/definitions/Characteristic"}},"featureRelationship":{"type":"array","uniqueItems":true,"items":{"$ref":"#/definitions/FeatureRelationship"}},"id":{"type":"string"},"isBundle":{"type":"boolean","description":"True if this is a feature group. Default is false."},"isEnabled":{"type":"boolean","description":"True if this feature is enabled. Default is true."},"name":{"type":"string","description":"This is the name for the feature."}},"title":"Feature","description":"Configuration feature."},"FeatureRelationship":{"type":"object","required":["relationshipType"],"properties":{"@baseType":{"type":"string","description":"When sub-classing, this defines the super-class"},"@schemaLocation":{"type":"string","description":"A URI to a JSON-Schema file that defines additional attributes and relationships"},"@type":{"type":"string"},"href":{"type":"string","description":"Unique reference of the entity"},"id":{"type":"string","description":"Unique identifier of the target feature."},"name":{"type":"string","description":"Name of the entity"},"relationshipType":{"type":"string","description":"This is the type of the feature relationship."},"uuid":{"type":"string"},"validFor":{"$ref":"#/definitions/TimePeriod"}},"title":"FeatureRelationship","description":"Configuration feature"},"FeatureReq":{"type":"object","required":["featureCharacteristic","name"],"properties":{"constraint":{"type":"array","description":"This is a list of feature constraints.","uniqueItems":true,"items":{"$ref":"#/definitions/ConstraintRef"}},"featureCharacteristic":{"type":"array","description":"This is a list of Characteristics for a particular feature.","uniqueItems":true,"items":{"$ref":"#/definitions/CharacteristicReq"}},"featureRelationship":{"type":"array","uniqueItems":true,"items":{"$ref":"#/definitions/FeatureRelationship"}},"id":{"type":"string"},"isBundle":{"type":"boolean","description":"True if this is a feature group. Default is false."},"isEnabled":{"type":"boolean","description":"True if this feature is enabled. Default is true."},"name":{"type":"string","description":"This is the name for the feature."}},"title":"FeatureReq","description":"Configuration feature."},"FeatureRes":{"type":"object","required":["featureCharacteristic","name"],"properties":{"constraint":{"type":"array","description":"This is a list of feature constraints.","uniqueItems":true,"items":{"$ref":"#/definitions/ConstraintRef"}},"featureCharacteristic":{"type":"array","description":"This is a list of Characteristics for a particular feature.","uniqueItems":true,"items":{"$ref":"#/definitions/CharacteristicRes"}},"featureRelationship":{"type":"array","uniqueItems":true,"items":{"$ref":"#/definitions/FeatureRelationship"}},"id":{"type":"string","description":"Unique identifier of the feature."},"isBundle":{"type":"boolean","description":"True if this is a feature group. Default is false."},"isEnabled":{"type":"boolean","description":"True if this feature is enabled. Default is true."},"name":{"type":"string","description":"This is the name for the feature."}},"title":"FeatureRes","description":"Configuration feature."},"Note":{"type":"object","properties":{"@baseType":{"type":"string","description":"When sub-classing, this defines the super-class"},"@schemaLocation":{"type":"string","description":"A URI to a JSON-Schema file that defines additional attributes and relationships"},"@type":{"type":"string"},"author":{"type":"string","description":"Author of the note"},"date":{"type":"string","description":"Date of the note"},"href":{"type":"string","description":"Unique reference of the entity"},"system":{"type":"string","description":"Describes the system from which the action related to this note was done"},"text":{"type":"string","description":"Text of the note"},"uuid":{"type":"string"}},"title":"Note","description":"Extra information about a given entity"},"Quantity":{"type":"object","properties":{"amount":{"type":"number","format":"float","description":"Numeric value in a given unit"},"units":{"type":"string","description":"Unit"}},"title":"Quantity","description":"An amount in a given unit"},"RelatedParty":{"type":"object","properties":{"@baseType":{"type":"string","description":"When sub-classing, this defines the super-class"},"@referredType":{"type":"string","description":"The actual type of the target instance when needed for disambiguation."},"@schemaLocation":{"type":"string","description":"A URI to a JSON-Schema file that defines additional attributes and relationships"},"@type":{"type":"string"},"extendedInfo":{"type":"string"},"href":{"type":"string","description":"Unique reference of the entity"},"id":{"type":"string"},"name":{"type":"string","description":"Name of the entity"},"role":{"type":"string","description":"Role of the related party."},"uuid":{"type":"string"}},"title":"RelatedParty","description":"RelatedParty reference. A related party defines party or party role linked to a specific entity."},"RelatedPlaceRefOrValue":{"type":"object","required":["role"],"properties":{"@baseType":{"type":"string","description":"When sub-classing, this defines the super-class"},"@referredType":{"type":"string"},"@schemaLocation":{"type":"string","description":"A URI to a JSON-Schema file that defines additional attributes and relationships"},"@type":{"type":"string"},"atBaseType":{"type":"string","description":"When sub-classing, this defines the super-class"},"atReferredType":{"type":"string","description":"The actual type of the target instance when needed for disambiguation."},"atSchemaLocation":{"type":"string","description":"A URI to a JSON-Schema file that defines additional attributes and relationships"},"atType":{"type":"string","description":"When sub-classing, this defines the sub-class Extensible name"},"href":{"type":"string","description":"Unique reference of the entity"},"id":{"type":"string","description":"Unique identifier of the place"},"name":{"type":"string","description":"Name of the entity"},"role":{"type":"string"},"uuid":{"type":"string"}},"title":"RelatedPlaceRefOrValue","description":"Related Entity reference. A related place defines a place described by reference or by value linked to a specific entity. The polymorphic attributes @type, @schemaLocation & @referredType are related to the place entity and not the RelatedPlaceRefOrValue class itself"},"ResourceOrder":{"type":"object","properties":{"@baseType":{"type":"string"},"@schemaLocation":{"type":"string"},"@type":{"type":"string"},"atBaseType":{"type":"string","description":"When sub-classing, this defines the super-class"},"atSchemaLocation":{"type":"string","description":"A URI to a JSON-Schema file that defines additional attributes and relationships"},"atType":{"type":"string","description":"When sub-classing, this defines the sub-class entity name"},"category":{"type":"string","description":"Used to categorize the order from a business perspective that can be useful for the OM system."},"completionDate":{"type":"string","description":"Effective delivery date amended by the provider"},"description":{"type":"string","description":"free-text description of the Resource Order"},"expectedCompletionDate":{"type":"string","description":"Expected delivery date amended by the provider"},"externalId":{"type":"string","description":"DEPRECATED: Use externalReference Instead. ID given by the consumer (to facilitate searches afterwards)"},"externalReference":{"type":"array","uniqueItems":true,"items":{"$ref":"#/definitions/ExternalId"}},"href":{"type":"string","description":"Hyperlink to access the order"},"id":{"type":"string","description":"Identifier of an instance of the Resource Order. Required to be unique within the resource type.  Used in URIs as the identifier for specific instances of a type."},"name":{"type":"string","description":"A string used to give a name to the Resource Order"},"note":{"type":"array","uniqueItems":true,"items":{"$ref":"#/definitions/Note"}},"orderDate":{"type":"string"},"orderItem":{"type":"array","uniqueItems":true,"items":{"$ref":"#/definitions/ResourceOrderItemRes"}},"orderType":{"type":"string","description":"Name of the Resource Order type"},"priority":{"type":"integer","format":"int32","description":"A way that can be used by consumers to prioritize orders in OM system (from 0 to 4 : 0 is the highest priority, and 4 the lowest)"},"relatedParty":{"type":"array","uniqueItems":true,"items":{"$ref":"#/definitions/RelatedParty"}},"requestedCompletionDate":{"type":"string","description":"Requested delivery date from the requestor perspective"},"requestedStartDate":{"type":"string","description":"Order start date wished by the requestor"},"startDate":{"type":"string","description":"Date when the order was started for processing"},"state":{"type":"string","description":"The life cycle state of the resource."}},"title":"ResourceOrder","description":"A Resource Order is a request to provision a set of Resources (logical and physical) triggered by the request to provision a Service through a Service Order"},"ResourceOrderAttributeValueChangeEvent":{"type":"object","properties":{"correlationId":{"type":"string","description":"The correlation id for this event."},"description":{"type":"string","description":"An explnatory of the event."},"domain":{"type":"string","description":"The domain of the event."},"event":{"$ref":"#/definitions/ResourceOrderAttributeValueChangeEventPayload"},"eventId":{"type":"string","description":"The identifier of the notification."},"eventTime":{"type":"string","format":"date-time","description":"Time of the event occurrence."},"eventType":{"type":"string","description":"The type of the notification."},"fieldPath":{"type":"string","description":"The path identifying the object field concerned by this notification."},"priority":{"type":"string","description":"A priority."},"timeOcurred":{"type":"string","format":"date-time","description":"The time the event occured."},"title":{"type":"string","description":"The title of the event."}},"title":"ResourceOrderAttributeValueChangeEvent","description":"The notification data structure"},"ResourceOrderAttributeValueChangeEventPayload":{"type":"object","properties":{"resourceOrder":{"$ref":"#/definitions/ResourceOrder"}},"title":"ResourceOrderAttributeValueChangeEventPayload","description":"The event data structure"},"ResourceOrderCreate":{"type":"object","properties":{"@baseType":{"type":"string"},"@schemaLocation":{"type":"string"},"@type":{"type":"string"},"atBaseType":{"type":"string","description":"When sub-classing, this defines the super-class"},"atSchemaLocation":{"type":"string","description":"A URI to a JSON-Schema file that defines additional attributes and relationships"},"atType":{"type":"string","description":"When sub-classing, this defines the sub-class entity name"},"category":{"type":"string","description":"Used to categorize the order from a business perspective that can be useful for the OM system."},"completionDate":{"type":"string","format":"date-time","description":"Date when the order was completed"},"description":{"type":"string","description":"free-text description of the Resource Order"},"expectedCompletionDate":{"type":"string","format":"date-time","description":"Date when the order was completed"},"externalId":{"type":"string","description":"DEPRECATED: Use externalReference Instead. ID given by the consumer (to facilitate searches afterwards)"},"externalReference":{"type":"array","items":{"$ref":"#/definitions/ExternalId"}},"name":{"type":"string","description":"A string used to give a name to the Resource Order"},"note":{"type":"array","items":{"$ref":"#/definitions/Note"}},"orderDate":{"type":"string","format":"date-time","description":"Date when the order was created"},"orderItem":{"type":"array","items":{"$ref":"#/definitions/ResourceOrderItemReq"}},"orderType":{"type":"string","description":"Name of the Resource Order type"},"priority":{"type":"integer","format":"int32","description":"A way that can be used by consumers to prioritize orders in OM system (from 0 to 4 : 0 is the highest priority, and 4 the lowest)"},"relatedParty":{"type":"array","items":{"$ref":"#/definitions/RelatedParty"}},"requestedCompletionDate":{"type":"string","description":"Requested delivery date from the requestor perspective"},"requestedStartDate":{"type":"string","description":"Order start date wished by the requestor"},"startDate":{"type":"string","format":"date-time","description":"Date when the order was actually started"},"state":{"type":"string","description":"The life cycle state of the resource."}},"title":"ResourceOrderCreate","description":"A Resource Order is a request to provision a set of Resources (logical and physical) triggered by the request to provision a Service through a Service Order Skipped properties: id,href"},"ResourceOrderCreateEvent":{"type":"object","properties":{"correlationId":{"type":"string","description":"The correlation id for this event."},"description":{"type":"string","description":"An explnatory of the event."},"domain":{"type":"string","description":"The domain of the event."},"event":{"$ref":"#/definitions/ResourceOrderCreateEventPayload"},"eventId":{"type":"string","description":"The identifier of the notification."},"eventTime":{"type":"string","format":"date-time","description":"Time of the event occurrence."},"eventType":{"type":"string","description":"The type of the notification."},"href":{"type":"string","description":"Reference of the ProcessFlow"},"id":{"type":"string","description":"Identifier of the Process flow"},"priority":{"type":"string","description":"A priority."},"timeOcurred":{"type":"string","format":"date-time","description":"The time the event occured."},"title":{"type":"string","description":"The title of the event."}},"title":"ResourceOrderCreateEvent","description":"The notification data structure"},"ResourceOrderCreateEventPayload":{"type":"object","properties":{"resourceOrder":{"$ref":"#/definitions/ResourceOrder"}},"title":"ResourceOrderCreateEventPayload","description":"The event data structure"},"ResourceOrderDeleteEvent":{"type":"object","properties":{"correlationId":{"type":"string","description":"The correlation id for this event."},"description":{"type":"string","description":"An explnatory of the event."},"domain":{"type":"string","description":"The domain of the event."},"event":{"$ref":"#/definitions/ResourceOrderDeleteEventPayload"},"eventId":{"type":"string","description":"The identifier of the notification."},"eventTime":{"type":"string","format":"date-time","description":"Time of the event occurrence."},"eventType":{"type":"string","description":"The type of the notification."},"href":{"type":"string","description":"Reference of the ProcessFlow"},"id":{"type":"string","description":"Identifier of the Process flow"},"priority":{"type":"string","description":"A priority."},"timeOcurred":{"type":"string","format":"date-time","description":"The time the event occured."},"title":{"type":"string","description":"The title of the event."}},"title":"ResourceOrderDeleteEvent","description":"The notification data structure"},"ResourceOrderDeleteEventPayload":{"type":"object","properties":{"resourceOrder":{"$ref":"#/definitions/ResourceOrder"}},"title":"ResourceOrderDeleteEventPayload","description":"The event data structure"},"ResourceOrderInformationRequiredEvent":{"type":"object","properties":{"correlationId":{"type":"string","description":"The correlation id for this event."},"description":{"type":"string","description":"An explnatory of the event."},"domain":{"type":"string","description":"The domain of the event."},"event":{"$ref":"#/definitions/ResourceOrderInformationRequiredEventPayload"},"eventId":{"type":"string","description":"The identifier of the notification."},"eventTime":{"type":"string","format":"date-time","description":"Time of the event occurrence."},"eventType":{"type":"string","description":"The type of the notification."},"fieldPath":{"type":"string","description":"The path identifying the object field concerned by this notification."},"priority":{"type":"string","description":"A priority."},"timeOcurred":{"type":"string","format":"date-time","description":"The time the event occured."},"title":{"type":"string","description":"The title of the event."}},"title":"ResourceOrderInformationRequiredEvent","description":"The notification data structure"},"ResourceOrderInformationRequiredEventPayload":{"type":"object","properties":{"resourceOrder":{"$ref":"#/definitions/ResourceOrder"}},"title":"ResourceOrderInformationRequiredEventPayload","description":"The event data structure"},"ResourceOrderItem":{"type":"object","properties":{"@baseType":{"type":"string"},"@schemaLocation":{"type":"string"},"@type":{"type":"string"},"action":{"type":"string","description":"Can be \"add\" / \"modify\" / \"no_change\"/ \"delete\""},"appointment":{"$ref":"#/definitions/AppointmentRef"},"atBaseType":{"type":"string","description":"When sub-classing, this defines the super-class"},"atSchemaLocation":{"type":"string","description":"A URI to a JSON-Schema file that defines additional attributes and relationships"},"atType":{"type":"string","description":"When sub-classing, this defines the sub-class entity name"},"id":{"type":"string","description":"Identifier of the line item (generally it is a sequence number 01, 02, 03, ...)"},"orderItemRelationship":{"type":"array","items":{"$ref":"#/definitions/ResourceOrderItemRelationship"}},"quantity":{"type":"integer","format":"int32","description":"Quantity ordered"},"resource":{"$ref":"#/definitions/ResourceRefOrValue"},"resourceRefOrValue":{"$ref":"#/definitions/ResourceRefOrValue"},"resourceSpecification":{"$ref":"#/definitions/ResourceSpecificationRef"},"state":{"type":"string","description":"State of the order item : described in the state machine diagram","enum":["ACKNOWLEDGED","CANCELLED","COMPLETED","FAILED","HELD","INITIAL","INPROGRESS","PARTIAL","PENDING","REJECTED"]}},"title":"ResourceOrderItem","description":"An identified part of the order. A resource order is decomposed into one or more order items."},"ResourceOrderItemRef":{"type":"object","properties":{"@baseType":{"type":"string"},"@referredType":{"type":"string"},"@schemaLocation":{"type":"string"},"@type":{"type":"string"},"atBaseType":{"type":"string","description":"When sub-classing, this defines the super-class"},"atReferredType":{"type":"string","description":"The actual type of the target instance when needed for disambiguation."},"atSchemaLocation":{"type":"string","description":"A URI to a JSON-Schema file that defines additional attributes and relationships"},"atType":{"type":"string","description":"When sub-classing, this defines the sub-class entity name"},"itemId":{"type":"string","description":"Identifier of the line item"},"resourceOrderHref":{"type":"string","description":"Link to the order to which this item belongs to"},"resourceOrderId":{"type":"string","description":"Identifier of the order that this item belongs to"}},"title":"ResourceOrderItemRef"},"ResourceOrderItemRelationship":{"type":"object","properties":{"@baseType":{"type":"string"},"@schemaLocation":{"type":"string"},"@type":{"type":"string"},"atBaseType":{"type":"string","description":"When sub-classing, this defines the super-class"},"atSchemaLocation":{"type":"string","description":"A URI to a JSON-Schema file that defines additional attributes and relationships"},"atType":{"type":"string","description":"When sub-classing, this defines the sub-class entity name"},"orderItem":{"$ref":"#/definitions/ResourceOrderItemRef"},"relationshipType":{"type":"string","description":"Type of the order item relationship"}},"title":"ResourceOrderItemRelationship"},"ResourceOrderItemReq":{"type":"object","properties":{"@baseType":{"type":"string"},"@schemaLocation":{"type":"string"},"@type":{"type":"string"},"action":{"type":"string","description":"Can be \"add\" / \"modify\" / \"no_change\"/ \"delete\""},"appointment":{"$ref":"#/definitions/AppointmentRef"},"atBaseType":{"type":"string","description":"When sub-classing, this defines the super-class"},"atSchemaLocation":{"type":"string","description":"A URI to a JSON-Schema file that defines additional attributes and relationships"},"atType":{"type":"string","description":"When sub-classing, this defines the sub-class entity name"},"id":{"type":"string","description":"Identifier of the line item (generally it is a sequence number 01, 02, 03, ...)"},"orderItemRelationship":{"type":"array","items":{"$ref":"#/definitions/ResourceOrderItemRelationship"}},"quantity":{"type":"integer","format":"int32","description":"Quantity ordered"},"resource":{"$ref":"#/definitions/ResourceRefOrValueReq"},"resourceRefOrValue":{"$ref":"#/definitions/ResourceRefOrValueReq"},"resourceSpecification":{"$ref":"#/definitions/ResourceSpecificationRef"},"state":{"type":"string","description":"State of the order item : described in the state machine diagram","enum":["ACKNOWLEDGED","CANCELLED","COMPLETED","FAILED","HELD","INITIAL","INPROGRESS","PARTIAL","PENDING","REJECTED"]}},"title":"ResourceOrderItemReq","description":"An identified part of the order. A resource order is decomposed into one or more order items."},"ResourceOrderItemRes":{"type":"object","properties":{"@baseType":{"type":"string"},"@schemaLocation":{"type":"string"},"@type":{"type":"string"},"action":{"type":"string","description":"Can be \"add\" / \"modify\" / \"no_change\"/ \"delete\""},"appointment":{"$ref":"#/definitions/AppointmentRef"},"atBaseType":{"type":"string","description":"When sub-classing, this defines the super-class"},"atSchemaLocation":{"type":"string","description":"A URI to a JSON-Schema file that defines additional attributes and relationships"},"atType":{"type":"string","description":"When sub-classing, this defines the sub-class entity name"},"id":{"type":"string","description":"Identifier of the line item (generally it is a sequence number 01, 02, 03, ...)"},"orderItemRelationship":{"type":"array","items":{"$ref":"#/definitions/ResourceOrderItemRelationship"}},"quantity":{"type":"integer","format":"int32","description":"Quantity ordered"},"resource":{"$ref":"#/definitions/ResourceRefOrValueRes"},"resourceSpecification":{"$ref":"#/definitions/ResourceSpecificationRef"},"state":{"type":"string","description":"State of the order item : described in the state machine diagram","enum":["ACKNOWLEDGED","CANCELLED","COMPLETED","FAILED","HELD","INITIAL","INPROGRESS","PARTIAL","PENDING","REJECTED"]}},"title":"ResourceOrderItemRes","description":"An identified part of the order. A resource order is decomposed into one or more order items."},"ResourceOrderRef":{"type":"object","required":["id"],"properties":{"@baseType":{"type":"string"},"@referredType":{"type":"string"},"@schemaLocation":{"type":"string"},"@type":{"type":"string"},"atBaseType":{"type":"string","description":"When sub-classing, this defines the super-class"},"atReferredType":{"type":"string","description":"The actual type of the target instance when needed for disambiguation."},"atSchemaLocation":{"type":"string","description":"A URI to a JSON-Schema file that defines additional attributes and relationships"},"atType":{"type":"string","description":"When sub-classing, this defines the sub-class entity name"},"href":{"type":"string","description":"Hyperlink to access the related Resource Order"},"id":{"type":"string","description":"The unique identifier of the related resource order"}},"title":"ResourceOrderRef"},"ResourceOrderStateChangeEvent":{"type":"object","properties":{"correlationId":{"type":"string","description":"The correlation id for this event."},"description":{"type":"string","description":"An explnatory of the event."},"domain":{"type":"string","description":"The domain of the event."},"event":{"$ref":"#/definitions/ResourceOrderStateChangeEventPayload"},"eventId":{"type":"string","description":"The identifier of the notification."},"eventTime":{"type":"string","format":"date-time","description":"Time of the event occurrence."},"eventType":{"type":"string","description":"The type of the notification."},"href":{"type":"string","description":"Reference of the ProcessFlow"},"id":{"type":"string","description":"Identifier of the Process flow"},"priority":{"type":"string","description":"A priority."},"timeOcurred":{"type":"string","format":"date-time","description":"The time the event occured."},"title":{"type":"string","description":"The title of the event."}},"title":"ResourceOrderStateChangeEvent","description":"The notification data structure"},"ResourceOrderStateChangeEventPayload":{"type":"object","properties":{"resourceOrder":{"$ref":"#/definitions/ResourceOrder"}},"title":"ResourceOrderStateChangeEventPayload","description":"The event data structure"},"ResourceOrderUpdate":{"type":"object","properties":{"@baseType":{"type":"string"},"@schemaLocation":{"type":"string"},"@type":{"type":"string"},"atBaseType":{"type":"string","description":"When sub-classing, this defines the super-class"},"atSchemaLocation":{"type":"string","description":"A URI to a JSON-Schema file that defines additional attributes and relationships"},"atType":{"type":"string","description":"When sub-classing, this defines the sub-class entity name"},"category":{"type":"string","description":"Used to categorize the order from a business perspective that can be useful for the OM system."},"description":{"type":"string","description":"free-text description of the Resource Order"},"expectedCompletionDate":{"type":"string","format":"date-time","description":"Date when the order was completed"},"externalId":{"type":"string","description":"DEPRECATED: Use externalReference Instead. ID given by the consumer (to facilitate searches afterwards)"},"externalReference":{"type":"array","items":{"$ref":"#/definitions/ExternalId"}},"name":{"type":"string","description":"A string used to give a name to the Resource Order"},"note":{"type":"array","items":{"$ref":"#/definitions/Note"}},"orderItem":{"type":"array","items":{"$ref":"#/definitions/ResourceOrderItemReq"}},"orderType":{"type":"string","description":"Name of the Resource Order type"},"priority":{"type":"integer","format":"int32","description":"A way that can be used by consumers to prioritize orders in OM system (from 0 to 4 : 0 is the highest priority, and 4 the lowest)"},"relatedParty":{"type":"array","items":{"$ref":"#/definitions/RelatedParty"}},"requestedCompletionDate":{"type":"string","format":"date-time","description":"Requested delivery date from the requestor perspective"},"requestedStartDate":{"type":"string","format":"date-time","description":"Order start date wished by the requestor"},"startDate":{"type":"string","format":"date-time","description":"Date when the order was actually started"},"state":{"type":"string","description":"The life cycle state of the resource."}},"title":"ResourceOrderUpdate","description":"A Resource Order is a request to provision a set of Resources (logical and physical) triggered by the request to provision a Service through a Service Order Skipped properties: id,href,completionDate,orderDate"},"ResourceRefOrValue":{"type":"object","required":["href","id"],"properties":{"@baseType":{"type":"string","description":"When sub-classing, this defines the super-class"},"@schemaLocation":{"type":"string","description":"A URI to a JSON-Schema file that defines additional attributes and relationships"},"@type":{"type":"string"},"activationFeature":{"type":"array","description":"Configuration features","uniqueItems":true,"items":{"$ref":"#/definitions/Feature"}},"administrativeState":{"type":"string","enum":["locked","shutdown","unlocked"]},"attachment":{"type":"array","uniqueItems":true,"items":{"$ref":"#/definitions/AttachmentRefOrValue"}},"category":{"type":"string","description":"Category of the concrete resource. e.g Gold, Silver for MSISDN concrete resource"},"description":{"type":"string","description":"free-text description of the resource"},"endOperatingDate":{"type":"string","description":"A date time( DateTime). The date till the resource is operating"},"href":{"type":"string","description":"The URI for the object itself."},"id":{"type":"string","description":"Identifier of an instance of the resource. Required to be unique within the resource type.  Used in URIs as the identifier for specific instances of a type."},"name":{"type":"string","description":"A string used to give a name to the resource"},"note":{"type":"array","uniqueItems":true,"items":{"$ref":"#/definitions/Note"}},"operationalState":{"type":"string","enum":["disable","enable"]},"place":{"$ref":"#/definitions/RelatedPlaceRefOrValue"},"relatedParty":{"type":"array","uniqueItems":true,"items":{"$ref":"#/definitions/RelatedParty"}},"resourceCharacteristic":{"type":"array","uniqueItems":true,"items":{"$ref":"#/definitions/Characteristic"}},"resourceRelationship":{"type":"array","uniqueItems":true,"items":{"$ref":"#/definitions/ResourceRelationship"}},"resourceSpecification":{"$ref":"#/definitions/ResourceSpecificationRef"},"resourceStatus":{"type":"string","enum":["alarm","available","reserved","standby","suspended","unknown"]},"resourceVersion":{"type":"string","description":"A field that identifies the specific version of an instance of a resource."},"startOperatingDate":{"type":"string","description":"A date time( DateTime). The date from which the resource is operating"},"usageState":{"type":"string","enum":["active","busy","idle"]}},"title":"ResourceRefOrValue","description":"Resource is an abstract entity that describes the common set of attributes shared by all concrete resources. The polymorphic attributes @type, @schemaLocation & @referredType are related to the Resource entity and not the related ResourceRefOrValue class itself"},"ResourceRefOrValueReq":{"type":"object","required":["href","id"],"properties":{"@baseType":{"type":"string","description":"When sub-classing, this defines the super-class"},"@schemaLocation":{"type":"string","description":"A URI to a JSON-Schema file that defines additional attributes and relationships"},"@type":{"type":"string"},"activationFeature":{"type":"array","description":"Configuration features","uniqueItems":true,"items":{"$ref":"#/definitions/FeatureReq"}},"administrativeState":{"type":"string","enum":["locked","shutdown","unlocked"]},"attachment":{"type":"array","uniqueItems":true,"items":{"$ref":"#/definitions/AttachmentRefOrValue"}},"category":{"type":"string","description":"Category of the concrete resource. e.g Gold, Silver for MSISDN concrete resource"},"description":{"type":"string","description":"free-text description of the resource"},"endOperatingDate":{"type":"string","description":"A date time( DateTime). The date till the resource is operating"},"href":{"type":"string","description":"The URI for the object itself."},"id":{"type":"string","description":"Identifier of an instance of the resource. Required to be unique within the resource type.  Used in URIs as the identifier for specific instances of a type."},"name":{"type":"string","description":"A string used to give a name to the resource"},"note":{"type":"array","uniqueItems":true,"items":{"$ref":"#/definitions/Note"}},"operationalState":{"type":"string","enum":["disable","enable"]},"place":{"$ref":"#/definitions/RelatedPlaceRefOrValue"},"relatedParty":{"type":"array","uniqueItems":true,"items":{"$ref":"#/definitions/RelatedParty"}},"resourceCharacteristic":{"type":"array","uniqueItems":true,"items":{"$ref":"#/definitions/CharacteristicReq"}},"resourceRelationship":{"type":"array","uniqueItems":true,"items":{"$ref":"#/definitions/ResourceRelationshipReq"}},"resourceSpecification":{"$ref":"#/definitions/ResourceSpecificationRef"},"resourceStatus":{"type":"string","enum":["alarm","available","reserved","standby","suspended","unknown"]},"resourceVersion":{"type":"string","description":"A field that identifies the specific version of an instance of a resource."},"startOperatingDate":{"type":"string","description":"A date time( DateTime). The date from which the resource is operating"},"usageState":{"type":"string","enum":["active","busy","idle"]}},"title":"ResourceRefOrValueReq","description":"Resource is an abstract entity that describes the common set of attributes shared by all concrete resources. The polymorphic attributes @type, @schemaLocation & @referredType are related to the Resource entity and not the related ResourceRefOrValue class itself"},"ResourceRefOrValueRes":{"type":"object","required":["href","id"],"properties":{"@baseType":{"type":"string","description":"When sub-classing, this defines the super-class"},"@schemaLocation":{"type":"string","description":"A URI to a JSON-Schema file that defines additional attributes and relationships"},"@type":{"type":"string"},"activationFeature":{"type":"array","description":"Configuration features","uniqueItems":true,"items":{"$ref":"#/definitions/FeatureRes"}},"administrativeState":{"type":"string","enum":["locked","shutdown","unlocked"]},"attachment":{"type":"array","uniqueItems":true,"items":{"$ref":"#/definitions/AttachmentRefOrValue"}},"category":{"type":"string","description":"Category of the concrete resource. e.g Gold, Silver for MSISDN concrete resource"},"description":{"type":"string","description":"free-text description of the resource"},"endOperatingDate":{"type":"string","description":"A date time( DateTime). The date till the resource is operating"},"href":{"type":"string","description":"The URI for the object itself."},"id":{"type":"string","description":"Identifier of an instance of the resource. Required to be unique within the resource type.  Used in URIs as the identifier for specific instances of a type."},"name":{"type":"string","description":"A string used to give a name to the resource"},"note":{"type":"array","uniqueItems":true,"items":{"$ref":"#/definitions/Note"}},"operationalState":{"type":"string","enum":["disable","enable"]},"place":{"$ref":"#/definitions/RelatedPlaceRefOrValue"},"relatedParty":{"type":"array","uniqueItems":true,"items":{"$ref":"#/definitions/RelatedParty"}},"resourceCharacteristic":{"type":"array","uniqueItems":true,"items":{"$ref":"#/definitions/CharacteristicRes"}},"resourceRelationship":{"type":"array","uniqueItems":true,"items":{"$ref":"#/definitions/ResourceRelationshipRes"}},"resourceSpecification":{"$ref":"#/definitions/ResourceSpecificationRef"},"resourceStatus":{"type":"string","enum":["alarm","available","reserved","standby","suspended","unknown"]},"resourceVersion":{"type":"string","description":"A field that identifies the specific version of an instance of a resource."},"startOperatingDate":{"type":"string","description":"A date time( DateTime). The date from which the resource is operating"},"usageState":{"type":"string","enum":["active","busy","idle"]}},"title":"ResourceRefOrValueRes","description":"Resource is an abstract entity that describes the common set of attributes shared by all concrete resources. The polymorphic attributes @type, @schemaLocation & @referredType are related to the Resource entity and not the related ResourceRefOrValue class itself"},"ResourceRelationship":{"type":"object","required":["relationshipType","resource"],"properties":{"@baseType":{"type":"string","description":"When sub-classing, this defines the super-class"},"@schemaLocation":{"type":"string","description":"A URI to a JSON-Schema file that defines additional attributes and relationships"},"@type":{"type":"string"},"href":{"type":"string","description":"Unique reference of the entity"},"id":{"type":"string"},"relationshipType":{"type":"string","example":"bundled","description":"Type of the resource relationship, such as [bundled] if the resource is a bundle and you want to describe the bundled resources inside this bundle; [reliesOn] if the resource needs another already owned resource to rely on (eg: an option on an already owned mobile access resource) [targets] or [isTargeted] (depending on the way of expressing the link) for any other kind of links that may be useful"},"resource":{"$ref":"#/definitions/ResourceRefOrValue"},"uuid":{"type":"string"}},"title":"ResourceRelationship","description":"Linked resources to the one instantiate, such as [bundled] if the resource is a bundle and you want to describe the bundled resources inside this bundle; [reliesOn] if the resource needs another already owned resource to rely on (e.g. an option on an already owned mobile access resource) [targets] or [isTargeted] (depending on the way of expressing the link) for any other kind of links that may be useful"},"ResourceRelationshipReq":{"type":"object","required":["relationshipType","resource"],"properties":{"@baseType":{"type":"string","description":"When sub-classing, this defines the super-class"},"@schemaLocation":{"type":"string","description":"A URI to a JSON-Schema file that defines additional attributes and relationships"},"@type":{"type":"string"},"href":{"type":"string","description":"Unique reference of the entity"},"id":{"type":"string"},"relationshipType":{"type":"string","example":"bundled","description":"Type of the resource relationship, such as [bundled] if the resource is a bundle and you want to describe the bundled resources inside this bundle; [reliesOn] if the resource needs another already owned resource to rely on (eg: an option on an already owned mobile access resource) [targets] or [isTargeted] (depending on the way of expressing the link) for any other kind of links that may be useful"},"resource":{"$ref":"#/definitions/ResourceRefOrValueReq"},"uuid":{"type":"string"}},"title":"ResourceRelationshipReq","description":"Linked resources to the one instantiate, such as [bundled] if the resource is a bundle and you want to describe the bundled resources inside this bundle; [reliesOn] if the resource needs another already owned resource to rely on (e.g. an option on an already owned mobile access resource) [targets] or [isTargeted] (depending on the way of expressing the link) for any other kind of links that may be useful"},"ResourceRelationshipRes":{"type":"object","required":["relationshipType","resource"],"properties":{"@baseType":{"type":"string","description":"When sub-classing, this defines the super-class"},"@schemaLocation":{"type":"string","description":"A URI to a JSON-Schema file that defines additional attributes and relationships"},"@type":{"type":"string"},"href":{"type":"string","description":"Unique reference of the entity"},"id":{"type":"string","description":"unique identifier"},"relationshipType":{"type":"string","example":"bundled","description":"Type of the resource relationship, such as [bundled] if the resource is a bundle and you want to describe the bundled resources inside this bundle; [reliesOn] if the resource needs another already owned resource to rely on (eg: an option on an already owned mobile access resource) [targets] or [isTargeted] (depending on the way of expressing the link) for any other kind of links that may be useful"},"resource":{"$ref":"#/definitions/ResourceRefOrValueRes"},"uuid":{"type":"string"}},"title":"ResourceRelationshipRes","description":"Linked resources to the one instantiate, such as [bundled] if the resource is a bundle and you want to describe the bundled resources inside this bundle; [reliesOn] if the resource needs another already owned resource to rely on (e.g. an option on an already owned mobile access resource) [targets] or [isTargeted] (depending on the way of expressing the link) for any other kind of links that may be useful"},"ResourceSpecificationRef":{"type":"object","properties":{"@baseType":{"type":"string","description":"When sub-classing, this defines the super-class"},"@referredType":{"type":"string","description":"The actual type of the target instance when needed for disambiguation."},"@schemaLocation":{"type":"string","description":"A URI to a JSON-Schema file that defines additional attributes and relationships"},"@type":{"type":"string"},"href":{"type":"string","description":"Unique reference of the entity"},"id":{"type":"string"},"name":{"type":"string","description":"Name of the entity"},"version":{"type":"string","description":"Resource specification version"}},"title":"ResourceSpecificationRef","description":"Resource Specification reference: The ResourceSpecification is required to realize a ProductSpecification."},"StackTraceElement":{"type":"object","properties":{"classLoaderName":{"type":"string"},"className":{"type":"string"},"fileName":{"type":"string"},"lineNumber":{"type":"integer","format":"int32"},"methodName":{"type":"string"},"moduleName":{"type":"string"},"moduleVersion":{"type":"string"},"nativeMethod":{"type":"boolean"}},"title":"StackTraceElement"},"Throwable":{"type":"object","properties":{"cause":{"$ref":"#/definitions/Throwable"},"localizedMessage":{"type":"string"},"message":{"type":"string"},"stackTrace":{"type":"array","items":{"$ref":"#/definitions/StackTraceElement"}},"suppressed":{"type":"array","items":{"$ref":"#/definitions/Throwable"}}},"title":"Throwable"},"TimePeriod":{"type":"object","properties":{"endDateTime":{"type":"string","description":"End of the time period, using IETC-RFC-3339 format"},"startDateTime":{"type":"string","description":"Start of the time period, using IETC-RFC-3339 format. If you define a start, you must also define an end"}},"title":"TimePeriod","description":"A period of time, either as a deadline (endDateTime only) a startDateTime only, or both"}}}
