{"swagger":"2.0","info":{"description":"## TMF API Reference: TMF639 - Resource Inventory   ### Release : 19.5 - December 2019  Resource Inventory  API goal is to provide the ability to manage Resources.  ### Operations Resource Inventory API performs the following operations on the resources : - Retrieve an entity or a collection of entities depending on filter criteria - Partial update of an entity (including updating rules) - Create an entity (including default values and creation rules) - Delete an entity (for administration purposes) - Manage notification of events","version":"4.0.0","title":"API Resource Inventory Management","contact":{},"license":{"url":"http://unlicense.org"}},"host":"portal.openslice.io","tags":[{"name":"hub-api-controller","description":"the hub API"},{"name":"listener-api-controller","description":"the listener API"},{"name":"resource-api-controller","description":"the resource API"}],"paths":{"/hub":{"post":{"tags":["events subscription"],"summary":"Register a listener","description":"Sets the communication endpoint address the service instance must use to deliver information about its health state, execution state, failures and metrics.","operationId":"registerListener_6","consumes":["application/json;charset=utf-8"],"produces":["application/json;charset=utf-8"],"parameters":[{"in":"body","name":"body","description":"Data containing the callback endpoint to deliver the information","required":true,"schema":{"$ref":"#/definitions/EventSubscriptionInput"}}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/EventSubscription"}},"201":{"description":"Subscribed","schema":{"$ref":"#/definitions/EventSubscription"}},"400":{"description":"Bad Request","schema":{"$ref":"#/definitions/Error"}},"401":{"description":"Unauthorized","schema":{"$ref":"#/definitions/Error"}},"403":{"description":"Forbidden","schema":{"$ref":"#/definitions/Error"}},"404":{"description":"Not Found","schema":{"$ref":"#/definitions/Error"}},"405":{"description":"Method Not allowed","schema":{"$ref":"#/definitions/Error"}},"409":{"description":"Conflict","schema":{"$ref":"#/definitions/Error"}},"500":{"description":"Internal Server Error","schema":{"$ref":"#/definitions/Error"}}},"security":[{"spring_oauth":["read","write","admin","openapi"]}]}},"/hub/{id}":{"delete":{"tags":["events subscription"],"summary":"Unregister a listener","description":"Resets the communication endpoint address the service instance must use to deliver information about its health state, execution state, failures and metrics.","operationId":"unregisterListener_6","produces":["application/json;charset=utf-8"],"parameters":[{"name":"id","in":"path","description":"The id of the registered listener","required":true,"type":"string"}],"responses":{"200":{"description":"OK"},"204":{"description":"Deleted","schema":{"$ref":"#/definitions/Error"}},"400":{"description":"Bad request","schema":{"$ref":"#/definitions/Error"}},"401":{"description":"Unauthorized","schema":{"$ref":"#/definitions/Error"}},"403":{"description":"Forbidden","schema":{"$ref":"#/definitions/Error"}},"404":{"description":"Not Found","schema":{"$ref":"#/definitions/Error"}},"405":{"description":"Method not allowed","schema":{"$ref":"#/definitions/Error"}},"500":{"description":"Internal Server Error","schema":{"$ref":"#/definitions/Error"}}},"security":[{"spring_oauth":["read","write","admin","openapi"]}]}},"/listener/resourceAttributeValueChangeEvent":{"post":{"tags":["notification listeners (client side)"],"summary":"Client listener for entity ResourceAttributeValueChangeEvent","description":"Example of a client listener for receiving the notification ResourceAttributeValueChangeEvent","operationId":"listenToResourceAttributeValueChangeEvent","consumes":["application/json;charset=utf-8"],"produces":["application/json;charset=utf-8"],"parameters":[{"in":"body","name":"body","description":"The event data","required":true,"schema":{"$ref":"#/definitions/ResourceAttributeValueChangeEvent"}}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/EventSubscription"}},"201":{"description":"Notified","schema":{"$ref":"#/definitions/EventSubscription"}},"400":{"description":"Bad Request","schema":{"$ref":"#/definitions/Error"}},"401":{"description":"Unauthorized","schema":{"$ref":"#/definitions/Error"}},"403":{"description":"Forbidden","schema":{"$ref":"#/definitions/Error"}},"404":{"description":"Not Found","schema":{"$ref":"#/definitions/Error"}},"405":{"description":"Method Not allowed","schema":{"$ref":"#/definitions/Error"}},"409":{"description":"Conflict","schema":{"$ref":"#/definitions/Error"}},"500":{"description":"Internal Server Error","schema":{"$ref":"#/definitions/Error"}}},"security":[{"spring_oauth":["read","write","admin","openapi"]}]}},"/listener/resourceCreateEvent":{"post":{"tags":["notification listeners (client side)"],"summary":"Client listener for entity ResourceCreateEvent","description":"Example of a client listener for receiving the notification ResourceCreateEvent","operationId":"listenToResourceCreateEvent","consumes":["application/json;charset=utf-8"],"produces":["application/json;charset=utf-8"],"parameters":[{"in":"body","name":"body","description":"The event data","required":true,"schema":{"$ref":"#/definitions/ResourceCreateEvent"}}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/EventSubscription"}},"201":{"description":"Notified","schema":{"$ref":"#/definitions/EventSubscription"}},"400":{"description":"Bad Request","schema":{"$ref":"#/definitions/Error"}},"401":{"description":"Unauthorized","schema":{"$ref":"#/definitions/Error"}},"403":{"description":"Forbidden","schema":{"$ref":"#/definitions/Error"}},"404":{"description":"Not Found","schema":{"$ref":"#/definitions/Error"}},"405":{"description":"Method Not allowed","schema":{"$ref":"#/definitions/Error"}},"409":{"description":"Conflict","schema":{"$ref":"#/definitions/Error"}},"500":{"description":"Internal Server Error","schema":{"$ref":"#/definitions/Error"}}},"security":[{"spring_oauth":["read","write","admin","openapi"]}]}},"/listener/resourceDeleteEvent":{"post":{"tags":["notification listeners (client side)"],"summary":"Client listener for entity ResourceDeleteEvent","description":"Example of a client listener for receiving the notification ResourceDeleteEvent","operationId":"listenToResourceDeleteEvent","consumes":["application/json;charset=utf-8"],"produces":["application/json;charset=utf-8"],"parameters":[{"in":"body","name":"body","description":"The event data","required":true,"schema":{"$ref":"#/definitions/ResourceDeleteEvent"}}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/EventSubscription"}},"201":{"description":"Notified","schema":{"$ref":"#/definitions/EventSubscription"}},"400":{"description":"Bad Request","schema":{"$ref":"#/definitions/Error"}},"401":{"description":"Unauthorized","schema":{"$ref":"#/definitions/Error"}},"403":{"description":"Forbidden","schema":{"$ref":"#/definitions/Error"}},"404":{"description":"Not Found","schema":{"$ref":"#/definitions/Error"}},"405":{"description":"Method Not allowed","schema":{"$ref":"#/definitions/Error"}},"409":{"description":"Conflict","schema":{"$ref":"#/definitions/Error"}},"500":{"description":"Internal Server Error","schema":{"$ref":"#/definitions/Error"}}},"security":[{"spring_oauth":["read","write","admin","openapi"]}]}},"/listener/resourceStateChangeEvent":{"post":{"tags":["notification listeners (client side)"],"summary":"Client listener for entity ResourceStateChangeEvent","description":"Example of a client listener for receiving the notification ResourceStateChangeEvent","operationId":"listenToResourceStateChangeEvent","consumes":["application/json;charset=utf-8"],"produces":["application/json;charset=utf-8"],"parameters":[{"in":"body","name":"body","description":"The event data","required":true,"schema":{"$ref":"#/definitions/ResourceStateChangeEvent"}}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/EventSubscription"}},"201":{"description":"Notified","schema":{"$ref":"#/definitions/EventSubscription"}},"400":{"description":"Bad Request","schema":{"$ref":"#/definitions/Error"}},"401":{"description":"Unauthorized","schema":{"$ref":"#/definitions/Error"}},"403":{"description":"Forbidden","schema":{"$ref":"#/definitions/Error"}},"404":{"description":"Not Found","schema":{"$ref":"#/definitions/Error"}},"405":{"description":"Method Not allowed","schema":{"$ref":"#/definitions/Error"}},"409":{"description":"Conflict","schema":{"$ref":"#/definitions/Error"}},"500":{"description":"Internal Server Error","schema":{"$ref":"#/definitions/Error"}}},"security":[{"spring_oauth":["read","write","admin","openapi"]}]}},"/resourceInventoryManagement/v4/resource":{"get":{"tags":["resource"],"summary":"List or find Resource objects","description":"This operation list or find Resource entities","operationId":"listResource","produces":["application/json;charset=utf-8"],"parameters":[{"name":"fields","in":"query","description":"Comma-separated properties to be provided in response","required":false,"type":"string"},{"name":"limit","in":"query","description":"Requested number of resources to be provided in response","required":false,"type":"integer","format":"int32"},{"name":"name","in":"query","required":false,"type":"string"},{"name":"offset","in":"query","description":"Requested index for start of resources to be provided in response","required":false,"type":"integer","format":"int32"}],"responses":{"200":{"description":"Success","schema":{"type":"array","items":{"$ref":"#/definitions/Resource"}}},"400":{"description":"Bad Request","schema":{"$ref":"#/definitions/Error"}},"401":{"description":"Unauthorized","schema":{"$ref":"#/definitions/Error"}},"403":{"description":"Forbidden","schema":{"$ref":"#/definitions/Error"}},"404":{"description":"Not Found","schema":{"$ref":"#/definitions/Error"}},"405":{"description":"Method Not allowed","schema":{"$ref":"#/definitions/Error"}},"409":{"description":"Conflict","schema":{"$ref":"#/definitions/Error"}},"500":{"description":"Internal Server Error","schema":{"$ref":"#/definitions/Error"}}},"security":[{"spring_oauth":["read","write","admin","openapi"]}]},"post":{"tags":["resource"],"summary":"Creates a Resource","description":"This operation creates a Resource entity.","operationId":"createResource","consumes":["application/json;charset=utf-8"],"produces":["application/json;charset=utf-8"],"parameters":[{"name":"name","in":"query","required":false,"type":"string"},{"in":"body","name":"resource","description":"The Resource to be created","required":true,"schema":{"$ref":"#/definitions/ResourceCreate"}}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/Resource"}},"201":{"description":"Created","schema":{"$ref":"#/definitions/Resource"}},"400":{"description":"Bad Request","schema":{"$ref":"#/definitions/Error"}},"401":{"description":"Unauthorized","schema":{"$ref":"#/definitions/Error"}},"403":{"description":"Forbidden","schema":{"$ref":"#/definitions/Error"}},"404":{"description":"Not Found"},"405":{"description":"Method Not allowed","schema":{"$ref":"#/definitions/Error"}},"409":{"description":"Conflict","schema":{"$ref":"#/definitions/Error"}},"500":{"description":"Internal Server Error","schema":{"$ref":"#/definitions/Error"}}},"security":[{"spring_oauth":["read","write","admin","openapi"]}]}},"/resourceInventoryManagement/v4/resource/{id}":{"get":{"tags":["resource"],"summary":"Retrieves a Resource by ID","description":"This operation retrieves a Resource entity. Attribute selection is enabled for all first level attributes.","operationId":"retrieveResource","produces":["application/json;charset=utf-8"],"parameters":[{"name":"fields","in":"query","description":"Comma-separated properties to provide in response","required":false,"type":"string"},{"name":"id","in":"path","description":"Identifier of the Resource","required":true,"type":"string"},{"name":"name","in":"query","required":false,"type":"string"}],"responses":{"200":{"description":"Success","schema":{"$ref":"#/definitions/Resource"}},"400":{"description":"Bad Request","schema":{"$ref":"#/definitions/Error"}},"401":{"description":"Unauthorized","schema":{"$ref":"#/definitions/Error"}},"403":{"description":"Forbidden","schema":{"$ref":"#/definitions/Error"}},"404":{"description":"Not Found","schema":{"$ref":"#/definitions/Error"}},"405":{"description":"Method Not allowed","schema":{"$ref":"#/definitions/Error"}},"409":{"description":"Conflict","schema":{"$ref":"#/definitions/Error"}},"500":{"description":"Internal Server Error","schema":{"$ref":"#/definitions/Error"}}},"security":[{"spring_oauth":["read","write","admin","openapi"]}]},"delete":{"tags":["resource"],"summary":"Deletes a Resource","description":"This operation deletes a Resource entity.","operationId":"deleteResource","produces":["application/json;charset=utf-8"],"parameters":[{"name":"id","in":"path","description":"Identifier of the Resource","required":true,"type":"string"}],"responses":{"200":{"description":"OK"},"204":{"description":"Deleted","schema":{"type":"object"}},"400":{"description":"Bad Request","schema":{"$ref":"#/definitions/Error"}},"401":{"description":"Unauthorized","schema":{"$ref":"#/definitions/Error"}},"403":{"description":"Forbidden","schema":{"$ref":"#/definitions/Error"}},"404":{"description":"Not Found","schema":{"$ref":"#/definitions/Error"}},"405":{"description":"Method Not allowed","schema":{"$ref":"#/definitions/Error"}},"409":{"description":"Conflict","schema":{"$ref":"#/definitions/Error"}},"500":{"description":"Internal Server Error","schema":{"$ref":"#/definitions/Error"}}},"security":[{"spring_oauth":["read","write","admin","openapi"]}]},"patch":{"tags":["resource"],"summary":"Updates partially a Resource","description":"This operation updates partially a Resource entity.","operationId":"patchResource","consumes":["application/json;charset=utf-8"],"produces":["application/json;charset=utf-8"],"parameters":[{"name":"id","in":"path","description":"Identifier of the Resource","required":true,"type":"string"},{"name":"name","in":"query","required":false,"type":"string"},{"in":"body","name":"resource","description":"The Resource to be updated","required":true,"schema":{"$ref":"#/definitions/ResourceUpdate"}}],"responses":{"200":{"description":"Updated","schema":{"$ref":"#/definitions/Resource"}},"204":{"description":"No Content"},"400":{"description":"Bad Request","schema":{"$ref":"#/definitions/Error"}},"401":{"description":"Unauthorized","schema":{"$ref":"#/definitions/Error"}},"403":{"description":"Forbidden","schema":{"$ref":"#/definitions/Error"}},"404":{"description":"Not Found","schema":{"$ref":"#/definitions/Error"}},"405":{"description":"Method Not allowed","schema":{"$ref":"#/definitions/Error"}},"409":{"description":"Conflict","schema":{"$ref":"#/definitions/Error"}},"500":{"description":"Internal Server Error","schema":{"$ref":"#/definitions/Error"}}},"security":[{"spring_oauth":["read","write","admin","openapi"]}]}}},"securityDefinitions":{"spring_oauth":{"type":"oauth2","authorizationUrl":"http://portal.openslice.io/auth/realms/openslice/protocol/openid-connect/auth","tokenUrl":"http://portal.openslice.io/auth/realms/openslice/protocol/openid-connect/token","flow":"accessCode","scopes":{"read":"for read operations","write":"for write operations","admin":"Access admin API","openapi":"Access openapi API"}}},"definitions":{"Any":{"type":"object","properties":{"alias":{"type":"string"},"value":{"type":"string"}},"title":"Any"},"AttachmentRefOrValue":{"type":"object","properties":{"@baseType":{"type":"string","description":"When sub-classing, this defines the super-class"},"@referredType":{"type":"string"},"@schemaLocation":{"type":"string","description":"A URI to a JSON-Schema file that defines additional attributes and relationships"},"@type":{"type":"string"},"atReferredType":{"type":"string","description":"The actual type of the target instance when needed for disambiguation."},"attachmentType":{"type":"string","example":"video","description":"Attachment type such as video, picture"},"content":{"type":"string","description":"The actual contents of the attachment object, if embedded, encoded as base64"},"description":{"type":"string","example":"Photograph of the Product","description":"A narrative text describing the content of the attachment"},"href":{"type":"string","description":"Unique reference of the entity"},"id":{"type":"string","example":"4aafacbd-11ff-4dc8-b445-305f2215715f","description":"Unique identifier for this particular attachment"},"mimeType":{"type":"string","description":"Attachment mime type such as extension file for video, picture and document"},"name":{"type":"string","description":"Name of the entity"},"size":{"$ref":"#/definitions/Quantity"},"url":{"type":"string","example":"http://host/Content/4aafacbd-11ff-4dc8-b445-305f2215715f","description":"Uniform Resource Locator, is a web page address (a subset of URI)"},"uuid":{"type":"string"},"validFor":{"$ref":"#/definitions/TimePeriod"}},"title":"AttachmentRefOrValue","description":"An attachment by value or by reference. An attachment complements the description of an element, for example through a document, a video, a picture."},"Characteristic":{"type":"object","required":["name","value"],"properties":{"@baseType":{"type":"string","description":"When sub-classing, this defines the super-class"},"@schemaLocation":{"type":"string","description":"A URI to a JSON-Schema file that defines additional attributes and relationships"},"@type":{"type":"string"},"characteristicRelationship":{"type":"array","uniqueItems":true,"items":{"$ref":"#/definitions/CharacteristicRelationship"}},"href":{"type":"string","description":"Unique reference of the entity"},"id":{"type":"string"},"name":{"type":"string","description":"Name of the characteristic"},"uuid":{"type":"string"},"value":{"$ref":"#/definitions/Any"},"valueType":{"type":"string","description":"Data type of the value of the characteristic"}},"title":"Characteristic","description":"Describes a given characteristic of an object or entity through a name/value pair."},"CharacteristicRelationship":{"type":"object","properties":{"@baseType":{"type":"string","description":"When sub-classing, this defines the super-class"},"@schemaLocation":{"type":"string","description":"A URI to a JSON-Schema file that defines additional attributes and relationships"},"@type":{"type":"string"},"href":{"type":"string","description":"Unique reference of the entity"},"id":{"type":"string"},"name":{"type":"string","description":"Name of the entity"},"relationshipType":{"type":"string","description":"The type of relationship"},"uuid":{"type":"string"}},"title":"CharacteristicRelationship","description":"Another Characteristic that is related to the current Characteristic;"},"CharacteristicRelationshipReq":{"type":"object","properties":{"@baseType":{"type":"string","description":"When sub-classing, this defines the super-class"},"@schemaLocation":{"type":"string","description":"A URI to a JSON-Schema file that defines additional attributes and relationships"},"@type":{"type":"string"},"href":{"type":"string","description":"Unique reference of the entity"},"id":{"type":"string"},"name":{"type":"string","description":"Name of the entity"},"relationshipType":{"type":"string","description":"The type of relationship"},"uuid":{"type":"string"}},"title":"CharacteristicRelationshipReq","description":"Another Characteristic that is related to the current Characteristic;"},"CharacteristicRelationshipRes":{"type":"object","properties":{"@baseType":{"type":"string","description":"When sub-classing, this defines the super-class"},"@schemaLocation":{"type":"string","description":"A URI to a JSON-Schema file that defines additional attributes and relationships"},"@type":{"type":"string"},"href":{"type":"string","description":"Unique reference of the entity"},"id":{"type":"string","description":"Unique identifier of the characteristic"},"name":{"type":"string","description":"Name of the entity"},"relationshipType":{"type":"string","description":"The type of relationship"},"uuid":{"type":"string"}},"title":"CharacteristicRelationshipRes","description":"Another Characteristic that is related to the current Characteristic;"},"CharacteristicReq":{"type":"object","required":["name","value"],"properties":{"@baseType":{"type":"string","description":"When sub-classing, this defines the super-class"},"@schemaLocation":{"type":"string","description":"A URI to a JSON-Schema file that defines additional attributes and relationships"},"@type":{"type":"string"},"characteristicRelationship":{"type":"array","uniqueItems":true,"items":{"$ref":"#/definitions/CharacteristicRelationshipReq"}},"href":{"type":"string","description":"Unique reference of the entity"},"id":{"type":"string"},"name":{"type":"string","description":"Name of the characteristic"},"uuid":{"type":"string"},"value":{"$ref":"#/definitions/Any"},"valueType":{"type":"string","description":"Data type of the value of the characteristic"}},"title":"CharacteristicReq","description":"Describes a given characteristic of an object or entity through a name/value pair."},"CharacteristicRes":{"type":"object","required":["name","value"],"properties":{"@baseType":{"type":"string","description":"When sub-classing, this defines the super-class"},"@schemaLocation":{"type":"string","description":"A URI to a JSON-Schema file that defines additional attributes and relationships"},"@type":{"type":"string"},"characteristicRelationship":{"type":"array","uniqueItems":true,"items":{"$ref":"#/definitions/CharacteristicRelationshipRes"}},"href":{"type":"string","description":"Unique reference of the entity"},"id":{"type":"string","description":"Unique identifier of the characteristic"},"name":{"type":"string","description":"Name of the characteristic"},"uuid":{"type":"string"},"value":{"$ref":"#/definitions/Any"},"valueType":{"type":"string","description":"Data type of the value of the characteristic"}},"title":"CharacteristicRes","description":"Describes a given characteristic of an object or entity through a name/value pair."},"ConstraintRef":{"type":"object","required":["id"],"properties":{"@baseType":{"type":"string","description":"When sub-classing, this defines the super-class"},"@referredType":{"type":"string"},"@schemaLocation":{"type":"string","description":"A URI to a JSON-Schema file that defines additional attributes and relationships"},"@type":{"type":"string"},"atBaseType":{"type":"string","description":"When sub-classing, this defines the super-class"},"atReferredType":{"type":"string","description":"The actual type of the target instance when needed for disambiguation."},"atSchemaLocation":{"type":"string","description":"A URI to a JSON-Schema file that defines additional attributes and relationships"},"atType":{"type":"string","description":"When sub-classing, this defines the sub-class Extensible name"},"href":{"type":"string","description":"Hyperlink reference"},"id":{"type":"string","description":"unique identifier"},"name":{"type":"string","description":"Name of the related entity."},"uuid":{"type":"string"},"version":{"type":"string","description":"constraint version"}},"title":"ConstraintRef","description":"Constraint reference. The Constraint resource represents a policy/rule applied to an entity or entity spec."},"Error":{"type":"object","required":["code","reason"],"properties":{"@baseType":{"type":"string"},"@schemaLocation":{"type":"string"},"@type":{"type":"string"},"atBaseType":{"type":"string","description":"When sub-classing, this defines the super-class."},"atSchemaLocation":{"type":"string","description":"A URI to a JSON-Schema file that defines additional attributes and relationships"},"atType":{"type":"string","description":"When sub-classing, this defines the sub-class entity name."},"code":{"type":"string","description":"Application relevant detail, defined in the API or a common list."},"message":{"type":"string","description":"More details and corrective actions related to the error which can be shown to a client user."},"reason":{"type":"string","description":"Explanation of the reason for the error which can be shown to a client user."},"referenceError":{"type":"string","description":"URI of documentation describing the error."},"status":{"type":"string","description":"HTTP Error code extension"}},"title":"Error","description":"Used when an API throws an Error, typically with a HTTP error response-code (3xx, 4xx, 5xx)"},"EventSubscription":{"type":"object","required":["callback","id"],"properties":{"callback":{"type":"string","description":"The callback being registered."},"id":{"type":"string","description":"Id of the listener"},"query":{"type":"string","description":"additional data to be passed"}},"title":"EventSubscription","description":"Sets the communication endpoint address the service instance must use to deliver notification information"},"EventSubscriptionInput":{"type":"object","required":["callback"],"properties":{"callback":{"type":"string","description":"The callback being registered."},"query":{"type":"string","description":"additional data to be passed"}},"title":"EventSubscriptionInput","description":"Sets the communication endpoint address the service instance must use to deliver notification information"},"Feature":{"type":"object","required":["featureCharacteristic","name"],"properties":{"constraint":{"type":"array","description":"This is a list of feature constraints.","uniqueItems":true,"items":{"$ref":"#/definitions/ConstraintRef"}},"featureCharacteristic":{"type":"array","description":"This is a list of Characteristics for a particular feature.","uniqueItems":true,"items":{"$ref":"#/definitions/Characteristic"}},"featureRelationship":{"type":"array","uniqueItems":true,"items":{"$ref":"#/definitions/FeatureRelationship"}},"id":{"type":"string"},"isBundle":{"type":"boolean","description":"True if this is a feature group. Default is false."},"isEnabled":{"type":"boolean","description":"True if this feature is enabled. Default is true."},"name":{"type":"string","description":"This is the name for the feature."}},"title":"Feature","description":"Configuration feature."},"FeatureRelationship":{"type":"object","required":["relationshipType"],"properties":{"@baseType":{"type":"string","description":"When sub-classing, this defines the super-class"},"@schemaLocation":{"type":"string","description":"A URI to a JSON-Schema file that defines additional attributes and relationships"},"@type":{"type":"string"},"href":{"type":"string","description":"Unique reference of the entity"},"id":{"type":"string","description":"Unique identifier of the target feature."},"name":{"type":"string","description":"Name of the entity"},"relationshipType":{"type":"string","description":"This is the type of the feature relationship."},"uuid":{"type":"string"},"validFor":{"$ref":"#/definitions/TimePeriod"}},"title":"FeatureRelationship","description":"Configuration feature"},"FeatureReq":{"type":"object","required":["featureCharacteristic","name"],"properties":{"constraint":{"type":"array","description":"This is a list of feature constraints.","uniqueItems":true,"items":{"$ref":"#/definitions/ConstraintRef"}},"featureCharacteristic":{"type":"array","description":"This is a list of Characteristics for a particular feature.","uniqueItems":true,"items":{"$ref":"#/definitions/CharacteristicReq"}},"featureRelationship":{"type":"array","uniqueItems":true,"items":{"$ref":"#/definitions/FeatureRelationship"}},"id":{"type":"string"},"isBundle":{"type":"boolean","description":"True if this is a feature group. Default is false."},"isEnabled":{"type":"boolean","description":"True if this feature is enabled. Default is true."},"name":{"type":"string","description":"This is the name for the feature."}},"title":"FeatureReq","description":"Configuration feature."},"FeatureRes":{"type":"object","required":["featureCharacteristic","name"],"properties":{"constraint":{"type":"array","description":"This is a list of feature constraints.","uniqueItems":true,"items":{"$ref":"#/definitions/ConstraintRef"}},"featureCharacteristic":{"type":"array","description":"This is a list of Characteristics for a particular feature.","uniqueItems":true,"items":{"$ref":"#/definitions/CharacteristicRes"}},"featureRelationship":{"type":"array","uniqueItems":true,"items":{"$ref":"#/definitions/FeatureRelationship"}},"id":{"type":"string","description":"Unique identifier of the feature."},"isBundle":{"type":"boolean","description":"True if this is a feature group. Default is false."},"isEnabled":{"type":"boolean","description":"True if this feature is enabled. Default is true."},"name":{"type":"string","description":"This is the name for the feature."}},"title":"FeatureRes","description":"Configuration feature."},"Note":{"type":"object","properties":{"@baseType":{"type":"string","description":"When sub-classing, this defines the super-class"},"@schemaLocation":{"type":"string","description":"A URI to a JSON-Schema file that defines additional attributes and relationships"},"@type":{"type":"string"},"author":{"type":"string","description":"Author of the note"},"date":{"type":"string","description":"Date of the note"},"href":{"type":"string","description":"Unique reference of the entity"},"system":{"type":"string","description":"Describes the system from which the action related to this note was done"},"text":{"type":"string","description":"Text of the note"},"uuid":{"type":"string"}},"title":"Note","description":"Extra information about a given entity"},"Quantity":{"type":"object","properties":{"amount":{"type":"number","format":"float","description":"Numeric value in a given unit"},"units":{"type":"string","description":"Unit"}},"title":"Quantity","description":"An amount in a given unit"},"RelatedParty":{"type":"object","properties":{"@baseType":{"type":"string","description":"When sub-classing, this defines the super-class"},"@referredType":{"type":"string","description":"The actual type of the target instance when needed for disambiguation."},"@schemaLocation":{"type":"string","description":"A URI to a JSON-Schema file that defines additional attributes and relationships"},"@type":{"type":"string"},"extendedInfo":{"type":"string"},"href":{"type":"string","description":"Unique reference of the entity"},"id":{"type":"string"},"name":{"type":"string","description":"Name of the entity"},"role":{"type":"string","description":"Role of the related party."},"uuid":{"type":"string"}},"title":"RelatedParty","description":"RelatedParty reference. A related party defines party or party role linked to a specific entity."},"RelatedPlaceRefOrValue":{"type":"object","required":["role"],"properties":{"@baseType":{"type":"string","description":"When sub-classing, this defines the super-class"},"@referredType":{"type":"string"},"@schemaLocation":{"type":"string","description":"A URI to a JSON-Schema file that defines additional attributes and relationships"},"@type":{"type":"string"},"atBaseType":{"type":"string","description":"When sub-classing, this defines the super-class"},"atReferredType":{"type":"string","description":"The actual type of the target instance when needed for disambiguation."},"atSchemaLocation":{"type":"string","description":"A URI to a JSON-Schema file that defines additional attributes and relationships"},"atType":{"type":"string","description":"When sub-classing, this defines the sub-class Extensible name"},"href":{"type":"string","description":"Unique reference of the entity"},"id":{"type":"string","description":"Unique identifier of the place"},"name":{"type":"string","description":"Name of the entity"},"role":{"type":"string"},"uuid":{"type":"string"}},"title":"RelatedPlaceRefOrValue","description":"Related Entity reference. A related place defines a place described by reference or by value linked to a specific entity. The polymorphic attributes @type, @schemaLocation & @referredType are related to the place entity and not the RelatedPlaceRefOrValue class itself"},"Resource":{"type":"object","required":["href","id"],"properties":{"@baseType":{"type":"string","description":"When sub-classing, this defines the super-class"},"@schemaLocation":{"type":"string","description":"A URI to a JSON-Schema file that defines additional attributes and relationships"},"@type":{"type":"string"},"activationFeature":{"type":"array","description":"Configuration features","uniqueItems":true,"items":{"$ref":"#/definitions/FeatureRes"}},"administrativeState":{"type":"string","enum":["locked","shutdown","unlocked"]},"attachment":{"type":"array","uniqueItems":true,"items":{"$ref":"#/definitions/AttachmentRefOrValue"}},"category":{"type":"string","description":"Category of the concrete resource. e.g Gold, Silver for MSISDN concrete resource"},"description":{"type":"string","description":"free-text description of the resource"},"endOperatingDate":{"type":"string","description":"A date time( DateTime). The date till the resource is operating"},"href":{"type":"string","description":"The URI for the object itself."},"id":{"type":"string","description":"Identifier of an instance of the resource. Required to be unique within the resource type.  Used in URIs as the identifier for specific instances of a type."},"name":{"type":"string","description":"A string used to give a name to the resource"},"note":{"type":"array","uniqueItems":true,"items":{"$ref":"#/definitions/Note"}},"operationalState":{"type":"string","enum":["disable","enable"]},"place":{"$ref":"#/definitions/RelatedPlaceRefOrValue"},"relatedParty":{"type":"array","uniqueItems":true,"items":{"$ref":"#/definitions/RelatedParty"}},"resourceCharacteristic":{"type":"array","uniqueItems":true,"items":{"$ref":"#/definitions/CharacteristicRes"}},"resourceRelationship":{"type":"array","uniqueItems":true,"items":{"$ref":"#/definitions/ResourceRelationshipRes"}},"resourceSpecification":{"$ref":"#/definitions/ResourceSpecificationRef"},"resourceStatus":{"type":"string","enum":["alarm","available","reserved","standby","suspended","unknown"]},"resourceVersion":{"type":"string","description":"A field that identifies the specific version of an instance of a resource."},"startOperatingDate":{"type":"string","description":"A date time( DateTime). The date from which the resource is operating"},"usageState":{"type":"string","enum":["active","busy","idle"]},"uuid":{"type":"string"}},"title":"Resource","description":"Resource is an abstract entity that describes the common set of attributes shared by all concrete resources (e.g. TPE, EQUIPMENT) in the inventory."},"Resource0":{"type":"object","required":["href"],"properties":{"@baseType":{"type":"string","description":"When sub-classing, this defines the super-class"},"@schemaLocation":{"type":"string","description":"A URI to a JSON-Schema file that defines additional attributes and relationships"},"@type":{"type":"string"},"activationFeature":{"type":"array","description":"Configuration features","uniqueItems":true,"items":{"$ref":"#/definitions/Feature"}},"administrativeState":{"type":"string","enum":["locked","shutdown","unlocked"]},"attachment":{"type":"array","uniqueItems":true,"items":{"$ref":"#/definitions/AttachmentRefOrValue"}},"category":{"type":"string","description":"Category of the concrete resource. e.g Gold, Silver for MSISDN concrete resource"},"description":{"type":"string","description":"free-text description of the resource"},"endOperatingDate":{"type":"string","description":"A date time( DateTime). The date till the resource is operating"},"href":{"type":"string","description":"The URI for the object itself."},"id":{"type":"string"},"name":{"type":"string","description":"A string used to give a name to the resource"},"note":{"type":"array","uniqueItems":true,"items":{"$ref":"#/definitions/Note"}},"operationalState":{"type":"string","enum":["disable","enable"]},"place":{"$ref":"#/definitions/RelatedPlaceRefOrValue"},"relatedParty":{"type":"array","uniqueItems":true,"items":{"$ref":"#/definitions/RelatedParty"}},"resourceCharacteristic":{"type":"array","uniqueItems":true,"items":{"$ref":"#/definitions/Characteristic"}},"resourceRelationship":{"type":"array","uniqueItems":true,"items":{"$ref":"#/definitions/ResourceRelationship"}},"resourceSpecification":{"$ref":"#/definitions/ResourceSpecificationRef"},"resourceStatus":{"type":"string","enum":["alarm","available","reserved","standby","suspended","unknown"]},"resourceVersion":{"type":"string","description":"A field that identifies the specific version of an instance of a resource."},"startOperatingDate":{"type":"string","description":"A date time( DateTime). The date from which the resource is operating"},"usageState":{"type":"string","enum":["active","busy","idle"]},"uuid":{"type":"string"}},"title":"Resource0","description":"Resource is an abstract entity that describes the common set of attributes shared by all concrete resources (e.g. TPE, EQUIPMENT) in the inventory."},"ResourceAttributeValueChangeEvent":{"type":"object","properties":{"correlationId":{"type":"string","description":"The correlation id for this event."},"description":{"type":"string","description":"An explnatory of the event."},"domain":{"type":"string","description":"The domain of the event."},"event":{"$ref":"#/definitions/ResourceAttributeValueChangeEventPayload"},"eventId":{"type":"string","description":"The identifier of the notification."},"eventTime":{"type":"string","format":"date-time","description":"Time of the event occurrence."},"eventType":{"type":"string","description":"The type of the notification."},"fieldPath":{"type":"string","description":"The path identifying the object field concerned by this notification."},"priority":{"type":"string","description":"A priority."},"timeOcurred":{"type":"string","format":"date-time","description":"The time the event occured."},"title":{"type":"string","description":"The title of the event."}},"title":"ResourceAttributeValueChangeEvent","description":"The notification data structure"},"ResourceAttributeValueChangeEventPayload":{"type":"object","properties":{"resource":{"$ref":"#/definitions/Resource"}},"title":"ResourceAttributeValueChangeEventPayload","description":"The event data structure"},"ResourceCreate":{"type":"object","properties":{"@baseType":{"type":"string"},"@schemaLocation":{"type":"string"},"@type":{"type":"string"},"activationFeature":{"type":"array","description":"Configuration features","items":{"$ref":"#/definitions/FeatureReq"}},"administrativeState":{"type":"string","enum":["locked","shutdown","unlocked"]},"atBaseType":{"type":"string","description":"When sub-classing, this defines the super-class"},"atSchemaLocation":{"type":"string","description":"A URI to a JSON-Schema file that defines additional attributes and relationships"},"atType":{"type":"string","description":"When sub-classing, this defines the sub-class Extensible name"},"attachment":{"type":"array","items":{"$ref":"#/definitions/AttachmentRefOrValue"}},"category":{"type":"string","description":"Category of the concrete resource. e.g Gold, Silver for MSISDN concrete resource"},"description":{"type":"string","description":"free-text description of the resource"},"endOperatingDate":{"type":"string","description":"A date time( DateTime). The date till the resource is operating"},"name":{"type":"string","description":"A string used to give a name to the resource"},"note":{"type":"array","items":{"$ref":"#/definitions/Note"}},"operationalState":{"type":"string","enum":["disable","enable"]},"place":{"$ref":"#/definitions/RelatedPlaceRefOrValue"},"relatedParty":{"type":"array","items":{"$ref":"#/definitions/RelatedParty"}},"resourceCharacteristic":{"type":"array","items":{"$ref":"#/definitions/CharacteristicReq"}},"resourceRelationship":{"type":"array","items":{"$ref":"#/definitions/ResourceRelationshipReq"}},"resourceSpecification":{"$ref":"#/definitions/ResourceSpecificationRef"},"resourceStatus":{"type":"string","enum":["alarm","available","reserved","standby","suspended","unknown"]},"resourceVersion":{"type":"string","description":"A field that identifies the specific version of an instance of a resource."},"startOperatingDate":{"type":"string","description":"A date time( DateTime). The date from which the resource is operating"},"usageState":{"type":"string","enum":["active","busy","idle"]}},"title":"ResourceCreate","description":"Resource is an abstract entity that describes the common set of attributes shared by all concrete resources (e.g. TPE, EQUIPMENT) in the inventory. Skipped properties: id,href"},"ResourceCreateEvent":{"type":"object","properties":{"correlationId":{"type":"string","description":"The correlation id for this event."},"description":{"type":"string","description":"An explnatory of the event."},"domain":{"type":"string","description":"The domain of the event."},"event":{"$ref":"#/definitions/ResourceCreateEventPayload"},"eventId":{"type":"string","description":"The identifier of the notification."},"eventTime":{"type":"string","format":"date-time","description":"Time of the event occurrence."},"eventType":{"type":"string","description":"The type of the notification."},"priority":{"type":"string","description":"A priority."},"timeOcurred":{"type":"string","format":"date-time","description":"The time the event occured."},"title":{"type":"string","description":"The title of the event."}},"title":"ResourceCreateEvent","description":"The notification data structure"},"ResourceCreateEventPayload":{"type":"object","properties":{"resource":{"$ref":"#/definitions/Resource0"}},"title":"ResourceCreateEventPayload","description":"The event data structure"},"ResourceDeleteEvent":{"type":"object","properties":{"correlationId":{"type":"string","description":"The correlation id for this event."},"description":{"type":"string","description":"An explnatory of the event."},"domain":{"type":"string","description":"The domain of the event."},"event":{"$ref":"#/definitions/ResourceDeleteEventPayload"},"eventId":{"type":"string","description":"The identifier of the notification."},"eventTime":{"type":"string","format":"date-time","description":"Time of the event occurrence."},"eventType":{"type":"string","description":"The type of the notification."},"priority":{"type":"string","description":"A priority."},"timeOcurred":{"type":"string","format":"date-time","description":"The time the event occured."},"title":{"type":"string","description":"The title of the event."}},"title":"ResourceDeleteEvent","description":"The notification data structure"},"ResourceDeleteEventPayload":{"type":"object","properties":{"resource":{"$ref":"#/definitions/Resource"}},"title":"ResourceDeleteEventPayload","description":"The event data structure"},"ResourceRefOrValue":{"type":"object","required":["href"],"properties":{"@baseType":{"type":"string","description":"When sub-classing, this defines the super-class"},"@schemaLocation":{"type":"string","description":"A URI to a JSON-Schema file that defines additional attributes and relationships"},"@type":{"type":"string"},"activationFeature":{"type":"array","description":"Configuration features","uniqueItems":true,"items":{"$ref":"#/definitions/Feature"}},"administrativeState":{"type":"string","enum":["locked","shutdown","unlocked"]},"attachment":{"type":"array","uniqueItems":true,"items":{"$ref":"#/definitions/AttachmentRefOrValue"}},"category":{"type":"string","description":"Category of the concrete resource. e.g Gold, Silver for MSISDN concrete resource"},"description":{"type":"string","description":"free-text description of the resource"},"endOperatingDate":{"type":"string","description":"A date time( DateTime). The date till the resource is operating"},"href":{"type":"string","description":"The URI for the object itself."},"id":{"type":"string"},"name":{"type":"string","description":"A string used to give a name to the resource"},"note":{"type":"array","uniqueItems":true,"items":{"$ref":"#/definitions/Note"}},"operationalState":{"type":"string","enum":["disable","enable"]},"place":{"$ref":"#/definitions/RelatedPlaceRefOrValue"},"relatedParty":{"type":"array","uniqueItems":true,"items":{"$ref":"#/definitions/RelatedParty"}},"resourceCharacteristic":{"type":"array","uniqueItems":true,"items":{"$ref":"#/definitions/Characteristic"}},"resourceRelationship":{"type":"array","uniqueItems":true,"items":{"$ref":"#/definitions/ResourceRelationship"}},"resourceSpecification":{"$ref":"#/definitions/ResourceSpecificationRef"},"resourceStatus":{"type":"string","enum":["alarm","available","reserved","standby","suspended","unknown"]},"resourceVersion":{"type":"string","description":"A field that identifies the specific version of an instance of a resource."},"startOperatingDate":{"type":"string","description":"A date time( DateTime). The date from which the resource is operating"},"usageState":{"type":"string","enum":["active","busy","idle"]},"uuid":{"type":"string"}},"title":"ResourceRefOrValue","description":"Resource is an abstract entity that describes the common set of attributes shared by all concrete resources. The polymorphic attributes @type, @schemaLocation & @referredType are related to the Resource entity and not the related ResourceRefOrValue class itself"},"ResourceRefOrValueReq":{"type":"object","required":["href"],"properties":{"@baseType":{"type":"string","description":"When sub-classing, this defines the super-class"},"@schemaLocation":{"type":"string","description":"A URI to a JSON-Schema file that defines additional attributes and relationships"},"@type":{"type":"string"},"activationFeature":{"type":"array","description":"Configuration features","uniqueItems":true,"items":{"$ref":"#/definitions/FeatureReq"}},"administrativeState":{"type":"string","enum":["locked","shutdown","unlocked"]},"attachment":{"type":"array","uniqueItems":true,"items":{"$ref":"#/definitions/AttachmentRefOrValue"}},"category":{"type":"string","description":"Category of the concrete resource. e.g Gold, Silver for MSISDN concrete resource"},"description":{"type":"string","description":"free-text description of the resource"},"endOperatingDate":{"type":"string","description":"A date time( DateTime). The date till the resource is operating"},"href":{"type":"string","description":"The URI for the object itself."},"id":{"type":"string"},"name":{"type":"string","description":"A string used to give a name to the resource"},"note":{"type":"array","uniqueItems":true,"items":{"$ref":"#/definitions/Note"}},"operationalState":{"type":"string","enum":["disable","enable"]},"place":{"$ref":"#/definitions/RelatedPlaceRefOrValue"},"relatedParty":{"type":"array","uniqueItems":true,"items":{"$ref":"#/definitions/RelatedParty"}},"resourceCharacteristic":{"type":"array","uniqueItems":true,"items":{"$ref":"#/definitions/CharacteristicReq"}},"resourceRelationship":{"type":"array","uniqueItems":true,"items":{"$ref":"#/definitions/ResourceRelationshipReq"}},"resourceSpecification":{"$ref":"#/definitions/ResourceSpecificationRef"},"resourceStatus":{"type":"string","enum":["alarm","available","reserved","standby","suspended","unknown"]},"resourceVersion":{"type":"string","description":"A field that identifies the specific version of an instance of a resource."},"startOperatingDate":{"type":"string","description":"A date time( DateTime). The date from which the resource is operating"},"usageState":{"type":"string","enum":["active","busy","idle"]},"uuid":{"type":"string"}},"title":"ResourceRefOrValueReq","description":"Resource is an abstract entity that describes the common set of attributes shared by all concrete resources. The polymorphic attributes @type, @schemaLocation & @referredType are related to the Resource entity and not the related ResourceRefOrValue class itself"},"ResourceRefOrValueRes":{"type":"object","required":["href","id"],"properties":{"@baseType":{"type":"string","description":"When sub-classing, this defines the super-class"},"@schemaLocation":{"type":"string","description":"A URI to a JSON-Schema file that defines additional attributes and relationships"},"@type":{"type":"string"},"activationFeature":{"type":"array","description":"Configuration features","uniqueItems":true,"items":{"$ref":"#/definitions/FeatureRes"}},"administrativeState":{"type":"string","enum":["locked","shutdown","unlocked"]},"attachment":{"type":"array","uniqueItems":true,"items":{"$ref":"#/definitions/AttachmentRefOrValue"}},"category":{"type":"string","description":"Category of the concrete resource. e.g Gold, Silver for MSISDN concrete resource"},"description":{"type":"string","description":"free-text description of the resource"},"endOperatingDate":{"type":"string","description":"A date time( DateTime). The date till the resource is operating"},"href":{"type":"string","description":"The URI for the object itself."},"id":{"type":"string","description":"Identifier of an instance of the resource. Required to be unique within the resource type.  Used in URIs as the identifier for specific instances of a type."},"name":{"type":"string","description":"A string used to give a name to the resource"},"note":{"type":"array","uniqueItems":true,"items":{"$ref":"#/definitions/Note"}},"operationalState":{"type":"string","enum":["disable","enable"]},"place":{"$ref":"#/definitions/RelatedPlaceRefOrValue"},"relatedParty":{"type":"array","uniqueItems":true,"items":{"$ref":"#/definitions/RelatedParty"}},"resourceCharacteristic":{"type":"array","uniqueItems":true,"items":{"$ref":"#/definitions/CharacteristicRes"}},"resourceRelationship":{"type":"array","uniqueItems":true,"items":{"$ref":"#/definitions/ResourceRelationshipRes"}},"resourceSpecification":{"$ref":"#/definitions/ResourceSpecificationRef"},"resourceStatus":{"type":"string","enum":["alarm","available","reserved","standby","suspended","unknown"]},"resourceVersion":{"type":"string","description":"A field that identifies the specific version of an instance of a resource."},"startOperatingDate":{"type":"string","description":"A date time( DateTime). The date from which the resource is operating"},"usageState":{"type":"string","enum":["active","busy","idle"]},"uuid":{"type":"string"}},"title":"ResourceRefOrValueRes","description":"Resource is an abstract entity that describes the common set of attributes shared by all concrete resources. The polymorphic attributes @type, @schemaLocation & @referredType are related to the Resource entity and not the related ResourceRefOrValue class itself"},"ResourceRelationship":{"type":"object","required":["relationshipType","resource"],"properties":{"@baseType":{"type":"string","description":"When sub-classing, this defines the super-class"},"@schemaLocation":{"type":"string","description":"A URI to a JSON-Schema file that defines additional attributes and relationships"},"@type":{"type":"string"},"href":{"type":"string","description":"Unique reference of the entity"},"id":{"type":"string"},"relationshipType":{"type":"string","example":"bundled","description":"Type of the resource relationship, such as [bundled] if the resource is a bundle and you want to describe the bundled resources inside this bundle; [reliesOn] if the resource needs another already owned resource to rely on (eg: an option on an already owned mobile access resource) [targets] or [isTargeted] (depending on the way of expressing the link) for any other kind of links that may be useful"},"resource":{"$ref":"#/definitions/ResourceRefOrValue"},"uuid":{"type":"string"}},"title":"ResourceRelationship","description":"Linked resources to the one instantiate, such as [bundled] if the resource is a bundle and you want to describe the bundled resources inside this bundle; [reliesOn] if the resource needs another already owned resource to rely on (e.g. an option on an already owned mobile access resource) [targets] or [isTargeted] (depending on the way of expressing the link) for any other kind of links that may be useful"},"ResourceRelationshipReq":{"type":"object","required":["relationshipType","resource"],"properties":{"@baseType":{"type":"string","description":"When sub-classing, this defines the super-class"},"@schemaLocation":{"type":"string","description":"A URI to a JSON-Schema file that defines additional attributes and relationships"},"@type":{"type":"string"},"href":{"type":"string","description":"Unique reference of the entity"},"id":{"type":"string"},"relationshipType":{"type":"string","example":"bundled","description":"Type of the resource relationship, such as [bundled] if the resource is a bundle and you want to describe the bundled resources inside this bundle; [reliesOn] if the resource needs another already owned resource to rely on (eg: an option on an already owned mobile access resource) [targets] or [isTargeted] (depending on the way of expressing the link) for any other kind of links that may be useful"},"resource":{"$ref":"#/definitions/ResourceRefOrValueReq"},"uuid":{"type":"string"}},"title":"ResourceRelationshipReq","description":"Linked resources to the one instantiate, such as [bundled] if the resource is a bundle and you want to describe the bundled resources inside this bundle; [reliesOn] if the resource needs another already owned resource to rely on (e.g. an option on an already owned mobile access resource) [targets] or [isTargeted] (depending on the way of expressing the link) for any other kind of links that may be useful"},"ResourceRelationshipRes":{"type":"object","required":["relationshipType","resource"],"properties":{"@baseType":{"type":"string","description":"When sub-classing, this defines the super-class"},"@schemaLocation":{"type":"string","description":"A URI to a JSON-Schema file that defines additional attributes and relationships"},"@type":{"type":"string"},"href":{"type":"string","description":"Unique reference of the entity"},"id":{"type":"string","description":"unique identifier"},"relationshipType":{"type":"string","example":"bundled","description":"Type of the resource relationship, such as [bundled] if the resource is a bundle and you want to describe the bundled resources inside this bundle; [reliesOn] if the resource needs another already owned resource to rely on (eg: an option on an already owned mobile access resource) [targets] or [isTargeted] (depending on the way of expressing the link) for any other kind of links that may be useful"},"resource":{"$ref":"#/definitions/ResourceRefOrValueRes"},"uuid":{"type":"string"}},"title":"ResourceRelationshipRes","description":"Linked resources to the one instantiate, such as [bundled] if the resource is a bundle and you want to describe the bundled resources inside this bundle; [reliesOn] if the resource needs another already owned resource to rely on (e.g. an option on an already owned mobile access resource) [targets] or [isTargeted] (depending on the way of expressing the link) for any other kind of links that may be useful"},"ResourceSpecificationRef":{"type":"object","required":["id"],"properties":{"@baseType":{"type":"string","description":"When sub-classing, this defines the super-class"},"@referredType":{"type":"string"},"@schemaLocation":{"type":"string","description":"A URI to a JSON-Schema file that defines additional attributes and relationships"},"@type":{"type":"string"},"atReferredType":{"type":"string","description":"The actual type of the target instance when needed for disambiguation."},"href":{"type":"string","description":"Unique reference of the entity"},"id":{"type":"string","description":"unique identifier"},"name":{"type":"string","description":"Name of the entity"},"uuid":{"type":"string"},"version":{"type":"string","description":"Resource Specification version"}},"title":"ResourceSpecificationRef","description":"Resources are physical or non-physical components (or some combination of these) within an enterprise's infrastructure or inventory. They are typically consumed or used by services (for example a physical port assigned to a service) or contribute to the realization of a Product (for example, a SIM card). They can be drawn from the Application, Computing and Network domains, and include, for example, Network Elements, software, IT systems, content and information, and technology components. A ResourceSpecification is an abstract base class for representing a generic means for implementing a particular type of Resource. In essence, a ResourceSpecification defines the common attributes and relationships of a set of related Resources, while Resource defines a specific instance that is based on a particular ResourceSpecification."},"ResourceStateChangeEvent":{"type":"object","properties":{"correlationId":{"type":"string","description":"The correlation id for this event."},"description":{"type":"string","description":"An explnatory of the event."},"domain":{"type":"string","description":"The domain of the event."},"event":{"$ref":"#/definitions/ResourceStateChangeEventPayload"},"eventId":{"type":"string","description":"The identifier of the notification."},"eventTime":{"type":"string","format":"date-time","description":"Time of the event occurrence."},"eventType":{"type":"string","description":"The type of the notification."},"priority":{"type":"string","description":"A priority."},"timeOcurred":{"type":"string","format":"date-time","description":"The time the event occured."},"title":{"type":"string","description":"The title of the event."}},"title":"ResourceStateChangeEvent","description":"The notification data structure"},"ResourceStateChangeEventPayload":{"type":"object","properties":{"resource":{"$ref":"#/definitions/Resource"}},"title":"ResourceStateChangeEventPayload","description":"The event data structure"},"ResourceUpdate":{"type":"object","properties":{"@baseType":{"type":"string"},"@schemaLocation":{"type":"string"},"@type":{"type":"string"},"activationFeature":{"type":"array","description":"Configuration features","items":{"$ref":"#/definitions/FeatureReq"}},"administrativeState":{"type":"string","enum":["locked","shutdown","unlocked"]},"atBaseType":{"type":"string","description":"When sub-classing, this defines the super-class"},"atSchemaLocation":{"type":"string","description":"A URI to a JSON-Schema file that defines additional attributes and relationships"},"atType":{"type":"string","description":"When sub-classing, this defines the sub-class Extensible name"},"attachment":{"type":"array","items":{"$ref":"#/definitions/AttachmentRefOrValue"}},"category":{"type":"string","description":"Category of the concrete resource. e.g Gold, Silver for MSISDN concrete resource"},"description":{"type":"string","description":"free-text description of the resource"},"endOperatingDate":{"type":"string","description":"A date time( DateTime). The date till the resource is operating"},"name":{"type":"string","description":"A string used to give a name to the resource"},"note":{"type":"array","items":{"$ref":"#/definitions/Note"}},"operationalState":{"type":"string","enum":["disable","enable"]},"place":{"$ref":"#/definitions/RelatedPlaceRefOrValue"},"relatedParty":{"type":"array","items":{"$ref":"#/definitions/RelatedParty"}},"resourceCharacteristic":{"type":"array","items":{"$ref":"#/definitions/CharacteristicReq"}},"resourceRelationship":{"type":"array","items":{"$ref":"#/definitions/ResourceRelationshipReq"}},"resourceSpecification":{"$ref":"#/definitions/ResourceSpecificationRef"},"resourceStatus":{"type":"string","enum":["alarm","available","reserved","standby","suspended","unknown"]},"resourceVersion":{"type":"string","description":"A field that identifies the specific version of an instance of a resource."},"startOperatingDate":{"type":"string","description":"A date time( DateTime). The date from which the resource is operating"},"usageState":{"type":"string","enum":["active","busy","idle"]}},"title":"ResourceUpdate","description":"Resource is an abstract entity that describes the common set of attributes shared by all concrete resources (e.g. TPE, EQUIPMENT) in the inventory. Skipped properties: id,href"},"TimePeriod":{"type":"object","properties":{"endDateTime":{"type":"string","description":"End of the time period, using IETC-RFC-3339 format"},"startDateTime":{"type":"string","description":"Start of the time period, using IETC-RFC-3339 format. If you define a start, you must also define an end"}},"title":"TimePeriod","description":"A period of time, either as a deadline (endDateTime only) a startDateTime only, or both"}}}
