{"swagger":"2.0","info":{"description":"This is Swagger UI environment generated for the TMF Resource Catalog Management specification","version":"4.0","title":"Resource Catalog Management","contact":{},"license":{"url":"http://www.apache.org/licenses/LICENSE-2.0.html"}},"host":"portal.openslice.io","tags":[{"name":"export-job-api-controller","description":"the exportJob API"},{"name":"hub-api-controller","description":"the hub API"},{"name":"import-job-api-controller","description":"the importJob API"},{"name":"listener-api-controller","description":"the listener API"},{"name":"resource-candidate-api-controller","description":"the resourceCandidate API"},{"name":"resource-catalog-api-controller","description":"the resourceCatalog API"},{"name":"resource-category-api-controller","description":"the resourceCategory API"},{"name":"resource-specification-api-controller","description":"the resourceSpecification API"}],"paths":{"/exportJob":{"get":{"tags":["exportJob"],"summary":"List or find ExportJob objects","description":"This operation list or find ExportJob entities","operationId":"listExportJob_2","produces":["application/json;charset=utf-8"],"parameters":[{"name":"fields","in":"query","description":"Comma-separated properties to be provided in response","required":false,"type":"string"},{"name":"limit","in":"query","description":"Requested number of resources to be provided in response","required":false,"type":"integer","format":"int32"},{"name":"offset","in":"query","description":"Requested index for start of resources to be provided in response","required":false,"type":"integer","format":"int32"}],"responses":{"200":{"description":"Success","schema":{"type":"array","items":{"$ref":"#/definitions/ExportJob"}}},"400":{"description":"Bad Request","schema":{"$ref":"#/definitions/Error"}},"401":{"description":"Unauthorized","schema":{"$ref":"#/definitions/Error"}},"403":{"description":"Forbidden","schema":{"$ref":"#/definitions/Error"}},"404":{"description":"Not Found","schema":{"$ref":"#/definitions/Error"}},"405":{"description":"Method Not allowed","schema":{"$ref":"#/definitions/Error"}},"409":{"description":"Conflict","schema":{"$ref":"#/definitions/Error"}},"500":{"description":"Internal Server Error","schema":{"$ref":"#/definitions/Error"}}},"security":[{"spring_oauth":["read","write","admin","openapi"]}]},"post":{"tags":["exportJob"],"summary":"Creates a ExportJob","description":"This operation creates a ExportJob entity.","operationId":"createExportJob_2","consumes":["application/json;charset=utf-8"],"produces":["application/json;charset=utf-8"],"parameters":[{"in":"body","name":"body","description":"The ExportJob to be created","required":true,"schema":{"$ref":"#/definitions/ExportJobCreate"}}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/ExportJob"}},"201":{"description":"Created","schema":{"$ref":"#/definitions/ExportJob"}},"400":{"description":"Bad Request","schema":{"$ref":"#/definitions/Error"}},"401":{"description":"Unauthorized","schema":{"$ref":"#/definitions/Error"}},"403":{"description":"Forbidden","schema":{"$ref":"#/definitions/Error"}},"404":{"description":"Not Found"},"405":{"description":"Method Not allowed","schema":{"$ref":"#/definitions/Error"}},"409":{"description":"Conflict","schema":{"$ref":"#/definitions/Error"}},"500":{"description":"Internal Server Error","schema":{"$ref":"#/definitions/Error"}}},"security":[{"spring_oauth":["read","write","admin","openapi"]}]}},"/exportJob/{id}":{"get":{"tags":["exportJob"],"summary":"Retrieves a ExportJob by ID","description":"This operation retrieves a ExportJob entity. Attribute selection is enabled for all first level attributes.","operationId":"retrieveExportJob_2","produces":["application/json;charset=utf-8"],"parameters":[{"name":"fields","in":"query","description":"Comma-separated properties to provide in response","required":false,"type":"string"},{"name":"id","in":"path","description":"Identifier of the ExportJob","required":true,"type":"string"}],"responses":{"200":{"description":"Success","schema":{"$ref":"#/definitions/ExportJob"}},"400":{"description":"Bad Request","schema":{"$ref":"#/definitions/Error"}},"401":{"description":"Unauthorized","schema":{"$ref":"#/definitions/Error"}},"403":{"description":"Forbidden","schema":{"$ref":"#/definitions/Error"}},"404":{"description":"Not Found","schema":{"$ref":"#/definitions/Error"}},"405":{"description":"Method Not allowed","schema":{"$ref":"#/definitions/Error"}},"409":{"description":"Conflict","schema":{"$ref":"#/definitions/Error"}},"500":{"description":"Internal Server Error","schema":{"$ref":"#/definitions/Error"}}},"security":[{"spring_oauth":["read","write","admin","openapi"]}]},"delete":{"tags":["exportJob"],"summary":"Deletes a ExportJob","description":"This operation deletes a ExportJob entity.","operationId":"deleteExportJob_2","produces":["application/json;charset=utf-8"],"parameters":[{"name":"id","in":"path","description":"Identifier of the ExportJob","required":true,"type":"string"}],"responses":{"200":{"description":"OK"},"204":{"description":"Deleted","schema":{"$ref":"#/definitions/Error"}},"400":{"description":"Bad Request","schema":{"$ref":"#/definitions/Error"}},"401":{"description":"Unauthorized","schema":{"$ref":"#/definitions/Error"}},"403":{"description":"Forbidden","schema":{"$ref":"#/definitions/Error"}},"404":{"description":"Not Found","schema":{"$ref":"#/definitions/Error"}},"405":{"description":"Method Not allowed","schema":{"$ref":"#/definitions/Error"}},"409":{"description":"Conflict","schema":{"$ref":"#/definitions/Error"}},"500":{"description":"Internal Server Error","schema":{"$ref":"#/definitions/Error"}}},"security":[{"spring_oauth":["read","write","admin","openapi"]}]}},"/importJob":{"get":{"tags":["importJob"],"summary":"List or find ImportJob objects","description":"This operation list or find ImportJob entities","operationId":"listImportJob_2","produces":["application/json;charset=utf-8"],"parameters":[{"name":"fields","in":"query","description":"Comma-separated properties to be provided in response","required":false,"type":"string"},{"name":"limit","in":"query","description":"Requested number of resources to be provided in response","required":false,"type":"integer","format":"int32"},{"name":"offset","in":"query","description":"Requested index for start of resources to be provided in response","required":false,"type":"integer","format":"int32"}],"responses":{"200":{"description":"Success","schema":{"type":"array","items":{"$ref":"#/definitions/ImportJob"}}},"400":{"description":"Bad Request","schema":{"$ref":"#/definitions/Error"}},"401":{"description":"Unauthorized","schema":{"$ref":"#/definitions/Error"}},"403":{"description":"Forbidden","schema":{"$ref":"#/definitions/Error"}},"404":{"description":"Not Found","schema":{"$ref":"#/definitions/Error"}},"405":{"description":"Method Not allowed","schema":{"$ref":"#/definitions/Error"}},"409":{"description":"Conflict","schema":{"$ref":"#/definitions/Error"}},"500":{"description":"Internal Server Error","schema":{"$ref":"#/definitions/Error"}}},"security":[{"spring_oauth":["read","write","admin","openapi"]}]},"post":{"tags":["importJob"],"summary":"Creates a ImportJob","description":"This operation creates a ImportJob entity.","operationId":"createImportJob_2","consumes":["application/json;charset=utf-8"],"produces":["application/json;charset=utf-8"],"parameters":[{"in":"body","name":"body","description":"The ImportJob to be created","required":true,"schema":{"$ref":"#/definitions/ImportJobCreate"}}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/ImportJob"}},"201":{"description":"Created","schema":{"$ref":"#/definitions/ImportJob"}},"400":{"description":"Bad Request","schema":{"$ref":"#/definitions/Error"}},"401":{"description":"Unauthorized","schema":{"$ref":"#/definitions/Error"}},"403":{"description":"Forbidden","schema":{"$ref":"#/definitions/Error"}},"404":{"description":"Not Found"},"405":{"description":"Method Not allowed","schema":{"$ref":"#/definitions/Error"}},"409":{"description":"Conflict","schema":{"$ref":"#/definitions/Error"}},"500":{"description":"Internal Server Error","schema":{"$ref":"#/definitions/Error"}}},"security":[{"spring_oauth":["read","write","admin","openapi"]}]}},"/importJob/{id}":{"get":{"tags":["importJob"],"summary":"Retrieves a ImportJob by ID","description":"This operation retrieves a ImportJob entity. Attribute selection is enabled for all first level attributes.","operationId":"retrieveImportJob_2","produces":["application/json;charset=utf-8"],"parameters":[{"name":"fields","in":"query","description":"Comma-separated properties to provide in response","required":false,"type":"string"},{"name":"id","in":"path","description":"Identifier of the ImportJob","required":true,"type":"string"}],"responses":{"200":{"description":"Success","schema":{"$ref":"#/definitions/ImportJob"}},"400":{"description":"Bad Request","schema":{"$ref":"#/definitions/Error"}},"401":{"description":"Unauthorized","schema":{"$ref":"#/definitions/Error"}},"403":{"description":"Forbidden","schema":{"$ref":"#/definitions/Error"}},"404":{"description":"Not Found","schema":{"$ref":"#/definitions/Error"}},"405":{"description":"Method Not allowed","schema":{"$ref":"#/definitions/Error"}},"409":{"description":"Conflict","schema":{"$ref":"#/definitions/Error"}},"500":{"description":"Internal Server Error","schema":{"$ref":"#/definitions/Error"}}},"security":[{"spring_oauth":["read","write","admin","openapi"]}]},"delete":{"tags":["importJob"],"summary":"Deletes a ImportJob","description":"This operation deletes a ImportJob entity.","operationId":"deleteImportJob_2","produces":["application/json;charset=utf-8"],"parameters":[{"name":"id","in":"path","description":"Identifier of the ImportJob","required":true,"type":"string"}],"responses":{"200":{"description":"OK"},"204":{"description":"Deleted","schema":{"$ref":"#/definitions/Error"}},"400":{"description":"Bad Request","schema":{"$ref":"#/definitions/Error"}},"401":{"description":"Unauthorized","schema":{"$ref":"#/definitions/Error"}},"403":{"description":"Forbidden","schema":{"$ref":"#/definitions/Error"}},"404":{"description":"Not Found","schema":{"$ref":"#/definitions/Error"}},"405":{"description":"Method Not allowed","schema":{"$ref":"#/definitions/Error"}},"409":{"description":"Conflict","schema":{"$ref":"#/definitions/Error"}},"500":{"description":"Internal Server Error","schema":{"$ref":"#/definitions/Error"}}},"security":[{"spring_oauth":["read","write","admin","openapi"]}]}},"/resourceCatalogManagement/v4/hub":{"post":{"tags":["events subscription"],"summary":"Register a listener","description":"Sets the communication endpoint address the service instance must use to deliver information about its health state, execution state, failures and metrics.","operationId":"registerListener_4","consumes":["application/json;charset=utf-8"],"produces":["application/json;charset=utf-8"],"parameters":[{"in":"body","name":"body","description":"Data containing the callback endpoint to deliver the information","required":true,"schema":{"$ref":"#/definitions/EventSubscriptionInput"}}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/EventSubscription"}},"201":{"description":"Subscribed","schema":{"$ref":"#/definitions/EventSubscription"}},"400":{"description":"Bad Request","schema":{"$ref":"#/definitions/Error"}},"401":{"description":"Unauthorized","schema":{"$ref":"#/definitions/Error"}},"403":{"description":"Forbidden","schema":{"$ref":"#/definitions/Error"}},"404":{"description":"Not Found","schema":{"$ref":"#/definitions/Error"}},"405":{"description":"Method Not allowed","schema":{"$ref":"#/definitions/Error"}},"409":{"description":"Conflict","schema":{"$ref":"#/definitions/Error"}},"500":{"description":"Internal Server Error","schema":{"$ref":"#/definitions/Error"}}},"security":[{"spring_oauth":["read","write","admin","openapi"]}]}},"/resourceCatalogManagement/v4/hub/{id}":{"delete":{"tags":["events subscription"],"summary":"Unregister a listener","description":"Resets the communication endpoint address the service instance must use to deliver information about its health state, execution state, failures and metrics.","operationId":"unregisterListener_4","produces":["application/json;charset=utf-8"],"parameters":[{"name":"id","in":"path","description":"The id of the registered listener","required":true,"type":"string"}],"responses":{"200":{"description":"OK"},"204":{"description":"Deleted","schema":{"$ref":"#/definitions/Error"}},"400":{"description":"Bad request","schema":{"$ref":"#/definitions/Error"}},"401":{"description":"Unauthorized","schema":{"$ref":"#/definitions/Error"}},"403":{"description":"Forbidden","schema":{"$ref":"#/definitions/Error"}},"404":{"description":"Not Found","schema":{"$ref":"#/definitions/Error"}},"405":{"description":"Method not allowed","schema":{"$ref":"#/definitions/Error"}},"500":{"description":"Internal Server Error","schema":{"$ref":"#/definitions/Error"}}},"security":[{"spring_oauth":["read","write","admin","openapi"]}]}},"/resourceCatalogManagement/v4/listener/exportJobCreateEvent":{"post":{"tags":["notification listeners (client side)"],"summary":"Client listener for entity ExportJobCreateEvent","description":"Example of a client listener for receiving the notification ExportJobCreateEvent","operationId":"listenToExportJobCreateEvent","consumes":["application/json;charset=utf-8"],"produces":["application/json;charset=utf-8"],"parameters":[{"in":"body","name":"body","description":"The event data","required":true,"schema":{"$ref":"#/definitions/ExportJobCreateEvent"}}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/EventSubscription"}},"201":{"description":"Notified","schema":{"$ref":"#/definitions/EventSubscription"}},"400":{"description":"Bad Request","schema":{"$ref":"#/definitions/Error"}},"401":{"description":"Unauthorized","schema":{"$ref":"#/definitions/Error"}},"403":{"description":"Forbidden","schema":{"$ref":"#/definitions/Error"}},"404":{"description":"Not Found","schema":{"$ref":"#/definitions/Error"}},"405":{"description":"Method Not allowed","schema":{"$ref":"#/definitions/Error"}},"409":{"description":"Conflict","schema":{"$ref":"#/definitions/Error"}},"500":{"description":"Internal Server Error","schema":{"$ref":"#/definitions/Error"}}},"security":[{"spring_oauth":["read","write","admin","openapi"]}]}},"/resourceCatalogManagement/v4/listener/exportJobStateChangeEvent":{"post":{"tags":["notification listeners (client side)"],"summary":"Client listener for entity ExportJobStateChangeEvent","description":"Example of a client listener for receiving the notification ExportJobStateChangeEvent","operationId":"listenToExportJobStateChangeEvent","consumes":["application/json;charset=utf-8"],"produces":["application/json;charset=utf-8"],"parameters":[{"in":"body","name":"body","description":"The event data","required":true,"schema":{"$ref":"#/definitions/ExportJobStateChangeEvent"}}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/EventSubscription"}},"201":{"description":"Notified","schema":{"$ref":"#/definitions/EventSubscription"}},"400":{"description":"Bad Request","schema":{"$ref":"#/definitions/Error"}},"401":{"description":"Unauthorized","schema":{"$ref":"#/definitions/Error"}},"403":{"description":"Forbidden","schema":{"$ref":"#/definitions/Error"}},"404":{"description":"Not Found","schema":{"$ref":"#/definitions/Error"}},"405":{"description":"Method Not allowed","schema":{"$ref":"#/definitions/Error"}},"409":{"description":"Conflict","schema":{"$ref":"#/definitions/Error"}},"500":{"description":"Internal Server Error","schema":{"$ref":"#/definitions/Error"}}},"security":[{"spring_oauth":["read","write","admin","openapi"]}]}},"/resourceCatalogManagement/v4/listener/importJobCreateEvent":{"post":{"tags":["notification listeners (client side)"],"summary":"Client listener for entity ImportJobCreateEvent","description":"Example of a client listener for receiving the notification ImportJobCreateEvent","operationId":"listenToImportJobCreateEvent","consumes":["application/json;charset=utf-8"],"produces":["application/json;charset=utf-8"],"parameters":[{"in":"body","name":"body","description":"The event data","required":true,"schema":{"$ref":"#/definitions/ImportJobCreateEvent"}}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/EventSubscription"}},"201":{"description":"Notified","schema":{"$ref":"#/definitions/EventSubscription"}},"400":{"description":"Bad Request","schema":{"$ref":"#/definitions/Error"}},"401":{"description":"Unauthorized","schema":{"$ref":"#/definitions/Error"}},"403":{"description":"Forbidden","schema":{"$ref":"#/definitions/Error"}},"404":{"description":"Not Found","schema":{"$ref":"#/definitions/Error"}},"405":{"description":"Method Not allowed","schema":{"$ref":"#/definitions/Error"}},"409":{"description":"Conflict","schema":{"$ref":"#/definitions/Error"}},"500":{"description":"Internal Server Error","schema":{"$ref":"#/definitions/Error"}}},"security":[{"spring_oauth":["read","write","admin","openapi"]}]}},"/resourceCatalogManagement/v4/listener/importJobStateChangeEvent":{"post":{"tags":["notification listeners (client side)"],"summary":"Client listener for entity ImportJobStateChangeEvent","description":"Example of a client listener for receiving the notification ImportJobStateChangeEvent","operationId":"listenToImportJobStateChangeEvent","consumes":["application/json;charset=utf-8"],"produces":["application/json;charset=utf-8"],"parameters":[{"in":"body","name":"body","description":"The event data","required":true,"schema":{"$ref":"#/definitions/ImportJobStateChangeEvent"}}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/EventSubscription"}},"201":{"description":"Notified","schema":{"$ref":"#/definitions/EventSubscription"}},"400":{"description":"Bad Request","schema":{"$ref":"#/definitions/Error"}},"401":{"description":"Unauthorized","schema":{"$ref":"#/definitions/Error"}},"403":{"description":"Forbidden","schema":{"$ref":"#/definitions/Error"}},"404":{"description":"Not Found","schema":{"$ref":"#/definitions/Error"}},"405":{"description":"Method Not allowed","schema":{"$ref":"#/definitions/Error"}},"409":{"description":"Conflict","schema":{"$ref":"#/definitions/Error"}},"500":{"description":"Internal Server Error","schema":{"$ref":"#/definitions/Error"}}},"security":[{"spring_oauth":["read","write","admin","openapi"]}]}},"/resourceCatalogManagement/v4/listener/resourceCandidateChangeEvent":{"post":{"tags":["notification listeners (client side)"],"summary":"Client listener for entity ResourceCandidateChangeEvent","description":"Example of a client listener for receiving the notification ResourceCandidateChangeEvent","operationId":"listenToResourceCandidateChangeEvent","consumes":["application/json;charset=utf-8"],"produces":["application/json;charset=utf-8"],"parameters":[{"in":"body","name":"body","description":"The event data","required":true,"schema":{"$ref":"#/definitions/ResourceCandidateChangeEvent"}}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/EventSubscription"}},"201":{"description":"Notified","schema":{"$ref":"#/definitions/EventSubscription"}},"400":{"description":"Bad Request","schema":{"$ref":"#/definitions/Error"}},"401":{"description":"Unauthorized","schema":{"$ref":"#/definitions/Error"}},"403":{"description":"Forbidden","schema":{"$ref":"#/definitions/Error"}},"404":{"description":"Not Found","schema":{"$ref":"#/definitions/Error"}},"405":{"description":"Method Not allowed","schema":{"$ref":"#/definitions/Error"}},"409":{"description":"Conflict","schema":{"$ref":"#/definitions/Error"}},"500":{"description":"Internal Server Error","schema":{"$ref":"#/definitions/Error"}}},"security":[{"spring_oauth":["read","write","admin","openapi"]}]}},"/resourceCatalogManagement/v4/listener/resourceCandidateCreateEvent":{"post":{"tags":["notification listeners (client side)"],"summary":"Client listener for entity ResourceCandidateCreateEvent","description":"Example of a client listener for receiving the notification ResourceCandidateCreateEvent","operationId":"listenToResourceCandidateCreateEvent","consumes":["application/json;charset=utf-8"],"produces":["application/json;charset=utf-8"],"parameters":[{"in":"body","name":"body","description":"The event data","required":true,"schema":{"$ref":"#/definitions/ResourceCandidateCreateEvent"}}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/EventSubscription"}},"201":{"description":"Notified","schema":{"$ref":"#/definitions/EventSubscription"}},"400":{"description":"Bad Request","schema":{"$ref":"#/definitions/Error"}},"401":{"description":"Unauthorized","schema":{"$ref":"#/definitions/Error"}},"403":{"description":"Forbidden","schema":{"$ref":"#/definitions/Error"}},"404":{"description":"Not Found","schema":{"$ref":"#/definitions/Error"}},"405":{"description":"Method Not allowed","schema":{"$ref":"#/definitions/Error"}},"409":{"description":"Conflict","schema":{"$ref":"#/definitions/Error"}},"500":{"description":"Internal Server Error","schema":{"$ref":"#/definitions/Error"}}},"security":[{"spring_oauth":["read","write","admin","openapi"]}]}},"/resourceCatalogManagement/v4/listener/resourceCandidateDeleteEvent":{"post":{"tags":["notification listeners (client side)"],"summary":"Client listener for entity ResourceCandidateDeleteEvent","description":"Example of a client listener for receiving the notification ResourceCandidateDeleteEvent","operationId":"listenToResourceCandidateDeleteEvent","consumes":["application/json;charset=utf-8"],"produces":["application/json;charset=utf-8"],"parameters":[{"in":"body","name":"body","description":"The event data","required":true,"schema":{"$ref":"#/definitions/ResourceCandidateDeleteEvent"}}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/EventSubscription"}},"201":{"description":"Notified","schema":{"$ref":"#/definitions/EventSubscription"}},"400":{"description":"Bad Request","schema":{"$ref":"#/definitions/Error"}},"401":{"description":"Unauthorized","schema":{"$ref":"#/definitions/Error"}},"403":{"description":"Forbidden","schema":{"$ref":"#/definitions/Error"}},"404":{"description":"Not Found","schema":{"$ref":"#/definitions/Error"}},"405":{"description":"Method Not allowed","schema":{"$ref":"#/definitions/Error"}},"409":{"description":"Conflict","schema":{"$ref":"#/definitions/Error"}},"500":{"description":"Internal Server Error","schema":{"$ref":"#/definitions/Error"}}},"security":[{"spring_oauth":["read","write","admin","openapi"]}]}},"/resourceCatalogManagement/v4/listener/resourceCatalogChangeEvent":{"post":{"tags":["notification listeners (client side)"],"summary":"Client listener for entity ResourceCatalogChangeEvent","description":"Example of a client listener for receiving the notification ResourceCatalogChangeEvent","operationId":"listenToResourceCatalogChangeEvent","consumes":["application/json;charset=utf-8"],"produces":["application/json;charset=utf-8"],"parameters":[{"in":"body","name":"body","description":"The event data","required":true,"schema":{"$ref":"#/definitions/ResourceCatalogChangeEvent"}}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/EventSubscription"}},"201":{"description":"Notified","schema":{"$ref":"#/definitions/EventSubscription"}},"400":{"description":"Bad Request","schema":{"$ref":"#/definitions/Error"}},"401":{"description":"Unauthorized","schema":{"$ref":"#/definitions/Error"}},"403":{"description":"Forbidden","schema":{"$ref":"#/definitions/Error"}},"404":{"description":"Not Found","schema":{"$ref":"#/definitions/Error"}},"405":{"description":"Method Not allowed","schema":{"$ref":"#/definitions/Error"}},"409":{"description":"Conflict","schema":{"$ref":"#/definitions/Error"}},"500":{"description":"Internal Server Error","schema":{"$ref":"#/definitions/Error"}}},"security":[{"spring_oauth":["read","write","admin","openapi"]}]}},"/resourceCatalogManagement/v4/listener/resourceCatalogCreateEvent":{"post":{"tags":["notification listeners (client side)"],"summary":"Client listener for entity ResourceCatalogCreateEvent","description":"Example of a client listener for receiving the notification ResourceCatalogCreateEvent","operationId":"listenToResourceCatalogCreateEvent","consumes":["application/json;charset=utf-8"],"produces":["application/json;charset=utf-8"],"parameters":[{"in":"body","name":"body","description":"The event data","required":true,"schema":{"$ref":"#/definitions/ResourceCatalogCreateEvent"}}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/EventSubscription"}},"201":{"description":"Notified","schema":{"$ref":"#/definitions/EventSubscription"}},"400":{"description":"Bad Request","schema":{"$ref":"#/definitions/Error"}},"401":{"description":"Unauthorized","schema":{"$ref":"#/definitions/Error"}},"403":{"description":"Forbidden","schema":{"$ref":"#/definitions/Error"}},"404":{"description":"Not Found","schema":{"$ref":"#/definitions/Error"}},"405":{"description":"Method Not allowed","schema":{"$ref":"#/definitions/Error"}},"409":{"description":"Conflict","schema":{"$ref":"#/definitions/Error"}},"500":{"description":"Internal Server Error","schema":{"$ref":"#/definitions/Error"}}},"security":[{"spring_oauth":["read","write","admin","openapi"]}]}},"/resourceCatalogManagement/v4/listener/resourceCatalogDeleteEvent":{"post":{"tags":["notification listeners (client side)"],"summary":"Client listener for entity ResourceCatalogDeleteEvent","description":"Example of a client listener for receiving the notification ResourceCatalogDeleteEvent","operationId":"listenToResourceCatalogDeleteEvent","consumes":["application/json;charset=utf-8"],"produces":["application/json;charset=utf-8"],"parameters":[{"in":"body","name":"body","description":"The event data","required":true,"schema":{"$ref":"#/definitions/ResourceCatalogDeleteEvent"}}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/EventSubscription"}},"201":{"description":"Notified","schema":{"$ref":"#/definitions/EventSubscription"}},"400":{"description":"Bad Request","schema":{"$ref":"#/definitions/Error"}},"401":{"description":"Unauthorized","schema":{"$ref":"#/definitions/Error"}},"403":{"description":"Forbidden","schema":{"$ref":"#/definitions/Error"}},"404":{"description":"Not Found","schema":{"$ref":"#/definitions/Error"}},"405":{"description":"Method Not allowed","schema":{"$ref":"#/definitions/Error"}},"409":{"description":"Conflict","schema":{"$ref":"#/definitions/Error"}},"500":{"description":"Internal Server Error","schema":{"$ref":"#/definitions/Error"}}},"security":[{"spring_oauth":["read","write","admin","openapi"]}]}},"/resourceCatalogManagement/v4/listener/resourceCategoryChangeEvent":{"post":{"tags":["notification listeners (client side)"],"summary":"Client listener for entity ResourceCategoryChangeEvent","description":"Example of a client listener for receiving the notification ResourceCategoryChangeEvent","operationId":"listenToResourceCategoryChangeEvent","consumes":["application/json;charset=utf-8"],"produces":["application/json;charset=utf-8"],"parameters":[{"in":"body","name":"body","description":"The event data","required":true,"schema":{"$ref":"#/definitions/ResourceCategoryChangeEvent"}}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/EventSubscription"}},"201":{"description":"Notified","schema":{"$ref":"#/definitions/EventSubscription"}},"400":{"description":"Bad Request","schema":{"$ref":"#/definitions/Error"}},"401":{"description":"Unauthorized","schema":{"$ref":"#/definitions/Error"}},"403":{"description":"Forbidden","schema":{"$ref":"#/definitions/Error"}},"404":{"description":"Not Found","schema":{"$ref":"#/definitions/Error"}},"405":{"description":"Method Not allowed","schema":{"$ref":"#/definitions/Error"}},"409":{"description":"Conflict","schema":{"$ref":"#/definitions/Error"}},"500":{"description":"Internal Server Error","schema":{"$ref":"#/definitions/Error"}}},"security":[{"spring_oauth":["read","write","admin","openapi"]}]}},"/resourceCatalogManagement/v4/listener/resourceCategoryCreateEvent":{"post":{"tags":["notification listeners (client side)"],"summary":"Client listener for entity ResourceCategoryCreateEvent","description":"Example of a client listener for receiving the notification ResourceCategoryCreateEvent","operationId":"listenToResourceCategoryCreateEvent","consumes":["application/json;charset=utf-8"],"produces":["application/json;charset=utf-8"],"parameters":[{"in":"body","name":"body","description":"The event data","required":true,"schema":{"$ref":"#/definitions/ResourceCategoryCreateEvent"}}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/EventSubscription"}},"201":{"description":"Notified","schema":{"$ref":"#/definitions/EventSubscription"}},"400":{"description":"Bad Request","schema":{"$ref":"#/definitions/Error"}},"401":{"description":"Unauthorized","schema":{"$ref":"#/definitions/Error"}},"403":{"description":"Forbidden","schema":{"$ref":"#/definitions/Error"}},"404":{"description":"Not Found","schema":{"$ref":"#/definitions/Error"}},"405":{"description":"Method Not allowed","schema":{"$ref":"#/definitions/Error"}},"409":{"description":"Conflict","schema":{"$ref":"#/definitions/Error"}},"500":{"description":"Internal Server Error","schema":{"$ref":"#/definitions/Error"}}},"security":[{"spring_oauth":["read","write","admin","openapi"]}]}},"/resourceCatalogManagement/v4/listener/resourceCategoryDeleteEvent":{"post":{"tags":["notification listeners (client side)"],"summary":"Client listener for entity ResourceCategoryDeleteEvent","description":"Example of a client listener for receiving the notification ResourceCategoryDeleteEvent","operationId":"listenToResourceCategoryDeleteEvent","consumes":["application/json;charset=utf-8"],"produces":["application/json;charset=utf-8"],"parameters":[{"in":"body","name":"body","description":"The event data","required":true,"schema":{"$ref":"#/definitions/ResourceCategoryDeleteEvent"}}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/EventSubscription"}},"201":{"description":"Notified","schema":{"$ref":"#/definitions/EventSubscription"}},"400":{"description":"Bad Request","schema":{"$ref":"#/definitions/Error"}},"401":{"description":"Unauthorized","schema":{"$ref":"#/definitions/Error"}},"403":{"description":"Forbidden","schema":{"$ref":"#/definitions/Error"}},"404":{"description":"Not Found","schema":{"$ref":"#/definitions/Error"}},"405":{"description":"Method Not allowed","schema":{"$ref":"#/definitions/Error"}},"409":{"description":"Conflict","schema":{"$ref":"#/definitions/Error"}},"500":{"description":"Internal Server Error","schema":{"$ref":"#/definitions/Error"}}},"security":[{"spring_oauth":["read","write","admin","openapi"]}]}},"/resourceCatalogManagement/v4/listener/resourceSpecificationChangeEvent":{"post":{"tags":["notification listeners (client side)"],"summary":"Client listener for entity ResourceSpecificationChangeEvent","description":"Example of a client listener for receiving the notification ResourceSpecificationChangeEvent","operationId":"listenToResourceSpecificationChangeEvent","consumes":["application/json;charset=utf-8"],"produces":["application/json;charset=utf-8"],"parameters":[{"in":"body","name":"body","description":"The event data","required":true,"schema":{"$ref":"#/definitions/ResourceSpecificationChangeEvent"}}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/EventSubscription"}},"201":{"description":"Notified","schema":{"$ref":"#/definitions/EventSubscription"}},"400":{"description":"Bad Request","schema":{"$ref":"#/definitions/Error"}},"401":{"description":"Unauthorized","schema":{"$ref":"#/definitions/Error"}},"403":{"description":"Forbidden","schema":{"$ref":"#/definitions/Error"}},"404":{"description":"Not Found","schema":{"$ref":"#/definitions/Error"}},"405":{"description":"Method Not allowed","schema":{"$ref":"#/definitions/Error"}},"409":{"description":"Conflict","schema":{"$ref":"#/definitions/Error"}},"500":{"description":"Internal Server Error","schema":{"$ref":"#/definitions/Error"}}},"security":[{"spring_oauth":["read","write","admin","openapi"]}]}},"/resourceCatalogManagement/v4/listener/resourceSpecificationCreateEvent":{"post":{"tags":["notification listeners (client side)"],"summary":"Client listener for entity ResourceSpecificationCreateEvent","description":"Example of a client listener for receiving the notification ResourceSpecificationCreateEvent","operationId":"listenToResourceSpecificationCreateEvent","consumes":["application/json;charset=utf-8"],"produces":["application/json;charset=utf-8"],"parameters":[{"in":"body","name":"body","description":"The event data","required":true,"schema":{"$ref":"#/definitions/ResourceSpecificationCreateEvent"}}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/EventSubscription"}},"201":{"description":"Notified","schema":{"$ref":"#/definitions/EventSubscription"}},"400":{"description":"Bad Request","schema":{"$ref":"#/definitions/Error"}},"401":{"description":"Unauthorized","schema":{"$ref":"#/definitions/Error"}},"403":{"description":"Forbidden","schema":{"$ref":"#/definitions/Error"}},"404":{"description":"Not Found","schema":{"$ref":"#/definitions/Error"}},"405":{"description":"Method Not allowed","schema":{"$ref":"#/definitions/Error"}},"409":{"description":"Conflict","schema":{"$ref":"#/definitions/Error"}},"500":{"description":"Internal Server Error","schema":{"$ref":"#/definitions/Error"}}},"security":[{"spring_oauth":["read","write","admin","openapi"]}]}},"/resourceCatalogManagement/v4/listener/resourceSpecificationDeleteEvent":{"post":{"tags":["notification listeners (client side)"],"summary":"Client listener for entity ResourceSpecificationDeleteEvent","description":"Example of a client listener for receiving the notification ResourceSpecificationDeleteEvent","operationId":"listenToResourceSpecificationDeleteEvent","consumes":["application/json;charset=utf-8"],"produces":["application/json;charset=utf-8"],"parameters":[{"in":"body","name":"body","description":"The event data","required":true,"schema":{"$ref":"#/definitions/ResourceSpecificationDeleteEvent"}}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/EventSubscription"}},"201":{"description":"Notified","schema":{"$ref":"#/definitions/EventSubscription"}},"400":{"description":"Bad Request","schema":{"$ref":"#/definitions/Error"}},"401":{"description":"Unauthorized","schema":{"$ref":"#/definitions/Error"}},"403":{"description":"Forbidden","schema":{"$ref":"#/definitions/Error"}},"404":{"description":"Not Found","schema":{"$ref":"#/definitions/Error"}},"405":{"description":"Method Not allowed","schema":{"$ref":"#/definitions/Error"}},"409":{"description":"Conflict","schema":{"$ref":"#/definitions/Error"}},"500":{"description":"Internal Server Error","schema":{"$ref":"#/definitions/Error"}}},"security":[{"spring_oauth":["read","write","admin","openapi"]}]}},"/resourceCatalogManagement/v4/resourceCandidate":{"get":{"tags":["resourceCandidate"],"summary":"List or find ResourceCandidate objects","description":"This operation list or find ResourceCandidate entities","operationId":"listResourceCandidate","produces":["application/json;charset=utf-8"],"parameters":[{"name":"fields","in":"query","description":"Comma-separated properties to be provided in response","required":false,"type":"string"},{"name":"limit","in":"query","description":"Requested number of resources to be provided in response","required":false,"type":"integer","format":"int32"},{"name":"offset","in":"query","description":"Requested index for start of resources to be provided in response","required":false,"type":"integer","format":"int32"}],"responses":{"200":{"description":"Success","schema":{"type":"array","items":{"$ref":"#/definitions/ResourceCandidate"}}},"400":{"description":"Bad Request","schema":{"$ref":"#/definitions/Error"}},"401":{"description":"Unauthorized","schema":{"$ref":"#/definitions/Error"}},"403":{"description":"Forbidden","schema":{"$ref":"#/definitions/Error"}},"404":{"description":"Not Found","schema":{"$ref":"#/definitions/Error"}},"405":{"description":"Method Not allowed","schema":{"$ref":"#/definitions/Error"}},"409":{"description":"Conflict","schema":{"$ref":"#/definitions/Error"}},"500":{"description":"Internal Server Error","schema":{"$ref":"#/definitions/Error"}}},"security":[{"spring_oauth":["read","write","admin","openapi"]}]},"post":{"tags":["resourceCandidate"],"summary":"Creates a ResourceCandidate","description":"This operation creates a ResourceCandidate entity.","operationId":"createResourceCandidate","consumes":["application/json;charset=utf-8"],"produces":["application/json;charset=utf-8"],"parameters":[{"in":"body","name":"body","description":"The ResourceCandidate to be created","required":true,"schema":{"$ref":"#/definitions/ResourceCandidateCreate"}}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/ResourceCandidate"}},"201":{"description":"Created","schema":{"$ref":"#/definitions/ResourceCandidate"}},"400":{"description":"Bad Request","schema":{"$ref":"#/definitions/Error"}},"401":{"description":"Unauthorized","schema":{"$ref":"#/definitions/Error"}},"403":{"description":"Forbidden","schema":{"$ref":"#/definitions/Error"}},"404":{"description":"Not Found"},"405":{"description":"Method Not allowed","schema":{"$ref":"#/definitions/Error"}},"409":{"description":"Conflict","schema":{"$ref":"#/definitions/Error"}},"500":{"description":"Internal Server Error","schema":{"$ref":"#/definitions/Error"}}},"security":[{"spring_oauth":["read","write","admin","openapi"]}]}},"/resourceCatalogManagement/v4/resourceCandidate/{id}":{"get":{"tags":["resourceCandidate"],"summary":"Retrieves a ResourceCandidate by ID","description":"This operation retrieves a ResourceCandidate entity. Attribute selection is enabled for all first level attributes.","operationId":"retrieveResourceCandidate","produces":["application/json;charset=utf-8"],"parameters":[{"name":"fields","in":"query","description":"Comma-separated properties to provide in response","required":false,"type":"string"},{"name":"id","in":"path","description":"Identifier of the ResourceCandidate","required":true,"type":"string"}],"responses":{"200":{"description":"Success","schema":{"$ref":"#/definitions/ResourceCandidate"}},"400":{"description":"Bad Request","schema":{"$ref":"#/definitions/Error"}},"401":{"description":"Unauthorized","schema":{"$ref":"#/definitions/Error"}},"403":{"description":"Forbidden","schema":{"$ref":"#/definitions/Error"}},"404":{"description":"Not Found","schema":{"$ref":"#/definitions/Error"}},"405":{"description":"Method Not allowed","schema":{"$ref":"#/definitions/Error"}},"409":{"description":"Conflict","schema":{"$ref":"#/definitions/Error"}},"500":{"description":"Internal Server Error","schema":{"$ref":"#/definitions/Error"}}},"security":[{"spring_oauth":["read","write","admin","openapi"]}]},"delete":{"tags":["resourceCandidate"],"summary":"Deletes a ResourceCandidate","description":"This operation deletes a ResourceCandidate entity.","operationId":"deleteResourceCandidate","produces":["application/json;charset=utf-8"],"parameters":[{"name":"id","in":"path","description":"Identifier of the ResourceCandidate","required":true,"type":"string"}],"responses":{"200":{"description":"OK"},"204":{"description":"Deleted","schema":{"type":"object"}},"400":{"description":"Bad Request","schema":{"$ref":"#/definitions/Error"}},"401":{"description":"Unauthorized","schema":{"$ref":"#/definitions/Error"}},"403":{"description":"Forbidden","schema":{"$ref":"#/definitions/Error"}},"404":{"description":"Not Found","schema":{"$ref":"#/definitions/Error"}},"405":{"description":"Method Not allowed","schema":{"$ref":"#/definitions/Error"}},"409":{"description":"Conflict","schema":{"$ref":"#/definitions/Error"}},"500":{"description":"Internal Server Error","schema":{"$ref":"#/definitions/Error"}}},"security":[{"spring_oauth":["read","write","admin","openapi"]}]},"patch":{"tags":["resourceCandidate"],"summary":"Updates partially a ResourceCandidate","description":"This operation updates partially a ResourceCandidate entity.","operationId":"patchResourceCandidate","consumes":["application/json;charset=utf-8"],"produces":["application/json;charset=utf-8"],"parameters":[{"in":"body","name":"body","description":"The ResourceCandidate to be updated","required":true,"schema":{"$ref":"#/definitions/ResourceCandidateUpdate"}},{"name":"id","in":"path","description":"Identifier of the ResourceCandidate","required":true,"type":"string"}],"responses":{"200":{"description":"Updated","schema":{"$ref":"#/definitions/ResourceCandidate"}},"204":{"description":"No Content"},"400":{"description":"Bad Request","schema":{"$ref":"#/definitions/Error"}},"401":{"description":"Unauthorized","schema":{"$ref":"#/definitions/Error"}},"403":{"description":"Forbidden","schema":{"$ref":"#/definitions/Error"}},"404":{"description":"Not Found","schema":{"$ref":"#/definitions/Error"}},"405":{"description":"Method Not allowed","schema":{"$ref":"#/definitions/Error"}},"409":{"description":"Conflict","schema":{"$ref":"#/definitions/Error"}},"500":{"description":"Internal Server Error","schema":{"$ref":"#/definitions/Error"}}},"security":[{"spring_oauth":["read","write","admin","openapi"]}]}},"/resourceCatalogManagement/v4/resourceCatalog":{"get":{"tags":["resourceCatalog"],"summary":"List or find ResourceCatalog objects","description":"This operation list or find ResourceCatalog entities","operationId":"listResourceCatalog","produces":["application/json;charset=utf-8"],"parameters":[{"name":"fields","in":"query","description":"Comma-separated properties to be provided in response","required":false,"type":"string"},{"name":"limit","in":"query","description":"Requested number of resources to be provided in response","required":false,"type":"integer","format":"int32"},{"name":"offset","in":"query","description":"Requested index for start of resources to be provided in response","required":false,"type":"integer","format":"int32"}],"responses":{"200":{"description":"Success","schema":{"type":"array","items":{"$ref":"#/definitions/ResourceCatalog"}}},"400":{"description":"Bad Request","schema":{"$ref":"#/definitions/Error"}},"401":{"description":"Unauthorized","schema":{"$ref":"#/definitions/Error"}},"403":{"description":"Forbidden","schema":{"$ref":"#/definitions/Error"}},"404":{"description":"Not Found","schema":{"$ref":"#/definitions/Error"}},"405":{"description":"Method Not allowed","schema":{"$ref":"#/definitions/Error"}},"409":{"description":"Conflict","schema":{"$ref":"#/definitions/Error"}},"500":{"description":"Internal Server Error","schema":{"$ref":"#/definitions/Error"}}},"security":[{"spring_oauth":["read","write","admin","openapi"]}]},"post":{"tags":["resourceCatalog"],"summary":"Creates a ResourceCatalog","description":"This operation creates a ResourceCatalog entity.","operationId":"createResourceCatalog","consumes":["application/json;charset=utf-8"],"produces":["application/json;charset=utf-8"],"parameters":[{"in":"body","name":"resourceCatalog","description":"The Resource Catalog to be created","required":true,"schema":{"$ref":"#/definitions/ResourceCatalogCreate"}}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/ResourceCatalog"}},"201":{"description":"Created","schema":{"$ref":"#/definitions/ResourceCatalog"}},"400":{"description":"Bad Request","schema":{"$ref":"#/definitions/Error"}},"401":{"description":"Unauthorized","schema":{"$ref":"#/definitions/Error"}},"403":{"description":"Forbidden","schema":{"$ref":"#/definitions/Error"}},"404":{"description":"Not Found"},"405":{"description":"Method Not allowed","schema":{"$ref":"#/definitions/Error"}},"409":{"description":"Conflict","schema":{"$ref":"#/definitions/Error"}},"500":{"description":"Internal Server Error","schema":{"$ref":"#/definitions/Error"}}},"security":[{"spring_oauth":["read","write","admin","openapi"]}]}},"/resourceCatalogManagement/v4/resourceCatalog/{id}":{"get":{"tags":["resourceCatalog"],"summary":"Retrieves a ResourceCatalog by ID","description":"This operation retrieves a ResourceCatalog entity. Attribute selection is enabled for all first level attributes.","operationId":"retrieveResourceCatalog","produces":["application/json;charset=utf-8"],"parameters":[{"name":"fields","in":"query","description":"Comma-separated properties to provide in response","required":false,"type":"string"},{"name":"id","in":"path","description":"Identifier of the ResourceCatalog","required":true,"type":"string"}],"responses":{"200":{"description":"Success","schema":{"$ref":"#/definitions/ResourceCatalog"}},"400":{"description":"Bad Request","schema":{"$ref":"#/definitions/Error"}},"401":{"description":"Unauthorized","schema":{"$ref":"#/definitions/Error"}},"403":{"description":"Forbidden","schema":{"$ref":"#/definitions/Error"}},"404":{"description":"Not Found","schema":{"$ref":"#/definitions/Error"}},"405":{"description":"Method Not allowed","schema":{"$ref":"#/definitions/Error"}},"409":{"description":"Conflict","schema":{"$ref":"#/definitions/Error"}},"500":{"description":"Internal Server Error","schema":{"$ref":"#/definitions/Error"}}},"security":[{"spring_oauth":["read","write","admin","openapi"]}]},"delete":{"tags":["resourceCatalog"],"summary":"Deletes a ResourceCatalog","description":"This operation deletes a ResourceCatalog entity.","operationId":"deleteResourceCatalog","produces":["application/json;charset=utf-8"],"parameters":[{"name":"id","in":"path","description":"Identifier of the ResourceCatalog","required":true,"type":"string"}],"responses":{"200":{"description":"OK"},"204":{"description":"Deleted","schema":{"type":"object"}},"400":{"description":"Bad Request","schema":{"$ref":"#/definitions/Error"}},"401":{"description":"Unauthorized","schema":{"$ref":"#/definitions/Error"}},"403":{"description":"Forbidden","schema":{"$ref":"#/definitions/Error"}},"404":{"description":"Not Found","schema":{"$ref":"#/definitions/Error"}},"405":{"description":"Method Not allowed","schema":{"$ref":"#/definitions/Error"}},"409":{"description":"Conflict","schema":{"$ref":"#/definitions/Error"}},"500":{"description":"Internal Server Error","schema":{"$ref":"#/definitions/Error"}}},"security":[{"spring_oauth":["read","write","admin","openapi"]}]},"patch":{"tags":["resourceCatalog"],"summary":"Updates partially a ResourceCatalog","description":"This operation updates partially a ResourceCatalog entity.","operationId":"patchResourceCatalog","consumes":["application/json;charset=utf-8"],"produces":["application/json;charset=utf-8"],"parameters":[{"in":"body","name":"body","description":"The ResourceCatalog to be updated","required":true,"schema":{"$ref":"#/definitions/ResourceCatalogUpdate"}},{"name":"id","in":"path","description":"Identifier of the ResourceCatalog","required":true,"type":"string"}],"responses":{"200":{"description":"Updated","schema":{"$ref":"#/definitions/ResourceCatalog"}},"204":{"description":"No Content"},"400":{"description":"Bad Request","schema":{"$ref":"#/definitions/Error"}},"401":{"description":"Unauthorized","schema":{"$ref":"#/definitions/Error"}},"403":{"description":"Forbidden","schema":{"$ref":"#/definitions/Error"}},"404":{"description":"Not Found","schema":{"$ref":"#/definitions/Error"}},"405":{"description":"Method Not allowed","schema":{"$ref":"#/definitions/Error"}},"409":{"description":"Conflict","schema":{"$ref":"#/definitions/Error"}},"500":{"description":"Internal Server Error","schema":{"$ref":"#/definitions/Error"}}},"security":[{"spring_oauth":["read","write","admin","openapi"]}]}},"/resourceCatalogManagement/v4/resourceCategory":{"get":{"tags":["resourceCategory"],"summary":"List or find ResourceCategory objects","description":"This operation list or find ResourceCategory entities","operationId":"listResourceCategory","produces":["application/json;charset=utf-8"],"parameters":[{"name":"fields","in":"query","description":"Comma-separated properties to be provided in response","required":false,"type":"string"},{"name":"limit","in":"query","description":"Requested number of resources to be provided in response","required":false,"type":"integer","format":"int32"},{"name":"offset","in":"query","description":"Requested index for start of resources to be provided in response","required":false,"type":"integer","format":"int32"}],"responses":{"200":{"description":"Success","schema":{"type":"array","items":{"$ref":"#/definitions/ResourceCategory"}}},"400":{"description":"Bad Request","schema":{"$ref":"#/definitions/Error"}},"401":{"description":"Unauthorized","schema":{"$ref":"#/definitions/Error"}},"403":{"description":"Forbidden","schema":{"$ref":"#/definitions/Error"}},"404":{"description":"Not Found","schema":{"$ref":"#/definitions/Error"}},"405":{"description":"Method Not allowed","schema":{"$ref":"#/definitions/Error"}},"409":{"description":"Conflict","schema":{"$ref":"#/definitions/Error"}},"500":{"description":"Internal Server Error","schema":{"$ref":"#/definitions/Error"}}},"security":[{"spring_oauth":["read","write","admin","openapi"]}]},"post":{"tags":["resourceCategory"],"summary":"Creates a ResourceCategory","description":"This operation creates a ResourceCategory entity.","operationId":"createResourceCategory","consumes":["application/json;charset=utf-8"],"produces":["application/json;charset=utf-8"],"parameters":[{"in":"body","name":"resCategory","description":"The ServiceCategory to be created","required":true,"schema":{"$ref":"#/definitions/ResourceCategoryCreate"}}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/ResourceCategory"}},"201":{"description":"Created","schema":{"$ref":"#/definitions/ResourceCategory"}},"400":{"description":"Bad Request","schema":{"$ref":"#/definitions/Error"}},"401":{"description":"Unauthorized","schema":{"$ref":"#/definitions/Error"}},"403":{"description":"Forbidden","schema":{"$ref":"#/definitions/Error"}},"404":{"description":"Not Found"},"405":{"description":"Method Not allowed","schema":{"$ref":"#/definitions/Error"}},"409":{"description":"Conflict","schema":{"$ref":"#/definitions/Error"}},"500":{"description":"Internal Server Error","schema":{"$ref":"#/definitions/Error"}}},"security":[{"spring_oauth":["read","write","admin","openapi"]}]}},"/resourceCatalogManagement/v4/resourceCategory/{id}":{"get":{"tags":["resourceCategory"],"summary":"Retrieves a ResourceCategory by ID","description":"This operation retrieves a ResourceCategory entity. Attribute selection is enabled for all first level attributes.","operationId":"retrieveResourceCategory","produces":["application/json;charset=utf-8"],"parameters":[{"name":"fields","in":"query","description":"Comma-separated properties to provide in response","required":false,"type":"string"},{"name":"id","in":"path","description":"Identifier of the ResourceCategory","required":true,"type":"string"}],"responses":{"200":{"description":"Success","schema":{"$ref":"#/definitions/ResourceCategory"}},"400":{"description":"Bad Request","schema":{"$ref":"#/definitions/Error"}},"401":{"description":"Unauthorized","schema":{"$ref":"#/definitions/Error"}},"403":{"description":"Forbidden","schema":{"$ref":"#/definitions/Error"}},"404":{"description":"Not Found","schema":{"$ref":"#/definitions/Error"}},"405":{"description":"Method Not allowed","schema":{"$ref":"#/definitions/Error"}},"409":{"description":"Conflict","schema":{"$ref":"#/definitions/Error"}},"500":{"description":"Internal Server Error","schema":{"$ref":"#/definitions/Error"}}},"security":[{"spring_oauth":["read","write","admin","openapi"]}]},"delete":{"tags":["resourceCategory"],"summary":"Deletes a ResourceCategory","description":"This operation deletes a ResourceCategory entity.","operationId":"deleteResourceCategory","produces":["application/json;charset=utf-8"],"parameters":[{"name":"id","in":"path","description":"Identifier of the Resource Category","required":true,"type":"string"}],"responses":{"200":{"description":"OK"},"204":{"description":"Deleted","schema":{"type":"object"}},"400":{"description":"Bad Request","schema":{"$ref":"#/definitions/Error"}},"401":{"description":"Unauthorized","schema":{"$ref":"#/definitions/Error"}},"403":{"description":"Forbidden","schema":{"$ref":"#/definitions/Error"}},"404":{"description":"Not Found","schema":{"$ref":"#/definitions/Error"}},"405":{"description":"Method Not allowed","schema":{"$ref":"#/definitions/Error"}},"409":{"description":"Conflict","schema":{"$ref":"#/definitions/Error"}},"500":{"description":"Internal Server Error","schema":{"$ref":"#/definitions/Error"}}},"security":[{"spring_oauth":["read","write","admin","openapi"]}]},"patch":{"tags":["resourceCategory"],"summary":"Updates partially a ResourceCategory","description":"This operation updates partially a ResourceCategory entity.","operationId":"patchResourceCategory","consumes":["application/json;charset=utf-8"],"produces":["application/json;charset=utf-8"],"parameters":[{"name":"id","in":"path","description":"Identifier of the ResourceCategory","required":true,"type":"string"},{"in":"body","name":"resourceCategory","description":"The ResourceCategory to be updated","required":true,"schema":{"$ref":"#/definitions/ResourceCategoryUpdate"}}],"responses":{"200":{"description":"Updated","schema":{"$ref":"#/definitions/ResourceCategory"}},"204":{"description":"No Content"},"400":{"description":"Bad Request","schema":{"$ref":"#/definitions/Error"}},"401":{"description":"Unauthorized","schema":{"$ref":"#/definitions/Error"}},"403":{"description":"Forbidden","schema":{"$ref":"#/definitions/Error"}},"404":{"description":"Not Found","schema":{"$ref":"#/definitions/Error"}},"405":{"description":"Method Not allowed","schema":{"$ref":"#/definitions/Error"}},"409":{"description":"Conflict","schema":{"$ref":"#/definitions/Error"}},"500":{"description":"Internal Server Error","schema":{"$ref":"#/definitions/Error"}}},"security":[{"spring_oauth":["read","write","admin","openapi"]}]}},"/resourceCatalogManagement/v4/resourceSpecification":{"get":{"tags":["resourceSpecification"],"summary":"List or find ResourceSpecification objects","description":"This operation list or find ResourceSpecification entities","operationId":"listResourceSpecification","produces":["application/json;charset=utf-8"],"parameters":[{"name":"fields","in":"query","description":"Comma-separated properties to be provided in response","required":false,"type":"string"},{"name":"limit","in":"query","description":"Requested number of resources to be provided in response","required":false,"type":"integer","format":"int32"},{"name":"offset","in":"query","description":"Requested index for start of resources to be provided in response","required":false,"type":"integer","format":"int32"}],"responses":{"200":{"description":"Success","schema":{"type":"array","items":{"$ref":"#/definitions/ResourceSpecification"}}},"400":{"description":"Bad Request","schema":{"$ref":"#/definitions/Error"}},"401":{"description":"Unauthorized","schema":{"$ref":"#/definitions/Error"}},"403":{"description":"Forbidden","schema":{"$ref":"#/definitions/Error"}},"404":{"description":"Not Found","schema":{"$ref":"#/definitions/Error"}},"405":{"description":"Method Not allowed","schema":{"$ref":"#/definitions/Error"}},"409":{"description":"Conflict","schema":{"$ref":"#/definitions/Error"}},"500":{"description":"Internal Server Error","schema":{"$ref":"#/definitions/Error"}}},"security":[{"spring_oauth":["read","write","admin","openapi"]}]},"post":{"tags":["resourceSpecification"],"summary":"Creates a ResourceSpecification","description":"This operation creates a ResourceSpecification entity.","operationId":"createResourceSpecification","consumes":["application/json;charset=utf-8"],"produces":["application/json;charset=utf-8"],"parameters":[{"in":"body","name":"jsonNode","description":"The ResourceSpecification to be created","required":true,"schema":{"$ref":"#/definitions/JsonNode"}}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/ResourceSpecification"}},"201":{"description":"Created","schema":{"$ref":"#/definitions/ResourceSpecification"}},"400":{"description":"Bad Request","schema":{"$ref":"#/definitions/Error"}},"401":{"description":"Unauthorized","schema":{"$ref":"#/definitions/Error"}},"403":{"description":"Forbidden","schema":{"$ref":"#/definitions/Error"}},"404":{"description":"Not Found"},"405":{"description":"Method Not allowed","schema":{"$ref":"#/definitions/Error"}},"409":{"description":"Conflict","schema":{"$ref":"#/definitions/Error"}},"500":{"description":"Internal Server Error","schema":{"$ref":"#/definitions/Error"}}},"security":[{"spring_oauth":["read","write","admin","openapi"]}]}},"/resourceCatalogManagement/v4/resourceSpecification/{id}":{"get":{"tags":["resourceSpecification"],"summary":"Retrieves a ResourceSpecification by ID","description":"This operation retrieves a ResourceSpecification entity. Attribute selection is enabled for all first level attributes.","operationId":"retrieveResourceSpecification","produces":["application/json;charset=utf-8"],"parameters":[{"name":"fields","in":"query","description":"Comma-separated properties to provide in response","required":false,"type":"string"},{"name":"id","in":"path","description":"Identifier of the ResourceSpecification","required":true,"type":"string"}],"responses":{"200":{"description":"Success","schema":{"$ref":"#/definitions/ResourceSpecification"}},"400":{"description":"Bad Request","schema":{"$ref":"#/definitions/Error"}},"401":{"description":"Unauthorized","schema":{"$ref":"#/definitions/Error"}},"403":{"description":"Forbidden","schema":{"$ref":"#/definitions/Error"}},"404":{"description":"Not Found","schema":{"$ref":"#/definitions/Error"}},"405":{"description":"Method Not allowed","schema":{"$ref":"#/definitions/Error"}},"409":{"description":"Conflict","schema":{"$ref":"#/definitions/Error"}},"500":{"description":"Internal Server Error","schema":{"$ref":"#/definitions/Error"}}},"security":[{"spring_oauth":["read","write","admin","openapi"]}]},"delete":{"tags":["resourceSpecification"],"summary":"Deletes a ResourceSpecification","description":"This operation deletes a ResourceSpecification entity.","operationId":"deleteResourceSpecification","produces":["application/json;charset=utf-8"],"parameters":[{"name":"id","in":"path","description":"Identifier of the ResourceSpecification","required":true,"type":"string"}],"responses":{"200":{"description":"OK"},"204":{"description":"Deleted","schema":{"type":"object"}},"400":{"description":"Bad Request","schema":{"$ref":"#/definitions/Error"}},"401":{"description":"Unauthorized","schema":{"$ref":"#/definitions/Error"}},"403":{"description":"Forbidden","schema":{"$ref":"#/definitions/Error"}},"404":{"description":"Not Found","schema":{"$ref":"#/definitions/Error"}},"405":{"description":"Method Not allowed","schema":{"$ref":"#/definitions/Error"}},"409":{"description":"Conflict","schema":{"$ref":"#/definitions/Error"}},"500":{"description":"Internal Server Error","schema":{"$ref":"#/definitions/Error"}}},"security":[{"spring_oauth":["read","write","admin","openapi"]}]},"patch":{"tags":["resourceSpecification"],"summary":"Updates partially a ResourceSpecification","description":"This operation updates partially a ResourceSpecification entity.","operationId":"patchResourceSpecification","consumes":["application/json;charset=utf-8"],"produces":["application/json;charset=utf-8"],"parameters":[{"name":"id","in":"path","description":"Identifier of the ResourceSpecification","required":true,"type":"string"},{"in":"body","name":"serviceSpecification","description":"The ResourceSpecification to be updated","required":true,"schema":{"$ref":"#/definitions/ResourceSpecificationUpdate"}}],"responses":{"200":{"description":"Updated","schema":{"$ref":"#/definitions/ResourceSpecification"}},"204":{"description":"No Content"},"400":{"description":"Bad Request","schema":{"$ref":"#/definitions/Error"}},"401":{"description":"Unauthorized","schema":{"$ref":"#/definitions/Error"}},"403":{"description":"Forbidden","schema":{"$ref":"#/definitions/Error"}},"404":{"description":"Not Found","schema":{"$ref":"#/definitions/Error"}},"405":{"description":"Method Not allowed","schema":{"$ref":"#/definitions/Error"}},"409":{"description":"Conflict","schema":{"$ref":"#/definitions/Error"}},"500":{"description":"Internal Server Error","schema":{"$ref":"#/definitions/Error"}}},"security":[{"spring_oauth":["read","write","admin","openapi"]}]}},"/resourceCatalogManagement/v4/resourceSpecification/{id}/attachment":{"post":{"tags":["resourceSpecification"],"summary":"Adds an attachment to a 'ResourceSpecification'","description":"This operation adds an attachment to a ResourceSpecification","operationId":"addAttachmentToResourceSpec","consumes":["multipart/form-data"],"produces":["application/json"],"parameters":[{"in":"body","name":"afile","description":"The Attachment file to be added","required":false,"schema":{"type":"string","format":"binary"}},{"name":"id","in":"path","description":"Identifier of the ResourceSpecification","required":true,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/ResourceSpecification"}},"201":{"description":"Created","schema":{"$ref":"#/definitions/ResourceSpecification"}},"400":{"description":"Bad Request","schema":{"$ref":"#/definitions/Error"}},"401":{"description":"Unauthorized","schema":{"$ref":"#/definitions/Error"}},"403":{"description":"Forbidden","schema":{"$ref":"#/definitions/Error"}},"404":{"description":"Not Found","schema":{"$ref":"#/definitions/Error"}},"405":{"description":"Method Not allowed","schema":{"$ref":"#/definitions/Error"}},"409":{"description":"Conflict","schema":{"$ref":"#/definitions/Error"}},"500":{"description":"Internal Server Error","schema":{"$ref":"#/definitions/Error"}}},"security":[{"spring_oauth":["read","write","admin","openapi"]}]}},"/resourceCatalogManagement/v4/resourceSpecification/{id}/attachment/{attid}":{"get":{"tags":["resourceSpecification"],"summary":"Get an attachment from a 'ResourceSpecification'","description":"This operation gets an attachment","operationId":"getAttachment_1","produces":["*/*"],"parameters":[{"name":"attid","in":"path","description":"Identifier of the Attachment","required":true,"type":"string"},{"name":"id","in":"path","description":"Identifier of the ResourceSpecification","required":true,"type":"string"}],"responses":{"200":{"description":"Success","schema":{"$ref":"#/definitions/ByteArrayResource"}},"400":{"description":"Bad Request","schema":{"$ref":"#/definitions/Error"}},"401":{"description":"Unauthorized","schema":{"$ref":"#/definitions/Error"}},"403":{"description":"Forbidden","schema":{"$ref":"#/definitions/Error"}},"404":{"description":"Not Found","schema":{"$ref":"#/definitions/Error"}},"405":{"description":"Method Not allowed","schema":{"$ref":"#/definitions/Error"}},"409":{"description":"Conflict","schema":{"$ref":"#/definitions/Error"}},"500":{"description":"Internal Server Error","schema":{"$ref":"#/definitions/Error"}}},"security":[{"spring_oauth":["read","write","admin","openapi"]}]}},"/resourceCatalogManagement/v4/resourceSpecification/{id}/attachment/{attid}/{afilename}":{"get":{"tags":["resourceSpecification"],"summary":"Get an attachment from a 'ResourceSpecification' with filename","description":"This operation gets an attachment","operationId":"getAttachmentWithFilename_1","produces":["*/*"],"parameters":[{"name":"afilename","in":"path","description":"Identifier of the Filename","required":true,"type":"string"},{"name":"attid","in":"path","description":"Identifier of the Attachment","required":true,"type":"string"},{"name":"id","in":"path","description":"Identifier of the ResourceSpecification","required":true,"type":"string"}],"responses":{"200":{"description":"Success","schema":{"$ref":"#/definitions/ByteArrayResource"}},"400":{"description":"Bad Request","schema":{"$ref":"#/definitions/Error"}},"401":{"description":"Unauthorized","schema":{"$ref":"#/definitions/Error"}},"403":{"description":"Forbidden","schema":{"$ref":"#/definitions/Error"}},"404":{"description":"Not Found","schema":{"$ref":"#/definitions/Error"}},"405":{"description":"Method Not allowed","schema":{"$ref":"#/definitions/Error"}},"409":{"description":"Conflict","schema":{"$ref":"#/definitions/Error"}},"500":{"description":"Internal Server Error","schema":{"$ref":"#/definitions/Error"}}},"security":[{"spring_oauth":["read","write","admin","openapi"]}]}}},"securityDefinitions":{"spring_oauth":{"type":"oauth2","authorizationUrl":"http://portal.openslice.io/auth/realms/openslice/protocol/openid-connect/auth","tokenUrl":"http://portal.openslice.io/auth/realms/openslice/protocol/openid-connect/token","flow":"accessCode","scopes":{"read":"for read operations","write":"for write operations","admin":"Access admin API","openapi":"Access openapi API"}}},"definitions":{"Any":{"type":"object","properties":{"alias":{"type":"string"},"value":{"type":"string"}},"title":"Any"},"Attachment":{"type":"object","properties":{"@baseType":{"type":"string","description":"When sub-classing, this defines the super-class"},"@schemaLocation":{"type":"string","description":"A URI to a JSON-Schema file that defines additional attributes and relationships"},"@type":{"type":"string"},"attachmentType":{"type":"string","description":"Attachment type such as video, picture"},"content":{"type":"string","description":"The actual contents of the attachment object, if embedded, encoded as base64"},"description":{"type":"string","description":"A narrative text describing the content of the attachment"},"href":{"type":"string","description":"Unique reference of the entity"},"id":{"type":"string","description":"Unique identifier for this particular attachment"},"mimeType":{"type":"string","description":"Attachment mime type such as extension file for video, picture and document"},"name":{"type":"string","description":"Name of the entity"},"size":{"description":"The size of the attachment.","$ref":"#/definitions/Quantity"},"url":{"type":"string","description":"Uniform Resource Locator, is a web page address (a subset of URI)"},"uuid":{"type":"string"},"validFor":{"description":"The period of time for which the attachment is valid","$ref":"#/definitions/TimePeriod"}},"title":"Attachment","description":"Complements the description of an element (for instance a product) through video, pictures..."},"AttachmentRefOrValue":{"type":"object","properties":{"@baseType":{"type":"string","description":"When sub-classing, this defines the super-class"},"@referredType":{"type":"string"},"@schemaLocation":{"type":"string","description":"A URI to a JSON-Schema file that defines additional attributes and relationships"},"@type":{"type":"string"},"atReferredType":{"type":"string","description":"The actual type of the target instance when needed for disambiguation."},"attachmentType":{"type":"string","example":"video","description":"Attachment type such as video, picture"},"content":{"type":"string","description":"The actual contents of the attachment object, if embedded, encoded as base64"},"description":{"type":"string","example":"Photograph of the Product","description":"A narrative text describing the content of the attachment"},"href":{"type":"string","description":"Unique reference of the entity"},"id":{"type":"string","example":"4aafacbd-11ff-4dc8-b445-305f2215715f","description":"Unique identifier for this particular attachment"},"mimeType":{"type":"string","description":"Attachment mime type such as extension file for video, picture and document"},"name":{"type":"string","description":"Name of the entity"},"size":{"$ref":"#/definitions/Quantity"},"url":{"type":"string","example":"http://host/Content/4aafacbd-11ff-4dc8-b445-305f2215715f","description":"Uniform Resource Locator, is a web page address (a subset of URI)"},"uuid":{"type":"string"},"validFor":{"$ref":"#/definitions/TimePeriod"}},"title":"AttachmentRefOrValue","description":"An attachment by value or by reference. An attachment complements the description of an element, for example through a document, a video, a picture."},"ByteArrayResource":{"type":"object","properties":{"byteArray":{"type":"string","format":"byte"},"description":{"type":"string"},"file":{"type":"file"},"filename":{"type":"string"},"inputStream":{"$ref":"#/definitions/InputStream"},"open":{"type":"boolean"},"readable":{"type":"boolean"},"uri":{"type":"string","format":"uri"},"url":{"type":"string","format":"url"}},"title":"ByteArrayResource"},"ConstraintRef":{"type":"object","required":["id"],"properties":{"@baseType":{"type":"string","description":"When sub-classing, this defines the super-class"},"@referredType":{"type":"string"},"@schemaLocation":{"type":"string","description":"A URI to a JSON-Schema file that defines additional attributes and relationships"},"@type":{"type":"string"},"atReferredType":{"type":"string","description":"The (class) type of the referred constraint"},"href":{"type":"string","description":"Hyperlink reference to the target constraint"},"id":{"type":"string","description":"reference id to the target constraint"},"name":{"type":"string","description":"Name given to the constraint"},"uuid":{"type":"string"},"version":{"type":"string","description":"constraint version"}},"title":"ConstraintRef","description":"Constraint reference. The Constraint resource represents a policy/rule applied to an entity or entity spec."},"Error":{"type":"object","required":["code","reason"],"properties":{"@baseType":{"type":"string"},"@schemaLocation":{"type":"string"},"@type":{"type":"string"},"atBaseType":{"type":"string","description":"When sub-classing, this defines the super-class."},"atSchemaLocation":{"type":"string","description":"A URI to a JSON-Schema file that defines additional attributes and relationships"},"atType":{"type":"string","description":"When sub-classing, this defines the sub-class entity name."},"code":{"type":"string","description":"Application relevant detail, defined in the API or a common list."},"message":{"type":"string","description":"More details and corrective actions related to the error which can be shown to a client user."},"reason":{"type":"string","description":"Explanation of the reason for the error which can be shown to a client user."},"referenceError":{"type":"string","description":"URI of documentation describing the error."},"status":{"type":"string","description":"HTTP Error code extension"}},"title":"Error","description":"Used when an API throws an Error, typically with a HTTP error response-code (3xx, 4xx, 5xx)"},"EventSubscription":{"type":"object","required":["callback","id"],"properties":{"callback":{"type":"string","description":"The callback being registered."},"id":{"type":"string","description":"Id of the listener"},"query":{"type":"string","description":"additional data to be passed"}},"title":"EventSubscription","description":"Sets the communication endpoint address the service instance must use to deliver notification information"},"EventSubscriptionInput":{"type":"object","required":["callback"],"properties":{"callback":{"type":"string","description":"The callback being registered."},"query":{"type":"string","description":"additional data to be passed"}},"title":"EventSubscriptionInput","description":"Sets the communication endpoint address the service instance must use to deliver notification information"},"ExportJob":{"type":"object","properties":{"@baseType":{"type":"string"},"@schemaLocation":{"type":"string"},"@type":{"type":"string"},"atBaseType":{"type":"string","description":"When sub-classing, this defines the super-class"},"atSchemaLocation":{"type":"string","description":"A URI to a JSON-Schema file that defines additional attributes and relationships"},"atType":{"type":"string","description":"When sub-classing, this defines the sub-class entity name"},"completionDate":{"type":"string","format":"date-time","description":"Data at which the job was completed"},"contentType":{"type":"string","description":"The format of the exported data"},"creationDate":{"type":"string","format":"date-time","description":"Date at which the job was created"},"errorLog":{"type":"string","description":"Reason for failure"},"href":{"type":"string","description":"Reference of the export job"},"id":{"type":"string","description":"Identifier of the export job"},"path":{"type":"string","description":"URL of the root resource acting as the source for streaming content to the file specified by the export job"},"query":{"type":"string","description":"Used to scope the exported data"},"status":{"type":"string","enum":["Failed","Not Started","Running","Succeeded"]},"url":{"type":"string","description":"URL of the file containing the data to be exported"}},"title":"ExportJob","description":"Represents a task used to export resources to a file"},"ExportJobCreate":{"type":"object","required":["url"],"properties":{"@baseType":{"type":"string"},"@schemaLocation":{"type":"string"},"@type":{"type":"string"},"atBaseType":{"type":"string","description":"When sub-classing, this defines the super-class"},"atSchemaLocation":{"type":"string","description":"A URI to a JSON-Schema file that defines additional attributes and relationships"},"atType":{"type":"string","description":"When sub-classing, this defines the sub-class entity name"},"completionDate":{"type":"string","format":"date-time","description":"Data at which the job was completed"},"contentType":{"type":"string","description":"The format of the exported data"},"creationDate":{"type":"string","format":"date-time","description":"Date at which the job was created"},"errorLog":{"type":"string","description":"Reason for failure"},"path":{"type":"string","description":"URL of the root resource acting as the source for streaming content to the file specified by the export job"},"query":{"type":"string","description":"Used to scope the exported data"},"status":{"type":"string","enum":["Failed","Not Started","Running","Succeeded"]},"url":{"type":"string","description":"URL of the file containing the data to be exported"}},"title":"ExportJobCreate","description":"Represents a task used to export resources to a file Skipped properties: id,href"},"ExportJobCreateEvent":{"type":"object","properties":{"correlationId":{"type":"string","description":"The correlation id for this event."},"description":{"type":"string","description":"An explnatory of the event."},"domain":{"type":"string","description":"The domain of the event."},"event":{"$ref":"#/definitions/ExportJobCreateEventPayload"},"eventId":{"type":"string","description":"The identifier of the notification."},"eventTime":{"type":"string","format":"date-time","description":"Time of the event occurrence."},"eventType":{"type":"string","description":"The type of the notification."},"href":{"type":"string","description":"Reference of the ProcessFlow"},"id":{"type":"string","description":"Identifier of the Process flow"},"priority":{"type":"string","description":"A priority."},"timeOcurred":{"type":"string","format":"date-time","description":"The time the event occured."},"title":{"type":"string","description":"The title of the event."}},"title":"ExportJobCreateEvent","description":"The notification data structure"},"ExportJobCreateEventPayload":{"type":"object","properties":{"exportJob":{"$ref":"#/definitions/ExportJob"}},"title":"ExportJobCreateEventPayload","description":"The event data structure"},"ExportJobStateChangeEvent":{"type":"object","properties":{"correlationId":{"type":"string","description":"The correlation id for this event."},"description":{"type":"string","description":"An explnatory of the event."},"domain":{"type":"string","description":"The domain of the event."},"event":{"$ref":"#/definitions/ExportJobStateChangeEventPayload"},"eventId":{"type":"string","description":"The identifier of the notification."},"eventTime":{"type":"string","format":"date-time","description":"Time of the event occurrence."},"eventType":{"type":"string","description":"The type of the notification."},"href":{"type":"string","description":"Reference of the ProcessFlow"},"id":{"type":"string","description":"Identifier of the Process flow"},"priority":{"type":"string","description":"A priority."},"timeOcurred":{"type":"string","format":"date-time","description":"The time the event occured."},"title":{"type":"string","description":"The title of the event."}},"title":"ExportJobStateChangeEvent","description":"The notification data structure"},"ExportJobStateChangeEventPayload":{"type":"object","properties":{"exportJob":{"$ref":"#/definitions/ExportJob"}},"title":"ExportJobStateChangeEventPayload","description":"The event data structure"},"FeatureSpecification":{"type":"object","properties":{"@baseType":{"type":"string","description":"When sub-classing, this defines the super-class"},"@schemaLocation":{"type":"string","description":"A URI to a JSON-Schema file that defines additional attributes and relationships"},"@type":{"type":"string"},"atBaseType":{"type":"string","description":"When sub-classing, this defines the super-class"},"atSchemaLocation":{"type":"string","description":"A URI to a JSON-Schema file that defines additional attributes and relationships"},"atType":{"type":"string","description":"When sub-classing, this defines the sub-class entity name"},"constraint":{"type":"array","description":"This is a list of feature constraints","uniqueItems":true,"items":{"$ref":"#/definitions/ConstraintRef"}},"featureSpecCharacteristic":{"type":"array","description":"This is a list of characteristics for a particular feature","uniqueItems":true,"items":{"$ref":"#/definitions/FeatureSpecificationCharacteristic"}},"featureSpecRelationship":{"type":"array","description":"A dependency, exclusivity or aggratation relationship between/among feature specifications.","uniqueItems":true,"items":{"$ref":"#/definitions/FeatureSpecificationRelationship"}},"href":{"type":"string","description":"Unique reference of the entity"},"id":{"type":"string","description":"Identifier of the feature specification. Must be locally unique within the containing resource specification, thus allowing direct access to the feature spec."},"isBundle":{"type":"boolean","description":"A flag indicating if this is a feature group (true) or not (false)"},"isEnabled":{"type":"boolean","description":"A flag indicating if the feature is enabled (true) or not (false)"},"name":{"type":"string","description":"Unique name given to the feature specification"},"uuid":{"type":"string"},"validFor":{"$ref":"#/definitions/TimePeriod"},"version":{"type":"string","description":"Version of the feature specification"}},"title":"FeatureSpecification","description":"Specification for applicable configuration features for a resource specification."},"FeatureSpecificationCharacteristic":{"type":"object","required":["name"],"properties":{"@baseType":{"type":"string","description":"When sub-classing, this defines the super-class"},"@schemaLocation":{"type":"string","description":"A URI to a JSON-Schema file that defines additional attributes and relationships"},"@type":{"type":"string"},"atValueSchemaLocation":{"type":"string","description":"This (optional) field provides a link to the schema describing the value type."},"configurable":{"type":"boolean","description":"True is the feature is configurable."},"description":{"type":"string","description":"Description of this catalog"},"extensible":{"type":"boolean","description":"An indicator that specifies that the values for the characteristic can be extended by adding new values when instantiating a characteristic for a feature."},"featureSpecCharRelationship":{"type":"array","description":"An aggregation, migration, substitution, dependency or exclusivity relationship between/among feature characteristics.","uniqueItems":true,"items":{"$ref":"#/definitions/FeatureSpecificationCharacteristicRelationship"}},"featureSpecCharacteristicValue":{"type":"array","description":"Used to define a set of attributes, each of which can be assigned to a corresponding set of attributes in a FeatureCharacteristic object.","uniqueItems":true,"items":{"$ref":"#/definitions/FeatureSpecificationCharacteristicValue"}},"href":{"type":"string","description":"Unique reference of the entity"},"isUnique":{"type":"boolean","description":"An indicator that specifies if a value is unique for the specification."},"lastUpdate":{"type":"string","description":"Date and time of the last update"},"lifecycleStatus":{"type":"string","description":"Used to indicate the current lifecycle status"},"lifecycleStatusEnum":{"type":"string","enum":["ACTIVE","IN_DESIGN","IN_STUDY","IN_TEST","LAUNCHED","OBSOLETE","REJECTED","RETIRED"]},"maxCardinality":{"type":"integer","format":"int32","description":"The maximum number of instances a CharacteristicValue can take on."},"minCardinality":{"type":"integer","format":"int32","description":"The minimum number of instances a CharacteristicValue can take on."},"name":{"type":"string","description":"This is the name for the feature charateristic."},"regex":{"type":"string","description":"A rule or principle represented in regular expression used to derive the value of a characteristic value."},"uuid":{"type":"string"},"validFor":{"$ref":"#/definitions/TimePeriod"},"valueType":{"type":"string","description":"A kind of value that the characteristic can take on."},"version":{"type":"string","description":"Entity version"}},"title":"FeatureSpecificationCharacteristic","description":"Configuration feature characteristic specification."},"FeatureSpecificationCharacteristicRelationship":{"type":"object","properties":{"@baseType":{"type":"string","description":"When sub-classing, this defines the super-class"},"@schemaLocation":{"type":"string","description":"A URI to a JSON-Schema file that defines additional attributes and relationships"},"@type":{"type":"string"},"characteristicId":{"type":"string","description":"Unique identifier of the characteristic within the the target feature specification"},"featureId":{"type":"string","description":"Unique identifier of the target feature specification within the resource specification."},"href":{"type":"string","description":"Unique reference of the entity"},"name":{"type":"string","description":"Name of the target characteristic"},"relationshipType":{"type":"string","description":"Type of relationship such as aggregation, migration, substitution, dependency, exclusivity"},"resourceSpecificationHref":{"type":"string","description":"Hyperlink reference to the resource specification containing the target feature and feature characteristic"},"resourceSpecificationId":{"type":"string","description":"Unique identifier of the resource specification containing the target feature and feature characteristic"},"uuid":{"type":"string"},"validFor":{"$ref":"#/definitions/TimePeriod"}},"title":"FeatureSpecificationCharacteristicRelationship","description":"An aggregation, migration, substitution, dependency or exclusivity relationship between/among FeatureSpecificationCharacteristics."},"FeatureSpecificationCharacteristicReq":{"type":"object","required":["name"],"properties":{"@baseType":{"type":"string","description":"When sub-classing, this defines the super-class"},"@schemaLocation":{"type":"string","description":"A URI to a JSON-Schema file that defines additional attributes and relationships"},"@type":{"type":"string"},"atValueSchemaLocation":{"type":"string","description":"This (optional) field provides a link to the schema describing the value type."},"configurable":{"type":"boolean","description":"True is the feature is configurable."},"description":{"type":"string","description":"Description of this catalog"},"extensible":{"type":"boolean","description":"An indicator that specifies that the values for the characteristic can be extended by adding new values when instantiating a characteristic for a feature."},"featureSpecCharRelationship":{"type":"array","description":"An aggregation, migration, substitution, dependency or exclusivity relationship between/among feature characteristics.","uniqueItems":true,"items":{"$ref":"#/definitions/FeatureSpecificationCharacteristicRelationship"}},"featureSpecCharacteristicValue":{"type":"array","description":"Used to define a set of attributes, each of which can be assigned to a corresponding set of attributes in a FeatureCharacteristic object.","uniqueItems":true,"items":{"$ref":"#/definitions/FeatureSpecificationCharacteristicValue"}},"href":{"type":"string","description":"Unique reference of the entity"},"isUnique":{"type":"boolean","description":"An indicator that specifies if a value is unique for the specification."},"lastUpdate":{"type":"string","description":"Date and time of the last update"},"lifecycleStatus":{"type":"string","description":"Used to indicate the current lifecycle status"},"lifecycleStatusEnum":{"type":"string","enum":["ACTIVE","IN_DESIGN","IN_STUDY","IN_TEST","LAUNCHED","OBSOLETE","REJECTED","RETIRED"]},"maxCardinality":{"type":"integer","format":"int32","description":"The maximum number of instances a CharacteristicValue can take on."},"minCardinality":{"type":"integer","format":"int32","description":"The minimum number of instances a CharacteristicValue can take on."},"name":{"type":"string","description":"This is the name for the feature charateristic."},"regex":{"type":"string","description":"A rule or principle represented in regular expression used to derive the value of a characteristic value."},"uuid":{"type":"string"},"validFor":{"$ref":"#/definitions/TimePeriod"},"valueType":{"type":"string","description":"A kind of value that the characteristic can take on."},"version":{"type":"string","description":"Entity version"}},"title":"FeatureSpecificationCharacteristicReq","description":"Configuration feature characteristic specification."},"FeatureSpecificationCharacteristicRes":{"type":"object","required":["name"],"properties":{"@baseType":{"type":"string","description":"When sub-classing, this defines the super-class"},"@schemaLocation":{"type":"string","description":"A URI to a JSON-Schema file that defines additional attributes and relationships"},"@type":{"type":"string"},"atValueSchemaLocation":{"type":"string","description":"This (optional) field provides a link to the schema describing the value type."},"configurable":{"type":"boolean","description":"True is the feature is configurable."},"description":{"type":"string","description":"Description of this catalog"},"extensible":{"type":"boolean","description":"An indicator that specifies that the values for the characteristic can be extended by adding new values when instantiating a characteristic for a feature."},"featureSpecCharRelationship":{"type":"array","description":"An aggregation, migration, substitution, dependency or exclusivity relationship between/among feature characteristics.","uniqueItems":true,"items":{"$ref":"#/definitions/FeatureSpecificationCharacteristicRelationship"}},"featureSpecCharacteristicValue":{"type":"array","description":"Used to define a set of attributes, each of which can be assigned to a corresponding set of attributes in a FeatureCharacteristic object.","uniqueItems":true,"items":{"$ref":"#/definitions/FeatureSpecificationCharacteristicValue"}},"href":{"type":"string","description":"Unique reference of the entity"},"isUnique":{"type":"boolean","description":"An indicator that specifies if a value is unique for the specification."},"lastUpdate":{"type":"string","description":"Date and time of the last update"},"lifecycleStatus":{"type":"string","description":"Used to indicate the current lifecycle status"},"maxCardinality":{"type":"integer","format":"int32","description":"The maximum number of instances a CharacteristicValue can take on."},"minCardinality":{"type":"integer","format":"int32","description":"The minimum number of instances a CharacteristicValue can take on."},"name":{"type":"string","description":"This is the name for the feature charateristic."},"regex":{"type":"string","description":"A rule or principle represented in regular expression used to derive the value of a characteristic value."},"uuid":{"type":"string"},"validFor":{"$ref":"#/definitions/TimePeriod"},"valueType":{"type":"string","description":"A kind of value that the characteristic can take on."},"version":{"type":"string","description":"Entity version"}},"title":"FeatureSpecificationCharacteristicRes","description":"Configuration feature characteristic specification."},"FeatureSpecificationCharacteristicValue":{"type":"object","required":["valueType"],"properties":{"@baseType":{"type":"string","description":"When sub-classing, this defines the super-class"},"@schemaLocation":{"type":"string","description":"A URI to a JSON-Schema file that defines additional attributes and relationships"},"@type":{"type":"string"},"atBaseType":{"type":"string","description":"When sub-classing, this defines the super-class"},"atSchemaLocation":{"type":"string","description":"A URI to a JSON-Schema file that defines additional attributes and relationships"},"atType":{"type":"string","description":"When sub-classing, this defines the sub-class entity name"},"href":{"type":"string","description":"Unique reference of the entity"},"isDefault":{"type":"boolean","description":"True if the value is the default value for a characteristic."},"rangeInterval":{"type":"string","description":"Specifies the inclusion or exclusion of the valueFrom and valueTo attributes."},"regex":{"type":"string","description":"A regular expression constraint for given value."},"unitOfMeasure":{"type":"string","description":"A determinate quantity or magnitude of the kind designated, taken as a standard of comparison for others of the same kind, in assigning to them numerical values."},"uuid":{"type":"string"},"validFor":{"$ref":"#/definitions/TimePeriod"},"value":{"$ref":"#/definitions/Any"},"valueFrom":{"type":"integer","format":"int32","description":"The low range value that a characteristic can take on."},"valueTo":{"type":"integer","format":"int32","description":"The upper range value that a characteristic can take on."},"valueType":{"type":"string","description":"A kind of value that the characteristic value can take on."}},"title":"FeatureSpecificationCharacteristicValue","description":"A number or text that can be assigned to a FeatureSpecificationCharacteristic."},"FeatureSpecificationRelationship":{"type":"object","required":["name","relationshipType"],"properties":{"@baseType":{"type":"string","description":"When sub-classing, this defines the super-class"},"@schemaLocation":{"type":"string","description":"A URI to a JSON-Schema file that defines additional attributes and relationships"},"@type":{"type":"string"},"atBaseType":{"type":"string","description":"When sub-classing, this defines the super-class"},"atSchemaLocation":{"type":"string","description":"A URI to a JSON-Schema file that defines additional attributes and relationships"},"atType":{"type":"string","description":"When sub-classing, this defines the sub-class entity name"},"description":{"type":"string","description":"Description of this catalog"},"featureId":{"type":"string","description":"Unique identifier of the target feature specification."},"href":{"type":"string","description":"Unique reference of the entity"},"lastUpdate":{"type":"string","description":"Date and time of the last update"},"lifecycleStatus":{"type":"string","description":"Used to indicate the current lifecycle status"},"lifecycleStatusEnum":{"type":"string","enum":["ACTIVE","IN_DESIGN","IN_STUDY","IN_TEST","LAUNCHED","OBSOLETE","REJECTED","RETIRED"]},"name":{"type":"string","description":"This is the name of the target feature specification."},"relationshipType":{"type":"string","description":"This is the type of the feature specification relationship."},"resourceSpecificationHref":{"type":"string","description":"Hyperlink reference to the resource specification containing the target feature"},"resourceSpecificationId":{"type":"string","description":"Unique identifier of the resource specification containing the target feature"},"uuid":{"type":"string"},"validFor":{"$ref":"#/definitions/TimePeriod"},"version":{"type":"string","description":"Entity version"}},"title":"FeatureSpecificationRelationship","description":"Configuration feature"},"FeatureSpecificationRelationshipReq":{"type":"object","required":["name","relationshipType"],"properties":{"@baseType":{"type":"string","description":"When sub-classing, this defines the super-class"},"@schemaLocation":{"type":"string","description":"A URI to a JSON-Schema file that defines additional attributes and relationships"},"@type":{"type":"string"},"atBaseType":{"type":"string","description":"When sub-classing, this defines the super-class"},"atSchemaLocation":{"type":"string","description":"A URI to a JSON-Schema file that defines additional attributes and relationships"},"atType":{"type":"string","description":"When sub-classing, this defines the sub-class entity name"},"description":{"type":"string","description":"Description of this catalog"},"featureId":{"type":"string","description":"Unique identifier of the target feature specification."},"href":{"type":"string","description":"Unique reference of the entity"},"lastUpdate":{"type":"string","description":"Date and time of the last update"},"lifecycleStatus":{"type":"string","description":"Used to indicate the current lifecycle status"},"lifecycleStatusEnum":{"type":"string","enum":["ACTIVE","IN_DESIGN","IN_STUDY","IN_TEST","LAUNCHED","OBSOLETE","REJECTED","RETIRED"]},"name":{"type":"string","description":"This is the name of the target feature specification."},"relationshipType":{"type":"string","description":"This is the type of the feature specification relationship."},"resourceSpecificationHref":{"type":"string","description":"Hyperlink reference to the resource specification containing the target feature"},"resourceSpecificationId":{"type":"string","description":"Unique identifier of the resource specification containing the target feature"},"uuid":{"type":"string"},"validFor":{"$ref":"#/definitions/TimePeriod"},"version":{"type":"string","description":"Entity version"}},"title":"FeatureSpecificationRelationshipReq","description":"Configuration feature"},"FeatureSpecificationRelationshipRes":{"type":"object","required":["name","relationshipType"],"properties":{"@baseType":{"type":"string","description":"When sub-classing, this defines the super-class"},"@schemaLocation":{"type":"string","description":"A URI to a JSON-Schema file that defines additional attributes and relationships"},"@type":{"type":"string"},"atBaseType":{"type":"string","description":"When sub-classing, this defines the super-class"},"atSchemaLocation":{"type":"string","description":"A URI to a JSON-Schema file that defines additional attributes and relationships"},"atType":{"type":"string","description":"When sub-classing, this defines the sub-class entity name"},"description":{"type":"string","description":"Description of this catalog"},"featureId":{"type":"string","description":"Unique identifier of the target feature specification."},"href":{"type":"string","description":"Unique reference of the entity"},"lastUpdate":{"type":"string","description":"Date and time of the last update"},"lifecycleStatus":{"type":"string","description":"Used to indicate the current lifecycle status"},"name":{"type":"string","description":"This is the name of the target feature specification."},"relationshipType":{"type":"string","description":"This is the type of the feature specification relationship."},"resourceSpecificationHref":{"type":"string","description":"Hyperlink reference to the resource specification containing the target feature"},"resourceSpecificationId":{"type":"string","description":"Unique identifier of the resource specification containing the target feature"},"uuid":{"type":"string"},"validFor":{"$ref":"#/definitions/TimePeriod"},"version":{"type":"string","description":"Entity version"}},"title":"FeatureSpecificationRelationshipRes","description":"Configuration feature"},"FeatureSpecificationReq":{"type":"object","properties":{"@baseType":{"type":"string","description":"When sub-classing, this defines the super-class"},"@schemaLocation":{"type":"string","description":"A URI to a JSON-Schema file that defines additional attributes and relationships"},"@type":{"type":"string"},"atBaseType":{"type":"string","description":"When sub-classing, this defines the super-class"},"atSchemaLocation":{"type":"string","description":"A URI to a JSON-Schema file that defines additional attributes and relationships"},"atType":{"type":"string","description":"When sub-classing, this defines the sub-class entity name"},"constraint":{"type":"array","description":"This is a list of feature constraints","uniqueItems":true,"items":{"$ref":"#/definitions/ConstraintRef"}},"featureSpecCharacteristic":{"type":"array","description":"This is a list of characteristics for a particular feature","uniqueItems":true,"items":{"$ref":"#/definitions/FeatureSpecificationCharacteristicReq"}},"featureSpecRelationship":{"type":"array","description":"A dependency, exclusivity or aggratation relationship between/among feature specifications.","uniqueItems":true,"items":{"$ref":"#/definitions/FeatureSpecificationRelationshipReq"}},"href":{"type":"string","description":"Unique reference of the entity"},"id":{"type":"string","description":"Identifier of the feature specification. Must be locally unique within the containing resource specification, thus allowing direct access to the feature spec."},"isBundle":{"type":"boolean","description":"A flag indicating if this is a feature group (true) or not (false)"},"isEnabled":{"type":"boolean","description":"A flag indicating if the feature is enabled (true) or not (false)"},"name":{"type":"string","description":"Unique name given to the feature specification"},"uuid":{"type":"string"},"validFor":{"$ref":"#/definitions/TimePeriod"},"version":{"type":"string","description":"Version of the feature specification"}},"title":"FeatureSpecificationReq","description":"Specification for applicable configuration features for a resource specification."},"FeatureSpecificationRes":{"type":"object","properties":{"@baseType":{"type":"string","description":"When sub-classing, this defines the super-class"},"@schemaLocation":{"type":"string","description":"A URI to a JSON-Schema file that defines additional attributes and relationships"},"@type":{"type":"string"},"atBaseType":{"type":"string","description":"When sub-classing, this defines the super-class"},"atSchemaLocation":{"type":"string","description":"A URI to a JSON-Schema file that defines additional attributes and relationships"},"atType":{"type":"string","description":"When sub-classing, this defines the sub-class entity name"},"constraint":{"type":"array","description":"This is a list of feature constraints","uniqueItems":true,"items":{"$ref":"#/definitions/ConstraintRef"}},"featureSpecCharacteristic":{"type":"array","description":"This is a list of characteristics for a particular feature","uniqueItems":true,"items":{"$ref":"#/definitions/FeatureSpecificationCharacteristicRes"}},"featureSpecRelationship":{"type":"array","description":"A dependency, exclusivity or aggratation relationship between/among feature specifications.","uniqueItems":true,"items":{"$ref":"#/definitions/FeatureSpecificationRelationshipRes"}},"href":{"type":"string","description":"Unique reference of the entity"},"id":{"type":"string","description":"Identifier of the feature s
[...]
