{"swagger":"2.0","info":{"description":"## TMF API Reference : TMF 638 - Service Inventory Management v4 Release 18.5 - Dec 2018  The intent of this API is to provide a consistent/standardized mechanism to query and manipulate the Service inventory.  The Service Inventory API can be used to query the service instances for a customer via Self Service Portal or the Call Centre operator can query the service instances on behalf of the customer while a customer may have a complaint or a query. Note: Only the CustomerFacingServices instances will be presented to the customer.  The Service Inventory API can be called by the Service Order Management to create a new service instance/ update an existing service instance in the Service Inventory.  ### Service resource Service is an abstract base class for defining the Service hierarchy. All Services are characterized as either being possibly visible and usable by a Customer or not. This gives rise to the two subclasses of  Service: CustomerFacingService and ResourceFacingService.  ### Service Inventory API performs the following operations on service  : - Retrieve  a service or a collection of services depending on filter criteria - Partial update of a service (including updating rules) - Create a service (including default values and creation rules and for administration users only) - Delete a service (for administration users only) - Notification of events on service  Copyright (c)TM Forum 2018. All Rights Reserved.","version":"4.0.0","title":"Service Inventory Management","contact":{},"license":{"url":"http://unlicense.org"}},"host":"portal.openslice.io","basePath":"/tmf-api","tags":[{"name":"hub-api-controller","description":"the hub API"},{"name":"listener-api-controller","description":"the listener API"},{"name":"service-api-controller","description":"the service API"}],"paths":{"/serviceInventory/v4/hub":{"post":{"tags":["events subscription"],"summary":"Register a listener","description":"Sets the communication endpoint address the service instance must use to deliver information about its health state, execution state, failures and metrics.","operationId":"registerListener_4","consumes":["application/json;charset=utf-8"],"produces":["application/json;charset=utf-8"],"parameters":[{"in":"body","name":"data","description":"Data containing the callback endpoint to deliver the information","required":true,"schema":{"$ref":"#/definitions/EventSubscriptionInput"}}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/EventSubscription"}},"201":{"description":"Subscribed","schema":{"$ref":"#/definitions/EventSubscription"}},"400":{"description":"Bad Request","schema":{"$ref":"#/definitions/Error"}},"401":{"description":"Unauthorized","schema":{"$ref":"#/definitions/Error"}},"403":{"description":"Forbidden","schema":{"$ref":"#/definitions/Error"}},"404":{"description":"Not Found","schema":{"$ref":"#/definitions/Error"}},"405":{"description":"Method Not allowed","schema":{"$ref":"#/definitions/Error"}},"409":{"description":"Conflict","schema":{"$ref":"#/definitions/Error"}},"500":{"description":"Internal Server Error","schema":{"$ref":"#/definitions/Error"}}},"deprecated":false}},"/serviceInventory/v4/hub/{id}":{"delete":{"tags":["events subscription"],"summary":"Unregister a listener","description":"Resets the communication endpoint address the service instance must use to deliver information about its health state, execution state, failures and metrics.","operationId":"unregisterListener_4","consumes":["application/json;charset=utf-8"],"produces":["application/json;charset=utf-8"],"parameters":[{"name":"id","in":"path","description":"The id of the registered listener","required":true,"type":"string"}],"responses":{"200":{"description":"OK"},"204":{"description":"Deleted"},"400":{"description":"Bad request","schema":{"$ref":"#/definitions/Error"}},"401":{"description":"Unauthorized","schema":{"$ref":"#/definitions/Error"}},"403":{"description":"Forbidden","schema":{"$ref":"#/definitions/Error"}},"404":{"description":"Not Found","schema":{"$ref":"#/definitions/Error"}},"405":{"description":"Method not allowed","schema":{"$ref":"#/definitions/Error"}},"500":{"description":"Internal Server Error","schema":{"$ref":"#/definitions/Error"}}},"deprecated":false}},"/serviceInventory/v4/listener/serviceAttributeValueChangeNotification":{"post":{"tags":["notification listeners (client side)"],"summary":"Client listener for entity ServiceAttributeValueChangeNotification","description":"Example of a client listener for receiving the notification ServiceAttributeValueChangeNotification","operationId":"listenToServiceAttributeValueChangeNotification","consumes":["application/json;charset=utf-8"],"produces":["application/json;charset=utf-8"],"parameters":[{"in":"body","name":"data","description":"The event data","required":true,"schema":{"$ref":"#/definitions/ServiceAttributeValueChangeNotification"}}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/EventSubscription"}},"201":{"description":"Notified","schema":{"$ref":"#/definitions/EventSubscription"}},"400":{"description":"Bad Request","schema":{"$ref":"#/definitions/Error"}},"401":{"description":"Unauthorized","schema":{"$ref":"#/definitions/Error"}},"403":{"description":"Forbidden","schema":{"$ref":"#/definitions/Error"}},"404":{"description":"Not Found","schema":{"$ref":"#/definitions/Error"}},"405":{"description":"Method Not allowed","schema":{"$ref":"#/definitions/Error"}},"409":{"description":"Conflict","schema":{"$ref":"#/definitions/Error"}},"500":{"description":"Internal Server Error","schema":{"$ref":"#/definitions/Error"}}},"deprecated":false}},"/serviceInventory/v4/listener/serviceBatchNotification":{"post":{"tags":["notification listeners (client side)"],"summary":"Client listener for entity ServiceBatchNotification","description":"Example of a client listener for receiving the notification ServiceBatchNotification","operationId":"listenToServiceBatchNotification","consumes":["application/json;charset=utf-8"],"produces":["application/json;charset=utf-8"],"parameters":[{"in":"body","name":"data","description":"The event data","required":true,"schema":{"$ref":"#/definitions/ServiceBatchNotification"}}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/EventSubscription"}},"201":{"description":"Notified","schema":{"$ref":"#/definitions/EventSubscription"}},"400":{"description":"Bad Request","schema":{"$ref":"#/definitions/Error"}},"401":{"description":"Unauthorized","schema":{"$ref":"#/definitions/Error"}},"403":{"description":"Forbidden","schema":{"$ref":"#/definitions/Error"}},"404":{"description":"Not Found","schema":{"$ref":"#/definitions/Error"}},"405":{"description":"Method Not allowed","schema":{"$ref":"#/definitions/Error"}},"409":{"description":"Conflict","schema":{"$ref":"#/definitions/Error"}},"500":{"description":"Internal Server Error","schema":{"$ref":"#/definitions/Error"}}},"deprecated":false}},"/serviceInventory/v4/listener/serviceCreateNotification":{"post":{"tags":["notification listeners (client side)"],"summary":"Client listener for entity ServiceCreateNotification","description":"Example of a client listener for receiving the notification ServiceCreateNotification","operationId":"listenToServiceCreateNotification","consumes":["application/json;charset=utf-8"],"produces":["application/json;charset=utf-8"],"parameters":[{"in":"body","name":"data","description":"The event data","required":true,"schema":{"$ref":"#/definitions/ServiceCreateNotification"}}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/EventSubscription"}},"201":{"description":"Notified","schema":{"$ref":"#/definitions/EventSubscription"}},"400":{"description":"Bad Request","schema":{"$ref":"#/definitions/Error"}},"401":{"description":"Unauthorized","schema":{"$ref":"#/definitions/Error"}},"403":{"description":"Forbidden","schema":{"$ref":"#/definitions/Error"}},"404":{"description":"Not Found","schema":{"$ref":"#/definitions/Error"}},"405":{"description":"Method Not allowed","schema":{"$ref":"#/definitions/Error"}},"409":{"description":"Conflict","schema":{"$ref":"#/definitions/Error"}},"500":{"description":"Internal Server Error","schema":{"$ref":"#/definitions/Error"}}},"deprecated":false}},"/serviceInventory/v4/listener/serviceDeleteNotification":{"post":{"tags":["notification listeners (client side)"],"summary":"Client listener for entity ServiceDeleteNotification","description":"Example of a client listener for receiving the notification ServiceDeleteNotification","operationId":"listenToServiceDeleteNotification","consumes":["application/json;charset=utf-8"],"produces":["application/json;charset=utf-8"],"parameters":[{"in":"body","name":"data","description":"The event data","required":true,"schema":{"$ref":"#/definitions/ServiceDeleteNotification"}}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/EventSubscription"}},"201":{"description":"Notified","schema":{"$ref":"#/definitions/EventSubscription"}},"400":{"description":"Bad Request","schema":{"$ref":"#/definitions/Error"}},"401":{"description":"Unauthorized","schema":{"$ref":"#/definitions/Error"}},"403":{"description":"Forbidden","schema":{"$ref":"#/definitions/Error"}},"404":{"description":"Not Found","schema":{"$ref":"#/definitions/Error"}},"405":{"description":"Method Not allowed","schema":{"$ref":"#/definitions/Error"}},"409":{"description":"Conflict","schema":{"$ref":"#/definitions/Error"}},"500":{"description":"Internal Server Error","schema":{"$ref":"#/definitions/Error"}}},"deprecated":false}},"/serviceInventory/v4/listener/serviceStateChangeNotification":{"post":{"tags":["notification listeners (client side)"],"summary":"Client listener for entity ServiceStateChangeNotification","description":"Example of a client listener for receiving the notification ServiceStateChangeNotification","operationId":"listenToServiceStateChangeNotification","consumes":["application/json;charset=utf-8"],"produces":["application/json;charset=utf-8"],"parameters":[{"in":"body","name":"data","description":"The event data","required":true,"schema":{"$ref":"#/definitions/ServiceStateChangeNotification"}}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/EventSubscription"}},"201":{"description":"Notified","schema":{"$ref":"#/definitions/EventSubscription"}},"400":{"description":"Bad Request","schema":{"$ref":"#/definitions/Error"}},"401":{"description":"Unauthorized","schema":{"$ref":"#/definitions/Error"}},"403":{"description":"Forbidden","schema":{"$ref":"#/definitions/Error"}},"404":{"description":"Not Found","schema":{"$ref":"#/definitions/Error"}},"405":{"description":"Method Not allowed","schema":{"$ref":"#/definitions/Error"}},"409":{"description":"Conflict","schema":{"$ref":"#/definitions/Error"}},"500":{"description":"Internal Server Error","schema":{"$ref":"#/definitions/Error"}}},"deprecated":false}},"/serviceInventory/v4/service":{"get":{"tags":["service"],"summary":"List or find Service objects","description":"This operation list or find Service entities","operationId":"listService","produces":["application/json;charset=utf-8"],"parameters":[{"name":"fields","in":"query","description":"Comma-separated properties to be provided in response","required":false,"type":"string","allowEmptyValue":false},{"name":"limit","in":"query","description":"Requested number of resources to be provided in response","required":false,"type":"integer","format":"int32","allowEmptyValue":false},{"name":"offset","in":"query","description":"Requested index for start of resources to be provided in response","required":false,"type":"integer","format":"int32","allowEmptyValue":false}],"responses":{"200":{"description":"Success","schema":{"type":"array","items":{"$ref":"#/definitions/Service"}}},"400":{"description":"Bad Request","schema":{"$ref":"#/definitions/Error"}},"401":{"description":"Unauthorized","schema":{"$ref":"#/definitions/Error"}},"403":{"description":"Forbidden","schema":{"$ref":"#/definitions/Error"}},"404":{"description":"Not Found","schema":{"$ref":"#/definitions/Error"}},"405":{"description":"Method Not allowed","schema":{"$ref":"#/definitions/Error"}},"409":{"description":"Conflict","schema":{"$ref":"#/definitions/Error"}},"500":{"description":"Internal Server Error","schema":{"$ref":"#/definitions/Error"}}},"deprecated":false},"post":{"tags":["service"],"summary":"Creates a Service","description":"This operation creates a Service entity.","operationId":"createService","consumes":["application/json;charset=utf-8"],"produces":["application/json;charset=utf-8"],"parameters":[{"in":"body","name":"service","description":"The Service to be created","required":true,"schema":{"$ref":"#/definitions/ServiceCreate"}}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/Service"}},"201":{"description":"Created","schema":{"$ref":"#/definitions/Service"}},"400":{"description":"Bad Request","schema":{"$ref":"#/definitions/Error"}},"401":{"description":"Unauthorized","schema":{"$ref":"#/definitions/Error"}},"403":{"description":"Forbidden","schema":{"$ref":"#/definitions/Error"}},"404":{"description":"Not Found"},"405":{"description":"Method Not allowed","schema":{"$ref":"#/definitions/Error"}},"409":{"description":"Conflict","schema":{"$ref":"#/definitions/Error"}},"500":{"description":"Internal Server Error","schema":{"$ref":"#/definitions/Error"}}},"deprecated":false}},"/serviceInventory/v4/service/{id}":{"get":{"tags":["service"],"summary":"Retrieves a Service by ID","description":"This operation retrieves a Service entity. Attribute selection is enabled for all first level attributes.","operationId":"retrieveService","produces":["application/json;charset=utf-8"],"parameters":[{"name":"fields","in":"query","description":"Comma-separated properties to provide in response","required":false,"type":"string","allowEmptyValue":false},{"name":"id","in":"path","description":"Identifier of the Service","required":true,"type":"string"}],"responses":{"200":{"description":"Success","schema":{"$ref":"#/definitions/Service"}},"400":{"description":"Bad Request","schema":{"$ref":"#/definitions/Error"}},"401":{"description":"Unauthorized","schema":{"$ref":"#/definitions/Error"}},"403":{"description":"Forbidden","schema":{"$ref":"#/definitions/Error"}},"404":{"description":"Not Found","schema":{"$ref":"#/definitions/Error"}},"405":{"description":"Method Not allowed","schema":{"$ref":"#/definitions/Error"}},"409":{"description":"Conflict","schema":{"$ref":"#/definitions/Error"}},"500":{"description":"Internal Server Error","schema":{"$ref":"#/definitions/Error"}}},"deprecated":false},"delete":{"tags":["service"],"summary":"Deletes a Service","description":"This operation deletes a Service entity.","operationId":"deleteService","produces":["application/json;charset=utf-8"],"parameters":[{"name":"id","in":"path","description":"Identifier of the Service","required":true,"type":"string"}],"responses":{"200":{"description":"OK"},"204":{"description":"Deleted"},"400":{"description":"Bad Request","schema":{"$ref":"#/definitions/Error"}},"401":{"description":"Unauthorized","schema":{"$ref":"#/definitions/Error"}},"403":{"description":"Forbidden","schema":{"$ref":"#/definitions/Error"}},"404":{"description":"Not Found","schema":{"$ref":"#/definitions/Error"}},"405":{"description":"Method Not allowed","schema":{"$ref":"#/definitions/Error"}},"409":{"description":"Conflict","schema":{"$ref":"#/definitions/Error"}},"500":{"description":"Internal Server Error","schema":{"$ref":"#/definitions/Error"}}},"deprecated":false},"patch":{"tags":["service"],"summary":"Updates partially a Service","description":"This operation updates partially a Service entity.","operationId":"patchService","consumes":["application/json;charset=utf-8"],"produces":["application/json;charset=utf-8"],"parameters":[{"name":"id","in":"path","description":"Identifier of the Service","required":true,"type":"string"},{"in":"body","name":"service","description":"The Service to be updated","required":true,"schema":{"$ref":"#/definitions/ServiceUpdate"}}],"responses":{"200":{"description":"Updated","schema":{"$ref":"#/definitions/Service"}},"204":{"description":"No Content"},"400":{"description":"Bad Request","schema":{"$ref":"#/definitions/Error"}},"401":{"description":"Unauthorized","schema":{"$ref":"#/definitions/Error"}},"403":{"description":"Forbidden","schema":{"$ref":"#/definitions/Error"}},"404":{"description":"Not Found","schema":{"$ref":"#/definitions/Error"}},"405":{"description":"Method Not allowed","schema":{"$ref":"#/definitions/Error"}},"409":{"description":"Conflict","schema":{"$ref":"#/definitions/Error"}},"500":{"description":"Internal Server Error","schema":{"$ref":"#/definitions/Error"}}},"deprecated":false}}},"definitions":{"Any":{"type":"object","properties":{"alias":{"type":"string"},"value":{"type":"string"}},"title":"Any"},"Characteristic":{"type":"object","required":["value"],"properties":{"@baseType":{"type":"string","description":"When sub-classing, this defines the super-class"},"@schemaLocation":{"type":"string","description":"A URI to a JSON-Schema file that defines additional attributes and relationships"},"@type":{"type":"string"},"href":{"type":"string","description":"Unique reference of the entity"},"name":{"type":"string","description":"Name of the entity"},"uuid":{"type":"string"},"value":{"description":"The value of the characteristic","$ref":"#/definitions/Any"},"valueType":{"type":"string","description":"Data type of the value of the characteristic"}},"title":"Characteristic","description":"Describes a given characteristic of an object or entity through a name/value pair."},"Error":{"type":"object","required":["code","reason"],"properties":{"@baseType":{"type":"string","description":"When sub-classing, this defines the super-class."},"@schemaLocation":{"type":"string","description":"A URI to a JSON-Schema file that defines additional attributes and relationships"},"@type":{"type":"string","description":"When sub-classing, this defines the sub-class entity name."},"code":{"type":"integer","format":"int32","description":"Application relevant detail, defined in the API or a common list."},"message":{"type":"string","description":"More details and corrective actions related to the error which can be shown to a client user."},"reason":{"type":"string","description":"Explanation of the reason for the error which can be shown to a client user."},"referenceError":{"type":"string","description":"URI of documentation describing the error."},"status":{"type":"integer","format":"int32","description":"HTTP Error code extension"}},"title":"Error","description":"Used when an API throws an Error, typically with a HTTP error response-code (3xx, 4xx, 5xx)"},"EventSubscription":{"type":"object","required":["callback","id"],"properties":{"callback":{"type":"string","description":"The callback being registered."},"id":{"type":"string","description":"Id of the listener"},"query":{"type":"string","description":"additional data to be passed"}},"title":"EventSubscription","description":"Sets the communication endpoint address the service instance must use to deliver notification information"},"EventSubscriptionInput":{"type":"object","required":["callback"],"properties":{"callback":{"type":"string","description":"The callback being registered."},"query":{"type":"string","description":"additional data to be passed"}},"title":"EventSubscriptionInput","description":"Sets the communication endpoint address the service instance must use to deliver notification information"},"Note":{"type":"object","properties":{"@baseType":{"type":"string","description":"When sub-classing, this defines the super-class"},"@schemaLocation":{"type":"string","description":"A URI to a JSON-Schema file that defines additional attributes and relationships"},"@type":{"type":"string"},"author":{"type":"string","description":"Author of the note"},"date":{"type":"string","format":"date-time","description":"Date of the note"},"href":{"type":"string","description":"Unique reference of the entity"},"system":{"type":"string","description":"Describes the system from which the action related to this note was done"},"text":{"type":"string","description":"Text of the note"},"uuid":{"type":"string"}},"title":"Note","description":"Extra information about a given entity"},"Place":{"type":"object","properties":{"@baseType":{"type":"string","description":"When sub-classing, this defines the super-class"},"@schemaLocation":{"type":"string","description":"A URI to a JSON-Schema file that defines additional attributes and relationships"},"@type":{"type":"string"},"href":{"type":"string","description":"Unique reference of the entity"},"id":{"type":"string"},"name":{"type":"string","description":"Name of the entity"},"role":{"type":"string","description":"Role of the place, such as: [home delivery], [shop retrieval])"},"uuid":{"type":"string"}},"title":"Place","description":"Place reference. Place defines the places where the products are sold or delivered."},"RelatedParty":{"type":"object","properties":{"@baseType":{"type":"string","description":"When sub-classing, this defines the super-class"},"@referredType":{"type":"string","description":"The actual type of the target instance when needed for disambiguation."},"@schemaLocation":{"type":"string","description":"A URI to a JSON-Schema file that defines additional attributes and relationships"},"@type":{"type":"string"},"href":{"type":"string","description":"Unique reference of the entity"},"id":{"type":"string"},"name":{"type":"string","description":"Name of the entity"},"role":{"type":"string","description":"Role of the related party."},"uuid":{"type":"string"}},"title":"RelatedParty","description":"RelatedParty reference. A related party defines party or party role linked to a specific entity."},"ResourceRef":{"type":"object","required":["id"],"properties":{"@baseType":{"type":"string","description":"When sub-classing, this defines the super-class"},"@referredType":{"type":"string","description":"The actual type of the target instance when needed for disambiguation."},"@schemaLocation":{"type":"string","description":"A URI to a JSON-Schema file that defines additional attributes and relationships"},"@type":{"type":"string"},"href":{"type":"string","description":"Unique reference of the entity"},"id":{"type":"string","description":"Unique identifier of the supporting resource"},"name":{"type":"string","description":"Name of the entity"},"uuid":{"type":"string"}},"title":"ResourceRef"},"Service":{"type":"object","properties":{"@baseType":{"type":"string","description":"When sub-classing, this defines the super-class"},"@schemaLocation":{"type":"string","description":"A URI to a JSON-Schema file that defines additional attributes and relationships"},"@type":{"type":"string"},"category":{"type":"string","description":"Is it a customer facing or resource facing service"},"description":{"type":"string","description":"Free-text description of the service"},"endDate":{"type":"string","description":"Date when the service ends"},"hasStarted":{"type":"boolean","description":"If TRUE, this Service has already been started"},"href":{"type":"string","description":"Unique reference of the entity"},"id":{"type":"string","description":"Unique identifier of the service"},"isServiceEnabled":{"type":"boolean","description":"If FALSE, this particular Service has NOT been enabled for use"},"isStateful":{"type":"boolean","description":"If TRUE, this Service can be changed without affecting any other services"},"name":{"type":"string","description":"Name of the entity"},"note":{"type":"array","description":"A list of notes made on this service","items":{"$ref":"#/definitions/Note"}},"place":{"type":"array","description":"A list of places related to this service, e.g. where the service is installed, a delivery address for equipment, etc.","items":{"$ref":"#/definitions/Place"}},"relatedParty":{"type":"array","description":"A list of related party references (RelatedParty [1..*]). A related party defines party or party role linked to a specific entity.","items":{"$ref":"#/definitions/RelatedParty"}},"serviceCharacteristic":{"type":"array","description":"A list of characteristics that characterize this service (ServiceCharacteristic [*]) ","items":{"$ref":"#/definitions/Characteristic"}},"serviceDate":{"type":"string","description":"Date when the service was created (whatever its status)."},"serviceOrder":{"type":"array","description":"A list of service orders related to this service","items":{"$ref":"#/definitions/ServiceOrderRef"}},"serviceRelationship":{"type":"array","description":"A list of service relationships (ServiceRelationship [*]). Describes links with other service(s) in the inventory (useful for describing relies-on, relies-from between CFS for example).","items":{"$ref":"#/definitions/ServiceRelationship"}},"serviceSpecification":{"description":"The specification from which this service was instantiated","$ref":"#/definitions/ServiceSpecificationRef"},"serviceType":{"type":"string","description":"Business type of the service"},"startDate":{"type":"string","description":"Date when the service starts"},"startMode":{"type":"string","description":"This attribute is an enumerated integer that indicates how the Service is started, such as: 0: Unknown; 1: Automatically by the managed environment; 2: Automatically by the owning device; 3: Manually by the Provider of the Service; 4: Manually by a Customer of the Provider; 5: Any of the above"},"state":{"type":"string","description":"The life cycle state of the service, such as: feasibilityChecked, designed, reserved, active, inactive, terminated","enum":["feasibilityChecked","designed","reserved","inactive","active","terminated"]},"supportingResource":{"type":"array","description":"A list of supporting resources (SupportingResource [*]).Note: only Service of type RFS can be associated with Resources.","items":{"$ref":"#/definitions/ResourceRef"}},"supportingService":{"type":"array","description":"A list of supporting services (SupportingService [*]). A collection of services that support this service (bundling, link CFS to RFS).","items":{"$ref":"#/definitions/ServiceRef"}},"uuid":{"type":"string"}},"title":"Service","description":"Service is a base class for defining the Service hierarchy. All Services are characterized as either being possibly visible and usable by a Customer or not. This gives rise to the two subclasses of Service: CustomerFacingService and ResourceFacingService."},"ServiceAttributeValueChangeEvent":{"type":"object","properties":{"service":{"description":"The involved resource data for the event","$ref":"#/definitions/Service"}},"title":"ServiceAttributeValueChangeEvent","description":"The event data structure"},"ServiceAttributeValueChangeNotification":{"type":"object","properties":{"event":{"description":"The event linked to the involved resource object","$ref":"#/definitions/ServiceAttributeValueChangeEvent"},"eventId":{"type":"string","description":"The identifier of the notification"},"eventTime":{"type":"string","format":"date-time","description":"Time of the event occurrence"},"eventType":{"type":"string","description":"The type of the notification"},"fieldPath":{"type":"string","description":"The path identifying the object field concerned by this notification"},"resourcePath":{"type":"string","description":"The path identifying the resource object concerned by this notification"}},"title":"ServiceAttributeValueChangeNotification","description":"The notification data structure"},"ServiceBatchEvent":{"type":"object","properties":{"service":{"description":"The involved resource data for the event","$ref":"#/definitions/Service"}},"title":"ServiceBatchEvent","description":"The event data structure"},"ServiceBatchNotification":{"type":"object","properties":{"event":{"description":"The event linked to the involved resource object","$ref":"#/definitions/ServiceBatchEvent"},"eventId":{"type":"string","description":"The identifier of the notification"},"eventTime":{"type":"string","format":"date-time","description":"Time of the event occurrence"},"eventType":{"type":"string","description":"The type of the notification"},"fieldPath":{"type":"string","description":"The path identifying the object field concerned by this notification"},"resourcePath":{"type":"string","description":"The path identifying the resource object concerned by this notification"}},"title":"ServiceBatchNotification","description":"The notification data structure"},"ServiceCreate":{"type":"object","properties":{"@baseType":{"type":"string","description":"When sub-classing, this defines the super-class"},"@schemaLocation":{"type":"string","description":"A URI to a JSON-Schema file that defines additional attributes and relationships"},"@type":{"type":"string","description":"When sub-classing, this defines the sub-class entity name"},"category":{"type":"string","description":"Is it a customer facing or resource facing service"},"description":{"type":"string","description":"Free-text description of the service"},"endDate":{"type":"string","description":"Date when the service ends"},"hasStarted":{"type":"boolean","description":"If TRUE, this Service has already been started"},"isServiceEnabled":{"type":"boolean","description":"If FALSE, this particular Service has NOT been enabled for use"},"isStateful":{"type":"boolean","description":"If TRUE, this Service can be changed without affecting any other services"},"name":{"type":"string","description":"Name of the service"},"note":{"type":"array","description":"A list of notes made on this service","items":{"$ref":"#/definitions/Note"}},"place":{"type":"array","description":"A list of places related to this service, e.g. where the service is installed, a delivery address for equipment, etc.","items":{"$ref":"#/definitions/Place"}},"relatedParty":{"type":"array","description":"A list of related party references (RelatedParty [1..*]). A related party defines party or party role linked to a specific entity.","items":{"$ref":"#/definitions/RelatedParty"}},"serviceCharacteristic":{"type":"array","description":"A list of characteristics that characterize this service (ServiceCharacteristic [*]) ","items":{"$ref":"#/definitions/Characteristic"}},"serviceDate":{"type":"string","description":"Date when the service was created (whatever its status)."},"serviceOrder":{"type":"array","description":"A list of service orders related to this service","items":{"$ref":"#/definitions/ServiceOrderRef"}},"serviceRelationship":{"type":"array","description":"A list of service relationships (ServiceRelationship [*]). Describes links with other service(s) in the inventory (useful for describing relies-on, relies-from between CFS for example).","items":{"$ref":"#/definitions/ServiceRelationship"}},"serviceSpecification":{"description":"The specification from which this service was instantiated","$ref":"#/definitions/ServiceSpecificationRef"},"serviceType":{"type":"string","description":"Business type of the service"},"startDate":{"type":"string","description":"Date when the service starts"},"startMode":{"type":"string","description":"This attribute is an enumerated integer that indicates how the Service is started, such as: 0: Unknown; 1: Automatically by the managed environment; 2: Automatically by the owning device; 3: Manually by the Provider of the Service; 4: Manually by a Customer of the Provider; 5: Any of the above"},"state":{"type":"string","description":"The life cycle state of the service, such as: feasibilityChecked, designed, reserved, active, inactive, terminated","enum":["feasibilityChecked","designed","reserved","inactive","active","terminated"]},"supportingResource":{"type":"array","description":"A list of supporting resources (SupportingResource [*]).Note: only Service of type RFS can be associated with Resources.","items":{"$ref":"#/definitions/ResourceRef"}},"supportingService":{"type":"array","description":"A list of supporting services (SupportingService [*]). A collection of services that support this service (bundling, link CFS to RFS).","items":{"$ref":"#/definitions/ServiceRef"}}},"title":"ServiceCreate","description":"Service is a base class for defining the Service hierarchy. All Services are characterized as either being possibly visible and usable by a Customer or not. This gives rise to the two subclasses of Service: CustomerFacingService and ResourceFacingService. Skipped properties: id,href"},"ServiceCreateEvent":{"type":"object","properties":{"service":{"description":"The involved resource data for the event","$ref":"#/definitions/Service"}},"title":"ServiceCreateEvent","description":"The event data structure"},"ServiceCreateNotification":{"type":"object","properties":{"event":{"description":"The event linked to the involved resource object","$ref":"#/definitions/ServiceCreateEvent"},"eventId":{"type":"string","description":"The identifier of the notification"},"eventTime":{"type":"string","format":"date-time","description":"Time of the event occurrence"},"eventType":{"type":"string","description":"The type of the notification"},"fieldPath":{"type":"string","description":"The path identifying the object field concerned by this notification"},"resourcePath":{"type":"string","description":"The path identifying the resource object concerned by this notification"}},"title":"ServiceCreateNotification","description":"The notification data structure"},"ServiceDeleteEvent":{"type":"object","properties":{"service":{"description":"The involved resource data for the event","$ref":"#/definitions/Service"}},"title":"ServiceDeleteEvent","description":"The event data structure"},"ServiceDeleteNotification":{"type":"object","properties":{"event":{"description":"The event linked to the involved resource object","$ref":"#/definitions/ServiceDeleteEvent"},"eventId":{"type":"string","description":"The identifier of the notification"},"eventTime":{"type":"string","format":"date-time","description":"Time of the event occurrence"},"eventType":{"type":"string","description":"The type of the notification"},"fieldPath":{"type":"string","description":"The path identifying the object field concerned by this notification"},"resourcePath":{"type":"string","description":"The path identifying the resource object concerned by this notification"}},"title":"ServiceDeleteNotification","description":"The notification data structure"},"ServiceOrderRef":{"type":"object","required":["id"],"properties":{"@baseType":{"type":"string","description":"When sub-classing, this defines the super-class"},"@referredType":{"type":"string","description":"The actual type of the target instance when needed for disambiguation."},"@schemaLocation":{"type":"string","description":"A URI to a JSON-Schema file that defines additional attributes and relationships"},"@type":{"type":"string"},"href":{"type":"string","description":"Unique reference of the entity"},"id":{"type":"string","description":"Unique identifier of the Service Order"},"serviceOrderItemId":{"type":"string","description":"Unique identifier of the Service Order Item within a service order, not populated if this is a reference to a service order"},"uuid":{"type":"string"}},"title":"ServiceOrderRef","description":"Service Order reference. Useful to understand the which was the Service order through which the service was instantiated in the service inventory"},"ServiceRef":{"type":"object","required":["id"],"properties":{"@baseType":{"type":"string","description":"When sub-classing, this defines the super-class"},"@referredType":{"type":"string","description":"The actual type of the target instance when needed for disambiguation."},"@schemaLocation":{"type":"string","description":"A URI to a JSON-Schema file that defines additional attributes and relationships"},"@type":{"type":"string"},"href":{"type":"string","description":"Unique reference of the entity"},"id":{"type":"string","description":"Id of the service"},"name":{"type":"string","description":"Name of the entity"},"uuid":{"type":"string"}},"title":"ServiceRef","description":"Service reference, for when Service is used by other entities"},"ServiceRelationship":{"type":"object","required":["relationshipType","service"],"properties":{"@baseType":{"type":"string","description":"When sub-classing, this defines the super-class"},"@schemaLocation":{"type":"string","description":"A URI to a JSON-Schema file that defines additional attributes and relationships"},"@type":{"type":"string"},"href":{"type":"string","description":"Unique reference of the entity"},"relationshipType":{"type":"string","description":"The type of relationship (e.g. depends on, enables)"},"service":{"description":"The service being referred to","$ref":"#/definitions/ServiceRef"},"uuid":{"type":"string"}},"title":"ServiceRelationship","description":"Describes links with services of the same category (useful for bundled services)"},"ServiceSpecificationRef":{"type":"object","properties":{"@baseType":{"type":"string","description":"When sub-classing, this defines the super-class"},"@referredType":{"type":"string","description":"The actual type of the target instance when needed for disambiguation."},"@schemaLocation":{"type":"string","description":"A URI to a JSON-Schema file that defines additional attributes and relationships"},"@type":{"type":"string"},"href":{"type":"string","description":"Unique reference of the entity"},"id":{"type":"string"},"name":{"type":"string","description":"Name of the entity"},"targetServiceSchema":{"description":"A target service schema reference (TargetServiceSchemaRef). The reference object to the schema and type of target service which is described by service specification.","$ref":"#/definitions/TargetServiceSchema"},"uuid":{"type":"string"},"version":{"type":"string","description":"Service specification version"}},"title":"ServiceSpecificationRef","description":"Service specification reference: ServiceSpecification(s) required to realize a ProductSpecification."},"ServiceStateChangeEvent":{"type":"object","properties":{"service":{"description":"The involved resource data for the event","$ref":"#/definitions/Service"}},"title":"ServiceStateChangeEvent","description":"The event data structure"},"ServiceStateChangeNotification":{"type":"object","properties":{"event":{"description":"The event linked to the involved resource object","$ref":"#/definitions/ServiceStateChangeEvent"},"eventId":{"type":"string","description":"The identifier of the notification"},"eventTime":{"type":"string","format":"date-time","description":"Time of the event occurrence"},"eventType":{"type":"string","description":"The type of the notification"},"fieldPath":{"type":"string","description":"The path identifying the object field concerned by this notification"},"resourcePath":{"type":"string","description":"The path identifying the resource object concerned by this notification"}},"title":"ServiceStateChangeNotification","description":"The notification data structure"},"ServiceUpdate":{"type":"object","properties":{"@baseType":{"type":"string","description":"When sub-classing, this defines the super-class"},"@schemaLocation":{"type":"string","description":"A URI to a JSON-Schema file that defines additional attributes and relationships"},"@type":{"type":"string","description":"When sub-classing, this defines the sub-class entity name"},"category":{"type":"string","description":"Is it a customer facing or resource facing service"},"description":{"type":"string","description":"Free-text description of the service"},"endDate":{"type":"string","description":"Date when the service ends"},"hasStarted":{"type":"boolean","description":"If TRUE, this Service has already been started"},"isServiceEnabled":{"type":"boolean","description":"If FALSE, this particular Service has NOT been enabled for use"},"isStateful":{"type":"boolean","description":"If TRUE, this Service can be changed without affecting any other services"},"name":{"type":"string","description":"Name of the service"},"note":{"type":"array","description":"A list of notes made on this service","items":{"$ref":"#/definitions/Note"}},"place":{"type":"array","description":"A list of places related to this service, e.g. where the service is installed, a delivery address for equipment, etc.","items":{"$ref":"#/definitions/Place"}},"relatedParty":{"type":"array","description":"A list of related party references (RelatedParty [1..*]). A related party defines party or party role linked to a specific entity.","items":{"$ref":"#/definitions/RelatedParty"}},"serviceCharacteristic":{"type":"array","description":"A list of characteristics that characterize this service (ServiceCharacteristic [*]) ","items":{"$ref":"#/definitions/Characteristic"}},"serviceDate":{"type":"string","description":"Date when the service was created (whatever its status)."},"serviceOrder":{"type":"array","description":"A list of service orders related to this service","items":{"$ref":"#/definitions/ServiceOrderRef"}},"serviceRelationship":{"type":"array","description":"A list of service relationships (ServiceRelationship [*]). Describes links with other service(s) in the inventory (useful for describing relies-on, relies-from between CFS for example).","items":{"$ref":"#/definitions/ServiceRelationship"}},"serviceSpecification":{"description":"The specification from which this service was instantiated","$ref":"#/definitions/ServiceSpecificationRef"},"serviceType":{"type":"string","description":"Business type of the service"},"startDate":{"type":"string","description":"Date when the service starts"},"startMode":{"type":"string","description":"This attribute is an enumerated integer that indicates how the Service is started, such as: 0: Unknown; 1: Automatically by the managed environment; 2: Automatically by the owning device; 3: Manually by the Provider of the Service; 4: Manually by a Customer of the Provider; 5: Any of the above"},"state":{"type":"string","description":"The life cycle state of the service, such as: feasibilityChecked, designed, reserved, active, inactive, terminated","enum":["feasibilityChecked","designed","reserved","inactive","active","terminated"]},"supportingResource":{"type":"array","description":"A list of supporting resources (SupportingResource [*]).Note: only Service of type RFS can be associated with Resources.","items":{"$ref":"#/definitions/ResourceRef"}},"supportingService":{"type":"array","description":"A list of supporting services (SupportingService [*]). A collection of services that support this service (bundling, link CFS to RFS).","items":{"$ref":"#/definitions/ServiceRef"}}},"title":"ServiceUpdate","description":"Service is a base class for defining the Service hierarchy. All Services are characterized as either being possibly visible and usable by a Customer or not. This gives rise to the two subclasses of Service: CustomerFacingService and ResourceFacingService. Skipped properties: id,href,serviceRelationship"},"TargetServiceSchema":{"type":"object","properties":{"@baseType":{"type":"string","description":"When sub-classing, this defines the super-class"},"@schemaLocation":{"type":"string","description":"A URI to a JSON-Schema file that defines additional attributes and relationships"},"@type":{"type":"string"},"href":{"type":"string","description":"Unique reference of the entity"},"uuid":{"type":"string"}},"title":"TargetServiceSchema","description":"The reference object to the schema and type of target service which is described by service specification"}}}