{"swagger":"2.0","info":{"description":"## TMF API Reference : TMF 641 - Service Ordering Management  ## Release : 18.5 - Dec 2018  The Service Order API provides a standardized mechanism for managing Service Order, a type of order which can be used to place an order between a customer and a service provider or between a service provider and a partner and vice versa.  ### Service Order resource A service order will describe a list of service order items.  A service order item references an action on an existing  or  future  service.  By  service  we  designed  Customer Facing  Service  (CFS)  as  well  as  Resource Facing Service (RFS). From a component perspective, a service order should be available - from a Service Orchestration Component (and it could mix CFS and RFS) - from an Infrastructure Control & Management component (and it would have only RFS)  ### Service Order API performs the following operations on service order : - Retrieval of a service order or a collection of service orders depending on filter criteria - Partial update of a service order (including updating rules) - Creation of a service order (including default values and creation rules) - Deletion of service order (for administration purposes) - Notification of events on Service order  Copyright © TM Forum 2018. All Rights Reserved","version":"4.0.0","title":"API ServiceOrdering","contact":{},"license":{"url":"http://unlicense.org"}},"host":"portal.openslice.io","basePath":"/tmf-api","tags":[{"name":"hub-api-controller","description":"the hub API"},{"name":"listener-api-controller","description":"the listener API"},{"name":"service-order-api-controller","description":"the serviceOrder API"}],"paths":{"/serviceOrdering/v4/hub":{"post":{"tags":["events subscription"],"summary":"Register a listener","description":"Sets the communication endpoint address the service instance must use to deliver information about its health state, execution state, failures and metrics.","operationId":"registerListener_5","consumes":["application/json;charset=utf-8"],"produces":["application/json;charset=utf-8"],"parameters":[{"in":"body","name":"data","description":"Data containing the callback endpoint to deliver the information","required":true,"schema":{"$ref":"#/definitions/EventSubscriptionInput"}}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/EventSubscription"}},"201":{"description":"Subscribed","schema":{"$ref":"#/definitions/EventSubscription"}},"400":{"description":"Bad Request","schema":{"$ref":"#/definitions/Error"}},"401":{"description":"Unauthorized","schema":{"$ref":"#/definitions/Error"}},"403":{"description":"Forbidden","schema":{"$ref":"#/definitions/Error"}},"404":{"description":"Not Found","schema":{"$ref":"#/definitions/Error"}},"405":{"description":"Method Not allowed","schema":{"$ref":"#/definitions/Error"}},"409":{"description":"Conflict","schema":{"$ref":"#/definitions/Error"}},"500":{"description":"Internal Server Error","schema":{"$ref":"#/definitions/Error"}}},"deprecated":false}},"/serviceOrdering/v4/hub/{id}":{"delete":{"tags":["events subscription"],"summary":"Unregister a listener","description":"Resets the communication endpoint address the service instance must use to deliver information about its health state, execution state, failures and metrics.","operationId":"unregisterListener_5","consumes":["application/json;charset=utf-8"],"produces":["application/json;charset=utf-8"],"parameters":[{"name":"id","in":"path","description":"The id of the registered listener","required":true,"type":"string"}],"responses":{"200":{"description":"OK"},"204":{"description":"Deleted"},"400":{"description":"Bad request","schema":{"$ref":"#/definitions/Error"}},"401":{"description":"Unauthorized","schema":{"$ref":"#/definitions/Error"}},"403":{"description":"Forbidden","schema":{"$ref":"#/definitions/Error"}},"404":{"description":"Not Found","schema":{"$ref":"#/definitions/Error"}},"405":{"description":"Method not allowed","schema":{"$ref":"#/definitions/Error"}},"500":{"description":"Internal Server Error","schema":{"$ref":"#/definitions/Error"}}},"deprecated":false}},"/serviceOrdering/v4/listener/serviceOrderAttributeValueChangeNotification":{"post":{"tags":["notification listeners (client side)"],"summary":"Client listener for entity ServiceOrderAttributeValueChangeNotification","description":"Example of a client listener for receiving the notification ServiceOrderAttributeValueChangeNotification","operationId":"listenToServiceOrderAttributeValueChangeNotification","consumes":["application/json;charset=utf-8"],"produces":["application/json;charset=utf-8"],"parameters":[{"in":"body","name":"data","description":"The event data","required":true,"schema":{"$ref":"#/definitions/ServiceOrderAttributeValueChangeNotification"}}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/EventSubscription"}},"201":{"description":"Notified","schema":{"$ref":"#/definitions/EventSubscription"}},"400":{"description":"Bad Request","schema":{"$ref":"#/definitions/Error"}},"401":{"description":"Unauthorized","schema":{"$ref":"#/definitions/Error"}},"403":{"description":"Forbidden","schema":{"$ref":"#/definitions/Error"}},"404":{"description":"Not Found","schema":{"$ref":"#/definitions/Error"}},"405":{"description":"Method Not allowed","schema":{"$ref":"#/definitions/Error"}},"409":{"description":"Conflict","schema":{"$ref":"#/definitions/Error"}},"500":{"description":"Internal Server Error","schema":{"$ref":"#/definitions/Error"}}},"deprecated":false}},"/serviceOrdering/v4/listener/serviceOrderCreateNotification":{"post":{"tags":["notification listeners (client side)"],"summary":"Client listener for entity ServiceOrderCreateNotification","description":"Example of a client listener for receiving the notification ServiceOrderCreateNotification","operationId":"listenToServiceOrderCreateNotification","consumes":["application/json;charset=utf-8"],"produces":["application/json;charset=utf-8"],"parameters":[{"in":"body","name":"data","description":"The event data","required":true,"schema":{"$ref":"#/definitions/ServiceOrderCreateNotification"}}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/EventSubscription"}},"201":{"description":"Notified","schema":{"$ref":"#/definitions/EventSubscription"}},"400":{"description":"Bad Request","schema":{"$ref":"#/definitions/Error"}},"401":{"description":"Unauthorized","schema":{"$ref":"#/definitions/Error"}},"403":{"description":"Forbidden","schema":{"$ref":"#/definitions/Error"}},"404":{"description":"Not Found","schema":{"$ref":"#/definitions/Error"}},"405":{"description":"Method Not allowed","schema":{"$ref":"#/definitions/Error"}},"409":{"description":"Conflict","schema":{"$ref":"#/definitions/Error"}},"500":{"description":"Internal Server Error","schema":{"$ref":"#/definitions/Error"}}},"deprecated":false}},"/serviceOrdering/v4/listener/serviceOrderDeleteNotification":{"post":{"tags":["notification listeners (client side)"],"summary":"Client listener for entity ServiceOrderDeleteNotification","description":"Example of a client listener for receiving the notification ServiceOrderDeleteNotification","operationId":"listenToServiceOrderDeleteNotification","consumes":["application/json;charset=utf-8"],"produces":["application/json;charset=utf-8"],"parameters":[{"in":"body","name":"data","description":"The event data","required":true,"schema":{"$ref":"#/definitions/ServiceOrderDeleteNotification"}}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/EventSubscription"}},"201":{"description":"Notified","schema":{"$ref":"#/definitions/EventSubscription"}},"400":{"description":"Bad Request","schema":{"$ref":"#/definitions/Error"}},"401":{"description":"Unauthorized","schema":{"$ref":"#/definitions/Error"}},"403":{"description":"Forbidden","schema":{"$ref":"#/definitions/Error"}},"404":{"description":"Not Found","schema":{"$ref":"#/definitions/Error"}},"405":{"description":"Method Not allowed","schema":{"$ref":"#/definitions/Error"}},"409":{"description":"Conflict","schema":{"$ref":"#/definitions/Error"}},"500":{"description":"Internal Server Error","schema":{"$ref":"#/definitions/Error"}}},"deprecated":false}},"/serviceOrdering/v4/listener/serviceOrderStateChangeNotification":{"post":{"tags":["notification listeners (client side)"],"summary":"Client listener for entity ServiceOrderStateChangeNotification","description":"Example of a client listener for receiving the notification ServiceOrderStateChangeNotification","operationId":"listenToServiceOrderStateChangeNotification","consumes":["application/json;charset=utf-8"],"produces":["application/json;charset=utf-8"],"parameters":[{"in":"body","name":"data","description":"The event data","required":true,"schema":{"$ref":"#/definitions/ServiceOrderStateChangeNotification"}}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/EventSubscription"}},"201":{"description":"Notified","schema":{"$ref":"#/definitions/EventSubscription"}},"400":{"description":"Bad Request","schema":{"$ref":"#/definitions/Error"}},"401":{"description":"Unauthorized","schema":{"$ref":"#/definitions/Error"}},"403":{"description":"Forbidden","schema":{"$ref":"#/definitions/Error"}},"404":{"description":"Not Found","schema":{"$ref":"#/definitions/Error"}},"405":{"description":"Method Not allowed","schema":{"$ref":"#/definitions/Error"}},"409":{"description":"Conflict","schema":{"$ref":"#/definitions/Error"}},"500":{"description":"Internal Server Error","schema":{"$ref":"#/definitions/Error"}}},"deprecated":false}},"/serviceOrdering/v4/serviceOrder":{"get":{"tags":["serviceOrder"],"summary":"List or find ServiceOrder objects","description":"This operation list or find ServiceOrder entities","operationId":"listServiceOrder","produces":["application/json;charset=utf-8"],"parameters":[{"name":"fields","in":"query","description":"Comma-separated properties to be provided in response","required":false,"type":"string","allowEmptyValue":false},{"name":"limit","in":"query","description":"Requested number of resources to be provided in response","required":false,"type":"integer","format":"int32","allowEmptyValue":false},{"name":"offset","in":"query","description":"Requested index for start of resources to be provided in response","required":false,"type":"integer","format":"int32","allowEmptyValue":false}],"responses":{"200":{"description":"Success","schema":{"type":"array","items":{"$ref":"#/definitions/ServiceOrder"}}},"400":{"description":"Bad Request","schema":{"$ref":"#/definitions/Error"}},"401":{"description":"Unauthorized","schema":{"$ref":"#/definitions/Error"}},"403":{"description":"Forbidden","schema":{"$ref":"#/definitions/Error"}},"404":{"description":"Not Found","schema":{"$ref":"#/definitions/Error"}},"405":{"description":"Method Not allowed","schema":{"$ref":"#/definitions/Error"}},"409":{"description":"Conflict","schema":{"$ref":"#/definitions/Error"}},"500":{"description":"Internal Server Error","schema":{"$ref":"#/definitions/Error"}}},"deprecated":false},"post":{"tags":["serviceOrder"],"summary":"Creates a ServiceOrder","description":"This operation creates a ServiceOrder entity.","operationId":"createServiceOrder","consumes":["application/json;charset=utf-8"],"produces":["application/json;charset=utf-8"],"parameters":[{"in":"body","name":"serviceOrder","description":"The ServiceOrder to be created","required":true,"schema":{"$ref":"#/definitions/ServiceOrderCreate"}}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/ServiceOrder"}},"201":{"description":"Created","schema":{"$ref":"#/definitions/ServiceOrder"}},"400":{"description":"Bad Request","schema":{"$ref":"#/definitions/Error"}},"401":{"description":"Unauthorized","schema":{"$ref":"#/definitions/Error"}},"403":{"description":"Forbidden","schema":{"$ref":"#/definitions/Error"}},"404":{"description":"Not Found"},"405":{"description":"Method Not allowed","schema":{"$ref":"#/definitions/Error"}},"409":{"description":"Conflict","schema":{"$ref":"#/definitions/Error"}},"500":{"description":"Internal Server Error","schema":{"$ref":"#/definitions/Error"}}},"deprecated":false}},"/serviceOrdering/v4/serviceOrder/{id}":{"get":{"tags":["serviceOrder"],"summary":"Retrieves a ServiceOrder by ID","description":"This operation retrieves a ServiceOrder entity. Attribute selection is enabled for all first level attributes.","operationId":"retrieveServiceOrder","produces":["application/json;charset=utf-8"],"parameters":[{"name":"fields","in":"query","description":"Comma-separated properties to provide in response","required":false,"type":"string","allowEmptyValue":false},{"name":"id","in":"path","description":"Identifier of the ServiceOrder","required":true,"type":"string"}],"responses":{"200":{"description":"Success","schema":{"$ref":"#/definitions/ServiceOrder"}},"400":{"description":"Bad Request","schema":{"$ref":"#/definitions/Error"}},"401":{"description":"Unauthorized","schema":{"$ref":"#/definitions/Error"}},"403":{"description":"Forbidden","schema":{"$ref":"#/definitions/Error"}},"404":{"description":"Not Found","schema":{"$ref":"#/definitions/Error"}},"405":{"description":"Method Not allowed","schema":{"$ref":"#/definitions/Error"}},"409":{"description":"Conflict","schema":{"$ref":"#/definitions/Error"}},"500":{"description":"Internal Server Error","schema":{"$ref":"#/definitions/Error"}}},"deprecated":false},"delete":{"tags":["serviceOrder"],"summary":"Deletes a ServiceOrder","description":"This operation deletes a ServiceOrder entity.","operationId":"deleteServiceOrder","produces":["application/json;charset=utf-8"],"parameters":[{"name":"id","in":"path","description":"Identifier of the ServiceOrder","required":true,"type":"string"}],"responses":{"200":{"description":"OK"},"204":{"description":"Deleted"},"400":{"description":"Bad Request","schema":{"$ref":"#/definitions/Error"}},"401":{"description":"Unauthorized","schema":{"$ref":"#/definitions/Error"}},"403":{"description":"Forbidden","schema":{"$ref":"#/definitions/Error"}},"404":{"description":"Not Found","schema":{"$ref":"#/definitions/Error"}},"405":{"description":"Method Not allowed","schema":{"$ref":"#/definitions/Error"}},"409":{"description":"Conflict","schema":{"$ref":"#/definitions/Error"}},"500":{"description":"Internal Server Error","schema":{"$ref":"#/definitions/Error"}}},"deprecated":false},"patch":{"tags":["serviceOrder"],"summary":"Updates partially a ServiceOrder","description":"This operation updates partially a ServiceOrder entity.","operationId":"patchServiceOrder","consumes":["application/json;charset=utf-8"],"produces":["application/json;charset=utf-8"],"parameters":[{"name":"id","in":"path","description":"Identifier of the ServiceOrder","required":true,"type":"string"},{"in":"body","name":"serviceOrder","description":"The ServiceOrder to be updated","required":true,"schema":{"$ref":"#/definitions/ServiceOrderUpdate"}}],"responses":{"200":{"description":"Updated","schema":{"$ref":"#/definitions/ServiceOrder"}},"204":{"description":"No Content"},"400":{"description":"Bad Request","schema":{"$ref":"#/definitions/Error"}},"401":{"description":"Unauthorized","schema":{"$ref":"#/definitions/Error"}},"403":{"description":"Forbidden","schema":{"$ref":"#/definitions/Error"}},"404":{"description":"Not Found","schema":{"$ref":"#/definitions/Error"}},"405":{"description":"Method Not allowed","schema":{"$ref":"#/definitions/Error"}},"409":{"description":"Conflict","schema":{"$ref":"#/definitions/Error"}},"500":{"description":"Internal Server Error","schema":{"$ref":"#/definitions/Error"}}},"deprecated":false}}},"definitions":{"Any":{"type":"object","properties":{"alias":{"type":"string"},"value":{"type":"string"}},"title":"Any"},"AppointmentRef":{"type":"object","required":["id"],"properties":{"@baseType":{"type":"string","description":"When sub-classing, this defines the super-class"},"@referredType":{"type":"string","description":"The actual type of the target instance when needed for disambiguation"},"@schemaLocation":{"type":"string","description":"A URI to a JSON-Schema file that defines additional attributes and relationships"},"@type":{"type":"string"},"description":{"type":"string","description":"An explanatory text regarding the appointment made with a party"},"href":{"type":"string","description":"Unique reference of the entity"},"id":{"type":"string","description":"The identifier of the referred appointment"},"uuid":{"type":"string"}},"title":"AppointmentRef","description":"Refers an appointment, such as a Customer presentation or internal meeting or site visit"},"Characteristic":{"type":"object","required":["value"],"properties":{"@baseType":{"type":"string","description":"When sub-classing, this defines the super-class"},"@schemaLocation":{"type":"string","description":"A URI to a JSON-Schema file that defines additional attributes and relationships"},"@type":{"type":"string"},"href":{"type":"string","description":"Unique reference of the entity"},"name":{"type":"string","description":"Name of the entity"},"uuid":{"type":"string"},"value":{"description":"The value of the characteristic","$ref":"#/definitions/Any"},"valueType":{"type":"string","description":"Data type of the value of the characteristic"}},"title":"Characteristic","description":"Describes a given characteristic of an object or entity through a name/value pair."},"Error":{"type":"object","required":["code","reason"],"properties":{"@baseType":{"type":"string","description":"When sub-classing, this defines the super-class."},"@schemaLocation":{"type":"string","description":"A URI to a JSON-Schema file that defines additional attributes and relationships"},"@type":{"type":"string","description":"When sub-classing, this defines the sub-class entity name."},"code":{"type":"integer","format":"int32","description":"Application relevant detail, defined in the API or a common list."},"message":{"type":"string","description":"More details and corrective actions related to the error which can be shown to a client user."},"reason":{"type":"string","description":"Explanation of the reason for the error which can be shown to a client user."},"referenceError":{"type":"string","description":"URI of documentation describing the error."},"status":{"type":"integer","format":"int32","description":"HTTP Error code extension"}},"title":"Error","description":"Used when an API throws an Error, typically with a HTTP error response-code (3xx, 4xx, 5xx)"},"EventSubscription":{"type":"object","required":["callback","id"],"properties":{"callback":{"type":"string","description":"The callback being registered."},"id":{"type":"string","description":"Id of the listener"},"query":{"type":"string","description":"additional data to be passed"}},"title":"EventSubscription","description":"Sets the communication endpoint address the service instance must use to deliver notification information"},"EventSubscriptionInput":{"type":"object","required":["callback"],"properties":{"callback":{"type":"string","description":"The callback being registered."},"query":{"type":"string","description":"additional data to be passed"}},"title":"EventSubscriptionInput","description":"Sets the communication endpoint address the service instance must use to deliver notification information"},"Note":{"type":"object","properties":{"@baseType":{"type":"string","description":"When sub-classing, this defines the super-class"},"@schemaLocation":{"type":"string","description":"A URI to a JSON-Schema file that defines additional attributes and relationships"},"@type":{"type":"string"},"author":{"type":"string","description":"Author of the note"},"date":{"type":"string","format":"date-time","description":"Date of the note"},"href":{"type":"string","description":"Unique reference of the entity"},"system":{"type":"string","description":"Describes the system from which the action related to this note was done"},"text":{"type":"string","description":"Text of the note"},"uuid":{"type":"string"}},"title":"Note","description":"Extra information about a given entity"},"Place":{"type":"object","properties":{"@baseType":{"type":"string","description":"When sub-classing, this defines the super-class"},"@schemaLocation":{"type":"string","description":"A URI to a JSON-Schema file that defines additional attributes and relationships"},"@type":{"type":"string"},"href":{"type":"string","description":"Unique reference of the entity"},"id":{"type":"string"},"name":{"type":"string","description":"Name of the entity"},"role":{"type":"string","description":"Role of the place, such as: [home delivery], [shop retrieval])"},"uuid":{"type":"string"}},"title":"Place","description":"Place reference. Place defines the places where the products are sold or delivered."},"RelatedParty":{"type":"object","properties":{"@baseType":{"type":"string","description":"When sub-classing, this defines the super-class"},"@referredType":{"type":"string","description":"The actual type of the target instance when needed for disambiguation."},"@schemaLocation":{"type":"string","description":"A URI to a JSON-Schema file that defines additional attributes and relationships"},"@type":{"type":"string"},"href":{"type":"string","description":"Unique reference of the entity"},"id":{"type":"string"},"name":{"type":"string","description":"Name of the entity"},"role":{"type":"string","description":"Role of the related party."},"uuid":{"type":"string"}},"title":"RelatedParty","description":"RelatedParty reference. A related party defines party or party role linked to a specific entity."},"ResourceRef":{"type":"object","required":["id"],"properties":{"@baseType":{"type":"string","description":"When sub-classing, this defines the super-class"},"@referredType":{"type":"string","description":"The actual type of the target instance when needed for disambiguation."},"@schemaLocation":{"type":"string","description":"A URI to a JSON-Schema file that defines additional attributes and relationships"},"@type":{"type":"string"},"href":{"type":"string","description":"Unique reference of the entity"},"id":{"type":"string","description":"Unique identifier of the supporting resource"},"name":{"type":"string","description":"Name of the entity"},"uuid":{"type":"string"}},"title":"ResourceRef"},"ServiceOrder":{"type":"object","required":["orderItem"],"properties":{"@baseType":{"type":"string","description":"When sub-classing, this defines the super-class"},"@schemaLocation":{"type":"string","description":"A URI to a JSON-Schema file that defines additional attributes and relationships"},"@type":{"type":"string"},"category":{"type":"string","description":"Used to categorize the order, useful for the OM system, such as: Broadband, TVOption"},"completionDate":{"type":"string","description":"Effective delivery date amended by the provider"},"description":{"type":"string","description":"A free-text description of the service order"},"expectedCompletionDate":{"type":"string","description":"Expected delivery date amended by the provider"},"externalId":{"type":"string","description":"ID given by the consumer to facilitate searches"},"href":{"type":"string","description":"Unique reference of the entity"},"id":{"type":"string","description":"ID created on repository side"},"note":{"type":"array","description":"Extra-information about the order; e.g. useful to add extra delivery information that could be useful for a human process","items":{"$ref":"#/definitions/Note"}},"notificationContact":{"type":"string","description":"Contact attached to the order to send back information regarding this order"},"orderDate":{"type":"string"},"orderItem":{"type":"array","description":"A list of service order items to be processed by this order","items":{"$ref":"#/definitions/ServiceOrderItem"}},"orderRelationship":{"type":"array","description":"A list of service orders related to this order (e.g. prerequisite, dependent on)","items":{"$ref":"#/definitions/ServiceOrderRelationship"}},"orderRequester":{"$ref":"#/definitions/RelatedParty"},"priority":{"type":"string","description":"Can be used by consumers to prioritize orders in a Service Order Management system"},"relatedParty":{"type":"array","description":"A list of parties which are involved in this order and the role they are playing","items":{"$ref":"#/definitions/RelatedParty"}},"requestedCompletionDate":{"type":"string","description":"Requested delivery date from the requestors perspective"},"requestedStartDate":{"type":"string","description":"Order start date wished by the requestor"},"startDate":{"type":"string","description":"Date when the order was started for processing"},"state":{"type":"string","description":"State of the order: described in the state-machine diagram","enum":["INITIAL","ACKNOWLEDGED","REJECTED","PENDING","HELD","INPROGRESS","CANCELLED","COMPLETED","FAILED","PARTIAL"]},"uuid":{"type":"string"}},"title":"ServiceOrder"},"ServiceOrderAttributeValueChangeEvent":{"type":"object","properties":{"serviceOrder":{"description":"The involved resource data for the event","$ref":"#/definitions/ServiceOrder"}},"title":"ServiceOrderAttributeValueChangeEvent","description":"The event data structure"},"ServiceOrderAttributeValueChangeNotification":{"type":"object","properties":{"event":{"description":"The event linked to the involved resource object","$ref":"#/definitions/ServiceOrderAttributeValueChangeEvent"},"eventId":{"type":"string","description":"The identifier of the notification"},"eventTime":{"type":"string","format":"date-time","description":"Time of the event occurrence"},"eventType":{"type":"string","description":"The type of the notification"},"fieldPath":{"type":"string","description":"The path identifying the object field concerned by this notification"},"resourcePath":{"type":"string","description":"The path identifying the resource object concerned by this notification"}},"title":"ServiceOrderAttributeValueChangeNotification","description":"The notification data structure"},"ServiceOrderCreate":{"type":"object","required":["orderItem"],"properties":{"@baseType":{"type":"string","description":"When sub-classing, this defines the super-class"},"@schemaLocation":{"type":"string","description":"A URI to a JSON-Schema file that defines additional attributes and relationships"},"@type":{"type":"string","description":"When sub-classing, this defines the sub-class entity name"},"category":{"type":"string","description":"Used to categorize the order, useful for the OM system, such as: Broadband, TVOption"},"description":{"type":"string","description":"A free-text description of the service order"},"externalId":{"type":"string","description":"ID given by the consumer to facilitate searches"},"note":{"type":"array","description":"Extra-information about the order; e.g. useful to add extra delivery information that could be useful for a human process","items":{"$ref":"#/definitions/Note"}},"notificationContact":{"type":"string","description":"Contact attached to the order to send back information regarding this order"},"orderItem":{"type":"array","description":"A list of service order items to be processed by this order","items":{"$ref":"#/definitions/ServiceOrderItem"}},"orderRelationship":{"type":"array","description":"A list of service orders related to this order (e.g. prerequisite, dependent on)","items":{"$ref":"#/definitions/ServiceOrderRelationship"}},"priority":{"type":"string","description":"Can be used by consumers to prioritize orders in a Service Order Management system"},"relatedParty":{"type":"array","description":"A list of parties which are involved in this order and the role they are playing","items":{"$ref":"#/definitions/RelatedParty"}},"requestedCompletionDate":{"type":"string","description":"Requested delivery date from the requestors perspective"},"requestedStartDate":{"type":"string","description":"Order start date wished by the requestor"}},"title":"ServiceOrderCreate","description":" Skipped properties: id,href,orderDate,completionDate,expectedCompletionDate,startDate,state"},"ServiceOrderCreateEvent":{"type":"object","properties":{"serviceOrder":{"description":"The involved resource data for the event","$ref":"#/definitions/ServiceOrder"}},"title":"ServiceOrderCreateEvent","description":"The event data structure"},"ServiceOrderCreateNotification":{"type":"object","properties":{"event":{"description":"The event linked to the involved resource object","$ref":"#/definitions/ServiceOrderCreateEvent"},"eventId":{"type":"string","description":"The identifier of the notification"},"eventTime":{"type":"string","format":"date-time","description":"Time of the event occurrence"},"eventType":{"type":"string","description":"The type of the notification"},"fieldPath":{"type":"string","description":"The path identifying the object field concerned by this notification"},"resourcePath":{"type":"string","description":"The path identifying the resource object concerned by this notification"}},"title":"ServiceOrderCreateNotification","description":"The notification data structure"},"ServiceOrderDeleteEvent":{"type":"object","properties":{"serviceOrder":{"description":"The involved resource data for the event","$ref":"#/definitions/ServiceOrder"}},"title":"ServiceOrderDeleteEvent","description":"The event data structure"},"ServiceOrderDeleteNotification":{"type":"object","properties":{"event":{"description":"The event linked to the involved resource object","$ref":"#/definitions/ServiceOrderDeleteEvent"},"eventId":{"type":"string","description":"The identifier of the notification"},"eventTime":{"type":"string","format":"date-time","description":"Time of the event occurrence"},"eventType":{"type":"string","description":"The type of the notification"},"fieldPath":{"type":"string","description":"The path identifying the object field concerned by this notification"},"resourcePath":{"type":"string","description":"The path identifying the resource object concerned by this notification"}},"title":"ServiceOrderDeleteNotification","description":"The notification data structure"},"ServiceOrderItem":{"type":"object","required":["action","service"],"properties":{"@baseType":{"type":"string","description":"When sub-classing, this defines the super-class"},"@schemaLocation":{"type":"string","description":"A URI to a JSON-Schema file that defines additional attributes and relationships"},"@type":{"type":"string"},"action":{"type":"string","description":"The action to be carried out on the Service. Can be: add, modify, delete, noChange","enum":["add","modify","delete","noChange"]},"appointment":{"description":"An appointment that was set up with a related party for this order item","$ref":"#/definitions/AppointmentRef"},"href":{"type":"string","description":"Unique reference of the entity"},"id":{"type":"string"},"orderItemRelationship":{"type":"array","description":"A list of order items related to this order item","items":{"$ref":"#/definitions/ServiceOrderItemRelationship"}},"service":{"description":"The Service to be acted on by the order item","$ref":"#/definitions/ServiceRestriction"},"state":{"type":"string","description":"State of the order item: described in the state machine diagram. This is the requested state.","enum":["INITIAL","ACKNOWLEDGED","REJECTED","PENDING","HELD","INPROGRESS","CANCELLED","COMPLETED","FAILED","PARTIAL"]},"uuid":{"type":"string"}},"title":"ServiceOrderItem"},"ServiceOrderItemRelationship":{"type":"object","required":["id","relationshipType"],"properties":{"@baseType":{"type":"string","description":"When sub-classing, this defines the super-class"},"@schemaLocation":{"type":"string","description":"A URI to a JSON-Schema file that defines additional attributes and relationships"},"@type":{"type":"string"},"href":{"type":"string","description":"Unique reference of the entity"},"id":{"type":"string","description":"Unique identifier of a service order item"},"relationshipType":{"type":"string","description":"The type of related order item, can be: dependency if the order item needs to be not started until another order item is complete"},"uuid":{"type":"string"}},"title":"ServiceOrderItemRelationship","description":"Linked service order item to the one containing this attribute"},"ServiceOrderRelationship":{"type":"object","required":["id"],"properties":{"@baseType":{"type":"string","description":"When sub-classing, this defines the super-class"},"@referredType":{"type":"string","description":"The entity type of the related order"},"@schemaLocation":{"type":"string","description":"A URI to a JSON-Schema file that defines additional attributes and relationships"},"@type":{"type":"string"},"href":{"type":"string","description":"Unique reference of the entity"},"id":{"type":"string","description":"The id of the related order"},"relationshipType":{"type":"string","description":"The type of related order, such as: [dependency] if the order needs to be [not started] until another order item is complete (a service order in this case) or [cross-ref] to keep track of the source order (a productOrder)"},"uuid":{"type":"string"}},"title":"ServiceOrderRelationship","description":"Linked service order to the one containing this attribute"},"ServiceOrderStateChangeEvent":{"type":"object","properties":{"serviceOrder":{"description":"The involved resource data for the event","$ref":"#/definitions/ServiceOrder"}},"title":"ServiceOrderStateChangeEvent","description":"The event data structure"},"ServiceOrderStateChangeNotification":{"type":"object","properties":{"event":{"description":"The event linked to the involved resource object","$ref":"#/definitions/ServiceOrderStateChangeEvent"},"eventId":{"type":"string","description":"The identifier of the notification"},"eventTime":{"type":"string","format":"date-time","description":"Time of the event occurrence"},"eventType":{"type":"string","description":"The type of the notification"},"fieldPath":{"type":"string","description":"The path identifying the object field concerned by this notification"},"resourcePath":{"type":"string","description":"The path identifying the resource object concerned by this notification"}},"title":"ServiceOrderStateChangeNotification","description":"The notification data structure"},"ServiceOrderUpdate":{"type":"object","properties":{"@baseType":{"type":"string","description":"When sub-classing, this defines the super-class"},"@schemaLocation":{"type":"string","description":"A URI to a JSON-Schema file that defines additional attributes and relationships"},"@type":{"type":"string","description":"When sub-classing, this defines the sub-class entity name"},"category":{"type":"string","description":"Used to categorize the order, useful for the OM system, such as: Broadband, TVOption"},"description":{"type":"string","description":"A free-text description of the service order"},"expectedCompletionDate":{"type":"string","description":"Expected delivery date amended by the provider"},"note":{"type":"array","description":"Extra-information about the order; e.g. useful to add extra delivery information that could be useful for a human process","items":{"$ref":"#/definitions/Note"}},"notificationContact":{"type":"string","description":"Contact attached to the order to send back information regarding this order"},"orderItem":{"type":"array","items":{"$ref":"#/definitions/ServiceOrderItem"}},"orderRelationship":{"type":"array","description":"A list of service orders related to this order (e.g. prerequisite, dependent on)","items":{"$ref":"#/definitions/ServiceOrderRelationship"}},"relatedParty":{"type":"array","description":"A list of parties which are involved in this order and the role they are playing","items":{"$ref":"#/definitions/RelatedParty"}},"requestedCompletionDate":{"type":"string","description":"Requested delivery date from the requestors perspective"},"requestedStartDate":{"type":"string","description":"Order start date wished by the requestor"},"startDate":{"type":"string","description":"Date when the order was started for processing"},"state":{"type":"string","enum":["INITIAL","ACKNOWLEDGED","REJECTED","PENDING","HELD","INPROGRESS","CANCELLED","COMPLETED","FAILED","PARTIAL"]}},"title":"ServiceOrderUpdate","description":" Skipped properties: id,href,externalId,priority,state,orderDate,completionDate,orderItem"},"ServiceRef":{"type":"object","required":["id"],"properties":{"@baseType":{"type":"string","description":"When sub-classing, this defines the super-class"},"@referredType":{"type":"string","description":"The actual type of the target instance when needed for disambiguation."},"@schemaLocation":{"type":"string","description":"A URI to a JSON-Schema file that defines additional attributes and relationships"},"@type":{"type":"string"},"href":{"type":"string","description":"Unique reference of the entity"},"id":{"type":"string","description":"Id of the service"},"name":{"type":"string","description":"Name of the entity"},"uuid":{"type":"string"}},"title":"ServiceRef","description":"Service reference, for when Service is used by other entities"},"ServiceRelationship":{"type":"object","required":["relationshipType","service"],"properties":{"@baseType":{"type":"string","description":"When sub-classing, this defines the super-class"},"@schemaLocation":{"type":"string","description":"A URI to a JSON-Schema file that defines additional attributes and relationships"},"@type":{"type":"string"},"href":{"type":"string","description":"Unique reference of the entity"},"relationshipType":{"type":"string","description":"The type of relationship (e.g. depends on, enables)"},"service":{"description":"The service being referred to","$ref":"#/definitions/ServiceRef"},"uuid":{"type":"string"}},"title":"ServiceRelationship","description":"Describes links with services of the same category (useful for bundled services)"},"ServiceRestriction":{"type":"object","properties":{"@baseType":{"type":"string","description":"When sub-classing, this defines the super-class"},"@schemaLocation":{"type":"string","description":"A URI to a JSON-Schema file that defines additional attributes and relationships"},"@type":{"type":"string"},"category":{"type":"string","description":"Is it a customer facing or resource facing service"},"href":{"type":"string","description":"Unique reference of the entity"},"id":{"type":"string"},"name":{"type":"string","description":"Name of the entity"},"place":{"type":"array","description":"A list of places (Place [*]). Used to define a place useful for the service (for example a delivery geographical place)","items":{"$ref":"#/definitions/Place"}},"relatedParty":{"type":"array","description":"A list of related party references (RelatedParty [*]). A related party defines party or party role linked to a specific entity","items":{"$ref":"#/definitions/RelatedParty"}},"serviceCharacteristic":{"type":"array","description":"A list of characteristics that characterize this service (ServiceCharacteristic [*]) ","items":{"$ref":"#/definitions/Characteristic"}},"serviceRelationship":{"type":"array","description":"A list of service relationships (ServiceRelationship [*]). Describes links with other service(s) in the inventory (useful for describing relies-on, relies-from between CFS for example).","items":{"$ref":"#/definitions/ServiceRelationship"}},"serviceSpecification":{"description":"The specification from which this service was instantiated","$ref":"#/definitions/ServiceSpecificationRef"},"serviceType":{"type":"string","description":"Business type of the service"},"state":{"type":"string","description":"The life cycle state of the service, such as: [feasibilityChecked], [designed]","enum":["feasibilityChecked","designed","reserved","inactive","active","terminated"]},"supportingResource":{"type":"array","description":"A list of supporting resources (SupportingResource [*]).Note: only Service of type RFS can be associated with Resources","items":{"$ref":"#/definitions/ResourceRef"}},"supportingService":{"type":"array","description":"A list of supporting services (SupportingService [*]). A collection of services that support this service (bundling, link CFS to RFS)","items":{"$ref":"#/definitions/ServiceRef"}},"uuid":{"type":"string"}},"title":"ServiceRestriction","description":"In the context of a service order, and depending of the action requested (add/modify/delete/noChange) this data structure captures the configuration to apply to an existing subscribed service or to a new one"},"ServiceSpecificationRef":{"type":"object","properties":{"@baseType":{"type":"string","description":"When sub-classing, this defines the super-class"},"@referredType":{"type":"string","description":"The actual type of the target instance when needed for disambiguation."},"@schemaLocation":{"type":"string","description":"A URI to a JSON-Schema file that defines additional attributes and relationships"},"@type":{"type":"string"},"href":{"type":"string","description":"Unique reference of the entity"},"id":{"type":"string"},"name":{"type":"string","description":"Name of the entity"},"targetServiceSchema":{"description":"A target service schema reference (TargetServiceSchemaRef). The reference object to the schema and type of target service which is described by service specification.","$ref":"#/definitions/TargetServiceSchema"},"uuid":{"type":"string"},"version":{"type":"string","description":"Service specification version"}},"title":"ServiceSpecificationRef","description":"Service specification reference: ServiceSpecification(s) required to realize a ProductSpecification."},"TargetServiceSchema":{"type":"object","properties":{"@baseType":{"type":"string","description":"When sub-classing, this defines the super-class"},"@schemaLocation":{"type":"string","description":"A URI to a JSON-Schema file that defines additional attributes and relationships"},"@type":{"type":"string"},"href":{"type":"string","description":"Unique reference of the entity"},"uuid":{"type":"string"}},"title":"TargetServiceSchema","description":"The reference object to the schema and type of target service which is described by service specification"}}}