{"swagger":"2.0","info":{"description":"This is Swagger UI environment generated for the TMF Service Quality Management specification","version":"2.0","title":"Service Quality Management","contact":{},"license":{"url":"http://unlicense.org"}},"host":"portal.openslice.io","basePath":"/tmf-api","tags":[{"name":"hub-api-controller","description":"the hub API"},{"name":"individual-api-controller","description":"the individual API"},{"name":"listener-api-controller","description":"the listener API"},{"name":"organization-api-controller","description":"the organization API"}],"paths":{"/party/v4/hub":{"post":{"tags":["events subscription"],"summary":"Register a listener","description":"Sets the communication endpoint address the service instance must use to deliver information about its health state, execution state, failures and metrics.","operationId":"registerListener_2","consumes":["application/json;charset=utf-8"],"produces":["application/json;charset=utf-8"],"parameters":[{"in":"body","name":"data","description":"Data containing the callback endpoint to deliver the information","required":true,"schema":{"$ref":"#/definitions/EventSubscriptionInput"}}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/EventSubscription"}},"201":{"description":"Subscribed","schema":{"$ref":"#/definitions/EventSubscription"}},"400":{"description":"Bad Request","schema":{"$ref":"#/definitions/Error"}},"401":{"description":"Unauthorized","schema":{"$ref":"#/definitions/Error"}},"403":{"description":"Forbidden","schema":{"$ref":"#/definitions/Error"}},"404":{"description":"Not Found","schema":{"$ref":"#/definitions/Error"}},"405":{"description":"Method Not allowed","schema":{"$ref":"#/definitions/Error"}},"409":{"description":"Conflict","schema":{"$ref":"#/definitions/Error"}},"500":{"description":"Internal Server Error","schema":{"$ref":"#/definitions/Error"}}},"deprecated":false}},"/party/v4/hub/{id}":{"delete":{"tags":["events subscription"],"summary":"Unregister a listener","description":"Resets the communication endpoint address the service instance must use to deliver information about its health state, execution state, failures and metrics.","operationId":"unregisterListener_2","consumes":["application/json;charset=utf-8"],"produces":["application/json;charset=utf-8"],"parameters":[{"name":"id","in":"path","description":"The id of the registered listener","required":true,"type":"string"}],"responses":{"200":{"description":"OK"},"204":{"description":"Deleted"},"400":{"description":"Bad request","schema":{"$ref":"#/definitions/Error"}},"401":{"description":"Unauthorized","schema":{"$ref":"#/definitions/Error"}},"403":{"description":"Forbidden","schema":{"$ref":"#/definitions/Error"}},"404":{"description":"Not Found","schema":{"$ref":"#/definitions/Error"}},"405":{"description":"Method not allowed","schema":{"$ref":"#/definitions/Error"}},"500":{"description":"Internal Server Error","schema":{"$ref":"#/definitions/Error"}}},"deprecated":false}},"/party/v4/individual":{"get":{"tags":["individual"],"summary":"List or find Individual objects","description":"This operation list or find Individual entities","operationId":"listIndividual","consumes":["application/json;charset=utf-8"],"produces":["application/json;charset=utf-8"],"parameters":[{"name":"fields","in":"query","description":"Comma-separated properties to be provided in response","required":false,"type":"string","allowEmptyValue":false},{"name":"limit","in":"query","description":"Requested number of resources to be provided in response","required":false,"type":"integer","format":"int32","allowEmptyValue":false},{"name":"offset","in":"query","description":"Requested index for start of resources to be provided in response","required":false,"type":"integer","format":"int32","allowEmptyValue":false}],"responses":{"200":{"description":"Success","schema":{"type":"array","items":{"$ref":"#/definitions/Individual"}}},"400":{"description":"Bad Request","schema":{"$ref":"#/definitions/Error"}},"401":{"description":"Unauthorized","schema":{"$ref":"#/definitions/Error"}},"403":{"description":"Forbidden","schema":{"$ref":"#/definitions/Error"}},"404":{"description":"Not Found","schema":{"$ref":"#/definitions/Error"}},"405":{"description":"Method Not allowed","schema":{"$ref":"#/definitions/Error"}},"409":{"description":"Conflict","schema":{"$ref":"#/definitions/Error"}},"500":{"description":"Internal Server Error","schema":{"$ref":"#/definitions/Error"}}},"deprecated":false},"post":{"tags":["individual"],"summary":"Creates a Individual","description":"This operation creates a Individual entity.","operationId":"createIndividual","consumes":["application/json;charset=utf-8"],"produces":["application/json;charset=utf-8"],"parameters":[{"in":"body","name":"individual","description":"The Individual to be created","required":true,"schema":{"$ref":"#/definitions/IndividualCreate"}}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/Individual"}},"201":{"description":"Created","schema":{"$ref":"#/definitions/Individual"}},"400":{"description":"Bad Request","schema":{"$ref":"#/definitions/Error"}},"401":{"description":"Unauthorized","schema":{"$ref":"#/definitions/Error"}},"403":{"description":"Forbidden","schema":{"$ref":"#/definitions/Error"}},"404":{"description":"Not Found"},"405":{"description":"Method Not allowed","schema":{"$ref":"#/definitions/Error"}},"409":{"description":"Conflict","schema":{"$ref":"#/definitions/Error"}},"500":{"description":"Internal Server Error","schema":{"$ref":"#/definitions/Error"}}},"deprecated":false}},"/party/v4/individual/{id}":{"get":{"tags":["individual"],"summary":"Retrieves a Individual by ID","description":"This operation retrieves a Individual entity. Attribute selection is enabled for all first level attributes.","operationId":"retrieveIndividual","consumes":["application/json;charset=utf-8"],"produces":["application/json;charset=utf-8"],"parameters":[{"name":"fields","in":"query","description":"Comma-separated properties to provide in response","required":false,"type":"string","allowEmptyValue":false},{"name":"id","in":"path","description":"Identifier of the Individual","required":true,"type":"string"}],"responses":{"200":{"description":"Success","schema":{"$ref":"#/definitions/Individual"}},"400":{"description":"Bad Request","schema":{"$ref":"#/definitions/Error"}},"401":{"description":"Unauthorized","schema":{"$ref":"#/definitions/Error"}},"403":{"description":"Forbidden","schema":{"$ref":"#/definitions/Error"}},"404":{"description":"Not Found","schema":{"$ref":"#/definitions/Error"}},"405":{"description":"Method Not allowed","schema":{"$ref":"#/definitions/Error"}},"409":{"description":"Conflict","schema":{"$ref":"#/definitions/Error"}},"500":{"description":"Internal Server Error","schema":{"$ref":"#/definitions/Error"}}},"deprecated":false},"delete":{"tags":["individual"],"summary":"Deletes a Individual","description":"This operation deletes a Individual entity.","operationId":"deleteIndividual","consumes":["application/json;charset=utf-8"],"produces":["application/json;charset=utf-8"],"parameters":[{"name":"id","in":"path","description":"Identifier of the Individual","required":true,"type":"string"}],"responses":{"200":{"description":"OK"},"204":{"description":"Deleted"},"400":{"description":"Bad Request","schema":{"$ref":"#/definitions/Error"}},"401":{"description":"Unauthorized","schema":{"$ref":"#/definitions/Error"}},"403":{"description":"Forbidden","schema":{"$ref":"#/definitions/Error"}},"404":{"description":"Not Found","schema":{"$ref":"#/definitions/Error"}},"405":{"description":"Method Not allowed","schema":{"$ref":"#/definitions/Error"}},"409":{"description":"Conflict","schema":{"$ref":"#/definitions/Error"}},"500":{"description":"Internal Server Error","schema":{"$ref":"#/definitions/Error"}}},"deprecated":false},"patch":{"tags":["individual"],"summary":"Updates partially a Individual","description":"This operation updates partially a Individual entity.","operationId":"patchIndividual","consumes":["application/json;charset=utf-8"],"produces":["application/json;charset=utf-8"],"parameters":[{"name":"id","in":"path","description":"Identifier of the Individual","required":true,"type":"string"},{"in":"body","name":"individual","description":"The Individual to be updated","required":true,"schema":{"$ref":"#/definitions/IndividualUpdate"}}],"responses":{"200":{"description":"Updated","schema":{"$ref":"#/definitions/Individual"}},"204":{"description":"No Content"},"400":{"description":"Bad Request","schema":{"$ref":"#/definitions/Error"}},"401":{"description":"Unauthorized","schema":{"$ref":"#/definitions/Error"}},"403":{"description":"Forbidden","schema":{"$ref":"#/definitions/Error"}},"404":{"description":"Not Found","schema":{"$ref":"#/definitions/Error"}},"405":{"description":"Method Not allowed","schema":{"$ref":"#/definitions/Error"}},"409":{"description":"Conflict","schema":{"$ref":"#/definitions/Error"}},"500":{"description":"Internal Server Error","schema":{"$ref":"#/definitions/Error"}}},"deprecated":false}},"/party/v4/listener/individualAttributeValueChangeEvent":{"post":{"tags":["notification listeners (client side)"],"summary":"Client listener for entity IndividualAttributeValueChangeEvent","description":"Example of a client listener for receiving the notification IndividualAttributeValueChangeEvent","operationId":"listenToIndividualAttributeValueChangeEvent","consumes":["application/json;charset=utf-8"],"produces":["application/json;charset=utf-8"],"parameters":[{"in":"body","name":"data","description":"The event data","required":true,"schema":{"$ref":"#/definitions/IndividualAttributeValueChangeEvent"}}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/EventSubscription"}},"201":{"description":"Notified","schema":{"$ref":"#/definitions/EventSubscription"}},"400":{"description":"Bad Request","schema":{"$ref":"#/definitions/Error"}},"401":{"description":"Unauthorized","schema":{"$ref":"#/definitions/Error"}},"403":{"description":"Forbidden","schema":{"$ref":"#/definitions/Error"}},"404":{"description":"Not Found","schema":{"$ref":"#/definitions/Error"}},"405":{"description":"Method Not allowed","schema":{"$ref":"#/definitions/Error"}},"409":{"description":"Conflict","schema":{"$ref":"#/definitions/Error"}},"500":{"description":"Internal Server Error","schema":{"$ref":"#/definitions/Error"}}},"deprecated":false}},"/party/v4/listener/individualCreateEvent":{"post":{"tags":["notification listeners (client side)"],"summary":"Client listener for entity IndividualCreateEvent","description":"Example of a client listener for receiving the notification IndividualCreateEvent","operationId":"listenToIndividualCreateEvent","consumes":["application/json;charset=utf-8"],"produces":["application/json;charset=utf-8"],"parameters":[{"in":"body","name":"data","description":"The event data","required":true,"schema":{"$ref":"#/definitions/IndividualCreateEvent"}}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/EventSubscription"}},"201":{"description":"Notified","schema":{"$ref":"#/definitions/EventSubscription"}},"400":{"description":"Bad Request","schema":{"$ref":"#/definitions/Error"}},"401":{"description":"Unauthorized","schema":{"$ref":"#/definitions/Error"}},"403":{"description":"Forbidden","schema":{"$ref":"#/definitions/Error"}},"404":{"description":"Not Found","schema":{"$ref":"#/definitions/Error"}},"405":{"description":"Method Not allowed","schema":{"$ref":"#/definitions/Error"}},"409":{"description":"Conflict","schema":{"$ref":"#/definitions/Error"}},"500":{"description":"Internal Server Error","schema":{"$ref":"#/definitions/Error"}}},"deprecated":false}},"/party/v4/listener/individualDeleteEvent":{"post":{"tags":["notification listeners (client side)"],"summary":"Client listener for entity IndividualDeleteEvent","description":"Example of a client listener for receiving the notification IndividualDeleteEvent","operationId":"listenToIndividualDeleteEvent","consumes":["application/json;charset=utf-8"],"produces":["application/json;charset=utf-8"],"parameters":[{"in":"body","name":"data","description":"The event data","required":true,"schema":{"$ref":"#/definitions/IndividualDeleteEvent"}}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/EventSubscription"}},"201":{"description":"Notified","schema":{"$ref":"#/definitions/EventSubscription"}},"400":{"description":"Bad Request","schema":{"$ref":"#/definitions/Error"}},"401":{"description":"Unauthorized","schema":{"$ref":"#/definitions/Error"}},"403":{"description":"Forbidden","schema":{"$ref":"#/definitions/Error"}},"404":{"description":"Not Found","schema":{"$ref":"#/definitions/Error"}},"405":{"description":"Method Not allowed","schema":{"$ref":"#/definitions/Error"}},"409":{"description":"Conflict","schema":{"$ref":"#/definitions/Error"}},"500":{"description":"Internal Server Error","schema":{"$ref":"#/definitions/Error"}}},"deprecated":false}},"/party/v4/listener/individualStateChangeEvent":{"post":{"tags":["notification listeners (client side)"],"summary":"Client listener for entity IndividualStateChangeEvent","description":"Example of a client listener for receiving the notification IndividualStateChangeEvent","operationId":"listenToIndividualStateChangeEvent","consumes":["application/json;charset=utf-8"],"produces":["application/json;charset=utf-8"],"parameters":[{"in":"body","name":"data","description":"The event data","required":true,"schema":{"$ref":"#/definitions/IndividualStateChangeEvent"}}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/EventSubscription"}},"201":{"description":"Notified","schema":{"$ref":"#/definitions/EventSubscription"}},"400":{"description":"Bad Request","schema":{"$ref":"#/definitions/Error"}},"401":{"description":"Unauthorized","schema":{"$ref":"#/definitions/Error"}},"403":{"description":"Forbidden","schema":{"$ref":"#/definitions/Error"}},"404":{"description":"Not Found","schema":{"$ref":"#/definitions/Error"}},"405":{"description":"Method Not allowed","schema":{"$ref":"#/definitions/Error"}},"409":{"description":"Conflict","schema":{"$ref":"#/definitions/Error"}},"500":{"description":"Internal Server Error","schema":{"$ref":"#/definitions/Error"}}},"deprecated":false}},"/party/v4/listener/organizationAttributeValueChangeEvent":{"post":{"tags":["notification listeners (client side)"],"summary":"Client listener for entity OrganizationAttributeValueChangeEvent","description":"Example of a client listener for receiving the notification OrganizationAttributeValueChangeEvent","operationId":"listenToOrganizationAttributeValueChangeEvent","consumes":["application/json;charset=utf-8"],"produces":["application/json;charset=utf-8"],"parameters":[{"in":"body","name":"data","description":"The event data","required":true,"schema":{"$ref":"#/definitions/OrganizationAttributeValueChangeEvent"}}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/EventSubscription"}},"201":{"description":"Notified","schema":{"$ref":"#/definitions/EventSubscription"}},"400":{"description":"Bad Request","schema":{"$ref":"#/definitions/Error"}},"401":{"description":"Unauthorized","schema":{"$ref":"#/definitions/Error"}},"403":{"description":"Forbidden","schema":{"$ref":"#/definitions/Error"}},"404":{"description":"Not Found","schema":{"$ref":"#/definitions/Error"}},"405":{"description":"Method Not allowed","schema":{"$ref":"#/definitions/Error"}},"409":{"description":"Conflict","schema":{"$ref":"#/definitions/Error"}},"500":{"description":"Internal Server Error","schema":{"$ref":"#/definitions/Error"}}},"deprecated":false}},"/party/v4/listener/organizationCreateEvent":{"post":{"tags":["notification listeners (client side)"],"summary":"Client listener for entity OrganizationCreateEvent","description":"Example of a client listener for receiving the notification OrganizationCreateEvent","operationId":"listenToOrganizationCreateEvent","consumes":["application/json;charset=utf-8"],"produces":["application/json;charset=utf-8"],"parameters":[{"in":"body","name":"data","description":"The event data","required":true,"schema":{"$ref":"#/definitions/OrganizationCreateEvent"}}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/EventSubscription"}},"201":{"description":"Notified","schema":{"$ref":"#/definitions/EventSubscription"}},"400":{"description":"Bad Request","schema":{"$ref":"#/definitions/Error"}},"401":{"description":"Unauthorized","schema":{"$ref":"#/definitions/Error"}},"403":{"description":"Forbidden","schema":{"$ref":"#/definitions/Error"}},"404":{"description":"Not Found","schema":{"$ref":"#/definitions/Error"}},"405":{"description":"Method Not allowed","schema":{"$ref":"#/definitions/Error"}},"409":{"description":"Conflict","schema":{"$ref":"#/definitions/Error"}},"500":{"description":"Internal Server Error","schema":{"$ref":"#/definitions/Error"}}},"deprecated":false}},"/party/v4/listener/organizationDeleteEvent":{"post":{"tags":["notification listeners (client side)"],"summary":"Client listener for entity OrganizationDeleteEvent","description":"Example of a client listener for receiving the notification OrganizationDeleteEvent","operationId":"listenToOrganizationDeleteEvent","consumes":["application/json;charset=utf-8"],"produces":["application/json;charset=utf-8"],"parameters":[{"in":"body","name":"data","description":"The event data","required":true,"schema":{"$ref":"#/definitions/OrganizationDeleteEvent"}}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/EventSubscription"}},"201":{"description":"Notified","schema":{"$ref":"#/definitions/EventSubscription"}},"400":{"description":"Bad Request","schema":{"$ref":"#/definitions/Error"}},"401":{"description":"Unauthorized","schema":{"$ref":"#/definitions/Error"}},"403":{"description":"Forbidden","schema":{"$ref":"#/definitions/Error"}},"404":{"description":"Not Found","schema":{"$ref":"#/definitions/Error"}},"405":{"description":"Method Not allowed","schema":{"$ref":"#/definitions/Error"}},"409":{"description":"Conflict","schema":{"$ref":"#/definitions/Error"}},"500":{"description":"Internal Server Error","schema":{"$ref":"#/definitions/Error"}}},"deprecated":false}},"/party/v4/listener/organizationStateChangeEvent":{"post":{"tags":["notification listeners (client side)"],"summary":"Client listener for entity OrganizationStateChangeEvent","description":"Example of a client listener for receiving the notification OrganizationStateChangeEvent","operationId":"listenToOrganizationStateChangeEvent","consumes":["application/json;charset=utf-8"],"produces":["application/json;charset=utf-8"],"parameters":[{"in":"body","name":"data","description":"The event data","required":true,"schema":{"$ref":"#/definitions/OrganizationStateChangeEvent"}}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/EventSubscription"}},"201":{"description":"Notified","schema":{"$ref":"#/definitions/EventSubscription"}},"400":{"description":"Bad Request","schema":{"$ref":"#/definitions/Error"}},"401":{"description":"Unauthorized","schema":{"$ref":"#/definitions/Error"}},"403":{"description":"Forbidden","schema":{"$ref":"#/definitions/Error"}},"404":{"description":"Not Found","schema":{"$ref":"#/definitions/Error"}},"405":{"description":"Method Not allowed","schema":{"$ref":"#/definitions/Error"}},"409":{"description":"Conflict","schema":{"$ref":"#/definitions/Error"}},"500":{"description":"Internal Server Error","schema":{"$ref":"#/definitions/Error"}}},"deprecated":false}},"/party/v4/organization":{"get":{"tags":["organization"],"summary":"List or find Organization objects","description":"This operation list or find Organization entities","operationId":"listOrganization","produces":["application/json;charset=utf-8"],"parameters":[{"name":"fields","in":"query","description":"Comma-separated properties to be provided in response","required":false,"type":"string","allowEmptyValue":false},{"name":"limit","in":"query","description":"Requested number of resources to be provided in response","required":false,"type":"integer","format":"int32","allowEmptyValue":false},{"name":"offset","in":"query","description":"Requested index for start of resources to be provided in response","required":false,"type":"integer","format":"int32","allowEmptyValue":false}],"responses":{"200":{"description":"Success","schema":{"type":"array","items":{"$ref":"#/definitions/Organization"}}},"400":{"description":"Bad Request","schema":{"$ref":"#/definitions/Error"}},"401":{"description":"Unauthorized","schema":{"$ref":"#/definitions/Error"}},"403":{"description":"Forbidden","schema":{"$ref":"#/definitions/Error"}},"404":{"description":"Not Found","schema":{"$ref":"#/definitions/Error"}},"405":{"description":"Method Not allowed","schema":{"$ref":"#/definitions/Error"}},"409":{"description":"Conflict","schema":{"$ref":"#/definitions/Error"}},"500":{"description":"Internal Server Error","schema":{"$ref":"#/definitions/Error"}}},"deprecated":false},"post":{"tags":["organization"],"summary":"Creates a Organization","description":"This operation creates a Organization entity.","operationId":"createOrganization","consumes":["application/json;charset=utf-8"],"produces":["application/json;charset=utf-8"],"parameters":[{"in":"body","name":"organization","description":"The Organization to be created","required":true,"schema":{"$ref":"#/definitions/OrganizationCreate"}}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/Organization"}},"201":{"description":"Created","schema":{"$ref":"#/definitions/Organization"}},"400":{"description":"Bad Request","schema":{"$ref":"#/definitions/Error"}},"401":{"description":"Unauthorized","schema":{"$ref":"#/definitions/Error"}},"403":{"description":"Forbidden","schema":{"$ref":"#/definitions/Error"}},"404":{"description":"Not Found"},"405":{"description":"Method Not allowed","schema":{"$ref":"#/definitions/Error"}},"409":{"description":"Conflict","schema":{"$ref":"#/definitions/Error"}},"500":{"description":"Internal Server Error","schema":{"$ref":"#/definitions/Error"}}},"deprecated":false}},"/party/v4/organization/{id}":{"get":{"tags":["organization"],"summary":"Retrieves a Organization by ID","description":"This operation retrieves a Organization entity. Attribute selection is enabled for all first level attributes.","operationId":"retrieveOrganization","consumes":["application/json;charset=utf-8"],"produces":["application/json;charset=utf-8"],"parameters":[{"name":"fields","in":"query","description":"Comma-separated properties to provide in response","required":false,"type":"string","allowEmptyValue":false},{"name":"id","in":"path","description":"Identifier of the Organization","required":true,"type":"string"}],"responses":{"200":{"description":"Success","schema":{"$ref":"#/definitions/Organization"}},"400":{"description":"Bad Request","schema":{"$ref":"#/definitions/Error"}},"401":{"description":"Unauthorized","schema":{"$ref":"#/definitions/Error"}},"403":{"description":"Forbidden","schema":{"$ref":"#/definitions/Error"}},"404":{"description":"Not Found","schema":{"$ref":"#/definitions/Error"}},"405":{"description":"Method Not allowed","schema":{"$ref":"#/definitions/Error"}},"409":{"description":"Conflict","schema":{"$ref":"#/definitions/Error"}},"500":{"description":"Internal Server Error","schema":{"$ref":"#/definitions/Error"}}},"deprecated":false},"delete":{"tags":["organization"],"summary":"Deletes a Organization","description":"This operation deletes a Organization entity.","operationId":"deleteOrganization","consumes":["application/json;charset=utf-8"],"produces":["application/json;charset=utf-8"],"parameters":[{"name":"id","in":"path","description":"Identifier of the Organization","required":true,"type":"string"}],"responses":{"200":{"description":"OK"},"204":{"description":"Deleted"},"400":{"description":"Bad Request","schema":{"$ref":"#/definitions/Error"}},"401":{"description":"Unauthorized","schema":{"$ref":"#/definitions/Error"}},"403":{"description":"Forbidden","schema":{"$ref":"#/definitions/Error"}},"404":{"description":"Not Found","schema":{"$ref":"#/definitions/Error"}},"405":{"description":"Method Not allowed","schema":{"$ref":"#/definitions/Error"}},"409":{"description":"Conflict","schema":{"$ref":"#/definitions/Error"}},"500":{"description":"Internal Server Error","schema":{"$ref":"#/definitions/Error"}}},"deprecated":false},"patch":{"tags":["organization"],"summary":"Updates partially a Organization","description":"This operation updates partially a Organization entity.","operationId":"patchOrganization","consumes":["application/json;charset=utf-8"],"produces":["application/json;charset=utf-8"],"parameters":[{"name":"id","in":"path","description":"Identifier of the Organization","required":true,"type":"string"},{"in":"body","name":"organization","description":"The Organization to be updated","required":true,"schema":{"$ref":"#/definitions/OrganizationUpdate"}}],"responses":{"200":{"description":"Updated","schema":{"$ref":"#/definitions/Organization"}},"204":{"description":"No Content"},"400":{"description":"Bad Request","schema":{"$ref":"#/definitions/Error"}},"401":{"description":"Unauthorized","schema":{"$ref":"#/definitions/Error"}},"403":{"description":"Forbidden","schema":{"$ref":"#/definitions/Error"}},"404":{"description":"Not Found","schema":{"$ref":"#/definitions/Error"}},"405":{"description":"Method Not allowed","schema":{"$ref":"#/definitions/Error"}},"409":{"description":"Conflict","schema":{"$ref":"#/definitions/Error"}},"500":{"description":"Internal Server Error","schema":{"$ref":"#/definitions/Error"}}},"deprecated":false}}},"securityDefinitions":{"spring_oauth":{"type":"oauth2","authorizationUrl":"http://portal.openslice.io/auth/realms/openslice/protocol/openid-connect/auth","tokenUrl":"http://portal.openslice.io/auth/realms/openslice/protocol/openid-connect/token","flow":"accessCode","scopes":{"read":"for read operations","write":"for write operations","admin":"Access admin API","openapi":"Access openapi API"}}},"definitions":{"Any":{"type":"object","properties":{"alias":{"type":"string"},"value":{"type":"string"}},"title":"Any"},"AttachmentRefOrValue":{"type":"object","properties":{"@baseType":{"type":"string","description":"When sub-classing, this defines the super-class"},"@referredType":{"type":"string"},"@schemaLocation":{"type":"string","description":"A URI to a JSON-Schema file that defines additional attributes and relationships"},"@type":{"type":"string"},"attachmentType":{"type":"string","description":"Attachment type such as video, picture"},"content":{"type":"string","description":"The actual contents of the attachment object, if embedded, encoded as base64"},"description":{"type":"string","description":"A narrative text describing the content of the attachment"},"href":{"type":"string","description":"Unique reference of the entity"},"id":{"type":"string","description":"Unique identifier for this particular attachment"},"mimeType":{"type":"string","description":"Attachment mime type such as extension file for video, picture and document"},"name":{"type":"string","description":"Name of the entity"},"size":{"description":"The size of the attachment.","$ref":"#/definitions/Quantity"},"url":{"type":"string","description":"Uniform Resource Locator, is a web page address (a subset of URI)"},"uuid":{"type":"string"},"validFor":{"description":"The period of time for which the attachment is valid","$ref":"#/definitions/TimePeriod"}},"title":"AttachmentRefOrValue","description":"An attachment by value or by reference. An attachment complements the description of an element, for example through a document, a video, a picture."},"Characteristic":{"type":"object","required":["value"],"properties":{"@baseType":{"type":"string","description":"When sub-classing, this defines the super-class"},"@schemaLocation":{"type":"string","description":"A URI to a JSON-Schema file that defines additional attributes and relationships"},"@type":{"type":"string"},"href":{"type":"string","description":"Unique reference of the entity"},"name":{"type":"string","description":"Name of the entity"},"uuid":{"type":"string"},"value":{"description":"The value of the characteristic","$ref":"#/definitions/Any"},"valueType":{"type":"string","description":"Data type of the value of the characteristic"}},"title":"Characteristic","description":"Describes a given characteristic of an object or entity through a name/value pair."},"ContactMedium":{"type":"object","required":["characteristic","mediumType"],"properties":{"@baseType":{"type":"string","description":"When sub-classing, this defines the super-class"},"@schemaLocation":{"type":"string","description":"A URI to a JSON-Schema file that defines additional attributes and relationships"},"@type":{"type":"string"},"characteristic":{"description":"Any additional characteristic(s) of this contact medium","$ref":"#/definitions/MediumCharacteristic"},"href":{"type":"string","description":"Unique reference of the entity"},"mediumType":{"type":"string","description":"Type of the contact medium, such as: email address, telephone number, postal address"},"preferred":{"type":"boolean","description":"If true, indicates that is the preferred contact medium"},"uuid":{"type":"string"},"validFor":{"description":"The time period that the contact medium is valid for","$ref":"#/definitions/TimePeriod"}},"title":"ContactMedium","description":"Indicates the contact medium that could be used to contact the party."},"Disability":{"type":"object","properties":{"@baseType":{"type":"string","description":"When sub-classing, this defines the super-class"},"@schemaLocation":{"type":"string","description":"A URI to a JSON-Schema file that defines additional attributes and relationships"},"@type":{"type":"string"},"disabilityCode":{"type":"string","description":"Code of the disability"},"disabilityName":{"type":"string","description":"Name of the disability"},"href":{"type":"string","description":"Unique reference of the entity"},"uuid":{"type":"string"},"validFor":{"$ref":"#/definitions/TimePeriod"}},"title":"Disability","description":"Lack or inadequate strength or ability."},"Error":{"type":"object","required":["code","reason"],"properties":{"@baseType":{"type":"string","description":"When sub-classing, this defines the super-class."},"@schemaLocation":{"type":"string","description":"A URI to a JSON-Schema file that defines additional attributes and relationships"},"@type":{"type":"string","description":"When sub-classing, this defines the sub-class entity name."},"code":{"type":"string","description":"Application relevant detail, defined in the API or a common list."},"message":{"type":"string","description":"More details and corrective actions related to the error which can be shown to a client user."},"reason":{"type":"string","description":"Explanation of the reason for the error which can be shown to a client user."},"referenceError":{"type":"string","description":"URI of documentation describing the error."},"status":{"type":"string","description":"HTTP Error code extension"}},"title":"Error","description":"Used when an API throws an Error, typically with a HTTP error response-code (3xx, 4xx, 5xx)"},"EventSubscription":{"type":"object","required":["callback","id"],"properties":{"callback":{"type":"string","description":"The callback being registered."},"id":{"type":"string","description":"Id of the listener"},"query":{"type":"string","description":"additional data to be passed"}},"title":"EventSubscription","description":"Sets the communication endpoint address the service instance must use to deliver notification information"},"EventSubscriptionInput":{"type":"object","required":["callback"],"properties":{"callback":{"type":"string","description":"The callback being registered."},"query":{"type":"string","description":"additional data to be passed"}},"title":"EventSubscriptionInput","description":"Sets the communication endpoint address the service instance must use to deliver notification information"},"ExternalReference":{"type":"object","properties":{"@baseType":{"type":"string","description":"When sub-classing, this defines the super-class"},"@schemaLocation":{"type":"string","description":"A URI to a JSON-Schema file that defines additional attributes and relationships"},"@type":{"type":"string"},"externalReferenceType":{"type":"string","description":"Type of the external reference"},"href":{"type":"string","description":"Unique reference of the entity"},"name":{"type":"string","description":"Name of the entity"},"uuid":{"type":"string"}},"title":"ExternalReference","description":"External reference of the individual or reference in other system"},"Individual":{"type":"object","properties":{"@baseType":{"type":"string","description":"When sub-classing, this defines the super-class"},"@schemaLocation":{"type":"string","description":"A URI to a JSON-Schema file that defines additional attributes and relationships"},"@type":{"type":"string","description":"When sub-classing, this defines the sub-class entity name"},"aristocraticTitle":{"type":"string","description":"e.g. Baron, Graf, Earl,…"},"birthDate":{"type":"string","format":"date-time","description":"Birth date"},"contactMedium":{"type":"array","items":{"$ref":"#/definitions/ContactMedium"}},"countryOfBirth":{"type":"string","description":"Country where the individual was born"},"creditRating":{"type":"array","items":{"$ref":"#/definitions/PartyCreditProfile"}},"deathDate":{"type":"string","format":"date-time","description":"Date of death"},"disability":{"type":"array","items":{"$ref":"#/definitions/Disability"}},"externalReference":{"type":"array","items":{"$ref":"#/definitions/ExternalReference"}},"familyName":{"type":"string","description":"Contains the non-chosen or inherited name. Also known as last name in the Western context"},"familyNamePrefix":{"type":"string","description":"Family name prefix"},"formattedName":{"type":"string","description":"A fully formatted name in one string with all of its pieces in their proper place and all of the necessary punctuation. Useful for specific contexts (Chinese, Japanese, Korean,…)"},"fullName":{"type":"string","description":"Full name flatten (first, middle, and last names)"},"gender":{"type":"string","description":"Gender"},"generation":{"type":"string","description":"e.g.. Sr, Jr, III (the third),…"},"givenName":{"type":"string","description":"First name of the individual"},"href":{"type":"string","description":"Unique reference of the entity"},"id":{"type":"string"},"individualIdentification":{"type":"array","items":{"$ref":"#/definitions/IndividualIdentification"}},"languageAbility":{"type":"array","items":{"$ref":"#/definitions/LanguageAbility"}},"legalName":{"type":"string","description":"Legal name or birth name (name one has for official purposes)"},"location":{"type":"string","description":"Temporary current location od the individual (may be used if the individual has approved its sharing)"},"maritalStatus":{"type":"string","description":"Marital status (married, divorced, widow ...)"},"middleName":{"type":"string","description":"Middles name or initial"},"nationality":{"type":"string","description":"Nationality"},"otherName":{"type":"array","items":{"$ref":"#/definitions/OtherNameIndividual"}},"partyCharacteristic":{"type":"array","items":{"$ref":"#/definitions/Characteristic"}},"placeOfBirth":{"type":"string","description":"Reference to the place where the individual was born"},"preferredGivenName":{"type":"string","description":"Contains the chosen name by which the individual prefers to be addressed. Note: This name may be a name other than a given name, such as a nickname"},"relatedParty":{"type":"array","items":{"$ref":"#/definitions/RelatedParty"}},"skill":{"type":"array","items":{"$ref":"#/definitions/Skill"}},"status":{"type":"string","description":"Status of the individual","enum":["initialized","validated","deceaded"]},"taxExemptionCertificate":{"type":"array","items":{"$ref":"#/definitions/TaxExemptionCertificate"}},"title":{"type":"string","description":"Useful for titles (aristocratic, social,...) Pr, Dr, Sir, ..."},"uuid":{"type":"string"}},"title":"Individual","description":"Individual represents a single human being (a man, woman or child). The individual can be a customer, an employee or any other person that the organization needs to store information about."},"IndividualAttributeValueChangeEvent":{"type":"object","properties":{"correlationId":{"type":"string","description":"The correlation id for this event."},"description":{"type":"string","description":"An explnatory of the event."},"domain":{"type":"string","description":"The domain of the event."},"event":{"description":"The event payload linked to the involved resource object","$ref":"#/definitions/IndividualAttributeValueChangeEventPayload"},"eventId":{"type":"string","description":"The identifier of the notification."},"eventTime":{"type":"string","format":"date-time","description":"Time of the event occurrence."},"eventType":{"type":"string","description":"The type of the notification."},"fieldPath":{"type":"string","description":"The path identifying the object field concerned by this notification."},"priority":{"type":"string","description":"A priority."},"timeOcurred":{"type":"string","format":"date-time","description":"The time the event occured."},"title":{"type":"string","description":"The title of the event."}},"title":"IndividualAttributeValueChangeEvent","description":"The notification data structure"},"IndividualAttributeValueChangeEventPayload":{"type":"object","properties":{"individual":{"description":"The involved resource data for the event","$ref":"#/definitions/Individual"}},"title":"IndividualAttributeValueChangeEventPayload","description":"The event data structure"},"IndividualCreate":{"type":"object","properties":{"@baseType":{"type":"string","description":"When sub-classing, this defines the super-class"},"@schemaLocation":{"type":"string","description":"A URI to a JSON-Schema file that defines additional attributes and relationships"},"@type":{"type":"string","description":"When sub-classing, this defines the sub-class entity name"},"aristocraticTitle":{"type":"string","description":"e.g. Baron, Graf, Earl,…"},"birthDate":{"type":"string","format":"date-time","description":"Birth date"},"contactMedium":{"type":"array","items":{"$ref":"#/definitions/ContactMedium"}},"countryOfBirth":{"type":"string","description":"Country where the individual was born"},"creditRating":{"type":"array","items":{"$ref":"#/definitions/PartyCreditProfile"}},"deathDate":{"type":"string","format":"date-time","description":"Date of death"},"disability":{"type":"array","items":{"$ref":"#/definitions/Disability"}},"externalReference":{"type":"array","items":{"$ref":"#/definitions/ExternalReference"}},"familyName":{"type":"string","description":"Contains the non-chosen or inherited name. Also known as last name in the Western context"},"familyNamePrefix":{"type":"string","description":"Family name prefix"},"formattedName":{"type":"string","description":"A fully formatted name in one string with all of its pieces in their proper place and all of the necessary punctuation. Useful for specific contexts (Chinese, Japanese, Korean,…)"},"fullName":{"type":"string","description":"Full name flatten (first, middle, and last names)"},"gender":{"type":"string","description":"Gender"},"generation":{"type":"string","description":"e.g.. Sr, Jr, III (the third),…"},"givenName":{"type":"string","description":"First name of the individual"},"individualIdentification":{"type":"array","items":{"$ref":"#/definitions/IndividualIdentification"}},"languageAbility":{"type":"array","items":{"$ref":"#/definitions/LanguageAbility"}},"legalName":{"type":"string","description":"Legal name or birth name (name one has for official purposes)"},"location":{"type":"string","description":"Temporary current location od the individual (may be used if the individual has approved its sharing)"},"maritalStatus":{"type":"string","description":"Marital status (married, divorced, widow ...)"},"middleName":{"type":"string","description":"Middles name or initial"},"nationality":{"type":"string","description":"Nationality"},"otherName":{"type":"array","items":{"$ref":"#/definitions/OtherNameIndividual"}},"partyCharacteristic":{"type":"array","items":{"$ref":"#/definitions/Characteristic"}},"placeOfBirth":{"type":"string","description":"Reference to the place where the individual was born"},"preferredGivenName":{"type":"string","description":"Contains the chosen name by which the individual prefers to be addressed. Note: This name may be a name other than a given name, such as a nickname"},"relatedParty":{"type":"array","items":{"$ref":"#/definitions/RelatedParty"}},"skill":{"type":"array","items":{"$ref":"#/definitions/Skill"}},"status":{"type":"string","description":"Status of the individual","enum":["initialized","validated","deceaded"]},"taxExemptionCertificate":{"type":"array","items":{"$ref":"#/definitions/TaxExemptionCertificate"}},"title":{"type":"string","description":"Useful for titles (aristocratic, social,...) Pr, Dr, Sir, ..."}},"title":"IndividualCreate","description":"Individual represents a single human being (a man, woman or child). The individual can be a customer, an employee or any other person that the organization needs to store information about. Skipped properties: id,href"},"IndividualCreateEvent":{"type":"object","properties":{"correlationId":{"type":"string","description":"The correlation id for this event."},"description":{"type":"string","description":"An explnatory of the event."},"domain":{"type":"string","description":"The domain of the event."},"event":{"description":"The event payload linked to the involved resource object","$ref":"#/definitions/IndividualCreateEventPayload"},"eventId":{"type":"string","description":"The identifier of the notification."},"eventTime":{"type":"string","format":"date-time","description":"Time of the event occurrence."},"eventType":{"type":"string","description":"The type of the notification."},"href":{"type":"string","description":"Reference of the ProcessFlow"},"id":{"type":"string","description":"Identifier of the Process flow"},"priority":{"type":"string","description":"A priority."},"timeOcurred":{"type":"string","format":"date-time","description":"The time the event occured."},"title":{"type":"string","description":"The title of the event."}},"title":"IndividualCreateEvent","description":"The notification data structure"},"IndividualCreateEventPayload":{"type":"object","properties":{"individual":{"description":"The involved resource data for the event","$ref":"#/definitions/Individual"}},"title":"IndividualCreateEventPayload","description":"The event data structure"},"IndividualDeleteEvent":{"type":"object","properties":{"correlationId":{"type":"string","description":"The correlation id for this event."},"description":{"type":"string","description":"An explnatory of the event."},"domain":{"type":"string","description":"The domain of the event."},"event":{"description":"The event payload linked to the involved resource object","$ref":"#/definitions/IndividualDeleteEventPayload"},"eventId":{"type":"string","description":"The identifier of the notification."},"eventTime":{"type":"string","format":"date-time","description":"Time of the event occurrence."},"eventType":{"type":"string","description":"The type of the notification."},"href":{"type":"string","description":"Reference of the ProcessFlow"},"id":{"type":"string","description":"Identifier of the Process flow"},"priority":{"type":"string","description":"A priority."},"timeOcurred":{"type":"string","format":"date-time","description":"The time the event occured."},"title":{"type":"string","description":"The title of the event."}},"title":"IndividualDeleteEvent","description":"The notification data structure"},"IndividualDeleteEventPayload":{"type":"object","properties":{"individual":{"description":"The involved resource data for the event","$ref":"#/definitions/Individual"}},"title":"IndividualDeleteEventPayload","description":"The event data structure"},"IndividualIdentification":{"type":"object","properties":{"@baseType":{"type":"string","description":"When sub-classing, this defines the super-class"},"@schemaLocation":{"type":"string","description":"A URI to a JSON-Schema file that defines additional attributes and relationships"},"@type":{"type":"string"},"attachment":{"$ref":"#/definitions/AttachmentRefOrValue"},"href":{"type":"string","description":"Unique reference of the entity"},"identificationId":{"type":"string","description":"Identifier"},"identificationType":{"type":"string","description":"Identification type (passport, national identity card, drivers license, social security number, birth certificate)"},"issuingAuthority":{"type":"string","description":"Authority which has issued the identifier, such as: social security, town hall"},"issuingDate":{"type":"string","format":"date-time","description":"Date at which the identifier was issued"},"uuid":{"type":"string"},"validFor":{"description":"The period for which the identification information is valid.","$ref":"#/definitions/TimePeriod"}},"title":"IndividualIdentification","description":"Represents our registration of information used as proof of identity by an individual (passport, national identity card, drivers license, social security number, birth certificate)"},"IndividualStateChangeEvent":{"type":"object","properties":{"correlationId":{"type":"string","description":"The correlation id for this event."},"description":{"type":"string","description":"An explnatory of the event."},"domain":{"type":"string","description":"The domain of the event."},"event":{"description":"The event payload linked to the involved resource object","$ref":"#/definitions/IndividualStateChangeEventPayload"},"eventId":{"type":"string","description":"The identifier of the notification."},"eventTime":{"type":"string","format":"date-time","description":"Time of the event occurrence."},"eventType":{"type":"string","description":"The type of the notification."},"href":{"type":"string","description":"Reference of the ProcessFlow"},"id":{"type":"string","description":"Identifier of the Process flow"},"priority":{"type":"string","description":"A priority."},"timeOcurred":{"type":"string","format":"date-time","description":"The time the event occured."},"title":{"type":"string","description":"The title of the event."}},"title":"IndividualStateChangeEvent","description":"The notification data structure"},"IndividualStateChangeEventPayload":{"type":"object","properties":{"individual":{"description":"The involved resource data for the event","$ref":"#/definitions/Individual"}},"title":"IndividualStateChangeEventPayload","description":"The event data structure"},"IndividualUpdate":{"type":"object","properties":{"@baseType":{"type":"string","description":"When sub-classing, this defines the super-class"},"@schemaLocation":{"type":"string","description":"A URI to a JSON-Schema file that defines additional attributes and relationships"},"@type":{"type":"string","description":"When sub-classing, this defines the sub-class entity name"},"aristocraticTitle":{"type":"string","description":"e.g. Baron, Graf, Earl,…"},"birthDate":{"type":"string","format":"date-time","description":"Birth date"},"contactMedium":{"type":"array","items":{"$ref":"#/definitions/ContactMedium"}},"countryOfBirth":{"type":"string","description":"Country where the individual was born"},"creditRating":{"type":"array","items":{"$ref":"#/definitions/PartyCreditProfile"}},"deathDate":{"type":"string","format":"date-time","description":"Date of death"},"disability":{"type":"array","items":{"$ref":"#/definitions/Disability"}},"externalReference":{"type":"array","items":{"$ref":"#/definitions/ExternalReference"}},"familyName":{"type":"string","description":"Contains the non-chosen or inherited name. Also known as last name in the Western context"},"familyNamePrefix":{"type":"string","description":"Family name prefix"},"formattedName":{"type":"string","description":"A fully formatted name in one string with all of its pieces in their proper place and all of the necessary punctuation. Useful for specific contexts (Chinese, Japanese, Korean,…)"},"fullName":{"type":"string","description":"Full name flatten (first, middle, and last names)"},"gender":{"type":"string","description":"Gender"},"generation":{"type":"string","description":"e.g.. Sr, Jr, III (the third),…"},"givenName":{"type":"string","description":"First name of the individual"},"individualIdentification":{"type":"array","items":{"$ref":"#/definitions/IndividualIdentification"}},"languageAbility":{"type":"array","items":{"$ref":"#/definitions/LanguageAbility"}},"legalName":{"type":"string","description":"Legal name or birth name (name one has for official purposes)"},"location":{"type":"string","description":"Temporary current location od the individual (may be used if the individual has approved its sharing)"},"maritalStatus":{"type":"string","description":"Marital status (married, divorced, widow ...)"},"middleName":{"type":"string","description":"Middles name or initial"},"nationality":{"type":"string","description":"Nationality"},"otherName":{"type":"array","items":{"$ref":"#/definitions/OtherNameIndividual"}},"partyCharacteristic":{"type":"array","items":{"$ref":"#/definitions/Characteristic"}},"placeOfBirth":{"type":"string","description":"Reference to the place where the individual was born"},"preferredGivenName":{"type":"string","description":"Contains the chosen name by which the individual prefers to be addressed. Note: This name may be a name other than a given name, such as a nickname"},"relatedParty":{"type":"array","items":{"$ref":"#/definitions/RelatedParty"}},"skill":{"type":"array","items":{"$ref":"#/definitions/Skill"}},"status":{"type":"string","description":"Status of the individual","enum":["initialized","validated","deceaded"]},"taxExemptionCertificate":{"type":"array","items":{"$ref":"#/definitions/TaxExemptionCertificate"}},"title":{"type":"string","description":"Useful for titles (aristocratic, social,...) Pr, Dr, Sir, ..."}},"title":"IndividualUpdate","description":"Individual represents a single human being (a man, woman or child). The individual can be a customer, an employee or any other person that the organization needs to store information about. Skipped properties: id,href"},"LanguageAbility":{"type":"object","properties":{"@baseType":{"type":"string","description":"When sub-classing, this defines the super-class"},"@schemaLocation":{"type":"string","description":"A URI to a JSON-Schema file that defines additional attributes and relationships"},"@type":{"type":"string"},"href":{"type":"string","description":"Unique reference of the entity"},"isFavouriteLanguage":{"type":"boolean","description":"A “true” value specifies whether the language is considered by the individual as his favourite one"},"languageCode":{"type":"string","description":"Language code (RFC 5646)"},"languageName":{"type":"string","description":"Language name"},"listeningProficiency":{"type":"string","description":"Listening proficiency evaluated for this language"},"readingProficiency":{"type":"string","description":"Reading proficiency evaluated for this language"},"speakingProficiency":{"type":"string","description":"Speaking proficiency evaluated for this language"},"uuid":{"type":"string"},"validFor":{"$ref":"#/definitions/TimePeriod"},"writingProficiency":{"type":"string","description":"Writing proficiency evaluated for this language"}},"title":"LanguageAbility","description":"Ability of an individual to understand or converse in a language."},"MediumCharacteristic":{"type":"object","properties":{"@baseType":{"type":"string","description":"When sub-classing, this defines the super-class"},"@schemaLocation":{"type":"string","description":"A URI to a JSON-Schema file that defines additional attributes and relationships"},"@type":{"type":"string"},"city":{"type":"string","description":"The city"},"contactType":{"type":"string","description":"The type of contact, for example: phone number such as mobile, fixed home, fixed office. postal address such as shipping instalation…"},"country":{"type":"string","description":"The country"},"emailAddress":{"type":"string","description":"Full email address in standard format"},"faxNumber":{"type":"string","description":"The fax number of the contact"},"href":{"type":"string","description":"Unique reference of the entity"},"phoneNumber":{"type":"string","description":"The primary phone number of the contact"},"postCode":{"type":"string","description":"Postcode"},"socialNetworkId":{"type":"string","description":"Identifier as a member of a social network"},"stateOrProvince":{"type":"string","description":"State or province"},"street1":{"type":"string","description":"Describes the street"},"street2":{"type":"string","description":"Complementary street description"},"uuid":{"type":"string"}},"title":"MediumCharacteristic","description":"Describes the contact medium characteristics that could be used to contact a party (an individual or an organization)"},"Organization":{"type":"object","required":["id"],"properties":{"@baseType":{"type":"string","description":"When sub-classing, this defines the super-class"},"@schemaLocation":{"type":"string","description":"A URI to a JSON-Schema file that defines additional attributes and relationships"},"@type":{"type":"string"},"contactMedium":{"type":"array","items":{"$ref":"#/definitions/ContactMedium"}},"creditRating":{"type":"array","items":{"$ref":"#/definitions/PartyCreditProfile"}},"existsDuring":{"$ref":"#/definitions/TimePeriod"},"externalReference":{"type":"array","items":{"$ref":"#/definitions/ExternalReference"}},"href":{"type":"string","description":"Unique reference of the entity"},"id":{"type":"string","description":"Unique identifier of the organization"},"isHeadOffice":{"type":"boolean","description":"If value is true, the organization is the head office"},"isLegalEntity":{"type":"boolean","description":"If value is true, the organization is a legal entity known by a national referential."},"name":{"type":"string","description":"Name of the entity"},"nameType":{"type":"string","description":"Type of the name : Co, Inc, Ltd,…"},"organizationChildRelationship":{"type":"array","items":{"$ref":"#/definitions/OrganizationChildRelationship"}},"organizationIdentification":{"type":"array","items":{"$ref":"#/definitions/OrganizationIdentification"}},"organizationParentRelationship":{"$ref":"#/definitions/OrganizationParentRelationship"},"organizationType":{"type":"string","description":"Type of Organization (company, department...)"},"otherName":{"type":"array","items":{"$ref":"#/definitions/OtherNameOrganization"}},"partyCharacteristic":{"type":"array","items":{"$ref":"#/definitions/Characteristic"}},"relatedParty":{"type":"array","items":{"$ref":"#/definitions/RelatedParty"}},"status":{"type":"string","description":"Status of the organization","enum":["initialized","validated","closed"]},"taxExemptionCertificate":{"type":"array","items":{"$ref":"#/definitions/TaxExemptionCertificate"}},"tradingName":{"type":"string","description":"Name that the organization (unit) trades under"},"uuid":{"type":"string"}},"title":"Organization","description":"Organization represents a group of people identified by shared interests or purpose. Examples include business, department and enterprise. Because of the complex nature of many businesses, both organizations and organization units are represented by the same data."},"OrganizationAttributeValueChangeEvent":{"type":"object","properties":{"correlationId":{"type":"string","description":"The correlation id for this event."},"description":{"type":"string","description":"An explnatory of the event."},"domain":{"type":"string","description":"The domain of the event."},"event":{"description":"The event payload linked to the involved resource object","$ref":"#/definitions/OrganizationAttributeValueChangeEventPayload"},"eventId":{"type":"string","description":"The identifier of the notification."},"eventTime":{"type":"string","format":"date-time","description":"Time of the event occurrence."},"eventType":{"type":"string","description":"The type of the notification."},"fieldPath":{"type":"string","description":"The path identifying the object field concerned by this notification."},"priority":{"type":"string","description":"A priority."},"timeOcurred":{"type":"string","format":"date-time","description":"The time the event occured."},"title":{"type":"string","description":"The title of the event."}},"title":"OrganizationAttributeValueChangeEvent","description":"The notification data structure"},"OrganizationAttributeValueChangeEventPayload":{"type":"object","properties":{"organization":{"description":"The involved resource data for the event","$ref":"#/definitions/Organization"}},"title":"OrganizationAttributeValueChangeEventPayload","description":"The event data structure"},"OrganizationChildRelationship":{"type":"object","properties":{"@baseType":{"type":"string","description":"When sub-classing, this defines the super-class"},"@schemaLocation":{"type":"string","description":"A URI to a JSON-Schema file that defines additional attributes and relationships"},"@type":{"type":"string"},"href":{"type":"string","description":"Unique reference of the entity"},"organization":{"$ref":"#/definitions/OrganizationRef"},"relationshipType":{"type":"string","description":"Type of the relationship. Could be juridical, hierarchical, geographical, functional for example."},"uuid":{"type":"string"}},"title":"OrganizationChildRelationship","description":"Child references of an organization in a structure of organizations."},"OrganizationCreate":{"type":"object","properties":{"@baseType":{"type":"string","description":"When sub-classing, this defines the super-class"},"@schemaLocation":{"type":"string","description":"A URI to a JSON-Schema file that defines additional attributes and relationships"},"@type":{"type":"string","description":"When sub-classing, this defines the sub-class entity name"},"contactMedium":{"type":"array","items":{"$ref":"#/definitions/ContactMedium"}},"creditRating":{"type":"array","items":{"$ref":"#/definitions/PartyCreditProfile"}},"existsDuring":{"$ref":"#/definitions/TimePeriod"},"externalReference":{"type":"array","items":{"$ref":"#/definitions/ExternalReference"}},"isHeadOffice":{"type":"boolean","description":"If value is true, the organization is the head office"},"isLegalEntity":{"type":"boolean","description":"If value is true, the organization is a legal entity known by a national referential."},"name":{"type":"string","description":"Organization name (department name for example)"},"nameType":{"type":"string","description":"Type of the name : Co, Inc, Ltd,…"},"organizationChildRelationship":{"type":"array","items":{"$ref":"#/definitions/OrganizationChildRelationship"}},"organizationIdentification":{"type":"array","items":{"$ref":"#/definitions/OrganizationIdentification"}},"organizationParentRelationship":{"$ref":"#/definitions/OrganizationParentRelationship"},"organizationType":{"type":"string","description":"Type of Organization (company, department...)"},"otherName":{"type":"array","items":{"$ref":"#/definitions/OtherNameOrganization"}},"partyCharacteristic":{"type":"array","items":{"$ref":"#/definitions/Characteristic"}},"relatedParty":{"type":"array","items":{"$ref":"#/definitions/RelatedParty"}},"status":{"type":"string","description":"Status of the organization","enum":["initialized","validated","closed"]},"taxExemptionCertificate":{"type":"array","items":{"$ref":"#/definitions/TaxExemptionCertificate"}},"tradingName":{"type":"string","description":"Name that the organization (unit) trades under"}},"title":"OrganizationCreate","description":"Organization represents a group of people identified by shared interests or purpose. Examples include business, department and enterprise. Because of the complex nature of many businesses, both organizations and organization units are represented by the same data. Skipped properties: id,href"},"OrganizationCreateEvent":{"type":"object","properties":{"correlationId":{"type":"string","description":"The correlation id for this event."},"description":{"type":"string","description":"An explnatory of the event."},"domain":{"type":"string","description":"The domain of the event."},"event":{"description":"The event payload linked to the involved resource object","$ref":"#/definitions/OrganizationCreateEventPayload"},"eventId":{"type":"string","description":"The identifier of the notification."},"eventTime":{"type":"string","format":"date-time","description":"Time of the event occurrence."},"eventType":{"type":"string","description":"The type of the notification."},"href":{"type":"string","description":"Reference of the ProcessFlow"},"id":{"type":"string","description":"Identifier of the Process flow"},"priority":{"type":"string","description":"A priority."},"timeOcurred":{"type":"string","format":"date-time","description":"The time the event occured."},"title":{"type":"string","description":"The title of the event."}},"title":"OrganizationCreateEvent","description":"The notification data structure"},"OrganizationCreateEventPayload":{"type":"object","properties":{"organization":{"description":"The involved resource data for the event","$ref":"#/definitions/Organization"}},"title":"OrganizationCreateEventPayload","description":"The event data structure"},"OrganizationDeleteEvent":{"type":"object","properties":{"correlationId":{"type":"string","description":"The correlation id for this event."},"description":{"type":"string","description":"An explnatory of the event."},"domain":{"type":"string","description":"The domain of the event."},"event":{"description":"The event payload linked to the involved resource object","$ref":"#/definitions/OrganizationDeleteEventPayload"},"eventId":{"type":"string","description":"The identifier of the notification."},"eventTime":{"type":"string","format":"date-time","description":"Time of the event occurrence."},"eventType":{"type":"string","description":"The type of the notification."},"href":{"type":"string","description":"Reference of the ProcessFlow"},"id":{"type":"string","description":"Identifier of the Process flow"},"priority":{"type":"string","description":"A priority."},"timeOcurred":{"type":"string","format":"date-time","description":"The time the event occured."},"title":{"type":"string","description":"The title of the event."}},"title":"OrganizationDeleteEvent","description":"The notification data structure"},"OrganizationDeleteEventPayload":{"type":"object","properties":{"organization":{"description":"The involved resource data for the event","$ref":"#/definitions/Organization"}},"title":"OrganizationDeleteEventPayload","description":"The event data structure"},"OrganizationIdentification":{"type":"object","properties":{"@baseType":{"type":"string","description":"When sub-classing, this defines the super-class"},"@schemaLocation":{"type":"string","description":"A URI to a JSON-Schema file that defines additional attributes and relationships"},"@type":{"type":"string"},"attachment":{"$ref":"#/definitions/AttachmentRefOrValue"},"href":{"type":"string","description":"Unique reference of the entity"},"identificationId":{"type":"string","description":"Identifier"},"identificationType":{"type":"string","description":"Type of identification information used to identify the company in a country or internationally"},"issuingAuthority":{"type":"string","description":"Authority which has issued the identifier (chamber of commerce...)"},"issuingDate":{"type":"string","format":"date-time","description":"Date at which the identifier was issued"},"uuid":{"type":"string"},"validFor":{"description":"The period for which the identification information is valid.","$ref":"#/definitions/TimePeriod"}},"title":"OrganizationIdentification","description":"Represents our registration of information used as proof of identity by an organization"},"OrganizationParentRelationship":{"type":"object","properties":{"@baseType":{"type":"string","description":"When sub-classing, this defines the super-class"},"@schemaLocation":{"type":"string","description":"A URI to a JSON-Schema file that defines additional attributes and relationships"},"@type":{"type":"string"},"href":{"type":"string","description":"Unique reference of the entity"},"name":{"type":"string","description":"Name of the entity"},"organization":{"$ref":"#/definitions/OrganizationRef"},"relationshipType":{"type":"string","description":"Type of the relationship. Could be juridical, hierarchical, geographical, functional for example."},"uuid":{"type":"string"}},"title":"OrganizationParentRelationship","description":"Parent references of an organization in a structure of organizations."},"OrganizationRef":{"type":"object","required":["id"],"properties":{"@baseType":{"type":"string","description":"When sub-classing, this defines the super-class"},"@referredType":{"type":"string","description":"The actual type of the target instance when needed for disambiguation."},"@schemaLocation":{"type":"string","description":"A URI to a JSON-Schema file that defines additional attributes and relationships"},"@type":{"type":"string"},"href":{"type":"string","description":"Unique reference of the entity"},"id":{"type":"string","description":"Unique identifier of a related entity."},"name":{"type":"string","description":"Name of the entity"},"uuid":{"type":"string"}},"title":"OrganizationRef"},"OrganizationStateChangeEvent":{"type":"object","properties":{"correlationId":{"type":"string","description":"The correlation id for this event."},"description":{"type":"string","description":"An explnatory of the event."},"domain":{"type":"string","description":"The domain of the event."},"event":{"description":"The event payload linked to the involved resource object","$ref":"#/definitions/OrganizationStateChangeEventPayload"},"eventId":{"type":"string","description":"The identifier of the notification."},"eventTime":{"type":"string","format":"date-time","description":"Time of the event occurrence."},"eventType":{"type":"string","description":"The type of the notification."},"href":{"type":"string","description":"Reference of the ProcessFlow"},"id":{"type":"string","description":"Identifier of the Process flow"},"priority":{"type":"string","description":"A priority."},"timeOcurred":{"type":"string","format":"date-time","description":"The time the event occured."},"title":{"type":"string","description":"The title of the event."}},"title":"OrganizationStateChangeEvent","description":"The notification data structure"},"OrganizationStateChangeEventPayload":{"type":"object","properties":{"organization":{"description":"The involved resource data for the event","$ref":"#/definitions/Organization"}},"title":"OrganizationStateChangeEventPayload","description":"The event data structure"},"OrganizationUpdate":{"type":"object","properties":{"@baseType":{"type":"string","description":"When sub-classing, this defines the super-class"},"@schemaLocation":{"type":"string","description":"A URI to a JSON-Schema file that defines additional attributes and relationships"},"@type":{"type":"string","description":"When sub-classing, this defines the sub-class entity name"},"contactMedium":{"type":"array","items":{"$ref":"#/definitions/ContactMedium"}},"creditRating":{"type":"array","items":{"$ref":"#/definitions/PartyCreditProfile"}},"existsDuring":{"$ref":"#/definitions/TimePeriod"},"externalReference":{"type":"array","items":{"$ref":"#/definitions/ExternalReference"}},"isHeadOffice":{"type":"boolean","description":"If value is true, the organization is the head office"},"isLegalEntity":{"type":"boolean","description":"If value is true, the organization is a legal entity known by a national referential."},"name":{"type":"string","description":"Organization name (department name for example)"},"nameType":{"type":"string","description":"Type of the name : Co, Inc, Ltd,…"},"organizationChildRelationship":{"type":"array","items":{"$ref":"#/definitions/OrganizationChildRelationship"}},"organizationIdentification":{"type":"array","items":{"$ref":"#/definitions/OrganizationIdentification"}},"organizationParentRelationship":{"$ref":"#/definitions/OrganizationParentRelationship"},"organizationType":{"type":"string","description":"Type of Organization (company, department...)"},"otherName":{"type":"array","items":{"$ref":"#/definitions/OtherNameOrganization"}},"partyCharacteristic":{"type":"array","items":{"$ref":"#/definitions/Characteristic"}},"relatedParty":{"type":"array","items":{"$ref":"#/definitions/RelatedParty"}},"status":{"type":"string","description":"Status of the organization","enum":["initialized","validated","closed"]},"taxExemptionCertificate":{"type":"array","items":{"$ref":"#/definitions/TaxExemptionCertificate"}},"tradingName":{"type":"string","description":"Name that the organization (unit) trades under"}},"title":"OrganizationUpdate","description":"Organization represents a group of people identified by shared interests or purpose. Examples include business, department and enterprise. Because of the complex nature of many businesses, both organizations and organization units are represented by the same data. Skipped properties: id,href"},"OtherNameIndividual":{"type":"object","properties":{"@baseType":{"type":"string","description":"When sub-classing, this defines the super-class"},"@schemaLocation":{"type":"string","description":"A URI to a JSON-Schema file that defines additional attributes and relationships"},"@type":{"type":"string"},"aristocraticTitle":{"type":"string","description":"e.g. Baron, Graf, Earl,…"},"familyName":{"type":"string","description":"Contains the non-chosen or inherited name. Also known as last name in the Western context"},"familyNamePrefix":{"type":"string","description":"Family name prefix"},"formattedName":{"type":"string","description":". A fully formatted name in one string with all of its pieces in their proper place and all of the necessary punctuation. Useful for specific contexts (Chinese, Japanese, Korean,…)"},"fullName":{"type":"string","description":"Full name flatten (first, middle, and last names)"},"generation":{"type":"string","description":"e.g. Sr, Jr…"},"givenName":{"type":"string","description":"First name"},"href":{"type":"string","description":"Unique reference of the entity"},"legalName":{"type":"string","description":"Legal name or birth name (name one has for official purposes)"},"middleName":{"type":"string","description":"Middle name or initial"},"preferredGivenName":{"type":"string","description":"Contains the chosen name by which the person prefers to be addressed. Note: This name may be a name other than a given name, such as a nickname"},"title":{"type":"string","description":"Use for titles (aristrocatic, social, ...): Pr, Dr, Sir,...."},"uuid":{"type":"string"},"validFor":{"$ref":"#/definitions/TimePeriod"}},"title":"OtherNameIndividual","description":"Keeps track of other names, for example the old name of a woman before marriage or an artist name."},"OtherNameOrganization":{"type":"object","properties":{"@baseType":{"type":"string","description":"When sub-classing, this defines the super-class"},"@schemaLocation":{"type":"string","description":"A URI to a JSON-Schema file that defines additional attributes and relationships"},"@type":{"type":"string"},"href":{"type":"string","description":"Unique reference of the entity"},"name":{"type":"string","description":"Name of the entity"},"nameType":{"type":"string","description":"Co. , Inc. , Ltd. , Pty Ltd. , Plc; , Gmbh"},"tradingName":{"type":"string","description":"The name that the organization trades under"},"uuid":{"type":"string"},"validFor":{"$ref":"#/definitions/TimePeriod"}},"title":"OtherNameOrganization","description":"Keeps track of other names, for example the old name of an organization."},"PartyCreditProfile":{"type":"object","properties":{"@baseType":{"type":"string","description":"When sub-classing, this defines the super-class"},"@schemaLocation":{"type":"string","description":"A URI to a JSON-Schema file that defines additional attributes and relationships"},"@type":{"type":"string"},"creditAgencyName":{"type":"string","description":"Name of the credit agency giving the score"},"creditAgencyType":{"type":"string","description":"Type of the credit agency giving the score"},"href":{"type":"string","description":"Unique reference of the entity"},"ratingReference":{"type":"string","description":"Reference corresponding to the credit rating"},"ratingScore":{"type":"integer","format":"int32","description":"A measure of a party’s creditworthiness calculated on the basis of a combination of factors such as their income and credit history"},"uuid":{"type":"string"},"validFor":{"$ref":"#/definitions/TimePeriod"}},"title":"PartyCreditProfile","description":"An individual might be evaluated for its worthiness and this evaluation might be based on a credit rating given by a credit agency."},"Quantity":{"type":"object","properties":{"amount":{"type":"number","format":"float","description":"Numeric value in a given unit"},"units":{"type":"string","description":"Unit"}},"title":"Quantity","description":"An amount in a given unit"},"RelatedParty":{"type":"object","properties":{"@baseType":{"type":"string","description":"When sub-classing, this defines the super-class"},"@referredType":{"type":"string","description":"The actual type of the target instance when needed for disambiguation."},"@schemaLocation":{"type":"string","description":"A URI to a JSON-Schema file that defines additional attributes and relationships"},"@type":{"type":"string"},"extendedInfo":{"type":"string"},"href":{"type":"string","description":"Unique reference of the entity"},"id":{"type":"string"},"name":{"type":"string","description":"Name of the entity"},"role":{"type":"string","description":"Role of the related party."},"uuid":{"type":"string"}},"title":"RelatedParty","description":"RelatedParty reference. A related party defines party or party role linked to a specific entity."},"Skill":{"type":"object","properties":{"@baseType":{"type":"string","description":"When sub-classing, this defines the super-class"},"@schemaLocation":{"type":"string","description":"A URI to a JSON-Schema file that defines additional attributes and relationships"},"@type":{"type":"string"},"comment":{"type":"string","description":"A free text comment linked to the evaluation done"},"evaluatedLevel":{"type":"string","description":"Level of expertise in a skill evaluated for an individual"},"href":{"type":"string","description":"Unique reference of the entity"},"skillCode":{"type":"string","description":"Code of the skill"},"skillName":{"type":"string","description":"Name of the skill such as Java language,…"},"uuid":{"type":"string"},"validFor":{"$ref":"#/definitions/TimePeriod"}},"title":"Skill","description":"Skills evaluated for an individual with a level and possibly with a limited validity when an obsolescence is defined (Ex: the first-aid certificate first level is limited to one year and an update training is required each year to keep the level)."},"TaxDefinition":{"type":"object","properties":{"@baseType":{"type":"string","description":"When sub-classing, this defines the super-class"},"@referredType":{"type":"string","description":"The actual type of the target instance when needed for disambiguation."},"@schemaLocation":{"type":"string","description":"A URI to a JSON-Schema file that defines additional attributes and relationships"},"@type":{"type":"string"},"href":{"type":"string","description":"Unique reference of the entity"},"id":{"type":"string","description":"Unique identifier of the tax."},"name":{"type":"string","description":"Name of the entity"},"taxType":{"type":"string","description":"Type of  the tax."},"uuid":{"type":"string"}},"title":"TaxDefinition","description":"Reference of a tax definition. A tax is levied by an authorized tax jurisdiction. There are many different types of tax (Federal Tax levied by the US Government, State Tax levied by the State of California,…)."},"TaxExemptionCertificate":{"type":"object","properties":{"@baseType":{"type":"string","description":"When sub-classing, this defines the super-class"},"@schemaLocation":{"type":"string","description":"A URI to a JSON-Schema file that defines additional attributes and relationships"},"@type":{"type":"string","description":"When sub-classing, this defines the sub-class entity name"},"attachment":{"$ref":"#/definitions/AttachmentRefOrValue"},"href":{"type":"string","description":"Unique reference of the entity"},"id":{"type":"string","description":"Unique identifier of the certificate of the tax exemption"},"taxDefinition":{"type":"array","items":{"$ref":"#/definitions/TaxDefinition"}},"uuid":{"type":"string"},"validFor":{"$ref":"#/definitions/TimePeriod"}},"title":"TaxExemptionCertificate","description":"A tax exemption certificate represents a tax exemption granted to a party (individual or organization) by a tax jurisdiction which may be a city, state, country,... An exemption has a certificate identifier (received from the jurisdiction that levied the tax) and a validity period. An exemption is per tax types and determines for each type of tax what portion of the tax is exempted (partial by percentage or complete) via the tax definition."},"TimePeriod":{"type":"object","properties":{"endDateTime":{"type":"string","description":"End of the time period, using IETC-RFC-3339 format"},"startDateTime":{"type":"string","description":"Start of the time period, using IETC-RFC-3339 format. If you define a start, you must also define an end"}},"title":"TimePeriod","description":"A period of time, either as a deadline (endDateTime only) a startDateTime only, or both"}}}