{"swagger":"2.0","info":{"description":"## TMF API Reference: TMF640 - Service Activation and Configuration  ### Release : 18.5 - December 2018  Service Activation and Configuration API goal is to provide the ability to activate and configure Services.  ### Operations Service Activation and Configuration API performs the following operations on the resources : - Retrieve an entity or a collection of entities depending on filter criteria - Partial update of an entity (including updating rules) - Create an entity (including default values and creation rules) - Delete an entity (for administration purposes) - Manage notification of events","version":"3.0.0","title":"API Service Activation and Configuration","contact":{},"license":{"url":"http://unlicense.org"}},"host":"portal.openslice.io","basePath":"/tmf-api","tags":[{"name":"hub-api-controller","description":"the hub API"},{"name":"listener-api-controller","description":"the listener API"},{"name":"monitor-api-controller","description":"the monitor API"},{"name":"service-api-controller","description":"the service API"}],"paths":{"/ServiceActivationAndConfiguration/v3/hub":{"post":{"tags":["events subscription"],"summary":"Register a listener","description":"Sets the communication endpoint address the service instance must use to deliver information about its health state, execution state, failures and metrics.","operationId":"registerListener_6","consumes":["application/json;charset=utf-8"],"produces":["application/json;charset=utf-8"],"parameters":[{"in":"body","name":"body","description":"Data containing the callback endpoint to deliver the information","required":true,"schema":{"$ref":"#/definitions/EventSubscriptionInput"}}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/EventSubscription"}},"201":{"description":"Subscribed","schema":{"$ref":"#/definitions/EventSubscription"}},"400":{"description":"Bad Request","schema":{"$ref":"#/definitions/Error"}},"401":{"description":"Unauthorized","schema":{"$ref":"#/definitions/Error"}},"403":{"description":"Forbidden","schema":{"$ref":"#/definitions/Error"}},"404":{"description":"Not Found","schema":{"$ref":"#/definitions/Error"}},"405":{"description":"Method Not allowed","schema":{"$ref":"#/definitions/Error"}},"409":{"description":"Conflict","schema":{"$ref":"#/definitions/Error"}},"500":{"description":"Internal Server Error","schema":{"$ref":"#/definitions/Error"}}},"security":[{"spring_oauth":["read","write","admin","openapi"]}],"deprecated":false}},"/ServiceActivationAndConfiguration/v3/hub/{id}":{"delete":{"tags":["events subscription"],"summary":"Unregister a listener","description":"Resets the communication endpoint address the service instance must use to deliver information about its health state, execution state, failures and metrics.","operationId":"unregisterListener_6","produces":["application/json;charset=utf-8"],"parameters":[{"name":"id","in":"path","description":"The id of the registered listener","required":true,"type":"string"}],"responses":{"200":{"description":"OK"},"204":{"description":"Deleted"},"400":{"description":"Bad request","schema":{"$ref":"#/definitions/Error"}},"401":{"description":"Unauthorized","schema":{"$ref":"#/definitions/Error"}},"403":{"description":"Forbidden","schema":{"$ref":"#/definitions/Error"}},"404":{"description":"Not Found","schema":{"$ref":"#/definitions/Error"}},"405":{"description":"Method not allowed","schema":{"$ref":"#/definitions/Error"}},"500":{"description":"Internal Server Error","schema":{"$ref":"#/definitions/Error"}}},"security":[{"spring_oauth":["read","write","admin","openapi"]}],"deprecated":false}},"/ServiceActivationAndConfiguration/v3/listener/monitorAttributeValueChangeNotification":{"post":{"tags":["notification listeners (client side)"],"summary":"Client listener for entity MonitorAttributeValueChangeNotification","description":"Example of a client listener for receiving the notification MonitorAttributeValueChangeNotification","operationId":"listenToMonitorAttributeValueChangeNotification","consumes":["application/json;charset=utf-8"],"produces":["application/json;charset=utf-8"],"parameters":[{"in":"body","name":"body","description":"The event data","required":true,"schema":{"$ref":"#/definitions/MonitorAttributeValueChangeNotification"}}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/EventSubscription"}},"201":{"description":"Notified","schema":{"$ref":"#/definitions/EventSubscription"}},"400":{"description":"Bad Request","schema":{"$ref":"#/definitions/Error"}},"401":{"description":"Unauthorized","schema":{"$ref":"#/definitions/Error"}},"403":{"description":"Forbidden","schema":{"$ref":"#/definitions/Error"}},"404":{"description":"Not Found","schema":{"$ref":"#/definitions/Error"}},"405":{"description":"Method Not allowed","schema":{"$ref":"#/definitions/Error"}},"409":{"description":"Conflict","schema":{"$ref":"#/definitions/Error"}},"500":{"description":"Internal Server Error","schema":{"$ref":"#/definitions/Error"}}},"security":[{"spring_oauth":["read","write","admin","openapi"]}],"deprecated":false}},"/ServiceActivationAndConfiguration/v3/listener/monitorCreateNotification":{"post":{"tags":["notification listeners (client side)"],"summary":"Client listener for entity MonitorCreateNotification","description":"Example of a client listener for receiving the notification MonitorCreateNotification","operationId":"listenToMonitorCreateNotification","consumes":["application/json;charset=utf-8"],"produces":["application/json;charset=utf-8"],"parameters":[{"in":"body","name":"body","description":"The event data","required":true,"schema":{"$ref":"#/definitions/MonitorCreateNotification"}}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/EventSubscription"}},"201":{"description":"Notified","schema":{"$ref":"#/definitions/EventSubscription"}},"400":{"description":"Bad Request","schema":{"$ref":"#/definitions/Error"}},"401":{"description":"Unauthorized","schema":{"$ref":"#/definitions/Error"}},"403":{"description":"Forbidden","schema":{"$ref":"#/definitions/Error"}},"404":{"description":"Not Found","schema":{"$ref":"#/definitions/Error"}},"405":{"description":"Method Not allowed","schema":{"$ref":"#/definitions/Error"}},"409":{"description":"Conflict","schema":{"$ref":"#/definitions/Error"}},"500":{"description":"Internal Server Error","schema":{"$ref":"#/definitions/Error"}}},"security":[{"spring_oauth":["read","write","admin","openapi"]}],"deprecated":false}},"/ServiceActivationAndConfiguration/v3/listener/monitorDeleteNotification":{"post":{"tags":["notification listeners (client side)"],"summary":"Client listener for entity MonitorDeleteNotification","description":"Example of a client listener for receiving the notification MonitorDeleteNotification","operationId":"listenToMonitorDeleteNotification","consumes":["application/json;charset=utf-8"],"produces":["application/json;charset=utf-8"],"parameters":[{"in":"body","name":"body","description":"The event data","required":true,"schema":{"$ref":"#/definitions/MonitorDeleteNotification"}}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/EventSubscription"}},"201":{"description":"Notified","schema":{"$ref":"#/definitions/EventSubscription"}},"400":{"description":"Bad Request","schema":{"$ref":"#/definitions/Error"}},"401":{"description":"Unauthorized","schema":{"$ref":"#/definitions/Error"}},"403":{"description":"Forbidden","schema":{"$ref":"#/definitions/Error"}},"404":{"description":"Not Found","schema":{"$ref":"#/definitions/Error"}},"405":{"description":"Method Not allowed","schema":{"$ref":"#/definitions/Error"}},"409":{"description":"Conflict","schema":{"$ref":"#/definitions/Error"}},"500":{"description":"Internal Server Error","schema":{"$ref":"#/definitions/Error"}}},"security":[{"spring_oauth":["read","write","admin","openapi"]}],"deprecated":false}},"/ServiceActivationAndConfiguration/v3/listener/monitorStateChangeNotification":{"post":{"tags":["notification listeners (client side)"],"summary":"Client listener for entity MonitorStateChangeNotification","description":"Example of a client listener for receiving the notification MonitorStateChangeNotification","operationId":"listenToMonitorStateChangeNotification","consumes":["application/json;charset=utf-8"],"produces":["application/json;charset=utf-8"],"parameters":[{"in":"body","name":"body","description":"The event data","required":true,"schema":{"$ref":"#/definitions/MonitorStateChangeNotification"}}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/EventSubscription"}},"201":{"description":"Notified","schema":{"$ref":"#/definitions/EventSubscription"}},"400":{"description":"Bad Request","schema":{"$ref":"#/definitions/Error"}},"401":{"description":"Unauthorized","schema":{"$ref":"#/definitions/Error"}},"403":{"description":"Forbidden","schema":{"$ref":"#/definitions/Error"}},"404":{"description":"Not Found","schema":{"$ref":"#/definitions/Error"}},"405":{"description":"Method Not allowed","schema":{"$ref":"#/definitions/Error"}},"409":{"description":"Conflict","schema":{"$ref":"#/definitions/Error"}},"500":{"description":"Internal Server Error","schema":{"$ref":"#/definitions/Error"}}},"security":[{"spring_oauth":["read","write","admin","openapi"]}],"deprecated":false}},"/ServiceActivationAndConfiguration/v3/listener/serviceAttributeValueChangeNotification":{"post":{"tags":["notification listeners (client side)"],"summary":"Client listener for entity ServiceAttributeValueChangeNotification","description":"Example of a client listener for receiving the notification ServiceAttributeValueChangeNotification","operationId":"listenToServiceAttributeValueChangeNotification_1","consumes":["application/json;charset=utf-8"],"produces":["application/json;charset=utf-8"],"parameters":[{"in":"body","name":"body","description":"The event data","required":true,"schema":{"$ref":"#/definitions/ServiceAttributeValueChangeNotification"}}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/EventSubscription"}},"201":{"description":"Notified","schema":{"$ref":"#/definitions/EventSubscription"}},"400":{"description":"Bad Request","schema":{"$ref":"#/definitions/Error"}},"401":{"description":"Unauthorized","schema":{"$ref":"#/definitions/Error"}},"403":{"description":"Forbidden","schema":{"$ref":"#/definitions/Error"}},"404":{"description":"Not Found","schema":{"$ref":"#/definitions/Error"}},"405":{"description":"Method Not allowed","schema":{"$ref":"#/definitions/Error"}},"409":{"description":"Conflict","schema":{"$ref":"#/definitions/Error"}},"500":{"description":"Internal Server Error","schema":{"$ref":"#/definitions/Error"}}},"security":[{"spring_oauth":["read","write","admin","openapi"]}],"deprecated":false}},"/ServiceActivationAndConfiguration/v3/listener/serviceCreateNotification":{"post":{"tags":["notification listeners (client side)"],"summary":"Client listener for entity ServiceCreateNotification","description":"Example of a client listener for receiving the notification ServiceCreateNotification","operationId":"listenToServiceCreateNotification_1","consumes":["application/json;charset=utf-8"],"produces":["application/json;charset=utf-8"],"parameters":[{"in":"body","name":"body","description":"The event data","required":true,"schema":{"$ref":"#/definitions/ServiceCreateNotification"}}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/EventSubscription"}},"201":{"description":"Notified","schema":{"$ref":"#/definitions/EventSubscription"}},"400":{"description":"Bad Request","schema":{"$ref":"#/definitions/Error"}},"401":{"description":"Unauthorized","schema":{"$ref":"#/definitions/Error"}},"403":{"description":"Forbidden","schema":{"$ref":"#/definitions/Error"}},"404":{"description":"Not Found","schema":{"$ref":"#/definitions/Error"}},"405":{"description":"Method Not allowed","schema":{"$ref":"#/definitions/Error"}},"409":{"description":"Conflict","schema":{"$ref":"#/definitions/Error"}},"500":{"description":"Internal Server Error","schema":{"$ref":"#/definitions/Error"}}},"security":[{"spring_oauth":["read","write","admin","openapi"]}],"deprecated":false}},"/ServiceActivationAndConfiguration/v3/listener/serviceDeleteNotification":{"post":{"tags":["notification listeners (client side)"],"summary":"Client listener for entity ServiceDeleteNotification","description":"Example of a client listener for receiving the notification ServiceDeleteNotification","operationId":"listenToServiceDeleteNotification_1","consumes":["application/json;charset=utf-8"],"produces":["application/json;charset=utf-8"],"parameters":[{"in":"body","name":"body","description":"The event data","required":true,"schema":{"$ref":"#/definitions/ServiceDeleteNotification"}}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/EventSubscription"}},"201":{"description":"Notified","schema":{"$ref":"#/definitions/EventSubscription"}},"400":{"description":"Bad Request","schema":{"$ref":"#/definitions/Error"}},"401":{"description":"Unauthorized","schema":{"$ref":"#/definitions/Error"}},"403":{"description":"Forbidden","schema":{"$ref":"#/definitions/Error"}},"404":{"description":"Not Found","schema":{"$ref":"#/definitions/Error"}},"405":{"description":"Method Not allowed","schema":{"$ref":"#/definitions/Error"}},"409":{"description":"Conflict","schema":{"$ref":"#/definitions/Error"}},"500":{"description":"Internal Server Error","schema":{"$ref":"#/definitions/Error"}}},"security":[{"spring_oauth":["read","write","admin","openapi"]}],"deprecated":false}},"/ServiceActivationAndConfiguration/v3/listener/serviceStateChangeNotification":{"post":{"tags":["notification listeners (client side)"],"summary":"Client listener for entity ServiceStateChangeNotification","description":"Example of a client listener for receiving the notification ServiceStateChangeNotification","operationId":"listenToServiceStateChangeNotification_1","consumes":["application/json;charset=utf-8"],"produces":["application/json;charset=utf-8"],"parameters":[{"in":"body","name":"body","description":"The event data","required":true,"schema":{"$ref":"#/definitions/ServiceStateChangeNotification"}}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/EventSubscription"}},"201":{"description":"Notified","schema":{"$ref":"#/definitions/EventSubscription"}},"400":{"description":"Bad Request","schema":{"$ref":"#/definitions/Error"}},"401":{"description":"Unauthorized","schema":{"$ref":"#/definitions/Error"}},"403":{"description":"Forbidden","schema":{"$ref":"#/definitions/Error"}},"404":{"description":"Not Found","schema":{"$ref":"#/definitions/Error"}},"405":{"description":"Method Not allowed","schema":{"$ref":"#/definitions/Error"}},"409":{"description":"Conflict","schema":{"$ref":"#/definitions/Error"}},"500":{"description":"Internal Server Error","schema":{"$ref":"#/definitions/Error"}}},"security":[{"spring_oauth":["read","write","admin","openapi"]}],"deprecated":false}},"/ServiceActivationAndConfiguration/v3/service":{"get":{"tags":["service"],"summary":"List or find Service objects","description":"This operation list or find Service entities","operationId":"listService_1","produces":["application/json;charset=utf-8"],"parameters":[{"name":"fields","in":"query","description":"Comma-separated properties to be provided in response","required":false,"type":"string","allowEmptyValue":false},{"name":"limit","in":"query","description":"Requested number of resources to be provided in response","required":false,"type":"integer","format":"int32","allowEmptyValue":false},{"name":"name","in":"query","required":false,"type":"string"},{"name":"offset","in":"query","description":"Requested index for start of resources to be provided in response","required":false,"type":"integer","format":"int32","allowEmptyValue":false}],"responses":{"200":{"description":"Success","schema":{"type":"array","items":{"$ref":"#/definitions/Service"}}},"400":{"description":"Bad Request","schema":{"$ref":"#/definitions/Error"}},"401":{"description":"Unauthorized","schema":{"$ref":"#/definitions/Error"}},"403":{"description":"Forbidden","schema":{"$ref":"#/definitions/Error"}},"404":{"description":"Not Found","schema":{"$ref":"#/definitions/Error"}},"405":{"description":"Method Not allowed","schema":{"$ref":"#/definitions/Error"}},"409":{"description":"Conflict","schema":{"$ref":"#/definitions/Error"}},"500":{"description":"Internal Server Error","schema":{"$ref":"#/definitions/Error"}}},"security":[{"spring_oauth":["read","write","admin","openapi"]}],"deprecated":false},"post":{"tags":["service"],"summary":"Creates a Service","description":"This operation creates a Service entity.","operationId":"createService_1","consumes":["application/json;charset=utf-8"],"produces":["application/json;charset=utf-8"],"parameters":[{"name":"name","in":"query","required":false,"type":"string"},{"in":"body","name":"service","description":"The Service to be created","required":true,"schema":{"$ref":"#/definitions/ServiceCreate"}}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/Service"}},"201":{"description":"Created","schema":{"$ref":"#/definitions/Service"}},"400":{"description":"Bad Request","schema":{"$ref":"#/definitions/Error"}},"401":{"description":"Unauthorized","schema":{"$ref":"#/definitions/Error"}},"403":{"description":"Forbidden","schema":{"$ref":"#/definitions/Error"}},"404":{"description":"Not Found"},"405":{"description":"Method Not allowed","schema":{"$ref":"#/definitions/Error"}},"409":{"description":"Conflict","schema":{"$ref":"#/definitions/Error"}},"500":{"description":"Internal Server Error","schema":{"$ref":"#/definitions/Error"}}},"security":[{"spring_oauth":["read","write","admin","openapi"]}],"deprecated":false}},"/ServiceActivationAndConfiguration/v3/service/{id}":{"get":{"tags":["service"],"summary":"Retrieves a Service by ID","description":"This operation retrieves a Service entity. Attribute selection is enabled for all first level attributes.","operationId":"retrieveService_1","produces":["application/json;charset=utf-8"],"parameters":[{"name":"fields","in":"query","description":"Comma-separated properties to provide in response","required":false,"type":"string","allowEmptyValue":false},{"name":"id","in":"path","description":"Identifier of the Service","required":true,"type":"string"},{"name":"name","in":"query","required":false,"type":"string"}],"responses":{"200":{"description":"Success","schema":{"$ref":"#/definitions/Service"}},"400":{"description":"Bad Request","schema":{"$ref":"#/definitions/Error"}},"401":{"description":"Unauthorized","schema":{"$ref":"#/definitions/Error"}},"403":{"description":"Forbidden","schema":{"$ref":"#/definitions/Error"}},"404":{"description":"Not Found","schema":{"$ref":"#/definitions/Error"}},"405":{"description":"Method Not allowed","schema":{"$ref":"#/definitions/Error"}},"409":{"description":"Conflict","schema":{"$ref":"#/definitions/Error"}},"500":{"description":"Internal Server Error","schema":{"$ref":"#/definitions/Error"}}},"security":[{"spring_oauth":["read","write","admin","openapi"]}],"deprecated":false},"delete":{"tags":["service"],"summary":"Deletes a Service","description":"This operation deletes a Service entity.","operationId":"deleteService_1","produces":["application/json;charset=utf-8"],"parameters":[{"name":"id","in":"path","description":"Identifier of the Service","required":true,"type":"string"}],"responses":{"200":{"description":"OK"},"204":{"description":"Deleted"},"400":{"description":"Bad Request","schema":{"$ref":"#/definitions/Error"}},"401":{"description":"Unauthorized","schema":{"$ref":"#/definitions/Error"}},"403":{"description":"Forbidden","schema":{"$ref":"#/definitions/Error"}},"404":{"description":"Not Found","schema":{"$ref":"#/definitions/Error"}},"405":{"description":"Method Not allowed","schema":{"$ref":"#/definitions/Error"}},"409":{"description":"Conflict","schema":{"$ref":"#/definitions/Error"}},"500":{"description":"Internal Server Error","schema":{"$ref":"#/definitions/Error"}}},"security":[{"spring_oauth":["read","write","admin","openapi"]}],"deprecated":false},"patch":{"tags":["service"],"summary":"Updates partially a Service","description":"This operation updates partially a Service entity.","operationId":"patchService_1","consumes":["application/json;charset=utf-8"],"produces":["application/json;charset=utf-8"],"parameters":[{"name":"id","in":"path","description":"Identifier of the Service","required":true,"type":"string"},{"name":"name","in":"query","required":false,"type":"string"},{"in":"body","name":"service","description":"The Service to be updated","required":true,"schema":{"$ref":"#/definitions/ServiceUpdate"}}],"responses":{"200":{"description":"Updated","schema":{"$ref":"#/definitions/Service"}},"204":{"description":"No Content"},"400":{"description":"Bad Request","schema":{"$ref":"#/definitions/Error"}},"401":{"description":"Unauthorized","schema":{"$ref":"#/definitions/Error"}},"403":{"description":"Forbidden","schema":{"$ref":"#/definitions/Error"}},"404":{"description":"Not Found","schema":{"$ref":"#/definitions/Error"}},"405":{"description":"Method Not allowed","schema":{"$ref":"#/definitions/Error"}},"409":{"description":"Conflict","schema":{"$ref":"#/definitions/Error"}},"500":{"description":"Internal Server Error","schema":{"$ref":"#/definitions/Error"}}},"security":[{"spring_oauth":["read","write","admin","openapi"]}],"deprecated":false}},"/monitor":{"get":{"tags":["monitor"],"summary":"List or find Monitor objects","description":"This operation list or find Monitor entities","operationId":"listMonitor","produces":["application/json;charset=utf-8"],"parameters":[{"name":"fields","in":"query","description":"Comma-separated properties to be provided in response","required":false,"type":"string","allowEmptyValue":false},{"name":"limit","in":"query","description":"Requested number of resources to be provided in response","required":false,"type":"integer","format":"int32","allowEmptyValue":false},{"name":"offset","in":"query","description":"Requested index for start of resources to be provided in response","required":false,"type":"integer","format":"int32","allowEmptyValue":false}],"responses":{"200":{"description":"Success","schema":{"type":"array","items":{"$ref":"#/definitions/Monitor"}}},"400":{"description":"Bad Request","schema":{"$ref":"#/definitions/Error"}},"401":{"description":"Unauthorized","schema":{"$ref":"#/definitions/Error"}},"403":{"description":"Forbidden","schema":{"$ref":"#/definitions/Error"}},"404":{"description":"Not Found","schema":{"$ref":"#/definitions/Error"}},"405":{"description":"Method Not allowed","schema":{"$ref":"#/definitions/Error"}},"409":{"description":"Conflict","schema":{"$ref":"#/definitions/Error"}},"500":{"description":"Internal Server Error","schema":{"$ref":"#/definitions/Error"}}},"security":[{"spring_oauth":["read","write","admin","openapi"]}],"deprecated":false}},"/monitor/{id}":{"get":{"tags":["monitor"],"summary":"Retrieves a Monitor by ID","description":"This operation retrieves a Monitor entity. Attribute selection is enabled for all first level attributes.","operationId":"retrieveMonitor","produces":["application/json;charset=utf-8"],"parameters":[{"name":"fields","in":"query","description":"Comma-separated properties to provide in response","required":false,"type":"string","allowEmptyValue":false},{"name":"id","in":"path","description":"Identifier of the Monitor","required":true,"type":"string"}],"responses":{"200":{"description":"Success","schema":{"$ref":"#/definitions/Monitor"}},"400":{"description":"Bad Request","schema":{"$ref":"#/definitions/Error"}},"401":{"description":"Unauthorized","schema":{"$ref":"#/definitions/Error"}},"403":{"description":"Forbidden","schema":{"$ref":"#/definitions/Error"}},"404":{"description":"Not Found","schema":{"$ref":"#/definitions/Error"}},"405":{"description":"Method Not allowed","schema":{"$ref":"#/definitions/Error"}},"409":{"description":"Conflict","schema":{"$ref":"#/definitions/Error"}},"500":{"description":"Internal Server Error","schema":{"$ref":"#/definitions/Error"}}},"security":[{"spring_oauth":["read","write","admin","openapi"]}],"deprecated":false}}},"securityDefinitions":{"spring_oauth":{"type":"oauth2","authorizationUrl":"http://portal.openslice.io/auth/realms/openslice/protocol/openid-connect/auth","tokenUrl":"http://portal.openslice.io/auth/realms/openslice/protocol/openid-connect/token","flow":"accessCode","scopes":{"read":"for read operations","write":"for write operations","admin":"Access admin API","openapi":"Access openapi API"}}},"definitions":{"Any":{"type":"object","properties":{"alias":{"type":"string"},"value":{"type":"string"}},"title":"Any"},"Characteristic":{"type":"object","required":["value"],"properties":{"@baseType":{"type":"string","description":"When sub-classing, this defines the super-class"},"@schemaLocation":{"type":"string","description":"A URI to a JSON-Schema file that defines additional attributes and relationships"},"@type":{"type":"string"},"href":{"type":"string","description":"Unique reference of the entity"},"name":{"type":"string","description":"Name of the entity"},"uuid":{"type":"string"},"value":{"description":"The value of the characteristic","$ref":"#/definitions/Any"},"valueType":{"type":"string","description":"Data type of the value of the characteristic"}},"title":"Characteristic","description":"Describes a given characteristic of an object or entity through a name/value pair."},"Error":{"type":"object","required":["code","reason"],"properties":{"@baseType":{"type":"string","description":"When sub-classing, this defines the super-class."},"@schemaLocation":{"type":"string","description":"A URI to a JSON-Schema file that defines additional attributes and relationships"},"@type":{"type":"string","description":"When sub-classing, this defines the sub-class entity name."},"code":{"type":"integer","format":"int32","description":"Application relevant detail, defined in the API or a common list."},"message":{"type":"string","description":"More details and corrective actions related to the error which can be shown to a client user."},"reason":{"type":"string","description":"Explanation of the reason for the error which can be shown to a client user."},"referenceError":{"type":"string","description":"URI of documentation describing the error."},"status":{"type":"integer","format":"int32","description":"HTTP Error code extension"}},"title":"Error","description":"Used when an API throws an Error, typically with a HTTP error response-code (3xx, 4xx, 5xx)"},"EventSubscription":{"type":"object","required":["callback","id"],"properties":{"callback":{"type":"string","description":"The callback being registered."},"id":{"type":"string","description":"Id of the listener"},"query":{"type":"string","description":"additional data to be passed"}},"title":"EventSubscription","description":"Sets the communication endpoint address the service instance must use to deliver notification information"},"EventSubscriptionInput":{"type":"object","required":["callback"],"properties":{"callback":{"type":"string","description":"The callback being registered."},"query":{"type":"string","description":"additional data to be passed"}},"title":"EventSubscriptionInput","description":"Sets the communication endpoint address the service instance must use to deliver notification information"},"HeaderItem":{"type":"object","required":["name","value"],"properties":{"@baseType":{"type":"string"},"@schemaLocation":{"type":"string"},"@type":{"type":"string"},"atBaseType":{"type":"string","description":"When sub-classing, this defines the super-class"},"atSchemaLocation":{"type":"string","description":"A URI to a JSON-Schema file that defines additional attributes and relationships"},"atType":{"type":"string","description":"When sub-classing, this defines the sub-class entity name"},"name":{"type":"string","description":"The name of the header item, e.g. locale"},"value":{"type":"string","description":"The value of the header item, e.g. en-us"}},"title":"HeaderItem","description":"An item typically included in a request or response"},"Monitor":{"type":"object","properties":{"@baseType":{"type":"string"},"@schemaLocation":{"type":"string"},"@type":{"type":"string"},"atBaseType":{"type":"string","description":"When sub-classing, this defines the super-class"},"atSchemaLocation":{"type":"string","description":"A URI to a JSON-Schema file that defines additional attributes and relationships"},"atType":{"type":"string","description":"When sub-classing, this defines the sub-class entity name"},"href":{"type":"string","description":"reference to this monitor"},"id":{"type":"string","description":"Identifier of an instance of the monitor. Required to be unique within the resource type.  Used in URIs as the identifier for specific instances of a type"},"request":{"$ref":"#/definitions/Request"},"response":{"$ref":"#/definitions/Response"},"sourceHref":{"type":"string","description":"The monitored resource href"},"state":{"type":"string","description":"The Monitor state of the resource.  InProgress, InError, Completed"}},"title":"Monitor","description":"Monitoring of resources"},"MonitorAttributeValueChangeEvent":{"type":"object","properties":{"monitor":{"$ref":"#/definitions/Monitor"}},"title":"MonitorAttributeValueChangeEvent","description":"The event data structure"},"MonitorAttributeValueChangeNotification":{"type":"object","properties":{"event":{"$ref":"#/definitions/MonitorAttributeValueChangeEvent"},"eventId":{"type":"string","description":"The identifier of the notification"},"eventTime":{"type":"string","format":"date-time","description":"Time of the event occurrence"},"eventType":{"type":"string","description":"The type of the notification"},"fieldPath":{"type":"string","description":"The path identifying the object field concerned by this notification"},"resourcePath":{"type":"string","description":"The path identifying the resource object concerned by this notification"}},"title":"MonitorAttributeValueChangeNotification","description":"The notification data structure"},"MonitorCreateEvent":{"type":"object","properties":{"monitor":{"$ref":"#/definitions/Monitor"}},"title":"MonitorCreateEvent","description":"The event data structure"},"MonitorCreateNotification":{"type":"object","properties":{"event":{"$ref":"#/definitions/MonitorCreateEvent"},"eventId":{"type":"string","description":"The identifier of the notification"},"eventTime":{"type":"string","format":"date-time","description":"Time of the event occurrence"},"eventType":{"type":"string","description":"The type of the notification"},"fieldPath":{"type":"string","description":"The path identifying the object field concerned by this notification"},"resourcePath":{"type":"string","description":"The path identifying the resource object concerned by this notification"}},"title":"MonitorCreateNotification","description":"The notification data structure"},"MonitorDeleteEvent":{"type":"object","properties":{"monitor":{"$ref":"#/definitions/Monitor"}},"title":"MonitorDeleteEvent","description":"The event data structure"},"MonitorDeleteNotification":{"type":"object","properties":{"event":{"$ref":"#/definitions/MonitorDeleteEvent"},"eventId":{"type":"string","description":"The identifier of the notification"},"eventTime":{"type":"string","format":"date-time","description":"Time of the event occurrence"},"eventType":{"type":"string","description":"The type of the notification"},"fieldPath":{"type":"string","description":"The path identifying the object field concerned by this notification"},"resourcePath":{"type":"string","description":"The path identifying the resource object concerned by this notification"}},"title":"MonitorDeleteNotification","description":"The notification data structure"},"MonitorStateChangeEvent":{"type":"object","properties":{"monitor":{"$ref":"#/definitions/Monitor"}},"title":"MonitorStateChangeEvent","description":"The event data structure"},"MonitorStateChangeNotification":{"type":"object","properties":{"event":{"$ref":"#/definitions/MonitorStateChangeEvent"},"eventId":{"type":"string","description":"The identifier of the notification"},"eventTime":{"type":"string","format":"date-time","description":"Time of the event occurrence"},"eventType":{"type":"string","description":"The type of the notification"},"fieldPath":{"type":"string","description":"The path identifying the object field concerned by this notification"},"resourcePath":{"type":"string","description":"The path identifying the resource object concerned by this notification"}},"title":"MonitorStateChangeNotification","description":"The notification data structure"},"Note":{"type":"object","properties":{"@baseType":{"type":"string","description":"When sub-classing, this defines the super-class"},"@schemaLocation":{"type":"string","description":"A URI to a JSON-Schema file that defines additional attributes and relationships"},"@type":{"type":"string"},"author":{"type":"string","description":"Author of the note"},"date":{"type":"string","description":"Date of the note"},"href":{"type":"string","description":"Unique reference of the entity"},"system":{"type":"string","description":"Describes the system from which the action related to this note was done"},"text":{"type":"string","description":"Text of the note"},"uuid":{"type":"string"}},"title":"Note","description":"Extra information about a given entity"},"Place":{"type":"object","properties":{"@baseType":{"type":"string","description":"When sub-classing, this defines the super-class"},"@schemaLocation":{"type":"string","description":"A URI to a JSON-Schema file that defines additional attributes and relationships"},"@type":{"type":"string"},"href":{"type":"string","description":"Unique reference of the entity"},"id":{"type":"string"},"name":{"type":"string","description":"Name of the entity"},"role":{"type":"string","description":"Role of the place, such as: [home delivery], [shop retrieval])"},"uuid":{"type":"string"}},"title":"Place","description":"Place reference. Place defines the places where the products are sold or delivered."},"RelatedParty":{"type":"object","properties":{"@baseType":{"type":"string","description":"When sub-classing, this defines the super-class"},"@referredType":{"type":"string","description":"The actual type of the target instance when needed for disambiguation."},"@schemaLocation":{"type":"string","description":"A URI to a JSON-Schema file that defines additional attributes and relationships"},"@type":{"type":"string"},"extendedInfo":{"type":"string"},"href":{"type":"string","description":"Unique reference of the entity"},"id":{"type":"string"},"name":{"type":"string","description":"Name of the entity"},"role":{"type":"string","description":"Role of the related party."},"uuid":{"type":"string"}},"title":"RelatedParty","description":"RelatedParty reference. A related party defines party or party role linked to a specific entity."},"Request":{"type":"object","required":["body","header"],"properties":{"@baseType":{"type":"string"},"@schemaLocation":{"type":"string"},"@type":{"type":"string"},"atBaseType":{"type":"string","description":"When sub-classing, this defines the super-class"},"atSchemaLocation":{"type":"string","description":"A URI to a JSON-Schema file that defines additional attributes and relationships"},"atType":{"type":"string","description":"When sub-classing, this defines the sub-class entity name"},"body":{"type":"string","description":"The body of the request. For example for an HTTP request might contain content of a form ."},"header":{"type":"array","description":"Items included in the header of the request. For example for an HTTP request might contain requested locale, basic authentication.","items":{"$ref":"#/definitions/HeaderItem"}},"method":{"type":"string","description":"The protocol of the request, e.g. http"},"to":{"type":"string","description":"The target of the request, e.g. a URL for an HTTP request"}},"title":"Request","description":"A response to a request"},"ResourceRef":{"type":"object","required":["id"],"properties":{"@baseType":{"type":"string","description":"When sub-classing, this defines the super-class"},"@referredType":{"type":"string","description":"The actual type of the target instance when needed for disambiguation."},"@schemaLocation":{"type":"string","description":"A URI to a JSON-Schema file that defines additional attributes and relationships"},"@type":{"type":"string"},"href":{"type":"string","description":"Unique reference of the entity"},"id":{"type":"string","description":"Unique identifier of the supporting resource"},"name":{"type":"string","description":"Name of the entity"},"uuid":{"type":"string"}},"title":"ResourceRef"},"Response":{"type":"object","required":["body","header"],"properties":{"@baseType":{"type":"string"},"@schemaLocation":{"type":"string"},"@type":{"type":"string"},"atBaseType":{"type":"string","description":"When sub-classing, this defines the super-class"},"atSchemaLocation":{"type":"string","description":"A URI to a JSON-Schema file that defines additional attributes and relationships"},"atType":{"type":"string","description":"When sub-classing, this defines the sub-class entity name"},"body":{"type":"string","description":"The body of the response. For example for an HTTP response might contain HTML for rendering."},"header":{"type":"array","description":"Items included in the header of the response. For example for an HTTP response might contain negotiated locale.","items":{"$ref":"#/definitions/HeaderItem"}},"statusCode":{"type":"string","description":"The status of the response. For example for an HTTP response would be codes such as 200, 400, etc."}},"title":"Response","description":"A response to a request"},"Service":{"type":"object","properties":{"@baseType":{"type":"string","description":"When sub-classing, this defines the super-class"},"@schemaLocation":{"type":"string","description":"A URI to a JSON-Schema file that defines additional attributes and relationships"},"@type":{"type":"string"},"category":{"type":"string","description":"Is it a customer facing or resource facing service"},"description":{"type":"string","description":"Free-text description of the service"},"endDate":{"type":"string","description":"Date when the service ends"},"hasStarted":{"type":"boolean","description":"If TRUE, this Service has already been started"},"href":{"type":"string","description":"Unique reference of the entity"},"id":{"type":"string","description":"Unique identifier of the service"},"isServiceEnabled":{"type":"boolean","description":"If FALSE, this particular Service has NOT been enabled for use"},"isStateful":{"type":"boolean","description":"If TRUE, this Service can be changed without affecting any other services"},"name":{"type":"string","description":"Name of the entity"},"note":{"type":"array","description":"A list of notes made on this service","items":{"$ref":"#/definitions/Note"}},"place":{"type":"array","description":"A list of places related to this service, e.g. where the service is installed, a delivery address for equipment, etc.","items":{"$ref":"#/definitions/Place"}},"relatedParty":{"type":"array","description":"A list of related party references (RelatedParty [1..*]). A related party defines party or party role linked to a specific entity.","items":{"$ref":"#/definitions/RelatedParty"}},"serviceCharacteristic":{"type":"array","description":"A list of characteristics that characterize this service (ServiceCharacteristic [*]) ","items":{"$ref":"#/definitions/Characteristic"}},"serviceDate":{"type":"string","description":"Date when the service was created (whatever its status)."},"serviceOrder":{"type":"array","description":"A list of service orders related to this service","items":{"$ref":"#/definitions/ServiceOrderRef"}},"serviceRelationship":{"type":"array","description":"A list of service relationships (ServiceRelationship [*]). Describes links with other service(s) in the inventory (useful for describing relies-on, relies-from between CFS for example).","items":{"$ref":"#/definitions/ServiceRelationship"}},"serviceSpecification":{"description":"The specification from which this service was instantiated","$ref":"#/definitions/ServiceSpecificationRef"},"serviceType":{"type":"string","description":"Business type of the service"},"startDate":{"type":"string","description":"Date when the service starts"},"startMode":{"type":"string","description":"This attribute is an enumerated integer that indicates how the Service is started, such as: 0: Unknown; 1: Automatically by the managed environment; 2: Automatically by the owning device; 3: Manually by the Provider of the Service; 4: Manually by a Customer of the Provider; 5: Any of the above"},"state":{"type":"string","description":"The life cycle state of the service, such as: feasibilityChecked, designed, reserved, active, inactive, terminated","enum":["feasibilityChecked","designed","reserved","inactive","active","terminated"]},"supportingResource":{"type":"array","description":"A list of supporting resources (SupportingResource [*]).Note: only Service of type RFS can be associated with Resources.","items":{"$ref":"#/definitions/ResourceRef"}},"supportingService":{"type":"array","description":"A list of supporting services (SupportingService [*]). A collection of services that support this service (bundling, link CFS to RFS).","items":{"$ref":"#/definitions/ServiceRef"}},"uuid":{"type":"string"}},"title":"Service","description":"Service is a base class for defining the Service hierarchy. All Services are characterized as either being possibly visible and usable by a Customer or not. This gives rise to the two subclasses of Service: CustomerFacingService and ResourceFacingService."},"ServiceAttributeValueChangeEvent":{"type":"object","properties":{"service":{"description":"The involved resource data for the event","$ref":"#/definitions/Service"}},"title":"ServiceAttributeValueChangeEvent","description":"The event data structure"},"ServiceAttributeValueChangeNotification":{"type":"object","properties":{"event":{"description":"The event linked to the involved resource object","$ref":"#/definitions/ServiceAttributeValueChangeEvent"},"eventId":{"type":"string","description":"The identifier of the notification"},"eventTime":{"type":"string","description":"Time of the event occurrence"},"eventType":{"type":"string","description":"The type of the notification"},"fieldPath":{"type":"string","description":"The path identifying the object field concerned by this notification"},"resourcePath":{"type":"string","description":"The path identifying the resource object concerned by this notification"}},"title":"ServiceAttributeValueChangeNotification","description":"The notification data structure"},"ServiceCreate":{"type":"object","properties":{"@baseType":{"type":"string","description":"When sub-classing, this defines the super-class"},"@schemaLocation":{"type":"string","description":"A URI to a JSON-Schema file that defines additional attributes and relationships"},"@type":{"type":"string","description":"When sub-classing, this defines the sub-class entity name"},"category":{"type":"string","description":"Is it a customer facing or resource facing service"},"description":{"type":"string","description":"Free-text description of the service"},"endDate":{"type":"string","description":"Date when the service ends"},"hasStarted":{"type":"boolean","description":"If TRUE, this Service has already been started"},"isServiceEnabled":{"type":"boolean","description":"If FALSE, this particular Service has NOT been enabled for use"},"isStateful":{"type":"boolean","description":"If TRUE, this Service can be changed without affecting any other services"},"name":{"type":"string","description":"Name of the service"},"note":{"type":"array","description":"A list of notes made on this service","items":{"$ref":"#/definitions/Note"}},"place":{"type":"array","description":"A list of places related to this service, e.g. where the service is installed, a delivery address for equipment, etc.","items":{"$ref":"#/definitions/Place"}},"relatedParty":{"type":"array","description":"A list of related party references (RelatedParty [1..*]). A related party defines party or party role linked to a specific entity.","items":{"$ref":"#/definitions/RelatedParty"}},"serviceCharacteristic":{"type":"array","description":"A list of characteristics that characterize this service (ServiceCharacteristic [*]) ","items":{"$ref":"#/definitions/Characteristic"}},"serviceDate":{"type":"string","description":"Date when the service was created (whatever its status)."},"serviceOrder":{"type":"array","description":"A list of service orders related to this service","items":{"$ref":"#/definitions/ServiceOrderRef"}},"serviceRelationship":{"type":"array","description":"A list of service relationships (ServiceRelationship [*]). Describes links with other service(s) in the inventory (useful for describing relies-on, relies-from between CFS for example).","items":{"$ref":"#/definitions/ServiceRelationship"}},"serviceSpecification":{"description":"The specification from which this service was instantiated","$ref":"#/definitions/ServiceSpecificationRef"},"serviceType":{"type":"string","description":"Business type of the service"},"startDate":{"type":"string","description":"Date when the service starts"},"startMode":{"type":"string","description":"This attribute is an enumerated integer that indicates how the Service is started, such as: 0: Unknown; 1: Automatically by the managed environment; 2: Automatically by the owning device; 3: Manually by the Provider of the Service; 4: Manually by a Customer of the Provider; 5: Any of the above"},"state":{"type":"string","description":"The life cycle state of the service, such as: feasibilityChecked, designed, reserved, active, inactive, terminated","enum":["feasibilityChecked","designed","reserved","inactive","active","terminated"]},"supportingResource":{"type":"array","description":"A list of supporting resources (SupportingResource [*]).Note: only Service of type RFS can be associated with Resources.","items":{"$ref":"#/definitions/ResourceRef"}},"supportingService":{"type":"array","description":"A list of supporting services (SupportingService [*]). A collection of services that support this service (bundling, link CFS to RFS).","items":{"$ref":"#/definitions/ServiceRef"}}},"title":"ServiceCreate","description":"Service is a base class for defining the Service hierarchy. All Services are characterized as either being possibly visible and usable by a Customer or not. This gives rise to the two subclasses of Service: CustomerFacingService and ResourceFacingService. Skipped properties: id,href"},"ServiceCreateEvent":{"type":"object","properties":{"service":{"description":"The involved resource data for the event","$ref":"#/definitions/Service"}},"title":"ServiceCreateEvent","description":"The event data structure"},"ServiceCreateNotification":{"type":"object","properties":{"event":{"description":"The event linked to the involved resource object","$ref":"#/definitions/ServiceCreateEvent"},"eventId":{"type":"string","description":"The identifier of the notification"},"eventTime":{"type":"string","description":"Time of the event occurrence"},"eventType":{"type":"string","description":"The type of the notification"},"fieldPath":{"type":"string","description":"The path identifying the object field concerned by this notification"},"resourcePath":{"type":"string","description":"The path identifying the resource object concerned by this notification"}},"title":"ServiceCreateNotification","description":"The notification data structure"},"ServiceDeleteEvent":{"type":"object","properties":{"service":{"description":"The involved resource data for the event","$ref":"#/definitions/Service"}},"title":"ServiceDeleteEvent","description":"The event data structure"},"ServiceDeleteNotification":{"type":"object","properties":{"event":{"description":"The event linked to the involved resource object","$ref":"#/definitions/ServiceDeleteEvent"},"eventId":{"type":"string","description":"The identifier of the notification"},"eventTime":{"type":"string","description":"Time of the event occurrence"},"eventType":{"type":"string","description":"The type of the notification"},"fieldPath":{"type":"string","description":"The path identifying the object field concerned by this notification"},"resourcePath":{"type":"string","description":"The path identifying the resource object concerned by this notification"}},"title":"ServiceDeleteNotification","description":"The notification data structure"},"ServiceOrderRef":{"type":"object","required":["id"],"properties":{"@baseType":{"type":"string","description":"When sub-classing, this defines the super-class"},"@referredType":{"type":"string","description":"The actual type of the target instance when needed for disambiguation."},"@schemaLocation":{"type":"string","description":"A URI to a JSON-Schema file that defines additional attributes and relationships"},"@type":{"type":"string"},"href":{"type":"string","description":"Unique reference of the entity"},"id":{"type":"string","description":"Unique identifier of the Service Order"},"serviceOrderItemId":{"type":"string","description":"Unique identifier of the Service Order Item within a service order, not populated if this is a reference to a service order"},"uuid":{"type":"string"}},"title":"ServiceOrderRef","description":"Service Order reference. Useful to understand the which was the Service order through which the service was instantiated in the service inventory"},"ServiceRef":{"type":"object","required":["id"],"properties":{"@baseType":{"type":"string","description":"When sub-classing, this defines the super-class"},"@referredType":{"type":"string","description":"The actual type of the target instance when needed for disambiguation."},"@schemaLocation":{"type":"string","description":"A URI to a JSON-Schema file that defines additional attributes and relationships"},"@type":{"type":"string"},"href":{"type":"string","description":"Unique reference of the entity"},"id":{"type":"string","description":"Id of the service"},"name":{"type":"string","description":"Name of the entity"},"uuid":{"type":"string"}},"title":"ServiceRef","description":"Service reference, for when Service is used by other entities"},"ServiceRelationship":{"type":"object","required":["relationshipType","service"],"properties":{"@baseType":{"type":"string","description":"When sub-classing, this defines the super-class"},"@schemaLocation":{"type":"string","description":"A URI to a JSON-Schema file that defines additional attributes and relationships"},"@type":{"type":"string"},"href":{"type":"string","description":"Unique reference of the entity"},"relationshipType":{"type":"string","description":"The type of relationship (e.g. depends on, enables)"},"service":{"description":"The service being referred to","$ref":"#/definitions/ServiceRef"},"uuid":{"type":"string"}},"title":"ServiceRelationship","description":"Describes links with services of the same category (useful for bundled services)"},"ServiceSpecificationRef":{"type":"object","properties":{"@baseType":{"type":"string","description":"When sub-classing, this defines the super-class"},"@referredType":{"type":"string","description":"The actual type of the target instance when needed for disambiguation."},"@schemaLocation":{"type":"string","description":"A URI to a JSON-Schema file that defines additional attributes and relationships"},"@type":{"type":"string"},"href":{"type":"string","description":"Unique reference of the entity"},"id":{"type":"string"},"name":{"type":"string","description":"Name of the entity"},"targetServiceSchema":{"description":"A target service schema reference (TargetServiceSchemaRef). The reference object to the schema and type of target service which is described by service specification.","$ref":"#/definitions/TargetServiceSchema"},"uuid":{"type":"string"},"version":{"type":"string","description":"Service specification version"}},"title":"ServiceSpecificationRef","description":"Service specification reference: ServiceSpecification(s) required to realize a ProductSpecification."},"ServiceStateChangeEvent":{"type":"object","properties":{"service":{"description":"The involved resource data for the event","$ref":"#/definitions/Service"}},"title":"ServiceStateChangeEvent","description":"The event data structure"},"ServiceStateChangeNotification":{"type":"object","properties":{"event":{"description":"The event linked to the involved resource object","$ref":"#/definitions/ServiceStateChangeEvent"},"eventId":{"type":"string","description":"The identifier of the notification"},"eventTime":{"type":"string","description":"Time of the event occurrence"},"eventType":{"type":"string","description":"The type of the notification"},"fieldPath":{"type":"string","description":"The path identifying the object field concerned by this notification"},"resourcePath":{"type":"string","description":"The path identifying the resource object concerned by this notification"}},"title":"ServiceStateChangeNotification","description":"The notification data structure"},"ServiceUpdate":{"type":"object","properties":{"@baseType":{"type":"string","description":"When sub-classing, this defines the super-class"},"@schemaLocation":{"type":"string","description":"A URI to a JSON-Schema file that defines additional attributes and relationships"},"@type":{"type":"string","description":"When sub-classing, this defines the sub-class entity name"},"category":{"type":"string","description":"Is it a customer facing or resource facing service"},"description":{"type":"string","description":"Free-text description of the service"},"endDate":{"type":"string","description":"Date when the service ends"},"hasStarted":{"type":"boolean","description":"If TRUE, this Service has already been started"},"isServiceEnabled":{"type":"boolean","description":"If FALSE, this particular Service has NOT been enabled for use"},"isStateful":{"type":"boolean","description":"If TRUE, this Service can be changed without affecting any other services"},"name":{"type":"string","description":"Name of the service"},"note":{"type":"array","description":"A list of notes made on this service","items":{"$ref":"#/definitions/Note"}},"place":{"type":"array","description":"A list of places related to this service, e.g. where the service is installed, a delivery address for equipment, etc.","items":{"$ref":"#/definitions/Place"}},"relatedParty":{"type":"array","description":"A list of related party references (RelatedParty [1..*]). A related party defines party or party role linked to a specific entity.","items":{"$ref":"#/definitions/RelatedParty"}},"serviceCharacteristic":{"type":"array","description":"A list of characteristics that characterize this service (ServiceCharacteristic [*]) ","items":{"$ref":"#/definitions/Characteristic"}},"serviceDate":{"type":"string","description":"Date when the service was created (whatever its status)."},"serviceOrder":{"type":"array","description":"A list of service orders related to this service","items":{"$ref":"#/definitions/ServiceOrderRef"}},"serviceRelationship":{"type":"array","description":"A list of service relationships (ServiceRelationship [*]). Describes links with other service(s) in the inventory (useful for describing relies-on, relies-from between CFS for example).","items":{"$ref":"#/definitions/ServiceRelationship"}},"serviceSpecification":{"description":"The specification from which this service was instantiated","$ref":"#/definitions/ServiceSpecificationRef"},"serviceType":{"type":"string","description":"Business type of the service"},"startDate":{"type":"string","description":"Date when the service starts"},"startMode":{"type":"string","description":"This attribute is an enumerated integer that indicates how the Service is started, such as: 0: Unknown; 1: Automatically by the managed environment; 2: Automatically by the owning device; 3: Manually by the Provider of the Service; 4: Manually by a Customer of the Provider; 5: Any of the above"},"state":{"type":"string","description":"The life cycle state of the service, such as: feasibilityChecked, designed, reserved, active, inactive, terminated","enum":["feasibilityChecked","designed","reserved","inactive","active","terminated"]},"supportingResource":{"type":"array","description":"A list of supporting resources (SupportingResource [*]).Note: only Service of type RFS can be associated with Resources.","items":{"$ref":"#/definitions/ResourceRef"}},"supportingService":{"type":"array","description":"A list of supporting services (SupportingService [*]). A collection of services that support this service (bundling, link CFS to RFS).","items":{"$ref":"#/definitions/ServiceRef"}}},"title":"ServiceUpdate","description":"Service is a base class for defining the Service hierarchy. All Services are characterized as either being possibly visible and usable by a Customer or not. This gives rise to the two subclasses of Service: CustomerFacingService and ResourceFacingService. Skipped properties: id,href,serviceRelationship"},"TargetServiceSchema":{"type":"object","properties":{"@baseType":{"type":"string","description":"When sub-classing, this defines the super-class"},"@schemaLocation":{"type":"string","description":"A URI to a JSON-Schema file that defines additional attributes and relationships"},"@type":{"type":"string"},"href":{"type":"string","description":"Unique reference of the entity"},"uuid":{"type":"string"}},"title":"TargetServiceSchema","description":"The reference object to the schema and type of target service which is described by service specification"}}}