{"swagger":"2.0","info":{"description":"## TMF API Reference: TMF653 - Service Test Management  ### Release : 20.0 - April 2020  Service Test Management API goal is to provide the ability to manage tests of provisioned Services.   ### Resource  - ServiceTest  - ServiceTestSpecification  ### Operations Service Test Management API performs the following operations on the resources : - Retrieve an entity or a collection of entities depending on filter criteria - Partial update of an entity (including updating rules) - Create an entity (including default values and creation rules) - Delete an entity (for administration purposes) - Manage notification of events","version":"4.0.0","title":"Service Test Management","contact":{},"license":{"url":"http://unlicense.org"}},"host":"portal.openslice.io","basePath":"/tmf-api", "tags":[{"name":"hub-api-controller","description":"the hub API"},{"name":"listener-api-controller","description":"the listener API"},{"name":"service-test-api-controller","description":"the serviceTest API"},{"name":"service-test-specification-api-controller","description":"the serviceTestSpecification API"}],"paths":{"/serviceTestManagement/v4/hub":{"post":{"tags":["events subscription"],"summary":"Register a listener","description":"Sets the communication endpoint address the service instance must use to deliver information about its health state, execution state, failures and metrics.","operationId":"registerListener_10","consumes":["application/json;charset=utf-8"],"produces":["application/json;charset=utf-8"],"parameters":[{"in":"body","name":"body","description":"Data containing the callback endpoint to deliver the information","required":true,"schema":{"$ref":"#/definitions/EventSubscriptionInput"}}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/EventSubscription"}},"201":{"description":"Subscribed","schema":{"$ref":"#/definitions/EventSubscription"}},"400":{"description":"Bad Request","schema":{"$ref":"#/definitions/Error"}},"401":{"description":"Unauthorized","schema":{"$ref":"#/definitions/Error"}},"403":{"description":"Forbidden","schema":{"$ref":"#/definitions/Error"}},"404":{"description":"Not Found","schema":{"$ref":"#/definitions/Error"}},"405":{"description":"Method Not allowed","schema":{"$ref":"#/definitions/Error"}},"409":{"description":"Conflict","schema":{"$ref":"#/definitions/Error"}},"500":{"description":"Internal Server Error","schema":{"$ref":"#/definitions/Error"}}},"security":[{"spring_oauth":["read","write","admin","openapi"]}]}},"/serviceTestManagement/v4/hub/{id}":{"delete":{"tags":["events subscription"],"summary":"Unregister a listener","description":"Resets the communication endpoint address the service instance must use to deliver information about its health state, execution state, failures and metrics.","operationId":"unregisterListener_10","produces":["application/json;charset=utf-8"],"parameters":[{"name":"id","in":"path","description":"The id of the registered listener","required":true,"type":"string"}],"responses":{"200":{"description":"OK"},"204":{"description":"Deleted"},"400":{"description":"Bad request","schema":{"$ref":"#/definitions/Error"}},"401":{"description":"Unauthorized","schema":{"$ref":"#/definitions/Error"}},"403":{"description":"Forbidden","schema":{"$ref":"#/definitions/Error"}},"404":{"description":"Not Found","schema":{"$ref":"#/definitions/Error"}},"405":{"description":"Method not allowed","schema":{"$ref":"#/definitions/Error"}},"500":{"description":"Internal Server Error","schema":{"$ref":"#/definitions/Error"}}},"security":[{"spring_oauth":["read","write","admin","openapi"]}]}},"/serviceTestManagement/v4/listener/serviceTestAttributeValueChangeEvent":{"post":{"tags":["notification listeners (client side)"],"summary":"Client listener for entity ServiceTestAttributeValueChangeEvent","description":"Example of a client listener for receiving the notification ServiceTestAttributeValueChangeEvent","operationId":"listenToServiceTestAttributeValueChangeEvent","consumes":["application/json;charset=utf-8"],"produces":["application/json;charset=utf-8"],"parameters":[{"in":"body","name":"body","description":"The event data","required":true,"schema":{"$ref":"#/definitions/ServiceTestAttributeValueChangeEvent"}}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/EventSubscription"}},"201":{"description":"Notified","schema":{"$ref":"#/definitions/EventSubscription"}},"400":{"description":"Bad Request","schema":{"$ref":"#/definitions/Error"}},"401":{"description":"Unauthorized","schema":{"$ref":"#/definitions/Error"}},"403":{"description":"Forbidden","schema":{"$ref":"#/definitions/Error"}},"404":{"description":"Not Found","schema":{"$ref":"#/definitions/Error"}},"405":{"description":"Method Not allowed","schema":{"$ref":"#/definitions/Error"}},"409":{"description":"Conflict","schema":{"$ref":"#/definitions/Error"}},"500":{"description":"Internal Server Error","schema":{"$ref":"#/definitions/Error"}}},"security":[{"spring_oauth":["read","write","admin","openapi"]}]}},"/serviceTestManagement/v4/listener/serviceTestCreateEvent":{"post":{"tags":["notification listeners (client side)"],"summary":"Client listener for entity ServiceTestCreateEvent","description":"Example of a client listener for receiving the notification ServiceTestCreateEvent","operationId":"listenToServiceTestCreateEvent","consumes":["application/json;charset=utf-8"],"produces":["application/json;charset=utf-8"],"parameters":[{"in":"body","name":"body","description":"The event data","required":true,"schema":{"$ref":"#/definitions/ServiceTestCreateEvent"}}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/EventSubscription"}},"201":{"description":"Notified","schema":{"$ref":"#/definitions/EventSubscription"}},"400":{"description":"Bad Request","schema":{"$ref":"#/definitions/Error"}},"401":{"description":"Unauthorized","schema":{"$ref":"#/definitions/Error"}},"403":{"description":"Forbidden","schema":{"$ref":"#/definitions/Error"}},"404":{"description":"Not Found","schema":{"$ref":"#/definitions/Error"}},"405":{"description":"Method Not allowed","schema":{"$ref":"#/definitions/Error"}},"409":{"description":"Conflict","schema":{"$ref":"#/definitions/Error"}},"500":{"description":"Internal Server Error","schema":{"$ref":"#/definitions/Error"}}},"security":[{"spring_oauth":["read","write","admin","openapi"]}]}},"/serviceTestManagement/v4/listener/serviceTestDeleteEvent":{"post":{"tags":["notification listeners (client side)"],"summary":"Client listener for entity ServiceTestDeleteEvent","description":"Example of a client listener for receiving the notification ServiceTestDeleteEvent","operationId":"listenToServiceTestDeleteEvent","consumes":["application/json;charset=utf-8"],"produces":["application/json;charset=utf-8"],"parameters":[{"in":"body","name":"body","description":"The event data","required":true,"schema":{"$ref":"#/definitions/ServiceTestDeleteEvent"}}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/EventSubscription"}},"201":{"description":"Notified","schema":{"$ref":"#/definitions/EventSubscription"}},"400":{"description":"Bad Request","schema":{"$ref":"#/definitions/Error"}},"401":{"description":"Unauthorized","schema":{"$ref":"#/definitions/Error"}},"403":{"description":"Forbidden","schema":{"$ref":"#/definitions/Error"}},"404":{"description":"Not Found","schema":{"$ref":"#/definitions/Error"}},"405":{"description":"Method Not allowed","schema":{"$ref":"#/definitions/Error"}},"409":{"description":"Conflict","schema":{"$ref":"#/definitions/Error"}},"500":{"description":"Internal Server Error","schema":{"$ref":"#/definitions/Error"}}},"security":[{"spring_oauth":["read","write","admin","openapi"]}]}},"/serviceTestManagement/v4/listener/serviceTestSpecificationAttributeValueChangeEvent":{"post":{"tags":["notification listeners (client side)"],"summary":"Client listener for entity ServiceTestSpecificationAttributeValueChangeEvent","description":"Example of a client listener for receiving the notification ServiceTestSpecificationAttributeValueChangeEvent","operationId":"listenToServiceTestSpecificationAttributeValueChangeEvent","consumes":["application/json;charset=utf-8"],"produces":["application/json;charset=utf-8"],"parameters":[{"in":"body","name":"body","description":"The event data","required":true,"schema":{"$ref":"#/definitions/ServiceTestSpecificationAttributeValueChangeEvent"}}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/EventSubscription"}},"201":{"description":"Notified","schema":{"$ref":"#/definitions/EventSubscription"}},"400":{"description":"Bad Request","schema":{"$ref":"#/definitions/Error"}},"401":{"description":"Unauthorized","schema":{"$ref":"#/definitions/Error"}},"403":{"description":"Forbidden","schema":{"$ref":"#/definitions/Error"}},"404":{"description":"Not Found","schema":{"$ref":"#/definitions/Error"}},"405":{"description":"Method Not allowed","schema":{"$ref":"#/definitions/Error"}},"409":{"description":"Conflict","schema":{"$ref":"#/definitions/Error"}},"500":{"description":"Internal Server Error","schema":{"$ref":"#/definitions/Error"}}},"security":[{"spring_oauth":["read","write","admin","openapi"]}]}},"/serviceTestManagement/v4/listener/serviceTestSpecificationCreateEvent":{"post":{"tags":["notification listeners (client side)"],"summary":"Client listener for entity ServiceTestSpecificationCreateEvent","description":"Example of a client listener for receiving the notification ServiceTestSpecificationCreateEvent","operationId":"listenToServiceTestSpecificationCreateEvent","consumes":["application/json;charset=utf-8"],"produces":["application/json;charset=utf-8"],"parameters":[{"in":"body","name":"body","description":"The event data","required":true,"schema":{"$ref":"#/definitions/ServiceTestSpecificationCreateEvent"}}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/EventSubscription"}},"201":{"description":"Notified","schema":{"$ref":"#/definitions/EventSubscription"}},"400":{"description":"Bad Request","schema":{"$ref":"#/definitions/Error"}},"401":{"description":"Unauthorized","schema":{"$ref":"#/definitions/Error"}},"403":{"description":"Forbidden","schema":{"$ref":"#/definitions/Error"}},"404":{"description":"Not Found","schema":{"$ref":"#/definitions/Error"}},"405":{"description":"Method Not allowed","schema":{"$ref":"#/definitions/Error"}},"409":{"description":"Conflict","schema":{"$ref":"#/definitions/Error"}},"500":{"description":"Internal Server Error","schema":{"$ref":"#/definitions/Error"}}},"security":[{"spring_oauth":["read","write","admin","openapi"]}]}},"/serviceTestManagement/v4/listener/serviceTestSpecificationDeleteEvent":{"post":{"tags":["notification listeners (client side)"],"summary":"Client listener for entity ServiceTestSpecificationDeleteEvent","description":"Example of a client listener for receiving the notification ServiceTestSpecificationDeleteEvent","operationId":"listenToServiceTestSpecificationDeleteEvent","consumes":["application/json;charset=utf-8"],"produces":["application/json;charset=utf-8"],"parameters":[{"in":"body","name":"body","description":"The event data","required":true,"schema":{"$ref":"#/definitions/ServiceTestSpecificationDeleteEvent"}}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/EventSubscription"}},"201":{"description":"Notified","schema":{"$ref":"#/definitions/EventSubscription"}},"400":{"description":"Bad Request","schema":{"$ref":"#/definitions/Error"}},"401":{"description":"Unauthorized","schema":{"$ref":"#/definitions/Error"}},"403":{"description":"Forbidden","schema":{"$ref":"#/definitions/Error"}},"404":{"description":"Not Found","schema":{"$ref":"#/definitions/Error"}},"405":{"description":"Method Not allowed","schema":{"$ref":"#/definitions/Error"}},"409":{"description":"Conflict","schema":{"$ref":"#/definitions/Error"}},"500":{"description":"Internal Server Error","schema":{"$ref":"#/definitions/Error"}}},"security":[{"spring_oauth":["read","write","admin","openapi"]}]}},"/serviceTestManagement/v4/serviceTest":{"get":{"tags":["serviceTest"],"summary":"List or find ServiceTest objects","description":"This operation list or find ServiceTest entities","operationId":"listServiceTest","produces":["application/json;charset=utf-8"],"parameters":[{"name":"fields","in":"query","description":"Comma-separated properties to be provided in response","required":false,"type":"string"},{"name":"limit","in":"query","description":"Requested number of resources to be provided in response","required":false,"type":"integer","format":"int32"},{"name":"offset","in":"query","description":"Requested index for start of resources to be provided in response","required":false,"type":"integer","format":"int32"}],"responses":{"200":{"description":"Success","schema":{"type":"array","items":{"$ref":"#/definitions/ServiceTest"}}},"400":{"description":"Bad Request","schema":{"$ref":"#/definitions/Error"}},"401":{"description":"Unauthorized","schema":{"$ref":"#/definitions/Error"}},"403":{"description":"Forbidden","schema":{"$ref":"#/definitions/Error"}},"404":{"description":"Not Found","schema":{"$ref":"#/definitions/Error"}},"405":{"description":"Method Not allowed","schema":{"$ref":"#/definitions/Error"}},"409":{"description":"Conflict","schema":{"$ref":"#/definitions/Error"}},"500":{"description":"Internal Server Error","schema":{"$ref":"#/definitions/Error"}}},"security":[{"spring_oauth":["read","write","admin","openapi"]}]},"post":{"tags":["serviceTest"],"summary":"Creates a ServiceTest","description":"This operation creates a ServiceTest entity.","operationId":"createServiceTest","consumes":["application/json;charset=utf-8"],"produces":["application/json;charset=utf-8"],"parameters":[{"in":"body","name":"serviceTest","description":"The ServiceTest to be created","required":true,"schema":{"$ref":"#/definitions/ServiceTestCreate"}}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/ServiceTest"}},"201":{"description":"Created","schema":{"$ref":"#/definitions/ServiceTest"}},"400":{"description":"Bad Request","schema":{"$ref":"#/definitions/Error"}},"401":{"description":"Unauthorized","schema":{"$ref":"#/definitions/Error"}},"403":{"description":"Forbidden","schema":{"$ref":"#/definitions/Error"}},"404":{"description":"Not Found"},"405":{"description":"Method Not allowed","schema":{"$ref":"#/definitions/Error"}},"409":{"description":"Conflict","schema":{"$ref":"#/definitions/Error"}},"500":{"description":"Internal Server Error","schema":{"$ref":"#/definitions/Error"}}},"security":[{"spring_oauth":["read","write","admin","openapi"]}]}},"/serviceTestManagement/v4/serviceTest/{id}":{"get":{"tags":["serviceTest"],"summary":"Retrieves a ServiceTest by ID","description":"This operation retrieves a ServiceTest entity. Attribute selection is enabled for all first level attributes.","operationId":"retrieveServiceTest","produces":["application/json;charset=utf-8"],"parameters":[{"name":"fields","in":"query","description":"Comma-separated properties to provide in response","required":false,"type":"string"},{"name":"id","in":"path","description":"Identifier of the ServiceTest","required":true,"type":"string"}],"responses":{"200":{"description":"Success","schema":{"$ref":"#/definitions/ServiceTest"}},"400":{"description":"Bad Request","schema":{"$ref":"#/definitions/Error"}},"401":{"description":"Unauthorized","schema":{"$ref":"#/definitions/Error"}},"403":{"description":"Forbidden","schema":{"$ref":"#/definitions/Error"}},"404":{"description":"Not Found","schema":{"$ref":"#/definitions/Error"}},"405":{"description":"Method Not allowed","schema":{"$ref":"#/definitions/Error"}},"409":{"description":"Conflict","schema":{"$ref":"#/definitions/Error"}},"500":{"description":"Internal Server Error","schema":{"$ref":"#/definitions/Error"}}},"security":[{"spring_oauth":["read","write","admin","openapi"]}]},"delete":{"tags":["serviceTest"],"summary":"Deletes a ServiceTest","description":"This operation deletes a ServiceTest entity.","operationId":"deleteServiceTest","produces":["application/json;charset=utf-8"],"parameters":[{"name":"id","in":"path","description":"Identifier of the ServiceTest","required":true,"type":"string"}],"responses":{"200":{"description":"OK"},"204":{"description":"Deleted","schema":{"type":"object"}},"400":{"description":"Bad Request","schema":{"$ref":"#/definitions/Error"}},"401":{"description":"Unauthorized","schema":{"$ref":"#/definitions/Error"}},"403":{"description":"Forbidden","schema":{"$ref":"#/definitions/Error"}},"404":{"description":"Not Found","schema":{"$ref":"#/definitions/Error"}},"405":{"description":"Method Not allowed","schema":{"$ref":"#/definitions/Error"}},"409":{"description":"Conflict","schema":{"$ref":"#/definitions/Error"}},"500":{"description":"Internal Server Error","schema":{"$ref":"#/definitions/Error"}}},"security":[{"spring_oauth":["read","write","admin","openapi"]}]},"patch":{"tags":["serviceTest"],"summary":"Updates partially a ServiceTest","description":"This operation updates partially a ServiceTest entity.","operationId":"patchServiceTest","consumes":["application/json;charset=utf-8"],"produces":["application/json;charset=utf-8"],"parameters":[{"name":"id","in":"path","description":"Identifier of the ServiceTest","required":true,"type":"string"},{"in":"body","name":"serviceSpecification","description":"The ServiceTest to be updated","required":true,"schema":{"$ref":"#/definitions/ServiceTestUpdate"}}],"responses":{"200":{"description":"Updated","schema":{"$ref":"#/definitions/ServiceTest"}},"204":{"description":"No Content"},"400":{"description":"Bad Request","schema":{"$ref":"#/definitions/Error"}},"401":{"description":"Unauthorized","schema":{"$ref":"#/definitions/Error"}},"403":{"description":"Forbidden","schema":{"$ref":"#/definitions/Error"}},"404":{"description":"Not Found","schema":{"$ref":"#/definitions/Error"}},"405":{"description":"Method Not allowed","schema":{"$ref":"#/definitions/Error"}},"409":{"description":"Conflict","schema":{"$ref":"#/definitions/Error"}},"500":{"description":"Internal Server Error","schema":{"$ref":"#/definitions/Error"}}},"security":[{"spring_oauth":["read","write","admin","openapi"]}]}},"/serviceTestManagement/v4/serviceTestSpecification":{"get":{"tags":["serviceTestSpecification"],"summary":"List or find ServiceTestSpecification objects","description":"This operation list or find ServiceTestSpecification entities","operationId":"listServiceTestSpecification","produces":["application/json;charset=utf-8"],"parameters":[{"name":"fields","in":"query","description":"Comma-separated properties to be provided in response","required":false,"type":"string"},{"name":"limit","in":"query","description":"Requested number of resources to be provided in response","required":false,"type":"integer","format":"int32"},{"name":"offset","in":"query","description":"Requested index for start of resources to be provided in response","required":false,"type":"integer","format":"int32"}],"responses":{"200":{"description":"Success","schema":{"type":"array","items":{"$ref":"#/definitions/ServiceTestSpecification"}}},"400":{"description":"Bad Request","schema":{"$ref":"#/definitions/Error"}},"401":{"description":"Unauthorized","schema":{"$ref":"#/definitions/Error"}},"403":{"description":"Forbidden","schema":{"$ref":"#/definitions/Error"}},"404":{"description":"Not Found","schema":{"$ref":"#/definitions/Error"}},"405":{"description":"Method Not allowed","schema":{"$ref":"#/definitions/Error"}},"409":{"description":"Conflict","schema":{"$ref":"#/definitions/Error"}},"500":{"description":"Internal Server Error","schema":{"$ref":"#/definitions/Error"}}},"security":[{"spring_oauth":["read","write","admin","openapi"]}]},"post":{"tags":["serviceTestSpecification"],"summary":"Creates a ServiceTestSpecification","description":"This operation creates a ServiceTestSpecification entity.","operationId":"createServiceTestSpecification","consumes":["application/json;charset=utf-8"],"produces":["application/json;charset=utf-8"],"parameters":[{"in":"body","name":"serviceSpecification","description":"The ServiceTestSpecification to be created","required":true,"schema":{"$ref":"#/definitions/ServiceTestSpecificationCreate"}}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/ServiceTestSpecification"}},"201":{"description":"Created","schema":{"$ref":"#/definitions/ServiceTestSpecification"}},"400":{"description":"Bad Request","schema":{"$ref":"#/definitions/Error"}},"401":{"description":"Unauthorized","schema":{"$ref":"#/definitions/Error"}},"403":{"description":"Forbidden","schema":{"$ref":"#/definitions/Error"}},"404":{"description":"Not Found"},"405":{"description":"Method Not allowed","schema":{"$ref":"#/definitions/Error"}},"409":{"description":"Conflict","schema":{"$ref":"#/definitions/Error"}},"500":{"description":"Internal Server Error","schema":{"$ref":"#/definitions/Error"}}},"security":[{"spring_oauth":["read","write","admin","openapi"]}]}},"/serviceTestManagement/v4/serviceTestSpecification/{id}":{"get":{"tags":["serviceTestSpecification"],"summary":"Retrieves a ServiceTestSpecification by ID","description":"This operation retrieves a ServiceTestSpecification entity. Attribute selection is enabled for all first level attributes.","operationId":"retrieveServiceTestSpecification","produces":["application/json;charset=utf-8"],"parameters":[{"name":"fields","in":"query","description":"Comma-separated properties to provide in response","required":false,"type":"string"},{"name":"id","in":"path","description":"Identifier of the ServiceTestSpecification","required":true,"type":"string"}],"responses":{"200":{"description":"Success","schema":{"$ref":"#/definitions/ServiceTestSpecification"}},"400":{"description":"Bad Request","schema":{"$ref":"#/definitions/Error"}},"401":{"description":"Unauthorized","schema":{"$ref":"#/definitions/Error"}},"403":{"description":"Forbidden","schema":{"$ref":"#/definitions/Error"}},"404":{"description":"Not Found","schema":{"$ref":"#/definitions/Error"}},"405":{"description":"Method Not allowed","schema":{"$ref":"#/definitions/Error"}},"409":{"description":"Conflict","schema":{"$ref":"#/definitions/Error"}},"500":{"description":"Internal Server Error","schema":{"$ref":"#/definitions/Error"}}},"security":[{"spring_oauth":["read","write","admin","openapi"]}]},"delete":{"tags":["serviceTestSpecification"],"summary":"Deletes a ServiceTestSpecification","description":"This operation deletes a ServiceTestSpecification entity.","operationId":"deleteServiceTestSpecification","produces":["application/json;charset=utf-8"],"parameters":[{"name":"id","in":"path","description":"Identifier of the ServiceTestSpecification","required":true,"type":"string"}],"responses":{"200":{"description":"OK"},"204":{"description":"Deleted","schema":{"type":"object"}},"400":{"description":"Bad Request","schema":{"$ref":"#/definitions/Error"}},"401":{"description":"Unauthorized","schema":{"$ref":"#/definitions/Error"}},"403":{"description":"Forbidden","schema":{"$ref":"#/definitions/Error"}},"404":{"description":"Not Found","schema":{"$ref":"#/definitions/Error"}},"405":{"description":"Method Not allowed","schema":{"$ref":"#/definitions/Error"}},"409":{"description":"Conflict","schema":{"$ref":"#/definitions/Error"}},"500":{"description":"Internal Server Error","schema":{"$ref":"#/definitions/Error"}}},"security":[{"spring_oauth":["read","write","admin","openapi"]}]},"patch":{"tags":["serviceTestSpecification"],"summary":"Updates partially a ServiceTestSpecification","description":"This operation updates partially a ServiceTestSpecification entity.","operationId":"patchServiceTestSpecification","consumes":["application/json;charset=utf-8"],"produces":["application/json;charset=utf-8"],"parameters":[{"name":"id","in":"path","description":"Identifier of the ServiceTestSpecification","required":true,"type":"string"},{"in":"body","name":"serviceSpecification","description":"The ServiceTestSpecification to be updated","required":true,"schema":{"$ref":"#/definitions/ServiceTestSpecificationUpdate"}}],"responses":{"200":{"description":"Updated","schema":{"$ref":"#/definitions/ServiceTestSpecification"}},"204":{"description":"No Content"},"400":{"description":"Bad Request","schema":{"$ref":"#/definitions/Error"}},"401":{"description":"Unauthorized","schema":{"$ref":"#/definitions/Error"}},"403":{"description":"Forbidden","schema":{"$ref":"#/definitions/Error"}},"404":{"description":"Not Found","schema":{"$ref":"#/definitions/Error"}},"405":{"description":"Method Not allowed","schema":{"$ref":"#/definitions/Error"}},"409":{"description":"Conflict","schema":{"$ref":"#/definitions/Error"}},"500":{"description":"Internal Server Error","schema":{"$ref":"#/definitions/Error"}}},"security":[{"spring_oauth":["read","write","admin","openapi"]}]}},"/serviceTestManagement/v4/serviceTestSpecification/{id}/attachment":{"post":{"tags":["serviceTestSpecification"],"summary":"Adds an attachment to a ServiceTestSpecification","description":"This operation adds an attachment to a ServiceTestSpecification and updates partially a ServiceTestSpecification entity","operationId":"addAttachmentToServiceTestSpecification","consumes":["multipart/form-data"],"produces":["application/json;charset=utf-8"],"parameters":[{"in":"body","name":"afile","description":"The Attachment file to be added","required":true,"schema":{"type":"string","format":"binary"}},{"name":"id","in":"path","description":"Identifier of the ServiceTestSpecification","required":true,"type":"string"}],"responses":{"200":{"description":"Success","schema":{"$ref":"#/definitions/Attachment"}},"201":{"description":"Created"},"400":{"description":"Bad Request","schema":{"$ref":"#/definitions/Error"}},"401":{"description":"Unauthorized","schema":{"$ref":"#/definitions/Error"}},"403":{"description":"Forbidden","schema":{"$ref":"#/definitions/Error"}},"404":{"description":"Not Found","schema":{"$ref":"#/definitions/Error"}},"405":{"description":"Method Not allowed","schema":{"$ref":"#/definitions/Error"}},"409":{"description":"Conflict","schema":{"$ref":"#/definitions/Error"}},"500":{"description":"Internal Server Error","schema":{"$ref":"#/definitions/Error"}}},"security":[{"spring_oauth":["read","write","admin","openapi"]}]}},"/serviceTestManagement/v4/serviceTestSpecification/{id}/attachment/{attid}":{"get":{"tags":["serviceTestSpecification"],"summary":"Get an attachment","description":"This operation gets an attachment","operationId":"getAttachment_2","produces":["*/*"],"parameters":[{"name":"attid","in":"path","description":"Identifier of the Attachment","required":true,"type":"string"},{"name":"id","in":"path","description":"Identifier of the serviceTestSpecification","required":true,"type":"string"}],"responses":{"200":{"description":"Success","schema":{"$ref":"#/definitions/ByteArrayResource"}},"400":{"description":"Bad Request","schema":{"$ref":"#/definitions/Error"}},"401":{"description":"Unauthorized","schema":{"$ref":"#/definitions/Error"}},"403":{"description":"Forbidden","schema":{"$ref":"#/definitions/Error"}},"404":{"description":"Not Found","schema":{"$ref":"#/definitions/Error"}},"405":{"description":"Method Not allowed","schema":{"$ref":"#/definitions/Error"}},"409":{"description":"Conflict","schema":{"$ref":"#/definitions/Error"}},"500":{"description":"Internal Server Error","schema":{"$ref":"#/definitions/Error"}}},"security":[{"spring_oauth":["read","write","admin","openapi"]}]}},"/serviceTestManagement/v4/serviceTestSpecification/{id}/attachment/{attid}/{afilename}":{"get":{"tags":["serviceTestSpecification"],"summary":"Get an attachment with filename","description":"This operation gets an attachment","operationId":"getAttachmentWithFilename_2","produces":["*/*"],"parameters":[{"name":"afilename","in":"path","description":"Identifier of the Filename","required":true,"type":"string"},{"name":"attid","in":"path","description":"Identifier of the Attachment","required":true,"type":"string"},{"name":"id","in":"path","description":"Identifier of the serviceTestSpecification","required":true,"type":"string"}],"responses":{"200":{"description":"Success","schema":{"$ref":"#/definitions/ByteArrayResource"}},"400":{"description":"Bad Request","schema":{"$ref":"#/definitions/Error"}},"401":{"description":"Unauthorized","schema":{"$ref":"#/definitions/Error"}},"403":{"description":"Forbidden","schema":{"$ref":"#/definitions/Error"}},"404":{"description":"Not Found","schema":{"$ref":"#/definitions/Error"}},"405":{"description":"Method Not allowed","schema":{"$ref":"#/definitions/Error"}},"409":{"description":"Conflict","schema":{"$ref":"#/definitions/Error"}},"500":{"description":"Internal Server Error","schema":{"$ref":"#/definitions/Error"}}},"security":[{"spring_oauth":["read","write","admin","openapi"]}]}}},"securityDefinitions":{"spring_oauth":{"type":"oauth2","authorizationUrl":"http://portal.openslice.io/auth/realms/openslice/protocol/openid-connect/auth","tokenUrl":"http://portal.openslice.io/auth/realms/openslice/protocol/openid-connect/token","flow":"accessCode","scopes":{"read":"for read operations","write":"for write operations","admin":"Access admin API","openapi":"Access openapi API"}}},"definitions":{"Any":{"type":"object","properties":{"alias":{"type":"string"},"value":{"type":"string"}},"title":"Any"},"AppliedConsequence":{"type":"object","properties":{"@baseType":{"type":"string","description":"When sub-classing, this defines the super-class"},"@schemaLocation":{"type":"string","description":"A URI to a JSON-Schema file that defines additional attributes and relationships"},"@type":{"type":"string"},"appliedAction":{"type":"string","description":"The action for a violated threshold. This could be a hyperlink to  the action."},"description":{"type":"string","description":"A narrative that explains in detail what the consequence is."},"href":{"type":"string","description":"Unique reference of the entity"},"name":{"type":"string","description":"A word, term, or phrase by which Consequence is known and  distinguished from other MetricDefMeasureConsequences."},"repeatAction":{"type":"boolean","description":"An indicator used to specify that a consequence should cease  being applied if a value is in the same range as the previous value or continue being applied if a value is in the same range as the previous value.   If the repeatAction is True, if the consequence is always applied as soon as the MetricMeasure value is in the range of values and if the repeatAction is False, the consequence is applied only if the previous MetricMeasure value was not in the same range."},"uuid":{"type":"string"}},"title":"AppliedConsequence","description":"An Applied Consequence defines the action (prescribed action or notification) to take when a  MeasureThresholdRuleViolation occurs."},"AssociationSpecificationRef":{"type":"object","required":["id"],"properties":{"@baseType":{"type":"string","description":"When sub-classing, this defines the super-class"},"@referredType":{"type":"string"},"@schemaLocation":{"type":"string","description":"A URI to a JSON-Schema file that defines additional attributes and relationships"},"@type":{"type":"string"},"atReferredType":{"type":"string","description":"The actual type of the target instance when needed for disambiguation."},"href":{"type":"string","description":"Hyperlink reference"},"id":{"type":"string","description":"unique identifier"},"name":{"type":"string","description":"Name of the related entity."},"uuid":{"type":"string"}},"title":"AssociationSpecificationRef","description":"reference to an AssociationSpecification object"},"Attachment":{"type":"object","properties":{"@baseType":{"type":"string","description":"When sub-classing, this defines the super-class"},"@schemaLocation":{"type":"string","description":"A URI to a JSON-Schema file that defines additional attributes and relationships"},"@type":{"type":"string"},"attachmentType":{"type":"string","description":"Attachment type such as video, picture"},"content":{"type":"string","description":"The actual contents of the attachment object, if embedded, encoded as base64"},"description":{"type":"string","description":"A narrative text describing the content of the attachment"},"href":{"type":"string","description":"Unique reference of the entity"},"id":{"type":"string","description":"Unique identifier for this particular attachment"},"mimeType":{"type":"string","description":"Attachment mime type such as extension file for video, picture and document"},"name":{"type":"string","description":"Name of the entity"},"size":{"description":"The size of the attachment.","$ref":"#/definitions/Quantity"},"url":{"type":"string","description":"Uniform Resource Locator, is a web page address (a subset of URI)"},"uuid":{"type":"string"},"validFor":{"description":"The period of time for which the attachment is valid","$ref":"#/definitions/TimePeriod"}},"title":"Attachment","description":"Complements the description of an element (for instance a product) through video, pictures..."},"AttachmentRefOrValue":{"type":"object","properties":{"@baseType":{"type":"string","description":"When sub-classing, this defines the super-class"},"@referredType":{"type":"string"},"@schemaLocation":{"type":"string","description":"A URI to a JSON-Schema file that defines additional attributes and relationships"},"@type":{"type":"string"},"atReferredType":{"type":"string","description":"The actual type of the target instance when needed for disambiguation."},"attachmentType":{"type":"string","example":"video","description":"Attachment type such as video, picture"},"content":{"type":"string","description":"The actual contents of the attachment object, if embedded, encoded as base64"},"description":{"type":"string","example":"Photograph of the Product","description":"A narrative text describing the content of the attachment"},"href":{"type":"string","description":"Unique reference of the entity"},"id":{"type":"string","example":"4aafacbd-11ff-4dc8-b445-305f2215715f","description":"Unique identifier for this particular attachment"},"mimeType":{"type":"string","description":"Attachment mime type such as extension file for video, picture and document"},"name":{"type":"string","description":"Name of the entity"},"size":{"$ref":"#/definitions/Quantity"},"url":{"type":"string","example":"http://host/Content/4aafacbd-11ff-4dc8-b445-305f2215715f","description":"Uniform Resource Locator, is a web page address (a subset of URI)"},"uuid":{"type":"string"},"validFor":{"$ref":"#/definitions/TimePeriod"}},"title":"AttachmentRefOrValue","description":"An attachment by value or by reference. An attachment complements the description of an element, for example through a document, a video, a picture."},"ByteArrayResource":{"type":"object","properties":{"byteArray":{"type":"string","format":"byte"},"description":{"type":"string"},"file":{"type":"file"},"filename":{"type":"string"},"inputStream":{"$ref":"#/definitions/InputStream"},"open":{"type":"boolean"},"readable":{"type":"boolean"},"uri":{"type":"string","format":"uri"},"url":{"type":"string","format":"url"}},"title":"ByteArrayResource"},"Characteristic":{"type":"object","required":["name","value"],"properties":{"@baseType":{"type":"string","description":"When sub-classing, this defines the super-class"},"@schemaLocation":{"type":"string","description":"A URI to a JSON-Schema file that defines additional attributes and relationships"},"@type":{"type":"string"},"characteristicRelationship":{"type":"array","uniqueItems":true,"items":{"$ref":"#/definitions/CharacteristicRelationship"}},"href":{"type":"string","description":"Unique reference of the entity"},"id":{"type":"string"},"name":{"type":"string","description":"Name of the characteristic"},"uuid":{"type":"string"},"value":{"$ref":"#/definitions/Any"},"valueType":{"type":"string","description":"Data type of the value of the characteristic"}},"title":"Characteristic","description":"Describes a given characteristic of an object or entity through a name/value pair."},"CharacteristicRelationship":{"type":"object","properties":{"@baseType":{"type":"string","description":"When sub-classing, this defines the super-class"},"@schemaLocation":{"type":"string","description":"A URI to a JSON-Schema file that defines additional attributes and relationships"},"@type":{"type":"string"},"href":{"type":"string","description":"Unique reference of the entity"},"id":{"type":"string"},"relationshipType":{"type":"string","description":"The type of relationship"},"uuid":{"type":"string"}},"title":"CharacteristicRelationship","description":"Another Characteristic that is related to the current Characteristic;"},"CharacteristicSpecification":{"type":"object","properties":{"@baseType":{"type":"string","description":"When sub-classing, this defines the super-class"},"@schemaLocation":{"type":"string","description":"A URI to a JSON-Schema file that defines additional attributes and relationships"},"@type":{"type":"string"},"@valueSchemaLocation":{"type":"string"},"atValueSchemaLocation":{"type":"string","description":"This (optional) field provides a link to the schema describing the value type."},"charSpecRelationship":{"type":"array","description":"An aggregation, migration, substitution, dependency or exclusivity relationship between/among Specification Characteristics.","uniqueItems":true,"items":{"$ref":"#/definitions/CharacteristicSpecificationRelationship"}},"characteristicValueSpecification":{"type":"array","description":"A CharacteristicValueSpecification object is used to define a set of attributes, each of which can be assigned to a corresponding set of attributes in a CharacteristicSpecification object. The values of the attributes in the CharacteristicValueSpecification object describe the values of the attributes that a corresponding Characteristic object can take on.","uniqueItems":true,"items":{"$ref":"#/definitions/CharacteristicValueSpecification"}},"configurable":{"type":"boolean","description":"If true, the Boolean indicates that the target Characteristic is configurable"},"description":{"type":"string","description":"A narrative that explains the CharacteristicSpecification."},"extensible":{"type":"boolean","description":"An indicator that specifies that the values for the characteristic can be extended by adding new values when instantiating a characteristic for a resource."},"href":{"type":"string","description":"Unique reference of the entity"},"id":{"type":"string"},"isUnique":{"type":"boolean","description":"An indicator that specifies if a value is unique for the specification. Possible values are; \"unique while value is in effect\" and \"unique whether value is in effect or not\""},"maxCardinality":{"type":"integer","format":"int32","description":"The maximum number of instances a CharacteristicValue can take on. For example, zero to five phone numbers in a group calling plan, where five is the value for the maxCardinality."},"minCardinality":{"type":"integer","format":"int32","description":"The minimum number of instances a CharacteristicValue can take on. For example, zero to five phone numbers in a group calling plan, where zero is the value for the minCardinality."},"name":{"type":"string","description":"A word, term, or phrase by which this characteristic specification is known and distinguished from other characteristic specifications."},"regex":{"type":"string","description":"A rule or principle represented in regular expression used to derive the value of a characteristic value."},"uuid":{"type":"string"},"validFor":{"$ref":"#/definitions/TimePeriod"},"valueType":{"type":"string","description":"A kind of value that the characteristic can take on, such as numeric, text and so forth"}},"title":"CharacteristicSpecification","description":"This class defines a characteristic specification."},"CharacteristicSpecificationRelationship":{"type":"object","properties":{"@baseType":{"type":"string","description":"When sub-classing, this defines the super-class"},"@schemaLocation":{"type":"string","description":"A URI to a JSON-Schema file that defines additional attributes and relationships"},"@type":{"type":"string"},"characteristicSpecificationId":{"type":"string","description":"Unique identifier of the characteristic within the specification"},"href":{"type":"string","description":"Unique reference of the entity"},"name":{"type":"string","description":"Name of the entity"},"parentSpecificationHref":{"type":"string","description":"Hyperlink reference to the parent specification containing the target characteristic"},"parentSpecificationId":{"type":"string","description":"Unique identifier of the parent specification containing the target characteristic"},"relationshipType":{"type":"string","description":"Type of relationship such as aggregation, migration, substitution, dependency, exclusivity"},"uuid":{"type":"string"},"validFor":{"$ref":"#/definitions/TimePeriod"}},"title":"CharacteristicSpecificationRelationship","description":"An aggregation, migration, substitution, dependency or exclusivity relationship between/among Characteristic specifications. The specification characteristic is embedded within the specification whose ID and href are in this entity, and identified by its ID."},"CharacteristicSpecificationReq":{"type":"object","properties":{"@baseType":{"type":"string","description":"When sub-classing, this defines the super-class"},"@schemaLocation":{"type":"string","description":"A URI to a JSON-Schema file that defines additional attributes and relationships"},"@type":{"type":"string"},"@valueSchemaLocation":{"type":"string"},"atValueSchemaLocation":{"type":"string","description":"This (optional) field provides a link to the schema describing the value type."},"charSpecRelationship":{"type":"array","description":"An aggregation, migration, substitution, dependency or exclusivity relationship between/among Specification Characteristics.","uniqueItems":true,"items":{"$ref":"#/definitions/CharacteristicSpecificationRelationship"}},"characteristicValueSpecification":{"type":"array","description":"A CharacteristicValueSpecification object is used to define a set of attributes, each of which can be assigned to a corresponding set of attributes in a CharacteristicSpecification object. The values of the attributes in the CharacteristicValueSpecification object describe the values of the attributes that a corresponding Characteristic object can take on.","uniqueItems":true,"items":{"$ref":"#/definitions/CharacteristicValueSpecification"}},"configurable":{"type":"boolean","description":"If true, the Boolean indicates that the target Characteristic is configurable"},"description":{"type":"string","description":"A narrative that explains the CharacteristicSpecification."},"extensible":{"type":"boolean","description":"An indicator that specifies that the values for the characteristic can be extended by adding new values when instantiating a characteristic for a resource."},"href":{"type":"string","description":"Unique reference of the entity"},"id":{"type":"string"},"isUnique":{"type":"boolean","description":"An indicator that specifies if a value is unique for the specification. Possible values are; \"unique while value is in effect\" and \"unique whether value is in effect or not\""},"maxCardinality":{"type":"integer","format":"int32","description":"The maximum number of instances a CharacteristicValue can take on. For example, zero to five phone numbers in a group calling plan, where five is the value for the maxCardinality."},"minCardinality":{"type":"integer","format":"int32","description":"The minimum number of instances a CharacteristicValue can take on. For example, zero to five phone numbers in a group calling plan, where zero is the value for the minCardinality."},"name":{"type":"string","description":"A word, term, or phrase by which this characteristic specification is known and distinguished from other characteristic specifications."},"regex":{"type":"string","description":"A rule or principle represented in regular expression used to derive the value of a characteristic value."},"uuid":{"type":"string"},"validFor":{"$ref":"#/definitions/TimePeriod"},"valueType":{"type":"string","description":"A kind of value that the characteristic can take on, such as numeric, text and so forth"}},"title":"CharacteristicSpecificationReq","description":"This class defines a characteristic specification."},"CharacteristicSpecificationRes":{"type":"object","properties":{"@baseType":{"type":"string","description":"When sub-classing, this defines the super-class"},"@schemaLocation":{"type":"string","description":"A URI to a JSON-Schema file that defines additional attributes and relationships"},"@type":{"type":"string"},"@valueSchemaLocation":{"type":"string"},"atValueSchemaLocation":{"type":"string","description":"This (optional) field provides a link to the schema describing the value type."},"charSpecRelationship":{"type":"array","description":"An aggregation, migration, substitution, dependency or exclusivity relationship between/among Specification Characteristics.","uniqueItems":true,"items":{"$ref":"#/definitions/CharacteristicSpecificationRelationship"}},"characteristicValueSpecification":{"type":"array","description":"A CharacteristicValueSpecification object is used to define a set of attributes, each of which can be assigned to a corresponding set of attributes in a CharacteristicSpecification object. The values of the attributes in the CharacteristicValueSpecification object describe the values of the attributes that a corresponding Characteristic object can take on.","uniqueItems":true,"items":{"$ref":"#/definitions/CharacteristicValueSpecification"}},"configurable":{"type":"boolean","description":"If true, the Boolean indicates that the target Characteristic is configurable"},"description":{"type":"string","description":"A narrative that explains the CharacteristicSpecification."},"extensible":{"type":"boolean","description":"An indicator that specifies that the values for the characteristic can be extended by adding new values when instantiating a characteristic for a resource."},"href":{"type":"string","description":"Unique reference of the entity"},"id":{"type":"string","description":"Unique ID for the characteristic"},"isUnique":{"type":"boolean","description":"An indicator that specifies if a value is unique for the specification. Possible values are; \"unique while value is in effect\" and \"unique whether value is in effect or not\""},"maxCardinality":{"type":"integer","format":"int32","description":"The maximum number of instances a CharacteristicValue can take on. For example, zero to five phone numbers in a group calling plan, where five is the value for the maxCardinality."},"minCardinality":{"type":"integer","format":"int32","description":"The minimum number of instances a CharacteristicValue can take on. For example, zero to five phone numbers in a group calling plan, where zero is the value for the minCardinality."},"name":{"type":"string","description":"A word, term, or phrase by which this characteristic specification is known and distinguished from other characteristic specifications."},"regex":{"type":"string","description":"A rule or principle represented in regular expression used to derive the value of a characteristic value."},"uuid":{"type":"string"},"validFor":{"$ref":"#/definitions/TimePeriod"},"valueType":{"type":"string","description":"A kind of value that the characteristic can take on, such as numeric, text and so forth"}},"title":"CharacteristicSpecificationRes","description":"This class defines a characteristic specification."},"CharacteristicValueSpecification":{"type":"object","properties":{"@baseType":{"type":"string","description":"When sub-classing, this defines the super-class"},"@schemaLocation":{"type":"string","description":"A URI to a JSON-Schema file that defines additional attributes and relationships"},"@type":{"type":"string"},"href":{"type":"string","description":"Unique reference of the entity"},"isDefault":{"type":"boolean","description":"If true, the Boolean Indicates if the value is the default value for a characteristic"},"rangeInterval":{"type":"string","description":"An indicator that specifies the inclusion or exclusion of the valueFrom and valueTo attributes. If applicable, possible values are \"open\", \"closed\", \"closedBottom\" and \"closedTop\"."},"regex":{"type":"string","description":"A regular expression constraint for given value"},"unitOfMeasure":{"type":"string","description":"A length, surface, volume, dry measure, liquid measure, money, weight, time, and the like. In general, a determinate quantity or magnitude of the kind designated, taken as a standard of comparison for others of the same kind, in assigning to them numerical values, as 1 foot, 1 yard, 1 mile, 1 square foot."},"uuid":{"type":"string"},"validFor":{"$ref":"#/definitions/TimePeriod"},"value":{"$ref":"#/definitions/Any"},"valueFrom":{"type":"integer","format":"int32","description":"The low range value that a characteristic can take on"},"valueTo":{"type":"integer","format":"int32","description":"The upper range value that a characteristic can take on"},"valueType":{"type":"string","description":"A kind of value that the characteristic value can take on, such as numeric, text and so forth"}},"title":"CharacteristicValueSpecification","description":"specification of a value (number or text or an object) that can be assigned to a Characteristic."},"ConstraintRef":{"type":"object","required":["id"],"properties":{"@baseType":{"type":"string","description":"When sub-classing, this defines the super-class"},"@referredType":{"type":"string"},"@schemaLocation":{"type":"string","description":"A URI to a JSON-Schema file that defines additional attributes and relationships"},"@type":{"type":"string"},"atReferredType":{"type":"string","description":"The (class) type of the referred constraint"},"href":{"type":"string","description":"Hyperlink reference to the target constraint"},"id":{"type":"string","description":"reference id to the target constraint"},"name":{"type":"string","description":"Name given to the constraint"},"uuid":{"type":"string"},"version":{"type":"string"}},"title":"ConstraintRef","description":"Constraint reference. The Constraint resource represents a policy/rule applied to an entity or entity spec."},"Duration":{"type":"object","properties":{"@baseType":{"type":"string","description":"When sub-classing, this defines the super-class"},"@schemaLocation":{"type":"string","description":"A URI to a JSON-Schema file that defines additional attributes and relationships"},"@type":{"type":"string"},"amount":{"type":"integer","format":"int32","description":"Time interval (number of seconds, minutes, hours, etc.)"},"href":{"type":"string","description":"Unique reference of the entity"},"units":{"type":"string","description":"Unit of time (seconds, minutes, hours, etc.)"},"uuid":{"type":"string"}},"title":"Duration","description":"A time interval in a given unit of time"},"EntitySpecificationRelationship":{"type":"object","required":["relationshipType"],"properties":{"@baseType":{"type":"string","description":"When sub-classing, this defines the super-class"},"@referredType":{"type":"string"},"@schemaLocation":{"type":"string","description":"A URI to a JSON-Schema file that defines additional attributes and relationships"},"@type":{"type":"string"},"associationSpec":{"$ref":"#/definitions/AssociationSpecificationRef"},"atReferredType":{"type":"string","description":"The actual type of the target instance when needed for disambiguation."},"description":{"type":"string","description":"Description of this catalog"},"href":{"type":"string","description":"Hyperlink reference"},"id":{"type":"string"},"lastUpdate":{"type":"string","description":"Date and time of the last update"},"lifecycleStatus":{"type":"string","description":"Used to indicate the current lifecycle status"},"lifecycleStatusEnum":{"type":"string","enum":["ACTIVE","IN_DESIGN","IN_STUDY","IN_TEST","LAUNCHED","OBSOLETE","REJECTED","RETIRED"]},"name":{"type":"string","description":"Name of the related entity."},"relationshipType":{"type":"string","description":"Type of relationship such as migration, substitution, dependency, exclusivity"},"role":{"type":"string","description":"The association role for this entity specification"},"uuid":{"type":"string"},"validFor":{"description":"The period for which the entity is valid","$ref":"#/definitions/TimePeriod"},"version":{"type":"string","description":"Entity version"}},"title":"EntitySpecificationRelationship","description":"A migration, substitution, dependency or exclusivity relationship between/among entity specifications."},"EntitySpecificationRelationshipReq":{"type":"object","required":["relationshipType"],"properties":{"@baseType":{"type":"string","description":"When sub-classing, this defines the super-class"},"@referredType":{"type":"string"},"@schemaLocation":{"type":"string","description":"A URI to a JSON-Schema file that defines additional attributes and relationships"},"@type":{"type":"string"},"associationSpec":{"$ref":"#/definitions/AssociationSpecificationRef"},"atReferredType":{"type":"string","description":"The actual type of the target instance when needed for disambiguation."},"description":{"type":"string","description":"Description of this catalog"},"href":{"type":"string","description":"Hyperlink reference"},"id":{"type":"string"},"lastUpdate":{"type":"string","description":"Date and time of the last update"},"lifecycleStatus":{"type":"string","description":"Used to indicate the current lifecycle status"},"lifecycleStatusEnum":{"type":"string","enum":["ACTIVE","IN_DESIGN","IN_STUDY","IN_TEST","LAUNCHED","OBSOLETE","REJECTED","RETIRED"]},"name":{"type":"string","description":"Name of the related entity."},"relationshipType":{"type":"string","description":"Type of relationship such as migration, substitution, dependency, exclusivity"},"role":{"type":"string","description":"The association role for this entity specification"},"uuid":{"type":"string"},"validFor":{"description":"The period for which the entity is valid","$ref":"#/definitions/TimePeriod"},"version":{"type":"string","description":"Entity version"}},"title":"EntitySpecificationRelationshipReq","description":"A migration, substitution, dependency or exclusivity relationship between/among entity specifications."},"EntitySpecificationRelationshipRes":{"type":"object","required":["relationshipType"],"properties":{"@baseType":{"type":"string","description":"When sub-classing, this defines the super-class"},"@referredType":{"type":"string"},"@schemaLocation":{"type":"string","description":"A URI to a JSON-Schema file that defines additional attributes and relationships"},"@type":{"type":"string"},"associationSpec":{"$ref":"#/definitions/AssociationSpecificationRef"},"atReferredType":{"type":"string","description":"The actual type of the target instance when needed for disambiguation."},"description":{"type":"string","description":"Description of this catalog"},"href":{"type":"string","description":"Hyperlink reference"},"id":{"type":"string","description":"unique identifier"},"lastUpdate":{"type":"string","description":"Date and time of the last update"},"lifecycleStatus":{"type":"string","description":"Used to indicate the current lifecycle status"},"name":{"type":"string","description":"Name of the related entity."},"relationshipType":{"type":"string","description":"Type of relationship such as migration, substitution, dependency, exclusivity"},"role":{"type":"string","description":"The association role for this entity specification"},"uuid":{"type":"string"},"validFor":{"description":"The period for which the entity is valid","$ref":"#/definitions/TimePeriod"},"version":{"type":"string","description":"Entity version"}},"title":"EntitySpecificationRelationshipRes","description":"A migration, substitution, dependency or exclusivity relationship between/among entity specifications."},"Error":{"type":"object","required":["code","reason"],"properties":{"@baseType":{"type":"string"},"@schemaLocation":{"type":"string"},"@type":{"type":"string"},"atBaseType":{"type":"string","description":"When sub-classing, this defines the super-class."},"atSchemaLocation":{"type":"string","description":"A URI to a JSON-Schema file that defines additional attributes and relationships"},"atType":{"type":"string","description":"When sub-classing, this defines the sub-class entity name."},"code":{"type":"string","description":"Application relevant detail, defined in the API or a common list."},"message":{"type":"string","description":"More details and corrective actions related to the error which can be shown to a client user."},"reason":{"type":"string","description":"Explanation of the reason for the error which can be shown to a client user."},"referenceError":{"type":"string","description":"URI of documentation describing the error."},"status":{"type":"string","description":"HTTP Error code extension"}},"title":"Error","description":"Used when an API throws an Error, typically with a HTTP error response-code (3xx, 4xx, 5xx)"},"EventSubscription":{"type":"object","required":["callback","id"],"properties":{"callback":{"type":"string","description":"The callback being registered."},"id":{"type":"string","description":"Id of the listener"},"query":{"type":"string","description":"additional data to be passed"}},"title":"EventSubscription","description":"Sets the communication endpoint address the service instance must use to deliver notification information"},"EventSubscriptionInput":{"type":"object","required":["callback"],"properties":{"callback":{"type":"string","description":"The callback being registered."},"query":{"type":"string","description":"additional data to be passed"}},"title":"EventSubscriptionInput","description":"Sets the communication endpoint address the service instance must use to deliver notification information"},"InputStream":{"type":"object","title":"InputStream"},"MeasureThresholdRuleViolation":{"type":"object","properties":{"@baseType":{"type":"string","description":"When sub-classing, this defines the super-class"},"@schemaLocation":{"type":"string","description":"A URI to a JSON-Schema file that defines additional attributes and relationships"},"@type":{"type":"string"},"appliedConsequence":{"type":"array","description":"An Applied Consequence defines the action (prescribed action or notification) to take when a MeasureThresholdRuleViolation occurs.","uniqueItems":true,"items":{"$ref":"#/definitions/AppliedConsequence"}},"conformanceComparatorLower":{"type":"string","description":"An operator that when applied on a value specifies whether a  threshold is crossed or ceased to be crossed. This operator is used to compare with the conformanceTargetLower."},"conformanceComparatorUpper":{"type":"string","description":"An operator that when applied on a value specifies whether a  threshold is crossed or ceased to be crossed. This operator is used to compare with the conformanceTargetUpper."},"conformanceTargetExact":{"type":"string","description":"to cater for values that are not numerical test metrics (e.g. a DSL line can be Synchronised or Unsynchronised. If the latter, the test should result in a rule violation).The allowed value can contain a REGEX string."},"conformanceTargetLower":{"type":"string","description":"A value used to determine if the threshold is crossed or ceases  to be crossed. It represents the lower limit. The value should be less than the conformanceTargetUpper. The conformance comparators should also be logically defined so as to not lead to a logically impossible condition."},"conformanceTargetUpper":{"type":"string","description":"A value used to determine if the threshold is crossed or ceases  to be crossed. It represents the Upper limit. The value should be greater than the conformanceTargetLower. The conformance comparators should also be logically defined so as to not lead to a logically impossible condition."},"description":{"type":"string","description":"Description for the MetricDefMeasureThresholdRule ."},"href":{"type":"string","description":"Unique reference of the entity"},"name":{"type":"string","description":"Name for the MetricDefMeasureThresholdRule ."},"numberOfAllowedCrossing":{"type":"integer","format":"int32","description":"The number of allowed crossing occurrences in reference to the  tolerancePeriod without a consequence being initiated."},"thresholdRuleSeverity":{"type":"string","description":"A threshold can be generated in different severity levels. A  crossing for each level may require a different condition and possibly trigger a different consequence."},"tolerancePeriod":{"$ref":"#/definitions/Duration"},"uuid":{"type":"string"}},"title":"MeasureThresholdRuleViolation","description":"A measureThresholdRuleViolation is a violation of a rule that defines the in the  MericDefMeasureThresholdRule."},"MetricDefMeasureConsequence":{"type":"object","properties":{"@baseType":{"type":"string","description":"When sub-classing, this defines the super-class"},"@schemaLocation":{"type":"string","description":"A URI to a JSON-Schema file that defines additional attributes and relationships"},"@type":{"type":"string"},"description":{"type":"string","description":"A narrative that explains in detail what the consequence is."},"href":{"type":"string","description":"Unique reference of the entity"},"name":{"type":"string","description":"A word, term, or phrase by which a  MetricDefMeasureConsequence is known and distinguished from other MetricDefMeasureConsequences."},"prescribeAction":{"type":"string","description":"Recommended remedy for a violated threshold. This could be  the hyperlink to the action."},"repeatAction":{"type":"boolean","description":"An indicator used to specify that a consequence should cease  being applied if a value is in the same range as the previous value or continue being applied if a value is in the same range as the previous value.  If the repeatAction is True, if the consequence is always applied as soon as the MetricMeasure value is in the range of values and if the repeatAction is False, the consequence is applied only if the previous MetricMeasure value was not in the same range."},"uuid":{"type":"string"},"validFor":{"$ref":"#/definitions/TimePeriod"}},"title":"MetricDefMeasureConsequence","description":"A MetricDefMeasureConsequence defines the action (prescribed action or notification) to take when a  MetricDefMeasureThresholdRule is crossed."},"MetricDefMeasureThresholdRule":{"type":"object","properties":{"@baseType":{"type":"string","description":"When sub-classing, this defines the super-class"},"@schemaLocation":{"type":"string","description":"A URI to a JSON-Schema file that defines additional attributes and relationships"},"@type":{"type":"string"},"conformanceComparatorLower":{"type":"string","description":"An operator that when applied on a value specifies whether a  threshold is crossed or ceased to be crossed. This operator is used to Service Test Management API REST Specification compare with the conformanceTargetLower."},"conformanceComparatorUpper":{"type":"string","description":"An operator that when applied on a value specifies whether a  threshold is crossed or ceased to be crossed. This operator is used to compare with the conformanceTargetUpper."},"conformanceTargetLower":{"type":"string","description":"A value used to determine if the threshold is crossed or ceases  to be crossed. It represents the lower limit. The value should be less than the conformanceTargetUpper. The conformance comparators should also be logically defined so as to not lead to a logically impossible condition."},"conformanceTargetUpper":{"type":"string","description":"A value used to determine if the threshold is crossed or ceases  to be crossed. It represents the Upper limit. The value should be greater than the conformanceTargetLower. The conformance comparators should also be logically defined so as to not lead to a logically impossible condition."},"consequence":{"type":"array","description":"A list of consequences (actions, notifications) that will arise if the threshold is crossed","uniqueItems":true,"items":{"$ref":"#/definitions/MetricDefMeasureConsequence"}},"description":{"type":"string","description":"Description for the MetricDefMeasureThresholdRule ."},"href":{"type":"string","description":"Unique reference of the entity"},"name":{"type":"string","description":"Name for the MetricDefMeasureThresholdRule ."},"numberOfAllowedCrossing":{"type":"integer","format":"int32","description":"The number of allowed crossing occurrences in reference to the  tolerancePeriod without a consequence being initiated."},"thresholdRuleSeverity":{"type":"string","description":"A threshold can be generated in different severity levels. A  crossing for each level may require a different condition and possibly trigger a different consequence."},"tolerancePeriod":{"$ref":"#/definitions/Duration"},"uuid":{"type":"string"}},"title":"MetricDefMeasureThresholdRule","description":"A MetricDefMeasureThresholdRule is a rule that defines the condition (raise or clear) to achieve to apply  consequences when a threshold is crossed or ceased to be crossed. It also defines the severity of the  raise or clear of the threshold."},"Quantity":{"type":"object","properties":{"amount":{"type":"number","format":"float","description":"Numeric value in a given unit"},"units":{"type":"string","description":"Unit"}},"title":"Quantity","description":"An amount in a given unit"},"RelatedParty":{"type":"object","properties":{"@baseType":{"type":"string","description":"When sub-classing, this defines the super-class"},"@referredType":{"type":"string","description":"The actual type of the target instance when needed for disambiguation."},"@schemaLocation":{"type":"string","description":"A URI to a JSON-Schema file that defines additional attributes and relationships"},"@type":{"type":"string"},"extendedInfo":{"type":"string"},"href":{"type":"string","description":"Unique reference of the entity"},"id":{"type":"string"},"name":{"type":"string","description":"Name of the entity"},"role":{"type":"string","description":"Role of the related party."},"uuid":{"type":"string"}},"title":"RelatedParty","description":"RelatedParty reference. A related party defines party or party role linked to a specific entity."},"ServiceRef":{"type":"object","required":["id"],"properties":{"@baseType":{"type":"string","description":"When sub-classing, this defines the super-class"},"@referredType":{"type":"string","description":"The actual type of the target instance when needed for disambiguation."},"@schemaLocation":{"type":"string","description":"A URI to a JSON-Schema file that defines additional attributes and relationships"},"@type":{"type":"string"},"href":{"type":"string","description":"Unique reference of the entity"},"id":{"type":"string","description":"Id of the service"},"name":{"type":"string","description":"Name of the entity"},"uuid":{"type":"string"}},"title":"ServiceRef","description":"Service reference, for when Service is used by other entities"},"ServiceSpecificationRef":{"type":"object","properties":{"@baseType":{"type":"string","description":"When sub-classing, this defines the super-class"},"@referredType":{"type":"string","description":"The actual type of the target instance when needed for disambiguation."},"@schemaLocation":{"type":"string","description":"A URI to a JSON-Schema file that defines additional attributes and relationships"},"@type":{"type":"string"},"href":{"type":"string","description":"Unique reference of the entity"},"id":{"type":"string"},"name":{"type":"string","description":"Name of the entity"},"targetServiceSchema":{"description":"A target service schema reference (TargetServiceSchemaRef). The reference object to the schema and type of target service which is described by service specification.","$ref":"#/definitions/TargetServiceSchema"},"version":{"type":"string","description":"Service specification version"}},"title":"ServiceSpecificationRef","description":"Service specification reference: ServiceSpecification(s) required to realize a ProductSpecification."},"ServiceTest":{"type":"object","properties":{"@baseType":{"type":"string","description":"When sub-classing, this defines the super-class"},"@schemaLocation":{"type":"string","description":"A URI to a JSON-Schema file that defines additional attributes and relationships"},"@type":{"type":"string"},"characteristic":{"type":"array","description":"List of characteristics with values that define the test run","uniqueItems":true,"items":{"$ref":"#/definitions/Characteristic"}},"description":{"type":"string","description":"Description of the service test"},"endDateTime":{"type":"string","description":"The end date and time of the service test"},"href":{"type":"string","description":"Hyperlink reference"},"id":{"type":"string"},"lastUpdate":{"type":"string","description":"Date and time of the last update"},"lifecycleStatus":{"type":"string","description":"Used to indicate the current lifecycle status"},"mode":{"type":"string","description":"An indication of whether the service test is running in  \"PROACTIVE\" or \"ONDEMAND\" mode"},"name":{"type":"string","description":"The name of the service test"},"relatedParty":{"type":"array","description":"Party related to the test","uniqueItems":true,"items":{"$ref":"#/definitions/RelatedParty"}},"relatedService":{"$ref":"#/definitions/ServiceRef"},"startDateTime":{"type":"string","description":"The start date and time of the service test."},"state":{"type":"string","description":"The actual state the service test is in"},"testMeasure":{"type":"array","description":"The results of the test in terms of the measured metrics","uniqueItems":true,"items":{"$ref":"#/definitions/TestMeasureRes"}},"testSpecification":{"$ref":"#/definitions/ServiceTestSpecificationRef"},"uuid":{"type":"string"},"validFor":{"description":"The period for which the entity is valid","$ref":"#/definitions/TimePeriod"},"version":{"type":"string","description":"Entity version"}},"title":"ServiceTest","description":"A service test is an entity that exists for a controlled test invocation on a service. The service  test is executed according to a schedule and contains service test configuration parameters that are to be  applied at execution time, and service test measures that result."},"ServiceTestAttributeValueChangeEvent":{"type":"object","properties":{"correlationId":{"type":"string","description":"The correlation id for this event."},"description":{"type":"string","description":"An explnatory of the event."},"domain":{"type":"string","description":"The domain of the event."},"event":{"$ref":"#/definitions/ServiceTestAttributeValueChangeEventPayload"},"eventId":{"type":"string","description":"The identifier of the notification."},"eventTime":{"type":"string","format":"date-time","description":"Time of the event occurrence."},"eventType":{"type":"string","description":"The type of the notification."},"fieldPath":{"type":"string","description":"The path identifying the object field concerned by this notification."},"priority":{"type":"string","description":"A priority."},"timeOcurred":{"type":"string","format":"date-time","description":"The time the event occured."},"title":{"type":"string","description":"The title of the event."}},"title":"ServiceTestAttributeValueChangeEvent","description":"The notification data structure"},"ServiceTestAttributeValueChangeEventPayload":{"type":"object","properties":{"serviceTest":{"$ref":"#/definitions/ServiceTest"}},"title":"ServiceTestAttributeValueChangeEventPayload","description":"The event data structure"},"ServiceTestCreate":{"type":"object","properties":{"@baseType":{"type":"string"},"@schemaLocation":{"type":"string"},"@type":{"type":"string"},"atBaseType":{"type":"string","description":"When sub-classing, this defines the super-class"},"atSchemaLocation":{"type":"string","description":"A URI to a JSON-Schema file that defines additional attributes and relationships"},"atType":{"type":"string","description":"When sub-classing, this defines the sub-class Extensible name"},"characteristic":{"type":"array","description":"List of characteristics with values that define the test run","items":{"$ref":"#/definitions/Characteristic"}},"description":{"type":"string","description":"Description of the service test"},"endDateTime":{"type":"string","format":"date-time","description":"The end date and time of the service test"},"mode":{"type":"string","description":"An indication of whether the service test is running in  \"PROACTIVE\" or \"ONDEMAND\" mode"},"name":{"type":"string","description":"The name of the service test"},"relatedParty":{"type":"array","description":"Party related to the test","items":{"$ref":"#/definitions/RelatedParty"}},"relatedService":{"$ref":"#/definitions/ServiceRef"},"startDateTime":{"type":"string","format":"date-time","description":"The start date and time of the service test."},"state":{"type":"string","description":"The actual state the service test is in"},"testMeasure":{"type":"array","description":"The results of the test in terms of the measured metrics","items":{"$ref":"#/definitions/TestMeasureReq"}},"testSpecification":{"$ref":"#/definitions/ServiceTestSpecificationRef"},"validFor":{"$ref":"#/definitions/TimePeriod"}},"title":"ServiceTestCreate","description":"A service test is an entity that exists for a controlled test invocation on a service. The service  test is executed according to a schedule and contains service test configuration parameters that are to be  applied at execution time, and service test measures that result. Skipped properties: id,href"},"ServiceTestCreateEvent":{"type":"object","properties":{"correlationId":{"type":"string","description":"The correlation id for this event."},"description":{"type":"string","description":"An explnatory of the event."},"domain":{"type":"string","description":"The domain of the event."},"event":{"$ref":"#/definitions/ServiceTestCreateEventPayload"},"eventId":{"type":"string","description":"The identifier of the notification."},"eventTime":{"type":"string","format":"date-time","description":"Time of the event occurrence."},"eventType":{"type":"string","description":"The type of the notification."},"priority":{"type":"string","description":"A priority."},"timeOcurred":{"type":"string","format":"date-time","description":"The time the event occured."},"title":{"type":"string","description":"The title of the event."}},"title":"ServiceTestCreateEvent","description":"The notification data structure"},"ServiceTestCreateEventPayload":{"type":"object","properties":{"serviceTest":{"$ref":"#/definitions/ServiceTest"}},"title":"ServiceTestCreateEventPayload","description":"The event data structure"},"ServiceTestDeleteEvent":{"type":"object","properties":{"correlationId":{"type":"string","description":"The correlation id for this event."},"description":{"type":"string","description":"An explnatory of the event."},"domain":{"type":"string","description":"The domain of the event."},"event":{"$ref":"#/definitions/ServiceTestDeleteEventPayload"},"eventId":{"type":"string","description":"The identifier of the notification."},"eventTime":{"type":"string","format":"date-time","description":"Time of the event occurrence."},"eventType":{"type":"string","description":"The type of the notification."},"priority":{"type":"string","description":"A priority."},"timeOcurred":{"type":"string","format":"date-time","description":"The time the event occured."},"title":{"type":"string","description":"The title of the event."}},"title":"ServiceTestDeleteEvent","description":"The notification data structure"},"ServiceTestDeleteEventPayload":{"type":"object","properties":{"serviceTest":{"$ref":"#/definitions/ServiceTest"}},"title":"ServiceTestDeleteEventPayload","description":"The event data structure"},"ServiceTestSpecRelationship":{"type":"object","required":["relationshipType"],"properties":{"@baseType":{"type":"string","description":"When sub-classing, this defines the super-class"},"@referredType":{"type":"string"},"@schemaLocation":{"type":"string","description":"A URI to a JSON-Schema file that defines additional attributes and relationships"},"@type":{"type":"string"},"atReferredType":{"type":"string","description":"The actual type of the target instance when needed for disambiguation."},"description":{"type":"string","description":"Description of this catalog"},"href":{"type":"string","description":"Hyperlink reference"},"id":{"type":"string"},"lastUpdate":{"type":"string","description":"Date and time of the last update"},"lifecycleStatus":{"type":"string","description":"Used to indicate the current lifecycle status"},"lifecycleStatusEnum":{"type":"string","enum":["ACTIVE","IN_DESIGN","IN_STUDY","IN_TEST","LAUNCHED","OBSOLETE","REJECTED","RETIRED"]},"name":{"type":"string","description":"Name of the related entity."},"relationshipType":{"type":"string","description":"Type of relationship such as substitution, dependency, exclusivity"},"role":{"type":"string","description":"The association role for this service test specification"},"uuid":{"type":"string"},"validFor":{"description":"The period for which the entity is valid","$ref":"#/definitions/TimePeriod"},"version":{"type":"string","description":"Entity version"}},"title":"ServiceTestSpecRelationship","description":"A substitution, dependency or exclusivity relationship between/among service specifications."},"ServiceTestSpecRelationshipReq":{"type":"object","required":["relationshipType"],"properties":{"@baseType":{"type":"string","description":"When sub-classing, this defines the super-class"},"@referredType":{"type":"string"},"@schemaLocation":{"type":"string","description":"A URI to a JSON-Schema file that defines additional attributes and relationships"},"@type":{"type":"string"},"atReferredType":{"type":"string","description":"The actual type of the target instance when needed for disambiguation."},"description":{"type":"string","description":"Description of this catalog"},"href":{"type":"string","description":"Hyperlink reference"},"id":{"type":"string"},"lastUpdate":{"type":"string","description":"Date and time of the last update"},"lifecycleStatus":{"type":"string","description":"Used to indicate the current lifecycle status"},"lifecycleStatusEnum":{"type":"string","enum":["ACTIVE","IN_DESIGN","IN_STUDY","IN_TEST","LAUNCHED","OBSOLETE","REJECTED","RETIRED"]},"name":{"type":"string","description":"Name of the related entity."},"relationshipType":{"type":"string","description":"Type of relationship such as substitution, dependency, exclusivity"},"role":{"type":"string","description":"The association role for this service test specification"},"uuid":{"type":"string"},"validFor":{"description":"The period for which the entity is valid","$ref":"#/definitions/TimePeriod"},"version":{"type":"string","description":"Entity version"}},"title":"ServiceTestSpecRelationshipReq","description":"A substitution, dependency or exclusivity relationship between/among service specifications."},"ServiceTestSpecRelationshipRes":{"type":"object","required":["relationshipType"],"properties":{"@baseType":{"type":"string","description":"When sub-classing, this defines the super-class"},"@referredType":{"type":"string"},"@schemaLocation":{"type":"string","description":"A URI to a JSON-Schema file that defines additional attributes and relationships"},"@type":{"type":"string"},"atReferredType":{"type":"string","description":"The actual type of the target instance when needed for disambiguation."},"description":{"type":"string","description":"Description of this catalog"},"href":{"type":"string","description":"Hyperlink reference"},"id":{"type":"string"},"lastUpdate":{"type":"string","description":"Date and time of the last update"},"lifecycleStatus":{"type":"string","description":"Used to indicate the current lifecycle status"},"name":{"type":"string","description":"Name of the related entity."},"relationshipType":{"type":"string","description":"Type of relationship such as substitution, dependency, exclusivity"},"role":{"type":"string","description":"The association role for this service test specification"},"uuid":{"type":"string"},"validFor":{"description":"The period for which the entity is valid","$ref":"#/definitions/TimePeriod"},"version":{"type":"string","description":"Entity version"}},"title":"ServiceTestSpecRelationshipRes","description":"A substitution, dependency or exclusivity relationship between/among service specifications."},"ServiceTestSpecification":{"type":"object","properties":{"@baseType":{"type":"string","description":"When sub-classing, this defines the super-class"},"@schemaLocation":{"type":"string","description":"A URI to a JSON-Schema file that defines additional attributes and relationships"},"@type":{"type":"string"},"attachment":{"type":"array","description":"Attachments that may be of relevance to this specification, such as picture, document, media","uniqueItems":true,"items":{"$ref":"#/definitions/AttachmentRefOrValue"}},"constraint":{"type":"array","description":"This is a list of constraint references applied to this specification","uniqueItems":true,"items":{"$ref":"#/definitions/ConstraintRef"}},"description":{"type":"string","description":"Description of this catalog"},"entitySpecRelationship":{"type":"array","description":"Relationship to another entity specification, might be dependency, substitution, etc.","uniqueItems":true,"items":{"$ref":"#/definitions/EntitySpecificationRelationshipRes"}},"href":{"type":"string","description":"Unique reference of the entity"},"id":{"type":"string"},"isBundle":{"type":"boolean","description":"isBundle determines whether an EntitySpecification represents a single EntitySpecification (false), or a bundle of EntitySpecifications (true)."},"lastUpdate":{"type":"string","description":"Date and time of the last update"},"lifecycleStatus":{"type":"string","description":"Used to indicate the current lifecycle status"},"name":{"type":"string","description":"Name of the entity"},"relatedParty":{"type":"array","description":"Parties who manage or otherwise have an interest in this entity specification","uniqueItems":true,"items":{"$ref":"#/definitions/RelatedParty"}},"relatedServiceSpecification":{"type":"array","description":"The related service specification may relate to more than one service specification.","uniqueItems":true,"items":{"$ref":"#/definitions/ServiceSpecificationRef"}},"serviceTestSpecRelationship":{"type":"array","description":"A list of service test specifications related to this specification e.g. dependency, substitution","uniqueItems":true,"items":{"$ref":"#/definitions/ServiceTestSpecRelationshipRes"}},"specCharacteristic":{"type":"array","description":"List of characteristics that the entity can take","uniqueItems":true,"items":{"$ref":"#/definitions/CharacteristicSpecificationRes"}},"targetEntitySchema":{"$ref":"#/definitions/TargetEntitySchema"},"testMeasureDefinition":{"type":"array","description":"A list of definitions for the measurements for the test defined by this specification","uniqueItems":true,"items":{"$ref":"#/definitions/TestMeasureDefinition"}},"uuid":{"type":"string"},"validFor":{"description":"The period for which the entity is valid","$ref":"#/definitions/TimePeriod"},"version":{"type":"string","description":"Entity specification version"}},"title":"ServiceTestSpecification","description":"The service test specification describes the service test in terms of parameters to be configured and  measures to be taken."},"ServiceTestSpecificationAttributeValueChangeEvent":{"type":"object","properties":{"correlationId":{"type":"string","description":"The correlation id for this event."},"description":{"type":"string","description":"An explnatory of the event."},"domain":{"type":"string","description":"The domain of the event."},"event":{"$ref":"#/definitions/ServiceTestSpecificationAttributeValueChangeEventPayload"},"eventId":{"type":"string","description":"The identifier of the notification."},"eventTime":{"type":"string","format":"date-time","description":"Time of the event occurrence."},"eventType":{"type":"string","description":"The type of the notification."},"fieldPath":{"type":"string","description":"The path identifying the object field concerned by this notification."},"priority":{"type":"string","description":"A priority."},"timeOcurred":{"type":"string","format":"date-time","description":"The time the event occured."},"title":{"type":"string","description":"The title of the event."}},"title":"ServiceTestSpecificationAttributeValueChangeEvent","description":"The notification data structure"},"ServiceTestSpecificationAttributeValueChangeEventPayload":{"type":"object","properties":{"serviceTestSpecification":{"$ref":"#/definitions/ServiceTestSpecification"}},"title":"ServiceTestSpecificationAttributeValueChangeEventPayload","description":"The event data structure"},"ServiceTestSpecificationCreate":{"type":"object","properties":{"@baseType":{"type":"string"},"@schemaLocation":{"type":"string"},"@type":{"type":"string"},"atBaseType":{"type":"string","description":"When sub-classing, this defines the super-class"},"atSchemaLocation":{"type":"string","description":"A URI to a JSON-Schema file that defines additional attributes and relationships"},"atType":{"type":"string","description":"When sub-classing, this defines the sub-class Extensible name"},"attachment":{"type":"array","description":"Attachments that may be of relevance to this specification, such as picture, document, media","items":{"$ref":"#/definitions/AttachmentRefOrValue"}},"constraint":{"type":"array","description":"This is a list of constraint references applied to this specification","items":{"$ref":"#/definitions/ConstraintRef"}},"description":{"type":"string","description":"Description of a service test specification."},"entitySpecRelationship":{"type":"array","description":"Relationship to another entity specification, might be dependency, substitution, etc.","items":{"$ref":"#/definitions/EntitySpecificationRelationshipReq"}},"isBundle":{"type":"boolean","description":"isBundle determines whether an EntitySpecification represents a single EntitySpecification (false), or a bundle of EntitySpecifications (true)."},"lastUpdate":{"type":"string","format":"date-time","description":"Date and time of the last update of this REST resource"},"lifecycleStatus":{"type":"string","description":"Used to indicate the current lifecycle status of this catalog item"},"name":{"type":"string","description":"Name given to this REST resource"},"relatedParty":{"type":"array","description":"Parties who manage or otherwise have an interest in this entity specification","items":{"$ref":"#/definitions/RelatedParty"}},"relatedServiceSpecification":{"type":"array","description":"The related service specification may relate to more than one service specification.","items":{"$ref":"#/definitions/ServiceSpecificationRef"}},"serviceTestSpecRelationship":{"type":"array","description":"A list of service test specifications related to this specification e.g. dependency, substitution","items":{"$ref":"#/definitions/ServiceTestSpecRelationshipReq"}},"specCharacteristic":{"type":"array","description":"List of characteristics that the entity can take","items":{"$ref":"#/definitions/CharacteristicSpecificationReq"}},"targetEntitySchema":{"$ref":"#/definitions/TargetEntitySchema"},"testMeasureDefinition":{"type":"array","description":"A list of definitions for the measurements for the test defined by this specification","items":{"$ref":"#/definitions/TestMeasureDefinition"}},"validFor":{"$ref":"#/definitions/TimePeriod"},"version":{"type":"string","description":"Entity specification version"}},"title":"ServiceTestSpecificationCreate","description":"The service test specification describes the service test in terms of parameters to be configured and  measures to be taken. Skipped properties: id,href"},"ServiceTestSpecificationCreateEvent":{"type":"object","properties":{"correlationId":{"type":"string","description":"The correlation id for this event."},"description":{"type":"string","description":"An explnatory of the event."},"domain":{"type":"string","description":"The domain of the event."},"event":{"$ref":"#/definitions/ServiceTestSpecificationCreateEventPayload"},"eventId":{"type":"string","description":"The identifier of the notification."},"eventTime":{"type":"string","format":"date-time","description":"Time of the event occurrence."},"eventType":{"type":"string","description":"The type of the notification."},"priority":{"type":"string","description":"A priority."},"timeOcurred":{"type":"string","format":"date-time","description":"The time the event occured."},"title":{"type":"string","description":"The title of the event."}},"title":"ServiceTestSpecificationCreateEvent","description":"The notification data structure"},"ServiceTestSpecificationCreateEventPayload":{"type":"object","properties":{"serviceTestSpecification":{"$ref":"#/definitions/ServiceTestSpecification"}},"title":"ServiceTestSpecificationCreateEventPayload","description":"The event data structure"},"ServiceTestSpecificationDeleteEvent":{"type":"object","properties":{"correlationId":{"type":"string","description":"The correlation id for this event."},"description":{"type":"string","description":"An explnatory of the event."},"domain":{"type":"string","description":"The domain of the event."},"event":{"$ref":"#/definitions/ServiceTestSpecificationDeleteEventPayload"},"eventId":{"type":"string","description":"The identifier of the notification."},"eventTime":{"type":"string","format":"date-time","description":"Time of the event occurrence."},"eventType":{"type":"string","description":"The type of the notification."},"priority":{"type":"string","description":"A priority."},"timeOcurred":{"type":"string","format":"date-time","description":"The time the event occured."},"title":{"type":"string","description":"The title of the event."}},"title":"ServiceTestSpecificationDeleteEvent","description":"The notification data structure"},"ServiceTestSpecificationDeleteEventPayload":{"type":"object","properties":{"serviceTestSpecification":{"$ref":"#/definitions/ServiceTestSpecification"}},"title":"ServiceTestSpecificationDeleteEventPayload","description":"The event data structure"},"ServiceTestSpecificationRef":{"type":"object","properties":{"@baseType":{"type":"string","description":"When sub-classing, this defines the super-class"},"@referredType":{"type":"string"},"@schemaLocation":{"type":"string","description":"A URI to a JSON-Schema file that defines additional attributes and relationships"},"@type":{"type":"string"},"atReferredType":{"type":"string","description":"The actual type of the target instance when needed for disambiguation."},"href":{"type":"string","description":"Hyperlink to access a service test specification."},"id":{"type":"string"},"uuid":{"type":"string"},"version":{"type":"string","description":"Version of a service test specification "}},"title":"ServiceTestSpecificationRef","description":"The service test specification used by the service test."},"ServiceTestSpecificationUpdate":{"type":"object","properties":{"@baseType":{"type":"string"},"@schemaLocation":{"type":"string"},"@type":{"type":"string"},"atBaseType":{"type":"string","description":"When sub-classing, this defines the super-class"},"atSchemaLocation":{"type":"string","description":"A URI to a JSON-Schema file that defines additional attributes and relationships"},"atType":{"type":"string","description":"When sub-classing, this defines the sub-class Extensible name"},"attachment":{"type":"array","description":"Attachments that may be of relevance to this specification, such as picture, document, media","items":{"$ref":"#/definitions/AttachmentRefOrValue"}},"constraint":{"type":"array","description":"This is a list of constraint references applied to this specification","items":{"$ref":"#/definitions/ConstraintRef"}},"description":{"type":"string","description":"Description of a service test specification."},"entitySpecRelationship":{"type":"array","description":"Relationship to another entity specification, might be dependency, substitution, etc.","items":{"$ref":"#/definitions/EntitySpecificationRelationshipReq"}},"isBundle":{"type":"boolean","description":"isBundle determines whether an EntitySpecification represents a single EntitySpecification (false), or a bundle of EntitySpecifications (true)."},"lastUpdate":{"type":"string","format":"date-time","description":"Date and time of the last update of this REST resource"},"lifecycleStatus":{"type":"string","description":"Used to indicate the current lifecycle status of this catalog item"},"name":{"type":"string","description":"Name given to this REST resource"},"relatedParty":{"type":"array","description":"Parties who manage or otherwise have an interest in this entity specification","items":{"$ref":"#/definitions/RelatedParty"}},"relatedServiceSpecification":{"type":"array","description":"The related service specification may relate to more than one service specification.","items":{"$ref":"#/definitions/ServiceSpecificationRef"}},"serviceTestSpecRelationship":{"type":"array","description":"A list of service test specifications related to this specification e.g. dependency, substitution","items":{"$ref":"#/definitions/ServiceTestSpecRelationshipReq"}},"specCharacteristic":{"type":"array","description":"List of characteristics that the entity can take","items":{"$ref":"#/definitions/CharacteristicSpecificationReq"}},"targetEntitySchema":{"$ref":"#/definitions/TargetEntitySchema"},"testMeasureDefinition":{"type":"array","description":"A list of definitions for the measurements for the test defined by this specification","items":{"$ref":"#/definitions/TestMeasureDefinition"}},"version":{"type":"string","description":"Entity specification version"}},"title":"ServiceTestSpecificationUpdate","description":"The service test specification describes the service test in terms of parameters to be configured and  measures to be taken. Skipped properties: id,href,validFor"},"ServiceTestUpdate":{"type":"object","properties":{"@baseType":{"type":"string"},"@schemaLocation":{"type":"string"},"@type":{"type":"string"},"atBaseType":{"type":"string","description":"When sub-classing, this defines the super-class"},"atSchemaLocation":{"type":"string","description":"A URI to a JSON-Schema file that defines additional attributes and relationships"},"atType":{"type":"string","description":"When sub-classing, this defines the sub-class Extensible name"},"characteristic":{"type":"array","description":"List of characteristics with values that define the test run","items":{"$ref":"#/definitions/Characteristic"}},"description":{"type":"string","description":"Description of the service test"},"endDateTime":{"type":"string","format":"date-time","description":"The end date and time of the service test"},"mode":{"type":"string","description":"An indication of whether the service test is running in  \"PROACTIVE\" or \"ONDEMAND\" mode"},"name":{"type":"string","description":"The name of the service test"},"relatedParty":{"type":"array","description":"Party related to the test","items":{"$ref":"#/definitions/RelatedParty"}},"relatedService":{"$ref":"#/definitions/ServiceRef"},"startDateTime":{"type":"string","format":"date-time","description":"The start date and time of the service test."},"state":{"type":"string","description":"The actual state the service test is in"},"testMeasure":{"type":"array","description":"The results of the test in terms of the measured metrics","items":{"$ref":"#/definitions/TestMeasureReq"}},"testSpecification":{"$ref":"#/definitions/ServiceTestSpecificationRef"},"validFor":{"$ref":"#/definitions/TimePeriod"}},"title":"ServiceTestUpdate","description":"A service test is an entity that exists for a controlled test invocation on a service. The service  test is executed according to a schedule and contains service test configuration parameters that are to be  applied at execution time, and service test measures that result. Skipped properties: id,href"},"TargetEntitySchema":{"type":"object","required":["atSchemaLocation","atType"],"properties":{"@baseType":{"type":"string","description":"When sub-classing, this defines the super-class"},"@schemaLocation":{"type":"string","description":"A URI to a JSON-Schema file that defines additional attributes and relationships"},"@type":{"type":"string"},"atSchemaLocation":{"type":"string","description":"This field provides a link to the schema describing the target entity"},"atType":{"type":"string","description":"Class type of the target entity"},"href":{"type":"string","description":"Unique reference of the entity"},"uuid":{"type":"string"}},"title":"TargetEntitySchema","description":"The reference object to the schema and type of target entity which is described by a specification"},"TargetServiceSchema":{"type":"object","properties":{"@baseType":{"type":"string","description":"When sub-classing, this defines the super-class"},"@schemaLocation":{"type":"string","description":"A URI to a JSON-Schema file that defines additional attributes and relationships"},"@type":{"type":"string"},"href":{"type":"string","description":"Unique reference of the entity"},"uuid":{"type":"string"}},"title":"TargetServiceSchema","description":"The reference object to the schema and type of target service which is described by service specification"},"TestMeasure":{"type":"object","properties":{"@baseType":{"type":"string","description":"When sub-classing, this defines the super-class"},"@schemaLocation":{"type":"string","description":"A URI to a JSON-Schema file that defines additional attributes and relationships"},"@type":{"type":"string"},"accuracy":{"type":"number","format":"float","description":"The number of digits of accuracy captured for associated Metrics"},"captureDateTime":{"type":"string","format":"date-time","description":"The date and time that the metric was captured"},"captureMethod":{"type":"string","description":"The method used to capture the Metrics (This may be replaced by a set of entities similar to the Performance Monitoring Ref)"},"href":{"type":"string","description":"Unique reference of the entity"},"metricDescription":{"type":"string","description":"Brief description of the metric"},"metricHref":{"type":"string","description":"Hyperlink to access a metric for detail information"},"metricName":{"type":"string","description":"The name of the metric"},"ruleViolation":{"type":"array","description":"A list of rules that were violated in this test measure","uniqueItems":true,"items":{"$ref":"#/definitions/MeasureThresholdRuleViolation"}},"unitOfMeasure":{"type":"string","description":"The unit of measure for the metric values, such as meters, cubic yards, kilograms [ISO 1000]."},"uuid":{"type":"string"},"value":{"$ref":"#/definitions/Characteristic"}},"title":"TestMeasure","description":"A TestMeasure specifies a measure of a specific aspect of a product, service, or resource test, such as lost packets or connectivity status"},"TestMeasureDefinition":{"type":"object","properties":{"@baseType":{"type":"string","description":"When sub-classing, this defines the super-class"},"@schemaLocation":{"type":"string","description":"A URI to a JSON-Schema file that defines additional attributes and relationships"},"@type":{"type":"string"},"captureFrequency":{"type":"string","description":"The frequency of capture for the metric. Note: This may be replaced by a set of entities similar to the Performance Monitoring"},"captureMethod":{"type":"string","desc
[...]
