{"swagger":"2.0","info":{"description":"## TMF API Reference: TMF620 - Product Catalog Management  ### Release : 19.0 - June 2019  Product Catalog API is one of Catalog Management API Family. Product Catalog API goal is to provide a catalog of products.   ### Operations Product Catalog API performs the following operations on the resources : - Retrieve an entity or a collection of entities depending on filter criteria - Partial update of an entity (including updating rules) - Create an entity (including default values and creation rules) - Delete an entity - Manage notification of events","version":"4.0.0","title":"Product Catalog Management","contact":{},"license":{"url":"http://www.apache.org/licenses/LICENSE-2.0.html"}},"host":"portal.5gasp.eu","tags":[{"name":"catalog-api-controller","description":"the catalog API"},{"name":"category-api-controller","description":"the category API"},{"name":"export-job-api-controller","description":"the exportJob API"},{"name":"hub-api-controller","description":"the hub API"},{"name":"import-job-api-controller","description":"the importJob API"},{"name":"listener-api-controller","description":"the listener API"},{"name":"product-offering-api-controller","description":"the productOffering API"},{"name":"product-offering-price-api-controller","description":"the productOfferingPrice API"},{"name":"product-specification-api-controller","description":"the productSpecification API"}],"paths":{"/productCatalogManagement/v4/catalog":{"get":{"tags":["catalog"],"summary":"List or find Catalog objects","description":"This operation list or find Catalog entities","operationId":"listCatalog","produces":["application/json;charset=utf-8"],"parameters":[{"name":"fields","in":"query","description":"Comma-separated properties to be provided in response","required":false,"type":"string"},{"name":"limit","in":"query","description":"Requested number of resources to be provided in response","required":false,"type":"integer","format":"int32"},{"name":"offset","in":"query","description":"Requested index for start of resources to be provided in response","required":false,"type":"integer","format":"int32"}],"responses":{"200":{"description":"Success","schema":{"type":"array","items":{"$ref":"#/definitions/Catalog"}}},"400":{"description":"Bad Request","schema":{"$ref":"#/definitions/Error"}},"401":{"description":"Unauthorized","schema":{"$ref":"#/definitions/Error"}},"403":{"description":"Forbidden","schema":{"$ref":"#/definitions/Error"}},"404":{"description":"Not Found","schema":{"$ref":"#/definitions/Error"}},"405":{"description":"Method Not allowed","schema":{"$ref":"#/definitions/Error"}},"409":{"description":"Conflict","schema":{"$ref":"#/definitions/Error"}},"500":{"description":"Internal Server Error","schema":{"$ref":"#/definitions/Error"}}},"security":[{"spring_oauth":["read","write","admin","openapi"]}]},"post":{"tags":["catalog"],"summary":"Creates a Catalog","description":"This operation creates a Catalog entity.","operationId":"createCatalog","consumes":["application/json;charset=utf-8"],"produces":["application/json;charset=utf-8"],"parameters":[{"in":"body","name":"catalog","description":"The Catalog to be created","required":true,"schema":{"$ref":"#/definitions/CatalogCreate"}}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/Catalog"}},"201":{"description":"Created","schema":{"$ref":"#/definitions/Catalog"}},"400":{"description":"Bad Request","schema":{"$ref":"#/definitions/Error"}},"401":{"description":"Unauthorized","schema":{"$ref":"#/definitions/Error"}},"403":{"description":"Forbidden","schema":{"$ref":"#/definitions/Error"}},"404":{"description":"Not Found"},"405":{"description":"Method Not allowed","schema":{"$ref":"#/definitions/Error"}},"409":{"description":"Conflict","schema":{"$ref":"#/definitions/Error"}},"500":{"description":"Internal Server Error","schema":{"$ref":"#/definitions/Error"}}},"security":[{"spring_oauth":["read","write","admin","openapi"]}]}},"/productCatalogManagement/v4/catalog/{id}":{"get":{"tags":["catalog"],"summary":"Retrieves a Catalog by ID","description":"This operation retrieves a Catalog entity. Attribute selection is enabled for all first level attributes.","operationId":"retrieveCatalog","produces":["application/json;charset=utf-8"],"parameters":[{"name":"fields","in":"query","description":"Comma-separated properties to provide in response","required":false,"type":"string"},{"name":"id","in":"path","description":"Identifier of the Catalog","required":true,"type":"string"}],"responses":{"200":{"description":"Success","schema":{"$ref":"#/definitions/Catalog"}},"400":{"description":"Bad Request","schema":{"$ref":"#/definitions/Error"}},"401":{"description":"Unauthorized","schema":{"$ref":"#/definitions/Error"}},"403":{"description":"Forbidden","schema":{"$ref":"#/definitions/Error"}},"404":{"description":"Not Found","schema":{"$ref":"#/definitions/Error"}},"405":{"description":"Method Not allowed","schema":{"$ref":"#/definitions/Error"}},"409":{"description":"Conflict","schema":{"$ref":"#/definitions/Error"}},"500":{"description":"Internal Server Error","schema":{"$ref":"#/definitions/Error"}}},"security":[{"spring_oauth":["read","write","admin","openapi"]}]},"delete":{"tags":["catalog"],"summary":"Deletes a Catalog","description":"This operation deletes a Catalog entity.","operationId":"deleteCatalog","produces":["application/json;charset=utf-8"],"parameters":[{"name":"id","in":"path","description":"Identifier of the Catalog","required":true,"type":"string"}],"responses":{"200":{"description":"OK"},"204":{"description":"Deleted","schema":{"type":"object"}},"400":{"description":"Bad Request","schema":{"$ref":"#/definitions/Error"}},"401":{"description":"Unauthorized","schema":{"$ref":"#/definitions/Error"}},"403":{"description":"Forbidden","schema":{"$ref":"#/definitions/Error"}},"404":{"description":"Not Found","schema":{"$ref":"#/definitions/Error"}},"405":{"description":"Method Not allowed","schema":{"$ref":"#/definitions/Error"}},"409":{"description":"Conflict","schema":{"$ref":"#/definitions/Error"}},"500":{"description":"Internal Server Error","schema":{"$ref":"#/definitions/Error"}}},"security":[{"spring_oauth":["read","write","admin","openapi"]}]},"patch":{"tags":["catalog"],"summary":"Updates partially a Catalog","description":"This operation updates partially a Catalog entity.","operationId":"patchCatalog","consumes":["application/json;charset=utf-8"],"produces":["application/json;charset=utf-8"],"parameters":[{"in":"body","name":"catalog","description":"The Catalog to be updated","required":true,"schema":{"$ref":"#/definitions/CatalogUpdate"}},{"name":"id","in":"path","description":"Identifier of the Catalog","required":true,"type":"string"}],"responses":{"200":{"description":"Updated","schema":{"$ref":"#/definitions/Catalog"}},"204":{"description":"No Content"},"400":{"description":"Bad Request","schema":{"$ref":"#/definitions/Error"}},"401":{"description":"Unauthorized","schema":{"$ref":"#/definitions/Error"}},"403":{"description":"Forbidden","schema":{"$ref":"#/definitions/Error"}},"404":{"description":"Not Found","schema":{"$ref":"#/definitions/Error"}},"405":{"description":"Method Not allowed","schema":{"$ref":"#/definitions/Error"}},"409":{"description":"Conflict","schema":{"$ref":"#/definitions/Error"}},"500":{"description":"Internal Server Error","schema":{"$ref":"#/definitions/Error"}}},"security":[{"spring_oauth":["read","write","admin","openapi"]}]}},"/productCatalogManagement/v4/category":{"get":{"tags":["category"],"summary":"List or find Category objects","description":"This operation list or find Category entities","operationId":"listCategory","produces":["application/json;charset=utf-8"],"parameters":[{"name":"fields","in":"query","description":"Comma-separated properties to be provided in response","required":false,"type":"string"},{"name":"limit","in":"query","description":"Requested number of resources to be provided in response","required":false,"type":"integer","format":"int32"},{"name":"offset","in":"query","description":"Requested index for start of resources to be provided in response","required":false,"type":"integer","format":"int32"}],"responses":{"200":{"description":"Success","schema":{"type":"array","items":{"$ref":"#/definitions/Category"}}},"400":{"description":"Bad Request","schema":{"$ref":"#/definitions/Error"}},"401":{"description":"Unauthorized","schema":{"$ref":"#/definitions/Error"}},"403":{"description":"Forbidden","schema":{"$ref":"#/definitions/Error"}},"404":{"description":"Not Found","schema":{"$ref":"#/definitions/Error"}},"405":{"description":"Method Not allowed","schema":{"$ref":"#/definitions/Error"}},"409":{"description":"Conflict","schema":{"$ref":"#/definitions/Error"}},"500":{"description":"Internal Server Error","schema":{"$ref":"#/definitions/Error"}}},"security":[{"spring_oauth":["read","write","admin","openapi"]}]},"post":{"tags":["category"],"summary":"Creates a Category","description":"This operation creates a Category entity.","operationId":"createCategory","consumes":["application/json;charset=utf-8"],"produces":["application/json;charset=utf-8"],"parameters":[{"in":"body","name":"category","description":"The Category to be created","required":true,"schema":{"$ref":"#/definitions/CategoryCreate"}}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/Category"}},"201":{"description":"Created","schema":{"$ref":"#/definitions/Category"}},"400":{"description":"Bad Request","schema":{"$ref":"#/definitions/Error"}},"401":{"description":"Unauthorized","schema":{"$ref":"#/definitions/Error"}},"403":{"description":"Forbidden","schema":{"$ref":"#/definitions/Error"}},"404":{"description":"Not Found"},"405":{"description":"Method Not allowed","schema":{"$ref":"#/definitions/Error"}},"409":{"description":"Conflict","schema":{"$ref":"#/definitions/Error"}},"500":{"description":"Internal Server Error","schema":{"$ref":"#/definitions/Error"}}},"security":[{"spring_oauth":["read","write","admin","openapi"]}]}},"/productCatalogManagement/v4/category/{id}":{"get":{"tags":["category"],"summary":"Retrieves a Category by ID","description":"This operation retrieves a Category entity. Attribute selection is enabled for all first level attributes.","operationId":"retrieveCategory","produces":["application/json;charset=utf-8"],"parameters":[{"name":"fields","in":"query","description":"Comma-separated properties to provide in response","required":false,"type":"string"},{"name":"id","in":"path","description":"Identifier of the Category","required":true,"type":"string"}],"responses":{"200":{"description":"Success","schema":{"$ref":"#/definitions/Category"}},"400":{"description":"Bad Request","schema":{"$ref":"#/definitions/Error"}},"401":{"description":"Unauthorized","schema":{"$ref":"#/definitions/Error"}},"403":{"description":"Forbidden","schema":{"$ref":"#/definitions/Error"}},"404":{"description":"Not Found","schema":{"$ref":"#/definitions/Error"}},"405":{"description":"Method Not allowed","schema":{"$ref":"#/definitions/Error"}},"409":{"description":"Conflict","schema":{"$ref":"#/definitions/Error"}},"500":{"description":"Internal Server Error","schema":{"$ref":"#/definitions/Error"}}},"security":[{"spring_oauth":["read","write","admin","openapi"]}]},"delete":{"tags":["category"],"summary":"Deletes a Category","description":"This operation deletes a Category entity.","operationId":"deleteCategory","produces":["application/json;charset=utf-8"],"parameters":[{"name":"id","in":"path","description":"Identifier of the Category","required":true,"type":"string"}],"responses":{"200":{"description":"OK"},"204":{"description":"Deleted","schema":{"type":"object"}},"400":{"description":"Bad Request","schema":{"$ref":"#/definitions/Error"}},"401":{"description":"Unauthorized","schema":{"$ref":"#/definitions/Error"}},"403":{"description":"Forbidden","schema":{"$ref":"#/definitions/Error"}},"404":{"description":"Not Found","schema":{"$ref":"#/definitions/Error"}},"405":{"description":"Method Not allowed","schema":{"$ref":"#/definitions/Error"}},"409":{"description":"Conflict","schema":{"$ref":"#/definitions/Error"}},"500":{"description":"Internal Server Error","schema":{"$ref":"#/definitions/Error"}}},"security":[{"spring_oauth":["read","write","admin","openapi"]}]},"patch":{"tags":["category"],"summary":"Updates partially a Category","description":"This operation updates partially a Category entity.","operationId":"patchCategory","consumes":["application/json;charset=utf-8"],"produces":["application/json;charset=utf-8"],"parameters":[{"in":"body","name":"category","description":"The Category to be updated","required":true,"schema":{"$ref":"#/definitions/CategoryUpdate"}},{"name":"id","in":"path","description":"Identifier of the Category","required":true,"type":"string"}],"responses":{"200":{"description":"Updated","schema":{"$ref":"#/definitions/Category"}},"204":{"description":"No Content"},"400":{"description":"Bad Request","schema":{"$ref":"#/definitions/Error"}},"401":{"description":"Unauthorized","schema":{"$ref":"#/definitions/Error"}},"403":{"description":"Forbidden","schema":{"$ref":"#/definitions/Error"}},"404":{"description":"Not Found","schema":{"$ref":"#/definitions/Error"}},"405":{"description":"Method Not allowed","schema":{"$ref":"#/definitions/Error"}},"409":{"description":"Conflict","schema":{"$ref":"#/definitions/Error"}},"500":{"description":"Internal Server Error","schema":{"$ref":"#/definitions/Error"}}},"security":[{"spring_oauth":["read","write","admin","openapi"]}]}},"/productCatalogManagement/v4/exportJob":{"get":{"tags":["exportJob"],"summary":"List or find ExportJob objects","description":"This operation list or find ExportJob entities","operationId":"listExportJob","consumes":["application/json;charset=utf-8"],"produces":["application/json;charset=utf-8"],"parameters":[{"name":"fields","in":"query","description":"Comma-separated properties to be provided in response","required":false,"type":"string"},{"name":"limit","in":"query","description":"Requested number of resources to be provided in response","required":false,"type":"integer","format":"int32"},{"name":"offset","in":"query","description":"Requested index for start of resources to be provided in response","required":false,"type":"integer","format":"int32"}],"responses":{"200":{"description":"Success","schema":{"type":"array","items":{"$ref":"#/definitions/ExportJob"}}},"400":{"description":"Bad Request","schema":{"$ref":"#/definitions/Error"}},"401":{"description":"Unauthorized","schema":{"$ref":"#/definitions/Error"}},"403":{"description":"Forbidden","schema":{"$ref":"#/definitions/Error"}},"404":{"description":"Not Found","schema":{"$ref":"#/definitions/Error"}},"405":{"description":"Method Not allowed","schema":{"$ref":"#/definitions/Error"}},"409":{"description":"Conflict","schema":{"$ref":"#/definitions/Error"}},"500":{"description":"Internal Server Error","schema":{"$ref":"#/definitions/Error"}}},"security":[{"spring_oauth":["read","write","admin","openapi"]}]},"post":{"tags":["exportJob"],"summary":"Creates a ExportJob","description":"This operation creates a ExportJob entity.","operationId":"createExportJob","consumes":["application/json;charset=utf-8"],"produces":["application/json;charset=utf-8"],"parameters":[{"in":"body","name":"exportJob","description":"The ExportJob to be created","required":true,"schema":{"$ref":"#/definitions/ExportJobCreate"}}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/ExportJob"}},"201":{"description":"Created","schema":{"$ref":"#/definitions/ExportJob"}},"400":{"description":"Bad Request","schema":{"$ref":"#/definitions/Error"}},"401":{"description":"Unauthorized","schema":{"$ref":"#/definitions/Error"}},"403":{"description":"Forbidden","schema":{"$ref":"#/definitions/Error"}},"404":{"description":"Not Found"},"405":{"description":"Method Not allowed","schema":{"$ref":"#/definitions/Error"}},"409":{"description":"Conflict","schema":{"$ref":"#/definitions/Error"}},"500":{"description":"Internal Server Error","schema":{"$ref":"#/definitions/Error"}}},"security":[{"spring_oauth":["read","write","admin","openapi"]}]}},"/productCatalogManagement/v4/exportJob/{id}":{"get":{"tags":["exportJob"],"summary":"Retrieves a ExportJob by ID","description":"This operation retrieves a ExportJob entity. Attribute selection is enabled for all first level attributes.","operationId":"retrieveExportJob","consumes":["application/json;charset=utf-8"],"produces":["application/json;charset=utf-8"],"parameters":[{"name":"fields","in":"query","description":"Comma-separated properties to provide in response","required":false,"type":"string"},{"name":"id","in":"path","description":"Identifier of the ExportJob","required":true,"type":"string"}],"responses":{"200":{"description":"Success","schema":{"$ref":"#/definitions/ExportJob"}},"400":{"description":"Bad Request","schema":{"$ref":"#/definitions/Error"}},"401":{"description":"Unauthorized","schema":{"$ref":"#/definitions/Error"}},"403":{"description":"Forbidden","schema":{"$ref":"#/definitions/Error"}},"404":{"description":"Not Found","schema":{"$ref":"#/definitions/Error"}},"405":{"description":"Method Not allowed","schema":{"$ref":"#/definitions/Error"}},"409":{"description":"Conflict","schema":{"$ref":"#/definitions/Error"}},"500":{"description":"Internal Server Error","schema":{"$ref":"#/definitions/Error"}}},"security":[{"spring_oauth":["read","write","admin","openapi"]}]},"delete":{"tags":["exportJob"],"summary":"Deletes a ExportJob","description":"This operation deletes a ExportJob entity.","operationId":"deleteExportJob","consumes":["application/json;charset=utf-8"],"produces":["application/json;charset=utf-8"],"parameters":[{"name":"id","in":"path","description":"Identifier of the ExportJob","required":true,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/Error"}},"204":{"description":"Deleted","schema":{"type":"object"}},"400":{"description":"Bad Request","schema":{"$ref":"#/definitions/Error"}},"401":{"description":"Unauthorized","schema":{"$ref":"#/definitions/Error"}},"403":{"description":"Forbidden","schema":{"$ref":"#/definitions/Error"}},"404":{"description":"Not Found","schema":{"$ref":"#/definitions/Error"}},"405":{"description":"Method Not allowed","schema":{"$ref":"#/definitions/Error"}},"409":{"description":"Conflict","schema":{"$ref":"#/definitions/Error"}},"500":{"description":"Internal Server Error","schema":{"$ref":"#/definitions/Error"}}},"security":[{"spring_oauth":["read","write","admin","openapi"]}]}},"/productCatalogManagement/v4/hub":{"post":{"tags":["events subscription"],"summary":"Register a listener","description":"Sets the communication endpoint address the service instance must use to deliver information about its health state, execution state, failures and metrics.","operationId":"registerListener","consumes":["application/json;charset=utf-8"],"produces":["application/json;charset=utf-8"],"parameters":[{"in":"body","name":"data","description":"Data containing the callback endpoint to deliver the information","required":true,"schema":{"$ref":"#/definitions/EventSubscriptionInput"}}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/EventSubscription"}},"201":{"description":"Subscribed","schema":{"$ref":"#/definitions/EventSubscription"}},"400":{"description":"Bad Request","schema":{"$ref":"#/definitions/Error"}},"401":{"description":"Unauthorized","schema":{"$ref":"#/definitions/Error"}},"403":{"description":"Forbidden","schema":{"$ref":"#/definitions/Error"}},"404":{"description":"Not Found","schema":{"$ref":"#/definitions/Error"}},"405":{"description":"Method Not allowed","schema":{"$ref":"#/definitions/Error"}},"409":{"description":"Conflict","schema":{"$ref":"#/definitions/Error"}},"500":{"description":"Internal Server Error","schema":{"$ref":"#/definitions/Error"}}},"security":[{"spring_oauth":["read","write","admin","openapi"]}]}},"/productCatalogManagement/v4/hub/{id}":{"delete":{"tags":["events subscription"],"summary":"Unregister a listener","description":"Resets the communication endpoint address the service instance must use to deliver information about its health state, execution state, failures and metrics.","operationId":"unregisterListener","consumes":["application/json;charset=utf-8"],"produces":["application/json;charset=utf-8"],"parameters":[{"name":"id","in":"path","description":"The id of the registered listener","required":true,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/Error"}},"204":{"description":"Deleted","schema":{"type":"object"}},"400":{"description":"Bad request","schema":{"$ref":"#/definitions/Error"}},"401":{"description":"Unauthorized","schema":{"$ref":"#/definitions/Error"}},"403":{"description":"Forbidden","schema":{"$ref":"#/definitions/Error"}},"404":{"description":"Not Found","schema":{"$ref":"#/definitions/Error"}},"405":{"description":"Method not allowed","schema":{"$ref":"#/definitions/Error"}},"500":{"description":"Internal Server Error","schema":{"$ref":"#/definitions/Error"}}},"security":[{"spring_oauth":["read","write","admin","openapi"]}]}},"/productCatalogManagement/v4/importJob":{"get":{"tags":["importJob"],"summary":"List or find ImportJob objects","description":"This operation list or find ImportJob entities","operationId":"listImportJob","consumes":["application/json;charset=utf-8"],"produces":["application/json;charset=utf-8"],"parameters":[{"name":"fields","in":"query","description":"Comma-separated properties to be provided in response","required":false,"type":"string"},{"name":"limit","in":"query","description":"Requested number of resources to be provided in response","required":false,"type":"integer","format":"int32"},{"name":"offset","in":"query","description":"Requested index for start of resources to be provided in response","required":false,"type":"integer","format":"int32"}],"responses":{"200":{"description":"Success","schema":{"type":"array","items":{"$ref":"#/definitions/ImportJob"}}},"400":{"description":"Bad Request","schema":{"$ref":"#/definitions/Error"}},"401":{"description":"Unauthorized","schema":{"$ref":"#/definitions/Error"}},"403":{"description":"Forbidden","schema":{"$ref":"#/definitions/Error"}},"404":{"description":"Not Found","schema":{"$ref":"#/definitions/Error"}},"405":{"description":"Method Not allowed","schema":{"$ref":"#/definitions/Error"}},"409":{"description":"Conflict","schema":{"$ref":"#/definitions/Error"}},"500":{"description":"Internal Server Error","schema":{"$ref":"#/definitions/Error"}}},"security":[{"spring_oauth":["read","write","admin","openapi"]}]},"post":{"tags":["importJob"],"summary":"Creates a ImportJob","description":"This operation creates a ImportJob entity.","operationId":"createImportJob","consumes":["application/json;charset=utf-8"],"produces":["application/json;charset=utf-8"],"parameters":[{"in":"body","name":"importJob","description":"The ImportJob to be created","required":true,"schema":{"$ref":"#/definitions/ImportJobCreate"}}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/ImportJob"}},"201":{"description":"Created","schema":{"$ref":"#/definitions/ImportJob"}},"400":{"description":"Bad Request","schema":{"$ref":"#/definitions/Error"}},"401":{"description":"Unauthorized","schema":{"$ref":"#/definitions/Error"}},"403":{"description":"Forbidden","schema":{"$ref":"#/definitions/Error"}},"404":{"description":"Not Found"},"405":{"description":"Method Not allowed","schema":{"$ref":"#/definitions/Error"}},"409":{"description":"Conflict","schema":{"$ref":"#/definitions/Error"}},"500":{"description":"Internal Server Error","schema":{"$ref":"#/definitions/Error"}}},"security":[{"spring_oauth":["read","write","admin","openapi"]}]}},"/productCatalogManagement/v4/importJob/{id}":{"get":{"tags":["importJob"],"summary":"Retrieves a ImportJob by ID","description":"This operation retrieves a ImportJob entity. Attribute selection is enabled for all first level attributes.","operationId":"retrieveImportJob","consumes":["application/json;charset=utf-8"],"produces":["application/json;charset=utf-8"],"parameters":[{"name":"fields","in":"query","description":"Comma-separated properties to provide in response","required":false,"type":"string"},{"name":"id","in":"path","description":"Identifier of the ImportJob","required":true,"type":"string"}],"responses":{"200":{"description":"Success","schema":{"$ref":"#/definitions/ImportJob"}},"400":{"description":"Bad Request","schema":{"$ref":"#/definitions/Error"}},"401":{"description":"Unauthorized","schema":{"$ref":"#/definitions/Error"}},"403":{"description":"Forbidden","schema":{"$ref":"#/definitions/Error"}},"404":{"description":"Not Found","schema":{"$ref":"#/definitions/Error"}},"405":{"description":"Method Not allowed","schema":{"$ref":"#/definitions/Error"}},"409":{"description":"Conflict","schema":{"$ref":"#/definitions/Error"}},"500":{"description":"Internal Server Error","schema":{"$ref":"#/definitions/Error"}}},"security":[{"spring_oauth":["read","write","admin","openapi"]}]},"delete":{"tags":["importJob"],"summary":"Deletes a ImportJob","description":"This operation deletes a ImportJob entity.","operationId":"deleteImportJob","consumes":["application/json;charset=utf-8"],"produces":["application/json;charset=utf-8"],"parameters":[{"name":"id","in":"path","description":"Identifier of the ImportJob","required":true,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/Error"}},"204":{"description":"Deleted","schema":{"type":"object"}},"400":{"description":"Bad Request","schema":{"$ref":"#/definitions/Error"}},"401":{"description":"Unauthorized","schema":{"$ref":"#/definitions/Error"}},"403":{"description":"Forbidden","schema":{"$ref":"#/definitions/Error"}},"404":{"description":"Not Found","schema":{"$ref":"#/definitions/Error"}},"405":{"description":"Method Not allowed","schema":{"$ref":"#/definitions/Error"}},"409":{"description":"Conflict","schema":{"$ref":"#/definitions/Error"}},"500":{"description":"Internal Server Error","schema":{"$ref":"#/definitions/Error"}}},"security":[{"spring_oauth":["read","write","admin","openapi"]}]}},"/productCatalogManagement/v4/listener/catalogBatchEvent":{"post":{"tags":["notification listeners (client side)"],"summary":"Client listener for entity CatalogBatchEvent","description":"Example of a client listener for receiving the notification CatalogBatchEvent","operationId":"listenToCatalogBatchEvent","consumes":["application/json;charset=utf-8"],"produces":["application/json;charset=utf-8"],"parameters":[{"in":"body","name":"data","description":"The event data","required":true,"schema":{"$ref":"#/definitions/CatalogBatchEvent"}}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/EventSubscription"}},"201":{"description":"Notified","schema":{"$ref":"#/definitions/EventSubscription"}},"400":{"description":"Bad Request","schema":{"$ref":"#/definitions/Error"}},"401":{"description":"Unauthorized","schema":{"$ref":"#/definitions/Error"}},"403":{"description":"Forbidden","schema":{"$ref":"#/definitions/Error"}},"404":{"description":"Not Found","schema":{"$ref":"#/definitions/Error"}},"405":{"description":"Method Not allowed","schema":{"$ref":"#/definitions/Error"}},"409":{"description":"Conflict","schema":{"$ref":"#/definitions/Error"}},"500":{"description":"Internal Server Error","schema":{"$ref":"#/definitions/Error"}}},"security":[{"spring_oauth":["read","write","admin","openapi"]}]}},"/productCatalogManagement/v4/listener/catalogCreateEvent":{"post":{"tags":["notification listeners (client side)"],"summary":"Client listener for entity CatalogCreateEvent","description":"Example of a client listener for receiving the notification CatalogCreateEvent","operationId":"listenToCatalogCreateEvent","consumes":["application/json;charset=utf-8"],"produces":["application/json;charset=utf-8"],"parameters":[{"in":"body","name":"data","description":"The event data","required":true,"schema":{"$ref":"#/definitions/CatalogCreateEvent"}}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/EventSubscription"}},"201":{"description":"Notified","schema":{"$ref":"#/definitions/EventSubscription"}},"400":{"description":"Bad Request","schema":{"$ref":"#/definitions/Error"}},"401":{"description":"Unauthorized","schema":{"$ref":"#/definitions/Error"}},"403":{"description":"Forbidden","schema":{"$ref":"#/definitions/Error"}},"404":{"description":"Not Found","schema":{"$ref":"#/definitions/Error"}},"405":{"description":"Method Not allowed","schema":{"$ref":"#/definitions/Error"}},"409":{"description":"Conflict","schema":{"$ref":"#/definitions/Error"}},"500":{"description":"Internal Server Error","schema":{"$ref":"#/definitions/Error"}}},"security":[{"spring_oauth":["read","write","admin","openapi"]}]}},"/productCatalogManagement/v4/listener/catalogDeleteEvent":{"post":{"tags":["notification listeners (client side)"],"summary":"Client listener for entity CatalogDeleteEvent","description":"Example of a client listener for receiving the notification CatalogDeleteEvent","operationId":"listenToCatalogDeleteEvent","consumes":["application/json;charset=utf-8"],"produces":["application/json;charset=utf-8"],"parameters":[{"in":"body","name":"data","description":"The event data","required":true,"schema":{"$ref":"#/definitions/CatalogDeleteEvent"}}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/EventSubscription"}},"201":{"description":"Notified","schema":{"$ref":"#/definitions/EventSubscription"}},"400":{"description":"Bad Request","schema":{"$ref":"#/definitions/Error"}},"401":{"description":"Unauthorized","schema":{"$ref":"#/definitions/Error"}},"403":{"description":"Forbidden","schema":{"$ref":"#/definitions/Error"}},"404":{"description":"Not Found","schema":{"$ref":"#/definitions/Error"}},"405":{"description":"Method Not allowed","schema":{"$ref":"#/definitions/Error"}},"409":{"description":"Conflict","schema":{"$ref":"#/definitions/Error"}},"500":{"description":"Internal Server Error","schema":{"$ref":"#/definitions/Error"}}},"security":[{"spring_oauth":["read","write","admin","openapi"]}]}},"/productCatalogManagement/v4/listener/categoryCreateEvent":{"post":{"tags":["notification listeners (client side)"],"summary":"Client listener for entity CategoryCreateEvent","description":"Example of a client listener for receiving the notification CategoryCreateEvent","operationId":"listenToCategoryCreateEvent","consumes":["application/json;charset=utf-8"],"produces":["application/json;charset=utf-8"],"parameters":[{"in":"body","name":"data","description":"The event data","required":true,"schema":{"$ref":"#/definitions/CategoryCreateEvent"}}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/EventSubscription"}},"201":{"description":"Notified","schema":{"$ref":"#/definitions/EventSubscription"}},"400":{"description":"Bad Request","schema":{"$ref":"#/definitions/Error"}},"401":{"description":"Unauthorized","schema":{"$ref":"#/definitions/Error"}},"403":{"description":"Forbidden","schema":{"$ref":"#/definitions/Error"}},"404":{"description":"Not Found","schema":{"$ref":"#/definitions/Error"}},"405":{"description":"Method Not allowed","schema":{"$ref":"#/definitions/Error"}},"409":{"description":"Conflict","schema":{"$ref":"#/definitions/Error"}},"500":{"description":"Internal Server Error","schema":{"$ref":"#/definitions/Error"}}},"security":[{"spring_oauth":["read","write","admin","openapi"]}]}},"/productCatalogManagement/v4/listener/categoryDeleteEvent":{"post":{"tags":["notification listeners (client side)"],"summary":"Client listener for entity CategoryDeleteEvent","description":"Example of a client listener for receiving the notification CategoryDeleteEvent","operationId":"listenToCategoryDeleteEvent","consumes":["application/json;charset=utf-8"],"produces":["application/json;charset=utf-8"],"parameters":[{"in":"body","name":"data","description":"The event data","required":true,"schema":{"$ref":"#/definitions/CategoryDeleteEvent"}}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/EventSubscription"}},"201":{"description":"Notified","schema":{"$ref":"#/definitions/EventSubscription"}},"400":{"description":"Bad Request","schema":{"$ref":"#/definitions/Error"}},"401":{"description":"Unauthorized","schema":{"$ref":"#/definitions/Error"}},"403":{"description":"Forbidden","schema":{"$ref":"#/definitions/Error"}},"404":{"description":"Not Found","schema":{"$ref":"#/definitions/Error"}},"405":{"description":"Method Not allowed","schema":{"$ref":"#/definitions/Error"}},"409":{"description":"Conflict","schema":{"$ref":"#/definitions/Error"}},"500":{"description":"Internal Server Error","schema":{"$ref":"#/definitions/Error"}}},"security":[{"spring_oauth":["read","write","admin","openapi"]}]}},"/productCatalogManagement/v4/listener/productOfferingAttributeValueChangeEvent":{"post":{"tags":["notification listeners (client side)"],"summary":"Client listener for entity ProductOfferingAttributeValueChangeEvent","description":"Example of a client listener for receiving the notification ProductOfferingAttributeValueChangeEvent","operationId":"listenToProductOfferingAttributeValueChangeEvent","consumes":["application/json;charset=utf-8"],"produces":["application/json;charset=utf-8"],"parameters":[{"in":"body","name":"data","description":"The event data","required":true,"schema":{"$ref":"#/definitions/ProductOfferingAttributeValueChangeEvent"}}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/EventSubscription"}},"201":{"description":"Notified","schema":{"$ref":"#/definitions/EventSubscription"}},"400":{"description":"Bad Request","schema":{"$ref":"#/definitions/Error"}},"401":{"description":"Unauthorized","schema":{"$ref":"#/definitions/Error"}},"403":{"description":"Forbidden","schema":{"$ref":"#/definitions/Error"}},"404":{"description":"Not Found","schema":{"$ref":"#/definitions/Error"}},"405":{"description":"Method Not allowed","schema":{"$ref":"#/definitions/Error"}},"409":{"description":"Conflict","schema":{"$ref":"#/definitions/Error"}},"500":{"description":"Internal Server Error","schema":{"$ref":"#/definitions/Error"}}},"security":[{"spring_oauth":["read","write","admin","openapi"]}]}},"/productCatalogManagement/v4/listener/productOfferingCreateEvent":{"post":{"tags":["notification listeners (client side)"],"summary":"Client listener for entity ProductOfferingCreateEvent","description":"Example of a client listener for receiving the notification ProductOfferingCreateEvent","operationId":"listenToProductOfferingCreateEvent","consumes":["application/json;charset=utf-8"],"produces":["application/json;charset=utf-8"],"parameters":[{"in":"body","name":"data","description":"The event data","required":true,"schema":{"$ref":"#/definitions/ProductOfferingCreateEvent"}}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/EventSubscription"}},"201":{"description":"Notified","schema":{"$ref":"#/definitions/EventSubscription"}},"400":{"description":"Bad Request","schema":{"$ref":"#/definitions/Error"}},"401":{"description":"Unauthorized","schema":{"$ref":"#/definitions/Error"}},"403":{"description":"Forbidden","schema":{"$ref":"#/definitions/Error"}},"404":{"description":"Not Found","schema":{"$ref":"#/definitions/Error"}},"405":{"description":"Method Not allowed","schema":{"$ref":"#/definitions/Error"}},"409":{"description":"Conflict","schema":{"$ref":"#/definitions/Error"}},"500":{"description":"Internal Server Error","schema":{"$ref":"#/definitions/Error"}}},"security":[{"spring_oauth":["read","write","admin","openapi"]}]}},"/productCatalogManagement/v4/listener/productOfferingDeleteEvent":{"post":{"tags":["notification listeners (client side)"],"summary":"Client listener for entity ProductOfferingDeleteEvent","description":"Example of a client listener for receiving the notification ProductOfferingDeleteEvent","operationId":"listenToProductOfferingDeleteEvent","consumes":["application/json;charset=utf-8"],"produces":["application/json;charset=utf-8"],"parameters":[{"in":"body","name":"data","description":"The event data","required":true,"schema":{"$ref":"#/definitions/ProductOfferingDeleteEvent"}}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/EventSubscription"}},"201":{"description":"Notified","schema":{"$ref":"#/definitions/EventSubscription"}},"400":{"description":"Bad Request","schema":{"$ref":"#/definitions/Error"}},"401":{"description":"Unauthorized","schema":{"$ref":"#/definitions/Error"}},"403":{"description":"Forbidden","schema":{"$ref":"#/definitions/Error"}},"404":{"description":"Not Found","schema":{"$ref":"#/definitions/Error"}},"405":{"description":"Method Not allowed","schema":{"$ref":"#/definitions/Error"}},"409":{"description":"Conflict","schema":{"$ref":"#/definitions/Error"}},"500":{"description":"Internal Server Error","schema":{"$ref":"#/definitions/Error"}}},"security":[{"spring_oauth":["read","write","admin","openapi"]}]}},"/productCatalogManagement/v4/listener/productOfferingPriceAttributeValueChangeEvent":{"post":{"tags":["notification listeners (client side)"],"summary":"Client listener for entity ProductOfferingPriceAttributeValueChangeEvent","description":"Example of a client listener for receiving the notification ProductOfferingPriceAttributeValueChangeEvent","operationId":"listenToProductOfferingPriceAttributeValueChangeEvent","consumes":["application/json;charset=utf-8"],"produces":["application/json;charset=utf-8"],"parameters":[{"in":"body","name":"data","description":"The event data","required":true,"schema":{"$ref":"#/definitions/ProductOfferingPriceAttributeValueChangeEvent"}}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/EventSubscription"}},"201":{"description":"Notified","schema":{"$ref":"#/definitions/EventSubscription"}},"400":{"description":"Bad Request","schema":{"$ref":"#/definitions/Error"}},"401":{"description":"Unauthorized","schema":{"$ref":"#/definitions/Error"}},"403":{"description":"Forbidden","schema":{"$ref":"#/definitions/Error"}},"404":{"description":"Not Found","schema":{"$ref":"#/definitions/Error"}},"405":{"description":"Method Not allowed","schema":{"$ref":"#/definitions/Error"}},"409":{"description":"Conflict","schema":{"$ref":"#/definitions/Error"}},"500":{"description":"Internal Server Error","schema":{"$ref":"#/definitions/Error"}}},"security":[{"spring_oauth":["read","write","admin","openapi"]}]}},"/productCatalogManagement/v4/listener/productOfferingPriceCreateEvent":{"post":{"tags":["notification listeners (client side)"],"summary":"Client listener for entity ProductOfferingPriceCreateEvent","description":"Example of a client listener for receiving the notification ProductOfferingPriceCreateEvent","operationId":"listenToProductOfferingPriceCreateEvent","consumes":["application/json;charset=utf-8"],"produces":["application/json;charset=utf-8"],"parameters":[{"in":"body","name":"data","description":"The event data","required":true,"schema":{"$ref":"#/definitions/ProductOfferingPriceCreateEvent"}}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/EventSubscription"}},"201":{"description":"Notified","schema":{"$ref":"#/definitions/EventSubscription"}},"400":{"description":"Bad Request","schema":{"$ref":"#/definitions/Error"}},"401":{"description":"Unauthorized","schema":{"$ref":"#/definitions/Error"}},"403":{"description":"Forbidden","schema":{"$ref":"#/definitions/Error"}},"404":{"description":"Not Found","schema":{"$ref":"#/definitions/Error"}},"405":{"description":"Method Not allowed","schema":{"$ref":"#/definitions/Error"}},"409":{"description":"Conflict","schema":{"$ref":"#/definitions/Error"}},"500":{"description":"Internal Server Error","schema":{"$ref":"#/definitions/Error"}}},"security":[{"spring_oauth":["read","write","admin","openapi"]}]}},"/productCatalogManagement/v4/listener/productOfferingPriceDeleteEvent":{"post":{"tags":["notification listeners (client side)"],"summary":"Client listener for entity ProductOfferingPriceDeleteEvent","description":"Example of a client listener for receiving the notification ProductOfferingPriceDeleteEvent","operationId":"listenToProductOfferingPriceDeleteEvent","consumes":["application/json;charset=utf-8"],"produces":["application/json;charset=utf-8"],"parameters":[{"in":"body","name":"data","description":"The event data","required":true,"schema":{"$ref":"#/definitions/ProductOfferingPriceDeleteEvent"}}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/EventSubscription"}},"201":{"description":"Notified","schema":{"$ref":"#/definitions/EventSubscription"}},"400":{"description":"Bad Request","schema":{"$ref":"#/definitions/Error"}},"401":{"description":"Unauthorized","schema":{"$ref":"#/definitions/Error"}},"403":{"description":"Forbidden","schema":{"$ref":"#/definitions/Error"}},"404":{"description":"Not Found","schema":{"$ref":"#/definitions/Error"}},"405":{"description":"Method Not allowed","schema":{"$ref":"#/definitions/Error"}},"409":{"description":"Conflict","schema":{"$ref":"#/definitions/Error"}},"500":{"description":"Internal Server Error","schema":{"$ref":"#/definitions/Error"}}},"security":[{"spring_oauth":["read","write","admin","openapi"]}]}},"/productCatalogManagement/v4/listener/productOfferingPriceStateChangeEvent":{"post":{"tags":["notification listeners (client side)"],"summary":"Client listener for entity ProductOfferingPriceStateChangeEvent","description":"Example of a client listener for receiving the notification ProductOfferingPriceStateChangeEvent","operationId":"listenToProductOfferingPriceStateChangeEvent","consumes":["application/json;charset=utf-8"],"produces":["application/json;charset=utf-8"],"parameters":[{"in":"body","name":"data","description":"The event data","required":true,"schema":{"$ref":"#/definitions/ProductOfferingPriceStateChangeEvent"}}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/EventSubscription"}},"201":{"description":"Notified","schema":{"$ref":"#/definitions/EventSubscription"}},"400":{"description":"Bad Request","schema":{"$ref":"#/definitions/Error"}},"401":{"description":"Unauthorized","schema":{"$ref":"#/definitions/Error"}},"403":{"description":"Forbidden","schema":{"$ref":"#/definitions/Error"}},"404":{"description":"Not Found","schema":{"$ref":"#/definitions/Error"}},"405":{"description":"Method Not allowed","schema":{"$ref":"#/definitions/Error"}},"409":{"description":"Conflict","schema":{"$ref":"#/definitions/Error"}},"500":{"description":"Internal Server Error","schema":{"$ref":"#/definitions/Error"}}},"security":[{"spring_oauth":["read","write","admin","openapi"]}]}},"/productCatalogManagement/v4/listener/productOfferingStateChangeEvent":{"post":{"tags":["notification listeners (client side)"],"summary":"Client listener for entity ProductOfferingStateChangeEvent","description":"Example of a client listener for receiving the notification ProductOfferingStateChangeEvent","operationId":"listenToProductOfferingStateChangeEvent","consumes":["application/json;charset=utf-8"],"produces":["application/json;charset=utf-8"],"parameters":[{"in":"body","name":"data","description":"The event data","required":true,"schema":{"$ref":"#/definitions/ProductOfferingStateChangeEvent"}}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/EventSubscription"}},"201":{"description":"Notified","schema":{"$ref":"#/definitions/EventSubscription"}},"400":{"description":"Bad Request","schema":{"$ref":"#/definitions/Error"}},"401":{"description":"Unauthorized","schema":{"$ref":"#/definitions/Error"}},"403":{"description":"Forbidden","schema":{"$ref":"#/definitions/Error"}},"404":{"description":"Not Found","schema":{"$ref":"#/definitions/Error"}},"405":{"description":"Method Not allowed","schema":{"$ref":"#/definitions/Error"}},"409":{"description":"Conflict","schema":{"$ref":"#/definitions/Error"}},"500":{"description":"Internal Server Error","schema":{"$ref":"#/definitions/Error"}}},"security":[{"spring_oauth":["read","write","admin","openapi"]}]}},"/productCatalogManagement/v4/listener/productSpecificationCreateEvent":{"post":{"tags":["notification listeners (client side)"],"summary":"Client listener for entity ProductSpecificationCreateEvent","description":"Example of a client listener for receiving the notification ProductSpecificationCreateEvent","operationId":"listenToProductSpecificationCreateEvent","consumes":["application/json;charset=utf-8"],"produces":["application/json;charset=utf-8"],"parameters":[{"in":"body","name":"data","description":"The event data","required":true,"schema":{"$ref":"#/definitions/ProductSpecificationCreateEvent"}}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/EventSubscription"}},"201":{"description":"Notified","schema":{"$ref":"#/definitions/EventSubscription"}},"400":{"description":"Bad Request","schema":{"$ref":"#/definitions/Error"}},"401":{"description":"Unauthorized","schema":{"$ref":"#/definitions/Error"}},"403":{"description":"Forbidden","schema":{"$ref":"#/definitions/Error"}},"404":{"description":"Not Found","schema":{"$ref":"#/definitions/Error"}},"405":{"description":"Method Not allowed","schema":{"$ref":"#/definitions/Error"}},"409":{"description":"Conflict","schema":{"$ref":"#/definitions/Error"}},"500":{"description":"Internal Server Error","schema":{"$ref":"#/definitions/Error"}}},"security":[{"spring_oauth":["read","write","admin","openapi"]}]}},"/productCatalogManagement/v4/listener/productSpecificationDeleteEvent":{"post":{"tags":["notification listeners (client side)"],"summary":"Client listener for entity ProductSpecificationDeleteEvent","description":"Example of a client listener for receiving the notification ProductSpecificationDeleteEvent","operationId":"listenToProductSpecificationDeleteEvent","consumes":["application/json;charset=utf-8"],"produces":["application/json;charset=utf-8"],"parameters":[{"in":"body","name":"data","description":"The event data","required":true,"schema":{"$ref":"#/definitions/ProductSpecificationDeleteEvent"}}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/EventSubscription"}},"201":{"description":"Notified","schema":{"$ref":"#/definitions/EventSubscription"}},"400":{"description":"Bad Request","schema":{"$ref":"#/definitions/Error"}},"401":{"description":"Unauthorized","schema":{"$ref":"#/definitions/Error"}},"403":{"description":"Forbidden","schema":{"$ref":"#/definitions/Error"}},"404":{"description":"Not Found","schema":{"$ref":"#/definitions/Error"}},"405":{"description":"Method Not allowed","schema":{"$ref":"#/definitions/Error"}},"409":{"description":"Conflict","schema":{"$ref":"#/definitions/Error"}},"500":{"description":"Internal Server Error","schema":{"$ref":"#/definitions/Error"}}},"security":[{"spring_oauth":["read","write","admin","openapi"]}]}},"/productCatalogManagement/v4/productOffering":{"get":{"tags":["productOffering"],"summary":"List or find ProductOffering objects","description":"This operation list or find ProductOffering entities","operationId":"listProductOffering","produces":["application/json;charset=utf-8"],"parameters":[{"name":"fields","in":"query","description":"Comma-separated properties to be provided in response","required":false,"type":"string"},{"name":"limit","in":"query","description":"Requested number of resources to be provided in response","required":false,"type":"integer","format":"int32"},{"name":"offset","in":"query","description":"Requested index for start of resources to be provided in response","required":false,"type":"integer","format":"int32"}],"responses":{"200":{"description":"Success","schema":{"type":"array","items":{"$ref":"#/definitions/ProductOffering"}}},"400":{"description":"Bad Request","schema":{"$ref":"#/definitions/Error"}},"401":{"description":"Unauthorized","schema":{"$ref":"#/definitions/Error"}},"403":{"description":"Forbidden","schema":{"$ref":"#/definitions/Error"}},"404":{"description":"Not Found","schema":{"$ref":"#/definitions/Error"}},"405":{"description":"Method Not allowed","schema":{"$ref":"#/definitions/Error"}},"409":{"description":"Conflict","schema":{"$ref":"#/definitions/Error"}},"500":{"description":"Internal Server Error","schema":{"$ref":"#/definitions/Error"}}},"security":[{"spring_oauth":["read","write","admin","openapi"]}]},"post":{"tags":["productOffering"],"summary":"Creates a ProductOffering","description":"This operation creates a ProductOffering entity.","operationId":"createProductOffering","consumes":["application/json;charset=utf-8"],"produces":["application/json;charset=utf-8"],"parameters":[{"in":"body","name":"productOffering","description":"The ProductOffering to be created","required":true,"schema":{"$ref":"#/definitions/ProductOfferingCreate"}}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/ProductOffering"}},"201":{"description":"Created","schema":{"$ref":"#/definitions/ProductOffering"}},"400":{"description":"Bad Request","schema":{"$ref":"#/definitions/Error"}},"401":{"description":"Unauthorized","schema":{"$ref":"#/definitions/Error"}},"403":{"description":"Forbidden","schema":{"$ref":"#/definitions/Error"}},"404":{"description":"Not Found"},"405":{"description":"Method Not allowed","schema":{"$ref":"#/definitions/Error"}},"409":{"description":"Conflict","schema":{"$ref":"#/definitions/Error"}},"500":{"description":"Internal Server Error","schema":{"$ref":"#/definitions/Error"}}},"security":[{"spring_oauth":["read","write","admin","openapi"]}]}},"/productCatalogManagement/v4/productOffering/{id}":{"get":{"tags":["productOffering"],"summary":"Retrieves a ProductOffering by ID","description":"This operation retrieves a ProductOffering entity. Attribute selection is enabled for all first level attributes.","operationId":"retrieveProductOffering","produces":["application/json;charset=utf-8"],"parameters":[{"name":"fields","in":"query","description":"Comma-separated properties to provide in response","required":false,"type":"string"},{"name":"id","in":"path","description":"Identifier of the ProductOffering","required":true,"type":"string"}],"responses":{"200":{"description":"Success","schema":{"$ref":"#/definitions/ProductOffering"}},"400":{"description":"Bad Request","schema":{"$ref":"#/definitions/Error"}},"401":{"description":"Unauthorized","schema":{"$ref":"#/definitions/Error"}},"403":{"description":"Forbidden","schema":{"$ref":"#/definitions/Error"}},"404":{"description":"Not Found","schema":{"$ref":"#/definitions/Error"}},"405":{"description":"Method Not allowed","schema":{"$ref":"#/definitions/Error"}},"409":{"description":"Conflict","schema":{"$ref":"#/definitions/Error"}},"500":{"description":"Internal Server Error","schema":{"$ref":"#/definitions/Error"}}},"security":[{"spring_oauth":["read","write","admin","openapi"]}]},"delete":{"tags":["productOffering"],"summary":"Deletes a ProductOffering","description":"This operation deletes a ProductOffering entity.","operationId":"deleteProductOffering","produces":["application/json;charset=utf-8"],"parameters":[{"name":"id","in":"path","description":"Identifier of the ProductOffering","required":true,"type":"string"}],"responses":{"200":{"description":"OK"},"204":{"description":"Deleted","schema":{"$ref":"#/definitions/Error"}},"400":{"description":"Bad Request","schema":{"$ref":"#/definitions/Error"}},"401":{"description":"Unauthorized","schema":{"$ref":"#/definitions/Error"}},"403":{"description":"Forbidden","schema":{"$ref":"#/definitions/Error"}},"404":{"description":"Not Found","schema":{"$ref":"#/definitions/Error"}},"405":{"description":"Method Not allowed","schema":{"$ref":"#/definitions/Error"}},"409":{"description":"Conflict","schema":{"$ref":"#/definitions/Error"}},"500":{"description":"Internal Server Error","schema":{"$ref":"#/definitions/Error"}}},"security":[{"spring_oauth":["read","write","admin","openapi"]}]},"patch":{"tags":["productOffering"],"summary":"Updates partially a ProductOffering","description":"This operation updates partially a ProductOffering entity.","operationId":"patchProductOffering","consumes":["application/json;charset=utf-8"],"produces":["application/json;charset=utf-8"],"parameters":[{"name":"id","in":"path","description":"Identifier of the ProductOffering","required":true,"type":"string"},{"in":"body","name":"productOffering","description":"The ProductOffering to be updated","required":true,"schema":{"$ref":"#/definitions/ProductOfferingUpdate"}}],"responses":{"200":{"description":"Updated","schema":{"$ref":"#/definitions/ProductOffering"}},"204":{"description":"No Content"},"400":{"description":"Bad Request","schema":{"$ref":"#/definitions/Error"}},"401":{"description":"Unauthorized","schema":{"$ref":"#/definitions/Error"}},"403":{"description":"Forbidden","schema":{"$ref":"#/definitions/Error"}},"404":{"description":"Not Found","schema":{"$ref":"#/definitions/Error"}},"405":{"description":"Method Not allowed","schema":{"$ref":"#/definitions/Error"}},"409":{"description":"Conflict","schema":{"$ref":"#/definitions/Error"}},"500":{"description":"Internal Server Error","schema":{"$ref":"#/definitions/Error"}}},"security":[{"spring_oauth":["read","write","admin","openapi"]}]}},"/productCatalogManagement/v4/productOfferingPrice":{"get":{"tags":["productOfferingPrice"],"summary":"List or find ProductOfferingPrice objects","description":"This operation list or find ProductOfferingPrice entities","operationId":"listProductOfferingPrice","produces":["application/json;charset=utf-8"],"parameters":[{"name":"allParams","in":"query","description":"allParams","required":false,"type":"string"},{"name":"fields","in":"query","description":"Comma-separated properties to be provided in response","required":false,"type":"string"},{"name":"limit","in":"query","description":"Requested number of resources to be provided in response","required":false,"type":"integer","format":"int32"},{"name":"offset","in":"query","description":"Requested index for start of resources to be provided in response","required":false,"type":"integer","format":"int32"}],"responses":{"200":{"description":"Success","schema":{"type":"array","items":{"$ref":"#/definitions/ProductOfferingPrice"}}},"400":{"description":"Bad Request","schema":{"$ref":"#/definitions/Error"}},"401":{"description":"Unauthorized","schema":{"$ref":"#/definitions/Error"}},"403":{"description":"Forbidden","schema":{"$ref":"#/definitions/Error"}},"404":{"description":"Not Found","schema":{"$ref":"#/definitions/Error"}},"405":{"description":"Method Not allowed","schema":{"$ref":"#/definitions/Error"}},"409":{"description":"Conflict","schema":{"$ref":"#/definitions/Error"}},"500":{"description":"Internal Server Error","schema":{"$ref":"#/definitions/Error"}}},"security":[{"spring_oauth":["read","write","admin","openapi"]}]},"post":{"tags":["productOfferingPrice"],"summary":"Creates a ProductOfferingPrice","description":"This operation creates a ProductOfferingPrice entity.","operationId":"createProductOfferingPrice","consumes":["application/json;charset=utf-8"],"produces":["application/json;charset=utf-8"],"parameters":[{"in":"body","name":"productOfferingPrice","description":"The ProductOfferingPrice to be created","required":true,"schema":{"$ref":"#/definitions/ProductOfferingPriceCreate"}}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/ProductOfferingPrice"}},"201":{"description":"Created","schema":{"$ref":"#/definitions/ProductOfferingPrice"}},"400":{"description":"Bad Request","schema":{"$ref":"#/definitions/Error"}},"401":{"description":"Unauthorized","schema":{"$ref":"#/definitions/Error"}},"403":{"description":"Forbidden","schema":{"$ref":"#/definitions/Error"}},"404":{"description":"Not Found"},"405":{"description":"Method Not allowed","schema":{"$ref":"#/definitions/Error"}},"409":{"description":"Conflict","schema":{"$ref":"#/definitions/Error"}},"500":{"description":"Internal Server Error","schema":{"$ref":"#/definitions/Error"}}},"security":[{"spring_oauth":["read","write","admin","openapi"]}]}},"/productCatalogManagement/v4/productOfferingPrice/{id}":{"get":{"tags":["productOfferingPrice"],"summary":"Retrieves a ProductOfferingPrice by ID","description":"This operation retrieves a ProductOfferingPrice entity. Attribute selection is enabled for all first level attributes.","operationId":"retrieveProductOfferingPrice","produces":["application/json;charset=utf-8"],"parameters":[{"name":"fields","in":"query","description":"Comma-separated properties to provide in response","required":false,"type":"string"},{"name":"id","in":"path","description":"Identifier of the ProductOfferingPrice","required":true,"type":"string"}],"responses":{"200":{"description":"Success","schema":{"$ref":"#/definitions/ProductOfferingPrice"}},"400":{"description":"Bad Request","schema":{"$ref":"#/definitions/Error"}},"401":{"description":"Unauthorized","schema":{"$ref":"#/definitions/Error"}},"403":{"description":"Forbidden","schema":{"$ref":"#/definitions/Error"}},"404":{"description":"Not Found","schema":{"$ref":"#/definitions/Error"}},"405":{"description":"Method Not allowed","schema":{"$ref":"#/definitions/Error"}},"409":{"description":"Conflict","schema":{"$ref":"#/definitions/Error"}},"500":{"description":"Internal Server Error","schema":{"$ref":"#/definitions/Error"}}},"security":[{"spring_oauth":["read","write","admin","openapi"]}]},"delete":{"tags":["productOfferingPrice"],"summary":"Deletes a ProductOfferingPrice","description":"This operation deletes a ProductOfferingPrice entity.","operationId":"deleteProductOfferingPrice","produces":["application/json;charset=utf-8"],"parameters":[{"name":"id","in":"path","description":"Identifier of the ProductOfferingPrice","required":true,"type":"string"}],"responses":{"200":{"description":"OK"},"204":{"description":"Deleted","schema":{"type":"object"}},"400":{"description":"Bad Request","schema":{"$ref":"#/definitions/Error"}},"401":{"description":"Unauthorized","schema":{"$ref":"#/definitions/Error"}},"403":{"description":"Forbidden","schema":{"$ref":"#/definitions/Error"}},"404":{"description":"Not Found","schema":{"$ref":"#/definitions/Error"}},"405":{"description":"Method Not allowed","schema":{"$ref":"#/definitions/Error"}},"409":{"description":"Conflict","schema":{"$ref":"#/definitions/Error"}},"500":{"description":"Internal Server Error","schema":{"$ref":"#/definitions/Error"}}},"security":[{"spring_oauth":["read","write","admin","openapi"]}]},"patch":{"tags":["productOfferingPrice"],"summary":"Updates partially a ProductOfferingPrice","description":"This operation updates partially a ProductOfferingPrice entity.","operationId":"patchProductOfferingPrice","consumes":["application/json;charset=utf-8"],"produces":["application/json;charset=utf-8"],"parameters":[{"name":"id","in":"path","description":"Identifier of the ProductOfferingPrice","required":true,"type":"string"},{"in":"body","name":"productOfferingPrice","description":"The ProductOfferingPrice to be updated","required":true,"schema":{"$ref":"#/definitions/ProductOfferingPriceUpdate"}}],"responses":{"200":{"description":"Updated","schema":{"$ref":"#/definitions/ProductOfferingPrice"}},"204":{"description":"No Content"},"400":{"description":"Bad Request","schema":{"$ref":"#/definitions/Error"}},"401":{"description":"Unauthorized","schema":{"$ref":"#/definitions/Error"}},"403":{"description":"Forbidden","schema":{"$ref":"#/definitions/Error"}},"404":{"description":"Not Found","schema":{"$ref":"#/definitions/Error"}},"405":{"description":"Method Not allowed","schema":{"$ref":"#/definitions/Error"}},"409":{"description":"Conflict","schema":{"$ref":"#/definitions/Error"}},"500":{"description":"Internal Server Error","schema":{"$ref":"#/definitions/Error"}}},"security":[{"spring_oauth":["read","write","admin","openapi"]}]}},"/productCatalogManagement/v4/productSpecification":{"get":{"tags":["productSpecification"],"summary":"List or find ProductSpecification objects","description":"This operation list or find ProductSpecification entities","operationId":"listProductSpecification","produces":["application/json;charset=utf-8"],"parameters":[{"name":"fields","in":"query","description":"Comma-separated properties to be provided in response","required":false,"type":"string"},{"name":"limit","in":"query","description":"Requested number of resources to be provided in response","required":false,"type":"integer","format":"int32"},{"name":"offset","in":"query","description":"Requested index for start of resources to be provided in response","required":false,"type":"integer","format":"int32"}],"responses":{"200":{"description":"Success","schema":{"type":"array","items":{"$ref":"#/definitions/ProductSpecification"}}},"400":{"description":"Bad Request","schema":{"$ref":"#/definitions/Error"}},"401":{"description":"Unauthorized","schema":{"$ref":"#/definitions/Error"}},"403":{"description":"Forbidden","schema":{"$ref":"#/definitions/Error"}},"404":{"description":"Not Found","schema":{"$ref":"#/definitions/Error"}},"405":{"description":"Method Not allowed","schema":{"$ref":"#/definitions/Error"}},"409":{"description":"Conflict","schema":{"$ref":"#/definitions/Error"}},"500":{"description":"Internal Server Error","schema":{"$ref":"#/definitions/Error"}}},"security":[{"spring_oauth":["read","write","admin","openapi"]}]},"post":{"tags":["productSpecification"],"summary":"Creates a ProductSpecification","description":"This operation creates a ProductSpecification entity.","operationId":"createProductSpecification","consumes":["application/json;charset=utf-8"],"produces":["application/json;charset=utf-8"],"parameters":[{"in":"body","name":"productSpecification","description":"The ProductSpecification to be created","required":true,"schema":{"$ref":"#/definitions/ProductSpecificationCreate"}}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/ProductSpecification"}},"201":{"description":"Created","schema":{"$ref":"#/definitions/ProductSpecification"}},"400":{"description":"Bad Request","schema":{"$ref":"#/definitions/Error"}},"401":{"description":"Unauthorized","schema":{"$ref":"#/definitions/Error"}},"403":{"description":"Forbidden","schema":{"$ref":"#/definitions/Error"}},"404":{"description":"Not Found"},"405":{"description":"Method Not allowed","schema":{"$ref":"#/definitions/Error"}},"409":{"description":"Conflict","schema":{"$ref":"#/definitions/Error"}},"500":{"description":"Internal Server Error","schema":{"$ref":"#/definitions/Error"}}},"security":[{"spring_oauth":["read","write","admin","openapi"]}]}},"/productCatalogManagement/v4/productSpecification/{id}":{"get":{"tags":["productSpecification"],"summary":"Retrieves a ProductSpecification by ID","description":"This operation retrieves a ProductSpecification entity. Attribute selection is enabled for all first level attributes.","operationId":"retrieveProductSpecification","produces":["application/json;charset=utf-8"],"parameters":[{"name":"fields","in":"query","description":"Comma-separated properties to provide in response","required":false,"type":"string"},{"name":"id","in":"path","description":"Identifier of the ProductSpecification","required":true,"type":"string"}],"responses":{"200":{"description":"Success","schema":{"$ref":"#/definitions/ProductSpecification"}},"400":{"description":"Bad Request","schema":{"$ref":"#/definitions/Error"}},"401":{"description":"Unauthorized","schema":{"$ref":"#/definitions/Error"}},"403":{"description":"Forbidden","schema":{"$ref":"#/definitions/Error"}},"404":{"description":"Not Found","schema":{"$ref":"#/definitions/Error"}},"405":{"description":"Method Not allowed","schema":{"$ref":"#/definitions/Error"}},"409":{"description":"Conflict","schema":{"$ref":"#/definitions/Error"}},"500":{"description":"Internal Server Error","schema":{"$ref":"#/definitions/Error"}}},"security":[{"spring_oauth":["read","write","admin","openapi"]}]},"delete":{"tags":["productSpecification"],"summary":"Deletes a ProductSpecification","description":"This operation deletes a ProductSpecification entity.","operationId":"deleteProductSpecification","produces":["application/json;charset=utf-8"],"parameters":[{"name":"id","in":"path","description":"Identifier of the ProductSpecification","required":true,"type":"string"}],"responses":{"200":{"description":"OK"},"204":{"description":"Deleted","schema":{"type":"object"}},"400":{"description":"Bad Request","schema":{"$ref":"#/definitions/Error"}},"401":{"description":"Unauthorized","schema":{"$ref":"#/definitions/Error"}},"403":{"description":"Forbidden","schema":{"$ref":"#/definitions/Error"}},"404":{"description":"Not Found","schema":{"$ref":"#/definitions/Error"}},"405":{"description":"Method Not allowed","schema":{"$ref":"#/definitions/Error"}},"409":{"description":"Conflict","schema":{"$ref":"#/definitions/Error"}},"500":{"description":"Internal Server Error","schema":{"$ref":"#/definitions/Error"}}},"security":[{"spring_oauth":["read","write","admin","openapi"]}]},"patch":{"tags":["productSpecification"],"summary":"Updates partially a ProductSpecification","description":"This operation updates partially a ProductSpecification entity.","operationId":"patchProductSpecification","consumes":["application/json;charset=utf-8"],"produces":["application/json;charset=utf-8"],"parameters":[{"name":"id","in":"path","description":"Identifier of the ProductSpecification","required":true,"type":"string"},{"in":"body","name":"productSpecification","description":"The ProductSpecification to be updated","required":true,"schema":{"$ref":"#/definitions/ProductSpecificationUpdate"}}],"responses":{"200":{"description":"Updated","schema":{"$ref":"#/definitions/ProductSpecification"}},"204":{"description":"No Content"},"400":{"description":"Bad Request","schema":{"$ref":"#/definitions/Error"}},"401":{"description":"Unauthorized","schema":{"$ref":"#/definitions/Error"}},"403":{"description":"Forbidden","schema":{"$ref":"#/definitions/Error"}},"404":{"description":"Not Found","schema":{"$ref":"#/definitions/Error"}},"405":{"description":"Method Not allowed","schema":{"$ref":"#/definitions/Error"}},"409":{"description":"Conflict","schema":{"$ref":"#/definitions/Error"}},"500":{"description":"Internal Server Error","schema":{"$ref":"#/definitions/Error"}}},"security":[{"spring_oauth":["read","write","admin","openapi"]}]}}},"securityDefinitions":{"spring_oauth":{"type":"oauth2","authorizationUrl":"https://portal.5gasp.eu/auth/realms/openslice/protocol/openid-connect/auth","tokenUrl":"https://portal.5gasp.eu/auth/realms/openslice/protocol/openid-connect/token","flow":"accessCode","scopes":{"read":"for read operations","write":"for write operations","admin":"Access admin API","openapi":"Access openapi API"}}},"definitions":{"AgreementRef":{"type":"object","required":["id"],"properties":{"@baseType":{"type":"string","description":"When sub-classing, this defines the super-class"},"@referredType":{"type":"string","description":"The actual type of the target instance when needed for disambiguation."},"@schemaLocation":{"type":"string","description":"A URI to a JSON-Schema file that defines additional attributes and relationships"},"@type":{"type":"string"},"href":{"type":"string","description":"Unique reference of the entity"},"id":{"type":"string","description":"Identifier of the agreement"},"name":{"type":"string","description":"Name of the entity"},"uuid":{"type":"string"}},"title":"AgreementRef","description":"Agreement reference. An agreement represents a contract or arrangement, either written or verbal and sometimes enforceable by law, such as a service level agreement or a customer price agreement. An agreement involves a number of other business entities, such as products, services, and resources and/or their specifications."},"Any":{"type":"object","properties":{"alias":{"type":"string"},"value":{"type":"string"}},"title":"Any"},"AttachmentRefOrValue":{"type":"object","properties":{"@baseType":{"type":"string","description":"When sub-classing, this defines the super-class"},"@referredType":{"type":"string"},"@schemaLocation":{"type":"string","description":"A URI to a JSON-Schema file that defines additional attributes and relationships"},"@type":{"type":"string"},"atReferredType":{"type":"string","description":"The actual type of the target instance when needed for disambiguation."},"attachmentType":{"type":"string","example":"video","description":"Attachment type such as video, picture"},"content":{"type":"string","description":"The actual contents of the attachment object, if embedded, encoded as base64"},"description":{"type":"string","example":"Photograph of the Product","description":"A narrative text describing the content of the attachment"},"href":{"type":"string","description":"Unique reference of the entity"},"id":{"type":"string","example":"4aafacbd-11ff-4dc8-b445-305f2215715f","description":"Unique identifier for this particular attachment"},"mimeType":{"type":"string","description":"Attachment mime type such as extension file for video, picture and document"},"name":{"type":"string","description":"Name of the entity"},"size":{"$ref":"#/definitions/Quantity"},"url":{"type":"string","example":"http://host/Content/4aafacbd-11ff-4dc8-b445-305f2215715f","description":"Uniform Resource Locator, is a web page address (a subset of URI)"},"uuid":{"type":"string"},"validFor":{"$ref":"#/definitions/TimePeriod"}},"title":"AttachmentRefOrValue","description":"An attachment by value or by reference. An attachment complements the description of an element, for example through a document, a video, a picture."},"BundledProductOffering":{"type":"object","required":["id"],"properties":{"@baseType":{"type":"string","description":"When sub-classing, this defines the super-class"},"@schemaLocation":{"type":"string","description":"A URI to a JSON-Schema file that defines additional attributes and relationships"},"@type":{"type":"string","description":"When sub-classing, this defines the sub-class entity name"},"bundledProductOfferingOption":{"description":"A set of numbers that specifies the lower and upper limits for a ProductOffering that can be procured as part of the related BundledProductOffering. Values can range from 0 to unbounded.","$ref":"#/definitions/BundledProductOfferingOption"},"description":{"type":"string","description":"Description of this catalog"},"href":{"type":"string","description":"Unique reference of the BundledProductOffering"},"id":{"type":"string","description":"Unique identifier of a related entity."},"lastUpdate":{"type":"string","description":"Date and time of the last update"},"lifecycleStatus":{"type":"string","description":"Used to indicate the current lifecycle status"},"lifecycleStatusEnum":{"type":"string","enum":["ACTIVE","IN_DESIGN","IN_STUDY","IN_TEST","LAUNCHED","OBSOLETE","REJECTED","RETIRED"]},"name":{"type":"string","description":"Name of the BundledProductOffering"},"uuid":{"type":"string"},"validFor":{"description":"The period for which the entity is valid","$ref":"#/definitions/TimePeriod"},"version":{"type":"string","description":"Entity version"}},"title":"BundledProductOffering","description":"A type of ProductOffering that belongs to a grouping of ProductOfferings made available to the market. It inherits of all attributes of ProductOffering."},"BundledProductOfferingOption":{"type":"object","properties":{"@baseType":{"type":"string","description":"When sub-classing, this defines the super-class"},"@schemaLocation":{"type":"string","description":"A URI to a JSON-Schema file that defines additional attributes and relationships"},"@type":{"type":"string"},"href":{"type":"string","description":"Unique reference of the entity"},"numberRelOfferDefault":{"type":"integer","format":"int32","description":"Default number of produc offereings that should be procured as part of the related BundledProductOffering"},"numberRelOfferLowerLimit":{"type":"integer","format":"int32","description":"lower limit for a product offering that can be procured as part of the related BundledProductOffering"},"numberRelOfferUpperLimit":{"type":"integer","format":"int32","description":"upper limit for a product offering that can be procured as part of the related BundledProductOffering"},"uuid":{"type":"string"}},"title":"BundledProductOfferingOption","description":"A set of numbers that specifies the lower and upper limits for a ProductOffering that can be procured as part of the related BundledProductOffering. Values can range from 0 to unbounded"},"BundledProductOfferingPriceRelationship":{"type":"object","properties":{"@baseType":{"type":"string","description":"When sub-classing, this defines the super-class"},"@schemaLocation":{"type":"string","description":"A URI to a JSON-Schema file that defines additional attributes and relationships"},"@type":{"type":"string"},"description":{"type":"string","description":"Description of this catalog"},"href":{"type":"string","description":"Unique reference of the entity"},"id":{"type":"string","description":"Unique identifier of the bundled product offering price"},"lastUpdate":{"type":"string","description":"Date and time of the last update"},"lifecycleStatus":{"type":"string","description":"Used to indicate the current lifecycle status"},"lifecycleStatusEnum":{"type":"string","enum":["ACTIVE","IN_DESIGN","IN_STUDY","IN_TEST","LAUNCHED","OBSOLETE","REJECTED","RETIRED"]},"name":{"type":"string","description":"Name of the entity"},"uuid":{"type":"string"},"validFor":{"description":"The period for which the entity is valid","$ref":"#/definitions/TimePeriod"},"version":{"type":"string","description":"Entity version"}},"title":"BundledProductOfferingPriceRelationship","description":"This represents a bundling pricing relationship, allowing a price to be composed of multiple other prices (e.g. a recurring charge and a onetime charge)."},"BundledProductOfferingPriceRelationshipReq":{"type":"object","properties":{"@baseType":{"type":"string","description":"When sub-classing, this defines the super-class"},"@schemaLocation":{"type":"string","description":"A URI to a JSON-Schema file that defines additional attributes and relationships"},"@type":{"type":"string"},"description":{"type":"string","description":"Description of this catalog"},"href":{"type":"string","description":"Unique reference of the entity"},"id":{"type":"string","description":"Unique identifier of the bundled product offering price"},"lastUpdate":{"type":"string","description":"Date and time of the last update"},"lifecycleStatus":{"type":"string","description":"Used to indicate the current lifecycle status"},"lifecycleStatusEnum":{"type":"string","enum":["ACTIVE","IN_DESIGN","IN_STUDY","IN_TEST","LAUNCHED","OBSOLETE","REJECTED","RETIRED"]},"name":{"type":"string","description":"Name of the entity"},"uuid":{"type":"string"},"validFor":{"description":"The period for which the entity is valid","$ref":"#/definitions/TimePeriod"},"version":{"type":"string","description":"Entity version"}},"title":"BundledProductOfferingPriceRelationshipReq","description":"This represents a bundling pricing relationship, allowing a price to be composed of multiple other prices (e.g. a recurring charge and a onetime charge)."},"BundledProductOfferingPriceRelationshipRes":{"type":"object","properties":{"@baseType":{"type":"string","description":"When sub-classing, this defines the super-class"},"@schemaLocation":{"type":"string","description":"A URI to a JSON-Schema file that defines additional attributes and relationships"},"@type":{"type":"string"},"description":{"type":"string","description":"Description of this catalog"},"href":{"type":"string","description":"Unique reference of the entity"},"id":{"type":"string","description":"Unique identifier of the bundled product offering price"},"lastUpdate":{"type":"string","description":"Date and time of the last update"},"lifecycleStatus":{"type":"string","description":"Used to indicate the current lifecycle status"},"name":{"type":"string","description":"Name of the entity"},"uuid":{"type":"string"},"validFor":{"description":"The period for which the entity is valid","$ref":"#/definitions/TimePeriod"},"version":{"type":"string","description":"Entity version"}},"title":"BundledProductOfferingPriceRelationshipRes","description":"This represents a bundling pricing relationship, allowing a price to be composed of multiple other prices (e.g. a recurring charge and a onetime charge)."},"BundledProductOfferingReq":{"type":"object","required":["id"],"properties":{"@baseType":{"type":"string","description":"When sub-classing, this defines the super-class"},"@schemaLocation":{"type":"string","description":"A URI to a JSON-Schema file that defines additional attributes and relationships"},"@type":{"type":"string","description":"When sub-classing, this defines the sub-class entity name"},"bundledProductOfferingOption":{"description":"A set of numbers that specifies the lower and upper limits for a ProductOffering that can be procured as part of the related BundledProductOffering. Values can range from 0 to unbounded.","$ref":"#/definitions/BundledProductOfferingOption"},"description":{"type":"string","description":"Description of this catalog"},"href":{"type":"string","description":"Unique reference of the BundledProductOffering"},"id":{"type":"string","description":"Unique identifier of a related entity."},"lastUpdate":{"type":"string","description":"Date and time of the last update"},"lifecycleStatus":{"type":"string","description":"Used to indicate the current lifecycle status"},"lifecycleStatusEnum":{"type":"string","enum":["ACTIVE","IN_DESIGN","IN_STUDY","IN_TEST","LAUNCHED","OBSOLETE","REJECTED","RETIRED"]},"name":{"type":"string","description":"Name of the BundledProductOffering"},"uuid":{"type":"string"},"validFor":{"description":"The period for which the entity is valid","$ref":"#/definitions/TimePeriod"},"version":{"type":"string","description":"Entity version"}},"title":"BundledProductOfferingReq","description":"A type of ProductOffering that belongs to a grouping of ProductOfferings made available to the market. It inherits of all attributes of ProductOffering."},"BundledProductOfferingRes":{"type":"object","required":["id"],"properties":{"@baseType":{"type":"string","description":"When sub-classing, this defines the super-class"},"@schemaLocation":{"type":"string","description":"A URI to a JSON-Schema file that defines additional attributes and relationships"},"@type":{"type":"string","description":"When sub-classing, this defines the sub-class entity name"},"bundledProductOfferingOption":{"description":"A set of numbers that specifies the lower and upper limits for a ProductOffering that can be procured as part of the related BundledProductOffering. Values can range from 0 to unbounded.","$ref":"#/definitions/BundledProductOfferingOption"},"description":{"type":"string","description":"Description of this catalog"},"href":{"type":"string","description":"Unique reference of the BundledProductOffering"},"id":{"type":"string","description":"Unique identifier of a related entity."},"lastUpdate":{"type":"string","description":"Date and time of the last update"},"lifecycleStatus":{"type":"string","description":"Used to indicate the current lifecycle status"},"name":{"type":"string","description":"Name of the BundledProductOffering"},"uuid":{"type":"string"},"validFor":{"description":"The period for which the entity is valid","$ref":"#/definitions/TimePeriod"},"version":{"type":"string","description":"Entity version"}},"title":"BundledProductOfferingRes","description":"A type of ProductOffering that belongs to a grouping of ProductOfferings made available to the market. It inherits of all attributes of ProductOffering."},"BundledProductSpecification":{"type":"object","properties":{"@baseType":{"type":"string","description":"When sub-classing, this defines the super-class"},"@schemaLocation":{"type":"string","description":"A URI to a JSON-Schema file that defines additional attributes and relationships"},"@type":{"type":"string","description":"When sub-classing, this defines the sub-class entity name"},"description":{"type":"string","description":"Description of this catalog"},"href":{"type":"string","description":"Reference of the product specification"},"id":{"type":"string","description":"Unique identifier of the product specification"},"lastUpdate":{"type":"string","description":"Date and time of the last update"},"lifecycleStatus":{"type":"string","description":"Used to indicate the current lifecycle status"},"lifecycleStatusEnum":{"type":"string","enum":["ACTIVE","IN_DESIGN","IN_STUDY","IN_TEST","LAUNCHED","OBSOLETE","REJECTED","RETIRED"]},"name":{"type":"string","description":"Name of the product specification"},"uuid":{"type":"string"},"validFor":{"description":"The period for which the entity is valid","$ref":"#/definitions/TimePeriod"},"version":{"type":"string","description":"Entity version"}},"title":"BundledProductSpecification","description":"A type of ProductSpecification that belongs to a grouping of ProductSpecifications made available to the market. It inherits of all attributes of ProductSpecification."},"BundledProductSpecificationReq":{"type":"object","properties":{"@baseType":{"type":"string","description":"When sub-classing, this defines the super-class"},"@schemaLocation":{"type":"string","description":"A URI to a JSON-Schema file that defines additional attributes and relationships"},"@type":{"type":"string","description":"When sub-classing, this defines the sub-class entity name"},"description":{"type":"string","description":"Description of this catalog"},"href":{"type":"string","description":"Reference of the product specification"},"id":{"type":"string","description":"Unique identifier of the product specification"},"lastUpdate":{"type":"string","description":"Date and time of the last update"},"lifecycleStatus":{"type":"string","description":"Used to indicate the current lifecycle status"},"lifecycleStatusEnum":{"type":"string","enum":["ACTIVE","IN_DESIGN","IN_STUDY","IN_TEST","LAUNCHED","OBSOLETE","REJECTED","RETIRED"]},"name":{"type":"string","description":"Name of the product specification"},"uuid":{"type":"string"},"validFor":{"description":"The period for which the entity is valid","$ref":"#/definitions/TimePeriod"},"version":{"type":"string","description":"Entity version"}},"title":"BundledProductSpecificationReq","description":"A type of ProductSpecification that belongs to a grouping of ProductSpecifications made available to the market. It inherits of all attributes of ProductSpecification."},"BundledProductSpecificationRes":{"type":"object","properties":{"@baseType":{"type":"string","description":"When sub-classing, this defines the super-class"},"@schemaLocation":{"type":"string","description":"A URI to a JSON-Schema file that defines additional attributes and relationships"},"@type":{"type":"string","description":"When sub-classing, this defines the sub-class entity name"},"description":{"type":"string","description":"Description of this catalog"},"href":{"type":"string","description":"Reference of the product specification"},"id":{"type":"string","description":"Unique identifier of the product specification"},"lastUpdate":{"type":"string","description":"Date and time of the last update"},"lifecycleStatus":{"type":"string","description":"Used to indicate the current lifecycle status"},"name":{"type":"string","description":"Name of the product specification"},"uuid":{"type":"string"},"validFor":{"description":"The period for which the entity is valid","$ref":"#/definitions/TimePeriod"},"version":{"type":"string","description":"Entity version"}},"title":"BundledProductSpecificationRes","description":"A type of ProductSpecification that belongs to a grouping of ProductSpecifications made available to the market. It inherits of all attributes of ProductSpecification."},"Catalog":{"type":"object","properties":{"@baseType":{"type":"string","description":"When sub-classing, this defines the super-class"},"@schemaLocation":{"type":"string","description":"A URI to a JSON-Schema file that defines additional attributes and relationships"},"@type":{"type":"string"},"catalogType":{"type":"string","description":"Indicates if the catalog is a product, service or resource catalog"},"category":{"type":"array","description":"List of  categories associated with this catalog","items":{"$ref":"#/definitions/CategoryRef"}},"description":{"type":"string","description":"Description of this catalog"},"href":{"type":"string","description":"Unique reference of the entity"},"id":{"type":"string"},"lastUpdate":{"type":"string","description":"Date and time of the last update"},"lifecycleStatus":{"type":"string","description":"Used to indicate the current lifecycle status"},"lifecycleStatusEnum":{"type":"string","enum":["ACTIVE","IN_DESIGN","IN_STUDY","IN_TEST","LAUNCHED","OBSOLETE","REJECTED","RETIRED"]},"name":{"type":"string","description":"Name of the entity"},"relatedParty":{"type":"array","description":"List of parties involved in this catalog","items":{"$ref":"#/definitions/RelatedParty"}},"uuid":{"type":"string"},"validFor":{"description":"The period for which the entity is valid","$ref":"#/definitions/TimePeriod"},"version":{"type":"string","description":"Entity version"}},"title":"Catalog","description":"A collection of Product Offerings, intended for a specific DistributionChannel, enhanced with additional information such as SLA parameters, invoicing and shipping details"},"CatalogBatchEvent":{"type":"object","properties":{"correlationId":{"type":"string","description":"The correlation id for this event."},"description":{"type":"string","description":"An explnatory of the event."},"domain":{"type":"string","description":"The domain of the event."},"event":{"description":"The event payload linked to the involved resource object","$ref":"#/definitions/CatalogBatchEventPayload"},"eventId":{"type":"string","description":"The identifier of the notification."},"eventTime":{"type":"string","format":"date-time","description":"Time of the event occurrence."},"eventType":{"type":"string","description":"The type of the notification."},"href":{"type":"string","description":"Reference of the ProcessFlow"},"id":{"type":"string","description":"Identifier of the Process flow"},"priority":{"type":"string","description":"A priority."},"timeOcurred":{"type":"string","format":"date-time","description":"The time the event occured."},"title":{"type":"string","description":"The title of the event."}},"title":"CatalogBatchEvent","description":"The notification data structure"},"CatalogBatchEventPayload":{"type":"object","properties":{"catalog":{"description":"The involved resource data for the event","$ref":"#/definitions/Catalog"}},"title":"CatalogBatchEventPayload","description":"The event data structure"},"CatalogCreate":{"type":"object","properties":{"@baseType":{"type":"string","description":"When sub-classing, this defines the super-class"},"@schemaLocation":{"type":"string","description":"A URI to a JSON-Schema file that defines additional attributes and relationships"},"@type":{"type":"string","description":"When sub-classing, this defines the sub-class entity name"},"catalogType":{"type":"string","description":"Indicates if the catalog is a product, service or resource catalog"},"category":{"type":"array","description":"List of root categories contained in this catalog","items":{"$ref":"#/definitions/CategoryRef"}},"description":{"type":"string","description":"Description of this catalog"},"lastUpdate":{"type":"string","format":"date-time","description":"Date and time of the last update"},"lifecycleStatus":{"type":"string","description":"Used to indicate the current lifecycle status"},"name":{"type":"string","description":"Name of the catalog"},"relatedParty":{"type":"array","description":"List of parties involved in this catalog","items":{"$ref":"#/definitions/RelatedParty"}},"validFor":{"description":"The period for which the catalog is valid","$ref":"#/definitions/TimePeriod"},"version":{"type":"string","description":"Catalog version"}},"title":"CatalogCreate","description":"A collection of Product Offerings, intended for a specific DistributionChannel, enhanced with additional information such as SLA parameters, invoicing and shipping details Skipped properties: id,href"},"CatalogCreateEvent":{"type":"object","properties":{"correlationId":{"type":"string","description":"The correlation id for this event."},"description":{"type":"string","description":"An explnatory of the event."},"domain":{"type":"string","description":"The domain of the event."},"event":{"description":"The event payload linked to the involved resource object","$ref":"#/definitions/CatalogCreateEventPayload"},"eventId":{"type":"string","description":"The identifier of the notification."},"eventTime":{"type":"string","format":"date-time","description":"Time of the event occurrence."},"eventType":{"type":"string","description":"The type of the notification."},"href":{"type":"string","description":"Reference of the ProcessFlow"},"id":{"type":"string","description":"Identifier of the Process flow"},"priority":{"type":"string","description":"A priority."},"timeOcurred":{"type":"string","format":"date-time","description":"The time the event occured."},"title":{"type":"string","description":"The title of the event."}},"title":"CatalogCreateEvent","description":"The notification data structure"},"CatalogCreateEventPayload":{"type":"object","properties":{"catalog":{"description":"The involved resource data for the event","$ref":"#/definitions/Catalog"}},"title":"CatalogCreateEventPayload","description":"The event data structure"},"CatalogDeleteEvent":{"type":"object","properties":{"correlationId":{"type":"string","description":"The correlation id for this event."},"description":{"type":"string","description":"An explnatory of the event."},"domain":{"type":"string","description":"The domain of the event."},"event":{"description":"The event payload linked to the involved resource object","$ref":"#/definitions/CatalogDeleteEventPayload"},"eventId":{"type":"string","description":"The identifier of the notification."},"eventTime":{"type":"string","format":"date-time","description":"Time of the event occurrence."},"eventType":{"type":"string","description":"The type of the notification."},"href":{"type":"string","description":"Reference of the ProcessFlow"},"id":{"type":"string","description":"Identifier of the Process flow"},"priority":{"type":"string","description":"A priority."},"timeOcurred":{"type":"string","format":"date-time","description":"The time the event occured."},"title":{"type":"string","description":"The title of the event."}},"title":"CatalogDeleteEvent","description":"The notification data structure"},"CatalogDeleteEventPayload":{"type":"object","properties":{"catalog":{"description":"The involved resource data for the event","$ref":"#/definitions/Catalog"}},"title":"CatalogDeleteEventPayload","description":"The event data structure"},"CatalogUpdate":{"type":"object","properties":{"@baseType":{"type":"string","description":"When sub-classing, this defines the super-class"},"@schemaLocation":{"type":"string","description":"A URI to a JSON-Schema file that defines additional attributes and relationships"},"@type":{"type":"string","description":"When sub-classing, this defines the sub-class entity name"},"catalogType":{"type":"string","description":"Indicates if the catalog is a product, service or resource catalog"},"category":{"type":"array","description":"List of root categories contained in this catalog","items":{"$ref":"#/definitions/CategoryRef"}},"description":{"type":"string","description":"Description of this catalog"},"lifecycleStatus":{"type":"string","description":"Used to indicate the current lifecycle status"},"name":{"type":"string","description":"Name of the catalog"},"relatedParty":{"type":"array","description":"List of parties involved in this catalog","items":{"$ref":"#/definitions/RelatedParty"}},"validFor":{"description":"The period for which the catalog is valid","$ref":"#/definitions/TimePeriod"},"version":{"type":"string","description":"Catalog version"}},"title":"CatalogUpdate","description":"A collection of Product Offerings, intended for a specific DistributionChannel, enhanced with additional information such as SLA parameters, invoicing and shipping details Skipped properties: id,href,lastUpdate"},"Category":{"type":"object","properties":{"@baseType":{"type":"string","description":"When sub-classing, this defines the super-class"},"@schemaLocation":{"type":"string","description":"A URI to a JSON-Schema file that defines additional attributes and relationships"},"@type":{"type":"string"},"description":{"type":"string","description":"Description of this catalog"},"href":{"type":"string","description":"Unique reference of the entity"},"id":{"type":"string"},"isRoot":{"type":"boolean","description":"If true, this Boolean indicates that the category is a root of categories"},"lastUpdate":{"type":"string","description":"Date and time of the last update"},"lifecycleStatus":{"type":"string","description":"Used to indicate the current lifecycle status"},"lifecycleStatusEnum":{"type":"string","enum":["ACTIVE","IN_DESIGN","IN_STUDY","IN_TEST","LAUNCHED","OBSOLETE","REJECTED","RETIRED"]},"name":{"type":"string","description":"Name of the entity"},"parentId":{"type":"string","description":"Unique identifier of the parent category"},"subCategory":{"type":"array","description":"List of child categories in the tree for in this category","items":{"$ref":"#/definitions/CategoryRef"}},"uuid":{"type":"string"},"validFor":{"description":"The period for which the entity is valid","$ref":"#/definitions/TimePeriod"},"version":{"type":"string","description":"Entity version"}},"title":"Category","description":"The category resource is used to group product offerings, service and resource candidates in logical containers. Categories can contain other categories and/or product offerings, resource or service candidates."},"CategoryCreate":{"type":"object","properties":{"@baseType":{"type":"string","description":"When sub-classing, this defines the super-class"},"@schemaLocation":{"type":"string","description":"A URI to a JSON-Schema file that defines additional attributes and relationships"},"@type":{"type":"string","description":"When sub-classing, this defines the sub-class entity name"},"description":{"type":"string","description":"Description of the category"},"isRoot":{"type":"boolean","description":"If true, this Boolean indicates that the category is a root of categories"},"lastUpdate":{"type":"string","format":"date-time","description":"Date and time of the last update"},"lifecycleStatus":{"type":"string","description":"Used to indicate the current lifecycle status"},"name":{"type":"string","description":"Name of the category"},"parentId":{"type":"string","description":"Unique identifier of the parent category"},"productOffering":{"type":"array","description":"A product offering represents entities that are orderable from the provider of the catalog, this resource includes pricing information.","items":{"$ref":"#/definitions/ProductOfferingRef"}},"subCategory":{"type":"array","description":"The category resource is used to group product offerings, service and resource candidates in logical containers. Categories can contain other (sub-)categories and/or product offerings.","items":{"$ref":"#/definitions/CategoryRef"}},"validFor":{"description":"The period for which the category is valid","$ref":"#/definitions/TimePeriod"},"version":{"type":"string","description":"Category version"}},"title":"CategoryCreate","description":"The category resource is used to group product offerings, service and resource candidates in logical containers. Categories can contain other categories and/or product offerings, resource or service candidates. Skipped properties: id,href"},"CategoryCreateEvent":{"type":"object","properties":{"correlationId":{"type":"string","description":"The correlation id for this event."},"description":{"type":"string","description":"An explnatory of the event."},"domain":{"type":"string","description":"The domain of the event."},"event":{"description":"The event payload linked to the involved resource object","$ref":"#/definitions/CategoryCreateEventPayload"},"eventId":{"type":"string","description":"The identifier of the notification."},"eventTime":{"type":"string","format":"date-time","description":"Time of the event occurrence."},"eventType":{"type":"string","description":"The type of the notification."},"href":{"type":"string","description":"Reference of the ProcessFlow"},"id":{"type":"string","description":"Identifier of the Process flow"},"priority":{"type":"string","description":"A priority."},"timeOcurred":{"type":"string","format":"date-time","description":"The time the event occured."},"title":{"type":"string","description":"The title of the event."}},"title":"CategoryCreateEvent","description":"The notification data structure"},"CategoryCreateEventPayload":{"type":"object","properties":{"category":{"description":"The involved resource data for the event","$ref":"#/definitions/Category"}},"title":"CategoryCreateEventPayload","description":"The event data structure"},"CategoryDeleteEvent":{"type":"object","properties":{"correlationId":{"type":"string","description":"The correlation id for this event."},"description":{"type":"string","description":"An explnatory of the event."},"domain":{"type":"string","description":"The domain of the event."},"event":{"description":"The event payload linked to the involved resource object","$ref":"#/definitions/CategoryDeleteEventPayload"},"eventId":{"type":"string","description":"The identifier of the notification."},"eventTime":{"type":"string","format":"date-time","description":"Time of the event occurrence."},"eventType":{"type":"string","description":"The type of the notification."},"href":{"type":"string","description":"Reference of the ProcessFlow"},"id":{"type":"string","description":"Identifier of the Process flow"},"priority":{"type":"string","description":"A priority."},"timeOcurred":{"type":"string","format":"date-time","description":"The time the event occured."},"title":{"type":"string","description":"The title of the event."}},"title":"CategoryDeleteEvent","description":"The notification data structure"},"CategoryDeleteEventPayload":{"type":"object","properties":{"category":{"description":"The involved resource data for the event","$ref":"#/definitions/Category"}},"title":"CategoryDeleteEventPayload","description":"The event data structure"},"CategoryRef":{"type":"object","required":["id"],"properties":{"@baseType":{"type":"string","description":"When sub-classing, this defines the super-class"},"@referredType":{"type":"string","description":"The actual type of the target instance when needed for disambiguation."},"@schemaLocation":{"type":"string","description":"A URI to a JSON-Schema file that defines additional attributes and relationships"},"@type":{"type":"string"},"href":{"type":"string","description":"Unique reference of the entity"},"id":{"type":"string","description":"Unique identifier of a related entity."},"name":{"type":"string","description":"Name of the entity"},"version":{"type":"string"}},"title":"CategoryRef","description":"The category for grouping recommendations"},"CategoryUpdate":{"type":"object","properties":{"@baseType":{"type":"string","description":"When sub-classing, this defines the super-class"},"@schemaLocation":{"type":"string","description":"A URI to a JSON-Schema file that defines additional attributes and relationships"},"@type":{"type":"string","description":"When sub-classing, this defines the sub
[...]
