{"swagger":"2.0","info":{"description":"## TMF API Reference: TMF633 - Service Catalog Management  ### Release : 18.5 - December 2018  Service Catalog API is one of Catalog Management API Family. Service Catalog API goal is to provide a catalog of services.   ### Resource  - serviceCatalog  ### Operations Service Catalog API performs the following operations on the resource : - Retrieve an entity or a collection of entities depending on filter criteria - Partial update of an entity (including updating rules) - Create an entity (including default values and creation rules) - Delete an entity (for administration purposes) - Manage notification of events","version":"4.0.0","title":"Service Catalog Management","contact":{},"license":{"url":"http://unlicense.org"}},"host":"portal.openslice.io","basePath":"/tmf-api", "tags":[{"name":"export-job-api-controller-633","description":"the exportJob API"},{"name":"hub-api-controller","description":"the hub API"},{"name":"import-job-api-controller","description":"the importJob API"},{"name":"listener-api-controller","description":"the listener API"},{"name":"service-candidate-api-controller","description":"the serviceCandidate API"},{"name":"service-catalog-api-controller","description":"the serviceCatalog API"},{"name":"service-category-api-controller","description":"the serviceCategory API"},{"name":"service-specification-api-controller","description":"the serviceSpecification API"}],"paths":{"/serviceCatalogManagement/v4/exportJob":{"get":{"tags":["exportJob"],"summary":"List or find ExportJob objects","description":"This operation list or find ExportJob entities","operationId":"listExportJob_1","consumes":["application/json;charset=utf-8"],"produces":["application/json;charset=utf-8"],"parameters":[{"name":"fields","in":"query","description":"Comma-separated properties to be provided in response","required":false,"type":"string"},{"name":"limit","in":"query","description":"Requested number of resources to be provided in response","required":false,"type":"integer","format":"int32"},{"name":"offset","in":"query","description":"Requested index for start of resources to be provided in response","required":false,"type":"integer","format":"int32"}],"responses":{"200":{"description":"Success","schema":{"type":"array","items":{"$ref":"#/definitions/ExportJob"}}},"400":{"description":"Bad Request","schema":{"$ref":"#/definitions/Error"}},"401":{"description":"Unauthorized","schema":{"$ref":"#/definitions/Error"}},"403":{"description":"Forbidden","schema":{"$ref":"#/definitions/Error"}},"404":{"description":"Not Found","schema":{"$ref":"#/definitions/Error"}},"405":{"description":"Method Not allowed","schema":{"$ref":"#/definitions/Error"}},"409":{"description":"Conflict","schema":{"$ref":"#/definitions/Error"}},"500":{"description":"Internal Server Error","schema":{"$ref":"#/definitions/Error"}}},"security":[{"spring_oauth":["read","write","admin","openapi"]}]},"post":{"tags":["exportJob"],"summary":"Creates a ExportJob","description":"This operation creates a ExportJob entity.","operationId":"createExportJob_1","consumes":["application/json;charset=utf-8"],"produces":["application/json;charset=utf-8"],"parameters":[{"in":"body","name":"exportJob","description":"The ExportJob to be created","required":true,"schema":{"$ref":"#/definitions/ExportJobCreate"}}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/ExportJob"}},"201":{"description":"Created","schema":{"$ref":"#/definitions/ExportJob"}},"400":{"description":"Bad Request","schema":{"$ref":"#/definitions/Error"}},"401":{"description":"Unauthorized","schema":{"$ref":"#/definitions/Error"}},"403":{"description":"Forbidden","schema":{"$ref":"#/definitions/Error"}},"404":{"description":"Not Found"},"405":{"description":"Method Not allowed","schema":{"$ref":"#/definitions/Error"}},"409":{"description":"Conflict","schema":{"$ref":"#/definitions/Error"}},"500":{"description":"Internal Server Error","schema":{"$ref":"#/definitions/Error"}}},"security":[{"spring_oauth":["read","write","admin","openapi"]}]}},"/serviceCatalogManagement/v4/exportJob/{id}":{"get":{"tags":["exportJob"],"summary":"Retrieves a ExportJob by ID","description":"This operation retrieves a ExportJob entity. Attribute selection is enabled for all first level attributes.","operationId":"retrieveExportJob_1","consumes":["application/json;charset=utf-8"],"produces":["application/json;charset=utf-8"],"parameters":[{"name":"fields","in":"query","description":"Comma-separated properties to provide in response","required":false,"type":"string"},{"name":"id","in":"path","description":"Identifier of the ExportJob","required":true,"type":"string"}],"responses":{"200":{"description":"Success","schema":{"$ref":"#/definitions/ExportJob"}},"400":{"description":"Bad Request","schema":{"$ref":"#/definitions/Error"}},"401":{"description":"Unauthorized","schema":{"$ref":"#/definitions/Error"}},"403":{"description":"Forbidden","schema":{"$ref":"#/definitions/Error"}},"404":{"description":"Not Found","schema":{"$ref":"#/definitions/Error"}},"405":{"description":"Method Not allowed","schema":{"$ref":"#/definitions/Error"}},"409":{"description":"Conflict","schema":{"$ref":"#/definitions/Error"}},"500":{"description":"Internal Server Error","schema":{"$ref":"#/definitions/Error"}}},"security":[{"spring_oauth":["read","write","admin","openapi"]}]},"delete":{"tags":["exportJob"],"summary":"Deletes a ExportJob","description":"This operation deletes a ExportJob entity.","operationId":"deleteExportJob_1","consumes":["application/json;charset=utf-8"],"produces":["application/json;charset=utf-8"],"parameters":[{"name":"id","in":"path","description":"Identifier of the ExportJob","required":true,"type":"string"}],"responses":{"200":{"description":"OK"},"204":{"description":"Deleted"},"400":{"description":"Bad Request","schema":{"$ref":"#/definitions/Error"}},"401":{"description":"Unauthorized","schema":{"$ref":"#/definitions/Error"}},"403":{"description":"Forbidden","schema":{"$ref":"#/definitions/Error"}},"404":{"description":"Not Found","schema":{"$ref":"#/definitions/Error"}},"405":{"description":"Method Not allowed","schema":{"$ref":"#/definitions/Error"}},"409":{"description":"Conflict","schema":{"$ref":"#/definitions/Error"}},"500":{"description":"Internal Server Error","schema":{"$ref":"#/definitions/Error"}}},"security":[{"spring_oauth":["read","write","admin","openapi"]}]}},"/serviceCatalogManagement/v4/hub":{"post":{"tags":["events subscription"],"summary":"Register a listener","description":"Sets the communication endpoint address the service instance must use to deliver information about its health state, execution state, failures and metrics.","operationId":"registerListener_3","consumes":["application/json;charset=utf-8"],"produces":["application/json;charset=utf-8"],"parameters":[{"in":"body","name":"data","description":"Data containing the callback endpoint to deliver the information","required":true,"schema":{"$ref":"#/definitions/EventSubscriptionInput"}}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/EventSubscription"}},"201":{"description":"Subscribed","schema":{"$ref":"#/definitions/EventSubscription"}},"400":{"description":"Bad Request","schema":{"$ref":"#/definitions/Error"}},"401":{"description":"Unauthorized","schema":{"$ref":"#/definitions/Error"}},"403":{"description":"Forbidden","schema":{"$ref":"#/definitions/Error"}},"404":{"description":"Not Found","schema":{"$ref":"#/definitions/Error"}},"405":{"description":"Method Not allowed","schema":{"$ref":"#/definitions/Error"}},"409":{"description":"Conflict","schema":{"$ref":"#/definitions/Error"}},"500":{"description":"Internal Server Error","schema":{"$ref":"#/definitions/Error"}}},"security":[{"spring_oauth":["read","write","admin","openapi"]}]}},"/serviceCatalogManagement/v4/hub/{id}":{"delete":{"tags":["events subscription"],"summary":"Unregister a listener","description":"Resets the communication endpoint address the service instance must use to deliver information about its health state, execution state, failures and metrics.","operationId":"unregisterListener_3","consumes":["application/json;charset=utf-8"],"produces":["application/json;charset=utf-8"],"parameters":[{"name":"id","in":"path","description":"The id of the registered listener","required":true,"type":"string"}],"responses":{"200":{"description":"OK"},"204":{"description":"Deleted"},"400":{"description":"Bad request","schema":{"$ref":"#/definitions/Error"}},"401":{"description":"Unauthorized","schema":{"$ref":"#/definitions/Error"}},"403":{"description":"Forbidden","schema":{"$ref":"#/definitions/Error"}},"404":{"description":"Not Found","schema":{"$ref":"#/definitions/Error"}},"405":{"description":"Method not allowed","schema":{"$ref":"#/definitions/Error"}},"500":{"description":"Internal Server Error","schema":{"$ref":"#/definitions/Error"}}},"security":[{"spring_oauth":["read","write","admin","openapi"]}]}},"/serviceCatalogManagement/v4/importJob":{"get":{"tags":["importJob"],"summary":"List or find ImportJob objects","description":"This operation list or find ImportJob entities","operationId":"listImportJob_1","consumes":["application/json;charset=utf-8"],"produces":["application/json;charset=utf-8"],"parameters":[{"name":"fields","in":"query","description":"Comma-separated properties to be provided in response","required":false,"type":"string"},{"name":"limit","in":"query","description":"Requested number of resources to be provided in response","required":false,"type":"integer","format":"int32"},{"name":"offset","in":"query","description":"Requested index for start of resources to be provided in response","required":false,"type":"integer","format":"int32"}],"responses":{"200":{"description":"Success","schema":{"type":"array","items":{"$ref":"#/definitions/ImportJob"}}},"400":{"description":"Bad Request","schema":{"$ref":"#/definitions/Error"}},"401":{"description":"Unauthorized","schema":{"$ref":"#/definitions/Error"}},"403":{"description":"Forbidden","schema":{"$ref":"#/definitions/Error"}},"404":{"description":"Not Found","schema":{"$ref":"#/definitions/Error"}},"405":{"description":"Method Not allowed","schema":{"$ref":"#/definitions/Error"}},"409":{"description":"Conflict","schema":{"$ref":"#/definitions/Error"}},"500":{"description":"Internal Server Error","schema":{"$ref":"#/definitions/Error"}}},"security":[{"spring_oauth":["read","write","admin","openapi"]}]},"post":{"tags":["importJob"],"summary":"Creates a ImportJob","description":"This operation creates a ImportJob entity.","operationId":"createImportJob_1","consumes":["application/json;charset=utf-8"],"produces":["application/json;charset=utf-8"],"parameters":[{"in":"body","name":"importJob","description":"The ImportJob to be created","required":true,"schema":{"$ref":"#/definitions/ImportJobCreate"}}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/ImportJob"}},"201":{"description":"Created","schema":{"$ref":"#/definitions/ImportJob"}},"400":{"description":"Bad Request","schema":{"$ref":"#/definitions/Error"}},"401":{"description":"Unauthorized","schema":{"$ref":"#/definitions/Error"}},"403":{"description":"Forbidden","schema":{"$ref":"#/definitions/Error"}},"404":{"description":"Not Found"},"405":{"description":"Method Not allowed","schema":{"$ref":"#/definitions/Error"}},"409":{"description":"Conflict","schema":{"$ref":"#/definitions/Error"}},"500":{"description":"Internal Server Error","schema":{"$ref":"#/definitions/Error"}}},"security":[{"spring_oauth":["read","write","admin","openapi"]}]}},"/serviceCatalogManagement/v4/importJob/{id}":{"get":{"tags":["importJob"],"summary":"Retrieves a ImportJob by ID","description":"This operation retrieves a ImportJob entity. Attribute selection is enabled for all first level attributes.","operationId":"retrieveImportJob_1","consumes":["application/json;charset=utf-8"],"produces":["application/json;charset=utf-8"],"parameters":[{"name":"fields","in":"query","description":"Comma-separated properties to provide in response","required":false,"type":"string"},{"name":"id","in":"path","description":"Identifier of the ImportJob","required":true,"type":"string"}],"responses":{"200":{"description":"Success","schema":{"$ref":"#/definitions/ImportJob"}},"400":{"description":"Bad Request","schema":{"$ref":"#/definitions/Error"}},"401":{"description":"Unauthorized","schema":{"$ref":"#/definitions/Error"}},"403":{"description":"Forbidden","schema":{"$ref":"#/definitions/Error"}},"404":{"description":"Not Found","schema":{"$ref":"#/definitions/Error"}},"405":{"description":"Method Not allowed","schema":{"$ref":"#/definitions/Error"}},"409":{"description":"Conflict","schema":{"$ref":"#/definitions/Error"}},"500":{"description":"Internal Server Error","schema":{"$ref":"#/definitions/Error"}}},"security":[{"spring_oauth":["read","write","admin","openapi"]}]},"delete":{"tags":["importJob"],"summary":"Deletes a ImportJob","description":"This operation deletes a ImportJob entity.","operationId":"deleteImportJob_1","consumes":["application/json;charset=utf-8"],"produces":["application/json;charset=utf-8"],"parameters":[{"name":"id","in":"path","description":"Identifier of the ImportJob","required":true,"type":"string"}],"responses":{"200":{"description":"OK"},"204":{"description":"Deleted"},"400":{"description":"Bad Request","schema":{"$ref":"#/definitions/Error"}},"401":{"description":"Unauthorized","schema":{"$ref":"#/definitions/Error"}},"403":{"description":"Forbidden","schema":{"$ref":"#/definitions/Error"}},"404":{"description":"Not Found","schema":{"$ref":"#/definitions/Error"}},"405":{"description":"Method Not allowed","schema":{"$ref":"#/definitions/Error"}},"409":{"description":"Conflict","schema":{"$ref":"#/definitions/Error"}},"500":{"description":"Internal Server Error","schema":{"$ref":"#/definitions/Error"}}},"security":[{"spring_oauth":["read","write","admin","openapi"]}]}},"/serviceCatalogManagement/v4/listener/serviceCandidateChangeNotification":{"post":{"tags":["notification listeners (client side)"],"summary":"Client listener for entity ServiceCandidateChangeNotification","description":"Example of a client listener for receiving the notification ServiceCandidateChangeNotification","operationId":"listenToServiceCandidateChangeNotification","consumes":["application/json;charset=utf-8"],"produces":["application/json;charset=utf-8"],"parameters":[{"in":"body","name":"data","description":"The event data","required":true,"schema":{"$ref":"#/definitions/ServiceCandidateChangeNotification"}}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/EventSubscription"}},"201":{"description":"Notified","schema":{"$ref":"#/definitions/EventSubscription"}},"400":{"description":"Bad Request","schema":{"$ref":"#/definitions/Error"}},"401":{"description":"Unauthorized","schema":{"$ref":"#/definitions/Error"}},"403":{"description":"Forbidden","schema":{"$ref":"#/definitions/Error"}},"404":{"description":"Not Found","schema":{"$ref":"#/definitions/Error"}},"405":{"description":"Method Not allowed","schema":{"$ref":"#/definitions/Error"}},"409":{"description":"Conflict","schema":{"$ref":"#/definitions/Error"}},"500":{"description":"Internal Server Error","schema":{"$ref":"#/definitions/Error"}}},"security":[{"spring_oauth":["read","write","admin","openapi"]}]}},"/serviceCatalogManagement/v4/listener/serviceCandidateCreateNotification":{"post":{"tags":["notification listeners (client side)"],"summary":"Client listener for entity ServiceCandidateCreateNotification","description":"Example of a client listener for receiving the notification ServiceCandidateCreateNotification","operationId":"listenToServiceCandidateCreateNotification","consumes":["application/json;charset=utf-8"],"produces":["application/json;charset=utf-8"],"parameters":[{"in":"body","name":"data","description":"The event data","required":true,"schema":{"$ref":"#/definitions/ServiceCandidateCreateNotification"}}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/EventSubscription"}},"201":{"description":"Notified","schema":{"$ref":"#/definitions/EventSubscription"}},"400":{"description":"Bad Request","schema":{"$ref":"#/definitions/Error"}},"401":{"description":"Unauthorized","schema":{"$ref":"#/definitions/Error"}},"403":{"description":"Forbidden","schema":{"$ref":"#/definitions/Error"}},"404":{"description":"Not Found","schema":{"$ref":"#/definitions/Error"}},"405":{"description":"Method Not allowed","schema":{"$ref":"#/definitions/Error"}},"409":{"description":"Conflict","schema":{"$ref":"#/definitions/Error"}},"500":{"description":"Internal Server Error","schema":{"$ref":"#/definitions/Error"}}},"security":[{"spring_oauth":["read","write","admin","openapi"]}]}},"/serviceCatalogManagement/v4/listener/serviceCandidateDeleteNotification":{"post":{"tags":["notification listeners (client side)"],"summary":"Client listener for entity ServiceCandidateDeleteNotification","description":"Example of a client listener for receiving the notification ServiceCandidateDeleteNotification","operationId":"listenToServiceCandidateDeleteNotification","consumes":["application/json;charset=utf-8"],"produces":["application/json;charset=utf-8"],"parameters":[{"in":"body","name":"data","description":"The event data","required":true,"schema":{"$ref":"#/definitions/ServiceCandidateDeleteNotification"}}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/EventSubscription"}},"201":{"description":"Notified","schema":{"$ref":"#/definitions/EventSubscription"}},"400":{"description":"Bad Request","schema":{"$ref":"#/definitions/Error"}},"401":{"description":"Unauthorized","schema":{"$ref":"#/definitions/Error"}},"403":{"description":"Forbidden","schema":{"$ref":"#/definitions/Error"}},"404":{"description":"Not Found","schema":{"$ref":"#/definitions/Error"}},"405":{"description":"Method Not allowed","schema":{"$ref":"#/definitions/Error"}},"409":{"description":"Conflict","schema":{"$ref":"#/definitions/Error"}},"500":{"description":"Internal Server Error","schema":{"$ref":"#/definitions/Error"}}},"security":[{"spring_oauth":["read","write","admin","openapi"]}]}},"/serviceCatalogManagement/v4/listener/serviceCatalogBatchNotification":{"post":{"tags":["notification listeners (client side)"],"summary":"Client listener for entity ServiceCatalogBatchNotification","description":"Example of a client listener for receiving the notification ServiceCatalogBatchNotification","operationId":"listenToServiceCatalogBatchNotification","consumes":["application/json;charset=utf-8"],"produces":["application/json;charset=utf-8"],"parameters":[{"in":"body","name":"data","description":"The event data","required":true,"schema":{"$ref":"#/definitions/ServiceCatalogBatchNotification"}}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/EventSubscription"}},"201":{"description":"Notified","schema":{"$ref":"#/definitions/EventSubscription"}},"400":{"description":"Bad Request","schema":{"$ref":"#/definitions/Error"}},"401":{"description":"Unauthorized","schema":{"$ref":"#/definitions/Error"}},"403":{"description":"Forbidden","schema":{"$ref":"#/definitions/Error"}},"404":{"description":"Not Found","schema":{"$ref":"#/definitions/Error"}},"405":{"description":"Method Not allowed","schema":{"$ref":"#/definitions/Error"}},"409":{"description":"Conflict","schema":{"$ref":"#/definitions/Error"}},"500":{"description":"Internal Server Error","schema":{"$ref":"#/definitions/Error"}}},"security":[{"spring_oauth":["read","write","admin","openapi"]}]}},"/serviceCatalogManagement/v4/listener/serviceCatalogChangeNotification":{"post":{"tags":["notification listeners (client side)"],"summary":"Client listener for entity ServiceCatalogChangeNotification","description":"Example of a client listener for receiving the notification ServiceCatalogChangeNotification","operationId":"listenToServiceCatalogChangeNotification","consumes":["application/json;charset=utf-8"],"produces":["application/json;charset=utf-8"],"parameters":[{"in":"body","name":"data","description":"The event data","required":true,"schema":{"$ref":"#/definitions/ServiceCatalogChangeNotification"}}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/EventSubscription"}},"201":{"description":"Notified","schema":{"$ref":"#/definitions/EventSubscription"}},"400":{"description":"Bad Request","schema":{"$ref":"#/definitions/Error"}},"401":{"description":"Unauthorized","schema":{"$ref":"#/definitions/Error"}},"403":{"description":"Forbidden","schema":{"$ref":"#/definitions/Error"}},"404":{"description":"Not Found","schema":{"$ref":"#/definitions/Error"}},"405":{"description":"Method Not allowed","schema":{"$ref":"#/definitions/Error"}},"409":{"description":"Conflict","schema":{"$ref":"#/definitions/Error"}},"500":{"description":"Internal Server Error","schema":{"$ref":"#/definitions/Error"}}},"security":[{"spring_oauth":["read","write","admin","openapi"]}]}},"/serviceCatalogManagement/v4/listener/serviceCatalogCreateNotification":{"post":{"tags":["notification listeners (client side)"],"summary":"Client listener for entity ServiceCatalogCreateNotification","description":"Example of a client listener for receiving the notification ServiceCatalogCreateNotification","operationId":"listenToServiceCatalogCreateNotification","consumes":["application/json;charset=utf-8"],"produces":["application/json;charset=utf-8"],"parameters":[{"in":"body","name":"data","description":"The event data","required":true,"schema":{"$ref":"#/definitions/ServiceCatalogCreateNotification"}}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/EventSubscription"}},"201":{"description":"Notified","schema":{"$ref":"#/definitions/EventSubscription"}},"400":{"description":"Bad Request","schema":{"$ref":"#/definitions/Error"}},"401":{"description":"Unauthorized","schema":{"$ref":"#/definitions/Error"}},"403":{"description":"Forbidden","schema":{"$ref":"#/definitions/Error"}},"404":{"description":"Not Found","schema":{"$ref":"#/definitions/Error"}},"405":{"description":"Method Not allowed","schema":{"$ref":"#/definitions/Error"}},"409":{"description":"Conflict","schema":{"$ref":"#/definitions/Error"}},"500":{"description":"Internal Server Error","schema":{"$ref":"#/definitions/Error"}}},"security":[{"spring_oauth":["read","write","admin","openapi"]}]}},"/serviceCatalogManagement/v4/listener/serviceCatalogDeleteNotification":{"post":{"tags":["notification listeners (client side)"],"summary":"Client listener for entity ServiceCatalogDeleteNotification","description":"Example of a client listener for receiving the notification ServiceCatalogDeleteNotification","operationId":"listenToServiceCatalogDeleteNotification","consumes":["application/json;charset=utf-8"],"produces":["application/json;charset=utf-8"],"parameters":[{"in":"body","name":"data","description":"The event data","required":true,"schema":{"$ref":"#/definitions/ServiceCatalogDeleteNotification"}}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/EventSubscription"}},"201":{"description":"Notified","schema":{"$ref":"#/definitions/EventSubscription"}},"400":{"description":"Bad Request","schema":{"$ref":"#/definitions/Error"}},"401":{"description":"Unauthorized","schema":{"$ref":"#/definitions/Error"}},"403":{"description":"Forbidden","schema":{"$ref":"#/definitions/Error"}},"404":{"description":"Not Found","schema":{"$ref":"#/definitions/Error"}},"405":{"description":"Method Not allowed","schema":{"$ref":"#/definitions/Error"}},"409":{"description":"Conflict","schema":{"$ref":"#/definitions/Error"}},"500":{"description":"Internal Server Error","schema":{"$ref":"#/definitions/Error"}}},"security":[{"spring_oauth":["read","write","admin","openapi"]}]}},"/serviceCatalogManagement/v4/listener/serviceCategoryChangeNotification":{"post":{"tags":["notification listeners (client side)"],"summary":"Client listener for entity ServiceCategoryChangeNotification","description":"Example of a client listener for receiving the notification ServiceCategoryChangeNotification","operationId":"listenToServiceCategoryChangeNotification","consumes":["application/json;charset=utf-8"],"produces":["application/json;charset=utf-8"],"parameters":[{"in":"body","name":"data","description":"The event data","required":true,"schema":{"$ref":"#/definitions/ServiceCategoryChangeNotification"}}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/EventSubscription"}},"201":{"description":"Notified","schema":{"$ref":"#/definitions/EventSubscription"}},"400":{"description":"Bad Request","schema":{"$ref":"#/definitions/Error"}},"401":{"description":"Unauthorized","schema":{"$ref":"#/definitions/Error"}},"403":{"description":"Forbidden","schema":{"$ref":"#/definitions/Error"}},"404":{"description":"Not Found","schema":{"$ref":"#/definitions/Error"}},"405":{"description":"Method Not allowed","schema":{"$ref":"#/definitions/Error"}},"409":{"description":"Conflict","schema":{"$ref":"#/definitions/Error"}},"500":{"description":"Internal Server Error","schema":{"$ref":"#/definitions/Error"}}},"security":[{"spring_oauth":["read","write","admin","openapi"]}]}},"/serviceCatalogManagement/v4/listener/serviceCategoryCreateNotification":{"post":{"tags":["notification listeners (client side)"],"summary":"Client listener for entity ServiceCategoryCreateNotification","description":"Example of a client listener for receiving the notification ServiceCategoryCreateNotification","operationId":"listenToServiceCategoryCreateNotification","consumes":["application/json;charset=utf-8"],"produces":["application/json;charset=utf-8"],"parameters":[{"in":"body","name":"data","description":"The event data","required":true,"schema":{"$ref":"#/definitions/ServiceCategoryCreateNotification"}}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/EventSubscription"}},"201":{"description":"Notified","schema":{"$ref":"#/definitions/EventSubscription"}},"400":{"description":"Bad Request","schema":{"$ref":"#/definitions/Error"}},"401":{"description":"Unauthorized","schema":{"$ref":"#/definitions/Error"}},"403":{"description":"Forbidden","schema":{"$ref":"#/definitions/Error"}},"404":{"description":"Not Found","schema":{"$ref":"#/definitions/Error"}},"405":{"description":"Method Not allowed","schema":{"$ref":"#/definitions/Error"}},"409":{"description":"Conflict","schema":{"$ref":"#/definitions/Error"}},"500":{"description":"Internal Server Error","schema":{"$ref":"#/definitions/Error"}}},"security":[{"spring_oauth":["read","write","admin","openapi"]}]}},"/serviceCatalogManagement/v4/listener/serviceCategoryDeleteNotification":{"post":{"tags":["notification listeners (client side)"],"summary":"Client listener for entity ServiceCategoryDeleteNotification","description":"Example of a client listener for receiving the notification ServiceCategoryDeleteNotification","operationId":"listenToServiceCategoryDeleteNotification","consumes":["application/json;charset=utf-8"],"produces":["application/json;charset=utf-8"],"parameters":[{"in":"body","name":"data","description":"The event data","required":true,"schema":{"$ref":"#/definitions/ServiceCategoryDeleteNotification"}}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/EventSubscription"}},"201":{"description":"Notified","schema":{"$ref":"#/definitions/EventSubscription"}},"400":{"description":"Bad Request","schema":{"$ref":"#/definitions/Error"}},"401":{"description":"Unauthorized","schema":{"$ref":"#/definitions/Error"}},"403":{"description":"Forbidden","schema":{"$ref":"#/definitions/Error"}},"404":{"description":"Not Found","schema":{"$ref":"#/definitions/Error"}},"405":{"description":"Method Not allowed","schema":{"$ref":"#/definitions/Error"}},"409":{"description":"Conflict","schema":{"$ref":"#/definitions/Error"}},"500":{"description":"Internal Server Error","schema":{"$ref":"#/definitions/Error"}}},"security":[{"spring_oauth":["read","write","admin","openapi"]}]}},"/serviceCatalogManagement/v4/listener/serviceSpecificationChangeNotification":{"post":{"tags":["notification listeners (client side)"],"summary":"Client listener for entity ServiceSpecificationChangeNotification","description":"Example of a client listener for receiving the notification ServiceSpecificationChangeNotification","operationId":"listenToServiceSpecificationChangeNotification","consumes":["application/json;charset=utf-8"],"produces":["application/json;charset=utf-8"],"parameters":[{"in":"body","name":"data","description":"The event data","required":true,"schema":{"$ref":"#/definitions/ServiceSpecificationChangeNotification"}}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/EventSubscription"}},"201":{"description":"Notified","schema":{"$ref":"#/definitions/EventSubscription"}},"400":{"description":"Bad Request","schema":{"$ref":"#/definitions/Error"}},"401":{"description":"Unauthorized","schema":{"$ref":"#/definitions/Error"}},"403":{"description":"Forbidden","schema":{"$ref":"#/definitions/Error"}},"404":{"description":"Not Found","schema":{"$ref":"#/definitions/Error"}},"405":{"description":"Method Not allowed","schema":{"$ref":"#/definitions/Error"}},"409":{"description":"Conflict","schema":{"$ref":"#/definitions/Error"}},"500":{"description":"Internal Server Error","schema":{"$ref":"#/definitions/Error"}}},"security":[{"spring_oauth":["read","write","admin","openapi"]}]}},"/serviceCatalogManagement/v4/listener/serviceSpecificationCreateNotification":{"post":{"tags":["notification listeners (client side)"],"summary":"Client listener for entity ServiceSpecificationCreateNotification","description":"Example of a client listener for receiving the notification ServiceSpecificationCreateNotification","operationId":"listenToServiceSpecificationCreateNotification","consumes":["application/json;charset=utf-8"],"produces":["application/json;charset=utf-8"],"parameters":[{"in":"body","name":"data","description":"The event data","required":true,"schema":{"$ref":"#/definitions/ServiceSpecificationCreateNotification"}}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/EventSubscription"}},"201":{"description":"Notified","schema":{"$ref":"#/definitions/EventSubscription"}},"400":{"description":"Bad Request","schema":{"$ref":"#/definitions/Error"}},"401":{"description":"Unauthorized","schema":{"$ref":"#/definitions/Error"}},"403":{"description":"Forbidden","schema":{"$ref":"#/definitions/Error"}},"404":{"description":"Not Found","schema":{"$ref":"#/definitions/Error"}},"405":{"description":"Method Not allowed","schema":{"$ref":"#/definitions/Error"}},"409":{"description":"Conflict","schema":{"$ref":"#/definitions/Error"}},"500":{"description":"Internal Server Error","schema":{"$ref":"#/definitions/Error"}}},"security":[{"spring_oauth":["read","write","admin","openapi"]}]}},"/serviceCatalogManagement/v4/listener/serviceSpecificationDeleteNotification":{"post":{"tags":["notification listeners (client side)"],"summary":"Client listener for entity ServiceSpecificationDeleteNotification","description":"Example of a client listener for receiving the notification ServiceSpecificationDeleteNotification","operationId":"listenToServiceSpecificationDeleteNotification","consumes":["application/json;charset=utf-8"],"produces":["application/json;charset=utf-8"],"parameters":[{"in":"body","name":"data","description":"The event data","required":true,"schema":{"$ref":"#/definitions/ServiceSpecificationDeleteNotification"}}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/EventSubscription"}},"201":{"description":"Notified","schema":{"$ref":"#/definitions/EventSubscription"}},"400":{"description":"Bad Request","schema":{"$ref":"#/definitions/Error"}},"401":{"description":"Unauthorized","schema":{"$ref":"#/definitions/Error"}},"403":{"description":"Forbidden","schema":{"$ref":"#/definitions/Error"}},"404":{"description":"Not Found","schema":{"$ref":"#/definitions/Error"}},"405":{"description":"Method Not allowed","schema":{"$ref":"#/definitions/Error"}},"409":{"description":"Conflict","schema":{"$ref":"#/definitions/Error"}},"500":{"description":"Internal Server Error","schema":{"$ref":"#/definitions/Error"}}},"security":[{"spring_oauth":["read","write","admin","openapi"]}]}},"/serviceCatalogManagement/v4/serviceCandidate":{"get":{"tags":["serviceCandidate"],"summary":"List or find ServiceCandidate objects","description":"This operation list or find ServiceCandidate entities","operationId":"listServiceCandidate","produces":["application/json;charset=utf-8"],"parameters":[{"name":"fields","in":"query","description":"Comma-separated properties to be provided in response","required":false,"type":"string"},{"name":"limit","in":"query","description":"Requested number of resources to be provided in response","required":false,"type":"integer","format":"int32"},{"name":"offset","in":"query","description":"Requested index for start of resources to be provided in response","required":false,"type":"integer","format":"int32"}],"responses":{"200":{"description":"Success","schema":{"type":"array","items":{"$ref":"#/definitions/ServiceCandidate"}}},"400":{"description":"Bad Request","schema":{"$ref":"#/definitions/Error"}},"401":{"description":"Unauthorized","schema":{"$ref":"#/definitions/Error"}},"403":{"description":"Forbidden","schema":{"$ref":"#/definitions/Error"}},"404":{"description":"Not Found","schema":{"$ref":"#/definitions/Error"}},"405":{"description":"Method Not allowed","schema":{"$ref":"#/definitions/Error"}},"409":{"description":"Conflict","schema":{"$ref":"#/definitions/Error"}},"500":{"description":"Internal Server Error","schema":{"$ref":"#/definitions/Error"}}},"security":[{"spring_oauth":["read","write","admin","openapi"]}]},"post":{"tags":["serviceCandidate"],"summary":"Creates a ServiceCandidate","description":"This operation creates a ServiceCandidate entity.","operationId":"createServiceCandidate","consumes":["application/json;charset=utf-8"],"produces":["application/json;charset=utf-8"],"parameters":[{"in":"body","name":"serviceCandidate","description":"The ServiceCandidate to be created","required":true,"schema":{"$ref":"#/definitions/ServiceCandidateCreate"}}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/ServiceCandidate"}},"201":{"description":"Created","schema":{"$ref":"#/definitions/ServiceCandidate"}},"400":{"description":"Bad Request","schema":{"$ref":"#/definitions/Error"}},"401":{"description":"Unauthorized","schema":{"$ref":"#/definitions/Error"}},"403":{"description":"Forbidden","schema":{"$ref":"#/definitions/Error"}},"404":{"description":"Not Found"},"405":{"description":"Method Not allowed","schema":{"$ref":"#/definitions/Error"}},"409":{"description":"Conflict","schema":{"$ref":"#/definitions/Error"}},"500":{"description":"Internal Server Error","schema":{"$ref":"#/definitions/Error"}}},"security":[{"spring_oauth":["read","write","admin","openapi"]}]}},"/serviceCatalogManagement/v4/serviceCandidate/{id}":{"get":{"tags":["serviceCandidate"],"summary":"Retrieves a ServiceCandidate by ID","description":"This operation retrieves a ServiceCandidate entity. Attribute selection is enabled for all first level attributes.","operationId":"retrieveServiceCandidate","produces":["application/json;charset=utf-8"],"parameters":[{"name":"fields","in":"query","description":"Comma-separated properties to provide in response","required":false,"type":"string"},{"name":"id","in":"path","description":"Identifier of the ServiceCandidate","required":true,"type":"string"}],"responses":{"200":{"description":"Success","schema":{"$ref":"#/definitions/ServiceCandidate"}},"400":{"description":"Bad Request","schema":{"$ref":"#/definitions/Error"}},"401":{"description":"Unauthorized","schema":{"$ref":"#/definitions/Error"}},"403":{"description":"Forbidden","schema":{"$ref":"#/definitions/Error"}},"404":{"description":"Not Found","schema":{"$ref":"#/definitions/Error"}},"405":{"description":"Method Not allowed","schema":{"$ref":"#/definitions/Error"}},"409":{"description":"Conflict","schema":{"$ref":"#/definitions/Error"}},"500":{"description":"Internal Server Error","schema":{"$ref":"#/definitions/Error"}}},"security":[{"spring_oauth":["read","write","admin","openapi"]}]},"delete":{"tags":["serviceCandidate"],"summary":"Deletes a ServiceCandidate","description":"This operation deletes a ServiceCandidate entity.","operationId":"deleteServiceCandidate","produces":["application/json;charset=utf-8"],"parameters":[{"name":"id","in":"path","description":"Identifier of the ServiceCandidate","required":true,"type":"string"}],"responses":{"200":{"description":"OK"},"204":{"description":"Deleted","schema":{"type":"object"}},"400":{"description":"Bad Request","schema":{"$ref":"#/definitions/Error"}},"401":{"description":"Unauthorized","schema":{"$ref":"#/definitions/Error"}},"403":{"description":"Forbidden","schema":{"$ref":"#/definitions/Error"}},"404":{"description":"Not Found","schema":{"$ref":"#/definitions/Error"}},"405":{"description":"Method Not allowed","schema":{"$ref":"#/definitions/Error"}},"409":{"description":"Conflict","schema":{"$ref":"#/definitions/Error"}},"500":{"description":"Internal Server Error","schema":{"$ref":"#/definitions/Error"}}},"security":[{"spring_oauth":["read","write","admin","openapi"]}]},"patch":{"tags":["serviceCandidate"],"summary":"Updates partially a ServiceCandidate","description":"This operation updates partially a ServiceCandidate entity.","operationId":"patchServiceCandidate","consumes":["application/json;charset=utf-8"],"produces":["application/json;charset=utf-8"],"parameters":[{"name":"id","in":"path","description":"Identifier of the ServiceCandidate","required":true,"type":"string"},{"in":"body","name":"serviceCandidate","description":"The ServiceCandidate to be updated","required":true,"schema":{"$ref":"#/definitions/ServiceCandidateUpdate"}}],"responses":{"200":{"description":"Updated","schema":{"$ref":"#/definitions/ServiceCandidate"}},"204":{"description":"No Content"},"400":{"description":"Bad Request","schema":{"$ref":"#/definitions/Error"}},"401":{"description":"Unauthorized","schema":{"$ref":"#/definitions/Error"}},"403":{"description":"Forbidden","schema":{"$ref":"#/definitions/Error"}},"404":{"description":"Not Found","schema":{"$ref":"#/definitions/Error"}},"405":{"description":"Method Not allowed","schema":{"$ref":"#/definitions/Error"}},"409":{"description":"Conflict","schema":{"$ref":"#/definitions/Error"}},"500":{"description":"Internal Server Error","schema":{"$ref":"#/definitions/Error"}}},"security":[{"spring_oauth":["read","write","admin","openapi"]}]}},"/serviceCatalogManagement/v4/serviceCatalog":{"get":{"tags":["serviceCatalog"],"summary":"List or find ServiceCatalog objects","description":"This operation list or find ServiceCatalog entities","operationId":"listServiceCatalog","produces":["application/json;charset=utf-8"],"parameters":[{"name":"fields","in":"query","description":"Comma-separated properties to be provided in response","required":false,"type":"string"},{"name":"limit","in":"query","description":"Requested number of resources to be provided in response","required":false,"type":"integer","format":"int32"},{"name":"offset","in":"query","description":"Requested index for start of resources to be provided in response","required":false,"type":"integer","format":"int32"}],"responses":{"200":{"description":"Success","schema":{"type":"array","items":{"$ref":"#/definitions/ServiceCatalog"}}},"400":{"description":"Bad Request","schema":{"$ref":"#/definitions/Error"}},"401":{"description":"Unauthorized","schema":{"$ref":"#/definitions/Error"}},"403":{"description":"Forbidden","schema":{"$ref":"#/definitions/Error"}},"404":{"description":"Not Found","schema":{"$ref":"#/definitions/Error"}},"405":{"description":"Method Not allowed","schema":{"$ref":"#/definitions/Error"}},"409":{"description":"Conflict","schema":{"$ref":"#/definitions/Error"}},"500":{"description":"Internal Server Error","schema":{"$ref":"#/definitions/Error"}}},"security":[{"spring_oauth":["read","write","admin","openapi"]}]},"post":{"tags":["serviceCatalog"],"summary":"Creates a ServiceCatalog","description":"This operation creates a ServiceCatalog entity.","operationId":"createServiceCatalog","consumes":["application/json;charset=utf-8"],"produces":["application/json;charset=utf-8"],"parameters":[{"in":"body","name":"serviceCatalog","description":"The ServiceCatalog to be created","required":true,"schema":{"$ref":"#/definitions/ServiceCatalogCreate"}}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/ServiceCatalog"}},"201":{"description":"Created","schema":{"$ref":"#/definitions/ServiceCatalog"}},"400":{"description":"Bad Request","schema":{"$ref":"#/definitions/Error"}},"401":{"description":"Unauthorized","schema":{"$ref":"#/definitions/Error"}},"403":{"description":"Forbidden","schema":{"$ref":"#/definitions/Error"}},"404":{"description":"Not Found"},"405":{"description":"Method Not allowed","schema":{"$ref":"#/definitions/Error"}},"409":{"description":"Conflict","schema":{"$ref":"#/definitions/Error"}},"500":{"description":"Internal Server Error","schema":{"$ref":"#/definitions/Error"}}},"security":[{"spring_oauth":["read","write","admin","openapi"]}]}},"/serviceCatalogManagement/v4/serviceCatalog/{id}":{"get":{"tags":["serviceCatalog"],"summary":"Retrieves a ServiceCatalog by ID","description":"This operation retrieves a ServiceCatalog entity. Attribute selection is enabled for all first level attributes.","operationId":"retrieveServiceCatalog","produces":["application/json;charset=utf-8"],"parameters":[{"name":"fields","in":"query","description":"Comma-separated properties to provide in response","required":false,"type":"string"},{"name":"id","in":"path","description":"Identifier of the ServiceCatalog","required":true,"type":"string"}],"responses":{"200":{"description":"Success","schema":{"$ref":"#/definitions/ServiceCatalog"}},"400":{"description":"Bad Request","schema":{"$ref":"#/definitions/Error"}},"401":{"description":"Unauthorized","schema":{"$ref":"#/definitions/Error"}},"403":{"description":"Forbidden","schema":{"$ref":"#/definitions/Error"}},"404":{"description":"Not Found","schema":{"$ref":"#/definitions/Error"}},"405":{"description":"Method Not allowed","schema":{"$ref":"#/definitions/Error"}},"409":{"description":"Conflict","schema":{"$ref":"#/definitions/Error"}},"500":{"description":"Internal Server Error","schema":{"$ref":"#/definitions/Error"}}},"security":[{"spring_oauth":["read","write","admin","openapi"]}]},"delete":{"tags":["serviceCatalog"],"summary":"Deletes a ServiceCatalog","description":"This operation deletes a ServiceCatalog entity.","operationId":"deleteServiceCatalog","produces":["application/json;charset=utf-8"],"parameters":[{"name":"id","in":"path","description":"Identifier of the ServiceCatalog","required":true,"type":"string"}],"responses":{"200":{"description":"OK"},"204":{"description":"Deleted","schema":{"type":"object"}},"400":{"description":"Bad Request","schema":{"$ref":"#/definitions/Error"}},"401":{"description":"Unauthorized","schema":{"$ref":"#/definitions/Error"}},"403":{"description":"Forbidden","schema":{"$ref":"#/definitions/Error"}},"404":{"description":"Not Found","schema":{"$ref":"#/definitions/Error"}},"405":{"description":"Method Not allowed","schema":{"$ref":"#/definitions/Error"}},"409":{"description":"Conflict","schema":{"$ref":"#/definitions/Error"}},"500":{"description":"Internal Server Error","schema":{"$ref":"#/definitions/Error"}}},"security":[{"spring_oauth":["read","write","admin","openapi"]}]},"patch":{"tags":["serviceCatalog"],"summary":"Updates partially a ServiceCatalog","description":"This operation updates partially a ServiceCatalog entity.","operationId":"patchServiceCatalog","consumes":["application/json;charset=utf-8"],"produces":["application/json;charset=utf-8"],"parameters":[{"name":"id","in":"path","description":"Identifier of the ServiceCatalog","required":true,"type":"string"},{"in":"body","name":"serviceCatalog","description":"The ServiceCatalog to be updated","required":true,"schema":{"$ref":"#/definitions/ServiceCatalogUpdate"}}],"responses":{"200":{"description":"Updated","schema":{"$ref":"#/definitions/ServiceCatalog"}},"204":{"description":"No Content"},"400":{"description":"Bad Request","schema":{"$ref":"#/definitions/Error"}},"401":{"description":"Unauthorized","schema":{"$ref":"#/definitions/Error"}},"403":{"description":"Forbidden","schema":{"$ref":"#/definitions/Error"}},"404":{"description":"Not Found","schema":{"$ref":"#/definitions/Error"}},"405":{"description":"Method Not allowed","schema":{"$ref":"#/definitions/Error"}},"409":{"description":"Conflict","schema":{"$ref":"#/definitions/Error"}},"500":{"description":"Internal Server Error","schema":{"$ref":"#/definitions/Error"}}},"security":[{"spring_oauth":["read","write","admin","openapi"]}]}},"/serviceCatalogManagement/v4/serviceCategory":{"get":{"tags":["serviceCategory"],"summary":"List or find ServiceCategory objects","description":"This operation list or find ServiceCategory entities","operationId":"listServiceCategory","produces":["application/json;charset=utf-8"],"parameters":[{"name":"fields","in":"query","description":"Comma-separated properties to be provided in response","required":false,"type":"string"},{"name":"limit","in":"query","description":"Requested number of resources to be provided in response","required":false,"type":"integer","format":"int32"},{"name":"offset","in":"query","description":"Requested index for start of resources to be provided in response","required":false,"type":"integer","format":"int32"}],"responses":{"200":{"description":"Success","schema":{"type":"array","items":{"$ref":"#/definitions/ServiceCategory"}}},"400":{"description":"Bad Request","schema":{"$ref":"#/definitions/Error"}},"401":{"description":"Unauthorized","schema":{"$ref":"#/definitions/Error"}},"403":{"description":"Forbidden","schema":{"$ref":"#/definitions/Error"}},"404":{"description":"Not Found","schema":{"$ref":"#/definitions/Error"}},"405":{"description":"Method Not allowed","schema":{"$ref":"#/definitions/Error"}},"409":{"description":"Conflict","schema":{"$ref":"#/definitions/Error"}},"413":{"description":"Not modifed","schema":{"$ref":"#/definitions/Error"}},"500":{"description":"Internal Server Error","schema":{"$ref":"#/definitions/Error"}}},"security":[{"spring_oauth":["read","write","admin","openapi"]}]},"post":{"tags":["serviceCategory"],"summary":"Creates a ServiceCategory","description":"This operation creates a ServiceCategory entity.","operationId":"createServiceCategory","consumes":["application/json;charset=utf-8"],"produces":["application/json;charset=utf-8"],"parameters":[{"in":"body","name":"serviceCategory","description":"The ServiceCategory to be created","required":true,"schema":{"$ref":"#/definitions/ServiceCategoryCreate"}}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/ServiceCategory"}},"201":{"description":"Created","schema":{"$ref":"#/definitions/ServiceCategory"}},"400":{"description":"Bad Request","schema":{"$ref":"#/definitions/Error"}},"401":{"description":"Unauthorized","schema":{"$ref":"#/definitions/Error"}},"403":{"description":"Forbidden","schema":{"$ref":"#/definitions/Error"}},"404":{"description":"Not Found"},"405":{"description":"Method Not allowed","schema":{"$ref":"#/definitions/Error"}},"409":{"description":"Conflict","schema":{"$ref":"#/definitions/Error"}},"500":{"description":"Internal Server Error","schema":{"$ref":"#/definitions/Error"}}},"security":[{"spring_oauth":["read","write","admin","openapi"]}]}},"/serviceCatalogManagement/v4/serviceCategory/{id}":{"get":{"tags":["serviceCategory"],"summary":"Retrieves a ServiceCategory by ID","description":"This operation retrieves a ServiceCategory entity. Attribute selection is enabled for all first level attributes.","operationId":"retrieveServiceCategory","produces":["application/json;charset=utf-8"],"parameters":[{"name":"fields","in":"query","description":"Comma-separated properties to provide in response","required":false,"type":"string"},{"name":"id","in":"path","description":"Identifier of the ServiceCategory","required":true,"type":"string"}],"responses":{"200":{"description":"Success","schema":{"$ref":"#/definitions/ServiceCategory"}},"400":{"description":"Bad Request","schema":{"$ref":"#/definitions/Error"}},"401":{"description":"Unauthorized","schema":{"$ref":"#/definitions/Error"}},"403":{"description":"Forbidden","schema":{"$ref":"#/definitions/Error"}},"404":{"description":"Not Found","schema":{"$ref":"#/definitions/Error"}},"405":{"description":"Method Not allowed","schema":{"$ref":"#/definitions/Error"}},"409":{"description":"Conflict","schema":{"$ref":"#/definitions/Error"}},"500":{"description":"Internal Server Error","schema":{"$ref":"#/definitions/Error"}}},"security":[{"spring_oauth":["read","write","admin","openapi"]}]},"delete":{"tags":["serviceCategory"],"summary":"Deletes a ServiceCategory","description":"This operation deletes a ServiceCategory entity.","operationId":"deleteServiceCategory","produces":["application/json;charset=utf-8"],"parameters":[{"name":"id","in":"path","description":"Identifier of the ServiceCategory","required":true,"type":"string"}],"responses":{"200":{"description":"OK"},"204":{"description":"Deleted","schema":{"type":"object"}},"400":{"description":"Bad Request","schema":{"$ref":"#/definitions/Error"}},"401":{"description":"Unauthorized","schema":{"$ref":"#/definitions/Error"}},"403":{"description":"Forbidden","schema":{"$ref":"#/definitions/Error"}},"404":{"description":"Not Found","schema":{"$ref":"#/definitions/Error"}},"405":{"description":"Method Not allowed","schema":{"$ref":"#/definitions/Error"}},"409":{"description":"Conflict","schema":{"$ref":"#/definitions/Error"}},"500":{"description":"Internal Server Error","schema":{"$ref":"#/definitions/Error"}}},"security":[{"spring_oauth":["read","write","admin","openapi"]}]},"patch":{"tags":["serviceCategory"],"summary":"Updates partially a ServiceCategory","description":"This operation updates partially a ServiceCategory entity.","operationId":"patchServiceCategory","consumes":["application/json;charset=utf-8"],"produces":["application/json;charset=utf-8"],"parameters":[{"name":"id","in":"path","description":"Identifier of the ServiceCategory","required":true,"type":"string"},{"in":"body","name":"serviceCategory","description":"The ServiceCategory to be updated","required":true,"schema":{"$ref":"#/definitions/ServiceCategoryUpdate"}}],"responses":{"200":{"description":"Updated","schema":{"$ref":"#/definitions/ServiceCategory"}},"204":{"description":"No Content"},"400":{"description":"Bad Request","schema":{"$ref":"#/definitions/Error"}},"401":{"description":"Unauthorized","schema":{"$ref":"#/definitions/Error"}},"403":{"description":"Forbidden","schema":{"$ref":"#/definitions/Error"}},"404":{"description":"Not Found","schema":{"$ref":"#/definitions/Error"}},"405":{"description":"Method Not allowed","schema":{"$ref":"#/definitions/Error"}},"409":{"description":"Conflict","schema":{"$ref":"#/definitions/Error"}},"500":{"description":"Internal Server Error","schema":{"$ref":"#/definitions/Error"}}},"security":[{"spring_oauth":["read","write","admin","openapi"]}]}},"/serviceCatalogManagement/v4/serviceSpecification":{"get":{"tags":["serviceSpecification"],"summary":"List or find ServiceSpecification objects","description":"This operation list or find ServiceSpecification entities","operationId":"listServiceSpecification","produces":["application/json;charset=utf-8"],"parameters":[{"name":"fields","in":"query","description":"Comma-separated properties to be provided in response","required":false,"type":"string"},{"name":"limit","in":"query","description":"Requested number of resources to be provided in response","required":false,"type":"integer","format":"int32"},{"name":"offset","in":"query","description":"Requested index for start of resources to be provided in response","required":false,"type":"integer","format":"int32"}],"responses":{"200":{"description":"Success","schema":{"type":"array","items":{"$ref":"#/definitions/ServiceSpecification"}}},"400":{"description":"Bad Request","schema":{"$ref":"#/definitions/Error"}},"401":{"description":"Unauthorized","schema":{"$ref":"#/definitions/Error"}},"403":{"description":"Forbidden","schema":{"$ref":"#/definitions/Error"}},"404":{"description":"Not Found","schema":{"$ref":"#/definitions/Error"}},"405":{"description":"Method Not allowed","schema":{"$ref":"#/definitions/Error"}},"409":{"description":"Conflict","schema":{"$ref":"#/definitions/Error"}},"500":{"description":"Internal Server Error","schema":{"$ref":"#/definitions/Error"}}},"security":[{"spring_oauth":["read","write","admin","openapi"]}]},"post":{"tags":["serviceSpecification"],"summary":"Creates a ServiceSpecification","description":"This operation creates a ServiceSpecification entity.","operationId":"createServiceSpecification","consumes":["application/json;charset=utf-8"],"produces":["application/json;charset=utf-8"],"parameters":[{"in":"body","name":"serviceSpecification","description":"The ServiceSpecification to be created","required":true,"schema":{"$ref":"#/definitions/ServiceSpecificationCreate"}}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/ServiceSpecification"}},"201":{"description":"Created","schema":{"$ref":"#/definitions/ServiceSpecification"}},"400":{"description":"Bad Request","schema":{"$ref":"#/definitions/Error"}},"401":{"description":"Unauthorized","schema":{"$ref":"#/definitions/Error"}},"403":{"description":"Forbidden","schema":{"$ref":"#/definitions/Error"}},"404":{"description":"Not Found"},"405":{"description":"Method Not allowed","schema":{"$ref":"#/definitions/Error"}},"409":{"description":"Conflict","schema":{"$ref":"#/definitions/Error"}},"500":{"description":"Internal Server Error","schema":{"$ref":"#/definitions/Error"}}},"security":[{"spring_oauth":["read","write","admin","openapi"]}]}},"/serviceCatalogManagement/v4/serviceSpecification/cloneGST":{"get":{"tags":["serviceSpecification"],"summary":"Clones a GST ServiceSpecification","description":"This operation clones a ServiceSpecification GST entity. The response is the cloned spec","operationId":"cloneGSTServiceSpecification","produces":["application/json;charset=utf-8"],"parameters":[{"name":"serviceName","in":"query","description":"A name of the cloned GST","required":true,"type":"string"}],"responses":{"200":{"description":"Cloned","schema":{"$ref":"#/definitions/ServiceSpecification"}},"400":{"description":"Bad Request","schema":{"$ref":"#/definitions/Error"}},"401":{"description":"Unauthorized","schema":{"$ref":"#/definitions/Error"}},"403":{"description":"Forbidden","schema":{"$ref":"#/definitions/Error"}},"404":{"description":"Not Found","schema":{"$ref":"#/definitions/Error"}},"405":{"description":"Method Not allowed","schema":{"$ref":"#/definitions/Error"}},"409":{"description":"Conflict","schema":{"$ref":"#/definitions/Error"}},"500":{"description":"Internal Server Error","schema":{"$ref":"#/definitions/Error"}}},"security":[{"spring_oauth":["read","write","admin","openapi"]}]}},"/serviceCatalogManagement/v4/serviceSpecification/cloneVINNI":{"get":{"tags":["serviceSpecification"],"summary":"Clones a VINNI ServiceSpecification","description":"This operation clones a ServiceSpecification 5G-VINNI entity. The response is the cloned spec","operationId":"cloneVINNIServiceSpecification","produces":["application/json;charset=utf-8"],"parameters":[{"name":"addServiceExposureLevel1","in":"query","description":"If true adds a Service Exposure Level1 Spec in the Bundle","required":true,"type":"boolean"},{"name":"addServiceExposureLevel2","in":"query","description":"If true adds a Service Exposure Level2 Spec in the Bundle","required":true,"type":"boolean"},{"name":"addServiceExposureLevel3","in":"query","description":"If true adds a Service Exposure Level3 Spec in the Bundle","required":true,"type":"boolean"},{"name":"addServiceExposureLevel4","in":"query","description":"If true adds a Service Exposure Level4 Spec in the Bundle","required":true,"type":"boolean"},{"name":"addServiceMonitoring","in":"query","description":"If true adds a Service Monitoring Spec in the Bundle","required":true,"type":"boolean"},{"name":"addServiceNSD","in":"query","description":"If true adds a Service 3rd party NSD Spec in the Bundle","required":true,"type":"boolean"},{"name":"addServiceRequirements","in":"query","description":"If true adds a Service Requirements Spec in the Bundle","required":true,"type":"boolean"},{"name":"addServiceTesting","in":"query","description":"If true adds a Service Testing Spec in the Bundle","required":true,"type":"boolean"},{"name":"addServiceTopology","in":"query","description":"If true adds a Service Topology Spec in the Bundle","required":true,"type":"boolean"},{"name":"addServiceVNF","in":"query","description":"If true adds a Service 3rd party VNF Spec in the Bundle","required":true,"type":"boolean"},{"name":"serviceName","in":"query","description":"A name of the cloned VINNI Template","required":true,"type":"string"}],"responses":{"200":{"description":"Cloned","schema":{"$ref":"#/definitions/ServiceSpecification"}},"400":{"description":"Bad Request","schema":{"$ref":"#/definitions/Error"}},"401":{"description":"Unauthorized","schema":{"$ref":"#/definitions/Error"}},"403":{"description":"Forbidden","schema":{"$ref":"#/definitions/Error"}},"404":{"description":"Not Found","schema":{"$ref":"#/definitions/Error"}},"405":{"description":"Method Not allowed","schema":{"$ref":"#/definitions/Error"}},"409":{"description":"Conflict","schema":{"$ref":"#/definitions/Error"}},"500":{"description":"Internal Server Error","schema":{"$ref":"#/definitions/Error"}}},"security":[{"spring_oauth":["read","write","admin","openapi"]}]}},"/serviceCatalogManagement/v4/serviceSpecification/specFromNSDID/{id}":{"get":{"tags":["serviceSpecification"],"summary":"Creates a ServiceSpecification from an NSD id. It retreives the NSD from  the NSD/VNF catalog","description":"This operation creates a ServiceSpecification from an NSD id. It retreives the NSD from  the NSD/VNF catalog. The response is the cloned spec","operationId":"createServiceSpecificationFromNSDID","produces":["application/json;charset=utf-8"],"parameters":[{"name":"id","in":"path","description":"Identifier of the NSD id from the NSD/VNF catalog","required":true,"type":"string"}],"responses":{"200":{"description":"Created","schema":{"$ref":"#/definitions/ServiceSpecification"}},"400":{"description":"Bad Request","schema":{"$ref":"#/definitions/Error"}},"401":{"description":"Unauthorized","schema":{"$ref":"#/definitions/Error"}},"403":{"description":"Forbidden","schema":{"$ref":"#/definitions/Error"}},"404":{"description":"Not Found","schema":{"$ref":"#/definitions/Error"}},"405":{"description":"Method Not allowed","schema":{"$ref":"#/definitions/Error"}},"409":{"description":"Conflict","schema":{"$ref":"#/definitions/Error"}},"500":{"description":"Internal Server Error","schema":{"$ref":"#/definitions/Error"}}},"security":[{"spring_oauth":["read","write","admin","openapi"]}]}},"/serviceCatalogManagement/v4/serviceSpecification/specFromTestSpec/{id}":{"get":{"tags":["serviceSpecification"],"summary":"Creates a ServiceSpecification from an ServiceTestSpecification id. It retreives the ServicTestSpecification from  the ServiceTestSpecification catalog","description":"This operation creates a ServiceSpecification from a ServiceTestSpecification id. It retreives the ServiceTestSpecification from  the ServiceTestSpecification catalog. The response is the Service Spec","operationId":"createServiceSpecificationFromServiceTestSpecification","produces":["application/json;charset=utf-8"],"parameters":[{"name":"id","in":"path","description":"Identifier of the ServiceTestSpecification id from the ServiceTestSpecification catalog","required":true,"type":"string"}],"responses":{"200":{"description":"Created","schema":{"$ref":"#/definitions/ServiceSpecification"}},"400":{"description":"Bad Request","schema":{"$ref":"#/definitions/Error"}},"401":{"description":"Unauthorized","schema":{"$ref":"#/definitions/Error"}},"403":{"description":"Forbidden","schema":{"$ref":"#/definitions/Error"}},"404":{"description":"Not Found","schema":{"$ref":"#/definitions/Error"}},"405":{"description":"Method Not allowed","schema":{"$ref":"#/definitions/Error"}},"409":{"description":"Conflict","schema":{"$ref":"#/definitions/Error"}},"500":{"description":"Internal Server Error","schema":{"$ref":"#/definitions/Error"}}},"security":[{"spring_oauth":["read","write","admin","openapi"]}]}},"/serviceCatalogManagement/v4/serviceSpecification/{id}":{"get":{"tags":["serviceSpecification"],"summary":"Retrieves a ServiceSpecification by ID","description":"This operation retrieves a ServiceSpecification entity. Attribute selection is enabled for all first level attributes.","operationId":"retrieveServiceSpecification","produces":["application/json;charset=utf-8"],"parameters":[{"name":"fields","in":"query","description":"Comma-separated properties to provide in response","required":false,"type":"string"},{"name":"id","in":"path","description":"Identifier of the ServiceSpecification","required":true,"type":"string"}],"responses":{"200":{"description":"Success","schema":{"$ref":"#/definitions/ServiceSpecification"}},"400":{"description":"Bad Request","schema":{"$ref":"#/definitions/Error"}},"401":{"description":"Unauthorized","schema":{"$ref":"#/definitions/Error"}},"403":{"description":"Forbidden","schema":{"$ref":"#/definitions/Error"}},"404":{"description":"Not Found","schema":{"$ref":"#/definitions/Error"}},"405":{"description":"Method Not allowed","schema":{"$ref":"#/definitions/Error"}},"409":{"description":"Conflict","schema":{"$ref":"#/definitions/Error"}},"500":{"description":"Internal Server Error","schema":{"$ref":"#/definitions/Error"}}},"security":[{"spring_oauth":["read","write","admin","openapi"]}]},"delete":{"tags":["serviceSpecification"],"summary":"Deletes a ServiceSpecification","description":"This operation deletes a ServiceSpecification entity.","operationId":"deleteServiceSpecification","produces":["application/json;charset=utf-8"],"parameters":[{"name":"id","in":"path","description":"Identifier of the ServiceSpecification","required":true,"type":"string"}],"responses":{"200":{"description":"OK"},"204":{"description":"Deleted","schema":{"type":"object"}},"400":{"description":"Bad Request","schema":{"$ref":"#/definitions/Error"}},"401":{"description":"Unauthorized","schema":{"$ref":"#/definitions/Error"}},"403":{"description":"Forbidden","schema":{"$ref":"#/definitions/Error"}},"404":{"description":"Not Found","schema":{"$ref":"#/definitions/Error"}},"405":{"description":"Method Not allowed","schema":{"$ref":"#/definitions/Error"}},"409":{"description":"Conflict","schema":{"$ref":"#/definitions/Error"}},"500":{"description":"Internal Server Error","schema":{"$ref":"#/definitions/Error"}}},"security":[{"spring_oauth":["read","write","admin","openapi"]}]},"patch":{"tags":["serviceSpecification"],"summary":"Updates partially a ServiceSpecification","description":"This operation updates partially a ServiceSpecification entity.","operationId":"patchServiceSpecification","consumes":["application/json;charset=utf-8"],"produces":["application/json;charset=utf-8"],"parameters":[{"name":"id","in":"path","description":"Identifier of the ServiceSpecification","required":true,"type":"string"},{"in":"body","name":"serviceSpecification","description":"The ServiceSpecification to be updated","required":true,"schema":{"$ref":"#/definitions/ServiceSpecificationUpdate"}}],"responses":{"200":{"description":"Updated","schema":{"$ref":"#/definitions/ServiceSpecification"}},"204":{"description":"No Content"},"400":{"description":"Bad Request","schema":{"$ref":"#/definitions/Error"}},"401":{"description":"Unauthorized","schema":{"$ref":"#/definitions/Error"}},"403":{"description":"Forbidden","schema":{"$ref":"#/definitions/Error"}},"404":{"description":"Not Found","schema":{"$ref":"#/definitions/Error"}},"405":{"description":"Method Not allowed","schema":{"$ref":"#/definitions/Error"}},"409":{"description":"Conflict","schema":{"$ref":"#/definitions/Error"}},"500":{"description":"Internal Server Error","schema":{"$ref":"#/definitions/Error"}}},"security":[{"spring_oauth":["read","write","admin","openapi"]}]}},"/serviceCatalogManagement/v4/serviceSpecification/{id}/attachment":{"post":{"tags":["serviceSpecification"],"summary":"Adds an attachment to a ServiceSpecification","description":"This operation adds an attachment to a ServiceSpecification and updates partially a ServiceSpecification entity","operationId":"addAttachmentToServiceSpecification","consumes":["multipart/form-data"],"produces":["application/json;charset=utf-8"],"parameters":[{"in":"body","name":"afile","description":"The Attachment file to be added","required":true,"schema":{"type":"string","format":"binary"}},{"name":"id","in":"path","description":"Identifier of the ServiceSpecification","required":true,"type":"string"}],"responses":{"200":{"description":"Success","schema":{"$ref":"#/definitions/Attachment"}},"201":{"description":"Created"},"400":{"description":"Bad Request","schema":{"$ref":"#/definitions/Error"}},"401":{"description":"Unauthorized","schema":{"$ref":"#/definitions/Error"}},"403":{"description":"Forbidden","schema":{"$ref":"#/definitions/Error"}},"404":{"description":"Not Found","schema":{"$ref":"#/definitions/Error"}},"405":{"description":"Method Not allowed","schema":{"$ref":"#/definitions/Error"}},"409":{"description":"Conflict","schema":{"$ref":"#/definitions/Error"}},"500":{"description":"Internal Server Error","schema":{"$ref":"#/definitions/Error"}}},"security":[{"spring_oauth":["read","write","admin","openapi"]}]}},"/serviceCatalogManagement/v4/serviceSpecification/{id}/attachment/{attid}":{"get":{"tags":["serviceSpecification"],"summary":"Get an attachment","description":"This operation gets an attachment","operationId":"getAttachment","produces":["*/*"],"parameters":[{"name":"attid","in":"path","description":"Identifier of the Attachment","required":true,"type":"string"},{"name":"id","in":"path","description":"Identifier of the ServiceSpecification","required":true,"type":"string"}],"responses":{"200":{"description":"Success","schema":{"$ref":"#/definitions/ByteArrayResource"}},"400":{"description":"Bad Request","schema":{"$ref":"#/definitions/Error"}},"401":{"description":"Unauthorized","schema":{"$ref":"#/definitions/Error"}},"403":{"description":"Forbidden","schema":{"$ref":"#/definitions/Error"}},"404":{"description":"Not Found","schema":{"$ref":"#/definitions/Error"}},"405":{"description":"Method Not allowed","schema":{"$ref":"#/definitions/Error"}},"409":{"description":"Conflict","schema":{"$ref":"#/definitions/Error"}},"500":{"description":"Internal Server Error","schema":{"$ref":"#/definitions/Error"}}},"security":[{"spring_oauth":["read","write","admin","openapi"]}]}},"/serviceCatalogManagement/v4/serviceSpecification/{id}/attachment/{attid}/{afilename}":{"get":{"tags":["serviceSpecification"],"summary":"Get an attachment with filename","description":"This operation gets an attachment","operationId":"getAttachmentWithFilename","produces":["*/*"],"parameters":[{"name":"afilename","in":"path","description":"Identifier of the Filename","required":true,"type":"string"},{"name":"attid","in":"path","description":"Identifier of the Attachment","required":true,"type":"string"},{"name":"id","in":"path","description":"Identifier of the ServiceSpecification","required":true,"type":"string"}],"responses":{"200":{"description":"Success","schema":{"$ref":"#/definitions/ByteArrayResource"}},"400":{"description":"Bad Request","schema":{"$ref":"#/definitions/Error"}},"401":{"description":"Unauthorized","schema":{"$ref":"#/definitions/Error"}},"403":{"description":"Forbidden","schema":{"$ref":"#/definitions/Error"}},"404":{"description":"Not Found","schema":{"$ref":"#/definitions/Error"}},"405":{"description":"Method Not allowed","schema":{"$ref":"#/definitions/Error"}},"409":{"description":"Conflict","schema":{"$ref":"#/definitions/Error"}},"500":{"description":"Internal Server Error","schema":{"$ref":"#/definitions/Error"}}},"security":[{"spring_oauth":["read","write","admin","openapi"]}]}},"/serviceCatalogManagement/v4/serviceSpecification/{id}/clone":{"get":{"tags":["serviceSpecification"],"summary":"Clones a ServiceSpecification","description":"This operation clones a ServiceSpecification entity. The response is the cloned spec","operationId":"cloneServiceSpecification","produces":["application/json;charset=utf-8"],"parameters":[{"name":"id","in":"path","description":"Identifier of the ServiceSpecification to clone","required":true,"type":"string"}],"responses":{"200":{"description":"Cloned","schema":{"$ref":"#/definitions/ServiceSpecification"}},"400":{"description":"Bad Request","schema":{"$ref":"#/definitions/Error"}},"401":{"description":"Unauthorized","schema":{"$ref":"#/definitions/Error"}},"403":{"description":"Forbidden","schema":{"$ref":"#/definitions/Error"}},"404":{"description":"Not Found","schema":{"$ref":"#/definitions/Error"}},"405":{"description":"Method Not allowed","schema":{"$ref":"#/definitions/Error"}},"409":{"description":"Conflict","schema":{"$ref":"#/definitions/Error"}},"500":{"description":"Internal Server Error","schema":{"$ref":"#/definitions/Error"}}},"security":[{"spring_oauth":["read","write","admin","openapi"]}]}},"/serviceCatalogManagement/v4/serviceSpecification/{id}/sd":{"get":{"tags":["serviceSpecification"],"summary":"Retrieves a ServiceDescriptor by ServiceSpecification  ID","description":"This operation retrieves a Service Descriptor entity. Attribute selection is enabled for all first level attributes.","operationId":"retrieveServiceSpecificationDescriptor","produces":["application/json;charset=utf-8"],"parameters":[{"name":"id","in":"path","description":"Identifier of the ServiceSpecification","required":true,"type":"string"}],"responses":{"200":{"description":"Success","schema":{"$ref":"#/definitions/ServiceSpecification"}},"400":{"description":"Bad Request","schema":{"$ref":"#/definitions/Error"}},"401":{"description":"Unauthorized","schema":{"$ref":"#/definitions/Error"}},"403":{"description":"Forbidden","schema":{"$ref":"#/definitions/Error"}},"404":{"description":"Not Found","schema":{"$ref":"#/definitions/Error"}},"405":{"description":"Method Not allowed","schema":{"$ref":"#/definitions/Error"}},"409":{"description":"Conflict","schema":{"$ref":"#/definitions/Error"}},"500":{"description":"Internal Server Error","schema":{"$ref":"#/definitions/Error"}}},"security":[{"spring_oauth":["read","write","admin","openapi"]}]}}},"securityDefinitions":{"spring_oauth":{"type":"oauth2","authorizationUrl":"http://portal.openslice.io/auth/realms/openslice/protocol/openid-connect/auth","tokenUrl":"http://portal.openslice.io/auth/realms/openslice/protocol/openid-connect/token","flow":"accessCode","scopes":{"read":"for read operations","write":"for write operations","admin":"Access admin API","openapi":"Access openapi API"}}},"definitions":{"Any":{"type":"object","properties":{"alias":{"type":"string"},"value":{"type":"string"}},"title":"Any"},"Attachment":{"type":"object","properties":{"@baseType":{"type":"string","description":"When sub-classing, this defines the super-class"},"@schemaLocation":{"type":"string","description":"A URI to a JSON-Schema file that defines additional attributes and relationships"},"@type":{"type":"string"},"attachmentType":{"type":"string","description":"Attachment type such as video, picture"},"content":{"type":"string","description":"The actual contents of the attachment object, if embedded, encoded as base64"},"description":{"type":"string","description":"A narrative text describing the content of the attachment"},"href":{"type":"string","description":"Unique reference of the entity"},"id":{"type":"string","description":"Unique identifier for this particular attachment"},"mimeType":{"type":"string","description":"Attachment mime type such as extension file for video, picture and document"},"name":{"type":"string","description":"Name of the entity"},"size":{"description":"The size of the attachment.","$ref":"#/definitions/Quantity"},"url":{"type":"string","description":"Uniform Resource Locator, is a web page address (a subset of URI)"},"uuid":{"type":"string"},"validFor":{"description":"The period of time for which the attachment is valid","$ref":"#/definitions/TimePeriod"}},"title":"Attachment","description":"Complements the description of an element (for instance a product) through video, pictures..."},"AttachmentRef":{"type":"object","properties":{"@baseType":{"type":"string","description":"When sub-classing, this defines the super-class"},"@referredType":{"type":"string","description":"The actual type of the target instance when needed for disambiguation."},"@schemaLocation":{"type":"string","description":"A URI to a JSON-Schema file that defines additional attributes and relationships"},"@type":{"type":"string"},"description":{"type":"string","description":"A narrative text describing the content of the attachment"},"href":{"type":"string","description":"Unique reference of the entity"},"id":{"type":"string"},"name":{"type":"string","description":"Name of the entity"},"url":{"type":"string","description":"Link to the attachment media/content"},"uuid":{"type":"string"}},"title":"AttachmentRef","description":"Attachment reference. An attachment complements the description of an element (for instance a product) through video, pictures"},"ByteArrayResource":{"type":"object","properties":{"byteArray":{"type":"string","format":"byte"},"description":{"type":"string"},"file":{"type":"file"},"filename":{"type":"string"},"inputStream":{"$ref":"#/definitions/InputStream"},"open":{"type":"boolean"},"readable":{"type":"boolean"},"uri":{"type":"string","format":"uri"},"url":{"type":"string","format":"url"}},"title":"ByteArrayResource"},"Error":{"type":"object","required":["code","reason"],"properties":{"@baseType":{"type":"string","description":"When sub-classing, this defines the super-class."},"@schemaLocation":{"type":"string","description":"A URI to a JSON-Schema file that defines additional attributes and relationships"},"@type":{"type":"string","description":"When sub-classing, this defines the sub-class entity name."},"code":{"type":"integer","format":"int32","description":"Application relevant detail, defined in the API or a common list."},"message":{"type":"string","description":"More details and corrective actions related to the error which can be shown to a client user."},"reason":{"type":"string","description":"Explanation of the reason for the error which can be shown to a client user."},"referenceError":{"type":"string","description":"URI of documentation describing the error."},"status":{"type":"integer","format":"int32","description":"HTTP Error code extension"}},"title":"Error","description":"Used when an API throws an Error, typically with a HTTP error response-code (3xx, 4xx, 5xx)"},"EventSubscription":{"type":"object","required":["callback","id"],"properties":{"callback":{"type":"string","description":"The callback being registered."},"id":{"type":"string","description":"Id of the listener"},"query":{"type":"string","description":"additional data to be passed"}},"title":"EventSubscription","description":"Sets the communication endpoint address the service instance must use to deliver notification information"},"EventSubscriptionInput":{"type":"object","required":["callback"],"properties":{"callback":{"type":"string","description":"The callback being registered."},"query":{"type":"string","description":"additional data to be passed"}},"title":"EventSubscriptionInput","description":"Sets the communication endpoint address the service instance must use to deliver notification information"},"ExportJob":{"type":"object","properties":{"@baseType":{"type":"string","description":"When sub-classing, this defines the super-class"},"@schemaLocation":{"type":"string","description":"A URI to a JSON-Schema file that defines additional attributes and relationships"},"@type":{"type":"string","description":"When sub-classing, this defines the sub-class entity name"},"completionDate":{"type":"string","format":"date-time","description":"Data at which the job was completed"},"contentType":{"type":"string","description":"The format of the exported data"},"creationDate":{"type":"string","format":"date-time","description":"Date at which the job was created"},"errorLog":{"type":"string","description":"Reason for failure"},"href":{"type":"string","description":"Reference of the export job"},"id":{"type":"string","description":"Identifier of the export job"},"path":{"type":"string","description":"URL of the root resource acting as the source for streaming content to the file specified by the export job"},"query":{"type":"string","description":"Used to scope the exported data"},"status":{"type":"string","description":"Status of the export job (not started, running, succeeded, failed)"},"url":{"type":"string","description":"URL of the file containing the data to be exported"}},"title":"ExportJob","description":"Represents a task used to export resources to a file"},"ExportJobCreate":{"type":"object","required":["url"],"properties":{"@baseType":{"type":"string","description":"When sub-classing, this defines the super-class"},"@schemaLocation":{"type":"string","description":"A URI to a JSON-Schema file that defines additional attributes and relationships"},"@type":{"type":"string","description":"When sub-classing, this defines the sub-class entity name"},"completionDate":{"type":"string","format":"date-time","description":"Data at which the job was completed"},"contentType":{"type":"string","description":"The format of the exported data"},"creationDate":{"type":"string","format":"date-time","description":"Date at which the job was created"},"errorLog":{"type":"string","description":"Reason for failure"},"path":{"type":"string","description":"URL of the root resource acting as the source for streaming content to the file specified by the export job"},"query":{"type":"string","description":"Used to scope the exported data"},"status":{"type":"string","description":"Status of the export job (not started, running, succeeded, failed)"},"url":{"type":"string","description":"URL of the file containing the data to be exported"}},"title":"ExportJobCreate","description":"Represents a task used to export resources to a file Skipped properties: id,href"},"ImportJob":{"type":"object","properties":{"@baseType":{"type":"string","description":"When sub-classing, this defines the super-class"},"@schemaLocation":{"type":"string","description":"A URI to a JSON-Schema file that defines additional attributes and relationships"},"@type":{"type":"string","description":"When sub-classing, this defines the sub-class entity name"},"completionDate":{"type":"string","format":"date-time","description":"Date at which the job was completed"},"contentType":{"type":"string","description":"Indicates the format of the imported data"},"creationDate":{"type":"string","format":"date-time","description":"Date at which the job was created"},"errorLog":{"type":"string","description":"Reason for failure if status is failed"},"href":{"type":"string","description":"Reference of the import job"},"id":{"type":"string","description":"Identifier of the import job"},"path":{"type":"string","description":"URL of the root resource where the content of the file specified by the import job must be applied"},"status":{"type":"string","description":"Status of the import job (not started, running, succeeded, failed)"},"url":{"type":"string","description":"URL of the file containing the data to be imported"}},"title":"ImportJob","description":"Represents a task used to import resources from a file"},"ImportJobCreate":{"type":"object","required":["url"],"properties":{"@baseType":{"type":"string","description":"When sub-classing, this defines the super-class"},"@schemaLocation":{"type":"string","description":"A URI to a JSON-Schema file that defines additional attributes and relationships"},"@type":{"type":"string","description":"When sub-classing, this defines the sub-class entity name"},"completionDate":{"type":"string","format":"date-time","description":"Date at which the job was completed"},"contentType":{"type":"string","description":"Indicates the format of the imported data"},"creationDate":{"type":"string","format":"date-time","description":"Date at which the job was created"},"errorLog":{"type":"string","description":"Reason for failure if status is failed"},"path":{"type":"string","description":"URL of the root resource where the content of the file specified by the import job must be applied"},"status":{"type":"string","description":"Status of the import job (not started, running, succeeded, failed)"},"url":{"type":"string","description":"URL of the file containing the data to be imported"}},"title":"ImportJobCreate","description":"Represents a task used to import resources from a file Skipped properties: id,href"},"InputStream":{"type":"object","title":"InputStream"},"Quantity":{"type":"object","properties":{"amount":{"type":"number","format":"float","description":"Numeric value in a given unit"},"units":{"type":"string","description":"Unit"}},"title":"Quantity","description":"An amount in a given unit"},"RelatedParty":{"type":"object","properties":{"@baseType":{"type":"string","description":"When sub-classing, this defines the super-class"},"@referredType":{"type":"string","description":"The actual type of the target instance when needed for disambiguation."},"@schemaLocation":{"type":"string","description":"A URI to a JSON-Schema file that defines additional attributes and relationships"},"@type":{"type":"string"},"extendedInfo":{"type":"string"},"href":{"type":"string","description":"Unique reference of the entity"},"id":{"type":"string"},"name":{"type":"string","description":"Name of the entity"},"role":{"type":"string","description":"Role of the related party."},"uuid":{"type":"string"}},"title":"RelatedParty","description":"RelatedParty reference. A related party defines party or party role linked to a specific entity."},"ResourceSpecificationRef":{"type":"object","properties":{"@baseType":{"type":"string","description":"When sub-classing, this defines the super-class"},"@referredType":{"type":"string","description":"The actual type of the target instance when needed for disambiguation."},"@schemaLocation":{"type":"string","description":"A URI to a JSON-Schema file that defines additional attributes and relationships"},"@type":{"type":"string"},"href":{"type":"string","description":"Unique reference of the entity"},"id":{"type":"string"},"name":{"type":"string","description":"Name of the entity"},"version":{"type":"string","description":"Resource specification version"}},"title":"ResourceSpecificationRef","description":"Resource Specification reference: The ResourceSpecification is required to realize a ProductSpecification."},"ServiceCandidate":{"type":"object","properties":{"@baseType":{"type":"string","description":"When sub-classing, this defines the super-class"},"@schemaLocation":{"type":"string","description":"A URI to a JSON-Schema file that defines additional attributes and relationships"},"@type":{"type":"string"},"category":{"type":"array","description":"The category specification implied by this candidate","items":{"$ref":"#/definitions/ServiceCategoryRef"}},"description":{"type":"string","description":"Description of this catalog"},"href":{"type":"string","description":"Unique reference of the entity"},"id":{"type":"string"},"lastUpdate":{"type":"string","description":"Date and time of the last update"},"lifecycleStatus":{"type":"string","description":"Used to indicate the current lifecycle status"},"name":{"type":"string","description":"Name of the entity"},"serviceSpecification":{"description":"The service specification implied by this candidate","$ref":"#/definitions/ServiceSpecificationRef"},"uuid":{"type":"string"},"validFor":{"description":"The period for which the entity is valid","$ref":"#/definitions/TimePeriod"},"version":{"type":"string","description":"Entity version"}},"title":"ServiceCandidate","description":"ServiceCandidate is an entity that makes a service specification available to a catalog. A ServiceCandidate and its associated service specification may be published - made visible - in any number of service catalogs, or in none. One service specification can be composed of other service specifications."},"ServiceCandidateChangeEvent":{"type":"object","properties":{"serviceCandidate":{"description":"The involved resource data for the event","$ref":"#/definitions/ServiceCandidate"}},"title":"ServiceCandidateChangeEvent","description":"The event data structure"},"ServiceCandidateChangeNotification":{"type":"object","properties":{"event":{"description":"The event linked to the involved resource object","$ref":"#/definitions/ServiceCandidateChangeEvent"},"eventId":{"type":"string","description":"The identifier of the notification"},"eventTime":{"type":"string","format":"date-time","description":"Time of the event occurrence"},"eventType":{"type":"string","description":"The type of the notification"},"fieldPath":{"type":"string","description":"The path identifying the object field concerned by this notification"},"resourcePath":{"type":"string","description":"The path identifying the resource object concerned by this notification"}},"title":"ServiceCandidateChangeNotification","description":"The notification data structure"},"ServiceCandidateCreate":{"type":"object","properties":{"@baseType":{"type":"string","description":"When sub-classing, this defines the super-class"},"@schemaLocation":{"type":"string","description":"A URI to a JSON-Schema file that defines additional attributes and relationships"},"@type":{"type":"string","description":"When sub-classing, this defines the sub-class entity name"},"category":{"type":"array","description":"List of categories for this candidate","items":{"$ref":"#/definitions/ServiceCategoryRef"}},"description":{"type":"string","description":"Description of this REST resource"},"lastUpdate":{"type":"string","format":"date-time","description":"Date and time of the last update of this REST resource"},"lifecycleStatus":{"type":"string","description":"Used to indicate the current lifecycle status of the service candidate."},"name":{"type":"string","description":"Name given to this REST resource"},"serviceSpecification":{"description":"The service specification implied by this candidate","$ref":"#/definitions/ServiceSpecificationRef"},"validFor":{"description":"The period for which this REST resource is valid","$ref":"#/definitions/TimePeriod"},"version":{"type":"string","description":"the version of service candidate"}},"title":"ServiceCandidateCreate","description":"ServiceCandidate is an entity that makes a service specification available to a catalog. A ServiceCandidate and its associated service specification may be published - made visible - in any number of service catalogs, or in none. One service specification can be composed of other service specifications. Skipped properties: id,href"},"ServiceCandidateCreateEvent":{"type":"object","properties":{"serviceCandidate":{"description":"The involved resource data for the event","$ref":"#/definitions/ServiceCandidate"}},"title":"ServiceCandidateCreateEvent","description":"The event data structure"},"ServiceCandidateCreateNotification":{"type":"object","properties":{"event":{"description":"The event linked to the involved resource object","$ref":"#/definitions/ServiceCandidateCreateEvent"},"eventId":{"type":"string","description":"The identifier of the notification"},"eventTime":{"type":"string","format":"date-time","description":"Time of the event occurrence"},"eventType":{"type":"string","description":"The type of the notification"},"fieldPath":{"type":"string","description":"The path identifying the object field concerned by this notification"},"resourcePath":{"type":"string","description":"The path identifying the resource object concerned by this notification"}},"title":"ServiceCandidateCreateNotification","description":"The notification data structure"},"ServiceCandidateDeleteEvent":{"type":"object","properties":{"serviceCandidate":{"description":"The involved resource data for the event","$ref":"#/definitions/ServiceCandidate"}},"title":"ServiceCandidateDeleteEvent","description":"The event data structure"},"ServiceCandidateDeleteNotification":{"type":"object","properties":{"event":{"description":"The event linked to the involved resource object","$ref":"#/definitions/ServiceCandidateDeleteEvent"},"eventId":{"type":"string","description":"The identifier of the notification"},"eventTime":{"type":"string","format":"date-time","description":"Time of the event occurrence"},"eventType":{"type":"string","description":"The type of the notification"},"fieldPath":{"type":"string","description":"The path identifying the object field concerned by this notification"},"resourcePath":{"type":"string","description":"The path identifying the resource object concerned by this notification"}},"title":"ServiceCandidateDeleteNotification","description":"The notification data structure"},"ServiceCandidateRef":{"type":"object","properties":{"@baseType":{"type":"string","description":"When sub-classing, this defines the super-class"},"@referredType":{"type":"string","description":"The actual type of the target instance when needed for disambiguation."},"@schemaLocation":{"type":"string","description":"A URI to a JSON-Schema file that defines additional attributes and relationships"},"@type":{"type":"string"},"href":{"type":"string","description":"Unique reference of the entity"},"id":{"type":"string"},"name":{"type":"string","description":"Name of the entity"},"uuid":{"type":"string"},"version":{"type":"string","description":"Version of the service candidate"}},"title":"ServiceCandidateRef","description":"ServiceCandidate reference. ServiceCandidate is an entity that makes a ServiceSpecification available to a catalog."},"ServiceCandidateUpdate":{"type":"object","properties":{"@baseType":{"type":"string","description":"When sub-classing, this defines the super-class"},"@schemaLocation":{"type":"string","description":"A URI to a JSON-Schema file that defines additional attributes and relationships"},"@type":{"type":"string","description":"When sub-classing, this defines the sub-class entity name"},"category":{"type":"array","description":"List of categories for this candidate","items":{"$ref":"#/definitions/ServiceCategoryRef"}},"description":{"type":"string","description":"Description of this REST resource"},"lifecycleStatus":{"type":"string","description":"Used to indicate the current lifecycle status of the service candidate."},"name":{"type":"string","description":"Name given to this REST resource"},"serviceSpecification":{"description":"The service specification implied by this candidate","$ref":"#/definitions/ServiceSpecificationRef"},"validFor":{"description":"The period for which this REST resource is valid","$ref":"#/definitions/TimePeriod"},"version":{"type":"string","description":"the version of service candidate"}},"title":"ServiceCandidateUpdate","description":"ServiceCandidate is an entity that makes a service specification available to a catalog. A ServiceCandidate and its associated service specification may be published - made visible - in any number of service catalogs, or in none. One service specification can be composed of other service specifications. Skipped properties: id,href,lastUpdate"},"ServiceCatalog":{"type":"object","properties":{"@baseType":{"type":"string","description":"When sub-classing, this defines the super-class"},"@schemaLocation":{"type":"string","description":"A URI to a JSON-Schema file that defines additional attributes and relationships"},"@type":{"type":"string","description":"When sub-classing, this defines the sub-class entity name"},"category":{"type":"array","description":"List of service categories associated with this catalog","items":{"$ref":"#/definitions/ServiceCategoryRef"}},"description":{"type":"string","description":"Description of this catalog"},"href":{"type":"string","description":"Unique reference of the entity"},"id":{"type":"string"},"lastUpdate":{"type":"string","description":"Date and time of the last update"},"lifecycleStatus":{"type":"string","description":"Used to indicate the current lifecycle status"},"name":{"type":"string","description":"Name of the entity"},"relatedParty":{"type":"array","description":"List of parties or party roles related to this category","items":{"$ref":"#/definitions/RelatedParty"}},"uuid":{"type":"string"},"validFor":{"description":"The period for which the entity is valid","$ref":"#/definitions/TimePeriod"},"version":{"type":"string","description":"Entity version"}},"title":"ServiceCatalog","description":"The root entity for service catalog management. A service catalog is a group of service specifications made available through service candidates that an organization provides to the consumers (internal consumers like its employees or B2B customers or B2C customers).  A service catalog typically includes name, description and time period that is valid for. It will have a list of ServiceCandidate catalog items. A ServiceCandidate is an entity that makes a ServiceSpecification available to a catalog. A ServiceCandidate and its associated ServiceSpecification may be \"published\" - made visible -in any number of ServiceCatalogs, or in none."},"ServiceCatalogBatchEvent":{"type":"object","properties":{"serviceCatalog":{"description":"The involved resource data for the event","$ref":"#/definitions/ServiceCatalog"}},"title":"ServiceCatalogBatchEvent","description":"The event data structure"},"ServiceCatalogBatchNotification":{"type":"object","properties":{"event":{"description":"The event linked to the involved resource object","$ref":"#/definitions/ServiceCatalogBatchEvent"},"eventId":{"type":"string","description":"The identifier of the notification"},"eventTime":{"type":"string","format":"date-time","description":"Time of the event occurrence"},"eventType":{"type":"string","description":"The type of the notification"},"fieldPath":{"type":"string","description":"The path identifying the object field concerned by this notification"},"resourcePath":{"type":"string","description":"The path identifying the resource object concerned by this notification"}},"title":"ServiceCatalogBatchNotification","description":"The notification data structure"},"ServiceCatalogChangeEvent":{"type":"object","properties":{"serviceCatalog":{"description":"The involved resource data for the event","$ref":"#/definitions/ServiceCatalog"}},"title":"ServiceCatalogChangeEvent","description":"The event data structure"},"ServiceCatalogChangeNotification":{"type":"object","properties":{"event":{"description":"The event linked to the involved resource object","$ref":"#/definitions/ServiceCatalogChangeEvent"},"eventId":{"type":"string","description":"The identifier of the notification"},"eventTime":{"type":"string","format":"date-time","description":"Time of the event occurrence"},"eventType":{"type":"string","description":"The type of the notification"},"fieldPath":{"type":"string","description":"The path identifying the object field concerned by this notification"},"resourcePath":{"type":"string","description":"The path identifying the resource object concerned by this notification"}},"title":"ServiceCatalogChangeNotification","description":"The notification data structure"},"ServiceCatalogCreate":{"type":"object","properties":{"@baseType":{"type":"string","description":"When sub-classing, this defines the super-class"},"@schemaLocation":{"type":"string","description":"A URI to a JSON-Schema file that defines additional attributes and relationships"},"@type":{"type":"string","description":"When sub-classing, this defines the sub-class entity name"},"category":{"type":"array","description":"List of service categories associated with this catalog","items":{"$ref":"#/definitions/ServiceCategoryRef"}},"description":{"type":"string","description":"Description of this catalog"},"lastUpdate":{"type":"string","format":"date-time","description":"Date and time of the last update"},"lifecycleStatus":{"type":"string","description":"Used to indicate the current lifecycle status"},"name":{"type":"string","description":"Name of the service catalog"},"relatedParty":{"type":"array","description":"List of parties or party roles related to this category","items":{"$ref":"#/definitions/RelatedParty"}},"validFor":{"description":"The period for which the service catalog is valid","$ref":"#/definitions/TimePeriod"},"version":{"type":"string","description":"ServiceCatalog version"}},"title":"ServiceCatalogCreate","description":"The root entity for service catalog management. A service catalog is a group of service specifications made available through service candidates that an organization provides to the consumers (internal consumers like its employees or B2B customers or B2C customers).  A service catalog typically includes name, description and time period that is valid for. It will have a list of ServiceCandidate catalog items. A ServiceCandidate is an entity that makes a ServiceSpecification available to a catalog. A ServiceCandidate and its associated ServiceSpecification may be \"published\" - made visible -in any number of ServiceCatalogs, or in none. Skipped properties: id,href"},"ServiceCatalogCreateEvent":{"type":"object","properties":{"serviceCatalog":{"description":"The involved resource data for the event","$ref":"#/definitions/ServiceCatalog"}},"title":"ServiceCatalogCreateEvent","description":"The event data structure"},"ServiceCatalogCreateNotification":{"type":"object","properties":{"event":{"description":"The event linked to the involved resource object","$ref":"#/definitions/ServiceCatalogCreateEvent"},"eventId":{"type":"string","description":"The identifier of the notification"},"eventTime":{"type":"string","format":"date-time","description":"Time of the event occurrence"},"eventType":{"type":"string","description":"The type of the notification"},"fieldPath":{"type":"string","description":"The path identifying the object field concerned by this notification"},"resourcePath":{"type":"string","description":"The path identifying the resource object concerned by this notification"}},"title":"ServiceCatalogCreateNotification","description":"The notification data structure"},"ServiceCatalogDeleteEvent":{"type":"object","properties":{"serviceCatalog":{"description":"The involved resource data for the event","$ref":"#/definitions/ServiceCatalog"}},"title":"ServiceCatalogDeleteEvent","description":"The event data structure"},"ServiceCatalogDeleteNotification":{"type":"object","properties":{"event":{"description":"The event linked to the involved resource object","$ref":"#/definitions/ServiceCatalogDeleteEvent"},"eventId":{"type":"string","description":"The identifier of the notification"},"eventTime":{"type":"string","format":"date-time","description":"Time of the event occurrence"},"eventType":{"type":"string","description":"The type of the notification"},"fieldPath":{"type":"string","description":"The path identifying the object field concerned by this notification"},"resourcePath":{"type":"string","description":"The path identifying the resource object concerned by this notification"}},"title":"Service
[...]
