{"swagger":"2.0","info":{"description":"## TMF API Reference: TMF685 Resource Pool Management   ### Release : 18.0 Resources that can\r\nbe reserved are only\r\nin one pool.\r\nIF a resource is not found in a pool is infinite.\r\nWhen one makes a reservation for a resource, then we check availability of \r\nthis resource on that specific dates\r\nif checkAvailability returns the resource\r\nthen it can be reserved on that specific requested date and time.","version":"1.0.0","title":"Resource Pool Management","contact":{},"license":{"url":"http://unlicense.org"}},"host":"portal.openslice.io","tags":[{"name":"availability-check-api-controller","description":"the availabilityCheck API"},{"name":"extract-api-controller","description":"the extract API"},{"name":"hub-api-controller","description":"the hub API"},{"name":"push-api-controller","description":"the push API"},{"name":"reservation-api-controller","description":"the reservation API"},{"name":"resource-pool-api-controller","description":"the resourcePool API"}],"paths":{"/tmf-api/resourcePoolManagement/v1/availabilityCheck":{"post":{"tags":["availabilityCheck"],"summary":"Creates a 'AvailabilityCheck'","description":"This operation executes task to retrieve available Resource entities or to check resource pool has available Resource capacity.","operationId":"createAvailabilityCheck","consumes":["application/json"],"produces":["application/json"],"parameters":[{"in":"body","name":"body","description":"The Availability Check to be created","required":true,"schema":{"$ref":"#/definitions/AvailabilityCheckCreate"}}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/AvailabilityCheck"}},"201":{"description":"Created","schema":{"$ref":"#/definitions/AvailabilityCheck"}},"400":{"description":"Bad Request","schema":{"$ref":"#/definitions/Error"}},"401":{"description":"Unauthorized","schema":{"$ref":"#/definitions/Error"}},"403":{"description":"Forbidden","schema":{"$ref":"#/definitions/Error"}},"404":{"description":"Not Found","schema":{"$ref":"#/definitions/Error"}},"405":{"description":"Method Not allowed","schema":{"$ref":"#/definitions/Error"}},"409":{"description":"Conflict","schema":{"$ref":"#/definitions/Error"}},"500":{"description":"Internal Server Error","schema":{"$ref":"#/definitions/Error"}}},"security":[{"spring_oauth":["read","write","admin","openapi"]}]}},"/tmf-api/resourcePoolManagement/v1/extract":{"post":{"tags":["extract"],"summary":"Creates an 'Extract' action and modifies a pool","description":"In this operation, TASK is executed to extract the capacity of the resource from the resource pool to another pool.","operationId":"createExtract","consumes":["application/json"],"produces":["application/json"],"parameters":[{"in":"body","name":"body","description":"The Extract to be performed","required":true,"schema":{"$ref":"#/definitions/ExtractCreate"}}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/ResourcePool"}},"201":{"description":"Created","schema":{"$ref":"#/definitions/ResourcePool"}},"400":{"description":"Bad Request","schema":{"$ref":"#/definitions/Error"}},"401":{"description":"Unauthorized","schema":{"$ref":"#/definitions/Error"}},"403":{"description":"Forbidden","schema":{"$ref":"#/definitions/Error"}},"404":{"description":"Not Found","schema":{"$ref":"#/definitions/Error"}},"405":{"description":"Method Not allowed","schema":{"$ref":"#/definitions/Error"}},"409":{"description":"Conflict","schema":{"$ref":"#/definitions/Error"}},"500":{"description":"Internal Server Error","schema":{"$ref":"#/definitions/Error"}}},"security":[{"spring_oauth":["read","write","admin","openapi"]}]}},"/tmf-api/resourcePoolManagement/v1/hub":{"post":{"tags":["events subscription"],"summary":"Register a listener","description":"Sets the communication endpoint address the service instance must use to deliver information about its health state, execution state, failures and metrics.","operationId":"registerListener_15","consumes":["application/json"],"produces":["application/json"],"parameters":[{"in":"body","name":"body","description":"Data containing the callback endpoint to deliver the information","required":true,"schema":{"$ref":"#/definitions/EventSubscriptionInput"}}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/EventSubscription"}},"201":{"description":"Subscribed","schema":{"$ref":"#/definitions/EventSubscription"}},"400":{"description":"Bad Request","schema":{"$ref":"#/definitions/Error"}},"401":{"description":"Unauthorized","schema":{"$ref":"#/definitions/Error"}},"403":{"description":"Forbidden","schema":{"$ref":"#/definitions/Error"}},"404":{"description":"Not Found","schema":{"$ref":"#/definitions/Error"}},"405":{"description":"Method Not allowed","schema":{"$ref":"#/definitions/Error"}},"409":{"description":"Conflict","schema":{"$ref":"#/definitions/Error"}},"500":{"description":"Internal Server Error","schema":{"$ref":"#/definitions/Error"}}},"security":[{"spring_oauth":["read","write","admin","openapi"]}]}},"/tmf-api/resourcePoolManagement/v1/hub/{id}":{"delete":{"tags":["events subscription"],"summary":"Unregister a listener","description":"Resets the communication endpoint address the service instance must use to deliver information about its health state, execution state, failures and metrics.","operationId":"unregisterListener_15","produces":["application/json"],"parameters":[{"name":"id","in":"path","description":"The id of the registered listener","required":true,"type":"string"}],"responses":{"200":{"description":"OK"},"204":{"description":"Deleted","schema":{"$ref":"#/definitions/Error"}},"400":{"description":"Bad request","schema":{"$ref":"#/definitions/Error"}},"401":{"description":"Unauthorized","schema":{"$ref":"#/definitions/Error"}},"403":{"description":"Forbidden","schema":{"$ref":"#/definitions/Error"}},"404":{"description":"Not Found","schema":{"$ref":"#/definitions/Error"}},"405":{"description":"Method not allowed","schema":{"$ref":"#/definitions/Error"}},"500":{"description":"Internal Server Error","schema":{"$ref":"#/definitions/Error"}}},"security":[{"spring_oauth":["read","write","admin","openapi"]}]}},"/tmf-api/resourcePoolManagement/v1/push":{"post":{"tags":["push"],"summary":"Creates a 'Push' action and modifies a Pool","description":"This operation runs TASK, which adds the capacity of the new resource to the resource pool.","operationId":"createPush","consumes":["application/json"],"produces":["application/json"],"parameters":[{"in":"body","name":"body","description":"The Push to be performed","required":true,"schema":{"$ref":"#/definitions/PushCreate"}}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/ResourcePool"}},"201":{"description":"Created","schema":{"$ref":"#/definitions/ResourcePool"}},"400":{"description":"Bad Request","schema":{"$ref":"#/definitions/Error"}},"401":{"description":"Unauthorized","schema":{"$ref":"#/definitions/Error"}},"403":{"description":"Forbidden","schema":{"$ref":"#/definitions/Error"}},"404":{"description":"Not Found","schema":{"$ref":"#/definitions/Error"}},"405":{"description":"Method Not allowed","schema":{"$ref":"#/definitions/Error"}},"409":{"description":"Conflict","schema":{"$ref":"#/definitions/Error"}},"500":{"description":"Internal Server Error","schema":{"$ref":"#/definitions/Error"}}},"security":[{"spring_oauth":["read","write","admin","openapi"]}]}},"/tmf-api/resourcePoolManagement/v1/reservation":{"get":{"tags":["reservation"],"summary":"List or find 'Reservation' objects","operationId":"listReservation","produces":["application/json"],"parameters":[{"name":"fields","in":"query","description":"Comma separated properties to display in response","required":false,"type":"string"},{"name":"limit","in":"query","description":"Requested number of resources to be provided in response","required":false,"type":"integer","format":"int32"},{"name":"name","in":"query","required":false,"type":"string"},{"name":"offset","in":"query","description":"Requested index for start of resources to be provided in response","required":false,"type":"integer","format":"int32"}],"responses":{"200":{"description":"Ok","schema":{"type":"array","items":{"$ref":"#/definitions/Reservation"}}},"400":{"description":"Bad Request","schema":{"$ref":"#/definitions/Error"}},"401":{"description":"Unauthorized","schema":{"$ref":"#/definitions/Error"}},"403":{"description":"Forbidden","schema":{"$ref":"#/definitions/Error"}},"404":{"description":"Not Found","schema":{"$ref":"#/definitions/Error"}},"405":{"description":"Method Not allowed","schema":{"$ref":"#/definitions/Error"}},"409":{"description":"Conflict","schema":{"$ref":"#/definitions/Error"}},"500":{"description":"Internal Server Error","schema":{"$ref":"#/definitions/Error"}}},"security":[{"spring_oauth":["read","write","admin","openapi"]}]},"post":{"tags":["reservation"],"summary":"Creates a 'Reservation'","operationId":"createReservation","consumes":["application/json"],"produces":["application/json"],"parameters":[{"in":"body","name":"body","description":"The Reservation to be created","required":true,"schema":{"$ref":"#/definitions/ReservationCreate"}},{"name":"name","in":"query","required":false,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/Reservation"}},"201":{"description":"Created","schema":{"$ref":"#/definitions/Reservation"}},"400":{"description":"Bad Request","schema":{"$ref":"#/definitions/Error"}},"401":{"description":"Unauthorized","schema":{"$ref":"#/definitions/Error"}},"403":{"description":"Forbidden","schema":{"$ref":"#/definitions/Error"}},"404":{"description":"Not Found","schema":{"$ref":"#/definitions/Error"}},"405":{"description":"Method Not allowed","schema":{"$ref":"#/definitions/Error"}},"409":{"description":"Conflict","schema":{"$ref":"#/definitions/Error"}},"500":{"description":"Internal Server Error","schema":{"$ref":"#/definitions/Error"}}},"security":[{"spring_oauth":["read","write","admin","openapi"]}]}},"/tmf-api/resourcePoolManagement/v1/reservation/{id}":{"get":{"tags":["reservation"],"summary":"Retrieves a 'Reservation' by Id","operationId":"retrieveReservation","produces":["application/json"],"parameters":[{"name":"id","in":"path","description":"Identifier of the Reservation","required":true,"type":"string"},{"name":"name","in":"query","required":false,"type":"string"}],"responses":{"200":{"description":"Ok","schema":{"type":"array","items":{"$ref":"#/definitions/Reservation"}}},"400":{"description":"Bad Request","schema":{"$ref":"#/definitions/Error"}},"401":{"description":"Unauthorized","schema":{"$ref":"#/definitions/Error"}},"403":{"description":"Forbidden","schema":{"$ref":"#/definitions/Error"}},"404":{"description":"Not Found","schema":{"$ref":"#/definitions/Error"}},"405":{"description":"Method Not allowed","schema":{"$ref":"#/definitions/Error"}},"409":{"description":"Conflict","schema":{"$ref":"#/definitions/Error"}},"500":{"description":"Internal Server Error","schema":{"$ref":"#/definitions/Error"}}},"security":[{"spring_oauth":["read","write","admin","openapi"]}]},"patch":{"tags":["reservation"],"summary":"Updates partially a 'Reservation' by Id","operationId":"patchReservation","consumes":["application/json"],"produces":["application/json"],"parameters":[{"in":"body","name":"body","description":"The Reservation to be updated","required":true,"schema":{"$ref":"#/definitions/ReservationUpdate"}},{"name":"id","in":"path","description":"Identifier of the Reservation","required":true,"type":"string"},{"name":"name","in":"query","required":false,"type":"string"}],"responses":{"200":{"description":"Updated","schema":{"$ref":"#/definitions/Reservation"}},"204":{"description":"No Content"},"400":{"description":"Bad Request","schema":{"$ref":"#/definitions/Error"}},"401":{"description":"Unauthorized","schema":{"$ref":"#/definitions/Error"}},"403":{"description":"Forbidden","schema":{"$ref":"#/definitions/Error"}},"404":{"description":"Not Found","schema":{"$ref":"#/definitions/Error"}},"405":{"description":"Method Not allowed","schema":{"$ref":"#/definitions/Error"}},"409":{"description":"Conflict","schema":{"$ref":"#/definitions/Error"}},"500":{"description":"Internal Server Error","schema":{"$ref":"#/definitions/Error"}}},"security":[{"spring_oauth":["read","write","admin","openapi"]}]}},"/tmf-api/resourcePoolManagement/v1/resourcePool":{"get":{"tags":["resourcePool"],"summary":"List or find ResourcePool objects","description":"This operation list or find ResourcePool entities","operationId":"listResourcePool","produces":["application/json;charset=utf-8"],"parameters":[{"name":"fields","in":"query","description":"Comma-separated properties to be provided in response","required":false,"type":"string"},{"name":"limit","in":"query","description":"Requested number of resources to be provided in response","required":false,"type":"integer","format":"int32"},{"name":"name","in":"query","required":false,"type":"string"},{"name":"offset","in":"query","description":"Requested index for start of resources to be provided in response","required":false,"type":"integer","format":"int32"}],"responses":{"200":{"description":"Success","schema":{"type":"array","items":{"$ref":"#/definitions/ResourcePool"}}},"400":{"description":"Bad Request","schema":{"$ref":"#/definitions/Error"}},"401":{"description":"Unauthorized","schema":{"$ref":"#/definitions/Error"}},"403":{"description":"Forbidden","schema":{"$ref":"#/definitions/Error"}},"404":{"description":"Not Found","schema":{"$ref":"#/definitions/Error"}},"405":{"description":"Method Not allowed","schema":{"$ref":"#/definitions/Error"}},"409":{"description":"Conflict","schema":{"$ref":"#/definitions/Error"}},"500":{"description":"Internal Server Error","schema":{"$ref":"#/definitions/Error"}}},"security":[{"spring_oauth":["read","write","admin","openapi"]}]},"post":{"tags":["resourcePool"],"summary":"Creates a 'ResourcePool'","operationId":"createResourcePool","consumes":["application/json"],"produces":["application/json"],"parameters":[{"in":"body","name":"body","description":"The Resource Pool to be created","required":true,"schema":{"$ref":"#/definitions/ResourcePoolCreate"}},{"name":"name","in":"query","required":false,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/ResourcePool"}},"201":{"description":"Created","schema":{"$ref":"#/definitions/ResourcePool"}},"400":{"description":"Bad Request","schema":{"$ref":"#/definitions/Error"}},"401":{"description":"Unauthorized","schema":{"$ref":"#/definitions/Error"}},"403":{"description":"Forbidden","schema":{"$ref":"#/definitions/Error"}},"404":{"description":"Not Found","schema":{"$ref":"#/definitions/Error"}},"405":{"description":"Method Not allowed","schema":{"$ref":"#/definitions/Error"}},"409":{"description":"Conflict","schema":{"$ref":"#/definitions/Error"}},"500":{"description":"Internal Server Error","schema":{"$ref":"#/definitions/Error"}}},"security":[{"spring_oauth":["read","write","admin","openapi"]}]}},"/tmf-api/resourcePoolManagement/v1/resourcePool/{id}":{"get":{"tags":["resourcePool"],"summary":"Retrieves a ResourcePool by ID","description":"This operation retrieves a ResourcePool entity. Attribute selection is enabled for all first level attributes.","operationId":"retrieveResourcePool","produces":["application/json;charset=utf-8"],"parameters":[{"name":"fields","in":"query","description":"Comma-separated properties to provide in response","required":false,"type":"string"},{"name":"id","in":"path","description":"Identifier of the ResourcePool","required":true,"type":"string"},{"name":"name","in":"query","required":false,"type":"string"}],"responses":{"200":{"description":"Success","schema":{"$ref":"#/definitions/ResourcePool"}},"400":{"description":"Bad Request","schema":{"$ref":"#/definitions/Error"}},"401":{"description":"Unauthorized","schema":{"$ref":"#/definitions/Error"}},"403":{"description":"Forbidden","schema":{"$ref":"#/definitions/Error"}},"404":{"description":"Not Found","schema":{"$ref":"#/definitions/Error"}},"405":{"description":"Method Not allowed","schema":{"$ref":"#/definitions/Error"}},"409":{"description":"Conflict","schema":{"$ref":"#/definitions/Error"}},"500":{"description":"Internal Server Error","schema":{"$ref":"#/definitions/Error"}}},"security":[{"spring_oauth":["read","write","admin","openapi"]}]},"delete":{"tags":["resourcePool"],"summary":"Deletes a 'ResourcePool' by Id","operationId":"deleteResourcePool","produces":["application/json"],"parameters":[{"name":"id","in":"path","description":"Identifier of the Resource Pool","required":true,"type":"string"},{"name":"name","in":"query","required":false,"type":"string"}],"responses":{"200":{"description":"OK"},"204":{"description":"Deleted","schema":{"$ref":"#/definitions/Error"}},"400":{"description":"Bad Request","schema":{"$ref":"#/definitions/Error"}},"401":{"description":"Unauthorized","schema":{"$ref":"#/definitions/Error"}},"403":{"description":"Forbidden","schema":{"$ref":"#/definitions/Error"}},"404":{"description":"Not Found","schema":{"$ref":"#/definitions/Error"}},"405":{"description":"Method Not allowed","schema":{"$ref":"#/definitions/Error"}},"409":{"description":"Conflict","schema":{"$ref":"#/definitions/Error"}},"500":{"description":"Internal Server Error","schema":{"$ref":"#/definitions/Error"}}},"security":[{"spring_oauth":["read","write","admin","openapi"]}]},"patch":{"tags":["resourcePool"],"summary":"Updates partially a 'ResourcePool' by Id","operationId":"patchResourcePool","consumes":["application/json"],"produces":["application/json"],"parameters":[{"in":"body","name":"body","description":"The Resource Pool to be updated","required":true,"schema":{"$ref":"#/definitions/ResourcePoolUpdate"}},{"name":"id","in":"path","description":"Identifier of the Resource Pool","required":true,"type":"string"},{"name":"name","in":"query","required":false,"type":"string"}],"responses":{"200":{"description":"Updated","schema":{"$ref":"#/definitions/ResourcePool"}},"204":{"description":"No Content"},"400":{"description":"Bad Request","schema":{"$ref":"#/definitions/Error"}},"401":{"description":"Unauthorized","schema":{"$ref":"#/definitions/Error"}},"403":{"description":"Forbidden","schema":{"$ref":"#/definitions/Error"}},"404":{"description":"Not Found","schema":{"$ref":"#/definitions/Error"}},"405":{"description":"Method Not allowed","schema":{"$ref":"#/definitions/Error"}},"409":{"description":"Conflict","schema":{"$ref":"#/definitions/Error"}},"500":{"description":"Internal Server Error","schema":{"$ref":"#/definitions/Error"}}},"security":[{"spring_oauth":["read","write","admin","openapi"]}]}}},"securityDefinitions":{"spring_oauth":{"type":"oauth2","authorizationUrl":"http://portal.openslice.io/auth/realms/openslice/protocol/openid-connect/auth","tokenUrl":"http://portal.openslice.io/auth/realms/openslice/protocol/openid-connect/token","flow":"accessCode","scopes":{"read":"for read operations","write":"for write operations","admin":"Access admin API","openapi":"Access openapi API"}}},"definitions":{"ApplicableTimePeriod":{"type":"object","properties":{"@baseType":{"type":"string","description":"When sub-classing, this defines the super-class"},"@schemaLocation":{"type":"string","description":"A URI to a JSON-Schema file that defines additional attributes and relationships"},"@type":{"type":"string"},"dayOfWeek":{"type":"string","description":"A day or days representing when the schedule is applicable. For example 2, 3 represent Monday and Tuesday."},"endDateTime":{"type":"string","description":"The period of time for which the schedule is applicable.  Instance values are mutually exclusive with daysOfWeek values."},"fromDateTime":{"type":"string","description":"The period of time for which the schedule is applicable.  Instance values are mutually exclusive with daysOfWeek values."},"href":{"type":"string","description":"Unique reference of the entity"},"rangeInterval":{"type":"string","description":"An indicator that specifies the inclusion or exclusion of the from and to DateTime attributes.  Possible values are \"open\", \"closed\", \"closedBottom\" and \"closedTop\"."},"uuid":{"type":"string"}},"title":"ApplicableTimePeriod","description":"The period of time for which Capacity or CapacityDemand applies."},"AppliedCapacityAmount":{"type":"object","properties":{"@baseType":{"type":"string","description":"When sub-classing, this defines the super-class"},"@schemaLocation":{"type":"string","description":"A URI to a JSON-Schema file that defines additional attributes and relationships"},"@type":{"type":"string"},"appliedDemandAmount":{"type":"integer","format":"int32","description":"An amount of demand applied to a CapacityAmount. Note that this is a composite attribute defined by CapacityAmount."},"href":{"type":"string","description":"Unique reference of the entity"},"resource":{"type":"array","uniqueItems":true,"items":{"$ref":"#/definitions/ResourceRef"}},"resourceCapacityDemand":{"$ref":"#/definitions/ResourceCapacityDemand"},"resources":{"type":"array","uniqueItems":true,"items":{"$ref":"#/definitions/ResourceRef"}},"uuid":{"type":"string"}},"title":"AppliedCapacityAmount","description":"The amount of CapcityDemand applied to a CapacityAmount."},"AvailabilityCheck":{"type":"object","properties":{"@baseType":{"type":"string"},"@schemaLocation":{"type":"string"},"@type":{"type":"string"},"atBaseType":{"type":"string","description":"The base type for use in polymorphic collections"},"atSchemaLocation":{"type":"string","description":"A link to the schema describing a resource (for type extension)."},"atType":{"type":"string","description":"The class type of the actual resource (for type extension)."},"availableResources":{"type":"array","items":{"$ref":"#/definitions/ResourceRef"}},"href":{"type":"string","description":"A string. Hyperlink to access the availabilityCheck task for resource pool Management"},"id":{"type":"string","description":"A string. Identifier of an instance of the availabilityCheck task for resource pool Management"},"resourceCapacityDemand":{"$ref":"#/definitions/ResourceCapacityDemand"}},"title":"AvailabilityCheck","description":"the availabilityCheck task resource for resource pool management"},"AvailabilityCheckCreate":{"type":"object","properties":{"@baseType":{"type":"string"},"@schemaLocation":{"type":"string"},"@type":{"type":"string"},"atBaseType":{"type":"string","description":"The base type for use in polymorphic collections"},"atSchemaLocation":{"type":"string","description":"A link to the schema describing a resource (for type extension)."},"atType":{"type":"string","description":"The class type of the actual resource (for type extension)."},"resourceCapacityDemand":{"$ref":"#/definitions/ResourceCapacityDemand"}},"title":"AvailabilityCheckCreate","description":"the availabilityCheck task resource for resource pool management Skipped properties: id,href"},"Capacity":{"type":"object","properties":{"@baseType":{"type":"string","description":"When sub-classing, this defines the super-class"},"@schemaLocation":{"type":"string","description":"A URI to a JSON-Schema file that defines additional attributes and relationships"},"@type":{"type":"string"},"appliedCapacityAmount":{"type":"array","uniqueItems":true,"items":{"$ref":"#/definitions/AppliedCapacityAmount"}},"capacityAmount":{"type":"integer","format":"int32"},"href":{"type":"string","description":"Unique reference of the entity"},"place":{"$ref":"#/definitions/PlaceRef"},"relatedParty":{"$ref":"#/definitions/RelatedParty"},"resources":{"type":"array","uniqueItems":true,"items":{"$ref":"#/definitions/ResourceRef"}},"uuid":{"type":"string"}},"title":"Capacity"},"Error":{"type":"object","required":["code","reason"],"properties":{"@schemaLocation":{"type":"string"},"@type":{"type":"string"},"atSchemaLocation":{"type":"string","description":"(optional) A link to the schema describing a REST resource."},"atType":{"type":"string","description":"(optional) The class type of a REST resource."},"code":{"type":"integer","format":"int32","description":"Application related code."},"message":{"type":"string","description":"(optional) Text that provide more details and corrective actions related to the error."},"reason":{"type":"integer","format":"int32","description":"Text that explains the reason for error."},"referenceError":{"type":"string","description":"(optional) A URL to online documentation that provides more information about the error."},"status":{"type":"integer","format":"int32","description":"(optional) http error code extension like 400-2"}},"title":"Error"},"EventSubscription":{"type":"object","required":["callback","id"],"properties":{"callback":{"type":"string","description":"The callback being registered."},"id":{"type":"string","description":"Id of the listener"},"query":{"type":"string","description":"additional data to be passed"}},"title":"EventSubscription"},"EventSubscriptionInput":{"type":"object","required":["callback"],"properties":{"callback":{"type":"string","description":"The callback being registered."},"query":{"type":"string","description":"additional data to be passed"}},"title":"EventSubscriptionInput"},"ExtractCreate":{"type":"object","properties":{"@baseType":{"type":"string"},"@schemaLocation":{"type":"string"},"@type":{"type":"string"},"atBaseType":{"type":"string","description":"The base type for use in polymorphic collections"},"atSchemaLocation":{"type":"string","description":"A link to the schema describing a resource (for type extension)."},"atType":{"type":"string","description":"The class type of the actual resource (for type extension)."},"capacity":{"$ref":"#/definitions/Capacity"},"resourcePool":{"$ref":"#/definitions/ResourcePoolRef"}},"title":"ExtractCreate","description":"the extract task resource for resource pool management Skipped properties: id,href"},"PlaceRef":{"type":"object","required":["id"],"properties":{"@baseType":{"type":"string","description":"When sub-classing, this defines the super-class"},"@referredType":{"type":"string","description":"The actual type of the target instance when needed for disambiguation."},"@schemaLocation":{"type":"string","description":"A URI to a JSON-Schema file that defines additional attributes and relationships"},"@type":{"type":"string"},"href":{"type":"string","description":"Unique reference of the entity"},"id":{"type":"string","description":"Unique identifier of a related entity."},"name":{"type":"string","description":"Name of the entity"},"uuid":{"type":"string"}},"title":"PlaceRef","description":"Place reference. PlaceRef defines the placeRefs where the products are sold or delivered."},"PushCreate":{"type":"object","properties":{"@baseType":{"type":"string"},"@schemaLocation":{"type":"string"},"@type":{"type":"string"},"atBaseType":{"type":"string","description":"The base type for use in polymorphic collections"},"atSchemaLocation":{"type":"string","description":"A link to the schema describing a resource (for type extension)."},"atType":{"type":"string","description":"The class type of the actual resource (for type extension)."},"capacity":{"$ref":"#/definitions/Capacity"},"resourcePool":{"$ref":"#/definitions/ResourcePoolRef"}},"title":"PushCreate","description":"the push task resource for resource pool management Skipped properties: id,href"},"RelatedParty":{"type":"object","properties":{"@baseType":{"type":"string","description":"When sub-classing, this defines the super-class"},"@referredType":{"type":"string","description":"The actual type of the target instance when needed for disambiguation."},"@schemaLocation":{"type":"string","description":"A URI to a JSON-Schema file that defines additional attributes and relationships"},"@type":{"type":"string"},"extendedInfo":{"type":"string"},"href":{"type":"string","description":"Unique reference of the entity"},"id":{"type":"string"},"name":{"type":"string","description":"Name of the entity"},"role":{"type":"string","description":"Role of the related party."},"uuid":{"type":"string"}},"title":"RelatedParty","description":"RelatedParty reference. A related party defines party or party role linked to a specific entity."},"Reservation":{"type":"object","properties":{"@baseType":{"type":"string","description":"When sub-classing, this defines the super-class"},"@schemaLocation":{"type":"string","description":"A URI to a JSON-Schema file that defines additional attributes and relationships"},"@type":{"type":"string"},"description":{"type":"string","description":"Description of this catalog"},"href":{"type":"string","description":"Unique reference of the entity"},"id":{"type":"string","description":"A string. Identifier of an instance of the Reservation."},"lastUpdate":{"type":"string","description":"Date and time of the last update"},"lifecycleStatus":{"type":"string","description":"Used to indicate the current lifecycle status"},"name":{"type":"string","description":"Name of the entity"},"relatedParty":{"$ref":"#/definitions/RelatedParty"},"requestedPeriodEndDateTime":{"type":"string","description":"End of the time period, using IETC-RFC-3339 format"},"requestedPeriodStartDateTime":{"type":"string","description":"Start of the time period, using IETC-RFC-3339 format. If you define a start, you must also define an end"},"reservationItem":{"type":"array","uniqueItems":true,"items":{"$ref":"#/definitions/ReservationItem"}},"reservationState":{"type":"string","description":"A string. The life cycle state of the reservation."},"serviceOrderRef":{"$ref":"#/definitions/ServiceOrderRef"},"uuid":{"type":"string"},"validFor":{"description":"The period for which the entity is valid","$ref":"#/definitions/TimePeriod"},"version":{"type":"string","description":"Entity version"}},"title":"Reservation","description":"reservation api resource"},"ReservationCreate":{"type":"object","properties":{"@baseType":{"type":"string"},"@schemaLocation":{"type":"string"},"@type":{"type":"string"},"atBaseType":{"type":"string"},"atSchemaLocation":{"type":"string","description":"A string. Generic attribute containing the link to the schema that defines the structure of the class type of the current object."},"atType":{"type":"string","description":"A string. Indicates the (class) type of reservation. Ex. serviceItemReservation, resourceItemReservation"},"description":{"type":"string","description":"A string. free-text description of the reservation."},"relatedParty":{"$ref":"#/definitions/RelatedParty"},"requestedPeriodEndDateTime":{"type":"string"},"requestedPeriodStartDateTime":{"type":"string"},"reservationItem":{"type":"array","items":{"$ref":"#/definitions/ReservationItem"}},"reservationState":{"type":"string","description":"A string. The life cycle state of the reservation."},"serviceOrderRef":{"$ref":"#/definitions/ServiceOrderRef"},"validFor":{"description":"The period of time for which the reservation is applicable.","$ref":"#/definitions/TimePeriod"}},"title":"ReservationCreate","description":"reservation api resource Skipped properties: id,href"},"ReservationItem":{"type":"object","properties":{"@baseType":{"type":"string","description":"When sub-classing, this defines the super-class"},"@schemaLocation":{"type":"string","description":"A URI to a JSON-Schema file that defines additional attributes and relationships"},"@type":{"type":"string"},"appliedCapacityAmount":{"$ref":"#/definitions/AppliedCapacityAmount"},"href":{"type":"string","description":"Unique reference of the entity"},"quantity":{"type":"integer","format":"int32","description":"Represents the number of reservationItems that make up the reservation."},"resourceCapacity":{"$ref":"#/definitions/ResourceCapacityDemand"},"subReservationState":{"type":"string","description":"A string. The life cycle state of the each reservation item."},"uuid":{"type":"string"}},"title":"ReservationItem","description":"An identified part of the reservation. A reservation is decomposed into one or more reservation items."},"ReservationUpdate":{"type":"object","properties":{"@baseType":{"type":"string"},"@schemaLocation":{"type":"string"},"@type":{"type":"string"},"atBaseType":{"type":"string"},"atSchemaLocation":{"type":"string","description":"A string. Generic attribute containing the link to the schema that defines the structure of the class type of the current object."},"atType":{"type":"string","description":"A string. Indicates the (class) type of reservation. Ex. serviceItemReservation, resourceItemReservation"},"description":{"type":"string","description":"A string. free-text description of the reservation."},"relatedParty":{"$ref":"#/definitions/RelatedParty"},"requestedPeriodEndDateTime":{"type":"string"},"requestedPeriodStartDateTime":{"type":"string"},"reservationItem":{"type":"array","items":{"$ref":"#/definitions/ReservationItem"}},"reservationState":{"type":"string","description":"A string. The life cycle state of the reservation."},"serviceOrderRef":{"$ref":"#/definitions/ServiceOrderRef"},"validFor":{"description":"The period of time for which the reservation is applicable.","$ref":"#/definitions/TimePeriod"}},"title":"ReservationUpdate","description":"reservation api resource Skipped properties: id,href"},"ResourceCapacityDemand":{"type":"object","properties":{"@baseType":{"type":"string","description":"When sub-classing, this defines the super-class"},"@schemaLocation":{"type":"string","description":"A URI to a JSON-Schema file that defines additional attributes and relationships"},"@type":{"type":"string"},"applicableTimePeriod":{"$ref":"#/definitions/ApplicableTimePeriod"},"capacityDemandAmount":{"type":"integer","format":"int32","description":"A value and units that define the CapacityDemand, such as 10000 ea, 10B Mb.  Instance values are mutually exclusive with From and To capacityDemandAmounts and range interval."},"href":{"type":"string","description":"Unique reference of the entity"},"place":{"$ref":"#/definitions/PlaceRef"},"resourcePool":{"$ref":"#/definitions/ResourcePoolRef"},"resources":{"type":"array","uniqueItems":true,"items":{"$ref":"#/definitions/ResourceRef"}},"uuid":{"type":"string"}},"title":"ResourceCapacityDemand","description":"the amount of capacity that is planned to be consumed or has been consumed."},"ResourcePool":{"type":"object","properties":{"@baseType":{"type":"string","description":"When sub-classing, this defines the super-class"},"@schemaLocation":{"type":"string","description":"A URI to a JSON-Schema file that defines additional attributes and relationships"},"@type":{"type":"string"},"capacity":{"$ref":"#/definitions/Capacity"},"description":{"type":"string","description":"Description of this catalog"},"href":{"type":"string","description":"Unique reference of the entity"},"id":{"type":"string","description":"Unique identifier of this REST resource"},"lastUpdate":{"type":"string","description":"Date and time of the last update"},"lifecycleStatus":{"type":"string","description":"Used to indicate the current lifecycle status"},"name":{"type":"string","description":"Name of the entity"},"uuid":{"type":"string"},"validFor":{"description":"The period for which the entity is valid","$ref":"#/definitions/TimePeriod"},"version":{"type":"string","description":"Entity version"}},"title":"ResourcePool","description":"manages resource capacity with the resource state"},"ResourcePoolCreate":{"type":"object","properties":{"@baseType":{"type":"string"},"@schemaLocation":{"type":"string"},"@type":{"type":"string"},"atBaseType":{"type":"string","description":"A string. Generic attribute indicating the base class type of the extension class of the current object. Useful only when the class type of the current  object is unknown to the implementation."},"atSchemaLocation":{"type":"string","description":"A string. Generic attribute containing the link to the schema that defines the structure of the class type of the current object."},"atType":{"type":"string","description":"A string. Generic attribute containing the name of the resource class type."},"capacity":{"$ref":"#/definitions/Capacity"},"description":{"type":"string","description":"A string. free-text description of the Resource Pool."},"name":{"type":"string"},"relatedParty":{"type":"string","description":"A related party defines party or party role linked to a specific entity, who uses the resource of Resource Pool."}},"title":"ResourcePoolCreate","description":"manages resource capacity with the resource state Skipped properties: id,href"},"ResourcePoolRef":{"type":"object","properties":{"@baseType":{"type":"string","description":"When sub-classing, this defines the super-class"},"@referredType":{"type":"string"},"@schemaLocation":{"type":"string","description":"A URI to a JSON-Schema file that defines additional attributes and relationships"},"@type":{"type":"string"},"atReferredType":{"type":"string","description":"A string. Indicates the type of the referred object. This attribute is to be used when the object is representing a reference to an existing object instead of the of the object itself."},"href":{"type":"string","description":"Unique reference of the entity"},"id":{"type":"string","description":"A string. Identifier of an instance of the Resource Pool."},"resources":{"type":"array","uniqueItems":true,"items":{"$ref":"#/definitions/ResourceRef"}}},"title":"ResourcePoolRef","description":"manages resource capacity with the resource state"},"ResourcePoolUpdate":{"type":"object","properties":{"@baseType":{"type":"string"},"@schemaLocation":{"type":"string"},"@type":{"type":"string"},"atBaseType":{"type":"string","description":"A string. Generic attribute indicating the base class type of the extension class of the current object. Useful only when the class type of the current  object is unknown to the implementation."},"atSchemaLocation":{"type":"string","description":"A string. Generic attribute containing the link to the schema that defines the structure of the class type of the current object."},"atType":{"type":"string","description":"A string. Generic attribute containing the name of the resource class type."},"capacity":{"$ref":"#/definitions/Capacity"},"description":{"type":"string","description":"A string. free-text description of the Resource Pool."},"name":{"type":"string"},"relatedParty":{"type":"string","description":"A related party defines party or party role linked to a specific entity, who uses the resource of Resource Pool."}},"title":"ResourcePoolUpdate","description":"manages resource capacity with the resource state Skipped properties: id,href"},"ResourceRef":{"type":"object","required":["id"],"properties":{"@baseType":{"type":"string","description":"When sub-classing, this defines the super-class"},"@referredType":{"type":"string","description":"The actual type of the target instance when needed for disambiguation."},"@schemaLocation":{"type":"string","description":"A URI to a JSON-Schema file that defines additional attributes and relationships"},"@type":{"type":"string"},"href":{"type":"string","description":"Unique reference of the entity"},"id":{"type":"string","description":"Unique identifier of the supporting resource"},"name":{"type":"string","description":"Name of the entity"},"uuid":{"type":"string"}},"title":"ResourceRef"},"ServiceOrderRef":{"type":"object","required":["id"],"properties":{"@baseType":{"type":"string","description":"When sub-classing, this defines the super-class"},"@referredType":{"type":"string","description":"The actual type of the target instance when needed for disambiguation."},"@schemaLocation":{"type":"string","description":"A URI to a JSON-Schema file that defines additional attributes and relationships"},"@type":{"type":"string"},"href":{"type":"string","description":"Unique reference of the entity"},"id":{"type":"string","description":"Unique identifier of the Service Order"},"serviceOrderItemId":{"type":"string","description":"Unique identifier of the Service Order Item within a service order, not populated if this is a reference to a service order"}},"title":"ServiceOrderRef","description":"Service Order reference. Useful to understand the which was the Service order through which the service was instantiated in the service inventory"},"TimePeriod":{"type":"object","properties":{"endDateTime":{"type":"string","description":"End of the time period, using IETC-RFC-3339 format"},"startDateTime":{"type":"string","description":"Start of the time period, using IETC-RFC-3339 format. If you define a start, you must also define an end"}},"title":"TimePeriod","description":"A period of time, either as a deadline (endDateTime only) a startDateTime only, or both"}}}