{"swagger":"2.0","info":{"description":"## TMF API Reference: TMF642 Alarm Management API","version":"4.0.0","title":"API Alarm","contact":{},"license":{"url":"http://unlicense.org"}},"host":"portal.openslice.io","basePath":"/tmf-api","tags":[{"name":"ack-alarms-api-controller","description":"the ackAlarms API"},{"name":"alarm-api-controller","description":"the alarm API"},{"name":"clear-alarms-api-controller","description":"the clearAlarms API"},{"name":"comment-alarms-api-controller","description":"the commentAlarms API"},{"name":"group-alarms-api-controller","description":"the groupAlarms API"},{"name":"hub-api-controller","description":"the hub API"},{"name":"listener-api-controller","description":"the listener API"},{"name":"un-ack-alarms-api-controller","description":"the unAckAlarms API"},{"name":"un-group-alarms-api-controller","description":"the unGroupAlarms API"}],"paths":{"/alarmManagement/v4/ackAlarms":{"get":{"tags":["ackAlarms"],"summary":"List or find AckAlarms objects","description":"This operation list or find AckAlarms entities","operationId":"listAckAlarms","produces":["application/json;charset=utf-8"],"parameters":[{"name":"allParams","in":"query","description":"allParams","required":false,"items":{"type":"object","additionalProperties":{"type":"string"}}},{"name":"fields","in":"query","description":"Comma-separated properties to be provided in response","required":false,"type":"string","allowEmptyValue":false},{"name":"limit","in":"query","description":"Requested number of resources to be provided in response","required":false,"type":"integer","format":"int32","allowEmptyValue":false},{"name":"offset","in":"query","description":"Requested index for start of resources to be provided in response","required":false,"type":"integer","format":"int32","allowEmptyValue":false}],"responses":{"200":{"description":"Success","schema":{"type":"array","items":{"$ref":"#/definitions/AckAlarms"}}},"400":{"description":"Bad Request","schema":{"$ref":"#/definitions/Error"}},"401":{"description":"Unauthorized","schema":{"$ref":"#/definitions/Error"}},"403":{"description":"Forbidden","schema":{"$ref":"#/definitions/Error"}},"404":{"description":"Not Found","schema":{"$ref":"#/definitions/Error"}},"405":{"description":"Method Not allowed","schema":{"$ref":"#/definitions/Error"}},"409":{"description":"Conflict","schema":{"$ref":"#/definitions/Error"}},"500":{"description":"Internal Server Error","schema":{"$ref":"#/definitions/Error"}}},"security":[{"spring_oauth":["read","write","admin","openapi"]}],"deprecated":false},"post":{"tags":["ackAlarms"],"summary":"Creates a AckAlarms","description":"This operation creates a AckAlarms entity.","operationId":"createAckAlarms","consumes":["application/json;charset=utf-8"],"produces":["application/json;charset=utf-8"],"parameters":[{"in":"body","name":"body","description":"The AckAlarms to be created","required":true,"schema":{"$ref":"#/definitions/AckAlarmsCreate"}}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/AckAlarms"}},"201":{"description":"Created","schema":{"$ref":"#/definitions/AckAlarms"}},"400":{"description":"Bad Request","schema":{"$ref":"#/definitions/Error"}},"401":{"description":"Unauthorized","schema":{"$ref":"#/definitions/Error"}},"403":{"description":"Forbidden","schema":{"$ref":"#/definitions/Error"}},"404":{"description":"Not Found"},"405":{"description":"Method Not allowed","schema":{"$ref":"#/definitions/Error"}},"409":{"description":"Conflict","schema":{"$ref":"#/definitions/Error"}},"500":{"description":"Internal Server Error","schema":{"$ref":"#/definitions/Error"}}},"security":[{"spring_oauth":["read","write","admin","openapi"]}],"deprecated":false}},"/alarmManagement/v4/ackAlarms/{id}":{"get":{"tags":["ackAlarms"],"summary":"Retrieves a AckAlarms by ID","description":"This operation retrieves a AckAlarms entity. Attribute selection is enabled for all first level attributes.","operationId":"retrieveAckAlarms","produces":["application/json;charset=utf-8"],"parameters":[{"name":"fields","in":"query","description":"Comma-separated properties to provide in response","required":false,"type":"string","allowEmptyValue":false},{"name":"id","in":"path","description":"Identifier of the AckAlarms","required":true,"type":"string"}],"responses":{"200":{"description":"Success","schema":{"$ref":"#/definitions/AckAlarms"}},"400":{"description":"Bad Request","schema":{"$ref":"#/definitions/Error"}},"401":{"description":"Unauthorized","schema":{"$ref":"#/definitions/Error"}},"403":{"description":"Forbidden","schema":{"$ref":"#/definitions/Error"}},"404":{"description":"Not Found","schema":{"$ref":"#/definitions/Error"}},"405":{"description":"Method Not allowed","schema":{"$ref":"#/definitions/Error"}},"409":{"description":"Conflict","schema":{"$ref":"#/definitions/Error"}},"500":{"description":"Internal Server Error","schema":{"$ref":"#/definitions/Error"}}},"security":[{"spring_oauth":["read","write","admin","openapi"]}],"deprecated":false}},"/alarmManagement/v4/alarm":{"get":{"tags":["alarm"],"summary":"List or find Alarm objects","description":"This operation list or find Alarm entities","operationId":"listAlarm","produces":["application/json;charset=utf-8"],"parameters":[{"name":"fields","in":"query","description":"Comma-separated properties to be provided in response","required":false,"type":"string","allowEmptyValue":false},{"name":"limit","in":"query","description":"Requested number of resources to be provided in response","required":false,"type":"integer","format":"int32","allowEmptyValue":false},{"name":"offset","in":"query","description":"Requested index for start of resources to be provided in response","required":false,"type":"integer","format":"int32","allowEmptyValue":false}],"responses":{"200":{"description":"Success","schema":{"type":"array","items":{"$ref":"#/definitions/Alarm"}}},"400":{"description":"Bad Request","schema":{"$ref":"#/definitions/Error"}},"401":{"description":"Unauthorized","schema":{"$ref":"#/definitions/Error"}},"403":{"description":"Forbidden","schema":{"$ref":"#/definitions/Error"}},"404":{"description":"Not Found","schema":{"$ref":"#/definitions/Error"}},"405":{"description":"Method Not allowed","schema":{"$ref":"#/definitions/Error"}},"409":{"description":"Conflict","schema":{"$ref":"#/definitions/Error"}},"500":{"description":"Internal Server Error","schema":{"$ref":"#/definitions/Error"}}},"security":[{"spring_oauth":["read","write","admin","openapi"]}],"deprecated":false},"post":{"tags":["alarm"],"summary":"Creates a Alarm","description":"This operation creates a Alarm entity.","operationId":"createAlarm","consumes":["application/json;charset=utf-8"],"produces":["application/json;charset=utf-8"],"parameters":[{"in":"body","name":"body","description":"The Alarm to be created","required":true,"schema":{"$ref":"#/definitions/AlarmCreate"}}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/Alarm"}},"201":{"description":"Created","schema":{"$ref":"#/definitions/Alarm"}},"400":{"description":"Bad Request","schema":{"$ref":"#/definitions/Error"}},"401":{"description":"Unauthorized","schema":{"$ref":"#/definitions/Error"}},"403":{"description":"Forbidden","schema":{"$ref":"#/definitions/Error"}},"404":{"description":"Not Found"},"405":{"description":"Method Not allowed","schema":{"$ref":"#/definitions/Error"}},"409":{"description":"Conflict","schema":{"$ref":"#/definitions/Error"}},"500":{"description":"Internal Server Error","schema":{"$ref":"#/definitions/Error"}}},"security":[{"spring_oauth":["read","write","admin","openapi"]}],"deprecated":false}},"/alarmManagement/v4/alarm/{id}":{"get":{"tags":["alarm"],"summary":"Retrieves a Alarm by ID","description":"This operation retrieves a Alarm entity. Attribute selection is enabled for all first level attributes.","operationId":"retrieveAlarm","produces":["application/json;charset=utf-8"],"parameters":[{"name":"fields","in":"query","description":"Comma-separated properties to provide in response","required":false,"type":"string","allowEmptyValue":false},{"name":"id","in":"path","description":"Identifier of the Alarm","required":true,"type":"string"}],"responses":{"200":{"description":"Success","schema":{"$ref":"#/definitions/Alarm"}},"400":{"description":"Bad Request","schema":{"$ref":"#/definitions/Error"}},"401":{"description":"Unauthorized","schema":{"$ref":"#/definitions/Error"}},"403":{"description":"Forbidden","schema":{"$ref":"#/definitions/Error"}},"404":{"description":"Not Found","schema":{"$ref":"#/definitions/Error"}},"405":{"description":"Method Not allowed","schema":{"$ref":"#/definitions/Error"}},"409":{"description":"Conflict","schema":{"$ref":"#/definitions/Error"}},"500":{"description":"Internal Server Error","schema":{"$ref":"#/definitions/Error"}}},"security":[{"spring_oauth":["read","write","admin","openapi"]}],"deprecated":false},"delete":{"tags":["alarm"],"summary":"Deletes a Alarm","description":"This operation deletes a Alarm entity.","operationId":"deleteAlarm","produces":["application/json;charset=utf-8"],"parameters":[{"name":"id","in":"path","description":"Identifier of the Alarm","required":true,"type":"string"}],"responses":{"200":{"description":"OK"},"204":{"description":"Deleted"},"400":{"description":"Bad Request","schema":{"$ref":"#/definitions/Error"}},"401":{"description":"Unauthorized","schema":{"$ref":"#/definitions/Error"}},"403":{"description":"Forbidden","schema":{"$ref":"#/definitions/Error"}},"404":{"description":"Not Found","schema":{"$ref":"#/definitions/Error"}},"405":{"description":"Method Not allowed","schema":{"$ref":"#/definitions/Error"}},"409":{"description":"Conflict","schema":{"$ref":"#/definitions/Error"}},"500":{"description":"Internal Server Error","schema":{"$ref":"#/definitions/Error"}}},"security":[{"spring_oauth":["read","write","admin","openapi"]}],"deprecated":false},"patch":{"tags":["alarm"],"summary":"Updates partially a Alarm","description":"This operation updates partially a Alarm entity.","operationId":"patchAlarm","consumes":["application/json;charset=utf-8"],"produces":["application/json;charset=utf-8"],"parameters":[{"in":"body","name":"body","description":"The Alarm to be updated","required":true,"schema":{"$ref":"#/definitions/AlarmUpdate"}},{"name":"id","in":"path","description":"Identifier of the Alarm","required":true,"type":"string"}],"responses":{"200":{"description":"Updated","schema":{"$ref":"#/definitions/Alarm"}},"204":{"description":"No Content"},"400":{"description":"Bad Request","schema":{"$ref":"#/definitions/Error"}},"401":{"description":"Unauthorized","schema":{"$ref":"#/definitions/Error"}},"403":{"description":"Forbidden","schema":{"$ref":"#/definitions/Error"}},"404":{"description":"Not Found","schema":{"$ref":"#/definitions/Error"}},"405":{"description":"Method Not allowed","schema":{"$ref":"#/definitions/Error"}},"409":{"description":"Conflict","schema":{"$ref":"#/definitions/Error"}},"500":{"description":"Internal Server Error","schema":{"$ref":"#/definitions/Error"}}},"security":[{"spring_oauth":["read","write","admin","openapi"]}],"deprecated":false}},"/alarmManagement/v4/clearAlarms":{"get":{"tags":["clearAlarms"],"summary":"List or find ClearAlarms objects","description":"This operation list or find ClearAlarms entities","operationId":"listClearAlarms","produces":["application/json;charset=utf-8"],"parameters":[{"name":"allParams","in":"query","description":"allParams","required":false,"items":{"type":"object","additionalProperties":{"type":"string"}}},{"name":"fields","in":"query","description":"Comma-separated properties to be provided in response","required":false,"type":"string","allowEmptyValue":false},{"name":"limit","in":"query","description":"Requested number of resources to be provided in response","required":false,"type":"integer","format":"int32","allowEmptyValue":false},{"name":"offset","in":"query","description":"Requested index for start of resources to be provided in response","required":false,"type":"integer","format":"int32","allowEmptyValue":false}],"responses":{"200":{"description":"Success","schema":{"type":"array","items":{"$ref":"#/definitions/ClearAlarms"}}},"400":{"description":"Bad Request","schema":{"$ref":"#/definitions/Error"}},"401":{"description":"Unauthorized","schema":{"$ref":"#/definitions/Error"}},"403":{"description":"Forbidden","schema":{"$ref":"#/definitions/Error"}},"404":{"description":"Not Found","schema":{"$ref":"#/definitions/Error"}},"405":{"description":"Method Not allowed","schema":{"$ref":"#/definitions/Error"}},"409":{"description":"Conflict","schema":{"$ref":"#/definitions/Error"}},"500":{"description":"Internal Server Error","schema":{"$ref":"#/definitions/Error"}}},"security":[{"spring_oauth":["read","write","admin","openapi"]}],"deprecated":false},"post":{"tags":["clearAlarms"],"summary":"Creates a ClearAlarms","description":"This operation creates a ClearAlarms entity.","operationId":"createClearAlarms","consumes":["application/json;charset=utf-8"],"produces":["application/json;charset=utf-8"],"parameters":[{"in":"body","name":"body","description":"The ClearAlarms to be created","required":true,"schema":{"$ref":"#/definitions/ClearAlarmsCreate"}}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/ClearAlarms"}},"201":{"description":"Created","schema":{"$ref":"#/definitions/ClearAlarms"}},"400":{"description":"Bad Request","schema":{"$ref":"#/definitions/Error"}},"401":{"description":"Unauthorized","schema":{"$ref":"#/definitions/Error"}},"403":{"description":"Forbidden","schema":{"$ref":"#/definitions/Error"}},"404":{"description":"Not Found"},"405":{"description":"Method Not allowed","schema":{"$ref":"#/definitions/Error"}},"409":{"description":"Conflict","schema":{"$ref":"#/definitions/Error"}},"500":{"description":"Internal Server Error","schema":{"$ref":"#/definitions/Error"}}},"security":[{"spring_oauth":["read","write","admin","openapi"]}],"deprecated":false}},"/alarmManagement/v4/clearAlarms/{id}":{"get":{"tags":["clearAlarms"],"summary":"Retrieves a ClearAlarms by ID","description":"This operation retrieves a ClearAlarms entity. Attribute selection is enabled for all first level attributes.","operationId":"retrieveClearAlarms","produces":["application/json;charset=utf-8"],"parameters":[{"name":"fields","in":"query","description":"Comma-separated properties to provide in response","required":false,"type":"string","allowEmptyValue":false},{"name":"id","in":"path","description":"Identifier of the ClearAlarms","required":true,"type":"string"}],"responses":{"200":{"description":"Success","schema":{"$ref":"#/definitions/ClearAlarms"}},"400":{"description":"Bad Request","schema":{"$ref":"#/definitions/Error"}},"401":{"description":"Unauthorized","schema":{"$ref":"#/definitions/Error"}},"403":{"description":"Forbidden","schema":{"$ref":"#/definitions/Error"}},"404":{"description":"Not Found","schema":{"$ref":"#/definitions/Error"}},"405":{"description":"Method Not allowed","schema":{"$ref":"#/definitions/Error"}},"409":{"description":"Conflict","schema":{"$ref":"#/definitions/Error"}},"500":{"description":"Internal Server Error","schema":{"$ref":"#/definitions/Error"}}},"security":[{"spring_oauth":["read","write","admin","openapi"]}],"deprecated":false}},"/alarmManagement/v4/commentAlarms":{"get":{"tags":["commentAlarms"],"summary":"List or find CommentAlarms objects","description":"This operation list or find CommentAlarms entities","operationId":"listCommentAlarms","produces":["application/json;charset=utf-8"],"parameters":[{"name":"allParams","in":"query","description":"allParams","required":false,"items":{"type":"object","additionalProperties":{"type":"string"}}},{"name":"fields","in":"query","description":"Comma-separated properties to be provided in response","required":false,"type":"string","allowEmptyValue":false},{"name":"limit","in":"query","description":"Requested number of resources to be provided in response","required":false,"type":"integer","format":"int32","allowEmptyValue":false},{"name":"offset","in":"query","description":"Requested index for start of resources to be provided in response","required":false,"type":"integer","format":"int32","allowEmptyValue":false}],"responses":{"200":{"description":"Success","schema":{"type":"array","items":{"$ref":"#/definitions/CommentAlarms"}}},"400":{"description":"Bad Request","schema":{"$ref":"#/definitions/Error"}},"401":{"description":"Unauthorized","schema":{"$ref":"#/definitions/Error"}},"403":{"description":"Forbidden","schema":{"$ref":"#/definitions/Error"}},"404":{"description":"Not Found","schema":{"$ref":"#/definitions/Error"}},"405":{"description":"Method Not allowed","schema":{"$ref":"#/definitions/Error"}},"409":{"description":"Conflict","schema":{"$ref":"#/definitions/Error"}},"500":{"description":"Internal Server Error","schema":{"$ref":"#/definitions/Error"}}},"security":[{"spring_oauth":["read","write","admin","openapi"]}],"deprecated":false},"post":{"tags":["commentAlarms"],"summary":"Creates a CommentAlarms","description":"This operation creates a CommentAlarms entity.","operationId":"createCommentAlarms","consumes":["application/json;charset=utf-8"],"produces":["application/json;charset=utf-8"],"parameters":[{"in":"body","name":"body","description":"The CommentAlarms to be created","required":true,"schema":{"$ref":"#/definitions/CommentAlarmsCreate"}}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/CommentAlarms"}},"201":{"description":"Created","schema":{"$ref":"#/definitions/CommentAlarms"}},"400":{"description":"Bad Request","schema":{"$ref":"#/definitions/Error"}},"401":{"description":"Unauthorized","schema":{"$ref":"#/definitions/Error"}},"403":{"description":"Forbidden","schema":{"$ref":"#/definitions/Error"}},"404":{"description":"Not Found"},"405":{"description":"Method Not allowed","schema":{"$ref":"#/definitions/Error"}},"409":{"description":"Conflict","schema":{"$ref":"#/definitions/Error"}},"500":{"description":"Internal Server Error","schema":{"$ref":"#/definitions/Error"}}},"security":[{"spring_oauth":["read","write","admin","openapi"]}],"deprecated":false}},"/alarmManagement/v4/commentAlarms/{id}":{"get":{"tags":["commentAlarms"],"summary":"Retrieves a CommentAlarms by ID","description":"This operation retrieves a CommentAlarms entity. Attribute selection is enabled for all first level attributes.","operationId":"retrieveCommentAlarms","produces":["application/json;charset=utf-8"],"parameters":[{"name":"fields","in":"query","description":"Comma-separated properties to provide in response","required":false,"type":"string","allowEmptyValue":false},{"name":"id","in":"path","description":"Identifier of the CommentAlarms","required":true,"type":"string"}],"responses":{"200":{"description":"Success","schema":{"$ref":"#/definitions/CommentAlarms"}},"400":{"description":"Bad Request","schema":{"$ref":"#/definitions/Error"}},"401":{"description":"Unauthorized","schema":{"$ref":"#/definitions/Error"}},"403":{"description":"Forbidden","schema":{"$ref":"#/definitions/Error"}},"404":{"description":"Not Found","schema":{"$ref":"#/definitions/Error"}},"405":{"description":"Method Not allowed","schema":{"$ref":"#/definitions/Error"}},"409":{"description":"Conflict","schema":{"$ref":"#/definitions/Error"}},"500":{"description":"Internal Server Error","schema":{"$ref":"#/definitions/Error"}}},"security":[{"spring_oauth":["read","write","admin","openapi"]}],"deprecated":false}},"/alarmManagement/v4/groupAlarms":{"get":{"tags":["groupAlarms"],"summary":"List or find GroupAlarms objects","description":"This operation list or find GroupAlarms entities","operationId":"listGroupAlarms","produces":["application/json;charset=utf-8"],"parameters":[{"name":"allParams","in":"query","description":"allParams","required":false,"items":{"type":"object","additionalProperties":{"type":"string"}}},{"name":"fields","in":"query","description":"Comma-separated properties to be provided in response","required":false,"type":"string","allowEmptyValue":false},{"name":"limit","in":"query","description":"Requested number of resources to be provided in response","required":false,"type":"integer","format":"int32","allowEmptyValue":false},{"name":"offset","in":"query","description":"Requested index for start of resources to be provided in response","required":false,"type":"integer","format":"int32","allowEmptyValue":false}],"responses":{"200":{"description":"Success","schema":{"type":"array","items":{"$ref":"#/definitions/GroupAlarms"}}},"400":{"description":"Bad Request","schema":{"$ref":"#/definitions/Error"}},"401":{"description":"Unauthorized","schema":{"$ref":"#/definitions/Error"}},"403":{"description":"Forbidden","schema":{"$ref":"#/definitions/Error"}},"404":{"description":"Not Found","schema":{"$ref":"#/definitions/Error"}},"405":{"description":"Method Not allowed","schema":{"$ref":"#/definitions/Error"}},"409":{"description":"Conflict","schema":{"$ref":"#/definitions/Error"}},"500":{"description":"Internal Server Error","schema":{"$ref":"#/definitions/Error"}}},"security":[{"spring_oauth":["read","write","admin","openapi"]}],"deprecated":false},"post":{"tags":["groupAlarms"],"summary":"Creates a GroupAlarms","description":"This operation creates a GroupAlarms entity.","operationId":"createGroupAlarms","consumes":["application/json;charset=utf-8"],"produces":["application/json;charset=utf-8"],"parameters":[{"in":"body","name":"body","description":"The GroupAlarms to be created","required":true,"schema":{"$ref":"#/definitions/GroupAlarmsCreate"}}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/GroupAlarms"}},"201":{"description":"Created","schema":{"$ref":"#/definitions/GroupAlarms"}},"400":{"description":"Bad Request","schema":{"$ref":"#/definitions/Error"}},"401":{"description":"Unauthorized","schema":{"$ref":"#/definitions/Error"}},"403":{"description":"Forbidden","schema":{"$ref":"#/definitions/Error"}},"404":{"description":"Not Found"},"405":{"description":"Method Not allowed","schema":{"$ref":"#/definitions/Error"}},"409":{"description":"Conflict","schema":{"$ref":"#/definitions/Error"}},"500":{"description":"Internal Server Error","schema":{"$ref":"#/definitions/Error"}}},"security":[{"spring_oauth":["read","write","admin","openapi"]}],"deprecated":false}},"/alarmManagement/v4/groupAlarms/{id}":{"get":{"tags":["groupAlarms"],"summary":"Retrieves a GroupAlarms by ID","description":"This operation retrieves a GroupAlarms entity. Attribute selection is enabled for all first level attributes.","operationId":"retrieveGroupAlarms","produces":["application/json;charset=utf-8"],"parameters":[{"name":"fields","in":"query","description":"Comma-separated properties to provide in response","required":false,"type":"string","allowEmptyValue":false},{"name":"id","in":"path","description":"Identifier of the GroupAlarms","required":true,"type":"string"}],"responses":{"200":{"description":"Success","schema":{"$ref":"#/definitions/GroupAlarms"}},"400":{"description":"Bad Request","schema":{"$ref":"#/definitions/Error"}},"401":{"description":"Unauthorized","schema":{"$ref":"#/definitions/Error"}},"403":{"description":"Forbidden","schema":{"$ref":"#/definitions/Error"}},"404":{"description":"Not Found","schema":{"$ref":"#/definitions/Error"}},"405":{"description":"Method Not allowed","schema":{"$ref":"#/definitions/Error"}},"409":{"description":"Conflict","schema":{"$ref":"#/definitions/Error"}},"500":{"description":"Internal Server Error","schema":{"$ref":"#/definitions/Error"}}},"security":[{"spring_oauth":["read","write","admin","openapi"]}],"deprecated":false}},"/alarmManagement/v4/hub":{"post":{"tags":["events subscription"],"summary":"Register a listener","description":"Sets the communication endpoint address the service instance must use to deliver information about its health state, execution state, failures and metrics.","operationId":"registerListener642","consumes":["application/json;charset=utf-8"],"produces":["application/json;charset=utf-8"],"parameters":[{"in":"body","name":"body","description":"Data containing the callback endpoint to deliver the information","required":true,"schema":{"$ref":"#/definitions/EventSubscriptionInput"}}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/EventSubscription"}},"201":{"description":"Subscribed","schema":{"$ref":"#/definitions/EventSubscription"}},"400":{"description":"Bad Request","schema":{"$ref":"#/definitions/Error"}},"401":{"description":"Unauthorized","schema":{"$ref":"#/definitions/Error"}},"403":{"description":"Forbidden","schema":{"$ref":"#/definitions/Error"}},"404":{"description":"Not Found","schema":{"$ref":"#/definitions/Error"}},"405":{"description":"Method Not allowed","schema":{"$ref":"#/definitions/Error"}},"409":{"description":"Conflict","schema":{"$ref":"#/definitions/Error"}},"500":{"description":"Internal Server Error","schema":{"$ref":"#/definitions/Error"}}},"security":[{"spring_oauth":["read","write","admin","openapi"]}],"deprecated":false}},"/alarmManagement/v4/hub/{id}":{"delete":{"tags":["events subscription"],"summary":"Unregister a listener","description":"Resets the communication endpoint address the service instance must use to deliver information about its health state, execution state, failures and metrics.","operationId":"unregisterListener642","produces":["application/json;charset=utf-8"],"parameters":[{"name":"id","in":"path","description":"The id of the registered listener","required":true,"type":"string"}],"responses":{"200":{"description":"OK"},"204":{"description":"Deleted"},"400":{"description":"Bad request","schema":{"$ref":"#/definitions/Error"}},"401":{"description":"Unauthorized","schema":{"$ref":"#/definitions/Error"}},"403":{"description":"Forbidden","schema":{"$ref":"#/definitions/Error"}},"404":{"description":"Not Found","schema":{"$ref":"#/definitions/Error"}},"405":{"description":"Method not allowed","schema":{"$ref":"#/definitions/Error"}},"500":{"description":"Internal Server Error","schema":{"$ref":"#/definitions/Error"}}},"security":[{"spring_oauth":["read","write","admin","openapi"]}],"deprecated":false}},"/alarmManagement/v4/unAckAlarms":{"get":{"tags":["unAckAlarms"],"summary":"List or find UnAckAlarms objects","description":"This operation list or find UnAckAlarms entities","operationId":"listUnAckAlarms","produces":["application/json;charset=utf-8"],"parameters":[{"name":"allParams","in":"query","description":"allParams","required":false,"items":{"type":"object","additionalProperties":{"type":"string"}}},{"name":"fields","in":"query","description":"Comma-separated properties to be provided in response","required":false,"type":"string","allowEmptyValue":false},{"name":"limit","in":"query","description":"Requested number of resources to be provided in response","required":false,"type":"integer","format":"int32","allowEmptyValue":false},{"name":"offset","in":"query","description":"Requested index for start of resources to be provided in response","required":false,"type":"integer","format":"int32","allowEmptyValue":false}],"responses":{"200":{"description":"Success","schema":{"type":"array","items":{"$ref":"#/definitions/UnAckAlarms"}}},"400":{"description":"Bad Request","schema":{"$ref":"#/definitions/Error"}},"401":{"description":"Unauthorized","schema":{"$ref":"#/definitions/Error"}},"403":{"description":"Forbidden","schema":{"$ref":"#/definitions/Error"}},"404":{"description":"Not Found","schema":{"$ref":"#/definitions/Error"}},"405":{"description":"Method Not allowed","schema":{"$ref":"#/definitions/Error"}},"409":{"description":"Conflict","schema":{"$ref":"#/definitions/Error"}},"500":{"description":"Internal Server Error","schema":{"$ref":"#/definitions/Error"}}},"security":[{"spring_oauth":["read","write","admin","openapi"]}],"deprecated":false},"post":{"tags":["unAckAlarms"],"summary":"Creates a UnAckAlarms","description":"This operation creates a UnAckAlarms entity.","operationId":"createUnAckAlarms","consumes":["application/json;charset=utf-8"],"produces":["application/json;charset=utf-8"],"parameters":[{"in":"body","name":"body","description":"The UnAckAlarms to be created","required":true,"schema":{"$ref":"#/definitions/UnAckAlarmsCreate"}}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/UnAckAlarms"}},"201":{"description":"Created","schema":{"$ref":"#/definitions/UnAckAlarms"}},"400":{"description":"Bad Request","schema":{"$ref":"#/definitions/Error"}},"401":{"description":"Unauthorized","schema":{"$ref":"#/definitions/Error"}},"403":{"description":"Forbidden","schema":{"$ref":"#/definitions/Error"}},"404":{"description":"Not Found"},"405":{"description":"Method Not allowed","schema":{"$ref":"#/definitions/Error"}},"409":{"description":"Conflict","schema":{"$ref":"#/definitions/Error"}},"500":{"description":"Internal Server Error","schema":{"$ref":"#/definitions/Error"}}},"security":[{"spring_oauth":["read","write","admin","openapi"]}],"deprecated":false}},"/alarmManagement/v4/unAckAlarms/{id}":{"get":{"tags":["unAckAlarms"],"summary":"Retrieves a UnAckAlarms by ID","description":"This operation retrieves a UnAckAlarms entity. Attribute selection is enabled for all first level attributes.","operationId":"retrieveUnAckAlarms","produces":["application/json;charset=utf-8"],"parameters":[{"name":"fields","in":"query","description":"Comma-separated properties to provide in response","required":false,"type":"string","allowEmptyValue":false},{"name":"id","in":"path","description":"Identifier of the UnAckAlarms","required":true,"type":"string"}],"responses":{"200":{"description":"Success","schema":{"$ref":"#/definitions/UnAckAlarms"}},"400":{"description":"Bad Request","schema":{"$ref":"#/definitions/Error"}},"401":{"description":"Unauthorized","schema":{"$ref":"#/definitions/Error"}},"403":{"description":"Forbidden","schema":{"$ref":"#/definitions/Error"}},"404":{"description":"Not Found","schema":{"$ref":"#/definitions/Error"}},"405":{"description":"Method Not allowed","schema":{"$ref":"#/definitions/Error"}},"409":{"description":"Conflict","schema":{"$ref":"#/definitions/Error"}},"500":{"description":"Internal Server Error","schema":{"$ref":"#/definitions/Error"}}},"security":[{"spring_oauth":["read","write","admin","openapi"]}],"deprecated":false}},"/alarmManagement/v4/unGroupAlarms":{"get":{"tags":["unGroupAlarms"],"summary":"List or find UnGroupAlarms objects","description":"This operation list or find UnGroupAlarms entities","operationId":"listUnGroupAlarms","produces":["application/json;charset=utf-8"],"parameters":[{"name":"allParams","in":"query","description":"allParams","required":false,"items":{"type":"object","additionalProperties":{"type":"string"}}},{"name":"fields","in":"query","description":"Comma-separated properties to be provided in response","required":false,"type":"string","allowEmptyValue":false},{"name":"limit","in":"query","description":"Requested number of resources to be provided in response","required":false,"type":"integer","format":"int32","allowEmptyValue":false},{"name":"offset","in":"query","description":"Requested index for start of resources to be provided in response","required":false,"type":"integer","format":"int32","allowEmptyValue":false}],"responses":{"200":{"description":"Success","schema":{"type":"array","items":{"$ref":"#/definitions/UnGroupAlarms"}}},"400":{"description":"Bad Request","schema":{"$ref":"#/definitions/Error"}},"401":{"description":"Unauthorized","schema":{"$ref":"#/definitions/Error"}},"403":{"description":"Forbidden","schema":{"$ref":"#/definitions/Error"}},"404":{"description":"Not Found","schema":{"$ref":"#/definitions/Error"}},"405":{"description":"Method Not allowed","schema":{"$ref":"#/definitions/Error"}},"409":{"description":"Conflict","schema":{"$ref":"#/definitions/Error"}},"500":{"description":"Internal Server Error","schema":{"$ref":"#/definitions/Error"}}},"security":[{"spring_oauth":["read","write","admin","openapi"]}],"deprecated":false},"post":{"tags":["unGroupAlarms"],"summary":"Creates a UnGroupAlarms","description":"This operation creates a UnGroupAlarms entity.","operationId":"createUnGroupAlarms","consumes":["application/json;charset=utf-8"],"produces":["application/json;charset=utf-8"],"parameters":[{"in":"body","name":"body","description":"The UnGroupAlarms to be created","required":true,"schema":{"$ref":"#/definitions/UnGroupAlarmsCreate"}}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/UnGroupAlarms"}},"201":{"description":"Created","schema":{"$ref":"#/definitions/UnGroupAlarms"}},"400":{"description":"Bad Request","schema":{"$ref":"#/definitions/Error"}},"401":{"description":"Unauthorized","schema":{"$ref":"#/definitions/Error"}},"403":{"description":"Forbidden","schema":{"$ref":"#/definitions/Error"}},"404":{"description":"Not Found"},"405":{"description":"Method Not allowed","schema":{"$ref":"#/definitions/Error"}},"409":{"description":"Conflict","schema":{"$ref":"#/definitions/Error"}},"500":{"description":"Internal Server Error","schema":{"$ref":"#/definitions/Error"}}},"security":[{"spring_oauth":["read","write","admin","openapi"]}],"deprecated":false}},"/alarmManagement/v4/unGroupAlarms/{id}":{"get":{"tags":["unGroupAlarms"],"summary":"Retrieves a UnGroupAlarms by ID","description":"This operation retrieves a UnGroupAlarms entity. Attribute selection is enabled for all first level attributes.","operationId":"retrieveUnGroupAlarms","produces":["application/json;charset=utf-8"],"parameters":[{"name":"fields","in":"query","description":"Comma-separated properties to provide in response","required":false,"type":"string","allowEmptyValue":false},{"name":"id","in":"path","description":"Identifier of the UnGroupAlarms","required":true,"type":"string"}],"responses":{"200":{"description":"Success","schema":{"$ref":"#/definitions/UnGroupAlarms"}},"400":{"description":"Bad Request","schema":{"$ref":"#/definitions/Error"}},"401":{"description":"Unauthorized","schema":{"$ref":"#/definitions/Error"}},"403":{"description":"Forbidden","schema":{"$ref":"#/definitions/Error"}},"404":{"description":"Not Found","schema":{"$ref":"#/definitions/Error"}},"405":{"description":"Method Not allowed","schema":{"$ref":"#/definitions/Error"}},"409":{"description":"Conflict","schema":{"$ref":"#/definitions/Error"}},"500":{"description":"Internal Server Error","schema":{"$ref":"#/definitions/Error"}}},"security":[{"spring_oauth":["read","write","admin","openapi"]}],"deprecated":false}},"/listener/ackAlarmsCreateEvent":{"post":{"tags":["notification listeners (client side)"],"summary":"Client listener for entity AckAlarmsCreateEvent","description":"Example of a client listener for receiving the notification AckAlarmsCreateEvent","operationId":"listenToAckAlarmsCreateEvent","consumes":["application/json;charset=utf-8"],"produces":["application/json;charset=utf-8"],"parameters":[{"in":"body","name":"body","description":"The event data","required":true,"schema":{"$ref":"#/definitions/AckAlarmsCreateEvent"}}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/EventSubscription"}},"201":{"description":"Notified","schema":{"$ref":"#/definitions/EventSubscription"}},"400":{"description":"Bad Request","schema":{"$ref":"#/definitions/Error"}},"401":{"description":"Unauthorized","schema":{"$ref":"#/definitions/Error"}},"403":{"description":"Forbidden","schema":{"$ref":"#/definitions/Error"}},"404":{"description":"Not Found","schema":{"$ref":"#/definitions/Error"}},"405":{"description":"Method Not allowed","schema":{"$ref":"#/definitions/Error"}},"409":{"description":"Conflict","schema":{"$ref":"#/definitions/Error"}},"500":{"description":"Internal Server Error","schema":{"$ref":"#/definitions/Error"}}},"security":[{"spring_oauth":["read","write","admin","openapi"]}],"deprecated":false}},"/listener/ackAlarmsStateChangeEvent":{"post":{"tags":["notification listeners (client side)"],"summary":"Client listener for entity AckAlarmsStateChangeEvent","description":"Example of a client listener for receiving the notification AckAlarmsStateChangeEvent","operationId":"listenToAckAlarmsStateChangeEvent","consumes":["application/json;charset=utf-8"],"produces":["application/json;charset=utf-8"],"parameters":[{"in":"body","name":"body","description":"The event data","required":true,"schema":{"$ref":"#/definitions/AckAlarmsStateChangeEvent"}}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/EventSubscription"}},"201":{"description":"Notified","schema":{"$ref":"#/definitions/EventSubscription"}},"400":{"description":"Bad Request","schema":{"$ref":"#/definitions/Error"}},"401":{"description":"Unauthorized","schema":{"$ref":"#/definitions/Error"}},"403":{"description":"Forbidden","schema":{"$ref":"#/definitions/Error"}},"404":{"description":"Not Found","schema":{"$ref":"#/definitions/Error"}},"405":{"description":"Method Not allowed","schema":{"$ref":"#/definitions/Error"}},"409":{"description":"Conflict","schema":{"$ref":"#/definitions/Error"}},"500":{"description":"Internal Server Error","schema":{"$ref":"#/definitions/Error"}}},"security":[{"spring_oauth":["read","write","admin","openapi"]}],"deprecated":false}},"/listener/alarmAttributeValueChangeEvent":{"post":{"tags":["notification listeners (client side)"],"summary":"Client listener for entity AlarmAttributeValueChangeEvent","description":"Example of a client listener for receiving the notification AlarmAttributeValueChangeEvent","operationId":"listenToAlarmAttributeValueChangeEvent","consumes":["application/json;charset=utf-8"],"produces":["application/json;charset=utf-8"],"parameters":[{"in":"body","name":"body","description":"The event data","required":true,"schema":{"$ref":"#/definitions/AlarmAttributeValueChangeEvent"}}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/EventSubscription"}},"201":{"description":"Notified","schema":{"$ref":"#/definitions/EventSubscription"}},"400":{"description":"Bad Request","schema":{"$ref":"#/definitions/Error"}},"401":{"description":"Unauthorized","schema":{"$ref":"#/definitions/Error"}},"403":{"description":"Forbidden","schema":{"$ref":"#/definitions/Error"}},"404":{"description":"Not Found","schema":{"$ref":"#/definitions/Error"}},"405":{"description":"Method Not allowed","schema":{"$ref":"#/definitions/Error"}},"409":{"description":"Conflict","schema":{"$ref":"#/definitions/Error"}},"500":{"description":"Internal Server Error","schema":{"$ref":"#/definitions/Error"}}},"security":[{"spring_oauth":["read","write","admin","openapi"]}],"deprecated":false}},"/listener/alarmCreateEvent":{"post":{"tags":["notification listeners (client side)"],"summary":"Client listener for entity AlarmCreateEvent","description":"Example of a client listener for receiving the notification AlarmCreateEvent","operationId":"listenToAlarmCreateEvent","consumes":["application/json;charset=utf-8"],"produces":["application/json;charset=utf-8"],"parameters":[{"in":"body","name":"body","description":"The event data","required":true,"schema":{"$ref":"#/definitions/AlarmCreateEvent"}}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/EventSubscription"}},"201":{"description":"Notified","schema":{"$ref":"#/definitions/EventSubscription"}},"400":{"description":"Bad Request","schema":{"$ref":"#/definitions/Error"}},"401":{"description":"Unauthorized","schema":{"$ref":"#/definitions/Error"}},"403":{"description":"Forbidden","schema":{"$ref":"#/definitions/Error"}},"404":{"description":"Not Found","schema":{"$ref":"#/definitions/Error"}},"405":{"description":"Method Not allowed","schema":{"$ref":"#/definitions/Error"}},"409":{"description":"Conflict","schema":{"$ref":"#/definitions/Error"}},"500":{"description":"Internal Server Error","schema":{"$ref":"#/definitions/Error"}}},"security":[{"spring_oauth":["read","write","admin","openapi"]}],"deprecated":false}},"/listener/alarmDeleteEvent":{"post":{"tags":["notification listeners (client side)"],"summary":"Client listener for entity AlarmDeleteEvent","description":"Example of a client listener for receiving the notification AlarmDeleteEvent","operationId":"listenToAlarmDeleteEvent","consumes":["application/json;charset=utf-8"],"produces":["application/json;charset=utf-8"],"parameters":[{"in":"body","name":"body","description":"The event data","required":true,"schema":{"$ref":"#/definitions/AlarmDeleteEvent"}}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/EventSubscription"}},"201":{"description":"Notified","schema":{"$ref":"#/definitions/EventSubscription"}},"400":{"description":"Bad Request","schema":{"$ref":"#/definitions/Error"}},"401":{"description":"Unauthorized","schema":{"$ref":"#/definitions/Error"}},"403":{"description":"Forbidden","schema":{"$ref":"#/definitions/Error"}},"404":{"description":"Not Found","schema":{"$ref":"#/definitions/Error"}},"405":{"description":"Method Not allowed","schema":{"$ref":"#/definitions/Error"}},"409":{"description":"Conflict","schema":{"$ref":"#/definitions/Error"}},"500":{"description":"Internal Server Error","schema":{"$ref":"#/definitions/Error"}}},"security":[{"spring_oauth":["read","write","admin","openapi"]}],"deprecated":false}},"/listener/alarmStateChangeEvent":{"post":{"tags":["notification listeners (client side)"],"summary":"Client listener for entity AlarmStateChangeEvent","description":"Example of a client listener for receiving the notification AlarmStateChangeEvent","operationId":"listenToAlarmStateChangeEvent","consumes":["application/json;charset=utf-8"],"produces":["application/json;charset=utf-8"],"parameters":[{"in":"body","name":"body","description":"The event data","required":true,"schema":{"$ref":"#/definitions/AlarmStateChangeEvent"}}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/EventSubscription"}},"201":{"description":"Notified","schema":{"$ref":"#/definitions/EventSubscription"}},"400":{"description":"Bad Request","schema":{"$ref":"#/definitions/Error"}},"401":{"description":"Unauthorized","schema":{"$ref":"#/definitions/Error"}},"403":{"description":"Forbidden","schema":{"$ref":"#/definitions/Error"}},"404":{"description":"Not Found","schema":{"$ref":"#/definitions/Error"}},"405":{"description":"Method Not allowed","schema":{"$ref":"#/definitions/Error"}},"409":{"description":"Conflict","schema":{"$ref":"#/definitions/Error"}},"500":{"description":"Internal Server Error","schema":{"$ref":"#/definitions/Error"}}},"security":[{"spring_oauth":["read","write","admin","openapi"]}],"deprecated":false}},"/listener/clearAlarmsCreateEvent":{"post":{"tags":["notification listeners (client side)"],"summary":"Client listener for entity ClearAlarmsCreateEvent","description":"Example of a client listener for receiving the notification ClearAlarmsCreateEvent","operationId":"listenToClearAlarmsCreateEvent","consumes":["application/json;charset=utf-8"],"produces":["application/json;charset=utf-8"],"parameters":[{"in":"body","name":"body","description":"The event data","required":true,"schema":{"$ref":"#/definitions/ClearAlarmsCreateEvent"}}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/EventSubscription"}},"201":{"description":"Notified","schema":{"$ref":"#/definitions/EventSubscription"}},"400":{"description":"Bad Request","schema":{"$ref":"#/definitions/Error"}},"401":{"description":"Unauthorized","schema":{"$ref":"#/definitions/Error"}},"403":{"description":"Forbidden","schema":{"$ref":"#/definitions/Error"}},"404":{"description":"Not Found","schema":{"$ref":"#/definitions/Error"}},"405":{"description":"Method Not allowed","schema":{"$ref":"#/definitions/Error"}},"409":{"description":"Conflict","schema":{"$ref":"#/definitions/Error"}},"500":{"description":"Internal Server Error","schema":{"$ref":"#/definitions/Error"}}},"security":[{"spring_oauth":["read","write","admin","openapi"]}],"deprecated":false}},"/listener/clearAlarmsStateChangeEvent":{"post":{"tags":["notification listeners (client side)"],"summary":"Client listener for entity ClearAlarmsStateChangeEvent","description":"Example of a client listener for receiving the notification ClearAlarmsStateChangeEvent","operationId":"listenToClearAlarmsStateChangeEvent","consumes":["application/json;charset=utf-8"],"produces":["application/json;charset=utf-8"],"parameters":[{"in":"body","name":"body","description":"The event data","required":true,"schema":{"$ref":"#/definitions/ClearAlarmsStateChangeEvent"}}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/EventSubscription"}},"201":{"description":"Notified","schema":{"$ref":"#/definitions/EventSubscription"}},"400":{"description":"Bad Request","schema":{"$ref":"#/definitions/Error"}},"401":{"description":"Unauthorized","schema":{"$ref":"#/definitions/Error"}},"403":{"description":"Forbidden","schema":{"$ref":"#/definitions/Error"}},"404":{"description":"Not Found","schema":{"$ref":"#/definitions/Error"}},"405":{"description":"Method Not allowed","schema":{"$ref":"#/definitions/Error"}},"409":{"description":"Conflict","schema":{"$ref":"#/definitions/Error"}},"500":{"description":"Internal Server Error","schema":{"$ref":"#/definitions/Error"}}},"security":[{"spring_oauth":["read","write","admin","openapi"]}],"deprecated":false}},"/listener/commentAlarmsCreateEvent":{"post":{"tags":["notification listeners (client side)"],"summary":"Client listener for entity CommentAlarmsCreateEvent","description":"Example of a client listener for receiving the notification CommentAlarmsCreateEvent","operationId":"listenToCommentAlarmsCreateEvent","consumes":["application/json;charset=utf-8"],"produces":["application/json;charset=utf-8"],"parameters":[{"in":"body","name":"body","description":"The event data","required":true,"schema":{"$ref":"#/definitions/CommentAlarmsCreateEvent"}}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/EventSubscription"}},"201":{"description":"Notified","schema":{"$ref":"#/definitions/EventSubscription"}},"400":{"description":"Bad Request","schema":{"$ref":"#/definitions/Error"}},"401":{"description":"Unauthorized","schema":{"$ref":"#/definitions/Error"}},"403":{"description":"Forbidden","schema":{"$ref":"#/definitions/Error"}},"404":{"description":"Not Found","schema":{"$ref":"#/definitions/Error"}},"405":{"description":"Method Not allowed","schema":{"$ref":"#/definitions/Error"}},"409":{"description":"Conflict","schema":{"$ref":"#/definitions/Error"}},"500":{"description":"Internal Server Error","schema":{"$ref":"#/definitions/Error"}}},"security":[{"spring_oauth":["read","write","admin","openapi"]}],"deprecated":false}},"/listener/commentAlarmsStateChangeEvent":{"post":{"tags":["notification listeners (client side)"],"summary":"Client listener for entity CommentAlarmsStateChangeEvent","description":"Example of a client listener for receiving the notification CommentAlarmsStateChangeEvent","operationId":"listenToCommentAlarmsStateChangeEvent","consumes":["application/json;charset=utf-8"],"produces":["application/json;charset=utf-8"],"parameters":[{"in":"body","name":"body","description":"The event data","required":true,"schema":{"$ref":"#/definitions/CommentAlarmsStateChangeEvent"}}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/EventSubscription"}},"201":{"description":"Notified","schema":{"$ref":"#/definitions/EventSubscription"}},"400":{"description":"Bad Request","schema":{"$ref":"#/definitions/Error"}},"401":{"description":"Unauthorized","schema":{"$ref":"#/definitions/Error"}},"403":{"description":"Forbidden","schema":{"$ref":"#/definitions/Error"}},"404":{"description":"Not Found","schema":{"$ref":"#/definitions/Error"}},"405":{"description":"Method Not allowed","schema":{"$ref":"#/definitions/Error"}},"409":{"description":"Conflict","schema":{"$ref":"#/definitions/Error"}},"500":{"description":"Internal Server Error","schema":{"$ref":"#/definitions/Error"}}},"security":[{"spring_oauth":["read","write","admin","openapi"]}],"deprecated":false}},"/listener/groupAlarmsCreateEvent":{"post":{"tags":["notification listeners (client side)"],"summary":"Client listener for entity GroupAlarmsCreateEvent","description":"Example of a client listener for receiving the notification GroupAlarmsCreateEvent","operationId":"listenToGroupAlarmsCreateEvent","consumes":["application/json;charset=utf-8"],"produces":["application/json;charset=utf-8"],"parameters":[{"in":"body","name":"body","description":"The event data","required":true,"schema":{"$ref":"#/definitions/GroupAlarmsCreateEvent"}}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/EventSubscription"}},"201":{"description":"Notified","schema":{"$ref":"#/definitions/EventSubscription"}},"400":{"description":"Bad Request","schema":{"$ref":"#/definitions/Error"}},"401":{"description":"Unauthorized","schema":{"$ref":"#/definitions/Error"}},"403":{"description":"Forbidden","schema":{"$ref":"#/definitions/Error"}},"404":{"description":"Not Found","schema":{"$ref":"#/definitions/Error"}},"405":{"description":"Method Not allowed","schema":{"$ref":"#/definitions/Error"}},"409":{"description":"Conflict","schema":{"$ref":"#/definitions/Error"}},"500":{"description":"Internal Server Error","schema":{"$ref":"#/definitions/Error"}}},"security":[{"spring_oauth":["read","write","admin","openapi"]}],"deprecated":false}},"/listener/groupAlarmsStateChangeEvent":{"post":{"tags":["notification listeners (client side)"],"summary":"Client listener for entity GroupAlarmsStateChangeEvent","description":"Example of a client listener for receiving the notification GroupAlarmsStateChangeEvent","operationId":"listenToGroupAlarmsStateChangeEvent","consumes":["application/json;charset=utf-8"],"produces":["application/json;charset=utf-8"],"parameters":[{"in":"body","name":"body","description":"The event data","required":true,"schema":{"$ref":"#/definitions/GroupAlarmsStateChangeEvent"}}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/EventSubscription"}},"201":{"description":"Notified","schema":{"$ref":"#/definitions/EventSubscription"}},"400":{"description":"Bad Request","schema":{"$ref":"#/definitions/Error"}},"401":{"description":"Unauthorized","schema":{"$ref":"#/definitions/Error"}},"403":{"description":"Forbidden","schema":{"$ref":"#/definitions/Error"}},"404":{"description":"Not Found","schema":{"$ref":"#/definitions/Error"}},"405":{"description":"Method Not allowed","schema":{"$ref":"#/definitions/Error"}},"409":{"description":"Conflict","schema":{"$ref":"#/definitions/Error"}},"500":{"description":"Internal Server Error","schema":{"$ref":"#/definitions/Error"}}},"security":[{"spring_oauth":["read","write","admin","openapi"]}],"deprecated":false}},"/listener/unAckAlarmsCreateEvent":{"post":{"tags":["notification listeners (client side)"],"summary":"Client listener for entity UnAckAlarmsCreateEvent","description":"Example of a client listener for receiving the notification UnAckAlarmsCreateEvent","operationId":"listenToUnAckAlarmsCreateEvent","consumes":["application/json;charset=utf-8"],"produces":["application/json;charset=utf-8"],"parameters":[{"in":"body","name":"body","description":"The event data","required":true,"schema":{"$ref":"#/definitions/UnAckAlarmsCreateEvent"}}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/EventSubscription"}},"201":{"description":"Notified","schema":{"$ref":"#/definitions/EventSubscription"}},"400":{"description":"Bad Request","schema":{"$ref":"#/definitions/Error"}},"401":{"description":"Unauthorized","schema":{"$ref":"#/definitions/Error"}},"403":{"description":"Forbidden","schema":{"$ref":"#/definitions/Error"}},"404":{"description":"Not Found","schema":{"$ref":"#/definitions/Error"}},"405":{"description":"Method Not allowed","schema":{"$ref":"#/definitions/Error"}},"409":{"description":"Conflict","schema":{"$ref":"#/definitions/Error"}},"500":{"description":"Internal Server Error","schema":{"$ref":"#/definitions/Error"}}},"security":[{"spring_oauth":["read","write","admin","openapi"]}],"deprecated":false}},"/listener/unAckAlarmsStateChangeEvent":{"post":{"tags":["notification listeners (client side)"],"summary":"Client listener for entity UnAckAlarmsStateChangeEvent","description":"Example of a client listener for receiving the notification UnAckAlarmsStateChangeEvent","operationId":"listenToUnAckAlarmsStateChangeEvent","consumes":["application/json;charset=utf-8"],"produces":["application/json;charset=utf-8"],"parameters":[{"in":"body","name":"body","description":"The event data","required":true,"schema":{"$ref":"#/definitions/UnAckAlarmsStateChangeEvent"}}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/EventSubscription"}},"201":{"description":"Notified","schema":{"$ref":"#/definitions/EventSubscription"}},"400":{"description":"Bad Request","schema":{"$ref":"#/definitions/Error"}},"401":{"description":"Unauthorized","schema":{"$ref":"#/definitions/Error"}},"403":{"description":"Forbidden","schema":{"$ref":"#/definitions/Error"}},"404":{"description":"Not Found","schema":{"$ref":"#/definitions/Error"}},"405":{"description":"Method Not allowed","schema":{"$ref":"#/definitions/Error"}},"409":{"description":"Conflict","schema":{"$ref":"#/definitions/Error"}},"500":{"description":"Internal Server Error","schema":{"$ref":"#/definitions/Error"}}},"security":[{"spring_oauth":["read","write","admin","openapi"]}],"deprecated":false}},"/listener/unGroupAlarmsCreateEvent":{"post":{"tags":["notification listeners (client side)"],"summary":"Client listener for entity UnGroupAlarmsCreateEvent","description":"Example of a client listener for receiving the notification UnGroupAlarmsCreateEvent","operationId":"listenToUnGroupAlarmsCreateEvent","consumes":["application/json;charset=utf-8"],"produces":["application/json;charset=utf-8"],"parameters":[{"in":"body","name":"body","description":"The event data","required":true,"schema":{"$ref":"#/definitions/UnGroupAlarmsCreateEvent"}}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/EventSubscription"}},"201":{"description":"Notified","schema":{"$ref":"#/definitions/EventSubscription"}},"400":{"description":"Bad Request","schema":{"$ref":"#/definitions/Error"}},"401":{"description":"Unauthorized","schema":{"$ref":"#/definitions/Error"}},"403":{"description":"Forbidden","schema":{"$ref":"#/definitions/Error"}},"404":{"description":"Not Found","schema":{"$ref":"#/definitions/Error"}},"405":{"description":"Method Not allowed","schema":{"$ref":"#/definitions/Error"}},"409":{"description":"Conflict","schema":{"$ref":"#/definitions/Error"}},"500":{"description":"Internal Server Error","schema":{"$ref":"#/definitions/Error"}}},"security":[{"spring_oauth":["read","write","admin","openapi"]}],"deprecated":false}},"/listener/unGroupAlarmsStateChangeEvent":{"post":{"tags":["notification listeners (client side)"],"summary":"Client listener for entity UnGroupAlarmsStateChangeEvent","description":"Example of a client listener for receiving the notification UnGroupAlarmsStateChangeEvent","operationId":"listenToUnGroupAlarmsStateChangeEvent","consumes":["application/json;charset=utf-8"],"produces":["application/json;charset=utf-8"],"parameters":[{"in":"body","name":"body","description":"The event data","required":true,"schema":{"$ref":"#/definitions/UnGroupAlarmsStateChangeEvent"}}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/EventSubscription"}},"201":{"description":"Notified","schema":{"$ref":"#/definitions/EventSubscription"}},"400":{"description":"Bad Request","schema":{"$ref":"#/definitions/Error"}},"401":{"description":"Unauthorized","schema":{"$ref":"#/definitions/Error"}},"403":{"description":"Forbidden","schema":{"$ref":"#/definitions/Error"}},"404":{"description":"Not Found","schema":{"$ref":"#/definitions/Error"}},"405":{"description":"Method Not allowed","schema":{"$ref":"#/definitions/Error"}},"409":{"description":"Conflict","schema":{"$ref":"#/definitions/Error"}},"500":{"description":"Internal Server Error","schema":{"$ref":"#/definitions/Error"}}},"security":[{"spring_oauth":["read","write","admin","openapi"]}],"deprecated":false}}},"securityDefinitions":{"spring_oauth":{"type":"oauth2","authorizationUrl":"http://portal.openslice.io/auth/realms/openslice/protocol/openid-connect/auth","tokenUrl":"http://portal.openslice.io/auth/realms/openslice/protocol/openid-connect/token","flow":"accessCode","scopes":{"read":"for read operations","write":"for write operations","admin":"Access admin API","openapi":"Access openapi API"}}},"definitions":{"AckAlarms":{"type":"object","properties":{"@baseType":{"type":"string","description":"When sub-classing, this defines the super-class"},"@schemaLocation":{"type":"string","description":"A URI to a JSON-Schema file that defines additional attributes and relationships"},"@type":{"type":"string"},"ackSystemId":{"type":"string","description":"Name of the acknowledging system"},"ackTime":{"type":"string","format":"date-time","description":"Time of the acknowledgement"},"ackUserId":{"type":"string","description":"Name of the acknowledging user"},"ackedAlarm":{"type":"array","description":"The successfully acknowledged alarms","items":{"$ref":"#/definitions/AlarmRefOrValue"}},"alarmPattern":{"type":"array","description":"Alarm patterns to match target alarms. An alarm will match if all of the sttributes in any of the patterns compare equal to those attributes of the alarm.","items":{"$ref":"#/definitions/Alarm"}},"href":{"type":"string","description":"Unique reference of the entity"},"id":{"type":"string"},"state":{"type":"string","description":"Current state of the operation task"},"uuid":{"type":"string"}},"title":"AckAlarms","description":"Task resource for the acknowledge alarms operation"},"AckAlarmsCreate":{"type":"object","required":["ackSystemId","ackUserId","alarmPattern"],"properties":{"@baseType":{"type":"string"},"@schemaLocation":{"type":"string"},"@type":{"type":"string"},"ackSystemId":{"type":"string","description":"Name of the acknowledging system"},"ackTime":{"type":"string","format":"date-time","description":"Time of the acknowledgement"},"ackUserId":{"type":"string","description":"Name of the acknowledging user"},"ackedAlarm":{"type":"array","description":"The successfully acknowledged alarms","items":{"$ref":"#/definitions/AlarmRefOrValue"}},"alarmPattern":{"type":"array","description":"Alarm patterns to match target alarms. An alarm will match if all of the sttributes in any of the patterns compare equal to those attributes of the alarm.","items":{"$ref":"#/definitions/Alarm"}},"atBaseType":{"type":"string","description":"When sub-classing, this defines the super-class"},"atSchemaLocation":{"type":"string","description":"A URI to a JSON-Schema file that defines additional attributes and relationships"},"atType":{"type":"string","description":"When sub-classing, this defines the sub-class entity name"},"state":{"type":"string","description":"Current state of the operation task"}},"title":"AckAlarmsCreate","description":"Task resource for the acknowledge alarms operation Skipped properties: id,href"},"AckAlarmsCreateEvent":{"type":"object","properties":{"correlationId":{"type":"string","description":"The correlation id for this event."},"description":{"type":"string","description":"An explnatory of the event."},"domain":{"type":"string","description":"The domain of the event."},"event":{"$ref":"#/definitions/AckAlarmsCreateEventPayload"},"eventId":{"type":"string","description":"The identifier of the notification."},"eventTime":{"type":"string","format":"date-time","description":"Time of the event occurrence."},"eventType":{"type":"string","description":"The type of the notification."},"href":{"type":"string","description":"Reference of the ProcessFlow"},"id":{"type":"string","description":"Identifier of the Process flow"},"priority":{"type":"string","description":"A priority."},"timeOcurred":{"type":"string","format":"date-time","description":"The time the event occured."},"title":{"type":"string","description":"The title of the event."}},"title":"AckAlarmsCreateEvent","description":"The notification data structure"},"AckAlarmsCreateEventPayload":{"type":"object","properties":{"ackAlarms":{"$ref":"#/definitions/AckAlarms"}},"title":"AckAlarmsCreateEventPayload","description":"The event data structure"},"AckAlarmsStateChangeEvent":{"type":"object","properties":{"correlationId":{"type":"string","description":"The correlation id for this event."},"description":{"type":"string","description":"An explnatory of the event."},"domain":{"type":"string","description":"The domain of the event."},"event":{"$ref":"#/definitions/AckAlarmsStateChangeEventPayload"},"eventId":{"type":"string","description":"The identifier of the notification."},"eventTime":{"type":"string","format":"date-time","description":"Time of the event occurrence."},"eventType":{"type":"string","description":"The type of the notification."},"href":{"type":"string","description":"Reference of the ProcessFlow"},"id":{"type":"string","description":"Identifier of the Process flow"},"priority":{"type":"string","description":"A priority."},"timeOcurred":{"type":"string","format":"date-time","description":"The time the event occured."},"title":{"type":"string","description":"The title of the event."}},"title":"AckAlarmsStateChangeEvent","description":"The notification data structure"},"AckAlarmsStateChangeEventPayload":{"type":"object","properties":{"ackAlarms":{"$ref":"#/definitions/AckAlarms"}},"title":"AckAlarmsStateChangeEventPayload","description":"The event data structure"},"AffectedService":{"type":"object","properties":{"@baseType":{"type":"string","description":"When sub-classing, this defines the super-class"},"@schemaLocation":{"type":"string","description":"A URI to a JSON-Schema file that defines additional attributes and relationships"},"@type":{"type":"string"},"href":{"type":"string","description":"Unique reference of the entity"},"id":{"type":"string"},"uuid":{"type":"string"}},"title":"AffectedService"},"Alarm":{"type":"object","properties":{"@baseType":{"type":"string","description":"When sub-classing, this defines the super-class"},"@schemaLocation":{"type":"string","description":"A URI to a JSON-Schema file that defines additional attributes and relationships"},"@type":{"type":"string"},"ackState":{"type":"string","description":"Provides the Acknowledgement State of the alarm"},"ackSystemId":{"type":"string","description":"Provides the name of the system that last changed the ackState of an alarm, i.e. acknowledged or unacknowledged the alarm."},"ackUserId":{"type":"string","description":"Provides the id of the user who has last changed the ack state of the alarm, i.e. acknowledged or unacknowledged the alarm."},"affectedService":{"type":"array","items":{"$ref":"#/definitions/AffectedService"}},"alarmChangedTime":{"type":"string","description":"Indicates the last date and time when the alarm is changed on the alarm-owning system. Any change to the alarm whether coming from the alarmed resource, or triggered by a change from the client is changing this time."},"alarmClearedTime":{"type":"string","description":"Indicates the time (as a date + time) at which the alarm is cleared at the source. "},"alarmDetails":{"type":"string","description":"Contains further information on the alarm."},"alarmEscalation":{"type":"boolean","description":"Indicates if this alarm has been escalated or not. "},"alarmRaisedTime":{"type":"string","description":"Indicates the time (as a date + time) at which the alarm occurred at its source."},"alarmReportingTime":{"type":"string","description":"Indicates the time (as a date + time) at which the alarm was reported by the owning OSS. It might be different from the alarmRaisedTime. For instance, if the alarm list is maintained by an EMS, the alarmRaisedtime would be the time the alarm   was detected by the NE, while the alarmReportingTime would be the time this alarm was stored in the alarm list of the EMS."},"alarmType":{"type":"string","description":"Categorize the alarm. Should be one of the values defined in X.733 8.1.1 or 3GPP TS 32.111-2 Annex A:  Communications Alarm  Processing Error Alarm  Environmental Alarm  Quality of Service Alarm  Equipment Alarm  Integrity Violation  Operational Violation  Physical Violation  Security Service or Mechanism Violation  Time Domain Violation"},"alarmedObject":{"$ref":"#/definitions/AlarmedObject"},"alarmedObjectType":{"type":"string","description":"The type (class) of the managed object associated with the event."},"clearSystemId":{"type":"string","description":"Provides the id of the system where the user who invoked the alarmCleared operation is located. "},"clearUserId":{"type":"string","description":"Provides the id of the user who invoked the alarmCleared operation"},"comment":{"type":"array","items":{"$ref":"#/definitions/Comment"}},"correlatedAlarm":{"type":"array","items":{"$ref":"#/definitions/AlarmRef"}},"crossedThresholdInformation":{"$ref":"#/definitions/CrossedThresholdInformation"},"externalAlarmId":{"type":"string","description":"An identifier of the alarm in the source system."},"href":{"type":"string","description":"A reference to the alarm."},"id":{"type":"string"},"isRootCause":{"type":"boolean","description":"Indicates whether the alarm is a root cause alarm.. "},"parentAlarm":{"type":"array","items":{"$ref":"#/definitions/AlarmRef"}},"perceivedSeverity":{"type":"string","description":"Lists the possible severities that can be allocated to an Alarm. The values are consistent with ITU-T Recommendation X.733. Once an alarm has been cleared, its perceived severity is set to 'cleared' and can no longer be set."},"place":{"type":"array","items":{"$ref":"#/definitions/RelatedPlaceRefOrValue"}},"plannedOutageIndicator":{"type":"string","description":"Indicates that the Managed Object (related to this alarm) is in planned outage (in planned maintenance, or out-of-service). "},"probableCause":{"type":"string","description":"Provides the probable cause of the alarm. The values are consistent with ITU-T Recommendation X.733 or 3GPP TS 32.111-2 Annex B."},"proposedRepairedActions":{"type":"string","description":"Indicates proposed repair actions, if known to the system emitting the alarm."},"reportingSystemId":{"type":"string","description":"Reporting system identity."},"serviceAffecting":{"type":"boolean","description":"Indicates whether the alarm affects service or not."},"sourceSystemId":{"type":"string","description":"Source system identity."},"specificProblem":{"type":"string","description":"Provides more specific information about the alarm."},"state":{"type":"string","description":"Defines the alarm state during its life cycle"},"uuid":{"type":"string"}},"title":"Alarm","description":"This resource represents an alarm supporting the information model defined in ITU-T X.733."},"AlarmAttributeValueChangeEvent":{"type":"object","properties":{"correlationId":{"type":"string","description":"The correlation id for this event."},"description":{"type":"string","description":"An explnatory of the event."},"domain":{"type":"string","description":"The domain of the event."},"event":{"$ref":"#/definitions/AlarmAttributeValueChangeEventPayload"},"eventId":{"type":"string","description":"The identifier of the notification."},"eventTime":{"type":"string","format":"date-time","description":"Time of the event occurrence."},"eventType":{"type":"string","description":"The type of the notification."},"fieldPath":{"type":"string","description":"The path identifying the object field concerned by this notification."},"priority":{"type":"string","description":"A priority."},"timeOcurred":{"type":"string","format":"date-time","description":"The time the event occured."},"title":{"type":"string","description":"The title of the event."}},"title":"AlarmAttributeValueChangeEvent","description":"The notification data structure"},"AlarmAttributeValueChangeEventPayload":{"type":"object","properties":{"alarm":{"$ref":"#/definitions/Alarm"}},"title":"AlarmAttributeValueChangeEventPayload","description":"The event data structure"},"AlarmCreate":{"type":"object","required":["alarmRaisedTime","sourceSystemId"],"properties":{"@baseType":{"type":"string"},"@schemaLocation":{"type":"string"},"@type":{"type":"string"},"ackState":{"type":"string","description":"Provides the Acknowledgement State of the alarm"},"ackSystemId":{"type":"string","description":"Provides the name of the system that last changed the ackState of an alarm, i.e. acknowledged or unacknowledged the alarm."},"ackUserId":{"type":"string","description":"Provides the id of the user who has last changed the ack state of the alarm, i.e. acknowledged or unacknowledged the alarm."},"affectedService":{"type":"array","items":{"$ref":"#/definitions/AffectedService"}},"alarmChangedTime":{"type":"string","description":"Indicates the last date and time when the alarm is changed on the alarm-owning system. Any change to the alarm whether coming from the alarmed resource, or triggered by a change from the client is changing this time."},"alarmClearedTime":{"type":"string","description":"Indicates the time (as a date + time) at which the alarm is cleared at the source. "},"alarmDetails":{"type":"string","description":"Contains further information on the alarm."},"alarmEscalation":{"type":"boolean","description":"Indicates if this alarm has been escalated or not. "},"alarmRaisedTime":{"type":"string","description":"Indicates the time (as a date + time) at which the alarm occurred at its source."},"alarmReportingTime":{"type":"string","description":"Indicates the time (as a date + time) at which the alarm was reported by the owning OSS. It might be different from the alarmRaisedTime. For instance, if the alarm list is maintained by an EMS, the alarmRaisedtime would be the time the alarm   was detected by the NE, while the alarmReportingTime would be the time this alarm was stored in the alarm list of the EMS."},"alarmType":{"type":"string","description":"Categorize the alarm. Should be one of the values defined in X.733 8.1.1 or 3GPP TS 32.111-2 Annex A:  Communications Alarm  Processing Error Alarm  Environmental Alarm  Quality of Service Alarm  Equipment Alarm  Integrity Violation  Operational Violation  Physical Violation  Security Service or Mechanism Violation  Time Domain Violation"},"alarmedObject":{"$ref":"#/definitions/AlarmedObject"},"alarmedObjectType":{"type":"string","description":"The type (class) of the managed object associated with the event."},"atBaseType":{"type":"string","description":"The base type of this alarm."},"atSchemaLocation":{"type":"string","description":"A reference to the schema describing this alarm."},"atType":{"type":"string","description":"The type for this alarm."},"clearSystemId":{"type":"string","description":"Provides the id of the system where the user who invoked the alarmCleared operation is located. "},"clearUserId":{"type":"string","description":"Provides the id of the user who invoked the alarmCleared operation"},"comment":{"type":"array","items":{"$ref":"#/definitions/Comment"}},"correlatedAlarm":{"type":"array","items":{"$ref":"#/definitions/AlarmRef"}},"crossedThresholdInformation":{"$ref":"#/definitions/CrossedThresholdInformation"},"externalAlarmId":{"type":"string","description":"An identifier of the alarm in the source system."},"isRootCause":{"type":"boolean","description":"Indicates whether the alarm is a root cause alarm.. "},"parentAlarm":{"type":"array","items":{"$ref":"#/definitions/AlarmRef"}},"perceivedSeverity":{"type":"string","description":"Lists the possible severities that can be allocated to an Alarm. The values are consistent with ITU-T Recommendation X.733. Once an alarm has been cleared, its perceived severity is set to 'cleared' and can no longer be set."},"place":{"type":"array","items":{"$ref":"#/definitions/RelatedPlaceRefOrValue"}},"plannedOutageIndicator":{"type":"string","description":"Indicates that the Managed Object (related to this alarm) is in planned outage (in planned maintenance, or out-of-service). "},"probableCause":{"type":"string","description":"Provides the probable cause of the alarm. The values are consistent with ITU-T Recommendation X.733 or 3GPP TS 32.111-2 Annex B."},"proposedRepairedActions":{"type":"string","description":"Indicates proposed repair actions, if known to the system emitting the alarm."},"reportingSystemId":{"type":"string","description":"Reporting system identity."},"serviceAffecting":{"type":"boolean","description":"Indicates whether the alarm affects service or not."},"sourceSystemId":{"type":"string","description":"Source system identity."},"specificProblem":{"type":"string","description":"Provides more specific information about the alarm."},"state":{"type":"string","description":"Defines the alarm state during its life cycle"}},"title":"AlarmCreate","description":"This resource represents an alarm supporting the information model defined in ITU-T X.733. Skipped properties: id,href"},"AlarmCreateEvent":{"type":"object","properties":{"correlationId":{"type":"string","description":"The correlation id for this event."},"description":{"type":"string","description":"An explnatory of the event."},"domain":{"type":"string","description":"The domain of the event."},"event":{"$ref":"#/definitions/AlarmCreateEventPayload"},"eventId":{"type":"string","description":"The identifier of the notification."},"eventTime":{"type":"string","format":"date-time","description":"Time of the event occurrence."},"eventType":{"type":"string","description":"The type of the notification."},"href":{"type":"string","description":"Reference of the ProcessFlow"},"id":{"type":"string","description":"Identifier of the Process flow"},"priority":{"type":"string","description":"A priority."},"timeOcurred":{"type":"string","format":"date-time","description":"The time the event occured."},"title":{"type":"string","description":"The title of the event."}},"title":"AlarmCreateEvent","description":"The notification data structure"},"AlarmCreateEventPayload":{"type":"object","properties":{"alarm":{"$ref":"#/definitions/Alarm"}},"title":"AlarmCreateEventPayload","description":"The event data structure"},"AlarmDeleteEvent":{"type":"object","properties":{"correlationId":{"type":"string","description":"The correlation id for this event."},"description":{"type":"string","description":"An explnatory of the event."},"domain":{"type":"string","description":"The domain of the event."},"event":{"$ref":"#/definitions/AlarmDeleteEventPayload"},"eventId":{"type":"string","description":"The identifier of the notification."},"eventTime":{"type":"string","format":"date-time","description":"Time of the event occurrence."},"eventType":{"type":"string","description":"The type of the notification."},"href":{"type":"string","description":"Reference of the ProcessFlow"},"id":{"type":"string","description":"Identifier of the Process flow"},"priority":{"type":"string","description":"A priority."},"timeOcurred":{"type":"string","format":"date-time","description":"The time the event occured."},"title":{"type":"string","description":"The title of the event."}},"title":"AlarmDeleteEvent","description":"The notification data structure"},"AlarmDeleteEventPayload":{"type":"object","properties":{"alarm":{"$ref":"#/definitions/Alarm"}},"title":"AlarmDeleteEventPayload","description":"The event data structure"},"AlarmRef":{"type":"object","properties":{"@baseType":{"type":"string","description":"When sub-classing, this defines the super-class"},"@referredType":{"type":"string"},"@schemaLocation":{"type":"string","description":"A URI to a JSON-Schema file that defines additional attributes and relationships"},"@type":{"type":"string"},"atReferredType":{"type":"string","description":"The actual type of the target instance when needed for disambiguation."},"href":{"type":"string","description":"Unique reference of the entity"},"id":{"type":"string"},"name":{"type":"string","description":"Name of the entity"},"uuid":{"type":"string"}},"title":"AlarmRef"},"AlarmRefOrValue":{"type":"object","properties":{"@baseType":{"type":"string","description":"When sub-classing, this defines the super-class"},"@referredType":{"type":"string"},"@schemaLocation":{"type":"string","description":"A URI to a JSON-Schema file that defines additional attributes and relationships"},"@type":{"type":"string"},"ackState":{"type":"string","description":"Provides the Acknowledgement State of the alarm"},"ackSystemId":{"type":"string","description":"Provides the name of the system that last changed the ackState of an alarm, i.e. acknowledged or unacknowledged the alarm."},"ackUserId":{"type":"string","description":"Provides the id of the user who has last changed the ack state of the alarm, i.e. acknowledged or unacknowledged the alarm."},"affectedService":{"type":"array","items":{"$ref":"#/definitions/AffectedService"}},"alarmChangedTime":{"type":"string","description":"Indicates the last date and time when the alarm is changed on the alarm-owning system. Any change to the alarm whether coming from the alarmed resource, or triggered by a change from the client is changing this time."},"alarmClearedTime":{"type":"string","description":"Indicates the time (as a date + time) at which the alarm is cleared at the source. "},"alarmDetails":{"type":"string","description":"Contains further information on the alarm."},"alarmEscalation":{"type":"boolean","description":"Indicates if this alarm has been escalated or not. "},"alarmRaisedTime":{"type":"string","description":"Indicates the time (as a date + time) at which the alarm occurred at its source."},"alarmReportingTime":{"type":"string","description":"Indicates the time (as a date + time) at which the alarm was reported by the owning OSS. It might be different from the alarmRaisedTime. For instance, if the alarm list is maintained by an EMS, the alarmRaisedtime would be the time the alarm   was detected by the NE, while the alarmReportingTime would be the time this alarm was stored in the alarm list of the EMS."},"alarmType":{"type":"string","description":"Categorize the alarm. Should be one of the values defined in X.733 8.1.1 or 3GPP TS 32.111-2 Annex A:  Communications Alarm  Processing Error Alarm  Environmental Alarm  Quality of Service Alarm  Equipment Alarm  Integrity Violation  Operational Violation  Physical Violation  Security Service or Mechanism Violation  Time Domain Violation"},"alarmedObject":{"$ref":"#/definitions/AlarmedObject"},"alarmedObjectType":{"type":"string","description":"The type (class) of the managed object associated with the event."},"atReferredType":{"type":"string","description":"The actual type of the target instance when needed for disambiguation."},"clearSystemId":{"type":"string","description":"Provides the id of the system where the user who invoked the alarmCleared operation is located. "},"clearUserId":{"type":"string","description":"Provides the id of the user who invoked the alarmCleared operation"},"comment":{"type":"array","items":{"$ref":"#/definitions/Comment"}},"correlatedAlarm":{"type":"array","items":{"$ref":"#/definitions/AlarmRef"}},"crossedThresholdInformation":{"$ref":"#/definitions/CrossedThresholdInformation"},"externalAlarmId":{"type":"string","description":"An identifier of the alarm in the source system."},"href":{"type":"string","description":"A reference to the alarm."},"id":{"type":"integer","format":"int32","description":"Identifier of the alarm, determined by the alarm owning system"},"isRootCause":{"type":"boolean","description":"Indicates whether the alarm is a root cause alarm.. "},"name":{"type":"string","description":"Name of the entity"},"parentAlarm":{"type":"array","items":{"$ref":"#/definitions/AlarmRef"}},"perceivedSeverity":{"type":"string","description":"Lists the possible severities that can be allocated to an Alarm. The values are consistent with ITU-T Recommendation X.733. Once an alarm has been cleared, its perceived severity is set to 'cleared' and can no longer be set."},"place":{"type":"array","items":{"$ref":"#/definitions/RelatedPlaceRefOrValue"}},"plannedOutageIndicator":{"type":"string","description":"Indicates that the Managed Object (related to this alarm) is in planned outage (in planned maintenance, or out-of-service). "},"probableCause":{"type":"string","description":"Provides the probable cause of the alarm. The values are consistent with ITU-T Recommendation X.733 or 3GPP TS 32.111-2 Annex B."},"proposedRepairedActions":{"type":"string","description":"Indicates proposed repair actions, if known to the system emitting the alarm."},"reportingSystemId":{"type":"string","description":"Reporting system identity."},"serviceAffecting":{"type":"boolean","description":"Indicates whether the alarm affects service or not."},"sourceSystemId":{"type":"string","description":"Source system identity."},"specificProblem":{"type":"string","description":"Provides more specific information about the alarm."},"state":{"type":"string","description":"Defines the alarm state during its life cycle"},"uuid":{"type":"string"}},"title":"AlarmRefOrValue","description":"An alarm defined by reference or value. The polymorphic attributes @type, @schemaLocation & @referredType are related to the alarm entity and not the RelatedAlarmRefOrValue class itself"},"AlarmStateChangeEvent":{"type":"object","properties":{"correlationId":{"type":"string","description":"The correlation id for this event."},"description":{"type":"string","description":"An explnatory of the event."},"domain":{"type":"string","description":"The domain of the event."},"event":{"$ref":"#/definitions/AlarmStateChangeEventPayload"},"eventId":{"type":"string","description":"The identifier of the notification."},"eventTime":{"type":"string","format":"date-time","description":"Time of the event occurrence."},"eventType":{"type":"string","description":"The type of the notification."},"href":{"type":"string","description":"Reference of the ProcessFlow"},"id":{"type":"string","description":"Identifier of the Process flow"},"priority":{"type":"string","description":"A priority."},"timeOcurred":{"type":"string","format":"date-time","description":"The time the event occured."},"title":{"type":"string","description":"The title of the event."}},"title":"AlarmStateChangeEvent","description":"The notification data structure"},"AlarmStateChangeEventPayload":{"type":"object","properties":{"alarm":{"$ref":"#/definitions/Alarm"}},"title":"AlarmStateChangeEventPayload","description":"The event data structure"},"AlarmUpdate":{"type":"object","properties":{"@baseType":{"type":"string"},"@schemaLocation":{"type":"string"},"@type":{"type":"string"},"ackState":{"type":"string","description":"Provides the Acknowledgement State of the alarm"},"ackSystemId":{"type":"string","description":"Provides the name of the system that last changed the ackState of an alarm, i.e. acknowledged or unacknowledged the alarm."},"ackUserId":{"type":"string","description":"Provides the id of the user who has last changed the ack state of the alarm, i.e. acknowledged or unacknowledged the alarm."},"affectedService":{"type":"array","items":{"$ref":"#/definitions/AffectedService"}},"alarmChangedTime":{"type":"string","description":"Indicates the last date and time when the alarm is changed on the alarm-owning system. Any change to the alarm whether coming from the alarmed resource, or triggered by a change from the client is changing this time."},"alarmClearedTime":{"type":"string","description":"Indicates the time (as a date + time) at which the alarm is cleared at the source. "},"alarmDetails":{"type":"string","description":"Contains further information on the alarm."},"alarmEscalation":{"type":"boolean","description":"Indicates if this alarm has been escalated or not. "},"alarmReportingTime":{"type":"string","description":"Indicates the time (as a date + time) at which the alarm was reported by the owning OSS. It might be different from the alarmRaisedTime. For instance, if the alarm list is maintained by an EMS, the alarmRaisedtime would be the time the alarm   was detected by the NE, while the alarmReportingTime would be the time this alarm was stored in the alarm list of the EMS."},"alarmType":{"type":"string","description":"Categorize the alarm. Should be one of the values defined in X.733 8.1.1 or 3GPP TS 32.111-2 Annex A:  Communications Alarm  Processing Error Alarm  Environmental Alarm  Quality of Service Alarm  Equipment Alarm  Integrity Violation  Operational Violation  Physical Violation  Security Service or Mechanism Violation  Time Domain Violation"},"alarmedObject":{"$ref":"#/definitions/AlarmedObject"},"alarmedObjectType":{"type":"string","description":"The type (class) of the managed object associated with the event."},"atBaseType":{"type":"string","description":"The base type of this alarm."},"atSchemaLocation":{"type":"string","description":"A reference to the schema describing this alarm."},"atType":{"type":"string","description":"The type for this alarm."},"clearSystemId":{"type":"string","description":"Provides the id of the system where the user who invoked the alarmCleared operation is located. "},"clearUserId":{"type":"string","description":"Provides the id of the user who invoked the alarmCleared operation"},"comment":{"type":"array","items":{"$ref":"#/definitions/Comment"}},"correlatedAlarm":{"type":"array","items":{"$ref":"#/definitions/AlarmRef"}},"crossedThresholdInformation":{"$ref":"#/definitions/CrossedThresholdInformation"},"externalAlarmId":{"type":"string","description":"An identifier of the alarm in the source system."},"isRootCause":{"type":"boolean","description":"Indicates whether the alarm is a root cause alarm.. "},"parentAlarm":{"type":"array","items":{"$ref":"#/definitions/AlarmRef"}},"perceivedSeverity":{"type":"string","description":"Lists the possible severities that can be allocated to an Alarm. The values are consistent with ITU-T Recommendation X.733. Once an alarm has been cleared, its perceived severity is set to 'cleared' and can no longer be set."},"place":{"type":"array","items":{"$ref":"#/definitions/RelatedPlaceRefOrValue"}},"plannedOutageIndicator":{"type":"string","description":"Indicates that the Managed Object (related to this alarm) is in planned outage (in planned maintenance, or out-of-service). "},"probableCause":{"type":"string","description":"Provides the probable cause of the alarm. The values are consistent with ITU-T Recommendation X.733 or 3GPP TS 32.111-2 Annex B."},"proposedRepairedActions":{"type":"string","description":"Indicates proposed repair actions, if known to the system emitting the alarm."},"reportingSystemId":{"type":"string","description":"Reporting system identity."},"serviceAffecting":{"type":"boolean","description":"Indicates whether the alarm affects service or not."},"specificProblem":{"type":"string","description":"Provides more specific information about the alarm."},"state":{"type":"string","description":"Defines the alarm state during its life cycle"}},"title":"AlarmUpdate","description":"This resource represents an alarm supporting the information model defined in ITU-T X.733. Skipped properties: id,href,alarmRaisedTime,sourceSystemId"},"AlarmedObject":{"type":"object","properties":{"@baseType":{"type":"string","description":"When sub-classing, this defines the super-class"},"@schemaLocation":{"type":"string","description":"A URI to a JSON-Schema file that defines additional attributes and relationships"},"@type":{"type":"string"},"href":{"type":"string","description":"Unique reference of the entity"},"id":{"type":"string"},"uuid":{"type":"string"}},"title":"AlarmedObject","description":"Identifies the managed object instance associated with the alarm."},"ClearAlarms":{"type":"object","properties":{"@baseType":{"type":"string","description":"When sub-classing, this defines the super-class"},"@schemaLocation":{"type":"string","description":"A URI to a JSON-Schema file that defines additional attributes and relationships"},"@type":{"type":"string"},"alarmClearedTime":{"type":"string","format":"date-time","description":"Time of the alarm clearing"},"alarmPattern":{"type":"array","description":"Alarm patterns to match target alarms. An alarm will match if all of the sttributes in any of the patterns compare equal to those attributes of the alarm.","items":{"$ref":"#/definitions/Alarm"}},"clearSystemId":{"type":"string","description":"Name of the clearing system"},"clearUserId":{"type":"string","description":"Name of the clearing user"},"clearedAlarm":{"type":"array","description":"The successfully cleared alarms","items":{"$ref":"#/definitions/AlarmRefOrValue"}},"href":{"type":"string","description":"Unique reference of the entity"},"id":{"type":"string"},"state":{"type":"string","description":"Current state of the operation task"},"uuid":{"type":"string"}},"title":"ClearAlarms","description":"Task resource for clear alarms operation"},"ClearAlarmsCreate":{"type":"object","required":["alarmClearedTime","alarmPattern","clearSystemId","clearUserId"],"properties":{"@baseType":{"type":"string"},"@schemaLocation":{"type":"string"},"@type":{"type":"string"},"alarmClearedTime":{"type":"string","format":"date-time","description":"Time of the alarm clearing"},"alarmPattern":{"type":"array","description":"Alarm patterns to match target alarms. An alarm will match if all of the sttributes in any of the patterns compare equal to those attributes of the alarm.","items":{"$ref":"#/definitions/Alarm"}},"atBaseType":{"type":"string","description":"When sub-classing, this defines the super-class"},"atSchemaLocation":{"type":"string","description":"A URI to a JSON-Schema file that defines additional attributes and relationships"},"atType":{"type":"string","description":"When sub-classing, this defines the sub-class entity name"},"clearSystemId":{"type":"string","description":"Name of the clearing system"},"clearUserId":{"type":"string","description":"Name of the clearing user"},"clearedAlarm":{"type":"array","description":"The successfully cleared alarms","items":{"$ref":"#/definitions/AlarmRefOrValue"}},"state":{"type":"string","description":"Current state of the operation task"}},"title":"ClearAlarmsCreate","description":"Task resource for clear alarms operation Skipped properties: id,href"},"ClearAlarmsCreateEvent":{"type":"object","properties":{"correlationId":{"type":"string","description":"The correlation id for this event."},"description":{"type":"string","description":"An explnatory of the event."},"domain":{"type":"string","description":"The domain of the event."},"event":{"$ref":"#/definitions/ClearAlarmsCreateEventPayload"},"eventId":{"type":"string","description":"The identifier of the notification."},"eventTime":{"type":"string","format":"date-time","description":"Time of the event occurrence."},"eventType":{"type":"string","description":"The type of the notification."},"href":{"type":"string","description":"Reference of the ProcessFlow"},"id":{"type":"string","description":"Identifier of the Process flow"},"priority":{"type":"string","description":"A priority."},"timeOcurred":{"type":"string","format":"date-time","description":"The time the event occured."},"title":{"type":"string","description":"The title of the event."}},"title":"ClearAlarmsCreateEvent","description":"The notification data structure"},"ClearAlarmsCreateEventPayload":{"type":"object","properties":{"clearAlarms":{"$ref":"#/definitions/ClearAlarms"}},"title":"ClearAlarmsCreateEventPayload","description":"The event data structure"},"ClearAlarmsStateChangeEvent":{"type":"object","properties":{"correlationId":{"type":"string","description":"The correlation id for this event."},"description":{"type":"string","description":"An explnatory of the event."},"domain":{"type":"string","description":"The domain of the event."},"event":{"$ref":"#/definitions/ClearAlarmsStateChangeEventPayload"},"eventId":{"type":"string","description":"The identifier of the notification."},"eventTime":{"type":"string","format":"date-time","description":"Time of the event occurrence."},"eventType":{"type":"string","description":"The type of the notification."},"href":{"type":"string","description":"Reference of the ProcessFlow"},"id":{"type":"string","description":"Identifier of the Process flow"},"priority":{"type":"string","description":"A priority."},"timeOcurred":{"type":"string","format":"date-time","description":"The time the event occured."},"title":{"type":"string","description":"The title of the event."}},"title":"ClearAlarmsStateChangeEvent","description":"The notification data structure"},"ClearAlarmsStateChangeEventPayload":{"type":"object","properties":{"clearAlarms":{"$ref":"#/definitions/ClearAlarms"}},"title":"ClearAlarmsStateChangeEventPayload","description":"The event data structure"},"Comment":{"type":"object","properties":{"@baseType":{"type":"string","description":"When sub-classing, this defines the super-class"},"@schemaLocation":{"type":"string","description":"A URI to a JSON-Schema file that defines additional attributes and relationships"},"@type":{"type":"string"},"comment":{"type":"string","description":"Indicates the text of the comment."},"href":{"type":"string","description":"Unique reference of the entity"},"systemId":{"type":"string","description":"Indicates the system identifier on which the client set the comment."},"time":{"type":"string","format":"date-time","description":"Indicates the time commenting the alarm"},"userId":{"type":"string","description":"Indicates the user commenting the alarm."},"uuid":{"type":"string"}},"title":"Comment","description":"Indicates the comments entered on the alarm."},"CommentAlarms":{"type":"object","properties":{"@baseType":{"type":"string","description":"When sub-classing, this defines the super-class"},"@schemaLocation":{"type":"string","description":"A URI to a JSON-Schema file that defines additional attributes and relationships"},"@type":{"type":"string"},"alarmPattern":{"type":"array","description":"Alarm patterns to match target alarms. An alarm will match if all of the sttributes in any of the patterns compare equal to those attributes of the alarm.","items":{"$ref":"#/definitions/Alarm"}},"comment":{"$ref":"#/definitions/Comment"},"commentedAlarm":{"type":"array","description":"The successfully commented alarms","items":{"$ref":"#/definitions/AlarmRefOrValue"}},"href":{"type":"string","description":"Unique reference of the entity"},"id":{"type":"string"},"state":{"type":"string","description":"Current state of the operation task"},"uuid":{"type":"string"}},"title":"CommentAlarms","description":"Task resource for comment alarms operation"},"CommentAlarmsCreate":{"type":"object","required":["alarmPattern","comment"],"properties":{"@baseType":{"type":"string"},"@schemaLocation":{"type":"string"},"@type":{"type":"string"},"alarmPattern":{"type":"array","description":"Alarm patterns to match target alarms. An alarm will match if all of the sttributes in any of the patterns compare equal to those attributes of the alarm.","items":{"$ref":"#/definitions/Alarm"}},"atBaseType":{"type":"string","description":"When sub-classing, this defines the super-class"},"atSchemaLocation":{"type":"string","description":"A URI to a JSON-Schema file that defines additional attributes and relationships"},"atType":{"type":"string","description":"When sub-classing, this defines the sub-class entity name"},"comment":{"$ref":"#/definitions/Comment"},"commentedAlarm":{"type":"array","description":"The successfully commented alarms","items":{"$ref":"#/definitions/AlarmRefOrValue"}},"state":{"type":"string","description":"Current state of the operation task"}},"title":"CommentAlarmsCreate","description":"Task resource for comment alarms operation Skipped properties: id,href"},"CommentAlarmsCreateEvent":{"type":"object","properties":{"correlationId":{"type":"string","description":"The correlation id for this event."},"description":{"type":"string","description":"An explnatory of the event."},"domain":{"type":"string","description":"The domain of the event."},"event":{"$ref":"#/definitions/CommentAlarmsCreateEventPayload"},"eventId":{"type":"string","description":"The identifier of the notification."},"eventTime":{"type":"string","format":"date-time","description":"Time of the event occurrence."},"eventType":{"type":"string","description":"The type of the notification."},"href":{"type":"string","description":"Reference of the ProcessFlow"},"id":{"type":"string","description":"Identifier of the Process flow"},"priority":{"type":"string","description":"A priority."},"timeOcurred":{"type":"string","format":"date-time","description":"The time the event occured."},"title":{"type":"string","description":"The title of the event."}},"title":"CommentAlarmsCreateEvent","description":"The notification data structure"},"CommentAlarmsCreateEventPayload":{"type":"object","properties":{"commentAlarms":{"$ref":"#/definitions/CommentAlarms"}},"title":"CommentAlarmsCreateEventPayload","description":"The event data structure"},"CommentAlarmsStateChangeEvent":{"type":"object","properties":{"correlationId":{"type":"string","description":"The correlation id for this event."},"description":{"type":"string","description":"An explnatory of the event."},"domain":{"type":"string","description":"The domain of the event."},"event":{"$ref":"#/definitions/CommentAlarmsStateChangeEventPayload"},"eventId":{"type":"string","description":"The identifier of the notification."},"eventTime":{"type":"string","format":"date-time","description":"Time of the event occurrence."},"eventType":{"type":"string","description":"The type of the notification."},"href":{"type":"string","description":"Reference of the ProcessFlow"},"id":{"type":"string","description":"Identifier of the Process flow"},"priority":{"type":"string","description":"A priority."},"timeOcurred":{"type":"string","format":"date-time","description":"The time the event occured."},"title":{"type":"string","description":"The title of the event."}},"title":"CommentAlarmsStateChangeEvent","description":"The notification data structure"},"CommentAlarmsStateChangeEventPayload":{"type":"object","properties":{"commentAlarms":{"$ref":"#/definitions/CommentAlarms"}},"title":"CommentAlarmsStateChangeEventPayload","description":"The event data structure"},"CrossedThresholdInformation":{"type":"object","properties":{"@baseType":{"type":"string","description":"When sub-classing, this defines the super-class"},"@schemaLocation":{"type":"string","description":"A URI to a JSON-Schema file that defines additional attributes and relationships"},"@type":{"type":"string"},"atType":{"type":"string","description":"When sub-classing, this defines the sub-class entity name"},"direction":{"type":"string","description":"Indicates the threshold crossing direction: up or down."},"granularity":{"type":"string","description":"Indicates the granularity at which the indicator is evaluated for threshold crossing"},"href":{"type":"string","description":"Unique reference of the entity"},"indicatorName":{"type":"string","description":"Indicates the name of indicator which crossed the threshold."},"indicatorUnit":{"type":"string","description":"Indicates the unit of the measurement of the indicator corresponding to the threshold that has been crossed."},"observedValue":{"type":"string","description":"Indicates the value of the indicator which crossed the threshold."},"threshold":{"$ref":"#/definitions/ThresholdRef"},"thresholdCrossingDescription":{"type":"string","description":"Indicates further information on the threshold crossing alarm."},"uuid":{"type":"string"}},"title":"CrossedThresholdInformation","description":"Identifies the details of the threshold that has been crossed."},"Error":{"type":"object","required":["code","reason"],"properties":{"@baseType":{"type":"strin
[...]
