<div class="container py-5">
    <div class="row">
        <div class="col-12">

            <form [formGroup]="editForm">
                <div class="card card-paper mb-0">
                    
                    <div class="card-header">
                        <div class="container-fluid">
                            <div class="row justify-content-between align-items-center">
                                <div>
                                    <h2 class="shadowed">Service Category Designer</h2>

                                    <p class="shadowed mb-0" *ngIf="newCategory">Design a new service category</p>

                                    <p class="shadowed" *ngIf="!newCategory">Edit Design of <dfn><b>{{category?.name}}</b></dfn> Service Category</p>

                                    <div class="card-stats" *ngIf="!newCategory">
                                        <i class="fas fa-sync spin mr-2"></i>Last updated at
                                        {{category?.lastUpdate | date:'short'}}
                                    </div>

                                </div>

                            </div>
                            
                            <!-- <div class="row mt-2" *ngIf="!newCategory">
                                <nav aria-label="breadcrumb">
                                    <ol class="breadcrumb mb-0">
                                        <li class="breadcrumb-item" *ngIf="category?.parentId && !editForm.controls.parentId.value?.isRoot">...</li>
                                        <li class="breadcrumb-item"  *ngIf="category?.parentId"><span *ngIf="!editForm.controls.parentId.value?.isRoot"> </span> <a routerLink='/service_categories_update/{{editForm.controls.parentId.value.id}}'>{{editForm.controls.parentId.value.name}}</a></li>
                                        <li class="breadcrumb-item active" aria-current="page"><span *ngIf="!category?.isRoot"> </span> {{category?.name}}</li>
                                    </ol>
                                </nav>
                            </div> -->

                            <nav class="row mt-3 " *ngIf="!(category?.isRoot || newCategory)">
                                <span *ngIf="category?.parentId && !editForm.controls.parentId.value?.isRoot" class="d-flex align-items-center">
                                    <a mat-button>...</a>
                                </span>
                            
                                <span *ngIf="category?.parentId" class="d-flex align-items-center">
                                    <mat-icon *ngIf="!editForm.controls.parentId.value?.isRoot">keyboard_arrow_right</mat-icon>
                                    <a mat-button
                                        routerLink='/service_categories_update/{{editForm.controls.parentId.value.id}}'>{{editForm.controls.parentId.value.name}}
                                    </a>
                                </span>
                            
                                <span class="d-flex align-items-center">
                                    <mat-icon>keyboard_arrow_right</mat-icon>
                                    <a mat-button disabled="true">{{category?.name}}</a>
                                </span>
                            </nav>
                            
                        </div>
                    </div>


                    <div class="card-body">
                        <mat-accordion multi="true">
                            <mat-expansion-panel expanded="true" class="bg-light">
                                <mat-expansion-panel-header>
                                    <mat-panel-title>
                                        General
                                    </mat-panel-title>
                                    <mat-panel-description>
                                        Main Service Category Description
                                    </mat-panel-description>
                                </mat-expansion-panel-header>
                            
                                <div class="row align-items-center">
                            
                                    <mat-form-field appearance="" class="col-md-6">
                                        <mat-label>Name</mat-label>
                                        <input matInput formControlName="name">
                                    </mat-form-field>
                            
                                    <mat-form-field appearance="" class="col-md-6">
                                        <mat-label>Version</mat-label>
                                        <input matInput formControlName="version">
                                    </mat-form-field>
                            
                                    <mat-form-field appearance="" class="col-md-12">
                                        <mat-label>Description</mat-label>
                                        <textarea matTextareaAutosize="true" matAutosizeMaxRows="3" matInput
                                            formControlName="description"></textarea>
                                    </mat-form-field>
                            
                                    <div class="col-md-6">
                                        <mat-checkbox color="primary" formControlName="isRoot">is Root</mat-checkbox>
                                    </div>
                            
                                    <mat-form-field class="col-md-6">
                                        <input type="text" placeholder="Parent Category" aria-label="Parent category" matInput
                                            formControlName="parentId" [matAutocomplete]="auto">
                                        <mat-autocomplete autoActiveFirstOption #auto="matAutocomplete" [displayWith]="displayFn">
                                            <mat-option *ngFor="let category of filteredCategories$ | async" [value]="category">
                                                {{category.name}}
                                            </mat-option>
                                        </mat-autocomplete>
                                    </mat-form-field>
                            
                                    <mat-form-field appearance="" class="col-md-12">
                                        <mat-label>Lifecycle Status</mat-label>
                                        <mat-select formControlName="lifecycleStatus">
                                            <mat-option *ngFor="let status of lifecycleStatuses" [value]="status">{{status}}
                                            </mat-option>
                                        </mat-select>
                                    </mat-form-field>
                            
                                    <div class="col-12" formGroupName="validFor">
                                        <div class="row">
                                            <mat-form-field appearance="" class="col-md-6" [owlDateTimeTrigger]="pickerFrom">
                                                <mat-label>Valid From</mat-label>
                                                <input matInput [owlDateTime]="pickerFrom" placeholder="Date Time" formControlName="startDateTime">
                                                <mat-icon matSuffix>date_range</mat-icon>
                                                <owl-date-time #pickerFrom></owl-date-time>
                                            </mat-form-field>
                            
                                            <mat-form-field appearance="" class="col-md-6" [owlDateTimeTrigger]="pickerUntil">
                                                <mat-label>Valid Until</mat-label>
                                                <input matInput [owlDateTime]="pickerUntil" placeholder="Date Time" formControlName="endDateTime">
                                                <mat-icon matSuffix>date_range</mat-icon>
                                                <owl-date-time #pickerUntil></owl-date-time>
                                            </mat-form-field>
                                        </div>
                                    </div>
                                </div>
                                <div class="container-fluid">
                                    <div class="row justify-content-end">
                                            <button type="submit" class="btn btn-primary"
                                        (click)="updateServiceCategory()"><i class="fas fa-check mr-2"></i>Submit</button>
                                    </div>
                                </div>
                            </mat-expansion-panel>


                            <mat-expansion-panel [expanded]="!newCategory" [disabled]="newCategory" class="bg-light" >
                                <mat-expansion-panel-header>
                                    <mat-panel-title>
                                        Children Categories
                                    </mat-panel-title>
                                    <mat-panel-description>
                                        Create Children Categories of Service Category
                                    </mat-panel-description>
                                </mat-expansion-panel-header>
                            
                                <div class="filter-container row align-items-center justify-content-center">
                                    <mat-form-field *ngIf="category?.category.length > 0" class="col-lg-10">
                                        <mat-label>Apply Filter to Children Categories...</mat-label>
                                        <input matInput [formControl]="childrenCategoryFilterCtrl">
                                    </mat-form-field>
                            
                                    <div *ngIf="category?.category.length === 0" class="col-lg-10 children-categories-font">
                                        <!-- Category <dfn>{{category.name}}</dfn> has no children categories assigned yet -->
                                        There are no children categories assigned yet
                                    </div>
                            
                            
                                    <div class="text-right col-lg-2">
                                        <button type="button" class="btn btn-success btn-sm" (click)="openCategoryChildDialog()"><i
                                                class="fas fa-plus-circle mr-2"></i>Create</button>
                                    </div>
                                </div>
                            
                                <div *ngFor="let category of filteredChildrenCategories$ | async" class="child-category-container pt-3 px-2">
                                    <div><b>{{category.name}}</b></div>
                                    <div>
                                        <button class="btn btn-danger btn-sm mr-1" (click)="openCategoryDeleteDialog(category)"><i
                                                class="far fa-trash-alt"></i></button>
                                        <button class="btn btn-primary btn-sm" routerLink='/service_categories_update/{{category.id}}'><i
                                                class="far fa-edit"></i></button>
                                    </div>
                            
                                </div>
                            </mat-expansion-panel>

                            
                            <mat-expansion-panel [expanded]="!newCategory" [disabled]="newCategory" class="bg-light">
                                <mat-expansion-panel-header>
                                    <mat-panel-title>
                                        Service Specifications
                                    </mat-panel-title>
                                    <mat-panel-description>
                                        Assign Service Specifications to Service Category
                                    </mat-panel-description>
                                </mat-expansion-panel-header>
                            
                                <div class="filter-container row align-items-center justify-content-center">
                                    <mat-form-field *ngIf="category?.serviceCandidate.length > 0" class="col-lg-10">
                                        <mat-label>Apply Filter to Service Specifications...</mat-label>
                                        <input matInput [formControl]="serviceCandidatesFilterCtrl">
                                    </mat-form-field>
                            
                                    <div *ngIf="category?.serviceCandidate.length === 0" class="col-lg-10 children-categories-font">
                                        <!-- Category <dfn>{{category.name}}</dfn> has no service specifications assigned yet -->
                                        There are no service specifications assigned yet
                                    </div>
                            
                                    <div class="text-right col-lg-2">
                                        <button type="button" class="btn btn-success btn-sm" (click)="openAssignCandidatesDialog(category)"><i
                                                class="fas fa-cart-arrow-down mr-2"></i>Assign</button>
                                    </div>
                                </div>
                            
                                <div *ngFor="let candidate of filteredServiceCandidates$ | async" class="child-category-container pt-3 px-2">
                                    <div><b>{{candidate.name}}</b></div>
                                    <!-- <div>
                                        <button class="btn btn-danger btn-sm mr-1" (click)="openCategoryDeleteDialog(category)"><i
                                                class="far fa-trash-alt"></i></button>
                                    </div> -->
                            
                                </div>
                            </mat-expansion-panel>

    
                        </mat-accordion>

                    </div>

                    <div class="card-footer"></div>

                </div>
            </form>

        </div>
    </div>
</div>