.nav-link {
    font-weight: 500;
    cursor: pointer;
    /* font-style: normal; */
    /* text-decoration: none; */
    // text-transform: uppercase;
    // text-shadow: 1px 1px 3px #d3d3d3;
}

nav {
    max-height: 100vh;
    // z-index: 1030;
}

@media screen and (max-width: 992px) {
    nav {
      overflow-y: auto;
    }
  }


.navbar-brand {
    display: inline-flex;
}

.dropdown-submenu .dropdown-menu {
    top: 0;
    left: 100%;
    margin-top: -1px;
  }

.dropdown-toggle {
    cursor: pointer;
}

.dropdown-submenu .dropdown-toggle {
    display: block;
    width: 100%;
    padding: 0.25rem 1.5rem;
    clear: both;
    font-weight: 400;
    color: #212529;
    text-align: inherit;
    white-space: nowrap;
    background-color: transparent;
    border: 0;
}

.dropdown-submenu .dropdown-toggle::after {
    border-top: 0.3em solid transparent;
    border-right: 0;
    border-bottom: 0.3em solid transparent;
    border-left: 0.3em solid;
    vertical-align: 0;
}

.dropdown-submenu .dropdown-toggle:hover {
    color: #16181b;
    text-decoration: none;
    background-color: #f8f9fa;
}

.dropdown-item.clone-item {
    // font-weight: bold;
    cursor: pointer;
}

.optgroup-label {
    // font: 500 14px/24px Roboto,"Helvetica Neue",sans-serif;
    font-weight: bold;
    color: rgba(0,0,0,.75);
    padding: 0.25rem 1rem;
}

.dropdown-link {
    cursor: pointer;
}

.user-info {
    display: block;
    width: 100%;
    padding: 0.25rem 1.5rem;
    clear: both;
    font-weight: 400;
    color: #212529;
    text-align: inherit;
    white-space: nowrap;
    background-color: transparent;
    border: 0;
}

.user-info span {
    font-weight: 400;
}