<div class="container-fluid py-5">
    <div class="row">
        <div class="col-12">


            <div class="card card-paper mb-0">

                <div class="card-header">
                    <div class="container-fluid">
                        <div class="row justify-content-between align-items-center">
                            <div>
                                <h2 class="shadowed">Service Order Overview</h2>


                                <p class="shadowed mb-0">Preview and Manage Service Order <b>#{{serviceOrder?.id}}</b></p>

                                <!-- <div class="card-stats">
                                                <i class="far fa-calendar mr-2"></i>Placed at
                                            {{serviceOrder?.orderDate | date:'short'}}
                                        </div> -->
                            </div>
                        </div>
                    </div>
                </div>

                <div class="card-body">
                    <div class="row">
                        <div class="col-xl-2 col-lg-3">
                            <div class="nav flex-column nav-pills mb-3 mb-lg-0" id="v-pills-tab" role="tablist"
                                aria-orientation="vertical">
                                <a class="nav-link" [class.active]="item === activeListItem" [class.mat-elevation-z2]="item === activeListItem"
                                    (click)="selectListitem(item)" *ngFor="let item of staticListItems" role="tab" aria-selected="true">{{item}}</a>
                                <a class="nav-link" [class.active]="orderItem.id === activeListItem" [class.mat-elevation-z2]="orderItem.id === activeListItem"
                                    (click)="selectListitem(orderItem.id)" *ngFor="let orderItem of serviceOrder?.orderItem; let orderIndex = index;" role="tab" aria-selected="true">
                                    Order Item #{{orderIndex+1}}
                                    <div>
                                        <b [ngClass]="orderStateClassSelector(orderItem?.state)" class="ml-1" >{{orderItem.state}}</b>
                                        <!-- <b class="ml-1 badge" *ngIf="orderItem.id === activeListItem">{{orderItem.state}}</b> -->
                                    </div>

                                </a>

                                <!-- editForm.controls.isBundle.value for Service Specification Relationships -->
                            </div>
                        </div>
                        <div class="col-xl-10 col-lg-9">
                            <div class="tab-content">

                                <!-- Main Order Properties Tab -->
                                <div class="tab-pane active" *ngIf="activeListItem === 'Main Order Properties'"
                                    role="tabpanel" [@fadeIn]>
                                    <div class="card mat-elevation-z1 bg-light">
                                        <div class="card-body">
                                            <form [formGroup]="editForm">
                                                <div class="row justify-content-center">
                                                    <div class="col-lg-3">
                                                        <h6>Orderer By</h6>
                                                        <p>{{serviceOrder?.relatedParty[0].name}}</p>
                                                    </div>
                                                    <div class="col-lg-3">
                                                        <h6>Order Date</h6>
                                                        <p [class.mb-0]="serviceOrder?.orderDate">{{serviceOrder?.orderDate | date:'d MMM y, h:mm a'}} - Local Time</p>
                                                        <p *ngIf="serviceOrder?.orderDate">{{serviceOrder?.orderDate | date:'d MMM y, h:mm a':'UTC'}} - UTC</p>
                                                    </div>
                                                    <div class="col-lg-3">
                                                        <ng-container *ngIf="!admin">
                                                            <h6>Priority</h6>
                                                            <p>{{serviceOrder?.priority}}</p>
                                                        </ng-container>
                
                                                        <mat-form-field *ngIf="admin">
                                                            <mat-label>Priority</mat-label>
                                                            <mat-select formControlName="priority">
                                                                <mat-option *ngFor="let priority of availablePriorities"
                                                                    [value]="priority | uppercase">
                                                                    {{priority | uppercase}}
                                                                </mat-option>
                                                            </mat-select>
                                                        </mat-form-field>
                                                    </div>
                                                    <div class="col-lg-3">
                                                        <ng-container *ngIf="!admin">
                                                            <h6>State</h6>
                                                            <p [ngClass]="orderStateClassSelector(serviceOrder?.state)"><b>{{serviceOrder?.state}}</b></p>
                                                        </ng-container>
                
                                                        <mat-form-field *ngIf="admin">
                                                            <mat-label>State</mat-label>
                                                            <mat-select formControlName="state">
                                                                <ng-container *ngIf="serviceOrder?.state === 'INITIAL'">
                                                                    <mat-option *ngFor="let state of availableInitialOrderStates"
                                                                        [value]="state | uppercase">
                                                                        {{state | uppercase}}
                                                                    </mat-option>
                                                                </ng-container>
                
                                                                <ng-container *ngIf="serviceOrder?.state !== 'INITIAL'">
                                                                    <mat-option *ngFor="let state of availableOrderStates"
                                                                        [value]="state | uppercase">
                                                                        {{state | uppercase}}
                                                                    </mat-option>
                                                                </ng-container>
                                                            </mat-select>
                                                        </mat-form-field>
                                                    </div>
                                                    <div class="col-lg-6">
                                                        <h6>Description</h6>
                                                        <p>{{serviceOrder?.description}}</p>
                                                    </div>
                                                    <div class="col-lg-6">
                                                        <h6>Notification Contact</h6>
                                                        <p>{{serviceOrder?.notificationContact}}</p>
                                                    </div>
                                                    <div class="col-lg-6">
                                                        <h6>Requested Starting Date</h6>
                                                        <p [class.mb-0]="serviceOrder?.requestedStartDate" *ngIf="serviceOrder?.requestedStartDate">{{serviceOrder?.requestedStartDate | date:'d MMM y, h:mm a'}} - Local Time</p>
                                                        <p *ngIf="serviceOrder?.requestedStartDate">{{serviceOrder?.requestedStartDate | date:'d MMM y, h:mm a':'UTC'}} - UTC</p>
                                                    </div>
                                                    <div class="col-lg-6">
                                                        <h6>Requested Completion Date</h6>
                                                        <p [class.mb-0]="serviceOrder?.requestedCompletionDate" *ngIf="serviceOrder?.requestedCompletionDate">{{serviceOrder?.requestedCompletionDate | date:'d MMM y, h:mm a'}} - Local Time</p>
                                                        <p *ngIf="serviceOrder?.requestedCompletionDate">{{serviceOrder?.requestedCompletionDate | date:'d MMM y, h:mm a':'UTC'}} - UTC</p>                                                      
                                                    </div>
                
                                                    <div class="col-lg-6">
                                                        <ng-container *ngIf="!admin">
                                                            <h6>Starting Date</h6>
                                                            <p [class.mb-0]="serviceOrder?.startDate" *ngIf="serviceOrder?.startDate">{{serviceOrder?.startDate | date:'d MMM y, h:mm a'}} - Local Time</p>
                                                            <p *ngIf="serviceOrder?.startDate">{{serviceOrder?.startDate | date:'d MMM y, h:mm a':'UTC'}} - UTC</p>                                                      
                                                        </ng-container>
                
                                                        <mat-form-field *ngIf="admin" [owlDateTimeTrigger]="pickerFrom" class="mb-2">
                                                            <mat-label>Starting Date</mat-label>
                                                            <input matInput [owlDateTime]="pickerFrom" placeholder="Date Time"
                                                                formControlName="startDate">
                                                            <mat-icon matSuffix>date_range</mat-icon>
                                                            <owl-date-time #pickerFrom></owl-date-time>
                                                            <mat-hint>Date is displayed in Local Time <span *ngIf="editForm.value.startDate">(UTC: {{editForm.value.startDate | date:'dd/MM/yy, HH:mm':'UTC'}})</span></mat-hint>
                                                        </mat-form-field>
                                                    </div>
                
                                                    <div class="col-lg-6">
                                                        <ng-container *ngIf="!admin">
                                                            <h6>Expected Completion Date</h6>
                                                            <p [class.mb-0]="serviceOrder?.expectedCompletionDate" *ngIf="serviceOrder?.expectedCompletionDate">{{serviceOrder?.expectedCompletionDate | date:'d MMM y, h:mm a'}} - Local Time</p>
                                                            <p *ngIf="serviceOrder?.expectedCompletionDate">{{serviceOrder?.expectedCompletionDate | date:'d MMM y, h:mm a':'UTC'}} - UTC</p>                                                      

                                                        </ng-container>
                
                                                        <mat-form-field *ngIf="admin" [owlDateTimeTrigger]="pickerUntil" class="mb-2">
                                                            <mat-label>Expected Completion Date </mat-label>
                                                            <input matInput [owlDateTime]="pickerUntil" placeholder="Date Time"
                                                                formControlName="expectedCompletionDate">
                                                            <mat-icon matSuffix>date_range</mat-icon>
                                                            <owl-date-time #pickerUntil></owl-date-time>
                                                            <mat-hint>Date is displayed in Local Time <span *ngIf="editForm.value.expectedCompletionDate">(UTC: {{editForm.value.expectedCompletionDate | date:'dd/MM/yy, HH:mm':'UTC'}})</span></mat-hint>
                                                        </mat-form-field>
                                                    </div>
                
                                                    <div class="col-lg-12">
                                                        <h6>Notes</h6>
                                                        <div class="notes-container">
                                                            <div *ngFor="let note of serviceOrder?.note">
                                                                <div class="card card-paper mb-2">
                                                                    <div class="note-card-body">
                                                                        {{note.text}}
                                                                        <div class="small">written by {{note.author}} @
                                                                            {{note.date | date:'d MMM y, h:mm a'}} (Local Time)</div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div *ngIf="admin">
                                                            <button *ngIf="!adminNote" type="button"
                                                                class="btn btn-primary btn-sm btn-block mb-2"
                                                                (click)="triggerAdminNote()"><i class="far fa-sticky-note mr-2"></i>Add
                                                                Note</button>
                
                                                            <div *ngIf="adminNote" class="card card-paper mb-2">
                                                                <div class="note-card-body pb-0">
                                                                    <div class="d-flex justify-content-center align-items-center">
                                                                        <mat-form-field>
                                                                            <mat-label>New Note</mat-label>
                                                                            <textarea cdkTextareaAutosize
                                                                                #autosize="cdkTextareaAutosize" cdkAutosizeMinRows="2"
                                                                                matInput formControlName="note"></textarea>
                                                                        </mat-form-field>
                                                                        <button type="button" class="btn btn-danger btn-sm ml-2 mb-1"
                                                                            (click)="triggerAdminNote()"><i
                                                                                class="fas fa-times"></i></button>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </form>
                
                                            <div class="container-fluid mt-2">
                                                <div class="row justify-content-end">
                                                    <button *ngIf="!admin" class="btn btn-warning" (click)="enableOrderEditing()"><i
                                                            class="far fa-edit mr-1"></i>edit</button>
                                                    <button *ngIf="admin" class="btn btn-danger mr-2"
                                                        (click)="cancelOrderEditing()">Cancel</button>
                                                    <button *ngIf="admin" class="btn btn-success"
                                                        (click)="submitOrderEditing()">Submit</button>
                                                </div>
                                            </div>

                                        </div>
                                        <div class="card-footer"></div>

                                    </div>
                                </div>
                                <!-- END OF Main Properties Tab -->

                                <!-- Related Parties Tab -->
                                <div class="tab-pane active" *ngIf="activeListItem === 'Related Parties'"
                                    role="tabpanel" [@fadeIn]>
                                    <div class="card mat-elevation-z1 bg-light">
                                        <div class="card-body">
                                            <div *ngIf="serviceOrder?.relatedParty.length === 0">
                                                There are not any related parties assigned
                                            </div>
                                            
                                            <div *ngIf="serviceOrder?.relatedParty.length > 0">
                                                <h6>Username (Role)</h6>
                                                <p class="mb-2" *ngFor="let relatedParty of serviceOrder?.relatedParty">{{relatedParty.name}} ({{relatedParty.role}})</p>

                                                <!-- <div><b>{{relatedParty.name}} ({{relatedParty.role}})</b></div> -->
                                            </div>
                                        </div>
                                        <div class="card-footer"></div>
                                    </div>
                                </div>
                                <!-- END OF Related Parties Tab -->

                                <!-- Related Parties Tab -->
                                <div *ngFor="let orderItem of serviceOrder?.orderItem; let orderIndex = index; let firstItem = first">
                                    <div class="tab-pane active" *ngIf="activeListItem === orderItem.id" role="tabpanel" [@fadeIn]>
                                        <div class="card mat-elevation-z1 bg-light" >
                                            <div class="card-body">
                                                
                                                    <!-- <h5 class="orderItem-title">Order Item #{{orderItem.id}}</h5> -->
                    
                                                    <mat-accordion multi="true">
                                                        <mat-expansion-panel expanded="true" class="no-shadow">
                                                            <mat-expansion-panel-header>
                                                                <mat-panel-title>
                                                                    Order Item's Service main properties
                                                                </mat-panel-title>
                                                            </mat-expansion-panel-header>
                    
                                                            <div class="row justify-content-center">
                                                                <div class="col-lg-6">
                                                                    <h6>ID</h6>
                                                                    <p>{{orderItem?.service.id}}</p>
                                                                </div>
                                                                <div class="col-lg-6">
                                                                    <h6>Name</h6>
                                                                    <p>{{orderItem?.service.serviceSpecification.name}}</p>
                                                                </div>
                                                                <div class="col-lg-4">
                                                                    <h6>Service Type</h6>
                                                                    <p>{{orderItem?.service.serviceType}}</p>
                                                                </div>
                                                                <div class="col-lg-4">
                                                                    <h6>Category</h6>
                                                                    <p>{{orderItem?.service.category}}</p>
                                                                </div>
                                                                <div class="col-lg-4">
                                                                    <h6>State</h6>
                                                                    <div class="d-flex">
                                                                        <p [ngClass]="orderItemStateClassSelector(orderItem?.service.state)"
                                                                            style="font-size: .8rem;">{{orderItem?.service.state}}</p>
                                                                    </div>
                                                                </div>
                                                            </div>
                    
                                                        </mat-expansion-panel>
                    
                                                        <mat-expansion-panel expanded="true" class="no-shadow">
                                                            <mat-expansion-panel-header>
                                                                <mat-panel-title>
                                                                    Service Specification Characteristics allocated with Service
                                                                </mat-panel-title>
                                                            </mat-expansion-panel-header>
                    
                                                            <div *ngIf="orderItem?.service.serviceCharacteristic.length === 0" class="pt-2">
                                                                There are no configurable characteristics assigned to Service Specification.
                                                            </div>
                    
                    
                                                            <div class="table-responsive" *ngIf="orderItem?.service.serviceCharacteristic.length > 0">
                                                                <table class="table  table-inverse">
                                                                    <thead class="thead-inverse">
                                                                        <tr class="table-light">
                                                                            <th><h6 class="mb-0">Characteristic</h6></th>
                                                                            <th><h6 class="mb-0">Value ( - Alias )</h6></th>
                                                                            
                                                                        </tr>
                                                                    </thead>
                                                                    <tbody>
                                                                        <tr *ngFor="let specCharacteristic of orderItem?.service.serviceCharacteristic">
                                                                            <td class="align-middle">{{specCharacteristic.name}}</td>
                                                                            <ng-container [ngSwitch]="specCharacteristic.valueType">
                                                                                
                                                                                <ng-container *ngSwitchCase="'SET'">
                                                                                    <ng-container *ngTemplateOutlet="iterables"></ng-container>
                                                                                </ng-container>
                                                                                
                                                                                <ng-container *ngSwitchCase="'ARRAY'">
                                                                                    <ng-container *ngTemplateOutlet="iterables"></ng-container>
                                                                                </ng-container>
                                                    
                                                                                <ng-container *ngSwitchDefault>
                                                                                    <td class="align-middle">
                                                                                        {{specCharacteristic.value.value}} <span *ngIf="specCharacteristic.value.alias">- {{specCharacteristic.value.alias}}</span> 
                        
                                                                                    </td>
                    
                                                                                </ng-container>
                        
                                                                                <ng-template #iterables>
                                                                                    <!-- <td class="align-middle">
                                                                                        <div *ngFor="let value of (specCharacteristic.value.value | jsonParse)">
                                                                                            {{value.value}}
                                                                                        </div>                                               
                                                                                    </td> -->
                                                                                    <td class="align-middle">
                                                                                        <table class="table-borderless">
                                                                                            <tbody>
                                                                                                <tr *ngFor="let value of (specCharacteristic.value.value | jsonParse)">
                                                                                                    <td>
                                                                                                        {{value.value}} - {{value.alias}}
                                                                                                    </td>
                                                                                                </tr>
                                                                                            </tbody>
                                                                                        </table>
                                                                                        <!-- <div >
                                                                                            {{value.alias}}
                                                                                        </div> -->
                                                                                    </td>
                                                                                </ng-template>            
                                                                            </ng-container>
                        
                                                                        </tr>
                                                                    </tbody>
                                                                </table>
                                                            </div>
                                                        </mat-expansion-panel>
                    
                                                        <mat-expansion-panel expanded="true" class="no-shadow">
                                                            <mat-expansion-panel-header>
                                                                <mat-panel-title>
                                                                    Supporting Services allocated with Service
                                                                </mat-panel-title>
                                                            </mat-expansion-panel-header>
                    
                                                            <div *ngIf="orderItem?.service.supportingService.length === 0" class="pt-2">
                                                                There are no supporting services assigned to this Service.
                                                            </div>
                    
                                                            <!-- <div>{{retrieveServiceInventory(orderItem?.service.supportingService[0].id) | async}}</div> -->
                    
                                                            <div *ngFor="let supportingService of orderItem?.service.supportingService; let ServiceIndex=index"
                                                                class="pt-2">
                                                                <div class="card card-paper mb-1 bg-light supporting-service-card"
                                                                    (click)="openSupportingServiceDialog(supportingService)">
                                                                    <div class="note-card-body">
                                                                        <div class="container-fluid">
                                                                            <div class="row justify-content-between">
                                                                                <div class="d-flex align-items-center">
                                                                                    <span *ngIf="!supportingServices[orderIndex][ServiceIndex]">
                                                                                        <mat-spinner [diameter]="16"></mat-spinner>
                                                                                    </span>
                                                                                    <span *ngIf="supportingServices[orderIndex][ServiceIndex]"
                                                                                        [ngClass]="orderItemStateClassSelector(supportingServices[orderIndex][ServiceIndex].state)">
                                                                                        {{supportingServices[orderIndex][ServiceIndex]?.state}}
                                                                                    </span>
                                                                                    <div class="ml-2">
                                                                                        <!-- <i class="fas fa-tasks mr-2"></i> -->
                                                                                        {{supportingService.name}}
                                                                                    </div>
                                                                                </div>
                            
                                                                                <div class="small"
                                                                                    *ngIf="supportingServices[orderIndex][ServiceIndex]">
                                                                                    StartMode:
                                                                                    <b>{{supportingServices[orderIndex][ServiceIndex]?.startMode}}</b>,
                                                                                    StartDate:
                                                                                    <b>{{supportingServices[orderIndex][ServiceIndex]?.startDate | date:'d MMM y, h:mm a'}} (Local Time)</b>
                                                                                </div>
                                                                            </div>
                                                                            
                                                                        </div>
                                                                        <div class="ml-1" *ngFor="let characteristic of supportingServices[orderIndex][ServiceIndex]?.serviceCharacteristic">
                                                                            {{characteristic.name}}:
                                                                            <b>{{characteristic.value.value}}</b>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </mat-expansion-panel>
                                                    </mat-accordion>
                                                                                               
                                            </div>
                                            <div class="card-footer"></div>
                                        </div>
                                    </div>
                                </div>
                                <!-- END OF Related Parties Tab -->
                            
                            
                                
                                
                            </div>
                           
                        </div>

                    </div>
                </div>

                <div class="card-footer"></div>
            </div>
        </div>
    </div>
</div>