.mat-tree-node {
    font-size: 0.9em;
}

.catalog-header {
    // padding: 5rem .5rem;
    font-weight: bold;
    // letter-spacing: 1px;
    // text-decoration: underline;
    font-size: 1em;
    cursor: pointer;
}

.node-header {
    cursor: pointer;
}

.catalog-divider {
    height: 0;
    // margin: 0.5rem 0;
    overflow: hidden;
    border-top: 1px solid #e9ecef;
}

.active {
    // padding: 0.5rem 1rem;
    padding: 0.25rem 0.75rem;
    color: #fff;
    text-shadow: 4px 4px 6px #aaa; 
    border-radius: 0.25rem;
    transition: all 0.2s;
    
}

