
.form-array-container {
    max-height: 250px;
    overflow-x: hidden;
    overflow-y: auto;
}

.characteristic-value-container {
    // padding-top: 0.75rem;
    border: 1px;
    border-style: dashed;
    border-color: #ccc;
    margin-bottom: 0.5rem;
    background-color: #fafaff;
    border-radius: 5px;
}