mat-toolbar {
    position: sticky;
    position: -webkit-sticky; /* For macOS/iOS Safari */
    top: 0; /* Sets the sticky toolbar to be on top */
    z-index: 2;
    height: 50px;
    background-color: #eee;
  }

   
  .container-blockly-main {
    display: block;
    //min-height: 800px;
    //height: calc(100% - 10px);
    //height: 850px;
    padding-top: 0px;
    background-color: #eee;
    overflow: auto;
  }

  .container-blockly {
    display: block;
    //min-height: 800px;
    //height: 100%;
    height: 1280px;
    // padding-top: 4px;
    background-color: #eee;
  }


  .wrapper-blockly {
    display: grid;
    grid-template-columns: 4fr 1fr ;
    height: 100%;
  }

  #generatedCode {
    background-color: #e6e6e6;
    border: 1px;
    border-color: #ddd;
    border-style: solid;
    // border-left: 0px;
  }

  #blocklyDiv {
    padding-left: 4px;
    background-color: #ddd;
  }

  .generated-code {
    width: 100%;
    height: 906px;
    word-wrap: break-word;
    font-family: consolas;
    font-size: 12px;
    white-space: break-spaces;
    background-color: #d6d6d6;
    border-width: 1px;
    border-style: solid;
    border-color: #d6d6d6;
    padding: 5px;
  }
