<div class="container-fluid py-5">
    <div class="row">
        <div class="col-12">
            <div class="jumbotron jumbotron-small jumbotron-list-container bg-light mat-elevation-z5 mb-0">
                <div class="jumbotron-heading d-md-flex align-items-center justify-content-md-between">
                    <div>
                        <h2 class="shadowed">Organizations</h2>
                        <p class="shadowed">View and manage organizations</p>
                    </div>
                    <button type="button" class="btn btn-success" routerLink='/{{appService.portalDomain}}/organization_update'>
                        <i class="fas fa-clipboard-list mr-2"></i>Create New Organization
                    </button>
                </div>

                <div class="filter-container pt-3 px-3 row">
                    <!-- <input class="form-control " (keyup)="applyFilter($event.target.value)" placeholder="Apply Filter..."> -->
                    <mat-form-field appearance="" class="white-background col-12">
                        <mat-label>Apply Filter...</mat-label>
                        <input matInput (keyup)="applyFilter($event.target.value)">
                    </mat-form-field>
                </div>

                <div class="table-responsive mat-elevation-z1" [@fadeIn]>

                    <table mat-table [dataSource]="dataSource" matSort class="table table-generic">

                        <ng-container matColumnDef="name">
                            <th mat-header-cell *matHeaderCellDef mat-sort-header> Organization Name </th>
                            <td mat-cell *matCellDef="let element"> <b>{{element.name}}</b> </td>
                        </ng-container>

                        <ng-container matColumnDef="tradingName">
                            <th mat-header-cell *matHeaderCellDef mat-sort-header> Trading Name </th>
                            <td mat-cell *matCellDef="let element"> <b>{{element.tradingName}}</b> </td>
                        </ng-container>

                        <ng-container matColumnDef="isLegalEntity">
                            <th mat-header-cell *matHeaderCellDef mat-sort-header> Legal Entity </th>
                            <td mat-cell *matCellDef="let element">
                                <i *ngIf="element.isLegalEntity" class="material-icons primary">check</i>
                                <i *ngIf="!element.isLegalEntity" class="material-icons">close</i>
                            </td>
                        </ng-container>

                        <ng-container matColumnDef="status">
                            <th mat-header-cell *matHeaderCellDef mat-sort-header> Status </th>
                            <td mat-cell *matCellDef="let element"> {{element.status}} </td>
                        </ng-container>

                        <ng-container matColumnDef="actions">
                            <th mat-header-cell *matHeaderCellDef>Actions</th>
                            <td mat-cell *matCellDef="let element">
                                <a routerLink='/{{appService.portalDomain}}/organization_update/{{element.id}}'>
                                    <button class="btn btn-warning btn-sm m-1"><i class="far fa-edit"></i></button>
                                </a>
                                <button class="btn btn-danger btn-sm m-1" (click)="openOrganizationDeleteDialog(element)"><i
                                        class="far fa-trash-alt"></i></button>
                            </td>
                        </ng-container>

                        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                    </table>

                    <mat-paginator [pageSizeOptions]="[20, 50, 100]" showFirstLastButtons></mat-paginator>
                </div>
            </div>
        </div>
    </div>
</div>