<ul class="nav nav-pills flex-column">
    <li class="nav-item">
        <a class="nav-link active d-flex justify-content-between align-items-center">
            <span>Active</span>
            <span class="badge badge-pill badge-light shadowed">2</span>
        </a>
    </li>
    <li class="nav-item">
        <a class="nav-link d-flex justify-content-between align-items-center">
            <span>Link</span>
            <span class="badge badge-pill badge-secondary shadowed">2</span>

        </a>

    </li>
    <li class="nav-item">
        <a class="nav-link d-flex justify-content-between align-items-center">
            <span>Link</span>
            <span class="badge badge-pill badge-secondary shadowed">2</span>

        </a>
    </li>
    <li class="nav-item">
        <a class="nav-link disabled" tabindex="-1" aria-disabled="true">Disabled</a>
    </li>
</ul>