.spinner-container {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 20vh;
}

.service-spec-container {
    min-height: 20vh;
}

.border-bottom {
    border-bottom: 1px dotted rgba(0, 0, 0, 0.125);
    margin-bottom: .75rem;
}