/* Default theme */

$primary: #428bca;
$secondary: #6c6c6c;

/* ------------------------------ */
/* Predefined palette 1 theme */

/* $primary: rgba(0,45,126); */
/* $secondary: #6c6c6c; */

/* ------------------------------ */
/* Predefined palette 2 theme */

/* $primary: rgba(255, 124, 0); */
/* $secondary: #6c6c6c; */

/* ------------------------------ */
/* Predefined palette 3 theme */

/* $primary: rgba(247,1, 2); */
/* $secondary: #6c6c6c; */