<footer id="footer">
    <section class="section_footer">
        <div class="container">
            <div class="row align-items-center">
                <!-- <div class="col-sm-12">
                    <img src="assets/images/eu-commission.png" />
                    <br>openslice.io has received funding from
                    <br>5GinFIRE | https://5ginfire.eu/ project from the European Horizon 2020 Programme for research,
                    technological development and demonstration under grant agreement number 732497.
                    <br>5G-VINNI project | https://5g-vinni.eu/ 5G-VINNI project has received funding from the European
                    Horizon 2020 Programme for research, technological development and demonstration under grant
                    agreement number 815279
                </div>
                <div class="col-sm-12">{{config.TITLE}} running openslice.io version {{config.PORTALVERSION}}| <a
                        href="https://openslice.io/data-protection-declaration/">Data Protection Declaration</a> |
                    &copy; 2017-{{currentYear}} on behalf of <a target="_blank" href="https://5ginfire.eu/"
                        title="openslice.io">openslice.io</a>
                </div> -->
                <div class="col-md-2">
                    <img src="assets/images/eu-commission.png" />

                </div>
                <div class="col-md-10">
                    openslice.io has received funding from
                    <div>
                        5GinFIRE | https://5ginfire.eu/ project from the European Horizon 2020 Programme for research,
                        technological development and demonstration under grant agreement number 732497.
                    </div>
                    <div>
                        5G-VINNI project | https://5g-vinni.eu/ 5G-VINNI project has received funding from the European
                        Horizon 2020 Programme for research, technological development and demonstration under grant
                        agreement number 815279
                    </div>
                    <div>
                        {{config.TITLE}} running openslice.io version {{config.PORTALVERSION}}|
                        <a href="https://openslice.io/data-protection-declaration/">Data Protection Declaration</a>
                        | &copy; 2017-{{currentYear}} on behalf of <a target="_blank" href="https://5ginfire.eu/"
                            title="openslice.io">openslice.io</a>
                    </div>
                </div>
            </div>
        </div>
    </section>

</footer>
<!--/#footer-->