<div mat-dialog-title class="shadowed text-center mb-0">Service Configuration</div>
            
<mat-dialog-content class="dialog-content-container">
    <div class="separator-div"></div>
    <div class="row justify-content-center">

        <div class="header-section">{{spec?.name}}</div>

    </div>
    <div class="separator-div"></div>
    
    <div *ngIf="configurableSpecChar.length === 0" class="no-chars-found card-footer">
        This service does not contain any configurable characteristics
    </div>

    <div formArray="specCharFormArray" *ngIf="configurableSpecChar.length > 0">
        <div *ngFor="let charForm of specCharFormArray.controls; let i = index;" [formGroup]="charForm"
            class="row align-items-center justify-content-center">
            <div class="col-md-6">
                <b>{{charForm.controls.name.value}}</b>
            </div>
            <div class="col-md-6" [ngSwitch]="charForm.controls.valueType.value">

                <ng-container *ngSwitchCase="'SET'">
                    <ng-container *ngTemplateOutlet="iterables"></ng-container>
                </ng-container>
                
                <ng-container *ngSwitchCase="'ARRAY'">
                    <ng-container *ngTemplateOutlet="iterables"></ng-container>
                </ng-container>

                <ng-container *ngSwitchCase="'ENUM'">
                    <mat-form-field class="col-12">
                        <mat-label>Custom Value</mat-label>
                        <mat-select formControlName="value">
                            <mat-option *ngFor="let charValue of configurableSpecChar[i].serviceSpecCharacteristicValue"
                                [value]="charValue">
                                {{charValue.value.alias}}</mat-option>
                        </mat-select>
                    </mat-form-field>
                </ng-container>


                <ng-container *ngSwitchCase="'TIMESTAMP'">
                    <mat-form-field class="col-12" [owlDateTimeTrigger]="pickerFrom">
                        <mat-label>Custom Value</mat-label>
                        <input matInput [owlDateTime]="pickerFrom" placeholder="Date Time" [(ngModel)]="charForm.controls.value.value.value.value" [ngModelOptions]="{standalone: true}">
                        <mat-icon matSuffix>date_range</mat-icon>
                        <!-- <span [owlDateTimeTrigger]="dt1"><i class="fa fa-calendar"></i></span> -->
                        <owl-date-time #pickerFrom></owl-date-time>
                    </mat-form-field>
                </ng-container>


                <ng-container *ngSwitchDefault>
                    <mat-form-field class="col-12">
                        <mat-label>Custom Value</mat-label>
                        <input matInput [(ngModel)]="charForm.controls.value.value.value.value" [ngModelOptions]="{standalone: true}">
                    </mat-form-field>
                </ng-container>


                <ng-template #iterables>
                    <mat-form-field class="col-12" >
                        <mat-label>Custom Value</mat-label>
                        <mat-select formControlName="value" multiple>
                            <mat-option *ngFor="let charValue of configurableSpecChar[i].serviceSpecCharacteristicValue" [value]="charValue">
                                {{charValue.value.alias}}</mat-option>
                        </mat-select>
                    </mat-form-field>
                </ng-template>



            </div>
            

        </div>

    </div>


</mat-dialog-content>