<div class="container-fluid py-5">
        <div class="row">
            <div class="col-12">
                <div class="jumbotron jumbotron-small jumbotron-list-container bg-light mat-elevation-z5 mb-0">
                    <div class="jumbotron-heading">
                        <div>
                            <h2 class="shadowed">Service Orders</h2>
                            <p class="shadowed">View and manage service orders</p>
                        </div>
                        <!-- <button type="button" class="btn btn-success btn-lg" (click)="openCatalogUpdateDialog(null)">
                                <i class="fas fa-clipboard-list mr-2"></i>Create New Catalog
                            </button> -->
                    </div>
    
                    <div class="filter-container pt-3 px-3 row">
                        <!-- <input class="form-control " (keyup)="applyFilter($event.target.value)" placeholder="Apply Filter..."> -->
                        <mat-form-field appearance="" class="white-background col-12">
                            <mat-label>Apply Filter...</mat-label>
                            <input matInput >
                        </mat-form-field>
                    </div>
    
                    <div class="container-fluid py-4">
                        <div class="row">
                            <div class="col-12">
                                <div class="card card-paper" *ngFor="let order of orders;let orderIndex = index">
                                    <div class="card-body">
                                        <div class="small mb-2"><i class="fas fa-inbox mr-2"></i>{{order.id}}</div>
                    
                                        <div class="row d-flex">
                                            <div class="col-md-6">
                                                <div (click)="triggerExpansion(orderIndex)" style="cursor: pointer;">
                                                    {{order.orderItem.length}} ordered item<span *ngIf="order.orderItem.length > 1">s</span>
                                                </div>
                                                <ng-container *ngIf="expandedState[orderIndex]">
                                                    <div *ngFor="let orderItem of order.orderItem" class="ml-2 mt-1">
                                                        <b>OrderItem</b>
                                                        <div *ngFor="let suppService of orderItem.service.supportingService"
                                                            class="ml-2 small">
                                                            {{suppService.name}}
                                                        </div>
                    
                                                    </div>
                                                </ng-container>
                                            </div>
                    
                                            <div class="col-md-3">
                                                <ng-container *ngIf="!editingState[orderIndex];else editTemplate">
                                                    {{order.state}}
                                                    <button mat-icon-button (click)="triggerOrderStateEdit(orderIndex)"><i
                                                            class="material-icons">edit</i></button>
                                                </ng-container>
                    
                    
                    
                                                <ng-template #editTemplate>
                                                    <mat-form-field>
                                                        <mat-label>New Order State</mat-label>
                                                        <mat-select [value]="order.state" #stateSelector>
                                                            <mat-option *ngFor="let state of orderStates" [value]="state | uppercase">
                                                                {{state | uppercase}}</mat-option>
                                                        </mat-select>
                                                    </mat-form-field>
                                                    <button mat-icon-button
                                                        (click)="editOrderState(order, orderIndex, stateSelector.value)"><i
                                                            class="material-icons">check</i></button>
                                                    <button mat-icon-button (click)="cancelEditingOrderState(orderIndex)"><i
                                                            class="material-icons">close</i></button>
                                                </ng-template>
                                            </div>
                    
                                            <div class="col-md-3 text-right">
                                                <button class="btn btn-warning btn-sm mr-1" (click)="null"><i
                                                        class="far fa-edit"></i></button>
                    
                                            </div>
                    
                                        </div>
                    
                                        <div class="small mt-2">placed by {{order.relatedParty[0].name}} ({{order.relatedParty[0].role}}) @
                                            {{order.orderDate | date:'d MMM y, h:mm a'}}</div>
                                    </div>
                                    <div class="card-footer"></div>
                    
                                </div>
                            </div>
                        </div>
                    
                    </div>
    
                </div>
            </div>
        </div>
    </div>
    
    
    
    
    
    